{% extends "::base.html.twig" %}

{% block press_header %}
{% endblock %}



{% block body %}

<div class="login-page lk form">

{% if error %}
    <p class="error">{{ error|trans({}, 'FOSUserBundle') }}</p>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div>
    <p><label for="fos_user_registration_form_username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="fos_user_registration_form_username" name="_username" value="{{ last_username }}" />
    </div>
    <div>
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />
    </div>
  </p>

   <p> <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></p>

   <p> <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
   </p>

   {% include 'ArmdSocialAuthBundle:Default:auth_links.html.twig' %}
</form>

</div>

{% endblock %}