{% extends ':Frontend:layout_two_column.html.twig' %}

{% block title %}{{ 'Portal title'|trans }}{% endblock %}

{% block page_header_title %}{{ 'virtual_museum_tour'|trans }}{% endblock %}

{% block body_class %}index-main{% endblock %}

{% block sub_header %} 
    <section class="index-block index-museum-block clearfix">
        {# <h2><a href="{{ path('armd_museum_virtual') }}">{{ "Museums"|trans }}</a></h2> #}


        <div class="plitka-one-wrap plitka-one-wrap-opened">
            <div class="plitka-one clearfix">
                <div class="museum-image-container">
                    {# <div class="museum-image" style="background-image:url({% path museum.bannerImage, 'bannerW1232' %});"></div> #}
                    <a href="{{ museum.url }}" class="museum-image-link vob iframe"><div class="museum-image" style="background-image:url(http://culture.ru/ru/uploads/media/museum/0001/11/thumb_10923_museum_banner.jpeg);"></div></a>
                    <div class="museum-image-over">
                        <div class="museum-image-title clearfix">
                          <span>
                          {% if app.request.locale == 'ru' %}
                             Государственный музей-заповедник «Царское&nbsp;Село»
                          {% else %}
                             THE MUSEUM-PRESERVE "TSARSKOYE&nbsp;SELO"
                          {% endif %}
                          </span></div>
                        <div class="museum-image-text-wrap">
                            <a href="#" class="museum-town">
                              {% if app.request.locale == 'ru' %}
                                Санкт-Петербург
                              {% else %}
                                St. Petersburg
                              {% endif %}
                            </a>
                            <a class="museum-image-link vob iframe" href="http://culture.ru/vtour/tsarskoe_selo/tsarskoe_selo_museum.html" data-fancybox-type="iframe">
                                <span class="museum-image-text">
                                    {{ "visit_museum"|trans|raw }}
                                </span>
                            </a>
                            <a href="#instruction" class="museum-instr-link">
                                {{ "manual_instruction"|trans|raw }}
                            </a>
                        </div>
                        <div class="museum-image-image"></div>
                    </div>
                </div>
            </div>

            <div id="instruction" style="display:none;">
                <div class="window">
                    <div class="block window-content">
                        {% include 'ArmdMuseumBundle:Default:instruction.'~app.request.locale~'.html.twig' %}
                    </div>
               </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block left_column %}
    <section class="block new-on-site">
        {#
        <h1><span>{{ "Mainpage block.New on portal"|trans }}</span></h1>
        <section class="index-block clearfix index-russia-images-block">
            <h2><a href="{{ path('armd_atlas_russia_images') }}">{{ "Mainpage block.Images of Russia.Title"|trans }}</a></h2>
            {% include 'ArmdMainBundle:Homepage:new_russia_images.html.twig' with {'objects': newRussiaImages} %}
            <p class="all"><a href="{{ path('armd_atlas_russia_images') }}">{{ "Mainpage block.Images of Russia.All"|trans }}</a></p>
        </section>
        #}
        {% if app.request.locale == 'ru' %}
            <section class="index-block two-column-block clearfix index-news-block">
                <h2><a href="{{ path('armd_news_list_index_by_category', {'category': 'news', }) }}">Медиа</a></h2>
                {% render url('armd_news_billboard_slider') %}

{#                <section class="index-block">
                    {% set newsCategoryHref = path('armd_news_list_index_by_category', {'category': 'reportages'}) %}
                    {% set newsArticleHref = path('armd_news_item_by_category', {'id': lastReportage.id, 'category': lastReportage.category.slug }) %}
                    <h2><a href="{{ newsCategoryHref }}">Репортажи</a></h2>
                    <a href="{{ newsArticleHref }}">
                        <div class="block-left-image-wrap">{% thumbnail lastReportage.image, 'list' with {'class': 'block-left-image'} %}</div>
                        &#123;&#35;<img class="block-left-image" alt=""~ src="{{ newsArticleHref. }}">&#35;&#125;
                    </a>

                    <div class="text-overflow">
                        <a class="two-column-name" href="{{ newsArticleHref }}">{{ lastReportage.title|raw }}</a>
                        <p>{{ lastReportage.announce|striptags|truncate(200)|raw }}</p>
                        <p class="all"><a href="{{ newsCategoryHref }}">все репортажи</a></p>
                    </div>
                </section>

                <section class="index-block">
                    {% set newsCategoryHref = path('armd_news_list_index_by_category', {'category': 'interviews'}) %}
                    {% set newsArticleHref = path('armd_news_item_by_category', {'id': lastInterview.id, 'category': lastInterview.category.slug }) %}

                    <h2><a href="{{ newsCategoryHref }}">Интервью</a></h2>
                    <a href="{{ newsArticleHref }}">
                        <div class="block-left-image-wrap">{% thumbnail lastInterview.image, 'list' with {'class': 'block-left-image'} %}</div>
                        &#123;&#35;<img class="block-left-image" alt="" src="images/index-interview.jpg">&#35;&#125;
                    </a>

                    <div class="text-overflow">
                        <a class="two-column-name" href="{{ newsArticleHref }}">{{ lastInterview.title }}</a>
                        <p>{{ lastInterview.announce|striptags|truncate(200)|raw }}</p>
                        <p class="all"><a href="{{ newsCategoryHref }}">все интервью</a></p>
                    </div>
                </section>#}
            </section>
        </section>
    {% endif %}

    {% if app.request.locale == 'ru' %}
        <section class="index-block index-video-block clearfix">
            <h2><a href="{{ path('armd_lecture_cinema_index') }}">{{ "mainpage.cinema"|trans }}</a></h2>
            {#
            <div id="video-list">
                 {% include 'ArmdMainBundle:Homepage:new_video.html.twig' with {'videos': newVideos} %}
            </div>
            #}

<!-- static sample -->
<div id="video-list">
    <div class="plitka perfomances-list video-plitka">
        <div class="plitka-one-wrap">
            <div class="plitka-one">
                <a class="plitka-one-image-wrapper" title="Мать" href="http://culture.ru/cinema/view/602"><div class="plitka-one-image"><img title="Мать" alt="Мать" src="http://culture.ru/ru/uploads/media/lecture/0001/19/thumb_18987_lecture_lectureH228.jpeg"></div></a>
                <div class="plitka-text">
                    <span class="plitka-name"><a title="Мать" href="http://culture.ru/cinema/view/602">Мать</a></span>
                </div>
                <div class="plitka-footer">
                    <p class="views">Межрабпом-Русь, 1926</p>
                </div>    
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
                <a class="plitka-one-image-wrapper" title="Курьер" href="http://culture.ru/cinema/view/576"><div class="plitka-one-image"><img title="Курьер" alt="Курьер" src="http://culture.ru/ru/uploads/media/lecture/0001/20/thumb_19070_lecture_lectureH228.jpeg"></div></a>
                <div class="plitka-text">
                    <span class="plitka-name"><a title="Курьер" href="http://culture.ru/cinema/view/576">Курьер</a></span>
                </div>
                <div class="plitka-footer">
                    <p class="views">Мосфильм, 1986</p>
                </div>    
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
                <a class="plitka-one-image-wrapper" title="Калина красная" href="http://culture.ru/cinema/view/574"><div class="plitka-one-image"><img title="Калина красная" alt="Калина красная" src="http://culture.ru/ru/uploads/media/lecture/0001/19/thumb_18966_lecture_lectureH228.jpeg"></div></a>
                <div class="plitka-text">
                    <span class="plitka-name"><a title="Калина красная" href="http://culture.ru/cinema/view/574">Калина красная</a></span>
                </div>
                <div class="plitka-footer">
                    <p class="views">Мосфильм, 1973</p>
                </div>    
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
                <a class="plitka-one-image-wrapper" title="Новые времена" href="http://culture.ru/cinema/view/1055"><div class="plitka-one-image"><img title="Новые времена" alt="Новые времена" src="http://culture.ru/ru/uploads/media/lecture/0001/20/thumb_19000_lecture_lectureH228.jpeg"></div></a>
                <div class="plitka-text">
                    <span class="plitka-name"><a title="Новые времена" href="http://culture.ru/cinema/view/1055">Новые времена</a></span>
                </div>
                <div class="plitka-footer">
                    <p class="views">США, 1936</p>
                </div>    
            </div>
        </div><!-- /plitka-one-wrap -->
    </div>
</div>
<!-- /static sample -->
            <p class="all"><a href="{{ path('armd_lecture_cinema_index') }}">{{ "mainpage.all_video"|trans }}</a></p>
        </section>
    {% endif %}

    </section>
{% endblock %}


{% block right_column %}
    <span class="helper-top-orange-line"></span>
    
    <section id="homepage-online-translation">
        {% render 'ArmdOnlineTranslationBundle:Default:homepageWidget' %}
    </section>
    
{% if app.request.locale == 'ru' %}
    <div class="tabs events-tabs video-tabs" style="background: #fff url(../img/more-dots.gif) repeat-x 0 100%; margin-bottom:15px;">
        {#<h2>Сегодня - Всемирный день музеев</h2>#}
        <h3>Актуальное видео</h3>
        <h4>Сегодня - 100 лет со дня рождения композитора Тихона Хренникова</h4>
        <div class="video-tabs-item">
        {#
            <iframe width="100%" height="162" src="http://pub.tvigle.ru/frame/p.htm?vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=2333629&w=720&h=540&type=&dopparam=armada_skin&modes=1&nl=1" style="border: 0px;" wmode="Opaque"></iframe>
        #}

            <iframe  src="http://pub.tvigle.ru/frame/p.htm?prt=85deec0537d438363b1c3b54dbe222e8&amp;id=2321246&amp;srv=pub.tvigle.ru&amp;modes=1&amp;nl=1&amp;dopparam=armada_skin&amp;wmode=opaque" width="100%" height="162" style="border: 0px;" wmode="Opaque"></iframe>
            
        </div>
        <p class="video-tabs-title">Автор музыки к&nbsp;фильму Ивана Пырьева &laquo;Свинарка и&nbsp;пастух&raquo; (1941)&nbsp;&mdash; Тихон Хренников</p>
        {#
        <p class="all">
            <a href="{{ path('armd_lecture_cinema_index', {'genreSlug': 'feature-film'}) }}">{{ "menu.video_all"|trans }}</a>
        </p>
        #}
    </div>
{% endif %}
    
    
    {% include "ArmdMainBundle:Homepage:news_tabs.html.twig" %}

{% endblock %}

{% block wide_body %}
    <section class="block atlas-block">
        <h1><span>{{ "Navigation.Atlas"|trans}}</span></h1>
        <div class="index-map">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
            <div id="map"></div>
            <div class="map-lister scrollblock">
                <div id="map-scrollblock" class="scrollblock-content"></div>
                <div class="scrollblock-buttons clearfix"><a class="scrollblock-a scrollblock-left" onclick="return AT.prevPoint();"></a><a class="scrollblock-a scrollblock-right" onclick="return AT.nextPoint();"></a></div>
            </div><!-- /map-lister -->
        </div>
    </section>

    <!-- Асинхронная загрузка jsapi -->
    <div id="script_block" class="script_block"></div>
    <div id="script_ad" class="script_ad" style="display:none;">
        <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.10"></script>
        {# <script type="text/javascript" charset="utf-8" src="http://jsapi.murzina.jsdev.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.10"></script> #}
    </div>
    <script type="text/javascript">
        document.getElementById('script_block').appendChild(document.getElementById('script_ad'));
        document.getElementById('script_ad').style.display = 'block';
    </script>
    <!-- /Асинхронная загрузка jsapi -->
{% endblock %}

{% block after_body %}
<div class="right-column" style="padding-top:38px;">
    {% if app.request.locale == 'ru' %}
        <section class="newspaper newspaper-culture"><a target="_blank" href="http://portal-kultura.ru/" title='{{ "menu.culture_magazine"|trans }}'></a></section>
        <section class="newspaper newspaper-literature"><a target="_blank" href="http://lgz.ru/" title='{{ "menu.literature_magazine"|trans }}'></a></section>
    {% endif %}
{#
{% if app.request.locale == 'ru' %}
    <a href="http://www.yandex.ru/?add=126758&from=promocode" target="_blank" class="read-yandex">
        <img src="{{ asset('img/read_yandex.jpg') }}">
    </a>
    <section id="homepage-social-widgets">
        {% include 'ArmdMainBundle:Homepage:facebook_likebox.html.twig' %}
        {% include 'ArmdMainBundle:Homepage:vkontakte_likebox.html.twig' %}
    </section>
    
    <section id="homepage-polls">
        <h3><span>Опрос</span></h3>
        {% render url('armd_poll_poll') %}
    </section>

{% endif %}
#}
</div><!-- /right-column -->
<div class="left-column">
    <div class="left-column-content">
        <section class="block new-on-site">
            {% if app.request.locale == 'ru' %}
                <section class="block social-widget-block">
                    {% render url("armd_main_latest_topics", {"domain": "people.culture.ru"}) %}
                </section>
                <section class="block twitter-widget-block">
                    {% include 'ArmdMainBundle:Homepage:twitter_widget.html.twig' %}
                </section>
            {% endif %}
        </section>
    </div>
</div><!-- /left-column -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/atlas_new.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdmain/css/atlas_obrazy.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdnews/css/slider.css') }}" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/armdmain/js/atlas_obrazy.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/armdmain/js/main_page.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/jquery.carouFredSel-6.2.1-packed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/news_slider.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            armdMainPage.init();
        });
        $(window).resize(function() {
          var videoWidth = $('.left-column-content').width();
          if(videoWidth <= 800){
            $('#video-list').css( "width", "590px" );
          }
          else{
            $('#video-list').css( "width", "auto" );
          }
        });
    </script>
{% endblock %}


