{% extends ':Frontend:layout_two_column.html.twig' %}

{% block title %}{{ 'Portal title'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Portal title'|trans }}{% endblock %}

{% block body_class %}index-main{% endblock %}

{% block sub_header %}
    <div class="index-map">
        <div class="bar bar-top"></div>
        <div class="bar bar-right"></div>
        <div class="bar bar-bottom"></div>
        <div class="bar bar-left"></div>
        <div id="map"></div>
    </div>

    <!-- Асинхронная загрузка jsapi -->
    <div id="script_block" class="script_block"></div>
    <div id="script_ad" class="script_ad" style="display:none;">
        {# <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.8"></script> #}
        <script type="text/javascript" charset="utf-8" src="http://jsapi.murzina.jsdev.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.9"></script>
    </div>
    <script type="text/javascript">
        document.getElementById('script_block').appendChild(document.getElementById('script_ad'));
        document.getElementById('script_ad').style.display = 'block';
    </script>
    <!-- /Асинхронная загрузка jsapi -->
{% endblock %}

{% block left_column %}
<section class="block">
	<h1><span>{{ "Mainpage block.New on portal"|trans }}</span></h1>
	<section class="index-block clearfix">
		<h2><a href="{{ path('armd_atlas_russia_images') }}">{{ "Mainpage block.Images of Russia.Title"|trans }}</a></h2>
        {% include 'ArmdMainBundle:Homepage:new_russia_images.html.twig' with {'objects': newRussiaImages} %}
        <p class="all"><a href="{{ path('armd_atlas_russia_images') }}">{{ "Mainpage block.Images of Russia.All"|trans }}</a></p>
    </section>

    <section class="index-block index-video-block clearfix">
        <h2><a href="{{ path('armd_lecture_default_list') }}">Кинозал</a></h2>
        <div id="video-list">
            {% include 'ArmdMainBundle:Homepage:new_video.html.twig' with {'videos': newVideos} %}
        </div>
        <p class="all"><a href="{{ path('armd_lecture_default_list') }}">Все видео</a></p>
    </section>

    <section class="block">
        {% render "ArmdMainBundle:Main:latestTopics" with {"domain": "people.culture.ru"} %}
    </section>

</section>
{% endblock %}


{% block right_column %}
    {% include "ArmdMainBundle:Homepage:news_tabs.html.twig" %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/armdatlas/common/css/sm.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/atlas_new.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdmain/css/atlas_obrazy.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/armdmain/js/atlas_obrazy.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/armdmain/js/main_page.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            armdMainPage.init();
        });
    </script>
{% endblock %}


