<h1><span>Коммуникационная площадка</span></h1>

<div  class="community-tabs">
    <ul class="tabs-headers community-tabs-headers">
        <li><a href="#community-tab1">Предложения</a></li>
        <li><a href="#community-tab2" class="active">Открытый форум</a></li>
    </ul>
</div>

{% if topics is not empty %}
    {% for t in topics %}
        <div class="tab community-tab" id="community-tab{{ loop.index }}" {% if loop.index == 1 %}style="display:none;"{% endif %}>
            {% for i in t.items %}
                {% set raiting = i.count_like - i.count_dislike %}
                {% if loop.first %}
                    <div class="community-first-item">
                        <div class="com-votes">
                            + <b>{{ raiting }}</b>
                        </div>
                        <div class="com-item-one">
                            <div class="com-one-header">
                                <a href="{{ i.url }}">{{ i.title }}</a> / <span class="com-one-date">Обновлено {{ i.date_add }}</span>
                            </div>
                            <p class="com-one-text"><a href="{{ i.url }}">{{ i.content }}</a></p>
                        </div>
                    </div>
                {% else %}
                    {% if loop.index == 2 %}
                        <ul class="community-items">
                    {% endif %}
                    <li class="com-item-one" data-item-id="{{ i.id }}">
                        <div class="com-item-vote">
                            {#<a href="#" class="vote-minus">−</a>#}
                            {#<a href="#" class="vote-plus">+</a>/#}
                            <span class="total-vote">{{ raiting }}</span>
                        </div>
                        <div class="com-one-header">
                            <a href="{{ i.url }}">{{ i.title }}</a> / <span class="com-one-date">Обновлено {{ i.date_add }}</span>
                        </div>
                        <p class="com-one-text"><a href="{{ i.url }}">{{ i.content }}</a></p>
                    </li>
                    {% if loop.last %}
                        </ul>
                    {% endif %}
               {% endif %}
            {% endfor %}
            <div class="com-footer">
                <p class="com-total">
                    ОБСУЖДЕНИЙ В РУБРИКЕ: <a href="{{ t.list_url }}">{{ t.count }}</a>
                </p>
                <p class="all"><a href="{{ t.list_url }}">ПОСМОТРЕТЬ ВСЕ</a></p>
            </div>
        </div>
    {% endfor%}
{% endif %}