{% import 'ArmdLectureBundle::lecture_macro.html.twig' as lectureMacro %}

<ul class="slides index-video-list">
    {% for v in videos %}
        <li>
            <div class="index-video-one">
                <a href="{{ path('armd_lecture_view', {'id': v.id}) }}">
                    {% if v.isTop100Film %}
                        <div class="top100-corner"></div>
                    {% endif %}
                    <div class="index-video-image">
                    {{ lectureMacro.lectureThumbnail(v, 'lectureH228', {
                            'alt': v.title,
                            'height': 'auto',
                            'width': 'auto',
                            'class': 'lecture-tile-list-image'
                        })
                    }}
                    </div>
                </a>
                <a href="{{ path('armd_lecture_view', {'id': v.id}) }}" class="index-video-name">{{ v.title }}</a>
                <span class="index-video-info">Мосфильм, 1979</span>
                {#<p>#}
                    {#{{ v.description|raw }}#}
                {#</p>#}
            </div>
        </li>
    {% endfor %}
</ul>