{% extends ':Frontend:layout_one_column.html.twig' %}
{#--------------------------------------------------------------------------------------------------------------------#}
{% block title %}
    {{ parent() }} — {{ 'War Archive'|trans }}
{% endblock %}

{% block page_header_title %}
    {{ "War Archive"|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
   
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmuseum/css/museum.css') }}" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/zp/zp.js') }}"></script>
    <script src="{{ asset('bundles/armdmuseum/js/museumsWar.js') }}"></script>
    <script type="text/javascript">
        var sample = 1;
        var smPos = 153;
        var spPos = 153;
        var sW;
        var sH;
    </script>
    <script type="text/javascript">
        $(function () {
            WarArchive.init('{{ asset('vendor/zp/zoom_assets/icons.png') }}');
        })  
     </script>
    
    
{% endblock %}    

{% block one_column %}

{% if images|length > 0 %}
    1111111111
{% endif %}

<h1 class="archive-header">
    Перечень документов РГВИА
    <span>по истории русско-французских войн 1805 г.,  1806-1807 гг., </span>
    <span>Отечественной войны 1812 г. и Заграничных походов 1813 – 1814 гг. </span>
</h1>


<table class="archive-table">
        <tr>
            <th class="at-1">
                <p>№ п<span>/</span>п</p>
            </th>

            <th class="at-2">
                <p>Дата</p>
            </th>

            <th class="at-3">
                <p>Заголовок документа</p>
            </th>

            <th class="at-4">
                <p>Поисковые данные</p>
            </th>

            <th class="at-5">
                <p>Примечание</p>
            </th>
        </tr>

        <tr>
            <td class="at-1">1</td>

            <td class="at-2">
                <p>23&nbsp;октября 1805&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт главнокомандующего Подольской армией генерала от&nbsp;инфантерии М.И. Голенищева-Кутузова императору Александру <span>I</span>&nbsp;об отступлении армии и&nbsp;бое у&nbsp;р. Энс.</p>
            </td>

            <td class="at-4">
                <p>Ф. 846.</p>

                <p>Оп.&nbsp;16.</p>

                <p>Д. 3107.</p>

                <p>Л. 4-5об.</p>
            </td>

            <td class="at-5">
                <p>Копия первой половины <span>XIX</span>&nbsp;в.</p>
            </td>
            
        </tr>

        <tr>
            <td class="at-1">2</td>

            <td class="at-2">
                <p>25&nbsp;октября 1805&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт главнокомандующего Подольской армией генерала от&nbsp;инфантерии М.И. Голенищева-Кутузова императору Александру <span>I</span>&nbsp;об арьергардном бое при отступлении от&nbsp;Штрельберга к&nbsp;Эпингену.</p>
            </td>

            <td class="at-4">
                <p>Ф. 846.</p>

                <p>Оп.&nbsp;16.</p>

                <p>Д. 3107.</p>

                <p>Л. <nobr>6-7.</nobr></p>
            </td>

            <td class="at-5">
                <p>Копия первой половины <span>XIX</span>&nbsp;в.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">3</td>

            <td class="at-2">
                <p>20&nbsp;ноября 1805&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Диспозиция для атаки неприятельских позиций 20&nbsp;ноября 1805&nbsp;г. при Слапонице и&nbsp;Сокольнице (при Аустерлице).</p>
            </td>

            <td class="at-4">
                <p>Ф. 846.</p>

                <p>Оп.&nbsp;16.</p>

                <p>Д. 3113.</p>

                <p>Л. <nobr>1-2.</nobr></p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">4</td>

            <td class="at-2">
                <p>Не&nbsp;ранее</p>

                <p>29&nbsp;ноября 1805&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Ведомость о&nbsp;численности полков русских войск, участвующих в&nbsp;военных действиях с&nbsp;Францией в&nbsp;1805&nbsp;г. (Подольская армия, корпуса Буксгевдена и&nbsp;Эссена <nobr>1-го).</nobr></p>
            </td>

            <td class="at-4">
                <p>Ф. 846.</p>

                <p>Оп.&nbsp;16.</p>

                <p>Д. 3107.</p>

                <p>Л. 3.</p>
            </td>

            <td class="at-5">
                <p>Копия первой половины <span>XIX</span>&nbsp;в.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">5</td>

            <td class="at-2">
                <p>7&nbsp;декабря 1805&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Список нижних чинов Лейб-гвардии егерского батальона, отличившихся в&nbsp;сражении при Аустерлице.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1/160.</p>

                <p>Д. 1663.</p>

                <p>Л. <nobr>4-6.</nobr></p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф Э.Ф. Сен-При.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">6</td>

            <td class="at-2">
                <p>20&nbsp;февраля 1806&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт командующего гвардейской кавалерией генерал-лейтенанта А.С. Кологривова генерал-инспектору кавалерии великому князю цесаревичу Константину Павловичу о&nbsp;награждении офицеров Лейб-гвардии артиллерийского батальона, сражавшихся при Аустерлице в&nbsp;колонне генерал-лейтенанта П.Ф. Малютина.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1<span>/</span>160.</p>

                <p>Д. 1661.</p>

                <p>Л. 7.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф А.С. Кологривова.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">7</td>

            <td class="at-2">
                <p>Не&nbsp;ранее</p>

                <p>20&nbsp;февраля 1806&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Список офицеров Лейб-гвардии артиллерийского батальона, отличившихся в&nbsp;сражении при Аустерлице в&nbsp;колонне генерал-лейтенанта П.Ф. Малютина.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1<span>/</span>160.</p>

                <p>Д. 1661.</p>

                <p>Л. 8.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф А.С. Кологривова.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">8</td>

            <td class="at-2">
                <p>19&nbsp;апреля 1806&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт командира Лейб-гвардии егерского батальона полковника графа Э.Ф. Сен-При шефу батальона генерал-лейтенанту князю П.И. Багратиону об&nbsp;участии Лейб-гвардии егерского батальона в&nbsp;сражении при Аустерлице.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1/160.</p>

                <p>Д. 1663.</p>

                <p>Л. <nobr>2-3.</nobr></p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф Э.Ф. Сен-При.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">9</td>

            <td class="at-2">
                <p>3&nbsp;марта</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт командира отряда генерал-майора графа П.Х. Витгенштейна командиру корпуса генерал-лейтенанту И.Н. Эссену <nobr>1-му</nobr> об&nbsp;успешном бое с&nbsp;неприятелем в&nbsp;д. Валы 26&nbsp;февраля</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-4">
                <p>Ф. 846.</p>

                <p>Оп.&nbsp;16.</p>

                <p>Д. 3191.</p>

                <p>Л. 3-4об.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф П.Х. Витгенштейна.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">10</td>

            <td class="at-2">
                <p>24&nbsp;марта</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Отношение главнокомандующего русской армией в&nbsp;Пруссии генерала от&nbsp;кавалерии барона Л.Л. Бенигсена великому князю цесаревичу Константину Павловичу о&nbsp;расположении русской армии.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1/160.</p>

                <p>Д. 443.</p>

                <p>Л. 1.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф Л.Л. Беннигсена.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">11</td>

            <td class="at-2">
                <p>Не&nbsp;ранее</p>

                <p>24&nbsp;марта</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Расписание русской армии (дислокация в&nbsp;Пруссии).</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1/160.</p>

                <p>Д. 443.</p>

                <p>Л. 2, <nobr>3-4.</nobr></p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф Л.Л. Беннигсена.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">12</td>

            <td class="at-2">
                <p>6&nbsp;апреля 1807г.</p>
            </td>

            <td class="at-3">
                <p>Грамота о&nbsp;награждении штабс-ротмистра Лейб-гвардии гусарского полка Д.В. Давыдова орденом Св. Владимира <nobr>4-й</nobr> степени за&nbsp;отличия в&nbsp;бою 24&nbsp;января</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-4">
                <p>Ф. 194.</p>

                <p>Оп.&nbsp;1.</p>

                <p>Д. 1.</p>

                <p>Л. 8.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>

                <p>Автограф императора Александра&nbsp;<span>I</span>.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">13</td>

            <td class="at-2">
                <p>28&nbsp;мая 1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт генерал-майора</p>

                <p>Н.И. Вердеревского великому князю цесаревичу Константину Павловичу об&nbsp;участии стрелкового батальона милиции в&nbsp;бою</p>

                <p>25&nbsp;мая 1807&nbsp;г. у&nbsp;р. Пасарги.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1/160.</p>

                <p>Д. 1673.</p>

                <p>Л. 7.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">14</td>

            <td class="at-2">
                <p>28&nbsp;мая 1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Список офицеров Лейб-гвардии гусарского полка, отличившихся в&nbsp;бою при Альтенкирхене.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1/160.</p>

                <p>Д. 1672.</p>

                <p>Л. 3-3об.</p>
            </td>

            <td class="at-5">
                <p>Копия 1807&nbsp;г.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">15</td>

            <td class="at-2">
                <p>2&nbsp;июня</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Список офицеров Лейб-гвардии конного полка, отличившихся в&nbsp;сражении при Фридланде.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1<span>/</span>160.</p>

                <p>Д. 1674.</p>

                <p>Л. 2-2об.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">16</td>

            <td class="at-2">
                <p>2&nbsp;июня</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Список офицеров Лейб-гвардии конно-артиллерийской роты, отличившейся в&nbsp;сражении при Фридланде.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1<span>/</span>160.</p>

                <p>Д. 1674.</p>

                <p>Л. 3&nbsp;об.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">17</td>

            <td class="at-2">
                <p>2&nbsp;июня</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Список офицеров Лейб-гвардии казачьего полка, отличившихся в&nbsp;сражении при Фридланде.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1<span>/</span>160.</p>

                <p>Д. 1674.</p>

                <p>Л. 4&nbsp;об.</p>
            </td>

            <td class="at-5">
                <p>Подлинник.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">18</td>

            <td class="at-2">
                <p>10&nbsp;июня</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт полковника Уланского Его Императорского Высочества цесаревича Константина Павловича полка А.С. Чаликова командующему гвардейским корпусом генерал-лейтенанту А.С. Кологривову об&nbsp;участии полка в&nbsp;сражении при Фридланде.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1<span>/</span>160.</p>

                <p>Д. 1675.</p>

                <p>Л. 2-3об.</p>
            </td>

            <td class="at-5">
                <p>Копия 1807&nbsp;г.</p>
            </td>
        </tr>

        <tr>
            <td class="at-1">19</td>

            <td class="at-2">
                <p>14&nbsp;июня</p>

                <p>1807&nbsp;г.</p>
            </td>

            <td class="at-3">
                <p>Рапорт шефа Павлоградского гусарского полка генерал-майора Е.Ф. Чаплица великому князю цесаревичу Константину Павловичу об&nbsp;участии отряда Чаплица в&nbsp;сражении при Гейльсберге.</p>
            </td>

            <td class="at-4">
                <p>Ф. 25.</p>

                <p>Оп. 1/160.</p>

                <p>Д. 1672.</p>

                <p>Л. <nobr>5-6.</nobr></p>
            </td>

            <td class="at-5">
                <p>Копия 1807&nbsp;г.</p>
            </td>
        </tr>
    


    <tr>
        <td class="at-1">20</td>

        <td class="at-2">
            <p>Не&nbsp;ранее 14&nbsp;июня 1807&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список офицеров отряда генерал-майора Е.Ф. Чаплица, отличившихся в&nbsp;сражении при Гейльсберге 29&nbsp;и&nbsp;30&nbsp;мая 1807&nbsp;г.</p>
        </td>

        <td class="at-4">
            <p>Ф. 25.</p>

            <p>Оп. 1/160.</p>

            <p>Д. 1672.</p>

            <p>Л. 7-7об.</p>
        </td>

        <td class="at-5">
            <p>Копия 1807&nbsp;г.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">21</td>

        <td class="at-2">
            <p>28&nbsp;июня</p>

            <p>1807&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт шефа <nobr>1-го</nobr> егерского полка полковника барона Г.В. Розена великому князю Константину Павловичу об&nbsp;офицерах полка, отличившихся в&nbsp;войне <nobr>1806-1807</nobr> г.г.</p>
        </td>

        <td class="at-4">
            <p>Ф. 25.</p>

            <p>Оп. 1<span>/</span>160.</p>

            <p>Д. 1742.</p>

            <p>Л. 1.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Г.В. Розена.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">22</td>

        <td class="at-2">
            <p>Не&nbsp;ранее 28&nbsp;июня 1807&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список офицеров <nobr>1-го</nobr> егерского полка, участвовавших в&nbsp;боевых действиях с&nbsp;французами в&nbsp;<nobr>1806-1807</nobr> г.г.</p>
        </td>

        <td class="at-4">
            <p>Ф. 25.</p>

            <p>Оп. 1<span>/</span>160.</p>

            <p>Д. 1742.</p>

            <p>Л. <nobr>2-5.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">23</td>

        <td class="at-2">
            <p>18&nbsp;мая 1808&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Грамота о&nbsp;награждении штабс-ротмистра Лейб-гвардии гусарского полка Д.В. Давыдова Золотой саблей за&nbsp;отличия в&nbsp;бою 24&nbsp;и&nbsp;25&nbsp;мая 1807&nbsp;г. при Гутштадте.</p>
        </td>

        <td class="at-4">
            <p>Ф. 194.</p>

            <p>Оп.&nbsp;1.</p>

            <p>Д. 1.</p>

            <p>Л. 13.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф императора Александра&nbsp;<span>I</span>.</p>

            <p>Автограф министра военно-сухопутных сил генерал-инспектора артиллерии генерала от&nbsp;артиллерии графа А.А. Аракчеева.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">24</td>

        <td class="at-2">
            <p>Март 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Ведомость о&nbsp;размещении донских казачьих полков, поданная императору Александру <span>I</span>&nbsp;3&nbsp;марта 1812&nbsp;г.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 3465.</p>

            <p>Ч. 2.</p>

            <p>Л. <nobr>28-30.</nobr></p>
        </td>

        <td class="at-5">
            <p>Копия <nobr>1830-ых</nobr> годов.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">25</td>

        <td class="at-2">
            <p>6&nbsp;июня</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт полковника Войска Донского В.А. Сысоева <nobr>3-го</nobr> командиру <nobr>7-го</nobr> пехотного корпуса генерал-лейтенанту Н.Н. Раевскому о&nbsp;взятых в&nbsp;плен у&nbsp;д. Кобыленка французов.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 326.</p>

            <p>Л. 3.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф В.А. Сысоева <nobr>3-го.</nobr></p>
        </td>
    </tr>

    <tr>
        <td class="at-1">26</td>

        <td class="at-2">
            <p>13&nbsp;июня</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо императора Александра <span>I</span>&nbsp;председателю Государственного совета генерал-фельдмаршалу графу Н.И. Салтыкову о&nbsp;начале войны с&nbsp;Францией.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 493.</p>

            <p>Л. 13.</p>
        </td>

        <td class="at-5">
            <p>Подлинник. Автограф императора Александра&nbsp;<span>I</span>.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">27</td>

        <td class="at-2">
            <p>1&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт командира Ахтырского гусарского полка полковника Д.В. Васильчикова <nobr>2-го</nobr> командиру летучего казачьего корпуса генералу от&nbsp;кавалерии М.И. Платову о&nbsp;награждении офицеров Ахтырского гусарского полка, отличившихся в&nbsp;бою при Мире.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 583.</p>

            <p>Л. <nobr>19-20.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Д.В. Васильчикова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">28</td>

        <td class="at-2">
            <p>8&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Отношение волынского гражданского губернатора тайного советника М.И. Комбурлея главнокомандующему <nobr>2-й</nobr> Западной армии генералу от&nbsp;инфантерии князю П.И. Багратиону с&nbsp;изъявлением радости в&nbsp;связи с&nbsp;победами войск <nobr>2-й</nobr> Западной армии в&nbsp;арьергардных боях.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 288.</p>

            <p>Л. 7.</p>
        </td>

        <td class="at-5">
            <p>Копия.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">29</td>

        <td class="at-2">
            <p>9&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо генерал-инспектора артиллерии генерала от&nbsp;артиллерии графа А.А. Аракчеева главнокомандующему в&nbsp;Москве генералу от&nbsp;инфантерии графу Ф.В. Ростопчину о&nbsp;ратификации мира с&nbsp;Турцией и&nbsp;об&nbsp;отъезде императора Александра <span>I</span>&nbsp;из&nbsp;Смоленска в&nbsp;Москву. Собственноручно написано в&nbsp;Смоленске.</p>
        </td>

        <td class="at-4">
            <p>Ф. 154.</p>

            <p>Оп.&nbsp;1.</p>

            <p>Д. 86.</p>

            <p>Л. 1, 1об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф А.А. Аракчеева.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">30</td>

        <td class="at-2">
            <p>9&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт шефа <nobr>2-го</nobr> пионерного полка полковника А.И. Грессера <nobr>2-го</nobr> главнокомандующему <nobr>2-й</nobr> Западной армией генералу от&nbsp;инфантерии князю П.И. Багратиону о&nbsp;численности войск в&nbsp;его подчинении.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 324.</p>

            <p>Л. 105.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">31</td>

        <td class="at-2">
            <p>Не&nbsp;ранее 9&nbsp;июля 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Ведомость о&nbsp;численности нижних чинов подчиненных полковнику</p>

            <p>А.И. Грессеру <nobr>2-му</nobr> войск.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 324.</p>

            <p>Л. 105об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">32</td>

        <td class="at-2">
            <p>12&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо главнокомандующего <nobr>2-й</nobr> западной армией генерала от&nbsp;инфантерии князя Багратиона волынскому гражданскому губернатору тайному советнику М.И. Комбурлею о&nbsp;сражении при Салтановке (Дашковке).</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 288.</p>

            <p>Л. 10, 10об.</p>
        </td>

        <td class="at-5">
            <p>Черновик.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">33</td>

        <td class="at-2">
            <p>14&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт командира <nobr>7-го</nobr> пехотного корпуса генерал-лейтенанта Н.Н. Раевского главнокомандующему <nobr>2-й</nobr> Западной армией генералу от&nbsp;инфантерии князю П.И. Багратиону о&nbsp;потерях <nobr>7-го</nobr> пехотного корпуса в&nbsp;сражении 11&nbsp;июля 1812&nbsp;г. при Салтановке (Новоселках).</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 809.</p>

            <p>Л. 2.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Н.Н. Раевского.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">34</td>

        <td class="at-2">
            <p>14&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Ведомость потерь <nobr>7-го</nobr> пехотного корпуса в&nbsp;сражении при Салтановке (Новоселках).</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 809.</p>

            <p>Л. <nobr>3-4.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Н.Н. Раевского.</p>
        </td>
    </tr>


    
    <tr>
        <td class="at-1">35</td>

        <td class="at-2">
            <p>20&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список нижних чинов (из&nbsp;разжалованных офицеров), отличившихся 11&nbsp;июля 1812&nbsp;г. в&nbsp;бою при Салтановке.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 583.</p>

            <p>Л. <nobr>68-69.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Н.Н. Раевского.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">36</td>

        <td class="at-2">
            <p>21&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт командира <nobr>1-й</nobr> бригады внутренней стражи <nobr>3-го</nobr> округа полковника Бриземана фон Неттинга инспектору внутренней стражи генерал-адъютанту генерал-майору графу Е.Ф. Комаровскому о&nbsp;бое 8&nbsp;июля 1812&nbsp;г. при Могилеве и&nbsp;эвакуации Могилевского госпиталя.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153а.</p>

            <p>Св.&nbsp;20.</p>

            <p>Д. 2919.</p>

            <p>Л. 72-73об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">37</td>

        <td class="at-2">
            <p>Не&nbsp;ранее 21&nbsp;июля 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Ведомость потерь Могилевского гарнизонного батальона в&nbsp;бою 8&nbsp;июля 1812&nbsp;г.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153а.</p>

            <p>Св.&nbsp;20.</p>

            <p>Д. 2919.</p>

            <p>Л. 75, 75об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">38</td>

        <td class="at-2">
            <p>22&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт командующего отрядом генерал-майора Е.И. Оленина военному министру и&nbsp;главнокомандующему <nobr>1-й</nobr> Западной армией генералу от&nbsp;инфантерии М.Б. Барклаю де&nbsp;Толли о&nbsp;состоянии и&nbsp;боевых действиях вверенного ему отряда, в&nbsp;том числе о&nbsp;стычке с&nbsp;неприятелем Донского казачьего Власова <nobr>3-го</nobr> полка при&nbsp;м. Ляды.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 3468.</p>

            <p>Ч. 2.</p>

            <p>Л. 81, 81об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">39</td>

        <td class="at-2">
            <p>23&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Ведомость потерь офицеров и&nbsp;нижних чинов в&nbsp;артиллерии в&nbsp;сражении при Салтановке (при Новоселках).</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 324.</p>

            <p>Л. 102, 102об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф начальника артиллерии <nobr>2-й</nobr> Западной армии генерал-майора барона К.Ф. Левенштерна.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">40</td>

        <td class="at-2">
            <p>23&nbsp;июля</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список нижних чинов Ахтырского гусарского полка, оставленных на&nbsp;излечение в&nbsp;госпиталях.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп.&nbsp;3.</p>

            <p>Д. 809.</p>

            <p>Л. <nobr>5-6.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Д.В. Давыдова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">41</td>

        <td class="at-2">
            <p>Июль-август 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список офицеров, отличившихся в&nbsp;сражении 11&nbsp;июля 1812&nbsp;г. у&nbsp;Салтановки.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153г.</p>

            <p>Св.&nbsp;1.</p>

            <p>Д. 12.</p>

            <p>Л. <nobr>37-40.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">42</td>

        <td class="at-2">
            <p>17&nbsp;августа 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт главнокомандующего <nobr>2-й</nobr> Западной армии генерала от&nbsp;инфантерии князя П.И. Багратиона императору Александру <span>I</span>&nbsp;о состоянии войск армии.</p>
        </td>

        <td class="at-4">
            <p>Ф. 154.</p>

            <p>Оп.&nbsp;1.</p>

            <p>Д. 84.</p>

            <p>Л. 22.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф П.И. Багратиона.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">43</td>

        <td class="at-2">
            <p>22&nbsp;августа 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Собственноручно написанная инструкция главнокомандующего <nobr>1-й</nobr> Западной армией генерала от&nbsp;инфантерии князя П.И. Багратиона подполковнику Ахтырского гусарского полка Д.В. Давыдову о&nbsp;ведении партизанских действий.</p>
        </td>

        <td class="at-4">
            <p>Ф. 194.</p>

            <p>Оп.&nbsp;1.</p>

            <p>Д. 10. Ч.1.</p>

            <p>Л. 3, 3об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф П.И. Багратиона.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">44</td>

        <td class="at-2">
            <p>24&nbsp;августа 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Диспозиция <nobr>1-й</nobr> и&nbsp;<nobr>2-й</nobr> Западных армий при Бородине, направленная начальником главного штаба объединенных армий генералом от&nbsp;кавалерии бароном Л.Л. Беннигсеном главнокомандующему <nobr>1-й</nobr> Западной армией генералу от&nbsp;инфантерии М.Б. Барклаю де&nbsp;Толли.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 16876.</p>

            <p>Л. 42-43об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Л.Л. Беннигсена.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">45</td>

        <td class="at-2">
            <p>26&nbsp;августа 1812г.</p>
        </td>

        <td class="at-3">
            <p>Записка главнокомандующего всеми армиями генерала от&nbsp;инфантерии светлейшего князя М.И. Голенищева-Кутузова главнокомандующему <nobr>1-й</nobr> Западной армией генералу от&nbsp;инфантерии М.Б. Барклаю де&nbsp;Толли о&nbsp;намерении возобновить сражение.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 16876.</p>

            <p>Л. 44а.</p>
        </td>

        <td class="at-5">
            <p>Подлинник. Карандаш.</p>

            <p>Автограф М.И. Кутузова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">46</td>

        <td class="at-2">
            <p>26&nbsp;августа 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо главнокомандующего всеми армиями генерала от&nbsp;инфантерии светлейшего князя М.И. Голенищева-Кутузова главнокомандующему в&nbsp;Москве от&nbsp;инфантерии графу Ф.В. Ростопчину с&nbsp;известием о&nbsp;Бородинском сражении.</p>
        </td>

        <td class="at-4">
            <p>Ф. 1.</p>

            <p>Оп.&nbsp;1.</p>

            <p>Д. 3574. Ч.4.</p>

            <p>Л. 10.</p>
        </td>

        <td class="at-5">
            <p>Подлинник. Автограф М.И. Кутузова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">47</td>

        <td class="at-2">
            <p>29&nbsp;августа 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Приказ главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова с&nbsp;распоряжениеми по&nbsp;личному составу.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 3524.</p>

            <p>Л. 8.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">48</td>

        <td class="at-2">
            <p>31&nbsp;августа 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рескрипт императора Александра <span>I</span>&nbsp;главнокомандующему всеми армиями генералу от&nbsp;инфантерии светлейшему князю М.И. Голенищеву-Кутузову о&nbsp;производстве его в&nbsp;генерал-фельдмаршалы за&nbsp;Бородинское сражение.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 453.</p>

            <p>Л. 15, 15об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф императора Александра&nbsp;<span>I</span>.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">49</td>

        <td class="at-2">
            <p>31&nbsp;августа 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо калужского гражданского губернатора сенатора тайного советника П.Н. Каверина командиру партизанского отряда подполковнику Ахтырского гусарского полка Д.В. Давыдову с&nbsp;просьбой действовать против французских мародеров в&nbsp;Калужской губернии.</p>
        </td>

        <td class="at-4">
            <p>Ф. 194.</p>

            <p>Оп.&nbsp;1.</p>

            <p>Д. 10.</p>

            <p>Ч. 2.</p>

            <p>Л. 4.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">50</td>

        <td class="at-2">
            <p>1&nbsp;сентября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова главнокомандующему в&nbsp;Москве генералу от&nbsp;инфантерии графу Ф.В. Ростопчину с&nbsp;сообщением об&nbsp;оставлении русской армией Москвы.</p>
        </td>

        <td class="at-4">
            <p>Ф. 1.</p>

            <p>Оп.&nbsp;1.</p>

            <p>Д. 3574. Ч.4.</p>

            <p>Л. 22.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.И. Кутузова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">51</td>

        <td class="at-2">
            <p>7&nbsp;сентября 1812г.</p>
        </td>

        <td class="at-3">
            <p>Рескрипт императора Александра <span>I</span>&nbsp;главнокомандующему всеми армиями генерал-фельдмаршалу светлейшему князю М.И. Голенищеву-Кутузову с&nbsp;требованием объяснить причины оставления Москвы.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 453.</p>

            <p>Л. 19, 19об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф императора Александра&nbsp;<span>I</span>.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">52</td>

        <td class="at-2">
            <p>7&nbsp;сентября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт командира <nobr>7-го</nobr> пехотного корпуса генерал-лейтенанта Н.Н. Раевского главнокомандующему всеми армиями генерал-фельдмаршалу светлейшему князю М.И. Голенищеву-Кутузову об&nbsp;участии корпуса в&nbsp;сражении при Смоленске.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп. 1/208а.</p>

            <p>Св.&nbsp;0.</p>

            <p>Д. 106.</p>

            <p>Л. 74, 74об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Н.Н. Раевского.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">53</td>

        <td class="at-2">
            <p>11&nbsp;сентября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова императору Александру 1&nbsp;о производстве в&nbsp;подпоручики фельдфебеля <nobr>34-го</nobr> егерского полка Золотова за&nbsp;взятие в&nbsp;плен в&nbsp;Бородинском сражении французского бригадного генерала Ш.&nbsp;Боннами.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1<span>/</span>153а.</p>

            <p>Св.&nbsp;11.</p>

            <p>Д. 1146.</p>

            <p>Л. 87.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.И. Кутузова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">54</td>

        <td class="at-2">
            <p>14&nbsp;сентября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рескрипт императора Александра <span>I</span>&nbsp;главнокомандующему <nobr>2-й</nobr> Западной армией генералу от&nbsp;инфантерии князю П.И. Багратиону с&nbsp;выражением сожаления о&nbsp;полученной им&nbsp;ране в&nbsp;сражении при Бородине.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 3646.</p>

            <p>Л. 2, 2об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф императора Александра&nbsp;<span>I</span>.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">55</td>

        <td class="at-2">
            <p>14&nbsp;сентября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт начальника штаба <nobr>2-й</nobr> Западной армии генерал-адъютанта генерал-майора графа Э.Ф. Сен-При управляющему Военным министерством генерал-лейтенанту князю А.И. Горчакову <nobr>1-му</nobr> о&nbsp;смерти генерала от&nbsp;инфантерии князя П.И. Багратиона</p>

            <p>12&nbsp;сентября 1812&nbsp;г. в&nbsp;с. Симы Владимирской губернии.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1<span>/</span>153а.</p>

            <p>Св.&nbsp;22.</p>

            <p>Д. 3746.</p>

            <p>Л. 40.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф Э.Ф. Сен-При.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">56</td>

        <td class="at-2">
            <p>26&nbsp;сентября</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт генерала от&nbsp;инфантерии</p>

            <p>М.Б. Барклая де&nbsp;Толли императору Александру <span>I</span>&nbsp;о награждении чиновников Военного министерства, находившихся при нем в&nbsp;<nobr>1-й</nobr> Западной армии.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153г.</p>

            <p>Св.&nbsp;1.</p>

            <p>Д. 13.</p>

            <p>Л. 63, 63об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.Б. Барклая де&nbsp;Толли.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">57</td>

        <td class="at-2">
            <p>26&nbsp;сентября</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт генерала от&nbsp;инфантерии М.Б. Барклая де&nbsp;Толли императору Александру <span>I</span>&nbsp;о награждении офицеров, отличившихся в&nbsp;боях и&nbsp;сражениях</p>

            <p>5&nbsp;августа 1812&nbsp;г. при Смоленске и</p>

            <p>7&nbsp;августа 1812&nbsp;г. при Валутиной горе.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153г.</p>

            <p>Св.&nbsp;1.</p>

            <p>Д. 13.</p>

            <p>Л. 70.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.Б. Барклая де&nbsp;Толли.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">58</td>

        <td class="at-2">
            <p>Не&nbsp;ранее 26&nbsp;сентября</p>

            <p>1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список офицеров Лейб-гвардии Измайловского и&nbsp;Лейб-гвардии Семеновского полков, отличившихся в&nbsp;боях и&nbsp;сражениях 5&nbsp;августа 1812&nbsp;г. при Смоленске и&nbsp;7&nbsp;августа 1812&nbsp;г. при Валутиной горе.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153г.</p>

            <p>Св.&nbsp;1.</p>

            <p>Д. 13.</p>

            <p>Л. 71, 71об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.Б. Барклая де&nbsp;Толли.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">59</td>

        <td class="at-2">
            <p>1&nbsp;октября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Ведомость потерь нижних чинов Нижегородского пехотного полка 11&nbsp;июля 1812&nbsp;г. при Салтановке и</p>

            <p>4&nbsp;августа 1812&nbsp;г. при Смоленске.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп. 1/208а.</p>

            <p>Св.&nbsp;0.</p>

            <p>Д. 107.</p>

            <p>Ч. 33.</p>

            <p>Л. 13.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">60</td>

        <td class="at-2">
            <p>1&nbsp;октября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список офицеров Нижегородского пехотного полка, участвовавших в&nbsp;боях и&nbsp;сражениях при Салтановке и&nbsp;Бородине.</p>
        </td>

        <td class="at-4">
            <p>Ф. 103.</p>

            <p>Оп. 1/208а.</p>

            <p>Св.&nbsp;0.</p>

            <p>Д. 107.</p>

            <p>Ч. 33.</p>

            <p>Л. <nobr>14-15.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">61</td>

        <td class="at-2">
            <p>2&nbsp;ноября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт адъютанта генерала от&nbsp;инфантерии князя П.И. Багратиона подполковника Брежинского управляющему Военным министерством генерал-лейтенанту князю А.И. Горчакову <nobr>1-му</nobr> об&nbsp;экипаже князя П.И. Багратиона, который после его смерти был перевезен Брежинским в&nbsp;имение родственника Багратиона князя Грузинского с. Лысково.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153а.</p>

            <p>Св.&nbsp;21.</p>

            <p>Д. 3073.</p>

            <p>Л. <nobr>44-45.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">62</td>

        <td class="at-2">
            <p>10&nbsp;ноября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова командиру <nobr>1-го</nobr> отдельного корпуса генералу от&nbsp;кавалерии графу П.Х. Витгенштейну о&nbsp;победе в&nbsp;сражении под Красным.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 3514. Ч.2</p>

            <p>Л. 224, 224об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.И. Кутузова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">63</td>

        <td class="at-2">
            <p>16&nbsp;ноября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Письмо главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова командиру <nobr>1-го</nobr> отдельного корпуса генералу от&nbsp;кавалерии графу П.Х. Витгенштейну о&nbsp;переправе императора Наполеона <span>I</span>&nbsp;через Березину.</p>
        </td>

        <td class="at-4">
            <p>Ф. 846.</p>

            <p>Оп.&nbsp;16.</p>

            <p>Д. 3514. Ч.2</p>

            <p>Л. 225.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.И. Кутузова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">64</td>

        <td class="at-2">
            <p>16&nbsp;ноября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Рапорт главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова императору Александру <span>I</span>&nbsp;о награждении офицеров, отличившихся в&nbsp;боях и&nbsp;сражениях 27&nbsp;и&nbsp;28&nbsp;июня при Мире, 2&nbsp;июля при Романове, 11&nbsp;июня при Салтановке, 14&nbsp;июля при Какувячине, 15&nbsp;июля при Витебске (при Лучесе), 27&nbsp;июля 1812&nbsp;г. при Молевом болоте.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1/153г.</p>

            <p>Св.&nbsp;1.</p>

            <p>Д. 12.</p>

            <p>Л. 25, 25об.</p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.И. Кутузова.</p>
        </td>
    </tr>

    <tr>
        <td class="at-1">65</td>

        <td class="at-2">
            <p>Не&nbsp;ранее</p>

            <p>16&nbsp;ноября 1812&nbsp;г.</p>
        </td>

        <td class="at-3">
            <p>Список офицеров, награжденных за&nbsp;отличия в&nbsp;боях и&nbsp;сражениях 27&nbsp;и&nbsp;28&nbsp;июня при Мире, 2&nbsp;июля при Романове, 11&nbsp;июля при Салтановке, 14&nbsp;июля при Какувячине, 15&nbsp;июля 1812&nbsp;г. при Молевом болоте.</p>
        </td>

        <td class="at-4">
            <p>Ф. 29.</p>

            <p>Оп. 1<span>/</span>153г.</p>

            <p>Св.&nbsp;1.</p>

            <p>Д. 12.</p>

            <p>Л. <nobr>27-31.</nobr></p>
        </td>

        <td class="at-5">
            <p>Подлинник.</p>

            <p>Автограф М.И. Кутузова.</p>
        </td>
    </tr>


        <tr>
<td class="at-1">66</td>

<td class="at-2">
<p>25&nbsp;ноября 1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рескрипт императора Александра <span>I</span>&nbsp;управляющему Военным министерством генерал-лейтенанту князю А.И. Горчакову <nobr>1-му</nobr> о&nbsp;награждении офицеров, отличившихся в&nbsp;боях и&nbsp;сражениях 27&nbsp;и&nbsp;28&nbsp;июня при Мире,</p>

<p>2&nbsp;июля при Романове, 11&nbsp;июля при Салтановке, 14&nbsp;июля при Какувячине,</p>

<p>15&nbsp;июля при Витебске (при Лучесе),</p>

<p>27&nbsp;июля при Молевом болоте.</p>
</td>

<td class="at-4">
<p>Ф. 29.</p>

<p>Оп. 1/153г.</p>

<p>Св.&nbsp;1.</p>

<p>Д. 12.</p>

<p>Л. 24, 24об.</p>
</td>

<td class="at-5">
<p>Копия 1812&nbsp;г.</p>


</td>
</tr>

<tr>
<td class="at-1">67</td>

<td class="at-2">
<p>27&nbsp;ноября 1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт адъютанта генерала от&nbsp;инфантерии князя П.И. Багратиона подполковника Брежинского в&nbsp;канцелярию Военного министерства о&nbsp;передаче орденов покойного П.И. Багратиона в&nbsp;Капитул императорских орденов.</p>
</td>

<td class="at-4">
<p>Ф. 29.</p>

<p>Оп. 1/153а.</p>

<p>Св.&nbsp;21.</p>

<p>Д. 3073.</p>

<p>Л. 43, 43об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">68</td>

<td class="at-2">
<p>2&nbsp;декабря 1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рескрипт императора Александра <span>I</span>&nbsp;главнокомандующему всеми армиями генерал-фельдмаршалу светлейшему князю М.И. Голенищеву-Кутузову о&nbsp;непрерывном преследовании неприятеля.</p>
</td>

<td class="at-4">
<p>Ф. 846.</p>

<p>Оп.&nbsp;16.</p>

<p>Д. 3495.</p>

<p>Л. 15, 15об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф императора Александра&nbsp;<span>I</span>.</p>


</td>
</tr>

<tr>
<td class="at-1">69</td>

<td class="at-2">
<p><span>2</span>&nbsp;декабря 1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова императору Александру <span>I</span>&nbsp;о решении дать отдых Главной армии на&nbsp;несколько дней в&nbsp;Вильно и&nbsp;о&nbsp;преследовании неприятеля армией адмирала П.В. Чичагова, <nobr>1-м</nobr> отдельным корпусом генерала от&nbsp;кавалерии графа П.Х. Витгенштейна и&nbsp;казачьими полками генерала от&nbsp;кавалерии М.И. Платова.</p>
</td>

<td class="at-4">
<p>Ф. 846.</p>

<p>Оп.16.</p>

<p>Д. 1078.</p>

<p>Л. 207-208об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф М.И. Кутузова.</p>


</td>
</tr>

<tr>
<td class="at-1">70</td>

<td class="at-2">
<p>7&nbsp;декабря 1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова-Смоленского императору Александру <span>I</span>&nbsp;об изгнании Великой армии из&nbsp;России.</p>
</td>

<td class="at-4">
<p>Ф. 846.</p>

<p>Оп.&nbsp;16.</p>

<p>Д. 1078.</p>

<p>Л. 209-210об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф М.И. Кутузова.</p>


</td>
</tr>

<tr>
<td class="at-1">71</td>

<td class="at-2">
<p>16&nbsp;декабря 1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт главнокомандующего всеми армиями генерал-фельдмаршала светлейшего князя М.И. Голенищева-Кутузова-Смоленского императору Александру <span>I</span>&nbsp;о награждении командира конно-артиллерийской роты &#8470;&nbsp;4&nbsp;полковника Мерлина за&nbsp;отличия в&nbsp;сражении при Бородине.</p>
</td>

<td class="at-4">
<p>Ф. 29.</p>

<p>Оп. 1/153г.</p>

<p>Св.&nbsp;1.</p>

<p>Д. 21.</p>

<p>Л. 40, 40об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф М.И. Кутузова.</p>


</td>
</tr>

<tr>
<td class="at-1">72</td>

<td class="at-2">
<p>1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров, отличившихся в&nbsp;боях и&nbsp;сражениях 2&nbsp;августа под Красным, 4,</p>

<p>5&nbsp;и&nbsp;6&nbsp;августа 1812&nbsp;г. при Валутиной горе (Заболотье) и&nbsp;представленных к&nbsp;высочайшему благоволению.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208а.</p>

<p>Св.&nbsp;0.</p>

<p>Д. 106.</p>

<p>Л. 202-203об.</p>
</td>

<td class="at-5">
<p>Черновик.</p>


</td>
</tr>

<tr>
<td class="at-1">73</td>

<td class="at-2">
<p>1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Обращение главнокомандующего в&nbsp;Москве генерала от&nbsp;инфантерии графа Ф.В. Ростопчина к&nbsp;жителям города (&laquo;Ростопчинская афишка&raquo;).</p>
</td>

<td class="at-4">
<p>Ф. 154.</p>

<p>Оп.&nbsp;1.</p>

<p>Д. 93.</p>

<p>Л. 7.</p>
</td>

<td class="at-5">
<p>Типографский экземпляр.</p>


</td>
</tr>

<tr>
<td class="at-1">74</td>

<td class="at-2">
<p>1812&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список нижних чинов, отличившихся</p>

<p>11&nbsp;июля при Салтановке и&nbsp;9&nbsp;августа при Могилеве.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп.&nbsp;3.</p>

<p>Д. 725.</p>

<p>Л. <nobr>9-13.</nobr></p>
</td>

<td class="at-5">
<p>Черновик.</p>


</td>
</tr>

<tr>
<td class="at-1">75</td>

<td class="at-2">
<p>16&nbsp;марта</p>

<p>1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт начальника Главного штаба всех армий генерал-майора генерал-адъютанта князя П.М. Волконского управляющему Военным министерством князю А.И. Горчакову <nobr>1-му</nobr> о&nbsp;повелении императора Александра <span>I</span>&nbsp;назначить мулле <nobr>5-го</nobr> Башкирского полка Ахтеми Габууле Киримову жалование наравне с&nbsp;военными священниками православного вероисповедания.</p>
</td>

<td class="at-4">
<p>Ф. 1.</p>

<p>Оп.&nbsp;1.</p>

<p>Д. 2949.</p>

<p>Л. 1.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф П.М. Волконского.</p>


</td>
</tr>

<tr>
<td class="at-1">76</td>

<td class="at-2">
<p>29&nbsp;марта</p>

<p>1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров отряда генерал-майора А.Х. Бенкендорфа, отличившихся в&nbsp;бою</p>

<p>22&nbsp;февраля 1813&nbsp;г.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208в.</p>

<p>Св.&nbsp;47.</p>

<p>Д. 4.</p>

<p>Л. <nobr>345-346.</nobr></p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф А.Х. Бенкендорфа.</p>


</td>
</tr>

<tr>
<td class="at-1">77</td>

<td class="at-2">
<p>Март 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Именной список зауряд обер-офицеров <nobr>1-го</nobr> Башкирского полка, представленных к&nbsp;утверждению в&nbsp;чинах за&nbsp;боевые отличия.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208в.</p>

<p>Св.&nbsp;47.</p>

<p>Д. 4.</p>

<p>Л. 348, 348об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф А.Х. Бенкендорфа.</p>


</td>
</tr>

<tr>
<td class="at-1">78</td>

<td class="at-2">
<p>21&nbsp;мая 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт командира гренадерского корпуса генерал-лейтенанта Н.Н. Раевского великому князю цесаревичу Константину Павловичу о&nbsp;потерях гренадерского корпуса 9&nbsp;мая 1813&nbsp;г. в&nbsp;сражении при Бауцене.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 30.</p>

<p>Л. 9.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Н.Н. Раевского.</p>
</td>
</tr>

<tr>
<td class="at-1">79</td>

<td class="at-2">
<p>Май 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров гренадерского корпуса, убитых, раненых и&nbsp;пропавших без вести 9&nbsp;мая 1813&nbsp;г. в&nbsp;сражении при Бауцене.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 30.</p>

<p>Л. 10, 10об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Н.Н. Раевского.</p>
</td>
</tr>

<tr>
<td class="at-1">80</td>

<td class="at-2">
<p>Май 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Ведомость потерь гренадерского корпуса 9&nbsp;мая 1813&nbsp;г. в&nbsp;сражении при Бауцене.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 30.</p>

<p>Л. 11.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Н.Н. Раевского.</p>
</td>
</tr>

<tr>
<td class="at-1">81</td>

<td class="at-2">
<p>4&nbsp;июня</p>

<p>1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров Лейб-гвардии кирасирского Его Императорского Величества полка, отличившихся 9&nbsp;мая 1813&nbsp;г. в&nbsp;сражении при Бауцене.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 87.</p>

<p>Л. <nobr>4-5.</nobr></p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">82</td>

<td class="at-2">
<p>20&nbsp;июля</p>

<p>1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Ведомость о&nbsp;численности личного состава и&nbsp;лошадей полков легкой кавалерии, числящихся в&nbsp;резерве.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 30.</p>

<p>Л. 22.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">83</td>

<td class="at-2">
<p>2&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт полковника М.В. Аргамакова <nobr>3-го</nobr> генерал-инспектору кавалерии великому князю цесаревичу Константину Павловичу о&nbsp;участии его в&nbsp;составе Ингерманландского драгунского полка 13&nbsp;июля 1812&nbsp;г. в&nbsp;сражении при Островно.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 59.</p>

<p>Л. <nobr>39-40.</nobr></p>
</td>

<td class="at-5">
<p>Подлинник.</p>
</td>
</tr>

<tr>
<td class="at-1">84</td>

<td class="at-2">
<p>22&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров батарейной &#8470;&nbsp;30&nbsp;роты и&nbsp;гвардейской артиллерии, отличившихся 15&nbsp;августа 1813&nbsp;г. при Дрездене.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 59.</p>

<p>Л. 23.</p>
</td>

<td class="at-5">
<p>Копия 1813&nbsp;г.</p>
</td>
</tr>

<tr>
<td class="at-1">85</td>

<td class="at-2">
<p>22&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт командира <nobr>1-й</nobr> гвардейской дивизии генерал-лейтенанта А.П. Ермолова командиру гвардейского корпуса генерал-лейтенанту графу А.И. Остерману-Толстому об&nbsp;отступлении <nobr>1-й</nobr> гвардейской дивизии от&nbsp;Пирны к&nbsp;Теплицу и&nbsp;участии дивизии в&nbsp;сражении при Кульме <nobr>17-18</nobr> августа 1813&nbsp;г.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 41.</p>

<p>Л. 18-20об.</p>
</td>

<td class="at-5">
<p>Копия 1813&nbsp;г.</p>
</td>
</tr>

<tr>
<td class="at-1">86</td>

<td class="at-2">
<p>Не&nbsp;ранее</p>

<p>26&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров <nobr>1-го</nobr> Башкирского полка, награжденных за&nbsp;отличие при Герцберге 26&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-4">
<p>РГВИА.</p>

<p>Ф. 103.</p>

<p>Оп. 1/208г.</p>

<p>Св.&nbsp;3.</p>

<p>Д. 30.</p>

<p>Л. 5, 5об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">87</td>

<td class="at-2">
<p>27&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт генерала от&nbsp;инфантерии графа М.А. Милорадовича великому князю цесаревичу Константину Павловичу о&nbsp;награждении офицеров Свиты Его Императорского Величества по&nbsp;квартирмейстерской части, находившихся при Милорадовиче</p>

<p>18&nbsp;августа 1813&nbsp;г. в&nbsp;сражении при Кульме.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 59.</p>

<p>Л. 11.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф М.А. Милорадовича.</p>
</td>
</tr>

<tr>
<td class="at-1">88</td>

<td class="at-2">
<p>27&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт генерала от&nbsp;инфантерии графа М.А. Милорадовича великому князю цесаревичу Константину Павловичу о&nbsp;награждении офицеров батарейной роты &#8470;&nbsp;30, отличившихся в&nbsp;сражении при Дрездене и&nbsp;18&nbsp;августа 1813&nbsp;г. в&nbsp;сражении при Кульме.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2/161а.</p>

<p>Д. 59.</p>

<p>Л. 21.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф М.А. Милорадовича.</p>
</td>
</tr>

<tr>
<td class="at-1">89</td>

<td class="at-2">
<p>29&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Ведомость потерь <nobr>2-й</nobr> гренадерской дивизии в&nbsp;бою 29&nbsp;августа 1813&nbsp;г. при Гейерсберге.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2/161а.</p>

<p>Д. 41.</p>

<p>Л. <nobr>31-32.</nobr></p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Н.Н. Раевского.</p>
</td>
</tr>

<tr>
<td class="at-1">90</td>

<td class="at-2">
<p>29&nbsp;августа 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров <nobr>2-й</nobr> гренадерской дивизии, раненых 29&nbsp;августа 1813&nbsp;г. в&nbsp;бою при Гейерсберге.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2/161а.</p>

<p>Д. 41.</p>

<p>Л. 33.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Н.Н. Раевского.</p>
</td>
</tr>

<tr>
<td class="at-1">91</td>

<td class="at-2">
<p>3&nbsp;сентября 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт командира гренадерского корпуса генерал-лейтенанта Н.Н. Раевского генералу от&nbsp;инфантерии графу М.А. Милорадовичу о&nbsp;бое <nobr>2-й</nobr> гренадерской дивизии 29&nbsp;августа 1813&nbsp;г. при Гейерсберге.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2/161а.</p>

<p>Д. 41.</p>

<p>Л. 30, 30об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Н.Н. Раевского.</p>
</td>
</tr>

<tr>
<td class="at-1">92</td>

<td class="at-2">
<p>Не&nbsp;ранее</p>

<p>26&nbsp;сентября 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров бригады генерал-майора Е.Ф. Сталя, отличившихся при преследовании неприятеля от&nbsp;Дессау до&nbsp;Лейденталя с&nbsp;23&nbsp;по&nbsp;26&nbsp;сентября 1813&nbsp;г.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208г.</p>

<p>Св.&nbsp;3.</p>

<p>Д. <nobr>26-28.</nobr></p>

<p>Л. 6, 6об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">93</td>

<td class="at-2">
<p>Не&nbsp;ранее</p>

<p>26&nbsp;сентября 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список офицеров Донского казачьего Андрианова <nobr>2-го</nobr> и&nbsp;<nobr>1-го</nobr> Башкирского полков, отличившихся в&nbsp;бою при Лейдентале 26&nbsp;сентября 1813&nbsp;г.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208г.</p>

<p>Св.&nbsp;3.</p>

<p>Д. <nobr>26-28.</nobr></p>

<p>Л. 7, 7об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">94</td>

<td class="at-2">
<p>Не&nbsp;ранее</p>

<p>26&nbsp;сентября 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список нижних чинов Донского казачьего Андрианова <nobr>2-го</nobr> и&nbsp;<nobr>1-го</nobr> Башкирского полков, отличившихся в&nbsp;бою при Лейдентале 26&nbsp;сентября 1813&nbsp;г.</p>


</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208г.</p>

<p>Св.&nbsp;3.</p>

<p>Д. <nobr>26-28.</nobr></p>

<p>Л. 8, 8об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">95</td>

<td class="at-2">
<p>29&nbsp;сентября</p>

<p>1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт командира летучего казачьего корпуса генерала от&nbsp;кавалерии графа М.И. Платова главнокомандующему русскими и&nbsp;прусскими войсками генерала от&nbsp;инфантерии М.Б. Барклаю де&nbsp;Толли о&nbsp;занятии корпусом донских казаков Люцена, движение неприятельских войск через Наумбург, и&nbsp;размещение больших сил противника между Вурценом и&nbsp;Лейпцигом.</p>
</td>

<td class="at-4">
<p>Ф. 846.</p>

<p>Оп.&nbsp;16.</p>

<p>Д. 3888.</p>

<p>Ч. 2.</p>

<p>Л. 307-308об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф М.И. Платова.</p>


</td>
</tr>

<tr>
<td class="at-1">96</td>

<td class="at-2">
<p>18&nbsp;октября 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт полковника Лейб-гвардии драгунского полка князя С.А. Хилкова командиру <nobr>1-й</nobr> бригады гвардейской кавалерийской дивизии генерал-майору А.С. Чаликову об&nbsp;участии Лейб-гвардии драгунского полка 4&nbsp;октября 1813&nbsp;г. в&nbsp;сражении при Лейпциге.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 44.</p>

<p>Л. 4.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>
</td>
</tr>

<tr>
<td class="at-1">97</td>

<td class="at-2">
<p>12&nbsp;декабря</p>

<p>1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список по&nbsp;старшинству офицеров <nobr>9-го</nobr> Башкирского полка.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208г.</p>

<p>Св.&nbsp;6.</p>

<p>Д. 23.</p>

<p>Л. 56, 56об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">98</td>

<td class="at-2">
<p>20&nbsp;декабря 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт генерал-майора Войска Донского В.Д. Иловайского <nobr>12-го</nobr> великому князю цесаревичу Константину Павловичу об&nbsp;успешных действиях Донского казачьего Иловайского <nobr>12-го</nobr> полка в&nbsp;сражении при Кульме.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/161</span>а.</p>

<p>Д. 75.</p>

<p>Л. 49.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф В.Д. Иловайского</p>


<p><nobr>12-го.</nobr></p>
</td>
</tr>

<tr>
<td class="at-1">99</td>

<td class="at-2">
<p>27&nbsp;декабря 1813&nbsp;г.</p>
</td>

<td class="at-3">
<p>Список нижних чинов, находившихся при командире кирасирского корпуса генерал-лейтенанте князе Д.В. Голицыне, отличившихся <nobr>17-18</nobr> августа 1813&nbsp;г. в&nbsp;сражении при Кульме и&nbsp;<nobr>4-6</nobr> октября 1813&nbsp;г. в&nbsp;сражении при Лейпциге.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 75.</p>

<p>Л. 52.</p>
</td>

<td class="at-5">
<p>Копия 1813-</p>

<p>1814 г.г.</p>


</td>
</tr>

<tr>
<td class="at-1">100</td>

<td class="at-2">
<p>14&nbsp;апреля 1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Письмо старшины <nobr>4-го</nobr> Башкирского полка Бакирова генералу от&nbsp;кавалерии графу П.Х. Витгенштейну с&nbsp;просьбой исходатайствовать ему награду за&nbsp;участие в&nbsp;сражении под Борисовым в&nbsp;ноябре 1812&nbsp;г.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208в.</p>

<p>Св.&nbsp;46.</p>

<p>Д. 3.</p>

<p>Л. 208, 208об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">101</td>

<td class="at-2">
<p>2&nbsp;мая 1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Формулярный список о&nbsp;службе протоирея Кавалергардского полка</p>

<p>М.&nbsp;А.&nbsp;Гратинского.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1<span>/</span>208а.</p>

<p>Св.&nbsp;0.</p>

<p>Д. 74.</p>

<p>Л. <nobr>24-25.</nobr></p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">102</td>

<td class="at-2">
<p>9&nbsp;мая 1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт генерал-инспектора кавалерии цесаревича великого князя Константина Павловича главнокомандующему всеми армиями генерал-фельдмаршалу графу М.Б. Барклаю де&nbsp;Толли о&nbsp;представлении к&nbsp;награждению протоирея Кавалергардского полка М.А. Гратинского, отличившегося в&nbsp;кампании 1814&nbsp;г., особенно 13&nbsp;марта 1814&nbsp;г. в&nbsp;сражении при Фер-Шампенуазе.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208а.</p>

<p>Св.&nbsp;0.</p>

<p>Д. 74.</p>

<p>Л. 23, 23об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф великого князя Константина Павловича.</p>


</td>
</tr>

<tr>
<td class="at-1">103</td>

<td class="at-2">
<p>16&nbsp;мая 1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Приказание генерал-инспектора кавалерии великого князя цесаревича Константина Павловича по&nbsp;подготовке</p>


<p><nobr>1-й</nobr> кирасирской дивизии и&nbsp;гвардейской конной артиллерии к&nbsp;параду 18&nbsp;мая</p>

<p>1814&nbsp;г. в&nbsp;Париже.</p>
</td>

<td class="at-4">
<p>Ф. 3545.</p>

<p>Оп.&nbsp;3.</p>

<p>Д. 382.</p>

<p>Л. 4</p>


</td>

<td class="at-5">
<p>Копия 1814&nbsp;г.</p>
</td>
</tr>

<tr>
<td class="at-1">104</td>

<td class="at-2">
<p>17&nbsp;мая 1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Приказание генерал-инспектора кавалерии великого князя цесаревича Константина Павловича о&nbsp;сборе <nobr>1-й</nobr> кирасирской дивизии 18&nbsp;мая 1813&nbsp;г. на&nbsp;Марсовом поле в&nbsp;Париже для участия в&nbsp;параде.</p>
</td>

<td class="at-4">
<p>Ф. 3545.</p>

<p>Оп.&nbsp;3.</p>

<p>Д. 382.</p>

<p>Л. 5</p>


</td>

<td class="at-5">
<p>Копия 1814&nbsp;г.</p>
</td>
</tr>

<tr>
<td class="at-1">105</td>

<td class="at-2">
<p>4&nbsp;июня</p>

<p>1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт войскового атамана Войска Донского генерала от&nbsp;кавалерии графа М.И. Платова главнокомандующему армиями генерал-фельдмаршалу графу М.Б. Барклаю де&nbsp;Толли о&nbsp;представлении штабс-ротмистра Павлоградского гусарского полка Жилина к&nbsp;награде за&nbsp;командование <nobr>1-м</nobr> Башкирским конным полком в&nbsp;кампанию 1812&nbsp;г.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208а.</p>

<p>Св.&nbsp;0.</p>

<p>Д. 70.</p>

<p>Л. 59, 59об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф М.И. Платова.</p>


</td>
</tr>

<tr>
<td class="at-1">106</td>

<td class="at-2">
<p>17&nbsp;сентября</p>

<p>1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Прошение командира <nobr>9-го</nobr> Башкирского полка полкового старшины Уразгулова о&nbsp;награждении его за&nbsp;участие в&nbsp;кампаниях 1813&nbsp;&mdash; 1814 г.г.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208а.</p>

<p>Св.&nbsp;0.</p>

<p>Д. 70.</p>

<p>Л. 324, 324об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">107</td>

<td class="at-2">
<p>сентябрь 1814&nbsp;г.</p>
</td>

<td class="at-3">
<p>Именной список чинам <nobr>9-го</nobr> Башкирского полка, представлявшимся к&nbsp;наградам за&nbsp;отличие в&nbsp;боях в&nbsp;октябре 1813&nbsp;&mdash; марте 1814 г.г.</p>
</td>

<td class="at-4">
<p>Ф. 103.</p>

<p>Оп. 1/208а.</p>

<p>Св.&nbsp;0.</p>

<p>Д. 70.</p>

<p>Л. <nobr>325-326.</nobr></p>
</td>

<td class="at-5">
<p>Подлинник.</p>


</td>
</tr>

<tr>
<td class="at-1">108</td>

<td class="at-2">
<p>31&nbsp;мая 1821&nbsp;г.</p>
</td>

<td class="at-3">
<p>Грамота о&nbsp;награждении 20&nbsp;декабря</p>

<p>1812&nbsp;г. подполковника Ахтырского гусарского полка Д.В. Давыдова орденом Св. Георгия <nobr>4-го</nobr> класса за&nbsp;действия во&nbsp;главе партизанского отряда в&nbsp;тылу неприятеля в&nbsp;1812&nbsp;г.</p>
</td>

<td class="at-4">
<p>Ф. 194.</p>

<p>Оп.&nbsp;1.</p>

<p>Д. 1.</p>

<p>Л. 34, 34об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>
</td>
</tr>

<tr>
<td class="at-1">109</td>

<td class="at-2">
<p>16&nbsp;января</p>

<p>1825&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт командира отдельного Литовского корпуса генерал-лейтенанта Ф.Ф. Довре великому князю цесаревичу Константину Павловичу о&nbsp;внесении в&nbsp;формулярный список корнета Татарского уланского полка Домбровского <nobr>1-го</nobr> сведений о&nbsp;ранении его в&nbsp;1813&nbsp;г. в&nbsp;сражении при Бауцене.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 452.</p>

<p>Л. 1, 1об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Ф.Ф. Довре.</p>
</td>
</tr>

<tr>
<td class="at-1">110</td>

<td class="at-2">
<p>4&nbsp;сентября 1825&nbsp;г.</p>
</td>

<td class="at-3">
<p>Рапорт командира отдельного Литовского корпуса генерал-лейтенанта Ф.Ф. Довре великому князю цесаревичу Константину Павловичу о&nbsp;внесении в&nbsp;формулярный список ротмистра Татарского уланского полка Асановича сведений о&nbsp;ранении в&nbsp;1807&nbsp;г. при Фридланде.</p>
</td>

<td class="at-4">
<p>Ф. 25.</p>

<p>Оп. 2<span>/</span>161а.</p>

<p>Д. 452.</p>

<p>Л. 14, 14об.</p>
</td>

<td class="at-5">
<p>Подлинник.</p>

<p>Автограф Ф.Ф. Довре.</p>
</td>
</tr>
</table>



{% endblock %}