{% extends ':Frontend:layout_one_column.html.twig' %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block title %}
    {{ parent() }} — {{ 'Navigation.Virtual museums.Guide'|trans }}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdmuseum/js/museumGuides.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            armdMuseumGuides.init();
        });
    </script>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_title %}
    {{ "Museum Guide"|trans }}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_search %}
    <div class="search-category">
        <form id="museums-filter-form" action="{{ path('armd_museum_guide_list') }}">
            <span class="search-dates-label">{{ "search.select"|trans }}</span>
            <div class="search-category-selects">
                <select name="city" id="filter-city" class="uni">
                    <option value="">{{ "search.place"|trans }}</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}" {% if cityId and city.id == cityId %}selected="selected"{% endif %}>{{ city.title }}</option>
                    {% endfor %}
                </select>
                <select name="museum" id="filter-museum" class="uni">
                    <option value="">{{ "search.museum"|trans }}</option>
                    {% for museum in museums %}
                        <option value="{{ museum.id }}">{{ museum.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block one_column %}
    <div class="guide-text">
        <div class="guide-text_anons">
            <p>В первом выпуске путеводителя участвуют 16 музеев: Государственный Эрмитаж, а также победители конкурсов «Меняющийся музей в меняющемся мире» (2003–2011) и «Первая публикация» (2007–2011). </p>
        </div>
        <p>Издание задумано как многосерийное, ежегодное. Выбор музеев представляет масштаб и разнообразие российской музейной географии — от Калининграда до Находки, от собраний, вошедших в перечень лучших музеев мира, до новых музеев, привлекающих внимание яркими кураторскими проектами. Для каждого музея выпущена отдельная брошюра, они выполнены в едином стиле и собраны в один футляр.</p>
        <p>Одна из главных идей издания — сочетание полной справочной информации о музее и эссеистического подхода к описанию музейных коллекций. Каждая брошюра содержит практическую информацию: визитную карточку музея (история, состав коллекции и пр.), информацию для посетителей (контакты, режим работы, выходные дни, экскурсии и т. д.), карты и различные подсказки, каким образом лучше добраться до музея и где остановиться в городе. Основные тексты «МУЗЕЙНОГО ГИДА» — это эссе о музее, его экспозиции и (филиале) и его самых ярких проектах (в 12 брошюрах, посвящённых музею в целом) и эссе об отдельных музейных коллекциях (в 4 брошюрах). В путеводителе коллекции раритетов представляют хранители, а о музеях рассказывают их посетители, историки искусства, журналисты и культурологи.</p>
    </div>
    <div id="museums-container">
        {% render url('armd_museum_guide_list', {'cityId': cityId, 'museumId': museumId}) %}
    </div>
{% endblock %}