{% extends ':Frontend:layout_two_column.html.twig' %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block title %}
    {{ parent() }} — {{ 'Navigation.Virtual museums.Guide'|trans }}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdmuseum/js/museumGuides.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            armdMuseumGuides.init();
        });
    </script>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_title %}
    {{ "Museum Guide"|trans }}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_search %}
    <div class="search-category">
        <form id="museums-filter-form" action="{{ path('armd_museum_guide_list') }}">
            <span class="search-dates-label">{{ "search.select"|trans }}</span>
            <div class="search-category-selects">
                <select name="city" id="filter-city" class="uni">
                    <option value="">{{ "search.place"|trans }}</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}" {% if cityId and city.id == cityId %}selected="selected"{% endif %}>{{ city.title }}</option>
                    {% endfor %}
                </select>
                <select name="museum" id="filter-museum" class="uni">
                    <option value="">{{ "search.museum"|trans }}</option>
                    {% for museum in museums %}
                        <option value="{{ museum.id }}">{{ museum.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('armd_museum_virtual') }}">{{ 'menu.museum'|trans }}</a></li>
        <li><span>{{ 'menu.museum_guide'|trans }}</span></li>
    </ul>

    <div class="guide-text">
        <div class="guide-text_anons">
            <p>{{"museum_guides_anons"|trans}}</p>
        </div>
        <p>{{"museum_guides_text1"|trans}}</p>
        <p>{{"museum_guides_text2"|trans}}</p>
    </div>
    <div id="museums-container">
        {% render url('armd_museum_guide_list', {'cityId': cityId, 'museumId': museumId}) %}
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}
    {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}
    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
    </div>
{% endblock %}