{% extends ':Frontend:layout_one_column.html.twig' %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block title %}
    {{ parent() }} — {{ 'Navigation.Virtual museums.Title'|trans }}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.ui.selectgroup.css') }}">
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/jquery.ui.selectgroup.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('swf/swfobject/swfkrpano.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/armdmuseum/js/museums.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            armdMuseums.init();
        });
    </script>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_title %}
    {{ "Museums"|trans }}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_search %}
    <div class="search-category">
        <form id="museums-filter-form" action="{{ path('armd_museum_list') }}">
            <span class="search-dates-label">Выбрать</span>
            <div class="search-category-selects">
                <select name="region" id="select1" class="uni">
                    <option value="">Регион</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}" {% if region.id == regionId %}selected="selected"{% endif %}>{{ region.title }}</option>
                    {% endfor %}
                </select>
                <select name="category" id="select3" class="uni">
                    <option value="">Категория</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button search-dates-button">Показать</button>
        </form>
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block one_column %}
    {% render 'ArmdMuseumBundle:Default:list' with { region:regionId } %}
{% endblock %}