{#
<div class="museum-block">
    {% if museums|length > 0 %}
        <ul class="museum-list clearfix">
            {% for m in museums %}
                <li>
                    <div class="museum-list-one-wrap" style="">
                        <div class="museum-list-one">
                            <a href="{{ m.url }}" data-fancybox-type="iframe"
                               class="vob iframe">{% thumbnail m.image, 'billboard' %}</a>

                            <div class="museum-list-text">
                                <a href="{{ m.url }}" data-fancybox-type="iframe"
                                   class="vob iframe museum-list-header">{{ m.title|raw }}</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>Виртуальных музеев удовлетворяющих запросу не найдено</strong>
    {% endif %}
</div>
#}

<div class="plitka wide-plitka">
    {% if museums|length > 0 %}
        {% for m in museums %}
            <div class="plitka-one-wrap">
                <div class="plitka-one clearfix">
                    <div class="plitka-text">
                        <span class="plitka-name">
                            {{ m.title|raw }}
                        </span>
                        {#
                        <a href="#" class="plitka-type">Костромская область</a>
                        #}
                    </div>
                    <div class="museum-image-container">
                        <div class="museum-image" style="background-image:url({% path m.image, 'billboard' %});"></div>
                        <div class="museum-image-over">
                            <a class="museum-image-link vob iframe" href="{{ m.url }}" data-fancybox-type="iframe">
                                <span class="museum-image-text">
                                    Посетить<br />виртуальный<br />музей
                                </span>
                            </a>
                            <a href="#1" class="museum-instr-link">
                                инструкция по использованию<br />виртуального тура
                            </a>
                        </div>
                    </div>
                    {#
                    <div class="museum-chapter">
                        <a href="#"><img src="/new_design/images/museum-chapter.jpg" alt="" class="museum-chapter-image" /></a>
                        <a href="#" class="museum-chapter-label">
                            Посмотреть<br />
                            в разделе<br />
                            Образы России
                        </a>
                    </div>
                    #}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <strong>Виртуальных музеев удовлетворяющих запросу не найдено</strong>
    {% endif %}
</div>
