<div class="virt-museum-new-list">
    {% if museums|length > 0 %}
        {% for m in museums %}
            <div class="virt-museum-new-list-one">
                <a class="vob iframe" href="{{ m.url }}" data-fancybox-type="iframe"><img src="{% path m.bannerImage, 'banner' %}" alt="" /></a>
                <div class="virt-museum-circle">
                    <h2><span>{{ m.title|raw }}</span></h2>
                    <div class="virt-museum-list-one-descr">
                        {% if m.region %}
                                <a href="{{ path('armd_museum_virtual', { region:m.region.id }) }}" class="virt-museum-city">{{ m.region.title }}</a>
                            {% endif %}
                        <a class="virt-museum-link vob iframe" href="{{ m.url }}" data-fancybox-type="iframe">{{ "visit_museum"|trans|raw }}</a>
                        <a href="#instruction" class="virt-museum-instr">{{ "manual_instruction"|trans|raw }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <strong>{{ "museums_not_found"|trans }}</strong>
    {% endif %}
</div>
{#
<div class="tab active" id="plitka">
    <div id="museums-container" class="plitka wide-plitka">
        {% if museums|length > 0 %}
            {% for m in museums %}
                <div class="plitka-one-wrap">
                    <div class="plitka-one clearfix">
                        <div class="plitka-text">
                            <span class="plitka-name">
                                {{ m.title|raw }}
                            </span>
                            {% if m.region %}
                                <a href="{{ path('armd_museum_virtual', { region:m.region.id }) }}" class="plitka-type">{{ m.region.title }}</a>
                            {% endif %}
                        </div>
                        <div class="museum-image-container">
                            <div class="museum-image" style="background-image:url({% path m.bannerImage, 'banner' %});"></div>
                            <div class="museum-image-over">
                                <a class="museum-image-link vob iframe" href="{{ m.url }}" data-fancybox-type="iframe">
                                    <span class="museum-image-text">
                                        {{ "visit_museum"|trans|raw }}
                                    </span>
                                </a>
                                <a href="#instruction" class="museum-instr-link">
                                    {{ "manual_instruction"|trans|raw }}
                                </a>
                            </div>
                        </div>
                        {% if m.atlasObject %}
                            <div class="museum-chapter">
                                <a href="{{ path('armd_atlas_default_object_view', { id: m.atlasObject.id }) }}" title="{{ m.atlasObject.title }}">
                                    <img src="{% path m.atlasObject.primaryImage, 'imagesOfRussiaSmall' %}" alt="{{ m.atlasObject.title }}" class="museum-chapter-image" />
                                </a>
                                <a href="{{ path('armd_atlas_default_object_view', { id: m.atlasObject.id }) }}" class="museum-chapter-label">
                                    Посмотреть<br />
                                    в разделе<br />
                                    Образы России
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <strong>{{ "museums_not_found"|trans }}</strong>
        {% endif %}
    </div>
</div>
<div class="tab" id="list" style="display:none">
    <div class="museum-list-wrapper">
        {% set num_in_col = by_region|length//2 %}
        {% if by_region|length%2 %}{% set num_in_col = num_in_col + 1 %}{% endif %}
        {% for region in by_region %}
            {% if loop.first %}<ul class="museum-list">
            {% elseif loop.index == num_in_col %}</ul><ul class="museum-list">{% endif %}
            
                <li>
                    <section class="block">
                        <h1 class="long-border"><span>{{ region.region.title }}</span></h1>
                        <ul class="museum-list-level2">
                            {% for entity in region.list %}
                                <li><a class="vob iframe" data-fancybox-type="iframe" href="{{ entity.url }}">{{ entity.title|raw }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                </li>                
            {% if loop.last %}</ul>{% endif %}
        {% endfor %}
    </div>
</div>
#}
<div id="instruction" style="display:none;">
    <div class="window">
        <div class="block window-content">
    
            {% include 'ArmdMuseumBundle:Default:instruction.'~app.request.locale~'.html.twig' %}
    
    	</div>
    </div>
</div>

