{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Выдача в&nbsp;порядке и&nbsp;на&nbsp;основаниях, которые установлены законодательством Российской Федерации, свидетельства на&nbsp;право вывоза, временного ввоза культурных ценностей с&nbsp;территории Российской Федерации</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<h1>Получение свидетельства на&nbsp;право временного вывоза культурных ценностей</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Проект Административного регламента по&nbsp;исполнению Федеральной службой по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия государственных функций, связанных с&nbsp;принятием решений о&nbsp;возможности вывоза или временного вывоза культурных ценностей из&nbsp;Российской Федерации. Закон Российской Федерации от&nbsp;15&nbsp;апреля 1993&nbsp;г. №&nbsp;<nobr>4804-1</nobr> «О&nbsp;вывозе и&nbsp;ввозе культурных ценностей», Постановление правительства&nbsp;РФ от&nbsp;27&nbsp;апреля 2001&nbsp;г. №&nbsp;322 «Об&nbsp;утверждении экспертизы и&nbsp;контроля за&nbsp;вывозом культурных ценностей». </p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>30&nbsp;календарных дней с&nbsp;момента регистрации документов заявителя</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>За&nbsp;право вывоза (временного вывоза) культурных ценностей взимается госпошлина на&nbsp;основании Статьи 333.33 Налогового кодекса Российской Федерации (часть вторая) от&nbsp;5&nbsp;августа 2000 года №&nbsp;<nobr>117-ФЗ: 
			<ul>
			<li>за право вывоза: 
				<ul>
					<li>культурных ценностей, созданных более 50&nbsp;лет назад,&nbsp;— 10&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
					<li>культурных ценностей, созданных 50&nbsp;лет назад и&nbsp;менее,&nbsp;— 5&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
					<li> предметов коллекционирования по&nbsp;палеонтологии&nbsp;— 10&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
					<li>предметов коллекционирования по&nbsp;минералогии&nbsp;— 5&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
				</ul></li>
			<li>за&nbsp;право временного вывоза культурных ценностей&nbsp;— 0,01 процента страховой стоимости временно вывозимых культурных ценностей. </li>
			</ul>
		<p>От&nbsp;уплаты государственной пошлины освобождаются: 
			<ul>
				<li>государственные и&nbsp;муниципальные музеи, архивы, библиотеки и&nbsp;иные государственные и&nbsp;муниципальные хранилища культурных ценностей&nbsp;— за&nbsp;право временного вывоза культурных ценностей, находящихся в&nbsp;их&nbsp;фондах на&nbsp;постоянном хранении; </li>
				<li>физические лица&nbsp;— авторы культурных ценностей&nbsp;— за&nbsp;право вывоза (временного вывоза) ими культурных ценностей. </li>
			</ul>
		<p>Государственная пошлина не&nbsp;уплачивается в&nbsp;случае вывоза культурных ценностей, истребованных из&nbsp;чужого незаконного владения и&nbsp;возвращаемых собственнику, а&nbsp;также в&nbsp;случаях, если вывоз осуществляют сотрудники дипломатического корпуса и&nbsp;члены их&nbsp;семей. </p>
		</li>
	</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Заявление о&nbsp;предоставлении права временного вывоза (<a href="http://mkrf.ru/upload/mkrf/mkdocs2011/01_11_2011_1.doc" target="_blank">Скачать «Приложение 1&nbsp;к 7»</a>)</li>
			<li>Приложения:
				<ul>
					<li>по&nbsp;3&nbsp;цветных фотографии каждой культурной ценности размером не&nbsp;менее <nobr>10-15 см;</nobr></li>
					<li>список с&nbsp;описанием вывозимых культурных ценностей (в&nbsp;3&nbsp;экземплярах при количестве предметов более двух);</li>
					<li>ксерокопия выездного документа физического лица; ксерокопию свидетельства о&nbsp;государственной регистрации юридического лица;</li>
					<li>ксерокопии документов, подтверждающие право собственности на&nbsp;заявляемые к&nbsp;вывозу культурные ценности (с&nbsp;предоставлением оригиналов);</li>
					<li>документы, удостоверяющие стоимость культурных ценностей;</li>
					<li>доверенность на&nbsp;оформление свидетельства на&nbsp;право вывоза культурных ценностей для лица, уполномоченного на&nbsp;это их&nbsp;собственником.</li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 628-50-89</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
<ul> 
	<li>Лично </li>
	<li>Через законного представителя </li>
	<li>Почтой </li>
 </ul>	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
<ul> 
	<li>Лично </li>
	<li>Через законного представителя </li>
 </ul>	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>ФНС России и Федеральное казначейство </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Получение свидетельства на&nbsp;право временного вывоза культурных ценностей с&nbsp;территории Российской Федерации</h4>
<p>Получение заявителем свидетельства о&nbsp;предоставлении права временного вывоза культурных ценностей или уведомление об&nbsp;отказе в&nbsp;предоставлении права временного вывоза культурных ценностей. </p>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Свидетельство на&nbsp;право вывоза культурных ценностей</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Отказ в&nbsp;получении свидетельства на&nbsp;право временного вывоза культурных ценностей с&nbsp;территории Российской Федерации</h4>
<p>Отказ производится по&nbsp;следующим причинам: 
<ul> 
	<li>не&nbsp;определен собственник культурных ценностей; </li>
	<li>отказ заявителя от&nbsp;проведения экспертизы культурных ценностей; </li>
	<li>заключение экспертизы с&nbsp;выводом о&nbsp;невозможности временного вывоза культурной ценности; </li>
	<li>незаконное владение культурной ценностью; </li>
	<li>отказ заявителя заключить с&nbsp;Минкультуры России договор о&nbsp;возврате вывозимых культурных ценностей; </li>
	<li>непредставление заявителем необходимых документов; </li>
	<li>отсутствие гарантий обратного ввоза культурных ценностей; </li>
	<li>непредвиденные обстоятельства (в&nbsp;стране, в&nbsp;которую предполагается осуществить временный вывоз культурных ценностей, произошло стихийное бедствие, имеют место вооруженные конфликты, другие обстоятельства, препятствующие обеспечению сохранности временно вывозимых культурных ценностей, в&nbsp;том числе отсутствие дипломатических отношений). </li>
 </ul>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление об&nbsp;отказе в&nbsp;предоставлении права вывоза</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Заявитель вправе обжаловать действия (бездействия) и&nbsp;решения, осуществляемые (принятые) в&nbsp;ходе исполнения данной государственной функции (далее&nbsp;— жалоба):
	<ul>
		<li>в&nbsp;порядке подчинённости: руководителю Минкультуры России или его заместителю;</li>
		<li>в&nbsp;судебном порядке.</li>
	</ul>
	<p>Жалоба в&nbsp;письменной форме должна содержать: 
	<ul>
		<li>фамилию, имя, при наличии отчество гражданина или его представителя (наименование юридического лица), которым подается жалоба. Если жалоба подаётся от&nbsp;имени юридического лица, то&nbsp;указывается фамилия, имя, при наличии отчество руководителя юридического лица; </li>
		<li>место жительства или пребывания гражданина (место нахождения юридического лица) и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>наименование органа&nbsp;и (или) фамилия, имя, при наличии отчество должностного лица (при наличии информации), решение, действие (бездействие) которого обжалуется; </li>
		<li>суть обжалуемого действия (бездействия). </li>
	</ul>
	<p>Письменная жалоба, поступившая в&nbsp;Минкультуры России, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
	<p>В&nbsp;исключительных случаях, предусмотренных законодательством Российской Федерации, руководитель Минкультуры России либо уполномоченное должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока ее&nbsp;рассмотрения заявителя, направившего жалобу. </p>
	<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
	<p>Граждане и&nbsp;юридические лица вправе обжаловать решения, принятые в&nbsp;ходе осуществления государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
 <p>«Приказ Россвязьохранкультуры РФ&nbsp;„О&nbsp;перечне культурных ценностей, подпадающих под действие Закона Российской Федерации от&nbsp;15&nbsp;апреля 1993 года N&nbsp;<nobr>4804-1</nobr> "О&nbsp;вывозе и&nbsp;ввозе культурных ценностей“, и&nbsp;документации, оформляемой на&nbsp;право их&nbsp;вывоза с&nbsp;территории Российской Федерации"» <br/>
	<em>117 Приказ от&nbsp;2008-03-14 <br/>
 НПА, непосредственно регулирующий предоставление ГУ</em> 
</p>
<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;утверждении положения о&nbsp;порядке взимания и&nbsp;критериях определения размера платы за&nbsp;проведение государственной экспертизы культурных ценностей" (Зарегистрирован в&nbsp;Минюсте РФ&nbsp;11&nbsp;июля 2002&nbsp;г. №&nbsp;3570)» <br/>
	<em>888 Приказ от&nbsp;2002-06-04 <br/>
 Прочее</em> 
</p>
<p>«Постановление Правительства Российской Федерации "Об&nbsp;утверждении Положения о&nbsp;Федеральной службе по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия"» <br/>
	<em>407 Постановление от&nbsp;2008-05-29 <br/>
 Прочее</em> 
</p>
<p>«Соглашение "О&nbsp;вывозе и&nbsp;ввозе культурных ценностей"» <br/>
	<em>—&nbsp;Решение от&nbsp;2001-09-28 <br/>
 Прочее</em> 
</p>
<p>«Закон Российской Федерации "О&nbsp;вывозе и&nbsp;ввозе культурных ценностей"» <br/>
	<em><nobr>4804-1</nobr> Закон от&nbsp;1993-04-15 <br/>
 Прочее</em> 
</p>
<p>«Постановление Правительства Российской Федерации "Об&nbsp;утверждении Положения о&nbsp;проведении экспертизы и&nbsp;контроля за&nbsp;вывозом культурных ценностей"» <br/>
	<em>322 Постановление от&nbsp;2001-04-27 <br/>
 Прочее</em> 
</p>
</div>
</section>

<h1>Получение свидетельства на&nbsp;право вывоза культурных ценностей либо уведомление об&nbsp;отказе в&nbsp;предоставлении права вывоза</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Проект Административного регламента по&nbsp;исполнению Федеральной службой по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия государственных функций, связанных с&nbsp;принятием решений о&nbsp;возможности вывоза или временного вывоза культурных ценностей из&nbsp;Российской Федерации. </p>
<p>Закон Российской Федерации от&nbsp;15&nbsp;апреля 1993&nbsp;г. №&nbsp;<nobr>4804-1</nobr> «О&nbsp;вывозе и&nbsp;ввозе культурных ценностей», Постановление правительства&nbsp;РФ от&nbsp;27&nbsp;апреля 2001&nbsp;г. №&nbsp;322 «Об&nbsp;утверждении экспертизы и&nbsp;контроля за&nbsp;вывозом культурных ценностей».</p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>30&nbsp;календарных дней с&nbsp;момента регистрации документов заявителя</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>За&nbsp;право вывоза (временного вывоза) культурных ценностей взимается госпошлина на&nbsp;основании Статьи 333.33 Налогового кодекса Российской Федерации (часть вторая) от&nbsp;5&nbsp;августа 2000 года №&nbsp;<nobr>117-ФЗ: 
			<ul>
			<li>за право вывоза: 
				<ul>
					<li>культурных ценностей, созданных более 50&nbsp;лет назад,&nbsp;— 10&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
					<li>культурных ценностей, созданных 50&nbsp;лет назад и&nbsp;менее,&nbsp;— 5&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
					<li> предметов коллекционирования по&nbsp;палеонтологии&nbsp;— 10&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
					<li>предметов коллекционирования по&nbsp;минералогии&nbsp;— 5&nbsp;процентов стоимости вывозимых культурных ценностей; </li>
				</ul></li>
			<li>за&nbsp;право временного вывоза культурных ценностей&nbsp;— 0,01 процента страховой стоимости временно вывозимых культурных ценностей. </li>
			</ul>
		<p>От&nbsp;уплаты государственной пошлины освобождаются: 
			<ul>
				<li>государственные и&nbsp;муниципальные музеи, архивы, библиотеки и&nbsp;иные государственные и&nbsp;муниципальные хранилища культурных ценностей&nbsp;— за&nbsp;право временного вывоза культурных ценностей, находящихся в&nbsp;их&nbsp;фондах на&nbsp;постоянном хранении; </li>
				<li>физические лица&nbsp;— авторы культурных ценностей&nbsp;— за&nbsp;право вывоза (временного вывоза) ими культурных ценностей. </li>
			</ul>
		<p>Государственная пошлина не&nbsp;уплачивается в&nbsp;случае вывоза культурных ценностей, истребованных из&nbsp;чужого незаконного владения и&nbsp;возвращаемых собственнику, а&nbsp;также в&nbsp;случаях, если вывоз осуществляют сотрудники дипломатического корпуса и&nbsp;члены их&nbsp;семей. </p>
		</li>
	</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Заявление о&nbsp;предоставлении права временного вывоза (<a href="http://mkrf.ru/upload/mkrf/mkdocs2011/01_11_2011_1.doc" target="_blank">Скачать «Приложение 1&nbsp;к 7»</a>)</li>
			<li>Приложения:
				<ul>
					<li>по&nbsp;3&nbsp;цветных фотографии каждой культурной ценности размером не&nbsp;менее <nobr>10-15 см;</nobr></li>
					<li>список с&nbsp;описанием вывозимых культурных ценностей (в&nbsp;3&nbsp;экземплярах при количестве предметов более двух);</li>
					<li>ксерокопия выездного документа физического лица; ксерокопию свидетельства о&nbsp;государственной регистрации юридического лица;</li>
					<li>ксерокопии документов, подтверждающие право собственности на&nbsp;заявляемые к&nbsp;вывозу культурные ценности (с&nbsp;предоставлением оригиналов);</li>
					<li>документы, удостоверяющие стоимость культурных ценностей;</li>
					<li>доверенность на&nbsp;оформление свидетельства на&nbsp;право вывоза культурных ценностей для лица, уполномоченного на&nbsp;это их&nbsp;собственником.</li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 628-50-89</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>
<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
<ul> 
	<li>Лично </li>
	<li>Через законного представителя </li>
	<li>Почтой </li>
 </ul>	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
<ul> 
	<li>Лично </li>
	<li>Через законного представителя </li>
 </ul>	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>ФНС России и Федеральное казначейство </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Получение свидетельства на&nbsp;право временного вывоза культурных ценностей с&nbsp;территории Российской Федерации</h4>
<p>Получение заявителем свидетельства о&nbsp;предоставлении права временного вывоза культурных ценностей или уведомление об&nbsp;отказе в&nbsp;предоставлении права временного вывоза культурных ценностей. </p>
<table>
  <tr>
    <th>Получаемые документы</th>
    <td>
		<ol>
			<li>Свидетельство на&nbsp;право вывоза культурных ценностей</li>
			<li>Справка на&nbsp;вывоз предметов культурного назначения</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Отказ в&nbsp;получении свидетельства на&nbsp;право временного вывоза культурных ценностей с&nbsp;территории Российской Федерации</h4>
<p>Отказ производится по&nbsp;следующим причинам: 
<ul> 
	<li>выявление в&nbsp;процессе рассмотрения документов, представленных заявителем, обстоятельств, свидетельствующих об&nbsp;отсутствии у&nbsp;заявителя правомочий, позволяющих осуществить вывоз культурных ценностей с&nbsp;территории Российской Федерации; </li>
	<li>отказ заявителя от&nbsp;проведения экспертизы культурных ценностей; </li>
	<li>выявление обстоятельств, свидетельствующих о&nbsp;незаконности владения заявленной к&nbsp;вывозу культурной ценностью; </li>
	<li>заключение экспертизы с&nbsp;выводом относительно невозможности вывоза культурной ценности; </li>
	<li>непредставление заявителем необходимых документов; </li>
	<li>культурная ценность подпадает под действие статьи 9&nbsp;Закона Российской Федерации от&nbsp;15&nbsp;апреля 1993&nbsp;г. №&nbsp;<nobr>4804–1</nobr> «О&nbsp;вывозе и&nbsp;ввозе культурных ценностей». </li>
 </ul>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление об&nbsp;отказе в&nbsp;предоставлении права вывоза</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Заявитель вправе обжаловать действия (бездействия) и&nbsp;решения, осуществляемые (принятые) в&nbsp;ходе исполнения данной государственной функции (далее&nbsp;— жалоба):
	<ul>
		<li>в&nbsp;порядке подчинённости: руководителю Минкультуры России или его заместителю;</li>
		<li>в&nbsp;судебном порядке.</li>
	</ul>
	<p>Жалоба в&nbsp;письменной форме должна содержать: 
	<ul>
		<li>фамилию, имя, при наличии отчество гражданина или его представителя (наименование юридического лица), которым подается жалоба. Если жалоба подаётся от&nbsp;имени юридического лица, то&nbsp;указывается фамилия, имя, при наличии отчество руководителя юридического лица; </li>
		<li>место жительства или пребывания гражданина (место нахождения юридического лица) и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>наименование органа&nbsp;и (или) фамилия, имя, при наличии отчество должностного лица (при наличии информации), решение, действие (бездействие) которого обжалуется; </li>
		<li>суть обжалуемого действия (бездействия). </li>
	</ul>
	<p>Письменная жалоба, поступившая в&nbsp;Минкультуры России, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
	<p>В&nbsp;исключительных случаях, предусмотренных законодательством Российской Федерации, руководитель Минкультуры России либо уполномоченное должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока ее&nbsp;рассмотрения заявителя, направившего жалобу. </p>
	<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
	<p>Граждане и&nbsp;юридические лица вправе обжаловать решения, принятые в&nbsp;ходе осуществления государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Россвязьохранкультуры РФ&nbsp;"О&nbsp;перечне культурных ценностей, подпадающих под действие Закона Российской Федерации от&nbsp;15&nbsp;апреля 1993 года N&nbsp;<nobr>4804-1</nobr> &quot;О&nbsp;вывозе и&nbsp;ввозе культурных ценностей“, и&nbsp;документации, оформляемой на&nbsp;право их&nbsp;вывоза с&nbsp;территории Российской Федерации"» <br/>
	<em>117 Приказ от&nbsp;2008-03-14 <br/>
 НПА, непосредственно регулирующий предоставление ГУ</em> 
</p>
<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;утверждении положения о&nbsp;порядке взимания и&nbsp;критериях определения размера платы за&nbsp;проведение государственной экспертизы культурных ценностей" (Зарегистрирован в&nbsp;Минюсте РФ&nbsp;11&nbsp;июля 2002&nbsp;г. №&nbsp;3570)» <br/>
	<em>888 Приказ от&nbsp;2002-06-04 <br/>
 Прочее</em> 
</p>
<p>«Постановление Правительства Российской Федерации "Об&nbsp;утверждении Положения о&nbsp;Федеральной службе по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия"» <br/>
	<em>407 Постановление от&nbsp;2008-05-29 <br/>
 Прочее</em> 
</p>
<p>«Соглашение "О&nbsp;вывозе и&nbsp;ввозе культурных ценностей"» <br/>
	<em>—&nbsp;Решение от&nbsp;2001-09-28 <br/>
 Прочее</em> 
</p>
<p>«Закон Российской Федерации "О&nbsp;вывозе и&nbsp;ввозе культурных ценностей"» <br/>
	<em><nobr>4804-1</nobr> Закон от&nbsp;1993-04-15 <br/>
 Прочее</em> 
</p>
<p>«Постановление Правительства Российской Федерации "Об&nbsp;утверждении Положения о&nbsp;проведении экспертизы и&nbsp;контроля за&nbsp;вывозом культурных ценностей"» <br/>
	<em>322 Постановление от&nbsp;2001-04-27 <br/>
 Прочее</em> 
</p>
</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}