{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Лицензирование деятельности по&nbsp;сохранению объектов культурного наследия (памятников истории и&nbsp;культуры) народов Российской Федерации</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
<tr>
<th>Требования по&nbsp;срокам</th>
<td>
		<ul>
			<li>45&nbsp;(сорок пять) рабочих дней со&nbsp;дня поступления в&nbsp;лицензирующий орган заявления о&nbsp;предоставлении лицензии и&nbsp;полного комплекта прилагаемых к&nbsp;нему документов</li>
		</ul>
	</td>
</tr>
<tr>
<th>Категории получателей</th>
<td>
		<ul>
			<li>Юридические лица</li>
			<li>Индивидуальные предприниматели</li>
		</ul>
</td>
</tr>
<tr>
<th>Порядок, размер и&nbsp;основания взимания государственной пошлины</th>
<td>
		<ul>
			<li>За&nbsp;предоставление лицензии, переоформление лицензии, выдачу дубликата лицензии уплачивается государственная пошлина в&nbsp;размерах и&nbsp;в&nbsp;порядке, которые установлены законодательством Российской Федерации о&nbsp;налогах и&nbsp;сборах.<br><br>
			В&nbsp;соответствии с&nbsp;Налоговым кодексом Российской Федерации за&nbsp;совершение юридически значимых действий при предоставлении государственной услуги заявитель должен оплатить государственную пошлину:
			<ul>
				<li>предоставление лицензии&nbsp;&mdash; 6000&nbsp;рублей; </li>
				<li>переоформление лицензии (увеличение/изменение перечня выполняемых работ)&nbsp;&mdash; 2600&nbsp;рублей; </li>
				<li>переоформление лицензии (другие случаи)&nbsp;&mdash; 600&nbsp;рублей; </li>
				<li>предоставление дубликата лицензии&nbsp;&mdash; 600&nbsp;рублей. </li>
			</ul></li>
		</ul>
	</td>
</tr>

<tr>
<th>Реквизиты для уплаты государственной пошлины</th>
<td>
		<ul>
			<li>ИНН&nbsp;&mdash; 7705851331 <br/>
КПП&nbsp;&mdash; 770501001 <br/>
Получатель&nbsp;&mdash; Межрегиональное операционное УФК (Министерство культуры Российской Федерации л/сч 04951000540) <br/>
р/с 40101810500000001901 <br/>
Банк ОПЕРУ-1 Банка России, г. Москва <br/>
БИК 044501002 <br/>
В&nbsp;налоговой строке указываются <br/>
В&nbsp;поле 104&nbsp;КБК 054 1 08 07081 01 1000&nbsp;110 <br/>
В&nbsp;поле 105&nbsp;ОКАТО 45286580000. <br/>
В&nbsp;назначении платежа необходимо указывать: Государственная пошлина за&nbsp;лицензирование.</li>
		</ul>
	</td>
</tr>
<tr>
<th>Варианты оплаты</th>
<td>
		<ul>
			<li>безналичный расчет</li>
			<li>наличный расчет через банк по&nbsp;установленным банковским реквизитам</li>
		</ul>
	</td>
</tr>
<tr>
<th>Документы </th>
<td>		
		<ul>
			<li>Заявление о&nbsp;предоставлении лицензии, которое подписывается руководителем постоянно действующего исполнительного органа юридического лица или иным, имеющим право действовать от&nbsp;имени этого юридического лица лицом, либо индивидуальным предпринимателем; </li>
			<li>Копии учредительных документов юридического лица, засвидетельствованные в&nbsp;нотариальном порядке; </li>
			<li>Копии документов, подтверждающие соответствие соискателя лицензии лицензионным требованиям, установленным пунктами&nbsp;4а) или 4б) Положения о&nbsp;лицензировании деятельности по&nbsp;сохранению объектов культурного наследия (памятников истории и&nbsp;культуры) народов Российской Федерации; </li>
			<li>Документ, подтверждающий уплату соискателем лицензии государственной пошлины за&nbsp;предоставление лицензии (2600&nbsp;руб.) </li>
			<li>Опись прилагаемых документов. </li>
		</ul>
	</td>
</tr>
<tr>
<th>Адреса и&nbsp;телефоны</th>
<td>
<table>
<caption>Заявление о&nbsp;предоставлении лицензии и&nbsp;прилагаемые к&nbsp;нему документы соискателем лицензии представляются в&nbsp;лицензирующий орган <strong>непосредственно</strong> или <strong>направляются заказным почтовым отправлением</strong> с&nbsp;уведомлением о&nbsp;вручении.</caption>
<tr>
<th>Почтовый адрес:</th>
<td>125993, Москва, М.&nbsp;Гнездниковский пер., 7/6, строения 1,2 (Экспедиция)</td>
</tr>
		 <tr>
<th>Место приема документов:</th>
<td>Москва, М.&nbsp;Гнездниковский пер., 7/6, строения 1,2 (Экспедиция, 1&nbsp;этаж)</td>
</tr>
<tr>
<th>Часы приема документов:</th>
<td>Экспедиция: <span class="nowrap"><nobr class="phone">+7 (495) 629-00-16</nobr></span> <br>
			понедельник&nbsp;&mdash; четверг: 10:00&nbsp;&mdash; 17:00<br>
пятница и&nbsp;предпраздничные дни: 10:00&nbsp;&mdash; 16:00<br>
			перерыв: 12:00&nbsp;&mdash; 13:00<br>
суббота, воскресенье: выходной
		 </td>
</tr>
		<tr>
<th>Телефоны для получения информации о&nbsp;рассмотрении документов и&nbsp;консультации по&nbsp;вопросам лицензирования</th>
<td> 
			<span class="nowrap"><nobr class="phone">+7 (495) 623-87-36</nobr> (с&nbsp;10:00 до&nbsp;12:00)</span> <br>
			<span class="nowrap"><nobr class="phone">+7 (495) 628-24-90</nobr> (с&nbsp;14:00 до&nbsp;17:00)</span> <br>
		 
		 Режим работы:<br>
понедельник&nbsp;&mdash; четверг: 9:00&nbsp;&mdash; 18:00<br>
пятница: 9:00&nbsp;&mdash; 16:45<br>
суббота, воскресенье: выходной
		 
		 
		 </td>
</tr>

</table>

</td>
</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
<tr>
<th>Способы подачи заявки</th>
<td>
		<ul>
			<li>Лично</li>
			<li>Через представителя по&nbsp;доверенности</li>
			<li>Заказным почтовым отправлением с&nbsp;уведомлением о&nbsp;вручении</li>
			<li>В&nbsp;форме электронного документа, подписанного электронной подписью</li>
		</ul>
	</td>
</tr>
<tr>
<th>Способы получения результата</th>
<td>
		<ul>
			<li>Лично</li>
			<li>Через представителя по&nbsp;доверенности</li>
			<li>Заказным почтовым отправлением с&nbsp;уведомлением о&nbsp;вручении</li>
			<li>В&nbsp;форме электронного документа, подписанного электронной подписью</li>

		</ul>
	</td>
</tr>

<tr>
<th>Результаты оказания услуги</th>
<td>
		<ul>
			<li>Принятие решения о&nbsp;предоставлении лицензии на&nbsp;осуществление деятельности по&nbsp;сохранению объектов культурного наследия (памятников истории и&nbsp;культуры) народов Российской Федерации; оформление приказа о&nbsp;предоставлении лицензии.</li>

		</ul>
	</td>
</tr>


<tr>
<th>Фиксация результата оказания услуги</th>
<td>
		<ul>
			<li>В&nbsp;Минкультуры России фиксируются факты: поступления заявления о&nbsp;предоставлении лицензии, отправки уведомления об&nbsp;устранении нарушений, возврат соискателю лицензии заявления и&nbsp;прилагаемых к&nbsp;нему документов с&nbsp;мотивированным обоснованием причин возврата, дата и&nbsp;номер распоряжения о&nbsp;проведении документарной проверки соискателя лицензии, дата и&nbsp;номер акта проверки, факт принятия решения (номер и&nbsp;дата приказа). В&nbsp;журнале выдачи лицензий фиксируется факт получения лицензии с&nbsp;подлинной подписью первого лица или доверенного лица с&nbsp;указанием реквизитов доверенности.</li>

		</ul>
	</td>
</tr>
</table>
</div>
</section>

<h1>Переоформление лицензии на&nbsp;осуществление деятельности по&nbsp;сохранению объектов культурного наследия (памятников истории и&nbsp;культуры) народов Российской Федерации</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Лицензия подлежит переоформлению в&nbsp;случаях реорганизации юридического лица в&nbsp;форме преобразования, изменения его наименования, адреса места нахождения, а&nbsp;также в&nbsp;случаях изменения места жительства, имени, фамилии&nbsp;и (в&nbsp;случае, если имеется) отчества индивидуального предпринимателя, реквизитов документа, удостоверяющего его личность, адресов мест осуществления юридическим лицом или индивидуальным предпринимателем лицензируемого вида деятельности, перечня выполняемых работ, оказываемых услуг, составляющих лицензируемый вид деятельности. </p>
<table>
<tr>
<th>Требования по&nbsp;срокам</th>
<td>
		<ul>
			<li>В&nbsp;случаях реорганизации юридического лица в&nbsp;форме преобразования, изменения его наименования, адреса места нахождения, а&nbsp;также в&nbsp;случаях изменения места жительства, имени, фамилии&nbsp;и (в&nbsp;случае, если имеется) отчества индивидуального предпринимателя, реквизитов документа, удостоверяющего его личность)&nbsp;&mdash; <strong>10&nbsp;(десять) рабочих дней</strong> со&nbsp;дня поступления в&nbsp;лицензирующий орган заявления о&nbsp;переоформлении лицензии и&nbsp;полного комплекта прилагаемых к&nbsp;нему документов;</li>
			<li>При намерении лицензиата внести изменения в&nbsp;указанный в&nbsp;лицензии перечень выполняемых работ, составляющих лицензируемый вид деятельности&nbsp;&mdash; <strong>30&nbsp;(тридцать) рабочих дней</strong> со&nbsp;дня поступления в&nbsp;лицензирующий орган заявления о&nbsp;переоформлении лицензии и&nbsp;полного комплекта прилагаемых к&nbsp;нему документов.</li>
		</ul>
	</td>
</tr>
<tr>
<th>Документы </th>
<td>		
		<ul>
			<li>Заявление о&nbsp;переоформлении лицензии, подписанное руководителем постоянно действующего исполнительного органа юридического лица или иным, имеющим право действовать от&nbsp;имени этого юридического лица лицом, либо индивидуальным предпринимателем;</li>
			<li>Оригинал действующей лицензии;</li>
			<li>Документ, подтверждающий уплату соискателем лицензии государственной пошлины за&nbsp;переоформление лицензии;</li>
			<li>Опись прилагаемых документов.</li>
		</ul>
		<p>При намерении лицензиата внести изменения в&nbsp;указанный в&nbsp;лицензии перечень выполняемых работ, составляющих лицензируемый вид деятельности, в&nbsp;заявлении о&nbsp;переоформлении лицензии указываются сведения о&nbsp;работах, которые лицензиат намерен выполнять, или о&nbsp;работах, выполнение, которых лицензиатом прекращаются. </p>
		<p>При намерении лицензиата выполнять новые работы, составляющие лицензируемый вид деятельности, в&nbsp;заявлении о&nbsp;переоформлении лицензии также указываются сведения, подтверждающие соответствие лицензиата лицензионным требованиям при выполнении данных работ.</p>
	</td>
</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Принятие решения о&nbsp;переоформлении лицензии на&nbsp;осуществление деятельности по&nbsp;сохранению объектов культурного наследия (памятников истории и&nbsp;культуры) народов Российской Федерации; оформление приказа о&nbsp;переоформлении лицензии. </p>
<table>
<tr>
<th>Фиксация результата оказания услуги</th>
<td>
		<ul>
			<li>Минкультуры России фиксируются факты: поступления заявления о&nbsp;переоформлении лицензии, отправки уведомления об&nbsp;устранении нарушений, возврат лицензиату заявления и&nbsp;прилагаемых к&nbsp;нему документов с&nbsp;мотивированным обоснованием причин возврата, дата и&nbsp;номер распоряжения о&nbsp;проведении документарной проверки лицензиата, дата и&nbsp;номер акта проверки, факт принятия решения (номер и&nbsp;дата приказа). В&nbsp;журнале выдачи лицензий фиксируется факт получения лицензии с&nbsp;подлинной подписью первого лица или доверенного лица с&nbsp;указанием реквизитов доверенности.</li>
		</ul>
	</td>
</tr>
</table>
<h4>Принятие решения о&nbsp;предоставлении или переоформлении лицензии</h4>
<table>
<tr>
<th>Получаемый документ</th>
<td>
		<ol>
			<li>Лицензия (форма документа установлена постановлением Правительства Российской Федерации от&nbsp;6&nbsp;октября 2011&nbsp;г. &#8470;&nbsp;826)</li>
		</ol>
	</td>
</tr>
<tr>
<th>Осуществляемые правовые действия</th>
<td>
		<ul>
			<li>Размещение информации на&nbsp;официальном сайте Минкультуры России</li>
		</ul>
	</td>
</tr>
</table>

<h4>Принятие решения об&nbsp;отказе в&nbsp;предоставлении или переоформлении лицензии</h4>
<p>Основанием отказа в&nbsp;предоставлении (переоформлении) лицензии является: </p>
<ul>
	<li>наличие в&nbsp;представленных соискателем лицензии (лицензиатом) заявлении о&nbsp;предоставлении (переоформлении) лицензии&nbsp;и (или) прилагаемых к&nbsp;нему документах недостоверной или искаженной информации; </li>
	<li>установленное в&nbsp;ходе проверки несоответствие соискателя лицензии (лицензиата) лицензионным требованиям. </li>
</ul>
<table>
<tr>
<th>Получаемый документ</th>
<td>
		<ol>
			<li>Уведомление об&nbsp;отказе в&nbsp;предоставлении (переоформлении) лицензии.</li>
		</ol>
	</td>
</tr>
<tr>
<th>Осуществляемые правовые действия</th>
<td>
		<ul>
			<li>Уведомление об&nbsp;отказе в&nbsp;предоставлении (переоформлении) лицензии</li>
			<li>Размещение информации на&nbsp;официальном сайте Минкультуры России</li>
		</ul>
	</td>
</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Решение лицензирующего органа об&nbsp;отказе в&nbsp;предоставлении (переоформлении) лицензии или бездействие лицензирующего органа может быть обжаловано соискателем лицензии в&nbsp;порядке, установленном законодательством Российской Федерации. </p>
</div>
</section>

<h1>Дубликат лицензии</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
<tr>
<th>Требования по&nbsp;срокам</th>
<td>
		<ul>
			<li>3&nbsp;(три) рабочих дня со&nbsp;дня получения заявления о&nbsp;предоставлении дубликата</li>
		</ul>
	</td>
</tr>
<tr>
<th>Документы </th>
<td>		
		<ul>
			<li>Заявление о&nbsp;предоставлении дубликата лицензии;</li>
			<li>Документ, подтверждающий уплату государственной пошлины за&nbsp;предоставление дубликата (200&nbsp;руб.);</li>
			<li>В&nbsp;случае порчи&nbsp;&mdash; испорченный бланк лицензии.</li>
		</ul>
	</td>
</tr>
</table>
</div>
</section>

<h1>Копия лицензии</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Лицензиат имеет право на&nbsp;получение от&nbsp;лицензирующего органа копии лицензии, которая заверена им&nbsp;и&nbsp;вручается лицензиату или направляется ему заказным почтовым отправлением с&nbsp;уведомлением о&nbsp;вручении в&nbsp;течение&nbsp;3 (трех) рабочих дней со&nbsp;дня получения заявления о&nbsp;предоставлении копии лицензии.</p>
</div>
</section>
<h1>Порядок приостановления лицензии </h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Приостановление действия лицензии осуществляется Минкультуры России в&nbsp;следующих случаях: </p>
<p>Привлечение лицензиата к&nbsp;административной ответственности за&nbsp;неисполнение в&nbsp;установленный срок предписания об&nbsp;устранении грубого нарушения лицензионных требований, выданного лицензирующим органом в&nbsp;порядке, установленном законодательством Российской Федерации; </p>
<p>Назначение лицензиату административного наказания в&nbsp;виде административного приостановления деятельности за&nbsp;грубое нарушение лицензионных требований в&nbsp;порядке, установленном законодательством Российской Федерации. </p>
<p>В&nbsp;случае вынесения судьей решения об&nbsp;административном приостановлении деятельности лицензиата за&nbsp;нарушение лицензионных требований и&nbsp;условий Минкультуры России в&nbsp;течение суток со&nbsp;дня вступления данного решения в&nbsp;законную силу приостанавливает действие лицензии на&nbsp;срок административного приостановления деятельности лицензиата. </p>
</div>
</section>

<h1>Порядок возобновления действия лицензии </h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Действие лицензии возобновляется Министерством культуры Российской Федерации со&nbsp;дня, следующего за&nbsp;днем истечения срока административного приостановления деятельности лицензиата, или со&nbsp;дня, следующего за&nbsp;днем досрочного прекращения исполнения административного наказания в&nbsp;виде административного приостановления деятельности лицензиата.</p>
</div>
</section>

<h1>Порядок прекращения действия лицензии</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Действие лицензии прекращается в&nbsp;следующих случаях: </p>
<ul>
	<li>представление лицензиатом в&nbsp;лицензирующий орган заявления о&nbsp;прекращении лицензируемого вида деятельности; </li>
	<li>прекращение физическим лицом деятельности в&nbsp;качестве индивидуального предпринимателя; </li>
	<li>прекращение деятельности юридического лица (за&nbsp;исключением реорганизации в&nbsp;форме преобразования или слияния); </li>
	<li>наличие решения суда об&nbsp;аннулировании лицензии. </li>
</ul>
<p>Не&nbsp;позднее чем за&nbsp;15&nbsp;календарных дней до&nbsp;дня фактического прекращения лицензируемого вида деятельности лицензиат, имеющий намерение прекратить этот вид деятельности, обязан представить или направить в&nbsp;лицензирующий орган заказным почтовым отправлением с&nbsp;уведомлением о&nbsp;вручении заявления о&nbsp;прекращении лицензируемого вида деятельности. </p>
<p>Лицензирующий орган принимает решение о&nbsp;прекращении действия лицензии в&nbsp;течение 10&nbsp;рабочих дней со&nbsp;дня получения: </p>
<ul>
	<li>заявления лицензиата о&nbsp;прекращении лицензируемого вида деятельности; </li>
	<li>сведений из&nbsp;налоговой инспекции о&nbsp;прекращении деятельности юридического лица или индивидуального предпринимателя; </li>
	<li>выписки из&nbsp;вступившего в&nbsp;законную силу решения суда об&nbsp;аннулировании лицензии. </li>
</ul>
<p><strong>Порядок аннулирования лицензии</strong>:</p>
<p>В&nbsp;случае, если срок административного наказания в&nbsp;виде административного приостановления деятельности и&nbsp;приостановления действия лицензии или в&nbsp;установленный лицензирующим органом срок исполнения вновь выданного предписания лицензиат не&nbsp;устранил грубое нарушение лицензионных требований, лицензирующий орган обязан обратиться в&nbsp;суд с&nbsp;заявлением об&nbsp;аннулировании лицензии. </p>
<p>Лицензия аннулируется по&nbsp;решению суда на&nbsp;основании рассмотрения заявления лицензирующего органа об&nbsp;аннулировании лицензии. </p>
<p><strong>Выписка из&nbsp;реестра лицензий</strong>:</p>
<p>Информация по&nbsp;вопросам лицензирования является открытой. </p>
<p>Сведения о&nbsp;конкретной лицензии предоставляются лицензирующим органом бесплатно в&nbsp;течение&nbsp;5 (пяти) рабочих дней со&nbsp;дня получения заявления о&nbsp;предоставлении таких сведений. </p>
<p>Сведения о&nbsp;конкретной лицензии передаются заявителям или направляются им&nbsp;заказным почтовым отправлением с&nbsp;уведомлением о&nbsp;вручении в&nbsp;виде выписки из&nbsp;реестра лицензий. </p>
</div>
</section>


<section>
<h2><span><a href="#">Лицензионный контроль</a></span></h2>
<div class="g-content g-collapsed">
<p><strong>Документарная проверка</strong>: </p>
<p>В&nbsp;отношении соискателя лицензии, представившего заявление о&nbsp;предоставлении лицензии, или лицензиата, представившего заявление о&nbsp;переоформлении лицензии, Минкультуры России проводятся документарные проверки без согласования в&nbsp;установленном порядке с&nbsp;органом прокуратуры. </p>
<p>Основанием для проведения проверки соискателя лицензии или лицензиата является представление в&nbsp;Минкультуры заявления о&nbsp;предоставлении лицензии или заявления о&nbsp;переоформлении лицензии. </p>
<p>Предметом документарной проверки соискателя лицензии или лицензиата являются сведения, содержащиеся в&nbsp;представленных заявлениях и&nbsp;документах, в&nbsp;целях соответствия таких сведений положениями частей 1&nbsp;и&nbsp;3&nbsp;статьи 13&nbsp;и&nbsp;частей 3&nbsp;статьи 18&nbsp;Федерального закона от&nbsp;4&nbsp;мая 2011&nbsp;г. &#8470;&nbsp;<nobr>99-ФЗ</nobr> &laquo;О&nbsp;лицензировании отдельных видов деятельности&raquo; и&nbsp;лицензионным требованиям, установленным Положением о&nbsp;лицензировании деятельности по&nbsp;сохранению объектов культурного наследия (памятников истории и&nbsp;культуры) народов Российской Федерации, а&nbsp;также сведениям о&nbsp;соискателе лицензии или лицензиате, содержащимся в&nbsp;Едином государственном реестре юридических лиц, Едином государственном реестре индивидуальных предпринимателей и&nbsp;других федеральных информационных ресурсах. </p>
<p><strong>Внеплановая выездная проверка</strong>: </p>
<p>В&nbsp;отношении соискателя лицензии, представившего заявление о&nbsp;предоставлении лицензии, или лицензиата, представившего заявление о&nbsp;переоформлении лицензии, Минкультуры России могут проводиться и&nbsp;внеплановые выездные проверки без согласования в&nbsp;установленном порядке с&nbsp;органом прокуратуры. </p>
<p>Внеплановая выездная проверка лицензиата проводится по&nbsp;следующим основаниям: </p>
<ul> 
	<li>истечение срока исполнения лицензиатом ранее выданного лицензирующим органом предписания об&nbsp;устранении выявленного нарушения лицензионных требований; </li>
	<li>поступление в&nbsp;лицензирующий орган обращений, заявлений граждан, в&nbsp;том числе индивидуальных предпринимателей, юридических лиц, информации от&nbsp;органов государственной власти, органов местного самоуправления, средств массовой информации о&nbsp;фактах грубых нарушений лицензиатом лицензионных требований (проверка может быть проведена после согласования в&nbsp;установленном порядке с&nbsp;органом прокуратуры по&nbsp;месту осуществления лицензируемого вида деятельности без направления предварительного уведомления лицензиату); </li>
	<li>истечение срока, на&nbsp;который было приостановлено действие лицензии в&nbsp;соответствии с&nbsp;частями 2&nbsp;и&nbsp;3&nbsp;статьи 20&nbsp;Федерального закона от&nbsp;4&nbsp;мая 2011&nbsp;г. &#8470;&nbsp;<nobr>99-ФЗ</nobr> &laquo;О&nbsp;лицензировании отдельных видов деятельности&raquo;; </li>
	<li>наличие ходатайства лицензиата о&nbsp;проведении лицензирующим органом внеплановой выездной проверки в&nbsp;целях установления факта досрочного исполнения предписания лицензирующего органа; </li>
	<li>наличие приказа (распоряжения), изданного лицензирующим органом в&nbsp;соответствии с&nbsp;поручением Президента Российской Федерации или Правительства Российской Федерации, </li>
	<li>представление заявления о&nbsp;предоставлении (переоформлении) лицензии в&nbsp;Минкультуры России. </li>
</ul>
<p>Предметом внеплановой выездной проверки соискателя лицензии или лицензиата (при намерении выполнять новые работы), является наличие необходимых для осуществления лицензируемого вида деятельности работников в&nbsp;целях оценки соответствия таких работников лицензионным требованиям. </p>
<p><strong>Плановая проверка</strong>: </p>
<p>Плановая проверка лицензиата проводится в&nbsp;соответствии с&nbsp;ежегодным планом проведения плановых проверок, разработанным в&nbsp;установленном порядке и&nbsp;утвержденным Минкультуры России. </p>
<p>Основанием для включения плановой проверки лицензиата в&nbsp;ежегодный план проведения плановых проверок является: </p>
<ul> 
	<li>истечение одного года со&nbsp;дня принятия решения о&nbsp;предоставлении лицензии или переоформлении лицензии; </li>
	<li>истечение трех лет со&nbsp;дня окончания последней плановой проверки лицензиата; </li>
	<li>истечение установленного Правительством Российской Федерации срока со&nbsp;дня окончания последней плановой проверки лицензиата, осуществляющего лицензируемый вид деятельности в&nbsp;сферах здравоохранения, образования, в&nbsp;социальной сфере. </li>
</ul>
</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
<div class="go-to-gos">
<p>На&nbsp;портале Госуслуг можно подать заявление на&nbsp;полученией этой услуги</p>
<a href="http://culture.ru/services/">Перейти на&nbsp;Портал Госуслуг</a>
</div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}