{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Осуществление приема граждан, обеспечение своевременного и&nbsp;в&nbsp;полном объеме рассмотрения устных и&nbsp;письменных обращений граждан, принятие по&nbsp;ним решений и&nbsp;направление заявителям ответов в&nbsp;установленный законодательством Российской Федерации срок</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<h1>Письменное обращение по&nbsp;уществу поднимаемых гражданином вопросов</h1>
<section>
<div class="g-content g-collapsed">
<h2><span><a href="#">Описание услуги</a></span></h2>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>В течении личного приема</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Документ, удостоверяющий личность гражданина </li>
			<li>Карточка личного приема гражданина, оформленная сотрудниками Министерства </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, М.&nbsp;Гнездниковский пер., 7/6 </td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
     </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Письменный ответ по&nbsp;существу поставленных в&nbsp;обращении вопросов</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письменный ответ по&nbsp;существу поставленных в&nbsp;обращении вопросов
			<p>Ответы на&nbsp;обращения граждан подписывает директор (заместитель директора) департамента в&nbsp;пределах своей компетенции. </p>
<p> Текст ответа должен излагаться четко, последовательно, кратко, исчерпывающе давать пояснения на&nbsp;все поставленные в&nbsp;письме вопросы. </p>
 <p>При подтверждении фактов, изложенных в&nbsp;жалобе, в&nbsp;ответе следует указывать, какие меры приняты к&nbsp;виновным должностным лицам. </p>
<p> Ответ на&nbsp;обращение, поступившее по&nbsp;информационным системам общего пользования, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Отказ в&nbsp;рассмотрении обращения</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Отказ в&nbsp;рассмотрении обращения
			<p>В&nbsp;ходе личного приема гражданину может быть отказано в&nbsp;рассмотрении его обращения, если ему ранее был дан ответ по&nbsp;существу поставленных в&nbsp;обращении вопросов, а&nbsp;новых доводов или обстоятельств в&nbsp;ходе личного приема гражданин не&nbsp;привел. </p>
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Разъяснение гражданину о&nbsp;порядке и&nbsp;адресате дальнейшего обращения</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Разъяснение гражданину о&nbsp;порядке и&nbsp;адресате дальнейшего обращения
			<p>Если в&nbsp;ходе личного приема выясняется, что решение поставленных гражданином вопросов не&nbsp;входит в&nbsp;компетенцию Министерства, гражданину дается разъяснение, куда и&nbsp;в&nbsp;каком порядке ему следует обратиться </p>
			</li>
		</ol>
	</td>
  </tr>
</table>


</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие) и&nbsp;решения Министерства, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, могут быть обжалованы вышестоящему должностному лицу Министерства (Министру, заместителю Министра). </p>
<p>Обращение (жалоба) подается в&nbsp;письменной форме либо при личном приеме. </p>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов гражданин прилагает к&nbsp;письменному обращению документы и&nbsp;материалы либо их&nbsp;копии. </p>
<p>По&nbsp;результатам рассмотрения жалобы на&nbsp;действия (бездействие) и&nbsp;решения, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, вышестоящее должностное лицо Министерства: <br/>
 признает правомерными действия (бездействие) и&nbsp;решения в&nbsp;ходе исполнения государственной функции; <br/>
 признает действия (бездействие) и&nbsp;решения неправомерными и&nbsp;определяет меры, которые должны быть приняты с&nbsp;целью устранения допущенных нарушений. 
</p>
<p>Жалобы не&nbsp;рассматриваются по&nbsp;существу в&nbsp;случаях обжалования отказов в&nbsp;исполнении государственной функции по&nbsp;основаниям, предусмотренным пунктами <nobr>15-20</nobr> Раздела II&nbsp;Административного регламента. Автору направляется соответствующее уведомление. </p>
<p>Срок рассмотрения жалобы не&nbsp;может превышать 30&nbsp;дней со&nbsp;дня ее&nbsp;регистрации в&nbsp;Министерстве. </p>
<p>В&nbsp;случае необходимости длительных действий, связанных с&nbsp;рассмотрением жалобы, срок может быть продлен не&nbsp;более чем на&nbsp;30&nbsp;дней с&nbsp;уведомлением о&nbsp;продлении срока гражданина, направившего обращение. </p>
<p>Гражданин вправе обжаловать действия (бездействие) и&nbsp;решения должностных лиц Министерства, решения, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, в&nbsp;судебном порядке в&nbsp;соответствии с&nbsp;Федеральным законом от&nbsp;27&nbsp;апреля 1993 №&nbsp;<nobr>4866-1</nobr> «Об&nbsp;обжаловании в&nbsp;суд действий и&nbsp;решений, нарушающих права и&nbsp;свободы граждан» (Российская газета, №&nbsp;89, 1993; Собрание законодательства Российской Федерации, 1995, №&nbsp;51, ст.&nbsp;4970; Собрание законодательства Российской Федерации, 2009, №&nbsp;7, ст.&nbsp;772). </p>
</div>
</section>

<h1>Получение информации по&nbsp;вопросам, относящимся к&nbsp;компетенции Минкультуры России</h1>
<section>
<div class="g-content g-collapsed">
<h2><span><a href="#">Описание услуги</a></span></h2>
<p>Основанием для начала исполнения государственной функции является письменное обращение гражданина в&nbsp;Министерство или поступление обращения гражданина с&nbsp;сопроводительным документом из&nbsp;других государственных органов для рассмотрения по&nbsp;поручению </p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Не&nbsp;более 30&nbsp;календарных дней</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Факсимильное письменное обращение</li>
			<li>Письменное обращение гражданина (в&nbsp;том числе направленное по&nbsp;информационным системам общего пользования)</li>
			<li>Обращение гражданина, поступившее с&nbsp;сопроводительным документом из&nbsp;других государственных органов для рассмотрения по&nbsp;поручению</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, М.&nbsp;Гнездниковский пер., 7/6 </td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
     </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Почтой </li>
			<li>По email </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Ответ гражданину на&nbsp;поставленные в&nbsp;его обращении вопросы с&nbsp;учетом содержания ранее поступивших обращений того&nbsp;же автора</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Правовой акт, принятый по&nbsp;результатам рассмотрения обращения; <br>Письменный ответ по&nbsp;существу поставленных в&nbsp;обращении вопросов
			<p>Ответы на&nbsp;обращения граждан подписывает директор (заместитель директора) департамента в&nbsp;пределах своей компетенции. </p>
			 <p>Текст ответа должен излагаться четко, последовательно, кратко, исчерпывающе давать пояснения на&nbsp;все поставленные в&nbsp;письме вопросы.</p>
			 <p>При подтверждении фактов, изложенных в&nbsp;жалобе, в&nbsp;ответе следует указывать, какие меры приняты к&nbsp;виновным должностным лицам. </p>				
			<p>Ответ на&nbsp;обращение, поступившее по&nbsp;информационным системам общего пользования, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Промежуточный ответ гражданину</h4>
<p>Если на&nbsp;обращение дается промежуточный ответ, то&nbsp;в&nbsp;тексте указывается срок окончательного ответа 
</p>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Промежуточный ответ</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Направление обращения гражданина на&nbsp;рассмотрение в&nbsp;другой государственный орган, орган местного самоуправления или иному должностному лицу в&nbsp;соответствии с&nbsp;их&nbsp;компетенцией</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление о&nbsp;переадресации обращения</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Приглашение обратившихся граждан для личной беседы</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Приглашение обратившихся граждан для личной беседы</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Отказ в&nbsp;рассмотрении обращения</h4>
<p>Основания для отказа в&nbsp;рассмотрении обращения подробно изложены в&nbsp;пп.16&nbsp;— 22&nbsp;Административного регламента/p>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письменный отказ в&nbsp;рассмотрении обращения</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Права заявителя и&nbsp;обязанности органа власти</a></span></h2>
<div class="g-content g-collapsed">
<p>Должностные лица Министерства при рассмотрении обращений граждан в&nbsp;пределах своих полномочий вправе: </p>
<ul>
	<li>приглашать обратившихся граждан для личной беседы; </li>
	<li>в&nbsp;случае необходимости в&nbsp;установленном законодательством порядке запрашивать дополнительные материалы и&nbsp;получать объяснения у&nbsp;обратившихся граждан, а&nbsp;также в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
	<li>привлекать в&nbsp;установленном порядке переводчиков и&nbsp;экспертов; </li>
	<li>создавать комиссии для проверки фактов, изложенных в&nbsp;обращениях, с&nbsp;выездом на&nbsp;место; </li>
	<li>проверять исполнение ранее принятых ими решений по&nbsp;обращениям граждан; </li>
	<li>поручать рассмотрение обращения другим организациям, их&nbsp;должностным лицам в&nbsp;порядке ведомственной подчиненности и&nbsp;контролировать ход рассмотрения обращений, за&nbsp;исключением случаев, установленных федеральными законами. </li>
</ul>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие) и&nbsp;решения Министерства, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, могут быть обжалованы вышестоящему должностному лицу Министерства (Министру, заместителю Министра). </p>
<p>Обращение (жалоба) подается в&nbsp;письменной форме либо при личном приеме. </p>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов гражданин прилагает к&nbsp;письменному обращению документы и&nbsp;материалы либо их&nbsp;копии. </p>
<p>По&nbsp;результатам рассмотрения жалобы на&nbsp;действия (бездействие) и&nbsp;решения, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, вышестоящее должностное лицо Министерства: <br/>
 признает правомерными действия (бездействие) и&nbsp;решения в&nbsp;ходе исполнения государственной функции; <br/>
 признает действия (бездействие) и&nbsp;решения неправомерными и&nbsp;определяет меры, которые должны быть приняты с&nbsp;целью устранения допущенных нарушений. 
</p>
<p>Жалобы не&nbsp;рассматриваются по&nbsp;существу в&nbsp;случаях обжалования отказов в&nbsp;исполнении государственной функции по&nbsp;основаниям, предусмотренным пунктами <nobr>15-20</nobr> Раздела II&nbsp;Административного регламента. Автору направляется соответствующее уведомление. </p>
<p>Срок рассмотрения жалобы не&nbsp;может превышать 30&nbsp;дней со&nbsp;дня ее&nbsp;регистрации в&nbsp;Министерстве. </p>
<p>В&nbsp;случае необходимости длительных действий, связанных с&nbsp;рассмотрением жалобы, срок может быть продлен не&nbsp;более чем на&nbsp;30&nbsp;дней с&nbsp;уведомлением о&nbsp;продлении срока гражданина, направившего обращение. </p>
<p>Гражданин вправе обжаловать действия (бездействие) и&nbsp;решения должностных лиц Министерства, решения, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, в&nbsp;судебном порядке в&nbsp;соответствии с&nbsp;Федеральным законом от&nbsp;27&nbsp;апреля 1993 №&nbsp;<nobr>4866-1</nobr> «Об&nbsp;обжаловании в&nbsp;суд действий и&nbsp;решений, нарушающих права и&nbsp;свободы граждан» (Российская газета, №&nbsp;89, 1993; Собрание законодательства Российской Федерации, 1995, №&nbsp;51, ст.&nbsp;4970; Собрание законодательства Российской Федерации, 2009, №&nbsp;7, ст.&nbsp;772). </p>
</div>
</section>

<h1>Устное заявление по&nbsp;существу поднимаемых гражданином вопросов </h1>
<section>
<div class="g-content g-collapsed">
<h2><span><a href="#">Описание услуги</a></span></h2>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>В течении личного приема</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Документ, удостоверяющий личность гражданина </li>
			<li>Карточка личного приема гражданина, оформленная сотрудниками Министерства </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, М.&nbsp;Гнездниковский пер., 7/6 </td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
     </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Письменный ответ по&nbsp;существу поставленных в&nbsp;обращении вопросов</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письменный ответ по&nbsp;существу поставленных в&nbsp;обращении вопросов
			<p>Ответы на&nbsp;обращения граждан подписывает директор (заместитель директора) департамента в&nbsp;пределах своей компетенции. </p>
<p> Текст ответа должен излагаться четко, последовательно, кратко, исчерпывающе давать пояснения на&nbsp;все поставленные в&nbsp;письме вопросы. </p>
 <p>При подтверждении фактов, изложенных в&nbsp;жалобе, в&nbsp;ответе следует указывать, какие меры приняты к&nbsp;виновным должностным лицам. </p>
<p> Ответ на&nbsp;обращение, поступившее по&nbsp;информационным системам общего пользования, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
			</li>
		</ol>

	</td>
  </tr>
</table>

<h4>Устный ответ на&nbsp;обращение с&nbsp;согласия гражданина</h4>
<p>В&nbsp;случае, если изложенные в&nbsp;устном обращении факты и&nbsp;обстоятельства являются очевидными и&nbsp;не&nbsp;требуют дополнительной проверки, ответ на&nbsp;обращение с&nbsp;согласия гражданина может быть дан устно в&nbsp;ходе личного приема, о&nbsp;чем делается запись в&nbsp;карточке личного приема гражданина. </p>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Устный ответ по&nbsp;существу вопроса гражданина</li>
		</ol>
	</td>
  </tr>
</table>



<h4>Отказ в&nbsp;рассмотрении обращения</h4>
<p>В&nbsp;ходе личного приема гражданину может быть отказано в&nbsp;рассмотрении его обращения, если ему ранее был дан ответ по&nbsp;существу поставленных в&nbsp;обращении вопросов, а&nbsp;новых доводов или обстоятельств в&nbsp;ходе личного приема гражданин не&nbsp;привел. </p>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Отказ в&nbsp;рассмотрении обращения</li>
		</ol>

	</td>
  </tr>
</table>

<h4>Разъяснение гражданину о&nbsp;порядке и&nbsp;адресате дальнейшего обращения</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Разъяснение гражданину о&nbsp;порядке и&nbsp;адресате дальнейшего обращения
			<p>Если в&nbsp;ходе личного приема выясняется, что решение поставленных гражданином вопросов не&nbsp;входит в&nbsp;компетенцию Министерства, гражданину дается разъяснение, куда и&nbsp;в&nbsp;каком порядке ему следует обратиться </p>
			</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие) и&nbsp;решения Министерства, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, могут быть обжалованы вышестоящему должностному лицу Министерства (Министру, заместителю Министра). </p>
<p>Обращение (жалоба) подается в&nbsp;письменной форме либо при личном приеме. </p>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов гражданин прилагает к&nbsp;письменному обращению документы и&nbsp;материалы либо их&nbsp;копии. </p>
<p>По&nbsp;результатам рассмотрения жалобы на&nbsp;действия (бездействие) и&nbsp;решения, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, вышестоящее должностное лицо Министерства: <br/>
 признает правомерными действия (бездействие) и&nbsp;решения в&nbsp;ходе исполнения государственной функции; <br/>
 признает действия (бездействие) и&nbsp;решения неправомерными и&nbsp;определяет меры, которые должны быть приняты с&nbsp;целью устранения допущенных нарушений. 
</p>
<p>Жалобы не&nbsp;рассматриваются по&nbsp;существу в&nbsp;случаях обжалования отказов в&nbsp;исполнении государственной функции по&nbsp;основаниям, предусмотренным пунктами <nobr>15-20</nobr> Раздела II&nbsp;Административного регламента. Автору направляется соответствующее уведомление. </p>
<p>Срок рассмотрения жалобы не&nbsp;может превышать 30&nbsp;дней со&nbsp;дня ее&nbsp;регистрации в&nbsp;Министерстве. </p>
<p>В&nbsp;случае необходимости длительных действий, связанных с&nbsp;рассмотрением жалобы, срок может быть продлен не&nbsp;более чем на&nbsp;30&nbsp;дней с&nbsp;уведомлением о&nbsp;продлении срока гражданина, направившего обращение. </p>
<p>Гражданин вправе обжаловать действия (бездействие) и&nbsp;решения должностных лиц Министерства, решения, осуществляемые (принимаемые) в&nbsp;ходе исполнения государственной функции, в&nbsp;судебном порядке в&nbsp;соответствии с&nbsp;Федеральным законом от&nbsp;27&nbsp;апреля 1993 №&nbsp;<nobr>4866-1</nobr> «Об&nbsp;обжаловании в&nbsp;суд действий и&nbsp;решений, нарушающих права и&nbsp;свободы граждан» (Российская газета, №&nbsp;89, 1993; Собрание законодательства Российской Федерации, 1995, №&nbsp;51, ст.&nbsp;4970; Собрание законодательства Российской Федерации, 2009, №&nbsp;7, ст.&nbsp;772). </p>
</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}