{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Получение библиографической информации из&nbsp;государственных библиотечных фондов</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>В&nbsp;рамках данной услуги предоставляется доступ к&nbsp;библиографической информации более чем 6&nbsp;000&nbsp;000 единиц хранения из&nbsp;фондов государственных библиотек, участвующих в&nbsp;создании Сводного каталога библиотек России (СКБР). Поиск библиографической информации осуществляется по&nbsp;указанным на&nbsp;форме атрибутам. В&nbsp;результаты поиска будут попадать библиографические записи, значение атрибутов которых содержит заданное в&nbsp;условии значение. По&nbsp;мере расширения перечня государственных библиотек, участвующих в&nbsp;предоставлении услуги, будет расширяться объем доступной библиографической информации.</p>
<table>
<tr>
<th>Требования по&nbsp;срокам</th>
<td>
		<ul>
			<li>Менее одной минуты</li>
		</ul>
	</td>
</tr>
<tr>
<th>Категории получателей</th>
<td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
</td>
</tr>
<tr>
<th>Оплата</th>
<td>
		<ul>
			<li>Услуга предоставляется бесплатно </li>
		</ul>
	</td>
</tr>
<tr>
<th>Документы </th>
<td>		
		<ul>
			<li>Запрос на&nbsp;предоставление библиографической информации в&nbsp;электронном виде </li>
		</ul>
	</td>
</tr>
<tr>
<th>Адреса и&nbsp;телефоны</th>
<td>
<table>
<caption>Министерство культуры Российской Федерации</caption>
<tr>
<th>Адрес:</th>
<td>125009, Москва, Китайгородский пр., 7/2</td>
</tr>
<tr>
<th>Телефон:</th>

<td><nobr class="phone"><span class="nowrap">+7 (495) 629-20-08</span></nobr></td>
</tr>
<tr>
<th>Email:</th>
<td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
</tr>
<tr>
<th>Режим работы:</th>
<td>
понедельник&nbsp;&mdash; четверг: 9:00&nbsp;&mdash; 18:00<br />
пятница: 9:00&nbsp;&mdash; 16:45<br />
суббота, воскресенье: выходной
</td>
</tr>
<tr>
<th>Время работы экспедиции:</th>
<td>
понедельник&nbsp;&mdash; четверг: 10:00&nbsp;&mdash; 18:00<br />
пятница: 10:00&nbsp;&mdash; 16:45<br />
суббота, воскресенье: выходной
</td>
</tr>
</table>
<table>
<caption>Федеральное государственное учреждение &laquo;Российская государственная библиотека&raquo;</caption>
<tr>
<th>Адрес:</th>
<td>119019, Москва, Воздвиженка, 3/5</td>
</tr>
<tr>
<th>Телефон:</th>
<td>
<nobr class="phone"><span class="nowrap">+7 (495) 622-85-19</span> <br />
<span class="nowrap">+7 (495) 695-57-90</span> <br />
</nobr><span class="nowrap"><nobr class="phone">8-800-100-57-90</nobr></span>
</td>
</tr>
<tr>
<th>Email:</th>
<td><a href="mailto:post@rsl.ru">post@rsl.ru</a></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<ol> 
	<li> 
		Заполнить форму с&nbsp;критериями поиска и&nbsp;запросить получение услуги.
	</li>
	<li> 
		Система направит Ваш запрос о&nbsp;предоставлении услуги в&nbsp;государственные структуры. В&nbsp;течение не&nbsp;более 2&nbsp;минут государственные структуры выполнят обработку Вашего запроса и&nbsp;предоставят ответ. Для уточнения текущего состояния Вашего заказа вы&nbsp;можете использовать раздел &laquo;Мои заказы&raquo; личного кабинета.
	</li>
	<li> 
		В&nbsp;случае успешного выполнения услуги&nbsp;Вы получите искомую информацию. В&nbsp;случае отказа предоставления услуги, система сообщит о&nbsp;причинах.
	</li>
</ol>
<table>
<tr>
<th>Способы подачи заявки</th>
<td>
		<ul>
			<li>На&nbsp;WEB сайте</li>
		</ul>
	</td>
</tr>
<tr>
<th>Способы получения результата</th>
<td>
		<ul>
			<li>На&nbsp;WEB сайте</li>
		</ul>
	</td>
</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Предоставление библиографической информации из&nbsp;государственных библиотечных фондов в&nbsp;виде библиографической записи </h4>
<table>
<tr>
<th>Получаемый документ</th>
<td>
	<ol><li>Библиографическая запись об&nbsp;издании 
		<ul>
			<li>На&nbsp;бланке произвольной формы</li>
			<li>Количество копий: <b>1</b></li>
			<li>Выдается в&nbsp;конце оказания услуги </li>
		</ul>
		Библиографическая информация предоставляется в&nbsp;виде библиографической записи, содержащей следующие данные:
		<ul> 
			<li>Автор </li>
			<li>Заглавие </li>
			<li>ISBN </li>
			<li>Место издания </li>
			<li>Год издания </li>
			<li>Издательство </li>
			<li>Объем документа (в&nbsp;страницах или мегабайтах) </li>
			<li>Местонахождение документа (наименование библиотеки&nbsp;&mdash; держателя издания)</li>
		</ul>
		</li></ol>
	</td>
</tr>
<tr>
<th>Осуществляемые правовые действия</th>
<td>Обеспечение предоставления библиографической информации по&nbsp;запросу из&nbsp;государственных библиотечных фондов в&nbsp;электронном виде с&nbsp;использованием Единого портала государственных и&nbsp;муниципальных услуг (функций)</td>
</tr>
<tr>
<th>Права заявителя и&nbsp;обязанности органа власти</th>
<td>Организации, предоставляющие доступ к&nbsp;электронной библиографической информации из&nbsp;государственных библиотечных фондов обеспечивают доступ к&nbsp;библиографической информации получателям государственной услуги в&nbsp;круглосуточном режиме.</td>
</tr> 
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Действия (бездействие) и&nbsp;решения должностных лиц Минкультуры России могут быть обжалованы: </p>
	<ul> 
		<li>Министру культуры Российской Федерации; </li>
		<li>в&nbsp;судебном порядке. </li>
	</ul>
	<p>Действия (бездействие) и&nbsp;решения организаций, предоставляющих доступ к&nbsp;электронной библиографической информации из&nbsp;государственных библиотечных фондов: </p>
	<ul> 
		<li>в&nbsp;Министерство культуры Российской Федерации; </li>
		<li>в&nbsp;судебном порядке. </li>
	</ul>
	<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul> 
		<li>фамилию, имя, отчество; </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы; </li>
		<li>личную подпись и&nbsp;дату. </li>
	</ul>
	<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов пользователь прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
	<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации или его заместителями. </p>
	<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;Минкультуры России, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
	<p>Письменная жалоба, поступившая в&nbsp;Минкультуры России, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
	<p>В&nbsp;исключительных случаях Министр культуры Российской Федерации вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения пользователя, направившего жалобу. </p>
	<p>Если в&nbsp;письменной жалобе не&nbsp;указаны фамилия инициатора жалобы и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>&laquo;О&nbsp;библиотечном деле (в&nbsp;ред. Федеральных законов от&nbsp;22.08.2004&nbsp;N <nobr>122-ФЗ,</nobr> от&nbsp;26.06.2007&nbsp;N <nobr>118-ФЗ,</nobr> от&nbsp;23.07.2008&nbsp;N <nobr>160-ФЗ,</nobr> от&nbsp;27.10.2008&nbsp;N <nobr>183-ФЗ,</nobr> от&nbsp;03.06.2009&nbsp;N 119-ФЗ)&raquo; <br/>
		<em> 78-ФЗ Федеральный закон от 1994-12-29 <br/>
НПА,непосредственно регулирующий предоставление ГУ</em> 
	</p>
	<p>&laquo;О&nbsp;Министерстве культуры Российской Федерации (в&nbsp;ред. Постановлений Правительства РФ&nbsp;от&nbsp;13.10.2008&nbsp;N 753, от&nbsp;07.11.2008&nbsp;N 814, от&nbsp;29.12.2008&nbsp;N 1052, от&nbsp;27.01.2009&nbsp;N 43, от&nbsp;15.06.2009&nbsp;N 480)&raquo; <br/>
		<em>406 Постановление от&nbsp;2008-05-29 <br/>
НПА,непосредственно регулирующий предоставление ГУ</em> 
	</p>

</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
<div class="go-to-gos">
<p>На&nbsp;портале Госуслуг можно подать заявление на&nbsp;полученией этой услуги</p>
<a href="http://culture.ru/services/">Перейти на&nbsp;Портал Госуслуг</a>
</div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}