{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Выдача разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<h1>Выдача разрешения (открытого листа) заявителю<h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Постановление Правительства Российской Федерации «О&nbsp;Федеральной службе по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области культурного наследия» от&nbsp;29&nbsp;мая 2008&nbsp;г. №&nbsp;407; </p>
<p>Приказ Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия от&nbsp;3&nbsp;февраля 2009&nbsp;г. №&nbsp;15&nbsp;«Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия».</p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>В&nbsp;течение&nbsp;30 (тридцати) дней с&nbsp;даты принятия заявления со&nbsp;всеми необходимыми документами Минкультуры России принимает решение о&nbsp;выдаче или об&nbsp;отказе в&nbsp;выдаче заявителю разрешения (открытого листа).</li>
			<li>В&nbsp;течение&nbsp;5 (пяти) рабочих дней с&nbsp;даты принятия решения о&nbsp;выдаче разрешения (открытого листа) Минкультуры России направляет или вручает заявителю разрешение (открытый лист) и&nbsp;направляет его копию в&nbsp;Российскую академию наук.</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Копия документа, подтверждающего факт внесения в&nbsp;Единый государственный реестр юридических лиц записи о&nbsp;работодателе, заверенная его руководителем или в&nbsp;нотариальном порядке </li>
			<li>Научное обоснование археологических полевых работ (приложение к&nbsp;заявлению на&nbsp;получение разрешения (открытого листа) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия) </li>
			<li>Копия договора или оферты о&nbsp;проведении археологических полевых работ, которые намерен выполнить заявитель на&nbsp;основании испрашиваемого разрешения (открытого листа) 
				<ul> 
					<li>Представляется в&nbsp;случае, если их&nbsp;заказчиком не&nbsp;является непосредственно работодатель.</li>
				</ul>
			</li>
			<li>Копия второй и&nbsp;третьей страниц паспорта гражданина Российской Федерации </li>
			<li>Заявление на&nbsp;получение разрешения (открытого листа) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия </li>
			<li>Сведения о&nbsp;проводившихся заявителем в&nbsp;течение последних 3&nbsp;лет археологических полевых работах, в&nbsp;том числе о&nbsp;ранее выданных заявителю разрешениях (открытых листах) о&nbsp;передаче заявителем в&nbsp;РАН о&nbsp;выполненных археологических (полевых) работах и&nbsp;полевой документации для хранения в&nbsp;составе Архивного фонда Российской Федерации 
				<ul> 
					<li>Необходимо представить сведения о ранее выданных заявителю разрешениях (открытых листах); о&nbsp;передаче заявителем в&nbsp;РАН отчетов о&nbsp;выполненных археологических полевых работах и&nbsp;полевой документации для хранения в&nbsp;составе Архивного фонда Российской Федерации. </li>
					<li> Не&nbsp;представляется лицами, не&nbsp;получавшими ранее открытые листы.</li>
				</ul>
			</li>
			<li>Копии учредительных документов работодателя, заверенные его руководителем или в&nbsp;нотариальном порядке 
				<ul> 
					<li>В&nbsp;случае предоставления копии учредительных документов работодателя, заверенной его руководителем, необходимо оформить ее&nbsp;по&nbsp;образцу нотариально заверенных документов (прошить, место прошивки проклеить, проставить печать организации и&nbsp;подпись руководителя на&nbsp;месте прошивки, указать количество страниц) либо проставить печати на&nbsp;каждой странице.</li>
				</ul>
			</li>
			<li>Копии документов (аттестаты, дипломы, свидетельства, сертификаты и&nbsp;др.), подтверждающие наличие у&nbsp;заявителя научных познаний, а&nbsp;также образования и&nbsp;навыков, необходимых для проведения археологических полевых работ </li>
			<li>Сведения о&nbsp;заказчике археологических полевых работ, которые намерен проводить заявитель на&nbsp;основании испрашиваемого разрешения (открытого листа) 
				<ul> 
					<li>Указывается полное наименование организации, ее&nbsp;юридический и&nbsp;фактический адрес, основной государственный регистрационный номер, идентификационный номер налогоплательщика, телефон или, в&nbsp;случае если заказчик является физическим лицом, его фамилия, имя&nbsp;и (если имеется) отчество, данные документа, удостоверяющего его личность, основной государственный регистрационный номер (для индивидуальных предпринимателей), телефон. </li>
				</ul>
			</li>
			<li>Ходатайство работодателя о&nbsp;выдаче заявителю испрашиваемого им&nbsp;разрешения (открытого листа) 
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России. Указывается вид археологических полевых работ, на&nbsp;которые запрашивается разрешение (открытый лист), место их&nbsp;проведения и&nbsp;ФИО (фамилия, имя, отчество), должность (звание) заявителя, на&nbsp;имя которого запрашивается разрешение (открытый лист). </li>
				</ul>
			</li>
			<li>Документы, подтверждающие принятие Российской академией наук научных отчетов о&nbsp;выполненных заявителем археологических полевых работах в&nbsp;соответствии с&nbsp;ранее выданными разрешениями (открытыми листами)
				<ul> 
					<li>Не&nbsp;представляются лицами, не&nbsp;получавшими ранее разрешения (открытые листы).</li>
				</ul>
			</li>
			
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, М.&nbsp;Гнездниковский пер., 7/6</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 627-37-15</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 627-38-07</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Учреждение Российской академии наук Институт археологии РАН <br/>
		<em>участие в&nbsp;исполнении</em> 
		</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Выдача разрешения (открытого листа). Регистрация ходатайства работодателя о&nbsp;выдаче заявителю испрашиваемого им&nbsp;разрешения (открытого листа) в&nbsp;базе входящей корреспонденции Минкультуры России с&nbsp;присвоением входящего номера.</li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Выдача разрешения (открытого листа)</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Разрешение (открытый лист) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия</li>
		</ol>
	</td>
  </tr>
    <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li><p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>7-дневный</nobr> срок публикует информацию о&nbsp;выданных разрешениях (открытых листах)</p>
				<p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>7-дневный</nobr> срок публикует следующую информацию о&nbsp;выданных разрешениях (открытых листах) и&nbsp;их&nbsp;дубликатах: </p>
					<ul>
					<li>номер разрешения (открытого листа); </li>
					<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа); </li>
					<li>срок действия разрешения (открытого листа). </li>
					</ul>

			</li>
		</ul>
	</td>
	</tr>
</table>

<h4>Отказ в&nbsp;выдаче разрешения (открытого листа)</h4>
<p> Основанием для отказа заявителю в&nbsp;выдаче разрешения (открытого листа) является: </p>
<ul>
	<li>отсутствие у&nbsp;заявителя научных и&nbsp;практических познаний, необходимых для проведения археологических полевых работ; </li>
	<li>выявление в&nbsp;представленном заявлении или прилагаемых к&nbsp;нему документах неполных, необоснованных или недостоверных сведений; </li>
	<li>несоответствие документации, обосновывающей проведение заявителем археологических полевых работ на&nbsp;основании испрашиваемого разрешения (открытого листа), законодательству Российской Федерации и&nbsp;научной регламентации археологических полевых работ; </li>
	<li>нарушение ранее заявителем требований научной регламентации археологических полевых работ, сроков передачи после их&nbsp;выполнения обнаруженных культурных ценностей, отчета или полевой документации; </li>
	<li>отсутствие трудовых отношений с&nbsp;работодателем. </li>
</ul>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление об&nbsp;отказе в&nbsp;выдаче разрешения (открытого листа) <br>
				<i>Уведомление об&nbsp;отказе высылается:
				<ul>
					<li> в&nbsp;течение 5&nbsp;дней с&nbsp;даты поступления документов в&nbsp;Минкультуры России, если заявитель представил неполный комплект документов, прилагаемых к&nbsp;заявлению; </li>
					<li> в&nbsp;течение 5&nbsp;дней, с&nbsp;даты принятия решения об&nbsp;отказе в&nbsp;выдаче разрешения (открытого листа) после проведения проверки принятых документов. </li>
				</ul></i>
			</li>
		</ol>
	</td>
  </tr>
</table>

</div>
</section>

<section>
<h2><span><a href="#">Права заявителя и&nbsp;обязанности органа власти</a></span></h2>
<div class="g-content g-collapsed">
	<p>В&nbsp;случае утраты разрешения (открытого листа) Минкультуры России в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты поступления письменного обращения держателя разрешения (открытого листа) направляет или выдает ему заверенную Минкультуры России копию утраченного разрешения (открытого листа) с&nbsp;указанием всех его прежних реквизитов и&nbsp;пометкой «дубликат». </p>
	<p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>7-дневный</nobr> срок публикует следующую информацию о&nbsp;выданных разрешениях (открытых листах) и&nbsp;их&nbsp;дубликатах: </p>
			<ul>
				<li>номер разрешения (открытого листа); </li>
				<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа); </li>
				<li>срок действия разрешения (открытого листа). </li>
			</ul>
	<p> Минкультуры России в&nbsp;соответствии с&nbsp;правилами организации документооборота осуществляет учет выданных разрешений (открытых листов) и&nbsp;их&nbsp;дубликатов, а&nbsp;также учет и&nbsp;хранение представленных заявителями и&nbsp;полученных по&nbsp;запросам Минкультуры России документов. </p>
	<p>Держатель разрешения (открытого листа) при проведении археологических полевых работ обязан учитывать правовой режим земель, на&nbsp;которых им&nbsp;выполняются археологические полевые работы. </p>
	<p>Держатель разрешения (открытого листа) обязан не&nbsp;позднее чем за&nbsp;5&nbsp;рабочих дней до&nbsp;начала археологических полевых работ направить (или вручить) уведомление об&nbsp;археологических полевых работах в&nbsp;письменной форме с&nbsp;указанием срока проведения археологических полевых работ:</p>
			<ul>
				<li>в&nbsp;уполномоченный в&nbsp;области охраны объектов культурного наследия орган исполнительной власти субъекта Российской Федерации, на&nbsp;территории которого планируется проведение археологических полевых работ; </li>
				<li>в&nbsp;орган местного самоуправления, на&nbsp;территории муниципального образования которого планируется проведение археологических полевых работ. </li>
			</ul>
</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Заявитель имеет право на&nbsp;обжалование действий&nbsp;и (или) бездействия Минкультуры России, государственных служащих Минкультуры России при исполнении государственной функции (услуги) в&nbsp;досудебном и&nbsp;судебном порядке. </p>
<p><strong>Досудебный порядок обжалования.</strong></p>
<p>Заявитель вправе письменно обжаловать действия или бездействие государственных служащих Минкультуры России при исполнении государственной функции (услуги). </p>
<p>Заявитель вправе обратиться с&nbsp;жалобой лично или по&nbsp;почте. </p>
<p>Срок рассмотрения обращения не&nbsp;должен превышать 30&nbsp;календарных дней с&nbsp;момента регистрации письменного обращения. </p>
<p>В&nbsp;исключительных случаях срок рассмотрения обращения может быть продлен, но&nbsp;не&nbsp;более чем на&nbsp;30&nbsp;дней, с&nbsp;обязательном уведомлением заявителя о&nbsp;продлении срока рассмотрения жалобы. </p>
<p>Требования к&nbsp;обращению. </p>
<ul>
	<li>адресат: Министерство культуры Российской Федерации либо фамилия, имя, отчество, должность соответствующего лица. </li>
	<li>заявитель: наименование юридического лица, почтовый адрес, по&nbsp;которому должны быть направлены ответ, уведомление о&nbsp;переадресации обращения, суть жалобы. </li>
	<li>дополнительно сведения. (В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменному обращению документы либо их&nbsp;копии.) </li>
</ul>
<p>Результат. </p>
<p>По&nbsp;результатам рассмотрения обращения Министерством культуры Российской Федерации принимается решение об&nbsp;удовлетворении требований заявителя либо об&nbsp;отказе в&nbsp;удовлетворении требований. </p>
<p>Письменный ответ, содержащий результаты рассмотрения обращения, направляется заявителю. </p>
<p><strong>Судебный порядок.</strong></p>
<p>Заявитель вправе обжаловать решения, принятые в&nbsp;ходе исполнения государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке, установленном Главой&nbsp;25 Гражданско-процессуального кодекса Российской Федерации, Главой&nbsp;24 Арбитражно-процессуального кодекса Российской Федерации. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
 <p>«Федеральный закон &quot;О&nbsp;порядке рассмотрения обращений граждан Российской Федерации&quot;» <br/>
	<em>59&nbsp;Закон от&nbsp;2006-05-02 <br/>
 Прочее</em> 
</p>
<p>«Федеральный закон &quot;Об&nbsp;объектах культурного наследия (памятниках истории и&nbsp;культуры) народов Российской Федерации&quot;» <br/>
	<em>73&nbsp;Закон от&nbsp;2002-06-25 <br/>
 НПА, непосредственно регулирующий предоставление ГУ</em> 
</p>
<p>«Приказ Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия &quot;Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия&quot;» <br/>
	<em>15&nbsp;Приказ от&nbsp;2009-02-03 <br/>
 Прочее</em> 
</p>
</div>
</section>
<h1>Досрочное прекращение действия разрешения (открытого листа)</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Приказ Росохранкультуры от&nbsp;3&nbsp;февраля 2009&nbsp;г. №&nbsp;15&nbsp;«Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия, утвержденное приказом Росохранкультуры» (п.23,28,29). </p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li><p>Срок рассмотрения обращения&nbsp;— 30&nbsp;рабочих дней с&nbsp;даты поступления письменного обращения в&nbsp;Минкультуры России.</p>
			<p>В&nbsp;случае если в&nbsp;установленный срок не&nbsp;устранено нарушение, повлекшее за&nbsp;собой приостановление действия разрешения (открытого листа), Минкультуры России принимает решение о&nbsp;досрочном прекращении действия разрешения (открытого листа). В&nbsp;течение&nbsp;5 (пяти) рабочих дней с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешения (открытого листа) Минкультуры России направляет или вручает соответствующие уведомления в&nbsp;письменной форме: </p>
				<ul>
					<li>держателю разрешения (открытого листа); </li>
					<li>работодателю, по&nbsp;ходатайству которого было выдано разрешение (открытый лист); </li>
					<li>заказчику археологических полевых работ. </li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Письменное обращение держателя разрешения (открытого листа) о&nbsp;досрочном прекращении действия разрешения (открытого листа)
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России с&nbsp;указанием причины досрочного прекращения действия разрешения (открытого листа).</li>
				</ul>
			</li>
			<li>Письменное обращение работодателя, по&nbsp;ходатайству которого выдано разрешение (открытый лист), о&nbsp;досрочном прекращении действия разрешения (открытого листа) 
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России с&nbsp;указанием причины досрочного прекращения действия разрешения (открытого листа).</li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Учреждение Российской академии наук Институт археологии РАН <br/>
		<em>участие в&nbsp;исполнении</em> 
		</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Досрочное прекращение действия разрешения (открытого листа). Oбращения физических и&nbsp;юридических лиц фиксируются в&nbsp;базе входящей корреспонденции в&nbsp;Минкультуры России. В&nbsp;течение&nbsp;5 (пяти) рабочих дней с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешения (открытого листа) Минкультуры России направляет или вручает соответствующие уведомления в&nbsp;письменной форме:
				<ul>
					<li>держателю разрешения (открытого листа); </li>
					<li>работодателю, по&nbsp;ходатайству которого было выдано разрешение (открытый лист); </li>
					<li>заказчику археологических полевых работ. </li>
				</ul>
			<p> Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешений (открытых листов) публикует следующую информацию: <br/>
			</p>
				<ul>
					<li>дата и&nbsp;номер решения о&nbsp;приостановлении или досрочном прекращении действия разрешения (открытого листа); </li>
					<li>номер разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия; </li>
					<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия. </li>
				</ul>
				</li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Досрочное прекращение действия разрешения (открытого листа)</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление о&nbsp;досрочном прекращении действия разрешения (открытого листа)<br>
			<i>Высылается в&nbsp;течение 5&nbsp;дней с&nbsp;даты принятия решения в&nbsp;случае, если при проведении археологических полевых работ было допущено нарушение законодательства Российской Федерации.</i></li>
		</ol>
	</td>
  </tr>
    <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li><p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок публикует информацию о&nbsp;досрочном прекращении действия разрешений (открытых листов) </p>
			<p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты принятия решения о&nbsp;о&nbsp;досрочном прекращении действия разрешений (открытых листов) публикует следующую информацию: </p>
				<ul>
					<li>дата и&nbsp;номер решения о&nbsp;досрочном прекращении действия разрешения (открытого листа); </li>
					<li>номер разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;досрочном прекращении действия; </li>
					<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;досрочном прекращении действия. </li>
				</ul>
			</li>
		</ul>
	</td>
	</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Права заявителя и&nbsp;обязанности органа власти</a></span></h2>
<div class="g-content g-collapsed">
	<p>Минкультуры России вправе приостановить или досрочно прекратить действие разрешения (открытого листа) в&nbsp;следующих случаях: </p>
<ul>
	<li>наличие обращения держателя разрешения (открытого листа); </li>
	<li>наличие обращения работодателя, по&nbsp;ходатайству которого выдано разрешение (открытый лист); </li>
	<li>вступление в&nbsp;законную силу соответствующего решения суда. </li>
</ul>
<p> Минкультуры России вправе досрочно прекратить действие разрешения (открытого листа) в&nbsp;случае, если при проведении на&nbsp;основании разрешения (открытого листа) археологических полевых работ было допущено нарушение законодательства Российской Федерации. <br/>
 Держатель разрешения (открытого листа) или работодатель вправе оспорить в&nbsp;судебном порядке решение о&nbsp;досрочном прекращении действия выданного ему разрешения (открытого листа). <br/>
 Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешений (открытых листов) публикует следующую информацию:</p>
<ul>
	<li>дата и&nbsp;номер решения о&nbsp;приостановлении или досрочном прекращении действия разрешения (открытого листа); </li>
	<li>номер разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия; </li>
	<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия. </li>
</ul>
</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Заявитель имеет право на&nbsp;обжалование действий&nbsp;и (или) бездействия Минкультуры России, государственных служащих Минкультуры России при исполнении государственной функции (услуги) в&nbsp;досудебном и&nbsp;судебном порядке. </p>
<p><strong>Досудебный порядок обжалования.</strong></p>
<p>Заявитель вправе письменно обжаловать действия или бездействие государственных служащих Минкультуры России при исполнении государственной функции (услуги). </p>
<p>Заявитель вправе обратиться с&nbsp;жалобой лично или по&nbsp;почте. </p>
<p>Срок рассмотрения обращения не&nbsp;должен превышать 30&nbsp;календарных дней с&nbsp;момента регистрации письменного обращения. </p>
<p>В&nbsp;исключительных случаях срок рассмотрения обращения может быть продлен, но&nbsp;не&nbsp;более чем на&nbsp;30&nbsp;дней, с&nbsp;обязательном уведомлением заявителя о&nbsp;продлении срока рассмотрения жалобы. </p>
<p>Требования к&nbsp;обращению. </p>
<ul>
	<li>адресат: Министерство культуры Российской Федерации либо фамилия, имя, отчество, должность соответствующего лица. </li>
	<li>заявитель: наименование юридического лица, почтовый адрес, по&nbsp;которому должны быть направлены ответ, уведомление о&nbsp;переадресации обращения, суть жалобы. </li>
	<li>дополнительно сведения. (В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменному обращению документы либо их&nbsp;копии.) </li>
</ul>
<p>Результат. </p>
<p>По&nbsp;результатам рассмотрения обращения Министерством культуры Российской Федерации принимается решение об&nbsp;удовлетворении требований заявителя либо об&nbsp;отказе в&nbsp;удовлетворении требований. </p>
<p>Письменный ответ, содержащий результаты рассмотрения обращения, направляется заявителю. </p>
<p><strong>Судебный порядок.</strong></p>
<p>Заявитель вправе обжаловать решения, принятые в&nbsp;ходе исполнения государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке, установленном Главой&nbsp;25 Гражданско-процессуального кодекса Российской Федерации, Главой&nbsp;24 Арбитражно-процессуального кодекса Российской Федерации. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
 <p>«Приказ Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия "Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия"» <br/>
	<em>15&nbsp;Приказ от&nbsp;2009-02-03 <br/>
 Прочее</em> </p>
</div>
</section>



<h1>Досрочное прекращение действия разрешения (открытого листа)</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Приказ Росохранкультуры от&nbsp;3&nbsp;февраля 2009&nbsp;г. №&nbsp;15&nbsp;«Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия, утвержденное приказом Росохранкультуры» (п.23,28,29). </p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li><p>Срок рассмотрения обращения&nbsp;— 30&nbsp;рабочих дней с&nbsp;даты поступления письменного обращения в&nbsp;Минкультуры России.</p>
			<p>В&nbsp;случае если в&nbsp;установленный срок не&nbsp;устранено нарушение, повлекшее за&nbsp;собой приостановление действия разрешения (открытого листа), Минкультуры России принимает решение о&nbsp;досрочном прекращении действия разрешения (открытого листа). В&nbsp;течение&nbsp;5 (пяти) рабочих дней с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешения (открытого листа) Минкультуры России направляет или вручает соответствующие уведомления в&nbsp;письменной форме: </p>
				<ul>
					<li> а) держателю разрешения (открытого листа); </li>
					<li> б) работодателю, по&nbsp;ходатайству которого было выдано разрешение (открытый лист); </li>
					<li> в) заказчику археологических полевых работ. </li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Письменное обращение держателя разрешения (открытого листа) о&nbsp;досрочном прекращении действия разрешения (открытого листа)
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России с&nbsp;указанием причины досрочного прекращения действия разрешения (открытого листа).</li>
				</ul>
			</li>
			<li>Письменное обращение работодателя, по&nbsp;ходатайству которого выдано разрешение (открытый лист), о&nbsp;досрочном прекращении действия разрешения (открытого листа) 
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России с&nbsp;указанием причины досрочного прекращения действия разрешения (открытого листа).</li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Учреждение Российской академии наук Институт археологии РАН <br/>
		<em>участие в&nbsp;исполнении</em> 
		</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Досрочное прекращение действия разрешения (открытого листа). Oбращения физических и&nbsp;юридических лиц фиксируются в&nbsp;базе входящей корреспонденции в&nbsp;Минкультуры России. В&nbsp;течение&nbsp;5 (пяти) рабочих дней с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешения (открытого листа) Минкультуры России направляет или вручает соответствующие уведомления в&nbsp;письменной форме:
				<ul>
					<li> держателю разрешения (открытого листа); </li>
					<li> работодателю, по&nbsp;ходатайству которого было выдано разрешение (открытый лист); </li>
					<li> заказчику археологических полевых работ. </li>
				</ul>
			<p> Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешений (открытых листов) публикует следующую информацию: </p>
				<ul>
					<li> дата и&nbsp;номер решения о&nbsp;приостановлении или досрочном прекращении действия разрешения (открытого листа); </li>
					<li> номер разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия; </li>
					<li> фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия. </li>
				</ul>
				</li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Досрочное прекращение действия разрешения (открытого листа)</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление о&nbsp;досрочном прекращении действия разрешения (открытого листа)<br>
			<i>Высылается в&nbsp;течение 5&nbsp;дней с&nbsp;даты принятия решения в&nbsp;случае, если при проведении археологических полевых работ было допущено нарушение законодательства Российской Федерации.</i></li>
		</ol>
	</td>
  </tr>
    <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li><p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок публикует информацию о&nbsp;досрочном прекращении действия разрешений (открытых листов) </p>
			<p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты принятия решения о&nbsp;о&nbsp;досрочном прекращении действия разрешений (открытых листов) публикует следующую информацию: </p>
				<ul>
					<li>дата и&nbsp;номер решения о&nbsp;досрочном прекращении действия разрешения (открытого листа); </li>
					<li>номер разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;досрочном прекращении действия; </li>
					<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;досрочном прекращении действия. </li>
				</ul>
			</li>
		</ul>
	</td>
	</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Права заявителя и&nbsp;обязанности органа власти</a></span></h2>
<div class="g-content g-collapsed">
	<p>Минкультуры России вправе приостановить или досрочно прекратить действие разрешения (открытого листа) в&nbsp;следующих случаях: </p>
<ul>
	<li>наличие обращения держателя разрешения (открытого листа); </li>
	<li>наличие обращения работодателя, по&nbsp;ходатайству которого выдано разрешение (открытый лист); </li>
	<li>вступление в&nbsp;законную силу соответствующего решения суда. </li>
</ul>
<p> Минкультуры России вправе досрочно прекратить действие разрешения (открытого листа) в&nbsp;случае, если при проведении на&nbsp;основании разрешения (открытого листа) археологических полевых работ было допущено нарушение законодательства Российской Федерации. <br/>
 Держатель разрешения (открытого листа) или работодатель вправе оспорить в&nbsp;судебном порядке решение о&nbsp;досрочном прекращении действия выданного ему разрешения (открытого листа). <br/>
 Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты принятия решения о&nbsp;досрочном прекращении действия разрешений (открытых листов) публикует следующую информацию: <br/>
</p>
<ul>
	<li>дата и&nbsp;номер решения о&nbsp;приостановлении или досрочном прекращении действия разрешения (открытого листа); </li>
	<li>номер разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия; </li>
	<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;приостановлении или досрочном прекращении действия. </li>
</ul>
</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Заявитель имеет право на&nbsp;обжалование действий&nbsp;и (или) бездействия Минкультуры России, государственных служащих Минкультуры России при исполнении государственной функции (услуги) в&nbsp;досудебном и&nbsp;судебном порядке. </p>
<p><strong>Досудебный порядок обжалования.</strong></p>
<p>Заявитель вправе письменно обжаловать действия или бездействие государственных служащих Минкультуры России при исполнении государственной функции (услуги). </p>
<p>Заявитель вправе обратиться с&nbsp;жалобой лично или по&nbsp;почте. </p>
<p>Срок рассмотрения обращения не&nbsp;должен превышать 30&nbsp;календарных дней с&nbsp;момента регистрации письменного обращения. </p>
<p>В&nbsp;исключительных случаях срок рассмотрения обращения может быть продлен, но&nbsp;не&nbsp;более чем на&nbsp;30&nbsp;дней, с&nbsp;обязательном уведомлением заявителя о&nbsp;продлении срока рассмотрения жалобы. </p>
<p>Требования к&nbsp;обращению. </p>
<ul>
	<li>адресат: Министерство культуры Российской Федерации либо фамилия, имя, отчество, должность соответствующего лица. </li>
	<li>заявитель: наименование юридического лица, почтовый адрес, по&nbsp;которому должны быть направлены ответ, уведомление о&nbsp;переадресации обращения, суть жалобы. </li>
	<li>дополнительно сведения. (В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменному обращению документы либо их&nbsp;копии.) </li>
</ul>
<p>Результат. </p>
<p>По&nbsp;результатам рассмотрения обращения Министерством культуры Российской Федерации принимается решение об&nbsp;удовлетворении требований заявителя либо об&nbsp;отказе в&nbsp;удовлетворении требований. </p>
<p>Письменный ответ, содержащий результаты рассмотрения обращения, направляется заявителю. </p>
<p><strong>Судебный порядок.</strong></p>
<p>Заявитель вправе обжаловать решения, принятые в&nbsp;ходе исполнения государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке, установленном Главой&nbsp;25 Гражданско-процессуального кодекса Российской Федерации, Главой&nbsp;24 Арбитражно-процессуального кодекса Российской Федерации. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
 <p>«Приказ Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия &quot;Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия&quot;» <br/>
	<em>15&nbsp;Приказ от&nbsp;2009-02-03 <br/>
 Прочее</em> </p>
</div>
</section>

<h1>Приостановление действия разрешения (открытого листа)</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Приказ Росохранкультуры от&nbsp;3&nbsp;февраля 2009&nbsp;г. №&nbsp;15&nbsp;«Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия, утвержденное приказом Росохранкультуры» (п.23,28,29). </p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li><p>Срок рассмотрения обращения&nbsp;— 30&nbsp;рабочих дней с&nbsp;даты поступления письменного обращения в&nbsp;Минкультуры России.<br> При принятии решения о&nbsp;приостановлении действия разрешения (открытого листа) Минкультуры России обязана установить срок устранения допущенного нарушения, который не&nbsp;может превышать 3&nbsp;месяца. В&nbsp;случае устранения в&nbsp;установленный срок нарушения, повлекшего за&nbsp;собой приостановление действия разрешения (открытого листа), Минкультуры России в&nbsp;<nobr>10-дневный</nobr> срок принимает решение о&nbsp;возобновлении действия разрешения (открытого листа). В&nbsp;течение&nbsp;5 (пяти) рабочих дней с&nbsp;даты принятия решения о&nbsp;приостановлении действия разрешения (открытого листа) Минкультуры России направляет или вручает соответствующие уведомления в&nbsp;письменной форме: </p>
				<ul>
					<li>держателю разрешения (открытого листа); </li>
					<li>работодателю, по&nbsp;ходатайству которого было выдано разрешение (открытый лист); </li>
					<li>заказчику археологических полевых работ. </li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Письменное обращение работодателя, по&nbsp;ходатайству которого выдано разрешение (открытый лист), о&nbsp;приостановлении действия разрешения (открытого листа)
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России . Необходимо указать срок, на&nbsp;который следует приостановить действие разрешения (открытого листа).</li>
				</ul>
			</li>
			<li>Письменное обращение держателя разрешения (открытого листа) о&nbsp;приостановлении действия разрешения (открытого листа) 
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России . Необходимо указать срок, на&nbsp;который следует приостановить действие разрешения (открытого листа). </li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Учреждение Российской академии наук Институт археологии РАН <br/>
		<em>участие в&nbsp;исполнении</em> 
		</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Обращения физических и&nbsp;юридических лиц фиксируются в&nbsp;базе входящей корреспонденции в&nbsp;Минкультуры России. Срок продления в&nbsp;случае приостановления действия разрешения (открытого листа) устанавливается приказом руководителя Минкультуры России, копия которого, заверенная Минкультуры России , в&nbsp;<nobr>5-дневный</nobr> срок направляется или вручается держателю разрешения (открытого листа), а&nbsp;также направляется в&nbsp;Российскую академию наук.</li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Приостановление действия разрешения (открытого листа)</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомления о приостановлении действия разрешения (открытого листа)<br>
		<i>Высылается заявителю (работодателю) в&nbsp;случае, если при проведении на&nbsp;основании разрешения открытого листа археологических полевых работ было допущено нарушения порядка их&nbsp;проведения. В&nbsp;уведомлении прописывается срок устранения допущенного нарушения, который не&nbsp;может превышать три месяца.</i></li>
		</ol>
	</td>
  </tr>
    <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li><p>Минкультуры России на своем официальном сайте в сети Интернет в 5-дневный срок публикует информацию о приостановлении действия разрешений (открытых листов) </p>
			<p>Минкультуры России на&nbsp;своем официальном сайте в&nbsp;сети Интернет в&nbsp;<nobr>5-дневный</nobr> срок с&nbsp;даты принятия решения о&nbsp;о&nbsp;досрочном прекращении действия разрешений (открытых листов) публикует следующую информацию: </p>
				<ul>
					<li>дата и&nbsp;номер решения о&nbsp;досрочном прекращении действия разрешения (открытого листа); </li>
					<li>номер разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;досрочном прекращении действия; </li>
					<li>фамилия, имя&nbsp;и (если имеется) отчество держателя разрешения (открытого листа), в&nbsp;отношении которого принято решение о&nbsp;досрочном прекращении действия. </li>
				</ul>
			</li>
		</ul>
	</td>
	</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Права заявителя и&nbsp;обязанности органа власти</a></span></h2>
<div class="g-content g-collapsed">
	<p>Минкультуры России вправе приостановить действие разрешения (открытого листа) в&nbsp;следующих случаях: </p>
			<ul> 
				<li>наличие обращения держателя разрешения (открытого листа);</li>
				<li>наличие обращения работодателя, по&nbsp;ходатайству которого выдано разрешение (открытый лист); </li>
				<li>вступление в&nbsp;законную силу соответствующего решения суда. </li>
			 </ul>
		<p>В&nbsp;обращении о&nbsp;приостановлении действия разрешения (открытого листа) должен быть указан срок, на&nbsp;который Минкультуры России следует приостановить действие разрешения (открытого листа). Минкультуры России вправе приостановить действие разрешения (открытого листа) в&nbsp;случае, если при проведении на&nbsp;основании разрешения (открытого листа) археологических полевых работ было допущено нарушение порядка их&nbsp;проведения. В&nbsp;случае если в&nbsp;установленный срок не&nbsp;устранено нарушение, повлекшее за&nbsp;собой приостановление действия разрешения (открытого листа), Минкультуры России принимает решение о&nbsp;досрочном прекращении действия разрешения (открытого листа).До принятия решения о&nbsp;возобновлении действия разрешения (открытого листа) Минкультуры России вправе провести на&nbsp;месте выполнения археологических полевых работ проверку устранения допущенного нарушения. Срок действия разрешения (открытого листа) на&nbsp;время приостановления его действия не&nbsp;продлевается. В&nbsp;случае необходимости завершения приостановленных археологических полевых работ Минкультуры России по&nbsp;ходатайству держателя разрешения (открытого листа) вправе принять решение о&nbsp;продлении действия разрешения (открытого листа) на&nbsp;срок, не&nbsp;превышающий время приостановления его действия. </p>
		<p>Держатель разрешения (открытого листа) или работодатель вправе оспорить в&nbsp;судебном порядке решение о&nbsp;приостановлении действия выданного ему разрешения (открытого листа). </p>
</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Заявитель имеет право на&nbsp;обжалование действий&nbsp;и (или) бездействия Минкультуры России, государственных служащих Минкультуры России при исполнении государственной функции (услуги) в&nbsp;досудебном и&nbsp;судебном порядке. </p>
<p><strong>Досудебный порядок обжалования.</strong></p>
<p>Заявитель вправе письменно обжаловать действия или бездействие государственных служащих Минкультуры России при исполнении государственной функции (услуги). </p>
<p>Заявитель вправе обратиться с&nbsp;жалобой лично или по&nbsp;почте. </p>
<p>Срок рассмотрения обращения не&nbsp;должен превышать 30&nbsp;календарных дней с&nbsp;момента регистрации письменного обращения. </p>
<p>В&nbsp;исключительных случаях срок рассмотрения обращения может быть продлен, но&nbsp;не&nbsp;более чем на&nbsp;30&nbsp;дней, с&nbsp;обязательном уведомлением заявителя о&nbsp;продлении срока рассмотрения жалобы. </p>
<p>Требования к&nbsp;обращению. </p>
<ul>
	<li>адресат: Министерство культуры Российской Федерации либо фамилия, имя, отчество, должность соответствующего лица. </li>
	<li>заявитель: наименование юридического лица, почтовый адрес, по&nbsp;которому должны быть направлены ответ, уведомление о&nbsp;переадресации обращения, суть жалобы. </li>
	<li>дополнительно сведения. (В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменному обращению документы либо их&nbsp;копии.) </li>
</ul>
<p>Результат. </p>
<p>По&nbsp;результатам рассмотрения обращения Министерством культуры Российской Федерации принимается решение об&nbsp;удовлетворении требований заявителя либо об&nbsp;отказе в&nbsp;удовлетворении требований. </p>
<p>Письменный ответ, содержащий результаты рассмотрения обращения, направляется заявителю. </p>
<p><strong>Судебный порядок.</strong></p>
<p>Заявитель вправе обжаловать решения, принятые в&nbsp;ходе исполнения государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке, установленном Главой&nbsp;25 Гражданско-процессуального кодекса Российской Федерации, Главой&nbsp;24 Арбитражно-процессуального кодекса Российской Федерации. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия &quot;Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия&quot;» <br/>
	<em>15&nbsp;Приказ от&nbsp;2009-02-03<br/>
 Прочее</em> 
</p>
</div>
</section>

<h1>Продление действия разрешения (открытого листа) </h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Приказ Росохранкультуры от&nbsp;3&nbsp;февраля 2009&nbsp;г. №&nbsp;15&nbsp;«Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия, утвержденное приказом Росохранкультуры» (п.19). </p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Срок рассмотрения обращения&nbsp;— 30&nbsp;рабочих дней с&nbsp;даты поступления письменного обращения в&nbsp;Минкультуры России . Копия приказа руководителя Минкультуры России с&nbsp;указанием срока продления, заверенная Минкультуры России, в&nbsp;<nobr>5-дневный</nobr> срок направляется или вручается держателю разрешения (открытого листа), а&nbsp;также направляется в&nbsp;Российскую академию наук.</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Письменное ходатайство держателя разрешения (открытого листа) о&nbsp;продлении действия разрешения (открытого листа)
				<ul> 
					<li>Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России с&nbsp;обоснованием причин продления действия разрешения (открытого листа). </li>
				</ul>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Учреждение Российской академии наук Институт археологии РАН <br/>
		<em>участие в&nbsp;исполнении</em> 
		</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Приказ руководителя Минкультуры России о продлении срока действия разрешения (открытого листа). </li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Продление действия разрешения (открытого листа)</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Копия приказа руководителя Минкультуры России о продлении действия разрешения (открытого листа).<br>
					<i>Направляется или вручается заявителю в течение 5 дней. Приказ устанавливает срок продления. </i>
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Отказ в продлении действия разрешения (открытого листа) </h4>
<p>Отказ производится в&nbsp;случае: </p>
<ul>
	<li> отсутствия необходимости завершения начатых археологических полевых работ при истечении срока действия разрешения (открытого листа); </li>
	<li> прекращения отношений держателя разрешения (открытого листа) с&nbsp;работодателем, по&nbsp;ходатайству которого выдано разрешение (открытый лист).</li>
</ul>

<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письмо об отказе в продлении действия разрешения (открытого листа) <br>
            <i>Высылается заявителю в случае необоснованности причин продления действия разрешения (открытого листа).</i>
			</li>
		</ol>
	</td>
  </tr>
</table>


</div>
</section>

<section>
<h2><span><a href="#">Права заявителя и&nbsp;обязанности органа власти</a></span></h2>
<div class="g-content g-collapsed">
	<p>В&nbsp;случае необходимости завершения археологических полевых работ Минкультуры России по&nbsp;ходатайству держателя разрешения (открытого листа) вправе принять решение о&nbsp;продлении действия разрешения (открытого листа). Срок продления устанавливается приказом руководителя Минкультуры России, копия которого, заверенная Минкультуры России, в&nbsp;<nobr>5-дневный</nobr> срок направляется или вручается держателю разрешения (открытого листа), а&nbsp;также направляется в&nbsp;Российскую академию наук. </p>
</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Заявитель имеет право на&nbsp;обжалование действий&nbsp;и (или) бездействия Минкультуры России, государственных служащих Минкультуры России при исполнении государственной функции (услуги) в&nbsp;досудебном и&nbsp;судебном порядке. </p>
<p><strong>Досудебный порядок обжалования.</strong></p>
<p>Заявитель вправе письменно обжаловать действия или бездействие государственных служащих Минкультуры России при исполнении государственной функции (услуги). </p>
<p>Заявитель вправе обратиться с&nbsp;жалобой лично или по&nbsp;почте. </p>
<p>Срок рассмотрения обращения не&nbsp;должен превышать 30&nbsp;календарных дней с&nbsp;момента регистрации письменного обращения. </p>
<p>В&nbsp;исключительных случаях срок рассмотрения обращения может быть продлен, но&nbsp;не&nbsp;более чем на&nbsp;30&nbsp;дней, с&nbsp;обязательном уведомлением заявителя о&nbsp;продлении срока рассмотрения жалобы. </p>
<p>Требования к&nbsp;обращению. </p>
<ul>
	<li>адресат: Министерство культуры Российской Федерации либо фамилия, имя, отчество, должность соответствующего лица. </li>
	<li>заявитель: наименование юридического лица, почтовый адрес, по&nbsp;которому должны быть направлены ответ, уведомление о&nbsp;переадресации обращения, суть жалобы. </li>
	<li>дополнительно сведения. (В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменному обращению документы либо их&nbsp;копии.) </li>
</ul>
<p>Результат. </p>
<p>По&nbsp;результатам рассмотрения обращения Министерством культуры Российской Федерации принимается решение об&nbsp;удовлетворении требований заявителя либо об&nbsp;отказе в&nbsp;удовлетворении требований. </p>
<p>Письменный ответ, содержащий результаты рассмотрения обращения, направляется заявителю. </p>
<p><strong>Судебный порядок.</strong></p>
<p>Заявитель вправе обжаловать решения, принятые в&nbsp;ходе исполнения государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке, установленном Главой&nbsp;25 Гражданско-процессуального кодекса Российской Федерации, Главой&nbsp;24 Арбитражно-процессуального кодекса Российской Федерации. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия "Об&nbsp;утверждении Положения о&nbsp;порядке выдачи разрешений (открытых листов) на&nbsp;право проведения работ по&nbsp;выявлению и&nbsp;изучению объектов археологического наследия"» <br/>
	<em>15&nbsp;Приказ от&nbsp;2009-02-03 <br/>
 Прочее</em> 
</p>
</div>
</section>


</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}