{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1>Ведение реестра книжных памятников</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Внесение записей в&nbsp;Реестр книжных памятников</p>
<table>
<tr>
<th>Требования по&nbsp;срокам</th>
<td>
		<ul>
			<li>Не&nbsp;более 30&nbsp;рабочих дней</li>
		</ul>
	</td>
</tr>
<tr>
<th>Категории получателей</th>
<td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
</td>
</tr>
<tr>
<th>Оплата</th>
<td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
</tr>
<tr>
<th>Документы </th>
<td>		
		<ul>
			<li>Письменное обращение о&nbsp;предоставлении государственных услуг </li>
		</ul>
	</td>
</tr>
<tr>
<th>Адреса и&nbsp;телефоны</th>
<td>
<table>
<caption>Министерство культуры Российской Федерации</caption>
<tr>
<th>Адрес:</th>
<td>125009, Москва, М.&nbsp;Гнездниковский пер., 7/6</td>
</tr>
<tr>
<th>Телефон:</th>

<td><nobr class="phone"><span class="nowrap">+7 (495) 629-20-08</span></nobr></td>
</tr>
<tr>
<th>Email:</th>
<td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
</tr>
<tr>
<th>Режим работы:</th>
<td>
понедельник&nbsp;&mdash; четверг: 9:00&nbsp;&mdash; 18:00<br />
пятница: 9:00&nbsp;&mdash; 16:45<br />
суббота, воскресенье: выходной
</td>
</tr>
<tr>
<th>Время работы экспедиции:</th>
<td>
понедельник&nbsp;&mdash; четверг: 10:00&nbsp;&mdash; 18:00<br />
пятница: 10:00&nbsp;&mdash; 16:45<br />
суббота, воскресенье: выходной
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
<tr>
<th>Способы подачи заявки</th>
<td>
		<ul>
			<li>Почтой</li>
		</ul>
	</td>
</tr>
<tr>
<th>Способы получения результата</th>
<td>
		<ul>
			<li>Почтой</li>
		</ul>
	</td>
</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Отказ в&nbsp;предоставлении государственных услуг в&nbsp;связи с&nbsp;сведений о&nbsp;книжных памятниках, заявленных для регистрации</h4>
<p>В&nbsp;случае недостоверности сведений о&nbsp;книжных памятниках, заявленных для регистрации, специалист, ответственный за&nbsp;проверку достоверности сведений о&nbsp;книжных памятниках, направляет заявителю письменный мотивированный отказ в&nbsp;предоставлении государственных услуг. </p>
<table>
<tr>
<th>Получаемый документ</th>
<td>
		<ol>
			<li>Информационное письмо об&nbsp;отказе в&nbsp;регистрации
			<p>В&nbsp;случае недостоверности сведений о&nbsp;книжных памятниках, заявленных для регистрации, специалист, ответственный за&nbsp;проверку достоверности сведений о&nbsp;книжных памятниках, направляет заявителю письменный мотивированный отказ в&nbsp;предоставлении государственных услуг </p>
			<p>Информационное письмо об&nbsp;отказе в&nbsp;предоставлении государственных услуг оформляется в&nbsp;одном экземпляре на&nbsp;бланке установленной формы </p>
			</li>
		</ol>
	</td>
</tr>
</table>
<h4>Регистрационная запись в&nbsp;Реестре книжных памятников</h4>
<p>В&nbsp;случае достоверности сведений о&nbsp;книжных памятниках, заявленных для регистрации, специалист, ответственный за&nbsp;проверку достоверности сведений о&nbsp;книжных памятниках, в&nbsp;порядке делопроизводства передает письменное обращение заявителя специалисту, ответственному за&nbsp;внесение записей в&nbsp;Реестр.</p>
<table>
<tr>
<th>Получаемый документ</th>
<td>
		<ol>
			<li>Информационное письмо о&nbsp;регистрации книжных памятников в&nbsp;Реестре
			<p>После внесения необходимых записей в&nbsp;Реестр специалист, ответственный за&nbsp;внесение записей в&nbsp;Реестр, распечатывает из&nbsp;Реестра список с&nbsp;внесенными записями и&nbsp;в&nbsp;порядке делопроизводства передает специалисту, ответственному за&nbsp;оформление информационного письма о&nbsp;регистрации в&nbsp;Реестре, письменное обращение заявителя вместе с&nbsp;распечатанным списком внесенных записей для оформления информационного письма о&nbsp;регистрации в&nbsp;Реестре.</p>
			<p>Информационное письмо оформляется в&nbsp;одном экземпляре на&nbsp;бланке установленной формы</p>
			</li>
		</ol>
	</td>
</tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Заявитель может обратиться с&nbsp;письменной жалобой (или в&nbsp;форме устного личного обращения к&nbsp;должностному лицу во&nbsp;время приема граждан) на&nbsp;действия (бездействие) и&nbsp;решения, осуществляемые в&nbsp;ходе предоставления государственных услуг на&nbsp;основании настоящего Регламента: </p>
	<ul>
		<li>Министру культуры Российской Федерации; </li>
		<li>в&nbsp;судебном порядке. </li>
	</ul>
<p>Действия (бездействие) и&nbsp;решения организаций, принимающих участие в&nbsp;предоставлении государственных услуг, также могут быть обжалованы: </p>
	<ul>
		<li>обращением в&nbsp;Министерство культуры Российской Федерации; </li>
		<li>в&nbsp;судебном порядке. </li>
	</ul>		
<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul>
		<li>фамилию, имя, отчество; </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы; </li>
		<li>личную подпись и&nbsp;дату. </li>
	</ul>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
<p>Министр культуры Российской Федерации: </p>
	<ul>
		<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение жалобы, в&nbsp;случае необходимости&nbsp;&mdash; с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
		<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления, у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
		<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дает письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
	</ul>
<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации, его заместителями или Директором департамента культурного наследия и&nbsp;изобразительного искусства. </p>
<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;Минкультуры России, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
<p>Письменная жалоба, поступившая в&nbsp;Минкультуры России, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
<p>В&nbsp;исключительных случаях Министр культуры Российской Федерации или его заместители вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока ее&nbsp;рассмотрения заявителя, направившего жалобу. </p>
<p>Минкультуры России при получении письменной жалобы, в&nbsp;которой содержатся оскорбительные выражения, угрозы имуществу, жизни, здоровью должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить заявителю, направившему жалобу, о&nbsp;недопустимости злоупотребления правом. </p>
<p>Если в&nbsp;письменной жалобе не&nbsp;указаны фамилия инициатора жалобы и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
<p>Если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
<p>Если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, Министр культуры Российской Федерации, иное уполномоченное на&nbsp;то&nbsp;должностное лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;Минкультуры России. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
<p>Заявитель вправе обжаловать решения, принятые в&nbsp;ходе предоставления государственных услуг, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке (в&nbsp;районный суд общей юрисдикции) согласно статье 24&nbsp;Гражданского процессуального кодекса Российской Федерации от&nbsp;14.11.2002 &#8470;&nbsp;<nobr>138-ФЗ</nobr> (Собрание законодательства Российской Федерации, 2002, &#8470;&nbsp;46, ст.&nbsp;4532). </p>
<p>Согласно пункту 1&nbsp;статьи 256 Гражданского процессуального кодекса Российской Федерации гражданин вправе обратиться в&nbsp;суд с&nbsp;заявлением об&nbsp;оспаривании решений, действий (бездействия) органов государственной власти в&nbsp;течение трех месяцев со&nbsp;дня, когда ему стало известно о&nbsp;нарушении его прав и&nbsp;свобод. </p>
<p>Действия и&nbsp;решения организаций, принимающих участие в&nbsp;предоставлении государственных услуг, осуществляемые (принятые) в&nbsp;ходе предоставления государственных услуг могут быть обжалованы заявителем в&nbsp;судебном порядке в&nbsp;соответствии с&nbsp;законодательством Российской Федерации. </p>
<p>Порядок подачи, порядок рассмотрения и&nbsp;порядок разрешения жалоб, направляемых в&nbsp;суды и&nbsp;арбитражные суды, определяются законодательством Российской Федерации о&nbsp;гражданском судопроизводстве и&nbsp;судопроизводстве в&nbsp;арбитражных судах. </p>
</div>
</section>


</div><!-- /gcol-1 -->
<div class="gcol-2">
<div class="go-to-gos">
<p>На&nbsp;портале Госуслуг можно подать заявление на&nbsp;полученией этой услуги</p>
<a href="http://culture.ru/services/">Перейти на&nbsp;Портал Госуслуг</a>
</div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}