{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Государственная услуга по&nbsp;выдаче разрешения и&nbsp;задания на&nbsp;проведение работ по&nbsp;сохранению объекта культурного наследия (памятника истории и&nbsp;культуры) народов Российской Федерации</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Выдача задания или разрешения&nbsp;— не&nbsp;более 30&nbsp;рабочих дней с&nbsp;даты регистрации документов (присвоения входящего номера) в&nbsp;Минкультуры России; </li>
			<li>Выдача дубликата задания или разрешения&nbsp;— в&nbsp;течение 5&nbsp;рабочих дней с&nbsp;даты регистрации обращения о&nbsp;предоставлении дубликата задания или разрешения (присвоения входящего номера) в&nbsp;Минкультуры России; </li>
			<li>Выдача заверенной копии задания или разрешения&nbsp;— в&nbsp;течение 5&nbsp;рабочих дней с&nbsp;даты регистрации обращения о&nbsp;предоставлении заверенной копии задания или разрешения (присвоения входящего номера) в&nbsp;Минкультуры России. </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Выдача задания на&nbsp;проведение работ по&nbsp;сохранению объекта культурного наследия:
				<ol> 
					<li>Заявление о&nbsp;выдаче задания, подписанное уполномоченным лицом, подлинник, в&nbsp;одном экземпляре <em>(Приложение №&nbsp;3&nbsp;к Административному регламенту);</em></li>
					<li>Технический отчет о&nbsp;состоянии объекта культурного наследия (памятника истории и&nbsp;культуры) народов Российской Федерации, подписанный уполномоченными лицами, подлинник, в&nbsp;двух экземплярах <em>(Приложение №&nbsp;4&nbsp;к Административному регламенту).</em></li>
				</ol>
			</li>
			<li>Предоставление дубликата задания (при утере или порче документа):
				<ol>
					<li>Заявление о&nbsp;выдаче дубликата задания <em>(Приложение №&nbsp;7&nbsp;к Административному регламенту),</em> подписанное уполномоченным лицом, подлинник, в&nbsp;одном экземпляре; </li>
				<li>Испорченный бланк задания (в&nbsp;случае порчи бланка). </li>
				</ol>
			</li>
			<li>Предоставление заверенной копии задания&nbsp;&ndash;заявление о&nbsp;выдаче заверенной копии задания <em>(Приложение №&nbsp;8&nbsp;к Административному регламенту),</em> подписанное уполномоченным лицом, подлинник, в&nbsp;одном экземпляре и&nbsp;один экземпляр копии (в&nbsp;случае предоставления лично).</li>
				</ol>
			</li>
			<li>Выдача разрешения на&nbsp;проведение работ по&nbsp;сохранению объекта культурного наследия:
				<ol> 
					<li>Заявление о&nbsp;выдаче разрешения с&nbsp;указанием состава работ и&nbsp;мероприятий, с&nbsp;конкретными наименованиями участков объекта культурного наследия, на&nbsp;которых проводятся работы, подписанное уполномоченным лицом, подлинник, в&nbsp;одном экземпляре <em>(Приложение №&nbsp;5</em>&nbsp;<em>к </em><em>Административному регламенту);</em></li>
					<li>Копии титульных листов научно-проектной и&nbsp;проектной документации по&nbsp;сохранению объекта культурного наследия, прошитые и&nbsp;пронумерованные, заверенные на&nbsp;обороте последнего листа подписью уполномоченного лица и&nbsp;оттиском печати (для юридического лица), со&nbsp;штампом о&nbsp;ее&nbsp;согласовании или письма о&nbsp;согласовании документации органом охраны объекта культурного наследия, в&nbsp;одном экземпляре; </li>
					<li>Копия договора на&nbsp;проведение авторского надзора, прошитая, пронумерованная, заверенная на&nbsp;обороте последнего листа подписью уполномоченного лица и&nbsp;оттиском печати (для юридического лица), в&nbsp;одном экземпляре; </li>
					<li>Копия договора на&nbsp;проведение технического надзора, прошитая, пронумерованная, заверенная на&nbsp;обороте последнего листа подписью уполномоченного лица и&nbsp;оттиском печати (для юридического лица), в&nbsp;одном экземпляре; </li>
					<li>Копия договора на&nbsp;проведение научного руководства, прошитая, пронумерованная, заверенная на&nbsp;обороте последнего листа подписью уполномоченного лица и&nbsp;оттиском печати (для юридического лица), в&nbsp;одном экземпляре; </li>
					<li>Акт историко-культурной экспертизы научно-проектной и&nbsp;проектной документации по&nbsp;сохранению объекта культурного наследия, в&nbsp;одном экземпляре. </li>
				</ol>
			</li>
			
			<p><strong>Дополнительные документы:</strong> </p>
			<ul>
				<li>В&nbsp;случае проведения противоаварийных работ:
					<ol>
						<li>Проектная документация (рабочая) по&nbsp;проведению работ на&nbsp;объекте культурного наследия, подписанная уполномоченными лицами, подлинник, в&nbsp;двух экземплярах; </li>
					</ol>
				</li>
				<li>
				В&nbsp;случае, если затрагиваются конструктивные и&nbsp;другие характеристики надежности и&nbsp;безопасности если такого объекта:		
					<ol>
						<li>проектная документация (рабочая) по&nbsp;проведению работ на&nbsp;объекте культурного наследия, подписанная уполномоченными лицами, подлинник, в&nbsp;двух экземплярах. </li>
						<li>копия правоустанавливающих документов на&nbsp;земельный участок, заверенная на&nbsp;обороте последнего листа подписью уполномоченного лица и&nbsp;оттиском печати (для юридического лица), в&nbsp;одном экземпляре; </li>
						<li>материалы, содержащиеся в&nbsp;проектной документации, подлинник, в&nbsp;одном экземпляре: 
							<ul>
								<li>пояснительная записка;</li>
								<li>схема планировочной организации земельного участка, выполненная в&nbsp;соответствии с&nbsp;градостроительным планом земельного участка (при его наличии), с&nbsp;обозначением места размещения объекта культурного наследия, подъездов и&nbsp;проходов к&nbsp;нему, границ зон действия публичных сервитутов, объекта археологического наследия;</li>
								<li>схемы, отображающие архитектурные решения;</li>
							</ul>
						</li>
						<li>сведения об&nbsp;инженерном оборудовании, сводный план сетей инженерно-технического обеспечения с&nbsp;обозначением мест подключения проектируемого объекта культурного наследия к&nbsp;сетям инженерно-технического обеспечения; </li>
						<li>положительное заключение экспертизы проектной документации по&nbsp;сохранению объекта культурного наследия, подлинник, в&nbsp;одном экземпляре; </li>
						<li>согласие всех правообладателей объекта культурного наследия, подлинник, в&nbsp;одном экземпляре. </li>
					</ol>
				</li>
				<li>Получение разрешения на&nbsp;возобновление приостановленных работ по&nbsp;сохранению объекта культурного наследия:
					<ol>
						<li>заявление о&nbsp;выдаче разрешения <em>(Приложение №&nbsp;6&nbsp;к Административному регламенту),</em> подписанное уполномоченным лицом, подлинник, в&nbsp;одном экземпляре; </li>
						<li>копия документов, подтверждающих устранение указанных в&nbsp;предписании о&nbsp;приостановке работ нарушений, прошитая, пронумерованная, заверенная на&nbsp;обороте последнего листа подписью уполномоченного лица и&nbsp;оттиском печати (для юридического лица), в&nbsp;одном экземпляре; </li>
						<li>технический отчет о&nbsp;состоянии объекта культурного наследия (памятника истории и&nbsp;культуры) народов Российской Федерации <em>(Приложение №&nbsp;4&nbsp;к Административному регламенту),</em> составленный не&nbsp;ранее чем за&nbsp;3&nbsp;месяца до&nbsp;обращения за&nbsp;возобновлением действия разрешения, подписанный уполномоченными лицами, подлинник, в&nbsp;двух экземплярах (на&nbsp;проведение противоаварийных работ);</li>
						<li>проектная документация (рабочая) по&nbsp;проведению работ на&nbsp;объекте культурного наследия, подписанная уполномоченными лицами, подлинник, в&nbsp;двух экземплярах (предоставляется в&nbsp;случае проведения противоаварийных работ);</li>
						<li>материалы, подтверждающие устранение замечаний, повлекших приостановление работ по&nbsp;сохранению объекта культурного наследия, подписанные уполномоченными лицами научного руководства, авторского и&nbsp;технического надзора, подлинник, в&nbsp;одном экземпляре.</li>
					</ol>
				</li>
				<li>Для предоставления дубликата разрешения (при утере или порче документа):
					<ol>
						<li>заявление о&nbsp;выдаче дубликата разрешения <em>(Приложение №&nbsp;7&nbsp;к Административному регламенту),</em> подписанное уполномоченным лицом, подлинник, в&nbsp;одном экземпляре;</li>
						<li>испорченный бланк разрешения (в&nbsp;случае порчи бланка).</li>
					</ol>
				</li>
				<li>Для предоставления заверенной копии разрешения&nbsp;— заявление о&nbsp;выдаче заверенной копии разрешения <em>(Приложение №&nbsp;8&nbsp;к Административному регламенту),</em> подписанное уполномоченным лицом, подлинник, в&nbsp;одном экземпляре и&nbsp;один экземпляр копии (в&nbsp;случае предоставления лично);
				</li>			
		</ul>
	</td>
  </tr>
  <tr>
	  <th>Основания для отказа</th>
	  <td>
<ul>
		<li><strong>В&nbsp;приеме документов</strong>&nbsp;— не&nbsp;имеется.</li>
		<li><strong>В&nbsp;предоставлении государственной услуги</strong>: 
			<ol>
				<li>непредоставление документов или наличия в&nbsp;них неполных или недостоверных сведений; </li>
				<li>прекращение или приостановление действия одного или нескольких документов, служащих основанием для предоставления государственной услуги; </li>
				<li>документы подписаны лицом, не&nbsp;имеющим на&nbsp;то&nbsp;полномочий; </li>
				<li>несоответствие представленных документов требованиям законодательства Российской Федерации в&nbsp;области сохранения, государственной охраны и&nbsp;использования объектов культурного наследия, в&nbsp;том числе: 
					<ul>
						<li>в&nbsp;представленной документации предусматривается изменение особенностей объекта культурного наследия (предмета охраны), послуживших основаниями для его включения в&nbsp;Единый государственный реестр объектов культурного наследия и&nbsp;подлежащих обязательному сохранению;</li>
						<li>заявленные работы не&nbsp;соответствуют режимам содержания территории&nbsp;и (или) зон охраны объекта культурного наследия;</li>
						<li>запланированные работы не&nbsp;направлены на&nbsp;сохранение объекта культурного наследия;</li>
					</ul>
				</li>
				<li>ликвидация юридического лица-заявителя; </li>
				<li>наличие вступившего в&nbsp;законную силу судебного акта, в&nbsp;котором содержатся выводы о&nbsp;нарушениях законодательства Российской Федерации, связанных с&nbsp;государственной услугой. </li>
			</ol>
		</li>
	</ul>
	  </td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, М.&nbsp;Гнездниковский пер., 7/6</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
			перерыв: 12:00 - 12:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
			перерыв: 12:00 - 12:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично; </li>
			<li>Через уполномоченное лицо; </li>
			<li>Почтой; </li>
			<li>Экспедитором (курьером); </li>
			<li>Через федеральную государственную информационную систему «Единый портал государственных и&nbsp;муниципальных услуг (функций)»: <a href="http://www.gosuslugi.ru/" about="_blank">www.gosuslugi.ru</a>; </li>
	</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично; </li>
			<li>Через уполномоченное лицо; </li>
			<li>Почтой; </li>
		</ul>
	</td>
  </tr>
   <tr>
    <th>Нормативно-правовые акты:</th>
    <td>
		<ul>
			<li>Градостроительный кодекс Российской Федерации от 29 декабря 2004 г. № 190-ФЗ; </li>
			<li>Федеральный закон от 25 июня 2002 г. № 73-ФЗ «Об объектах культурного наследия (памятниках истории и культуры) народов Российской Федерации»; </li>
			<li>Федеральный закон от 27 июля 2010 г. № 210-ФЗ «Об организации предоставления государственных и муниципальных услуг»; </li>
			<li>постановление Правительства Российской Федерации от 15 июля 2009 г. № 569 «Об утверждении Положения о государственной историко-культурной экспертизе»; </li>
			<li>постановление Правительства Российской Федерации от 16 февраля 2008 г. № 87 «О составе разделов проектной документации и требованиях к их содержанию». </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Отказ в предоставлении государственной услуги </a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Основания для отказа</th>
    <td>
		<ul>
		<li><strong>В&nbsp;приеме документов</strong>&nbsp;— не&nbsp;имеется.</li>
		<li><strong>В&nbsp;предоставлении государственной услуги</strong>: 
			<ol>
				<li>непредоставление документов или наличия в&nbsp;них неполных или недостоверных сведений; </li>
				<li>прекращение или приостановление действия одного или нескольких документов, служащих основанием для предоставления государственной услуги; </li>
				<li>документы подписаны лицом, не&nbsp;имеющим на&nbsp;то&nbsp;полномочий; </li>
				<li>несоответствие представленных документов требованиям законодательства Российской Федерации в&nbsp;области сохранения, государственной охраны и&nbsp;использования объектов культурного наследия, в&nbsp;том числе: 
					<ul>
						<li>в&nbsp;представленной документации предусматривается изменение особенностей объекта культурного наследия (предмета охраны), послуживших основаниями для его включения в&nbsp;Единый государственный реестр объектов культурного наследия и&nbsp;подлежащих обязательному сохранению;</li>
						<li>заявленные работы не&nbsp;соответствуют режимам содержания территории&nbsp;и (или) зон охраны объекта культурного наследия;</li>
						<li>запланированные работы не&nbsp;направлены на&nbsp;сохранение объекта культурного наследия;</li>
					</ul>
				</li>
				<li>ликвидация юридического лица-заявителя; </li>
				<li>наличие вступившего в&nbsp;законную силу судебного акта, в&nbsp;котором содержатся выводы о&nbsp;нарушениях законодательства Российской Федерации, связанных с&nbsp;государственной услугой. </li>
			</ol>
		</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Срок отказа</th>
    <td>
		<ul>
			<li>10&nbsp;рабочих дней с&nbsp;даты поступления заявления в&nbsp;Минкультуры России (территориальный орган).</li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Результат отказа</th>
    <td>
		<ul>
			<li>Уведомление об&nbsp;отказе в&nbsp;приеме к&nbsp;рассмотрению заявления за&nbsp;подписью руководителя структурного подразделения, ответственного за&nbsp;предоставление государственной услуги, с&nbsp;указанием причин отказа и&nbsp;разъяснением положений нормативных правовых актов, регламентирующих порядок предоставления государственной услуги.</li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Приостановление государственной услуги</th>
    <td>
		<ul>
			<li>Установление некомплектности представленных документов или информации.</li>
		</ul>
	</td>
  </tr>
     <tr>
    <th>Сроки приостановления государственной услуги</th>
    <td>
		<ul>
			<li>Не&nbsp;более 30&nbsp;рабочих дней. Предоставление государственной услуги возобновляется после устранения причин, послуживших основанием для приостановления предоставления государственной услуги.</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Досудебный порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Случаи обжалования:
	<ol> 
		<li>нарушение срока регистрации обращения заявителя о&nbsp;предоставлении государственной услуги; </li>
		<li>нарушение срока предоставления государственной услуги; </li>
		<li>требование у&nbsp;заявителя документов, не&nbsp;предусмотренных Регламентом и&nbsp;нормативными правовыми актами Российской Федерации для предоставления государственной услуги; </li>
		<li>отказ в&nbsp;приеме у&nbsp;заявителя документов, предоставление которых предусмотрено нормативными правовыми актами Российской Федерации для предоставления государственной услуги; </li>
		<li>отказ в&nbsp;предоставлении государственной услуги, если основания отказа не&nbsp;предусмотрены федеральными законами и&nbsp;принятыми в&nbsp;соответствии с&nbsp;ними иными нормативными правовыми актами Российской Федерации; </li>
		<li>требование внесения заявителем при предоставлении государственной услуги платы, не&nbsp;предусмотренной нормативными правовыми актами Российской Федерации; </li>
		<li>отказ Минкультуры России (территориального органа) и&nbsp;его должностных лиц в&nbsp;исправлении допущенных опечаток и&nbsp;ошибок в&nbsp;выданных в&nbsp;результате предоставления государственной услуги документах, либо нарушение установленного срока таких исправлений. </li>
 	</ol>
	<p>Содержание жалобы: </p> 
	<ol> 
		<li>наименование органа, предоставляющего государственную услугу, должностного лица Минкультуры России, либо федерального государственного служащего, решения и&nbsp;действия (бездействие) которых обжалуются; </li>
		<li>фамилию, имя&nbsp;и (в&nbsp;случае, если имеется) отчество, сведения о&nbsp;месте жительства физического лица-заявителя, либо наименование, сведения о&nbsp;месте нахождения юридического лица-заявителя, а&nbsp;также контактные номера телефонов, адрес электронной почты (если он&nbsp;есть) и&nbsp;почтовый адрес, по&nbsp;которым должен быть направлен ответ заявителю; </li>
		<li>сведения об&nbsp;обжалуемых решениях и&nbsp;действиях (бездействии) Минкультуры России, должностного лица Минкультуры России либо федерального государственного служащего Минкультуры России; </li>
		<li>доводы, на&nbsp;основании которых заявитель не&nbsp;согласен с&nbsp;решением и&nbsp;действием (бездействием) Минкультуры России, должностного лица Минкультуры России либо федерального государственного служащего Минкультуры России. </li>
 	</ol>
 <p>Скачать: <a href="http://mkrf.ru/upload/mkrf/mkdocs2012/28_12_2012_1.docx" target="_blank">Административный регламент</a> (MS&nbsp;Word, 381&nbsp;кб)</p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
 <p>"О библиотечном деле (в ред. Федеральных законов от 22.08.2004 N 122-ФЗ, от 26.06.2007 N 118-ФЗ, от 23.07.2008 N 160-ФЗ, от 27.10.2008 N 183-ФЗ, от 03.06.2009 N 119-ФЗ)"<br /> 
<em>78-ФЗ Федеральный закон от 1994-12-29<br />
НПА, непосредственно регулирующий предоставление ГУ</em></p>

</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}