{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Оказание в&nbsp;соответствии с&nbsp;законодательством Российской Федерации и&nbsp;международными договорами Российской Федерации содействия законным собственникам в&nbsp;восстановлении их&nbsp;прав на&nbsp;культурные ценности при незаконных вывозе, ввозе культурных ценностей и&nbsp;передаче права собственности на&nbsp;них, содействие возвращению культурных ценностей в&nbsp;Российскую Федерацию в&nbsp;случае незаконного вывоза</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Исполнение принятого решения (принятие мер, указанных в&nbsp;таком решении) осуществляется&nbsp;— начиная с&nbsp;момента указанного в&nbsp;решении и&nbsp;до&nbsp;момента восстановления нарушенных прав (достижения поставленной в&nbsp;решении цели) либо наступления обстоятельств, исключающих исполнение решения.</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Не облагается госпошлиной.</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Обращение заявителя (собственника культурных ценностей)<br> Составляется в&nbsp;произвольной форме на&nbsp;имя руководителя Минкультуры России.</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 628-50-89</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично</li>
			<li>Почтой </li>
			<li>По телефону</li>
			<li>По email</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Проект распоряжения о&nbsp;порядке, условиях и&nbsp;лицах, обеспечить реализацию конкретных мер содействия собственнику в&nbsp;восстановлении его прав, регистрирующийся по&nbsp;правилам документооборота, принятым в&nbsp;Минкультуры России.</li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Принятие мер по&nbsp;оказанию содействия </h4>
<table>
   <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письмо, информирующее о&nbsp;принимаемых мерах<br>
			<i>Информирование может осуществляться также в устной форм</i></li>
		</ol>
	</td>
  </tr>
</table>

<h4>Отказ в&nbsp;принятии мер по&nbsp;оказанию содействия</h4>
<p>Решение о&nbsp;невозможности (об&nbsp;отказе) оказания содействия законным собственникам в&nbsp;восстановлении их&nbsp;прав на&nbsp;культурные ценности при незаконных вывозе, ввозе культурных ценностей и&nbsp;передаче права собственности на&nbsp;них принимается, если: 
</p>
<ul> 
	<li>обращение содержит просьбу о&nbsp;мерах, принятие которых выходит за&nbsp;рамки компетенции Минкультуры России; </li>
	<li>факт нарушения права не&nbsp;нашел подтверждения в&nbsp;ходе рассмотрения обращения заявителя; </li>
	<li>в&nbsp;процессе рассмотрения документов, представленных заявителем, выявлены обстоятельства, свидетельствующие об&nbsp;отсутствии у&nbsp;заявителя правомочий, позволяющих обращаться в&nbsp;Минкультуры России за&nbsp;оказанием соответствующего содействия, в&nbsp;том числе свидетельствующих о&nbsp;незаконности владения культурной ценностью, в&nbsp;отношении которой заявитель просит оказать содействие в&nbsp;восстановлении прав; </li>
	<li>при рассмотрении обращения установлен факт полной утраты (уничтожения) культурной ценности; </li>
	<li>действующим законодательством Российской Федерации и&nbsp;международными соглашениями органы государственной власти не&nbsp;наделяются правом представлять интересы заявителя при защите его прав либо предусмотрен порядок защиты прав, которым может воспользоваться только сам заявитель; </li>
	<li>заявителем не&nbsp;предоставлены документы, необходимые или достаточные для принятия решения об&nbsp;оказании ему содействия. </li>
 </ul>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письмо, информирующее о&nbsp;принимаемых мерах<br>
			<i>Информирование может осуществляться также в&nbsp;устной форме</i></li>
		</ol>
	</td>
  </tr>
 </table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<ol>
	<li>Действия (бездействие), осуществляемые в&nbsp;ходе исполнения государственной функции на&nbsp;основании Регламента, могут обжаловаться как заявителями, так и&nbsp;иными лицами (гражданами, юридическими лицами), чьи права или законные интересы были нарушены обжалуемыми действиями (бездействием) (далее&nbsp;— заявители).</li>
	 <li>Заявитель вправе обжаловать действия (бездействие) и&nbsp;решения, осуществляемые (принятые) в&nbsp;ходе исполнения государственной функции на&nbsp;основании настоящего Регламента (далее&nbsp;— жалоба):
		<ul>
			<li>путём обращения в&nbsp;порядке подчинённости с&nbsp;жалобой на&nbsp;имя руководителя Минкультуры России. </li>
			<li>в&nbsp;судебном порядке.</li>
		</ul>
	</li>
	<li>Жалоба в&nbsp;письменной форме должна содержать: 
		<ul>
			 <li>фамилию, имя, отчество (при его наличии) гражданина или его представителя (наименование юридического лица), которым подается жалоба. Если жалоба подаётся от&nbsp;имени юридического лица, то&nbsp;указывается фамилия, имя, отчество (при его наличии) руководителя юридического лица; </li>
			 <li>место жительства или пребывания гражданина (место нахождения юридического лица) и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
			 <li>наименование органа&nbsp;и (или) фамилия, имя, отчество (при его наличии) должностного лица (при наличии данной информации), решение, действие (бездействие) которого обжалуется; </li>
			 <li>суть обжалуемого действия (бездействия). </li>
		</ul>
	</li>
	<li>Дополнительно могут быть указаны:
		<ul>
			 <li>причины несогласия с&nbsp;обжалуемым действием (бездействием);</li>
			 <li>обстоятельства, на&nbsp;основании которых автор обращения считает, что нарушены его права, свободы и&nbsp;законные интересы, созданы препятствия к&nbsp;их&nbsp;реализации либо незаконно возложена какая-либо обязанность; </li>
			 <li>иные сведения, которые автор обращения считает необходимым сообщить; </li>
			 <li>копии документов, подтверждающих изложенные в&nbsp;жалобе доводы. </li>
		</ul>
	</li>
	<li>Жалоба подписывается подавшим ее&nbsp;гражданином или руководителем юридического лица, на&nbsp;жалобе ставится дата.</li>
	 <li>К&nbsp;жалобе могут быть приложены копии документов, подтверждающих изложенные в&nbsp;жалобе обстоятельства. В&nbsp;таком случае в&nbsp;жалобе приводится перечень прилагаемых к&nbsp;ней документов.</li>
	 <li>Если документы, имеющие существенное значение для рассмотрения жалобы, отсутствуют или не&nbsp;приложены к&nbsp;обращению, заявитель в&nbsp;пятидневный срок уведомляется (письменно, с&nbsp;использованием средств телефонной или факсимильной связи, либо по&nbsp;электронной почте) о&nbsp;том, что рассмотрение жалобы и&nbsp;принятие решения будут осуществляться без учета доводов, в&nbsp;подтверждение которых документы не&nbsp;представлены.</li>
	 <li>Поступившая в&nbsp;Минкультуры России жалоба регистрируется, заявителю выдаётся (направляется) уведомление о&nbsp;принятии жалобы, содержащее координаты должностного лица (фамилия, имя, отчество, телефон), а&nbsp;также дату принятия решения о&nbsp;рассмотрении заявления. Заявление рассматривается на&nbsp;предмет правильности оформления в&nbsp;присутствии заявителя, в&nbsp;случае наличия ошибок заявитель может исправить их&nbsp;незамедлительно.</li>
	 <li>Должностные лица Минкультуры России: 
		<ul>
			 <li>обеспечивают объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя;</li>
			 <li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
			 <li>по&nbsp;результатам рассмотрения жалобы принимают меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов.</li>
		</ul>
	</li>
	 <li>Рассмотрение жалобы и&nbsp;подготовка ответа по&nbsp;ней осуществляются в&nbsp;соответствии с&nbsp;установленными в&nbsp;Минкультуры России правилами документооборота. </li>
	 <li>Письменная жалоба, поступившая в&nbsp;Минкультуры России, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </li>
	 <li>В&nbsp;исключительных случаях, предусмотренных законодательством Российской Федерации, руководитель Минкультуры России либо уполномоченное должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </li>
	 <li>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </li>
	 <li>Минкультуры России при получении письменной жалобы, в&nbsp;которой содержатся нецензурные либо оскорбительные выражения, угрозы имуществу государственного органа, угрозы имуществу, жизни, здоровью должностного лица, а&nbsp;также членов его семьи, вправе оставить жалобу без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить заявителю, направившему жалобу, о&nbsp;недопустимости злоупотребления правом. </li>
	 <li>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению.</li>
	 <li>В&nbsp;случае, если в&nbsp;жалобе содержится вопрос, на&nbsp;который многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель Минкультуры России, должностное лицо либо уполномоченное лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </li>
	 <li>Ответ на&nbsp;жалобу подписывается руководителем Минкультуры России либо уполномоченным должностным лицом. </li>
	 <li>Ответ на&nbsp;жалобу, поступившую в&nbsp;Минкультуры России, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </li>
	 <li>Граждане и&nbsp;представители юридических лиц могут сообщить о&nbsp;нарушении своих прав и&nbsp;законных интересов, противоправных решениях, действиях или бездействии должностных лиц Минкультуры России, нарушении положений административного регламента, некорректном поведении или нарушении служебной этики: 
		<ul>
			<li>в&nbsp;Общественную приёмную: <nobr class="phone">(495) 629-89-01 </nobr></li>
			<li>по&nbsp;факсу Минкультуры России <nobr class="phone">(495) 629-72-69 </nobr></li>
			<li>на&nbsp;электронный адрес Минкультуры России: <a href="mailto:info@mkrf.ru">info@mkrf.ru</a></li>
		</ul>
	<p>В&nbsp;таких сообщениях должна содержаться следующая информация: 
		<ul>
			 <li>фамилия, имя, при наличии отчество гражданина (представителя юридического лица), которым подается сообщение, его место жительства или пребывания (место нахождения юридического лица); </li>
			 <li>фамилия, имя, при наличии отчество должностного лица, решение, действие (бездействие) которого нарушает права и&nbsp;законные интересы гражданина (юридического лица); </li>
			 <li>суть нарушенных прав и&nbsp;законных интересов, противоправного решения, действия (бездействия). <br/>
			 Граждане и&nbsp;юридические лица вправе обжаловать решения, принятые в&nbsp;ходе осуществления государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке.</li>
		</ul>
	</li>
</ol>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
 <p>«Положения о&nbsp;Федеральной службе по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия, утвержденное постановлением Правительства Российской Федерации» <br/>
	<em>407 Положение от&nbsp;2008-05-29 <br/>
 Прочее</nobr></em> 
</p>
<p>«Федеральный закон &quot;О&nbsp;порядке рассмотрения обращений граждан Российской Федерации&quot;» <br/>
	<em>59&nbsp;Федеральный закон от&nbsp;2006-05-02 <br/>
 Прочее</nobr></em> 
</p>
<p>«Административный регламент Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия по&nbsp;исполнению государственной функции &quot;Оказание в&nbsp;соответствии с&nbsp;законодательством Российской Федерации и&nbsp;международными договорами Российской Федерации содействия законным собственникам в&nbsp;восстановлении их&nbsp;прав на&nbsp;культурные ценности при незаконных вывозе, ввозе культурных ценностей и&nbsp;передаче права собственности на&nbsp;них, содействие возвращению культурных ценностей в&nbsp;Российскую Федерацию в&nbsp;случае незаконного вывоза&quot; (Проект)» <br/>
	<em>—&nbsp;Регламент от&nbsp;2010-01-13 <br/>
 НПА,</nobr> непосредственно регулирующий предоставление ГУ</em> 
</p>
<p>«Основы законодательства Российской Федерации о&nbsp;культуре, утверждены Верховным Советом Российской Федерации» <br/>
	<em><nobr>3612-1</nobr> Директива от&nbsp;1992-10-09 <br/>
 Прочее</nobr></em> 
</p>
<p>«Закон Российской Федерации &quot;О&nbsp;вывозе и&nbsp;ввозе культурных ценностей&quot;» <br/>
	<em><nobr>4804-1</nobr> Закон от&nbsp;1993-04-15 <br/>
 Прочее</nobr></em> 
</p>
<p>«Конвенция ЮНЕСКО &quot;О&nbsp;мерах, направленных на&nbsp;запрещение и&nbsp;предупреждение незаконного ввоза, вывоза и&nbsp;передачи права собственности на&nbsp;культурные ценности&quot; (подписана в&nbsp;Париже 14&nbsp;ноября 1970&nbsp;г.; вступила в&nbsp;силу для СССР 28&nbsp;июля 1988&nbsp;г.)» <br/>
	<em>—&nbsp;Правила от&nbsp;1970-11-14 <br/>
 Прочее</nobr></em> 
</p>
<p>«Соглашение от&nbsp;28&nbsp;сентября 2001&nbsp;г. &quot;О&nbsp;вывозе и&nbsp;ввозе культурных ценностей&quot;» <br/>
	<em>—&nbsp;Решение от&nbsp;2001-09-28 <br/>
 Прочее</nobr></em> 
</p>
<p>«Федеральный закон &quot;О&nbsp;культурных ценностях, перемещённых в&nbsp;Союз ССР в&nbsp;результате Второй мировой войны и&nbsp;находящихся на&nbsp;территории Российской Федерации&quot;» <br/>
	<em>64&nbsp;Федеральный закон от&nbsp;1998-04-15 <br/>
 Прочее</nobr></em> 
</p>
<p>«Соглашение о&nbsp;сотрудничестве и&nbsp;взаимной помощи по&nbsp;вопросам задержания и&nbsp;возврата культурных ценностей, незаконно провозимых через государственные границы (Пловдив, 22&nbsp;апреля 1986&nbsp;г.; вступило в&nbsp;силу для СССР 5&nbsp;мая 1987&nbsp;г.)» <br/>
	<em>—&nbsp;Решение от&nbsp;1986-04-22 <br/>
 Прочее</nobr></em> 
</p>

</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}