{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Регистрация фактов пропажи, утраты, хищения культурных ценностей, организация и&nbsp;обеспечение оповещения государственных органов и&nbsp;общественности в&nbsp;Российской Федерации и&nbsp;за&nbsp;ее&nbsp;пределами об&nbsp;этих фактах</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Трое суток с&nbsp;момента получения информации о&nbsp;пропавших, утраченных, похищенных культурных ценностях. </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Изображения пропавших, утраченных, похищенных культурных ценностей</li>
			<li>Заявление о&nbsp;факте пропажи, утраты и&nbsp;хищения (Составляется в&nbsp;произвольной форме с&nbsp;обязательным указанием собственника и&nbsp;наиболее полного описания пропавших культурных ценностей, позволяющего идентифицировать&nbsp;их (название, автор, время создания, сохранность, наличие владельческих признаков, записей, помет и&nbsp;т.п.)</li>
			<li>Подробные описания пропавших, утраченных, похищенных культурных ценностей, позволяющие полностью идентифицировать каждую культурную ценность</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-20-08</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>По телефону </li>
			<li>По e-mail </li>
			<li>На WEB сайте </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Данная информация отсутствует</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Запись в&nbsp;Журнале регистрации сообщений о&nbsp;фактах пропажи, утраты, хищения культурных ценностей (по&nbsp;определенным в&nbsp;Регламенте позициям).</li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Регистрация факта пропажи, утраты и&nbsp;хищения культурных ценностей</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Административным регламентом не&nbsp;предусмотрен письменный ответ юридическим лицам.</li>
		</ol>
	</td>
  </tr>
    <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li>Регистрация в&nbsp;Журнале регистрации фактов пропажи, утраты, хищения культурных ценностей. </li>
			<li>Внесение информации в&nbsp;электронную базу данных</li>
		</ul>
	</td>
  </tr>
</table>
<h4>Отказ в&nbsp;регистрации факта пропажи, утраты и&nbsp;хищения культурных ценностей</h4>
<p>В&nbsp;качестве заявителей информации о&nbsp;фактах пропажи, утраты, хищения культурных ценностей могут выступать: </p>
<ul>
	<li>архивы, библиотеки, музеи, научные, реставрационные и&nbsp;иные организации, не&nbsp;зависимо от&nbsp;их&nbsp;ведомственной принадлежности и&nbsp;формы собственности, которые осуществляют в&nbsp;установленном порядке: 
	<ul>
		<li>хранение документов Архивного фонда Российской Федерации, </li>
		<li>хранение библиотечных фондов, отнесенных к&nbsp;культурному наследию народов Российской Федерации, </li>
		<li>хранение музейных предметов и&nbsp;музейных коллекций, включенных в&nbsp;состав Музейного фонда Российской Федерации, </li>
		<li>владение или пользование объектами культурного наследия (памятниками истории и&nbsp;культуры) народов Российской Федерации, в&nbsp;составе которых имеются предметы интерьера, поставленные на&nbsp;государственный учет; </li>
	</ul>
	</li>
	<li>прочие юридические лица, владеющие культурными ценностями на&nbsp;праве собственности или ином вещном праве; </li>
</ul>
 <p>Основанием для отказа является: </p>
<ul> 
	<li>заявитель не&nbsp;является собственником культурных ценностей; </li>
	<li>отсутствие справки о&nbsp;происшествии; </li>
	<li>анонимность; </li>
	<li>для учреждений культуры, претендующих на&nbsp;выделение перемещенных культурных ценностей&nbsp;— отсутствие списков разграбленных или уничтоженных в&nbsp;период Второй мировой войны культурных ценностей, копий сохранившихся инвентарных книг, приказов, актов. </li>
 </ul>
 
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письмо об&nbsp;отказе в&nbsp;регистрации факта.</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<ol>
	<li>Заявитель вправе обжаловать действия (бездействие) и&nbsp;решения, осуществляемые (принятые) в&nbsp;ходе исполнения государственной функции, на&nbsp;основании настоящего административного регламента. Заявитель вправе обратиться с&nbsp;жалобой лично или направить письменное обращение, жалобу (претензию) в&nbsp;Минкультуры России. <br/>
	<li>Обращение заявителя в&nbsp;письменной форме (жалоба) должно содержать следующую информацию: 
	<ul>
		<li>фамилия, имя, отчество (последнее&nbsp;— при наличии) гражданина, которым подается жалоба, его место жительства или пребывания (наименование, адрес место нахождения&nbsp;— для юридического лица); </li>
		<li>наименование органа, исполняющего государственную функцию, должности, фамилии, имена и&nbsp;отчества сотрудников (при наличии информации), решение, действие (бездействие) которого обжалуется;</li>
		<li>существо обжалуемого решения, действия (бездействия).</li>
	</ul></li>
	 <li>Дополнительно в&nbsp;жалобе могут указываться причины несогласия с&nbsp;обжалуемым решением, действием (бездействием), обстоятельства, на&nbsp;основании которых заявитель считает, что нарушены его права, свободы и&nbsp;законные интересы, созданы препятствия к&nbsp;их&nbsp;реализации либо незаконно возложена какая-либо обязанность, требования (об&nbsp;отмене решения, о&nbsp;признании незаконным действия (бездействия)), а&nbsp;также иные сведения, которые заявитель считает необходимым сообщить.</li>
	 <li>Жалоба подписывается подавшим ее&nbsp;заявителем.</li>
	 <li>К&nbsp;жалобе могут быть приложены копии документов, подтверждающих изложенные в&nbsp;жалобе обстоятельства. В&nbsp;таком случае в&nbsp;жалобе приводится перечень прилагаемых к&nbsp;ней документов. </li>
	<li>Если документы, имеющие существенное значение для рассмотрения жалобы, отсутствуют или не&nbsp;приложены к&nbsp;обращению, заявитель в&nbsp;пятидневный срок уведомляется (письменно, с&nbsp;использованием средств телефонной или факсимильной связи либо по&nbsp;электронной почте) о&nbsp;том, что рассмотрение жалобы и&nbsp;принятие решения будут осуществляться без учета доводов, в&nbsp;подтверждение которых документы не&nbsp;представлены. </li>
	<li>Обращение заявителя не&nbsp;рассматривается в&nbsp;следующих случаях:
		<ul>
			<li>при отсутствии сведений о&nbsp;лице, обратившемся с&nbsp;жалобой (фамилия гражданина и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ);</li>
			<li>при наличии в&nbsp;письменном обращении нецензурных либо оскорбительных выражений, угроз жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи; </li>
			<li>если текст письменного обращения не&nbsp;поддается прочтению. </li>
		</ul></li>
	<li>Минкультуры России при получении заявления об&nbsp;обжаловании выдает заявителю уведомление о&nbsp;принятии заявления, содержащее координаты должностного лица (фамилия, имя, отчество (последнее при наличии), телефон), а&nbsp;также дату принятия решения о&nbsp;рассмотрении заявления. Заявление рассматривается на&nbsp;предмет правильности оформления в&nbsp;присутствии заявителя, в&nbsp;случае наличия ошибок заявитель может исправить их&nbsp;незамедлительно. </li>
	<li>Заявление об&nbsp;обжаловании рассматривается Минкультуры России в&nbsp;течение 30&nbsp;дней с&nbsp;момента его получения. </li>
	<li>В&nbsp;случае если по&nbsp;обращению требуется провести расследования, проверки или обследования, срок рассмотрения жалобы может быть продлен, но&nbsp;не&nbsp;более чем на&nbsp;30&nbsp;дней по&nbsp;решению должностного лица, ответственного или уполномоченного сотрудника органа, исполняющего государственную функцию. О&nbsp;продлении срока рассмотрения жалобы заявитель уведомляется письменно с&nbsp;указанием причин продления. </li>
	<li>Заявитель имеет право на&nbsp;любой стадии рассмотрения спорных вопросов обратиться в&nbsp;суд. В&nbsp;случае несогласия с&nbsp;результатами обжалования заявитель обращается в&nbsp;установленном действующим законодательством порядке в&nbsp;суд. </li>
</ol>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Положение о&nbsp;рассмотрении ходатайств и&nbsp;претензий учреждений культуры относительно распределения перемещенных в&nbsp;результате Второй мировой войны и&nbsp;находящихся на&nbsp;территории Российской Федерации культурных ценностей, утвержденное Постановлением Правительства Российской Федерации (с&nbsp;изменениями от&nbsp;31&nbsp;марта 2005&nbsp;г., 2&nbsp;октября 2007&nbsp;г.)» <br/>
	<em>174 Положение от&nbsp;2001-03-11 <br/>
 Прочее</em> 
</p>
<p>«Положение о&nbsp;Музейном фонде Российской Федерации, утвержденное Постановлением Правительства Российской Федерации от&nbsp;12&nbsp;февраля 1998&nbsp;г. N&nbsp;179» <br/>
	<em>179 Положение от&nbsp;1998-02-12 <br/>
 Прочее</em> 
</p>
<p>«Закон Российской Федерации &quot;О&nbsp;вывозе и&nbsp;ввозе культурных ценностей&quot; (с&nbsp;изменениями от&nbsp;2&nbsp;ноября 2004&nbsp;г., в&nbsp;ред.&nbsp;от&nbsp;17&nbsp;июля 2009&nbsp;г.)» <br/>
	<em><nobr>4804-1</nobr> Закон от&nbsp;1993-04-15 <br/>
 Прочее</em> 
</p>
<p>«Конвенция ЮНЕСКО &quot;О&nbsp;мерах, направленных на&nbsp;запрещение и&nbsp;предупреждение незаконного ввоза, вывоза и&nbsp;передачи права собственности на&nbsp;культурные ценности&quot; (принята в&nbsp;Париже 17&nbsp;ноября 1970&nbsp;г.; вступила в&nbsp;силу для СССР 28&nbsp;июля 1988&nbsp;г.)» <br/>
	<em>—&nbsp;Концепция от&nbsp;1970-11-17 <br/>
 Прочее</em> 
</p>
<p>«Приказ Росохранкультуры &quot;Об&nbsp;утверждении Административного регламента по&nbsp;исполнению Росохранкультурой государственной функции „Регистрация фактов пропажи, утраты, хищения культурных ценностей, организация и&nbsp;обеспечение оповещения государственных органов и&nbsp;общественности в&nbsp;Российской Федерации и&nbsp;за&nbsp;ее&nbsp;пределами об&nbsp;этих фактах&quot;» <br/>
	<em>469 Приказ от&nbsp;2007-12-26 <br/>
 Прочее</em> 
</p>
<p>«Федеральный закон &quot;О&nbsp;Музейном фонде Российской Федерации и&nbsp;музеях в&nbsp;Российской Федерации&quot; в&nbsp;ред.&nbsp;23&nbsp;июля 2008&nbsp;г. (с&nbsp;изменениями от&nbsp;10&nbsp;января 2003&nbsp;г., 22&nbsp;августа 2004&nbsp;г., 26&nbsp;июня 2007&nbsp;г.)» <br/>
	<em>54&nbsp;Федеральный закон от&nbsp;1996-05-26 <br/>
 Прочее</em> 
</p>
<p>«Федеральный закон &quot;Об&nbsp;информации, информационных технологиях и&nbsp;о&nbsp;защите информации&quot;» <br/>
	<em>149 Федеральный закон от&nbsp;2006-07-27 <br/>
 Прочее</em> 
</p>

</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}