{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Предоставление государственной услуги по&nbsp;выдаче удостоверений национального фильма</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<h1>Аннулирование ранее выданного удостоверения национального фильма</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>В&nbsp;случаях, установленных пунктом 21&nbsp;Положения о&nbsp;национальном фильме, утвержденного Приказом Министерства культуры и&nbsp;массовых коммуникаций Российской Федерации от&nbsp;27&nbsp;сентября 2004 года N&nbsp;60 «Об&nbsp;утверждении положения о&nbsp;национальном фильме», удостоверение национального фильма может быть аннулировано Минкультуры России.</p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Не&nbsp;более <nobr>13-ти</nobr> рабочих дней</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Выявление информации соответствующего характера</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М.&nbsp;Гнездниковский пер., 7/6 строения 1, 2</td>
        </tr>
		<tr>
          <th>Контакты:</th>
          <td>Отдел ведения государственного регистра Департамента кинематографии и&nbsp;модернизационных программ Минкультуры России</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br><span class="nowrap">+7 (495) 629-68-55</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Личный прием заявителей должностными лицами Отдела ведения государственного регистра фильмов:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 17:00, перерыв с 12.45 до 13.30<br />
            пятница: 10:00 - 16:45, перерыв с 12.45 до 13.30<br />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>По телефону </li>
			<li>По email </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>

		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Извещение о&nbsp;принятии решения об&nbsp;аннулировании удостоверения фильма: </p>
			<ul>
			<li>направляется специалистом по&nbsp;рассмотрению документов заказным письмом с&nbsp;уведомлением о&nbsp;вручении или вручается обладателю удостоверения под расписку </li>
			<li>размещается на&nbsp;официальном Интернет-сайте Минкультуры России </li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Извещение об&nbsp;аннулировании удостоверения национального фильма</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение об&nbsp;аннулировании удостоверения национального фильма</li>
		</ol>
	</td>
  </tr>
    <tr>
    <th>Права заявителя и обязанности органа власти</th>
    <td>
		<ul>
			<li>Удостоверение национального фильма может быть аннулировано Министерством в&nbsp;случаях, если сведения, содержащиеся в&nbsp;документах, представленных в&nbsp;Министерство, не&nbsp;соответствуют действительности, либо если в&nbsp;процессе производства и&nbsp;проката фильм перестал соответствовать требованиям национального фильма.</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
	<ul><li>Министру (заместителю Министра) культуры Российской Федерации</li></ul>
	<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul>
		<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
		<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы;</li>
		<li>личную подпись и&nbsp;дату </li>
	</ul>
	<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
	<p>Министр (заместитель Министра) культуры Российской Федерации: </p>
	<ul>
		<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
		<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
		<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
	</ul>
		<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
		<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
		<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
		<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
		<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
		<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
		<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
		<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;Административном регламенте Министерства культуры Российской Федерации по&nbsp;предоставлению государственной услуги по&nbsp;выдаче удостоверений национального фильма"» <br/>
	<em>38&nbsp;Административный регламент от&nbsp;2009-02-03 <br/>
 Административный регламент</em> 
</p>
</div>
</section>

<h1>Получение дубликата удостоверения национального фильма</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня подачи заявления о&nbsp;выдаче дубликата</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Письменное заявление с&nbsp;ходатайством о&nbsp;выдаче дубликата удостоверения национального фильма<br>Заявитель представляет в&nbsp;Минкультуры России письменное заявление, составленное в&nbsp;свободной форме, с&nbsp;ходатайством о&nbsp;выдаче дубликата. Заявление принимается в&nbsp;порядке, предусмотренном&nbsp;п.&nbsp;п.&nbsp;35.2, 35.3 настоящего Регламента.</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М.&nbsp;Гнездниковский пер., 7/6 строения 1, 2</td>
        </tr>
		<tr>
          <th>Контакты:</th>
          <td>Отдел ведения государственного регистра Департамента кинематографии и&nbsp;модернизационных программ Минкультуры России</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>
Дубликат выдается заявителю не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня подачи заявления о&nbsp;выдаче дубликата. Дубликат выдается в&nbsp;порядке, предусмотренном&nbsp;п.&nbsp;38.5, п.&nbsp;38.6 настоящего Регламента</p>
<h4>Отказ в&nbsp;выдаче дубликата удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;невозможности выдачи дубликата</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Выдача дубликата удостоверения национального фильма</h4>
<p>В&nbsp;том случае, если в&nbsp;электронной базе данных имеется запись о&nbsp;выдаче заявителю удостоверения на&nbsp;фильм, в&nbsp;отношении которого подано заявление о&nbsp;выдаче дубликата, специалист по&nbsp;рассмотрению документов в&nbsp;тот&nbsp;же день заполняет бланк удостоверения, представляет его на&nbsp;подпись и&nbsp;телефонограммой извещает заявителя о&nbsp;возможности получения дубликата. В верхнем правом углу удостоверения специалист по&nbsp;рассмотрению документов ставит штамп «Дубликат»</p>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение заявителя о&nbsp;возможности получения дубликата удостоверения национального фильма</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
	<ul><li>Министру (заместителю Министра) культуры Российской Федерации</li></ul>
	<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul>
		<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
		<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы;</li>
		<li>личную подпись и&nbsp;дату </li>
	</ul>
	<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
	<p>Министр (заместитель Министра) культуры Российской Федерации: </p>
	<ul>
		<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
		<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
		<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
	</ul>
		<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
		<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
		<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
		<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
		<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
		<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
		<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
		<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>

<section>
	<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
	<div class="g-content g-collapsed">
		<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;Административном регламенте Министерства культуры Российской Федерации по&nbsp;предоставлению государственной услуги по&nbsp;выдаче удостоверений национального фильма"» <br/>
	<em>38&nbsp;Административный регламент от&nbsp;2009-02-03</em> </p>
	</div>
</section>

<h1>Получение удостоверения национального фильма для незавершенного производством фильма </h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Не более 10-ти рабочих дней</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li><p>Для получения удостоверения национального фильма для незавершенного производством фильма заявитель представляет следующий пакет документов: </p>
				<ul> 
					<li>сопроводительное письмо в&nbsp;свободной форме в&nbsp;адрес Минкультуры России с&nbsp;указанием названия фильма, источников финансирования его производства с&nbsp;указанием наименований инвесторов; </li>
					<li>заявление (в&nbsp;соответствии с&nbsp;приложением N&nbsp;1&nbsp;к настоящему Регламенту); </li>
					<li>копия учредительных документов и&nbsp;копия документа о&nbsp;государственной регистрации продюсера в&nbsp;качестве юридического лица (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом)&nbsp;— для юридического лица; </li>
					<li>копия паспорта и&nbsp;документа о&nbsp;государственной регистрации продюсера в&nbsp;качестве индивидуального предпринимателя (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом)&nbsp;— для индивидуального предпринимателя; </li>
					<li>копия свидетельства о&nbsp;постановке продюсера на&nbsp;учет в&nbsp;налоговом органе (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом); </li>
					<li>сведения о&nbsp;предшествующей профессиональной деятельности продюсера; </li>
					<li>копии паспортов авторов фильма, удостоверяющих их&nbsp;гражданство; </li>
					<li>сценарий игрового, мультипликационного фильма, синопсис полнометражного неигрового фильма, заявку короткометражного неигрового фильма (в&nbsp;одном экземпляре); </li>
					<li>договоры (соглашения) с&nbsp;инвесторами о&nbsp;финансировании производства фильма с&nbsp;указанием сроков его производства (предъявляется оригинал); </li>
					<li>выписка из&nbsp;банка о&nbsp;среднемесячных оборотах средств на&nbsp;расчетном счете продюсера (или выписка с&nbsp;расчетного счета для вновь созданного продюсера)&nbsp;— для фильмов, производство которых осуществляется за&nbsp;счет собственных средств продюсера; </li>
					<li>приказ продюсера о&nbsp;запуске фильма в&nbsp;производство&nbsp;— для фильмов, производство которых осуществляется при частичной государственной финансовой поддержке либо за&nbsp;счет частных средств; </li>
					<li>соглашение о&nbsp;намерениях с&nbsp;инвесторами об&nbsp;их&nbsp;участии в&nbsp;финансировании производства фильма (предъявляется оригинал)&nbsp;— в&nbsp;случае отсутствия договоров с&nbsp;инвесторами о&nbsp;финансировании производства фильма; </li>
					<li>описание проекта (приложение N&nbsp;2&nbsp;к настоящему Регламенту). </li>
				 </ul>
			<p>В&nbsp;случае, если на&nbsp;момент подачи заявления отношения с&nbsp;композитором, членами съемочной группы, организациями кинематографии, инвесторами документально не&nbsp;оформлены, в&nbsp;заявлении указываются предварительные варианты и&nbsp;представляются проекты договоров. </p>
			<p>В&nbsp;случае их&nbsp;дальнейшего изменения заявитель обязан в&nbsp;недельный срок со&nbsp;дня заключения соответствующего договора сообщить об&nbsp;этом в&nbsp;Минкультуры России и&nbsp;представить соответствующие договоры. </p>
			<p>Документы заверяются печатью и&nbsp;подписью руководителя юридического лица заявителя либо уполномоченного им&nbsp;лица. </p>
			<p>Документы, поданные физическим лицом, заверяются подписью этого физического лица либо подписью его доверенного лица. </p>
			<p>Все пакеты документов рекомендуется представлять в&nbsp;картонном скоросшивателе. </p>
			<p>Способ представления необходимого пакета документов (послать почтой или с&nbsp;помощью курьера, либо представить лично) определяется заявителем. </p>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М.&nbsp;Гнездниковский пер., 7/6 строения 1, 2</td>
        </tr>
		<tr>
          <th>Контакты:</th>
          <td>Отдел ведения государственного регистра Департамента кинематографии и&nbsp;модернизационных программ Минкультуры России</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Данная информация отсутствует</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Принятие решения о&nbsp;выдаче удостоверения национального фильма</h4>
<p>Специалист по&nbsp;рассмотрению документов направляет извещение о&nbsp;принятии решения о&nbsp;выдаче удостоверения (приложение N&nbsp;4&nbsp;к настоящему Регламенту) по&nbsp;почте или сообщает об&nbsp;этом заявителю телефонограммой в&nbsp;течение 7&nbsp;рабочих дней со&nbsp;дня получения документов. </p>
<p>В&nbsp;извещении указываются: </p>
<ul> 
	<li>индивидуальный регистрационный номер удостоверения и&nbsp;дата принятия решения о&nbsp;выдаче удостоверения; </li>
	<li>возможность и&nbsp;порядок получения оригинала удостоверения. </li>
 </ul>
<p>Письменное извещение подписывается должностным лицом Минкультуры России в&nbsp;соответствии с&nbsp;его полномочиями. </p>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;принятии решения о&nbsp;выдаче удостоверения национального фильма</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Рассмотрение документов</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Передача документов на&nbsp;подготовку решения о&nbsp;выдаче удостоверения национального фильма</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Извещение о&nbsp;соответствии фильма параметрам национального фильма</h4>

<p>В&nbsp;случае отсутствия у&nbsp;заявителя договора о&nbsp;финансировании фильма в&nbsp;период подготовки его к&nbsp;производству Минкультуры России выдает заявителю извещение о&nbsp;соответствии фильма параметрам национального фильма в&nbsp;соответствии с&nbsp;приложением N&nbsp;3&nbsp;к настоящему Регламенту. </p>
<p>Извещение готовит специалист по&nbsp;рассмотрению документов и&nbsp;выдает его заявителю под расписку. </p>

<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li><p>Извещение о&nbsp;соответствии фильма параметрам национального фильма </p>
			<p>В&nbsp;случае отсутствия у&nbsp;заявителя договора о&nbsp;финансировании фильма в&nbsp;период подготовки его к&nbsp;производству Минкультуры России выдает заявителю извещение о&nbsp;соответствии фильма параметрам национального фильма в&nbsp;соответствии с&nbsp;приложением N&nbsp;3&nbsp;к настоящему Регламенту. <br>
			Извещение готовит специалист по&nbsp;рассмотрению документов и&nbsp;выдает его заявителю под расписку. <br>
			После представления заявителем договора, подтверждающего наличие средств на&nbsp;производство фильма, Минкультуры России выдает заявителю удостоверение в&nbsp;порядке, изложенном в&nbsp;п.&nbsp;п.&nbsp;35&nbsp;— 38&nbsp;настоящего Регламента. </p></li>
		</ol>
	</td>
  </tr>
</table>

<h4>Извещение о&nbsp;соответствии фильма параметрам национального фильма</h4>
<p>В&nbsp;случае отсутствия у&nbsp;заявителя договора о&nbsp;финансировании фильма в&nbsp;период подготовки его к&nbsp;производству Минкультуры России выдает заявителю извещение о&nbsp;соответствии фильма параметрам национального фильма в&nbsp;соответствии с&nbsp;приложением N&nbsp;3&nbsp;к настоящему Регламенту. </p>
<p>Извещение готовит специалист по&nbsp;рассмотрению документов и&nbsp;выдает его заявителю под расписку. </p>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li><p>Извещение о&nbsp;соответствии фильма параметрам национального фильма</p>
			<p>В&nbsp;случае отсутствия у&nbsp;заявителя договора о&nbsp;финансировании фильма в&nbsp;период подготовки его к&nbsp;производству Минкультуры России выдает заявителю извещение о&nbsp;соответствии фильма параметрам национального фильма в&nbsp;соответствии с&nbsp;приложением N&nbsp;3&nbsp;к настоящему Регламенту. <br>
			Извещение готовит специалист по&nbsp;рассмотрению документов и&nbsp;выдает его заявителю под расписку. <br>
			После представления заявителем договора, подтверждающего наличие средств на&nbsp;производство фильма, Минкультуры России выдает заявителю удостоверение в&nbsp;порядке, изложенном в&nbsp;п.&nbsp;п.&nbsp;35&nbsp;— 38&nbsp;настоящего Регламента. </p></li>
		</ol>
	</td>
  </tr>
</table>

<h4>Отказ в&nbsp;приеме и&nbsp;регистрации документов на&nbsp;выдачу удостоверения национального фильма</h4>
<p>При получении пакета документов, несоответствующего перечням, указанным в&nbsp;п.п.19&nbsp;— 23&nbsp;настоящего Регламента, по&nbsp;почте, заявителю в&nbsp;письменной форме либо телефонограммой направляется соответствующее уведомление не&nbsp;позднее трех дней с&nbsp;даты регистрации заявления в&nbsp;системе делопроизводства Минкультуры России. </p>
<p>Рассмотрение документов при этом приостанавливается. </p>
<p>Документы предоставляются заявителем в&nbsp;течение 10&nbsp;дней с&nbsp;момента получения уведомления. </p>
<p>Срок исполнения государственной услуги (10&nbsp;рабочих дней) в&nbsp;этом случае будет исчисляться с&nbsp;момента регистрации повторного представления полного пакета документов. </p>

<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li><p>Уведомление о&nbsp;несоответствии документов перечням</p>
			<p>При получении пакета документов, несоответствующего перечням, указанным в&nbsp;п.п.19&nbsp;— 23&nbsp;настоящего Регламента, по&nbsp;почте, заявителю в&nbsp;письменной форме либо телефонограммой направляется соответствующее уведомление не&nbsp;позднее трех дней с&nbsp;даты регистрации заявления в&nbsp;системе делопроизводства Минкультуры России. <br>
			Рассмотрение документов при этом приостанавливается. <br>
			Документы предоставляются заявителем в&nbsp;течение 10&nbsp;дней с&nbsp;момента получения уведомления. <br>
			Срок исполнения государственной услуги (10&nbsp;рабочих дней) в&nbsp;этом случае будет исчисляться с&nbsp;момента регистрации повторного представления полного пакета документов. </p></li>
		</ol>
	</td>
  </tr>
</table>

<h4>Регистрация документов в журнале входящих документов по выдаче удостоверений</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Копия заявления о выдаче удостоверения национального фильма с печатью</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Выдача удостоверения национального фильма</h4>
<p>Удостоверение выдается не позднее 5 рабочих дней со дня принятия решения о выдаче удостоверения. </p>
<p>Удостоверение вручается заявителю либо представителю заявителя специалистом по рассмотрению документов. </p>
<p>После получения удостоверения заявитель либо представитель заявителя расписывается на заявлении, письменно подтверждая факт получения оригинала удостоверения. </p>
<p>Копия удостоверения, а также доверенность или иной документ, подтверждающий полномочия представителя заявителя, подшивается специалистом по рассмотрению документов в дело. </p>
<p>Информация о выдаче удостоверения с указанием его номера и других реквизитов вносится специалистом по рассмотрению документов в электронную базу данных. </p>
<p>Информация о выданных удостоверениях национального фильма размещается на официальном Интернет-сайте Минкультуры России. </p>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li><p>Удостоверение национального фильма </p>
			<p>Удостоверение выдается не позднее 5 рабочих дней со дня принятия решения о выдаче удостоверения. <br>
			Удостоверение вручается заявителю либо представителю заявителя специалистом по рассмотрению документов. <br>
			После получения удостоверения заявитель либо представитель заявителя расписывается на заявлении, письменно подтверждая факт получения оригинала удостоверения. <br>
			Копия удостоверения, а также доверенность или иной документ, подтверждающий полномочия представителя заявителя, подшивается специалистом по рассмотрению документов в дело. <br>
			Информация о выдаче удостоверения с указанием его номера и других реквизитов вносится специалистом по рассмотрению документов в электронную базу данных. <br>
			Информация о выданных удостоверениях национального фильма размещается на официальном Интернет-сайте Минкультуры России. </p></li>
		</ol>
	</td>
  </tr>
</table>

</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
	<ul><li>Министру (заместителю Министра) культуры Российской Федерации</li></ul>
	<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul>
		<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
		<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы;</li>
		<li>личную подпись и&nbsp;дату </li>
	</ul>
	<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
	<p>Министр (заместитель Министра) культуры Российской Федерации: </p>
	<ul>
		<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
		<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
		<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
	</ul>
		<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
		<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
		<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
		<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
		<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
		<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
		<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
		<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>
<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;Административном регламенте Министерства культуры Российской Федерации по&nbsp;предоставлению государственной услуги по&nbsp;выдаче удостоверений национального фильма"» <br>
<em>38&nbsp;Административный регламент от&nbsp;2009-02-03</em></p>
</div>
</section>

<h1>Получение удостоверения национального фильма для завершенного производством фильма</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Не более 10-ти рабочих дней</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li><p>Пакет документов, для получения удостоверения национального фильма для завершенного производством фильма: </p>
				<ul> 
					<li>сопроводительное письмо в&nbsp;свободной форме в&nbsp;адрес Минкультуры России с&nbsp;указанием названия фильма, источников финансирования его производства с&nbsp;указанием наименований инвесторов; </li>
					<li>заявление в&nbsp;соответствии с&nbsp;Приложением N&nbsp;1&nbsp;к настоящему Регламенту; </li>
					<li>копия учредительных документов и&nbsp;копия документа о&nbsp;государственной регистрации продюсера (правообладателя) в&nbsp;качестве юридического лица (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом)&nbsp;— для юридического лица; </li>
					<li>копия паспорта и&nbsp;документа о&nbsp;государственной регистрации продюсера (правообладателя) в&nbsp;качестве индивидуального предпринимателя (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом)&nbsp;— для индивидуального предпринимателя; </li>
					<li>копия свидетельства о&nbsp;постановке продюсера (правообладателя) на&nbsp;учет в&nbsp;налоговом органе (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом); </li>
					<li>копии паспортов авторов фильма, удостоверяющие их&nbsp;гражданство; </li>
					<li>копия прокатного удостоверения (предъявляется оригинал); </li>
					<li>копия фильма (представляется для просмотра по&nbsp;требованию Минкультуры России); </li>
					<li>описание проекта (приложение N&nbsp;2&nbsp;к настоящему Регламенту). </li>
			 </ul>
			<p>Документы заверяются печатью и&nbsp;подписью руководителя юридического лица заявителя либо уполномоченного им&nbsp;лица. </p>
			<p>Документы, поданные физическим лицом, заверяются подписью этого физического лица либо подписью его доверенного лица. </p>
			<p>Все пакеты документов рекомендуется представлять в&nbsp;картонном скоросшивателе. </p>
			<p>Способ представления необходимого пакета документов (послать почтой или с&nbsp;помощью курьера, либо представить лично) определяется заявителем. </p>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М.&nbsp;Гнездниковский пер., 7/6 строения 1, 2</td>
        </tr>
		<tr>
          <th>Контакты:</th>
          <td>Отдел ведения государственного регистра Департамента кинематографии и&nbsp;модернизационных программ Минкультуры России</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>ФНС России</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Отказ в&nbsp;в&nbsp;приеме и&nbsp;регистрации документов на&nbsp;выдачу удостоверения национального фильма</h4>
<p>При получении пакета документов, несоответствующего перечням, указанным в&nbsp;п.п.19&nbsp;— 23&nbsp;настоящего Регламента, по&nbsp;почте, заявителю в&nbsp;письменной форме либо телефонограммой направляется соответствующее уведомление не&nbsp;позднее трех дней с&nbsp;даты регистрации заявления в&nbsp;системе делопроизводства Минкультуры России. </p>
<p>Рассмотрение документов при этом приостанавливается. </p>
<p>Документы предоставляются заявителем в&nbsp;течение 10&nbsp;дней с&nbsp;момента получения уведомления. </p>
<p>Срок исполнения государственной услуги (10&nbsp;рабочих дней) в&nbsp;этом случае будет исчисляться с&nbsp;момента регистрации повторного представления полного пакета документов </p>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление о&nbsp;несоответствии документов перечням
				<ul>
				
				<li>Форма бланка не&nbsp;определена </li>
				<li>Количество копий: <b>1</b></li>
				<li>Выдается в&nbsp;процессе оказания услуги</li>
				</ul>
			<p>При получении пакета документов, несоответствующего перечням, указанным в&nbsp;п.п.19&nbsp;— 23&nbsp;настоящего Регламента, по&nbsp;почте, заявителю в&nbsp;письменной форме либо телефонограммой направляется соответствующее уведомление не&nbsp;позднее трех дней с&nbsp;даты регистрации заявления в&nbsp;системе делопроизводства Минкультуры России. <br>
			Рассмотрение документов при этом приостанавливается. <br>
			Документы предоставляются заявителем в&nbsp;течение 10&nbsp;дней с&nbsp;момента получения уведомления. </p>
			<p>Срок исполнения государственной услуги (10&nbsp;рабочих дней) в&nbsp;этом случае будет исчисляться с&nbsp;момента регистрации повторного представления полного пакета документов.</p>
			
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Выдача удостоверения национального фильма </h4>
<p>Удостоверение выдается не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня принятия решения о&nbsp;выдаче удостоверения. Удостоверение вручается заявителю либо представителю заявителя специалистом по&nbsp;рассмотрению документов. После получения удостоверения заявитель либо представитель заявителя расписывается на&nbsp;заявлении, письменно подтверждая факт получения оригинала удостоверения. Копия удостоверения, а&nbsp;также доверенность или иной документ, подтверждающий полномочия представителя заявителя, подшивается специалистом по&nbsp;рассмотрению документов в&nbsp;дело. Информация о&nbsp;выдаче удостоверения с&nbsp;указанием его номера и&nbsp;других реквизитов вносится специалистом по&nbsp;рассмотрению документов в&nbsp;электронную базу данных. Информация о&nbsp;выданных удостоверениях национального фильма размещается на&nbsp;официальном Интернет-сайте Минкультуры России. </p>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Удостоверение национального фильма 
				<ul>
				
				<li>Форма бланка не&nbsp;определена </li>
				<li>Количество копий: <b>1</b></li>
				<li>Выдается в&nbsp;конце оказания услуги</li>
				</ul>
			<p>Удостоверение выдается не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня принятия решения о&nbsp;выдаче удостоверения. <br/>
			Удостоверение вручается заявителю либо представителю заявителя специалистом по&nbsp;рассмотрению документов. <br/>
			После получения удостоверения заявитель либо представитель заявителя расписывается на&nbsp;заявлении, письменно подтверждая факт получения оригинала удостоверения. <br/>
			Копия удостоверения, а&nbsp;также доверенность или иной документ, подтверждающий полномочия представителя заявителя, подшивается специалистом по&nbsp;рассмотрению документов в&nbsp;дело. <br/>
			Информация о&nbsp;выдаче удостоверения с&nbsp;указанием его номера и&nbsp;других реквизитов вносится специалистом по&nbsp;рассмотрению документов в&nbsp;электронную базу данных. <br/>
			Информация о&nbsp;выданных удостоверениях национального фильма размещается на&nbsp;официальном Интернет-сайте Минкультуры России.</p>
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Принятие решения о&nbsp;выдаче удостоверения национального фильма</h4>
	<p>Специалист по&nbsp;рассмотрению документов направляет извещение о&nbsp;принятии решения о&nbsp;выдаче удостоверения (приложение N&nbsp;4&nbsp;к настоящему Регламенту) по&nbsp;почте или сообщает об&nbsp;этом заявителю телефонограммой в&nbsp;течение 7&nbsp;рабочих дней со&nbsp;дня получения документов.</p>
	<p>В&nbsp;извещении указываются: </p>
		<ul> 
			<li> индивидуальный регистрационный номер удостоверения и&nbsp;дата принятия решения о&nbsp;выдаче удостоверения; </li>
			<li> возможность и&nbsp;порядок получения оригинала удостоверения. </li>
		 </ul>
	<p>Письменное извещение подписывается должностным лицом Минкультуры России в&nbsp;соответствии с&nbsp;его полномочиями.</p>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;принятии решения о&nbsp;выдаче удостоверения национального фильма</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Рассмотрение документов</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Передача документов на&nbsp;подготовку решения о&nbsp;выдаче удостоверенения национального фильма </li>
		</ol>
	</td>
  </tr>
</table>

<h4>Извещение о&nbsp;соответствии фильма параметрам национального фильма</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Удостоверение национального фильма 
				<ul>
				
				<li>Форма бланка не&nbsp;определена </li>
				<li>Количество копий: <b>1</b></li>
				<li>Выдается в&nbsp;процессе оказания услуги</li>
				</ul>
			<p>В&nbsp;случае отсутствия у&nbsp;заявителя договора о&nbsp;финансировании фильма в&nbsp;период подготовки его к&nbsp;производству Минкультуры России выдает заявителю извещение о&nbsp;соответствии фильма параметрам национального фильма в&nbsp;соответствии с&nbsp;приложением N&nbsp;3&nbsp;к настоящему Регламенту. <br>
			Извещение готовит специалист по&nbsp;рассмотрению документов и&nbsp;выдает его заявителю под расписку. <br>
			После представления заявителем договора, подтверждающего наличие средств на&nbsp;производство фильма, Минкультуры России выдает заявителю удостоверение в&nbsp;порядке, изложенном в&nbsp;п.&nbsp;п.&nbsp;35&nbsp;— 38&nbsp;настоящего Регламента.</p>
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Регистрация документов в&nbsp;журнале входящих документов по&nbsp;выдаче удостоверений</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Копия заявления о&nbsp;выдаче удостоверения национального фильма с&nbsp;печатью</li>
		</ol>
	</td>
  </tr>
</table>

</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
	<ul><li>Министру (заместителю Министра) культуры Российской Федерации</li></ul>
	<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul>
		<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
		<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы;</li>
		<li>личную подпись и&nbsp;дату </li>
	</ul>
	<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
	<p>Министр (заместитель Министра) культуры Российской Федерации: </p>
	<ul>
		<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
		<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
		<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
	</ul>
		<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
		<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
		<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
		<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
		<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
		<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
		<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
		<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>
<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;Административном регламенте Министерства культуры Российской Федерации по&nbsp;предоставлению государственной услуги по&nbsp;выдаче удостоверений национального фильма"» <br>
<em>38&nbsp;Административный регламент от&nbsp;2009-02-03<br>Административный регламент </em></p>
</div>
</section>

<h1>Продление срока действия удостоверения национального фильма для завершенного производством фильма</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Не более 5-ти рабочих дней</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li><p>Пакет документов, для получения удостоверения национального фильма для завершенного производством фильма: </p>
				<ul> 
					<li>сопроводительное письмо в&nbsp;свободной форме в&nbsp;адрес Минкультуры России с&nbsp;указанием названия фильма, источников финансирования его производства с&nbsp;указанием наименований инвесторов; </li>
					<li>заявление в&nbsp;соответствии с&nbsp;Приложением N&nbsp;1&nbsp;к настоящему Регламенту; </li>
					<li>копия учредительных документов и&nbsp;копия документа о&nbsp;государственной регистрации продюсера (правообладателя) в&nbsp;качестве юридического лица (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом)&nbsp;— для юридического лица; </li>
					<li>копия паспорта и&nbsp;документа о&nbsp;государственной регистрации продюсера (правообладателя) в&nbsp;качестве индивидуального предпринимателя (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом)&nbsp;— для индивидуального предпринимателя; </li>
					<li>копия свидетельства о&nbsp;постановке продюсера (правообладателя) на&nbsp;учет в&nbsp;налоговом органе (с&nbsp;предъявлением оригинала в&nbsp;случае, если копия не&nbsp;заверена нотариусом); </li>
					<li>копии паспортов авторов фильма, удостоверяющие их&nbsp;гражданство; </li>
					<li>копия прокатного удостоверения (предъявляется оригинал); </li>
					<li>копия фильма (представляется для просмотра по&nbsp;требованию Минкультуры России); </li>
					<li>описание проекта (приложение N&nbsp;2&nbsp;к настоящему Регламенту). </li>
			 </ul>
			<p>Документы заверяются печатью и&nbsp;подписью руководителя юридического лица заявителя либо уполномоченного им&nbsp;лица. </p>
			<p>Документы, поданные физическим лицом, заверяются подписью этого физического лица либо подписью его доверенного лица. </p>
			<p>Все пакеты документов рекомендуется представлять в&nbsp;картонном скоросшивателе. </p>
			<p>Способ представления необходимого пакета документов (послать почтой или с&nbsp;помощью курьера, либо представить лично) определяется заявителем. </p>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М.&nbsp;Гнездниковский пер., 7/6 строения 1, 2</td>
        </tr>
		<tr>
          <th>Контакты:</th>
          <td>Отдел ведения государственного регистра Департамента кинематографии и&nbsp;модернизационных программ Минкультуры России</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>ФНС России</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Отказ в&nbsp;продлении срока действия удостоверения</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение об&nbsp;отказе в&nbsp;продлении срока действия удостоверения
				<ul>
				
				<li>Форма бланка не&nbsp;определена </li>
				<li>Количество копий: <b>1</b></li>
				<li>Выдается в&nbsp;процессе оказания услуги</li>
				</ul>
			<p>В&nbsp;случае, если фильм перестал соответствовать требованиям, предъявляемым к&nbsp;национальному фильму и&nbsp;изложенным в&nbsp;ст.&nbsp;4&nbsp;Федерального закона от&nbsp;22&nbsp;августа 1996 года N&nbsp;<nobr>126-ФЗ</nobr> «О&nbsp;государственной поддержке кинематографии Российской Федерации», специалист по&nbsp;рассмотрению документов в&nbsp;течение 2&nbsp;рабочих дней со&nbsp;дня получения заявления телефонограммой либо по&nbsp;почте сообщает заявителю об&nbsp;отказе в&nbsp;продлении срока действия удостоверения. Почтовое сообщение подписывается должностным лицом Минкультуры России в&nbsp;соответствии с&nbsp;его полномочиями.</p>
			
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Продление срока действия удостоверения национального фильма </h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;продлении срока действия удостоверения национального фильма
				<ul>
				
				<li>Форма бланка не&nbsp;определена </li>
				<li>Количество копий: <b>1</b></li>
				<li>Выдается в&nbsp;конце оказания услуги</li>
				</ul>
			<p>В&nbsp;случае, если на&nbsp;момент подачи заявления о&nbsp;продлении срока действия удостоверения фильм соответствует требованиям, предъявляемым к&nbsp;национальному фильму и&nbsp;изложенным в&nbsp;ст.&nbsp;4&nbsp;Федерального закона от&nbsp;22&nbsp;августа 1996 года N&nbsp;<nobr>126-ФЗ</nobr> «О&nbsp;государственной поддержке кинематографии Российской Федерации», специалист по&nbsp;рассмотрению документов в&nbsp;течение 2&nbsp;рабочих дней со&nbsp;дня получения заявления вносит в&nbsp;бланк удостоверения отметку о&nbsp;продлении его срока на&nbsp;новый срок производства фильма, заявленный продюсером. <br/>
			Надпись на&nbsp;оригинале удостоверения о&nbsp;продлении срока действия удостоверения заверяет своей подписью Министр культуры Российской Федерации или лицо, исполняющее его обязанности, или уполномоченное лицо. <br>
			Подпись удостоверяется печатью Минкультуры России. <br>
			Удостоверение с&nbsp;отметкой о&nbsp;продлении его срока действия выдается в&nbsp;соответствии с&nbsp;процедурой, описанной в&nbsp;п.&nbsp;п.&nbsp;38.5, 38.6 настоящего Регламента. Удостоверение выдается не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня получения заявления. <br>
			Удостоверение национального фильма после завершения производства фильма продлевается на&nbsp;неопределенный срок.</p>
			</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
	<ul><li>Министру (заместителю Министра) культуры Российской Федерации</li></ul>
	<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul>
		<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
		<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы;</li>
		<li>личную подпись и&nbsp;дату </li>
	</ul>
	<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
	<p>Министр (заместитель Министра) культуры Российской Федерации: </p>
	<ul>
		<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
		<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
		<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
	</ul>
		<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
		<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
		<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
		<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
		<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
		<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
		<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
		<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>
<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;Административном регламенте Министерства культуры Российской Федерации по&nbsp;предоставлению государственной услуги по&nbsp;выдаче удостоверений национального фильма"» <br>
<em>38&nbsp;Административный регламент от&nbsp;2009-02-03 <br>Административный регламент </em></p>
</div>
</section>


<h1>Продление срока действия удостоверения национального фильма для незавершенного производством фильма</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Получение от&nbsp;заявителя пакета документов для продления срока действия удостоверения национального фильма </p>
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>Не более 5-ти рабочих дней</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li><p>Пакет документов для продления срока действия удостоверения национального фильма для незавершенного производством фильма: </p>
				<ul>
					<li>заявление в&nbsp;свободной форме с&nbsp;изложением причин продления срока производства фильма; </li>
					<li>копия приказа продюсера о&nbsp;продлении срока производства фильма с&nbsp;указанием нового срока окончания его производства; </li>
					<li>оригинал удостоверения национального фильма </li>
				</ul>
			<p>Документы заверяются печатью и&nbsp;подписью руководителя юридического лица заявителя либо уполномоченного им&nbsp;лица. </p>
			<p>Документы, поданные физическим лицом, заверяются подписью этого физического лица либо подписью его доверенного лица. </p>
			<p>Все пакеты документов рекомендуется представлять в&nbsp;картонном скоросшивателе. </p>
			<p>Способ представления необходимого пакета документов (послать почтой или с&nbsp;помощью курьера, либо представить лично) определяется заявителем. </p>
			</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М.&nbsp;Гнездниковский пер., 7/6 строения 1, 2</td>
        </tr>
		<tr>
          <th>Контакты:</th>
          <td>Отдел ведения государственного регистра Департамента кинематографии и&nbsp;модернизационных программ Минкультуры России</td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>
<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>Экспедитором (курьером) </li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>ФНС России</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Отказ в&nbsp;продлении срока действия удостоверения</h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение об&nbsp;отказе в&nbsp;продлении срока действия удостоверения
				<ul>
				
				<li>Форма бланка не&nbsp;определена </li>
				<li>Количество копий: <b>1</b></li>
				<li>Выдается в&nbsp;процессе оказания услуги</li>
				</ul>
			<p>В&nbsp;случае, если фильм перестал соответствовать требованиям, предъявляемым к&nbsp;национальному фильму и&nbsp;изложенным в&nbsp;ст.&nbsp;4&nbsp;Федерального закона от&nbsp;22&nbsp;августа 1996 года N&nbsp;<nobr>126-ФЗ</nobr> «О&nbsp;государственной поддержке кинематографии Российской Федерации», специалист по&nbsp;рассмотрению документов в&nbsp;течение 2&nbsp;рабочих дней со&nbsp;дня получения заявления телефонограммой либо по&nbsp;почте сообщает заявителю об&nbsp;отказе в&nbsp;продлении срока действия удостоверения. Почтовое сообщение подписывается должностным лицом Минкультуры России в&nbsp;соответствии с&nbsp;его полномочиями.</p>
			
			</li>
		</ol>
	</td>
  </tr>
</table>

<h4>Продление срока действия удостоверения национального фильма </h4>
<table>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;продлении срока действия удостоверения национального фильма
				<ul>
				
				<li>Форма бланка не&nbsp;определена </li>
				<li>Количество копий: <b>1</b></li>
				<li>Выдается в&nbsp;конце оказания услуги</li>
				</ul>
			<p>В&nbsp;случае, если на&nbsp;момент подачи заявления о&nbsp;продлении срока действия удостоверения фильм соответствует требованиям, предъявляемым к&nbsp;национальному фильму и&nbsp;изложенным в&nbsp;ст.&nbsp;4&nbsp;Федерального закона от&nbsp;22&nbsp;августа 1996 года N&nbsp;<nobr>126-ФЗ</nobr> «О&nbsp;государственной поддержке кинематографии Российской Федерации», специалист по&nbsp;рассмотрению документов в&nbsp;течение 2&nbsp;рабочих дней со&nbsp;дня получения заявления вносит в&nbsp;бланк удостоверения отметку о&nbsp;продлении его срока на&nbsp;новый срок производства фильма, заявленный продюсером. <br/>
			Надпись на&nbsp;оригинале удостоверения о&nbsp;продлении срока действия удостоверения заверяет своей подписью Министр культуры Российской Федерации или лицо, исполняющее его обязанности, или уполномоченное лицо. <br>
			Подпись удостоверяется печатью Минкультуры России. <br>
			Удостоверение с&nbsp;отметкой о&nbsp;продлении его срока действия выдается в&nbsp;соответствии с&nbsp;процедурой, описанной в&nbsp;п.&nbsp;п.&nbsp;38.5, 38.6 настоящего Регламента. Удостоверение выдается не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня получения заявления. <br>
			Удостоверение национального фильма после завершения производства фильма продлевается на&nbsp;неопределенный срок.</p>
			</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
	<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
	<ul><li>Министру (заместителю Министра) культуры Российской Федерации</li></ul>
	<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
	<ul>
		<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
		<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
		<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
		<li>изложение сути жалобы;</li>
		<li>личную подпись и&nbsp;дату </li>
	</ul>
	<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
	<p>Министр (заместитель Министра) культуры Российской Федерации: </p>
	<ul>
		<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
		<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
		<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
	</ul>
		<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
		<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
		<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
		<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
		<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
		<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
		<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
		<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>
<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Приказ Министерства культуры Российской Федерации "Об&nbsp;Административном регламенте Министерства культуры Российской Федерации по&nbsp;предоставлению государственной услуги по&nbsp;выдаче удостоверений национального фильма"» <br>
<em>38&nbsp;Административный регламент от&nbsp;2009-02-03 <br>Административный регламент </em></p>
</div>
</section>


</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}