{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Осуществление регистрации культурных ценностей, ввезенных и&nbsp;временно ввезенных на&nbsp;территорию Российской Федерации</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
    <td>
		<ul>
			<li>30&nbsp;дней с&nbsp;момента подачи документов заявителем</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Оплата</th>
    <td>
		<ul>
			<li>Услуга предоставляется бесплатно</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Заявление о&nbsp;проведении специальной регистрации ввезенных культурных ценностей</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125009, Москва, Китайгородский пр., 7/2 </td>
        </tr>
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 628-50-89</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
     </td></tr>
 </table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
		</ul>
	</td>
  </tr>
  <tr>
    <th>Способы получения результата</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Через законного представителя</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Специальная регистрация ввезенных (временно ввезенных) на&nbsp;территорию Российской Федерации культурных ценностей. </p>
<table>
  <tr>
    <th>Фиксация результата оказания услуги</th>
    <td>
		<ul>
			<li>Специальная регистрация ввезенных (временно ввезенных) культурных ценностей фиксируется в&nbsp;Журнале специальной регистрации ввезенных (временно ввезенных) культурных ценностей.</li>
		</ul>
	</td>
  </tr>
  </table>
<h4>Специальная регистрация ввезенных (временно ввезенных) на&nbsp;территорию Российской Федерации культурных ценностей</h4>
<p>Общая информация</p>
<table>
   <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письмо о&nbsp;подтверждении проведения специальной регистрации ввезенных культурных ценностей</li>
		</ol>
	</td>
  </tr>
 </table>
 
 <h4>Отказ от&nbsp;проведения специальной регистрации ввезенных (временно ввезенных) на&nbsp;территорию Российской Федерации культурных ценностей</h4>
  <p>Отказ в&nbsp;предоставлении услуги производится в&nbsp;случае, если ввезенные (временно ввезенные) на&nbsp;территорию Российской Федерации предметы: 
</p>
<ul> 
	<li>не&nbsp;подпадают под действие Закона Российской Федерации «О&nbsp;вывозе и&nbsp;ввозе культурных ценностей»; </li>
	<li>не&nbsp;являются культурными ценностями. </li>
 </ul>
<table>
   <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Письмо об&nbsp;отказе в&nbsp;проведении специальной регистрации ввезенных культурных ценностей </li>
		</ol>
	</td>
  </tr>
 </table>
 
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Заявитель имеет право на&nbsp;обжалование действий&nbsp;и (или) бездействия Минкультуры России, государственных служащих Минкультуры России при исполнении государственной функции (услуги) в&nbsp;досудебном и&nbsp;судебном порядке. </p>
<p><strong>Досудебный порядок обжалования.</strong> </p>
 <p>Заявитель вправе письменно обжаловать действия или бездействие государственных служащих Минкультуры России при исполнении государственной функции (услуги). </p>
 <p>Заявитель вправе обратиться с&nbsp;жалобой лично или по&nbsp;почте. </p>
<p> Срок рассмотрения обращения не&nbsp;должен превышать 30&nbsp;календарных дней с&nbsp;момента регистрации письменного обращения. </p>
<p> В&nbsp;исключительных случаях срок рассмотрения обращения может быть продлен, но&nbsp;не&nbsp;более чем на&nbsp;30&nbsp;дней, с&nbsp;обязательном уведомлением заявителя о&nbsp;продлении срока рассмотрения жалобы. </p>
 <p>Требования к&nbsp;обращению: </p>
	<ul>
		<li> адресат: Министерство культуры Российской Федерации либо фамилия, имя, отчество, должность соответствующего лица. </li>
		<li>заявитель: наименование юридического лица, почтовый адрес, по&nbsp;которому должны быть направлены ответ, уведомление о&nbsp;переадресации обращения, суть жалобы. </li>
		<li>дополнительные сведения. (В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменному обращению документы либо их&nbsp;копии.) </li>
	</ul>
 <p>Результат.
 <p>По&nbsp;результатам рассмотрения обращения Министерством культуры Российской Федерации принимается решение об&nbsp;удовлетворении требований заявителя либо об&nbsp;отказе в&nbsp;удовлетворении требований. </p>
 <p>Письменный ответ, содержащий результаты рассмотрения обращения, направляется заявителю. </p>
<p><strong>Судебный порядок.</strong> </p>
<p> Заявитель вправе обжаловать решения, принятые в&nbsp;ходе исполнения государственной функции, действия или бездействие должностных лиц Минкультуры России в&nbsp;судебном порядке, установленном Главой&nbsp;25 Гражданско-процессуального кодекса Российской Федерации, Главой&nbsp;24 Арбитражно-процессуального кодекса Российской Федерации. </p>
</div>
</section>

<section>
<h2><span><a href="#">Нормативно-правовые акты, регулирующие оказание услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>«Положение о&nbsp;Федеральной службе по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия, утвержденным постановлением Правительства Российской Федерации» <br/>
	<em>407 Положение от&nbsp;2008-05-29 <br/>
 Прочее</nobr></em> </p>
<p>«Закон Российской Федерации &quot;О&nbsp;вывозе и&nbsp;ввозе культурных ценностей&quot;» <br/>
	<em><nobr>4804-1</nobr> Закон от&nbsp;1993-04-15 <br/>
 Прочее</em> </p>
</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}