{% extends ':Frontend:base.html.twig' %}



{#{% block stylesheets %}#}

{#{{ parent() }}#}

{#<link href="{{ asset('css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}


{#{% endblock %}#}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  $(function () {
      collapseExpand();
  });

  function collapseExpand() {
      $('.gosuslugi-info h2 a').click(function(){
        $(this).parent().parent().toggleClass('a-collapse');
        $(this).parents('section').find('.g-content').slideToggle();
         return false;
      }).filter(':first').click();
  }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'Navigation.Public services'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Public services'|trans }}{% endblock %}
 {% block body%}

<!-- контент страницы -->
<h1 class="headline">Предоставление государственной услуги по&nbsp;выдаче прокатных удостоверений на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории, и&nbsp;по&nbsp;ведению Государственного регистра фильмов</h1>
<div class="clearfix gosuslugi-info">
<div class="gcol-1 block">
<h1>Отзыв ранее выданного прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h1>
<section>
<div class="g-content g-collapsed">
<h2><span><a href="#">Описание услуги</a></span></h2>
<p>Основанием для отзыва прокатного удостоверения является невыполнение порядка уведомления о&nbsp;передаче прав на&nbsp;воспроизведение, распространение, публичный показ, публичное исполнение, прокат фильма, сообщение фильма по&nbsp;кабелю, изложенного в&nbsp;п.20 настоящего Регламента.</p>
<table>
  <tr>
    <th>Требования по срокам</th>
	<td>
	<ul>
		<li>Решение об&nbsp;отзыве прокатного удостоверения принимается Минкультуры России в&nbsp;срок, не&nbsp;превышающий 5&nbsp;рабочих дней с&nbsp;момента возникновения оснований для отзыва. <br/>
		Извещение об&nbsp;отзыве прокатного удостоверения (приложение №&nbsp;7&nbsp;к настоящему Регламенту) направляется или вручается владельцу прокатного удостоверения в&nbsp;письменной форме специалистом по&nbsp;рассмотрению документов в&nbsp;течение 5&nbsp;рабочих дней со&nbsp;дня принятия соответствующего решения.
		</li>
	</ul>
	</td>
   </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Выявление информации соответствующего характера </li>
		</ul>
	</td>
  <tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М. Гнездниковский пер., д. 7/6, строения 1, 2</td>
        </tr>
        <tr>
          <th>Контакты:</th>
          <td>Отдел государственного регистра Департамента кинематографии Минкультуры России </td>
        </tr>		
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
		        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично</li>
			<li>Почтой </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Извещение об отзыве удостоверения на фильмы, созданные в Российской Федерации или приобретенные за рубежом для проката на ее территории</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение об отзыве прокатного удостоверения на фильмы, созданные в Российской Федерации или приобретенные за рубежом для проката на ее территории
			<ul>
				<li>Форма бланка не определена</li>
				<li>Количество копий: <b>1</b> </li>
				<li>Выдается в процессе оказания услуги </li>
			</ul>
			Основанием для отзыва прокатного удостоверения является невыполнение порядка уведомления о&nbsp;передаче прав на&nbsp;воспроизведение, распространение, публичный показ, публичное исполнение, прокат фильма, сообщение фильма по&nbsp;кабелю, изложенного в&nbsp;п.20 настоящего Регламента. <br/>
<br/>
 Извещение об&nbsp;отзыве прокатного удостоверения готовит специалист по&nbsp;рассмотрению документов по&nbsp;поручению начальника Отдела (в&nbsp;его отсутствие&nbsp;— заместителя начальника Отдела). <br/>
<br/>
 Извещение подписывается должностным лицом Минкультуры России в&nbsp;соответствии с&nbsp;его полномочиями. <br/>
<br/>
 Решение об&nbsp;отзыве прокатного удостоверения принимается Минкультуры России в&nbsp;срок, не&nbsp;превышающий 5&nbsp;рабочих дней с&nbsp;момента возникновения оснований для отзыва. <br/>
<br/>
 Извещение об&nbsp;отзыве прокатного удостоверения (приложение №&nbsp;7&nbsp;к настоящему Регламенту) направляется или вручается владельцу прокатного удостоверения в&nbsp;письменной форме специалистом по&nbsp;рассмотрению документов в&nbsp;течение 5&nbsp;рабочих дней со&nbsp;дня принятия соответствующего решения. <br/>
<br/>
 Копия извещения об&nbsp;отзыве прокатного удостоверения и&nbsp;оригинал прокатного удостоверения подшивается специалистом по&nbsp;рассмотрению документов в&nbsp;дело. <br/>
<br/>
 Информация об&nbsp;отзыве прокатного удостоверения вносится в&nbsp;Государственный регистр специалистом по&nbsp;рассмотрению документов не&nbsp;позднее, чем на&nbsp;дату, следующую за&nbsp;датой направления извещения об&nbsp;отзыве прокатного удостоверения.
			</li>
		</ol>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
<ul> 
	<li>Министру (заместителю Министра) культуры Российской Федерации; </li>
	<li>Руководителю (заместителю руководителя) Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия. </li>
 </ul>
<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
<ul> 
	<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
	<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
	<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
	<li>изложение сути жалобы; </li>
	<li>личную подпись и&nbsp;дату. </li>
 </ul>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии . <br/>
	<br/>
 Министр (заместитель Министра) культуры Российской Федерации: 
</p>
<ul> 
	<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
	<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
	<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
 </ul>
<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>

<h1>Получение дубликата прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
	<td>
	<ul>
		<li>Не более 10-и рабочих дней</li>
	</ul>
	</td>
   </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Письменное заявление с&nbsp;ходатайством о&nbsp;выдаче дубликата удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории
			<ul>
				<li>Обязательный </li>
				<li>Количество копий: <b>1</b> </li>
				<li>Предоставляется на&nbsp;все время оказания услуги с&nbsp;возможностью возврата по&nbsp;требованию Заявителя </li>
			</ul>
			Для получения дубликата заявитель представляет в&nbsp;Минкультуры России письменное заявление, составленное в&nbsp;свободной форме, с&nbsp;ходатайством о&nbsp;выдаче дубликата. Заявление подается в&nbsp;порядке, предусмотренном п.п.14.2, 14.3 настоящего Регламента.
			</li>
		</ul>
	</td>
  <tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М. Гнездниковский пер., д. 7/6, строения 1, 2</td>
        </tr>
        <tr>
          <th>Контакты:</th>
          <td>Отдел государственного регистра Департамента кинематографии Минкультуры России </td>
        </tr>		
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
		        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично</li>
			<li>Почтой </li>
			<li>По телефону </li>
			<li>По email  </li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Способы получения результата </th>
    <td>
		<ul>
			<li>По телефону </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<p>Дубликат выдается заявителю не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня подачи заявления о&nbsp;выдаче дубликата. Дубликат выдается в&nbsp;порядке, предусмотренном п.п.17.6, 17.8 настоящего Регламента. </p>

<h4>Выдача дубликата удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h4>
<p>В&nbsp;том случае, если в&nbsp;Государственном регистре имеется запись о&nbsp;выдаче заявителю прокатного удостоверения на&nbsp;фильм, в&nbsp;отношении которого подано заявление о&nbsp;выдаче дубликата, специалист по&nbsp;рассмотрению документов в&nbsp;тот&nbsp;же день заполняет бланк прокатного удостоверения, представляет его на&nbsp;подпись и&nbsp;телефонограммой извещает заявителя о&nbsp;возможности получения дубликата.</p>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение заявителя о&nbsp;возможности получения дубликата удостоверения национального фильма
			<ul>
				<li>Форма бланка не определена</li>
				<li>Количество копий: <b>1</b> </li>
				<li>Выдается в конце оказания услуги  </li>
			</ul>
			</li>
		</ol>
	</td>
  </tr>
    <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li>Обеспечение выдачи дубликата удостоверения национального фильма </li>
		</ul>
	</td>
  </tr>
 </table>
 
 <h4>Отказ в&nbsp;выдаче дубликата удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h4>
<p>В&nbsp;том случае, если в&nbsp;Государственном регистре отсутствует запись о&nbsp;выдаче заявителю прокатного удостоверения на&nbsp;фильм, в&nbsp;отношении которого подано заявление о&nbsp;выдаче дубликата, специалист по&nbsp;рассмотрению документов в&nbsp;тот&nbsp;же день телефонограммой извещает заявителя о&nbsp;невозможности выдачи дубликата.</p>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;невозможности выдачи дубликата
			</li>
		</ol>
	</td>
  </tr>
  </table>
 
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
<ul> 
	<li>Министру (заместителю Министра) культуры Российской Федерации; </li>
	<li>Руководителю (заместителю руководителя) Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия. </li>
 </ul>
<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
<ul> 
	<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
	<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
	<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
	<li>изложение сути жалобы; </li>
	<li>личную подпись и&nbsp;дату. </li>
 </ul>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
<p> Министр (заместитель Министра) культуры Российской Федерации: </p>
<ul> 
	<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
	<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
	<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
 </ul>
 <p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
<p>
 Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
<p>
 Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
<p>
 В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
<p>
 В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
<p>
 Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
<p>
 В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
<p>
 В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу.</p>
</div>
</section>

<h1>Получение информации из&nbsp;Государственного регистра</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
	<td>
	<ul>
		<li>Не&nbsp;более 5&nbsp;рабочих дней со&nbsp;дня принятия решения о&nbsp;выдаче прокатного удостоверения</li>
	</ul>
	</td>
   </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Запрос государственных органов, органов местного самоуправления, правоохранительных органов и&nbsp;судов по&nbsp;находящимся в&nbsp;производстве делам, а&nbsp;также иных лиц, определенных федеральными законами и&nbsp;иными нормативными правовыми актами Российской Федерации</li>
		</ul>
	</td>
  <tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М. Гнездниковский пер., д. 7/6, строения 1, 2</td>
        </tr>
        <tr>
          <th>Контакты:</th>
          <td>Отдел государственного регистра Департамента кинематографии Минкультуры России </td>
        </tr>		
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
		        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Почтой </li>
			<li>На WEB сайте </li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Способы получения результата </th>
    <td>
		<ul>
			<li>На WEB сайте </li>
		</ul>
	</td>
  </tr>
     <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>Данная информация отсутствует</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Выдача выписки из&nbsp;Государственного регистра </h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Выписка из Государственного регистра</li>
		</ol>
	</td>
  </tr>
 </table>
 
 <h4>Справка об&nbsp;отсутствии запрашиваемой информации </h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Справка об&nbsp;отсутствии запрашиваемой информации</li>
		</ol>
	</td>
  </tr>
  </table>
 
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
<ul> 
	<li>Министру (заместителю Министра) культуры Российской Федерации; </li>
	<li>Руководителю (заместителю руководителя) Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия. </li>
 </ul>
<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
<ul> 
	<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
	<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
	<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
	<li>изложение сути жалобы; </li>
	<li>личную подпись и&nbsp;дату. </li>
 </ul>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
<p> Министр (заместитель Министра) культуры Российской Федерации: </p>
<ul> 
	<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
	<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
	<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
 </ul>
 <p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
<p>
 Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
<p>
 Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
<p>
 В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
<p>
 В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
<p>
 Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
<p>
 В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
<p>
 В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу.</p>
</div>
</section>

<h1>Получение удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
	<td>
	<ul>
		<li>Не более 10-ти рабочих дней</li>
	</ul>
	</td>
   </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
    <tr>
    <th>Оплата </th>
    <td>
		<ul>
			<li><p>Специалист по&nbsp;рассмотрению документов направляет извещение о&nbsp;принятии решения о&nbsp;выдаче прокатного удостоверения по&nbsp;почте или сообщает об&nbsp;этом заявителю телефонограммой в&nbsp;течение 7&nbsp;рабочих дней со&nbsp;дня получения документов. <br/>
	<br/>
 В&nbsp;извещении указываются: 
</p>
<ul> 
	<li>индивидуальный регистрационный номер прокатного удостоверения и&nbsp;дата внесения информации о&nbsp;фильме в&nbsp;Государственный регистр; </li>
 </ul>
<ul> 
	<li>реквизиты банковского счета для оплаты государственной пошлины за&nbsp;выдачу прокатного удостоверения; </li>
 </ul>
<ul> 
	<li>возможность и&nbsp;порядок получения оригинала прокатного удостоверения; </li>
 </ul>
<ul> 
	<li>порядок передачи прав владения, пользования и&nbsp;распоряжения фильмом. </li>
 </ul>
<p>Письменное извещение подписывается должностным лицом Минкультуры России в&nbsp;соответствии с&nbsp;его полномочиями. <br/>
	<br/>
 Выдача прокатного удостоверения оплачивается государственной пошлиной в&nbsp;соответствии с&nbsp;п.70 ст.333.33 Налогового кодекса Российской Федерации. Государственная пошлина составляет 2000 рублей за&nbsp;выдачу одного прокатного удостоверения. 
</p>
<p><br/>
 Реквизиты СЧЕТА ДОХОДОВ на&nbsp;оплату государственной пошлины с&nbsp;1&nbsp;января 2012&nbsp;года: 
</p>
 ИНН&nbsp;— 7705851331; <br/>
 КПП&nbsp;— 770501001. <br/>
 Получатель&nbsp;— Межрегиональное операционное УФК (Министерство культуры Российской Федерации л/сч.&nbsp;04951000540) <br/>
 Банк&nbsp;— ОПЕРУ-1 Банка России г.Москва; <br/>
 Счет&nbsp;— 40101810500000001901; <br/>
 БИК&nbsp;— 044501002; <br/>
 Кор.счета&nbsp;— нет <br/>
 Код ОКАТО 45286580000 <br/>
 Код бюджетной классификации 05410807200011000110 <br/>
 Вариант оплаты: безналичный расчет (банковский перевод) <br/>
 Стоимость: 2000 рублей</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Пакет документов для получения прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории
				<ul>
					<li>Обязательный</li>
					<li>Количество копий: <b>1</b></li>
					<li>Предоставляется на&nbsp;все время оказания услуги с&nbsp;возможностью возврата по&nbsp;требованию Заявителя</li>
				</ul>
			<p>Для получения прокатного удостоверения заявитель представляет следующий пакет документов: </p>
<ul> 
	<li>заявление (в&nbsp;соответствии с&nbsp;приложением №&nbsp;1&nbsp;к Регламенту); </li>
	<li>выписка из&nbsp;Единого государственного реестра юридических лиц и&nbsp;документ, подтверждающий полномочия руководителя организации (для юридических лиц); заверенная копия свидетельства о&nbsp;государственной регистрации в&nbsp;качестве индивидуального предпринимателя (для индивидуальных предпринимателей); копия паспорта (для физического лица); </li>
	<li>анкету заявителя (в&nbsp;соответствии с&nbsp;приложением №&nbsp;2&nbsp;к Регламенту); </li>
	<li>копии документов, подтверждающих право заявителя на&nbsp;фильм; к&nbsp;документам на&nbsp;иностранном языке прилагается перевод документов на&nbsp;русский язык; лицо, указанное в&nbsp;эти документах в&nbsp;качестве правообладателя, признается таковым, если не&nbsp;доказано иное; </li>
	<li>соответствующую техническим требованиям копию фильма на&nbsp;оригинальном носителе (представляется для просмотра); </li>
	<li>акт, удостоверяющий техническое качество копии фильма; </li>
	<li>сведения об&nbsp;использованных в&nbsp;фильме, предназначенном для публичного исполнения либо сообщения в&nbsp;эфир или по&nbsp;кабелю, музыкальных произведениях в&nbsp;двух экземплярах для фильмов отечественного или совместного производства (композитор, название использованного произведения, длительность звучания в&nbsp;фильме); </li>
	<li>монтажные (диалоговые) листы (при их&nbsp;наличии) в&nbsp;одном экземпляре в&nbsp;печатном или электронном виде с&nbsp;приложением краткой аннотации фильма. </li>
	<li>для зарубежных фильмов&nbsp;— копия грузовой таможенной декларации или таможенного приходного ордера, заверенная таможенным органом, осуществившим выпуск фильма, подтверждающая законность ввоза фильма на&nbsp;территорию Российской Федерации, в&nbsp;случае, если фильм ввезен из-за рубежа;</li>
	<li>документ, подтверждающий уплату государственной пошлины за&nbsp;выдачу прокатного удостоверения в&nbsp;соответствии с&nbsp;п.13 настоящего Регламента.</li>
 </ul>
			</li>
		</ul>
	</td>
  <tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М. Гнездниковский пер., д. 7/6, строения 1, 2</td>
        </tr>
        <tr>
          <th>Контакты:</th>
          <td>Отдел государственного регистра Департамента кинематографии Минкультуры России </td>
        </tr>		
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
		        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Личный прием заявителей должностными лицами Отдела ведения государственного регистра фильмов: </th>
          <td>
            понедельник &ndash; четверг: 14:00 - 17:00<br />
            пятница: 14:00 - 16:00<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично </li>
			<li>Почтой </li>
			<li>По телефону  </li>
			<li>По email  </li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Способы получения результата </th>
    <td>
		<ul>
			<li>Почтой </li>
			<li>По телефону  </li
		></ul>
	</td>
  </tr>
     <tr>
    <th>Участвующие организации</th>
    <td>
		<ul>
			<li>ФНС России и Федеральное казначейство </li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Рассмотрение документов</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ul>
			<li>Передача документов на&nbsp;подготовку решения о&nbsp;выдаче прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li>Принятие решения о&nbsp;выдаче удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории
<p>Принятие решения о&nbsp;выдаче прокатного удостоверения оформляется извещением заявителя о&nbsp;выдаче прокатного удостоверения в&nbsp;соответствии с&nbsp;п.17.2 настоящего Регламента. </p>
	<p>
 Извещение о&nbsp;принятии решения о&nbsp;выдаче прокатного удостоверения готовит специалист по&nbsp;рассмотрению документов. </p>
	<p>
 Специалист по&nbsp;рассмотрению документов направляет извещение о&nbsp;принятии решения о&nbsp;выдаче прокатного удостоверения (приложение №&nbsp;3&nbsp;к настоящему Регламенту) по&nbsp;почте или сообщает об&nbsp;этом заявителю телефонограммой в&nbsp;течение 7&nbsp;рабочих дней со&nbsp;дня получения документов. </p>
	<p>
 В&nbsp;извещении указываются: </p>
 <ul>
<li>индивидуальный регистрационный номер прокатного удостоверения и&nbsp;дата внесения информации о&nbsp;фильме в&nbsp;Государственный регистр; </li>
 <li>реквизиты банковского счета для оплаты государственной пошлины за&nbsp;выдачу прокатного удостоверения; </li>
 <li>возможность и&nbsp;порядок получения оригинала прокатного удостоверения; <</li>
 <li>порядок передачи прав владения, пользования и&nbsp;распоряжения фильмом в&nbsp;соответствии с&nbsp;п.20 настоящего Регламента. </li>
	</ul>
 <p>Письменное извещение подписывается должностным лицом Минкультуры России в&nbsp;соответствии с&nbsp;его полномочиями. </p>
			
		</ul>
	</td>
  </tr>
  
   <tr>
    <th>Получаемый документ</th>
    <td>
		<ul>
			<li>Извещение о&nbsp;принятии решения о&nbsp;выдаче прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории
			<ul><li>Форма бланкат не определена</li>
			<li>Количество копий: <b>1</b> </li>
			<li>Выдается в&nbsp;конце оказания услуги </li>
			</ul>
			<p>Принятие решения о выдаче прокатного удостоверения оформляется извещением заявителя о выдаче прокатного удостоверения в соответствии с п.17.2 настоящего Регламента.<p> 
			</li>
		</ul>
	</td>
  </tr>
   
 </table>
 
 <h4>Регистрация документов в&nbsp;журнале входящих документов по&nbsp;выдаче прокатных удостоверений</h4>
 <p>Специалист, ответственный за&nbsp;регистрацию документов, в&nbsp;течение одного рабочего дня после получения документов проверяет соответствие документов перечню, указанному в&nbsp;п.8 настоящего Регламента. </p>
<p>
 При отсутствии замечаний к&nbsp;документам специалист, ответственный за&nbsp;регистрацию документов, регистрирует документы в&nbsp;журнале входящих документов по&nbsp;выдаче прокатных удостоверений и&nbsp;в&nbsp;течение одного рабочего дня после регистрации документов передает их&nbsp;начальнику Отдела (в&nbsp;его отсутствие&nbsp;— заместителю начальника Отдела).</p> 
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Пакет документов для получения прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее территории 
			<ul><li>Форма бланка не определена</li>
			<li>Количество копий: <b>1</b> </li>
			<li>Выдается в&nbsp;начале оказания услуги </li>
			</ul>
			<p>Для получения прокатного удостоверения заявитель представляет следующий пакет документов: </p>
<ul> 
	<li>заявление (в&nbsp;соответствии с&nbsp;приложением №&nbsp;1&nbsp;к Регламенту); </li>
	<li>выписка из&nbsp;Единого государственного реестра юридических лиц и&nbsp;документ, подтверждающий полномочия руководителя организации (для юридических лиц); заверенная копия свидетельства о&nbsp;государственной регистрации в&nbsp;качестве индивидуального предпринимателя (для индивидуальных предпринимателей); копия паспорта (для физического лица); </li>
	<li>анкету заявителя (в&nbsp;соответствии с&nbsp;приложением №&nbsp;2&nbsp;к Регламенту); </li>
	<li>копии документов, подтверждающих право заявителя на&nbsp;фильм; к&nbsp;документам на&nbsp;иностранном языке прилагается перевод документов на&nbsp;русский язык; лицо, указанное в&nbsp;эти документах в&nbsp;качестве правообладателя, признается таковым, если не&nbsp;доказано иное; </li>
	<li>соответствующую техническим требованиям копию фильма на&nbsp;оригинальном носителе (представляется для просмотра); </li>
	<li>акт, удостоверяющий техническое качество копии фильма; </li>
	<li>сведения об&nbsp;использованных в&nbsp;фильме, предназначенном для публичного исполнения либо сообщения в&nbsp;эфир или по&nbsp;кабелю, музыкальных произведениях в&nbsp;двух экземплярах для фильмов отечественного или совместного производства (композитор, название использованного произведения, длительность звучания в&nbsp;фильме); </li>
	<li>монтажные (диалоговые) листы (при их&nbsp;наличии) в&nbsp;одном экземпляре в&nbsp;печатном или электронном виде с&nbsp;приложением краткой аннотации фильма. </li>
	<li>для зарубежных фильмов&nbsp;— копия грузовой таможенной декларации или таможенного приходного ордера, заверенная таможенным органом, осуществившим выпуск фильма, подтверждающая законность ввоза фильма на&nbsp;территорию Российской Федерации, в&nbsp;случае, если фильм ввезен из-за рубежа;</li>
	<li>документ, подтверждающий уплату государственной пошлины за&nbsp;выдачу прокатного удостоверения в&nbsp;соответствии с&nbsp;п.13 настоящего Регламента.</li>
 </ul>
 </li>
 <li>Извещение о&nbsp;принятии решения о&nbsp;выдаче прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории 
			<ul><li>Форма бланка не определена</li>
			<li>Количество копий: <b>1</b> </li>
			<li>Выдается в&nbsp;процессе оказания услуги </li>
			</ul>
			<p>Принятие решения о&nbsp;выдаче прокатного удостоверения оформляется извещением заявителя о&nbsp;выдаче прокатного удостоверения в&nbsp;соответствии с&nbsp;п.17.2 настоящего Регламента.</p>
 </li>
		</ol>
	</td>
  </tr>
      <tr>
    <th>Осуществляемые правовые действия</th>
    <td>
		<ul>
			<li>Обеспечение регистрации документов в&nbsp;журнале входящих документов по&nbsp;выдаче прокатных удостоверений</li>
		</ul>
	</td>
  </tr>
  </table>
 
  <h4>Выдача удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h4>
 <p>Прокатное удостоверение выдается не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня принятия решения о&nbsp;выдаче прокатного удостоверения.</p>
<p>
 Прокатное удостоверение выдается на&nbsp;срок действия права заявителя на&nbsp;воспроизведение, распространение, публичный показ, публичное исполнение, прокат фильма, сообщение фильма по&nbsp;кабелю.</p>
<p>
 Прокатное удостоверение вручается заявителю, либо представителю заявителя специалистом по&nbsp;рассмотрению документов.</p>
<p>
 Прокатное удостоверение вручается заявителю, либо представителю заявителя при предъявлении оригинала и&nbsp;копии квитанции об&nbsp;оплате государственной пошлины, а&nbsp;также справки о&nbsp;принятии копии фильма в&nbsp;качестве обязательного экземпляра документов на&nbsp;государственное хранение: </p>
<ul>
<li>для игровых, анимационных, научно-популярных фильмов&nbsp;— из&nbsp;Госфильмофонда России; </li>
<li>для документальных фильмов&nbsp;— из&nbsp;Российского государственного архива кинофотодокументов.</li>
</ul>
<p>
 После получения прокатного удостоверения заявитель, либо представитель заявителя расписывается на&nbsp;заявлении, письменно подтверждая факт получения оригинала прокатного удостоверения.</p>
<p>
 Копия прокатного удостоверения, а&nbsp;также доверенность или иной документ, подтверждающий полномочия представителя заявителя, подшивается специалистом по&nbsp;рассмотрению документов в&nbsp;дело.</p>
<p>
 Информация о&nbsp;выдаче прокатного удостоверения с&nbsp;указанием его номера и&nbsp;других реквизитов вносится специалистом по&nbsp;рассмотрению документов в&nbsp;Государственный регистр.</p>
 
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Удостоверение на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории 
			<ul><li>Форма бланка не определена</li>
			<li>Количество копий: <b>1</b> </li>
			<li>Выдается в&nbsp;конце оказания услуги </li>
			</ul>
			
			<p>Прокатное удостоверение выдается не&nbsp;позднее 5&nbsp;рабочих дней со&nbsp;дня принятия решения о&nbsp;выдаче прокатного удостоверения. </p>
<p>
 Прокатное удостоверение выдается на&nbsp;срок действия права заявителя на&nbsp;воспроизведение, распространение, публичный показ, публичное исполнение, прокат фильма, сообщение фильма по&nbsp;кабелю. </p>
<p>
 Прокатное удостоверение вручается заявителю, либо представителю заявителя при предъявлении оригинала и&nbsp;копии квитанции об&nbsp;оплате государственной пошлины, а&nbsp;также справки о&nbsp;принятии копии фильма в&nbsp;качестве обязательного экземпляра документов на&nbsp;государственное хранение: </p>
 <ul>
<li>для игровых, анимационных, научно-популярных фильмов&nbsp;— из&nbsp;Госфильмофонда России; </li>
 <li>для документальных фильмов&nbsp;— из&nbsp;Российского государственного архива кинофотодокументов. </li></ul>
<p>
 После получения прокатного удостоверения заявитель, либо представитель заявителя расписывается на&nbsp;заявлении, письменно подтверждая факт получения оригинала прокатного удостоверения. <br/>
<p>
 Копия прокатного удостоверения, а&nbsp;также доверенность или иной документ, подтверждающий полномочия представителя заявителя, подшивается специалистом по&nbsp;рассмотрению документов в&nbsp;дело. </p>
<p>
 Информация о&nbsp;выдаче прокатного удостоверения с&nbsp;указанием его номера и&nbsp;других реквизитов вносится специалистом по&nbsp;рассмотрению документов в&nbsp;Государственный регистр.</p>
 </li>
</td>
  </tr>
  </table>
 
  <h4>Отказ в&nbsp;приеме и&nbsp;регистрации документов на&nbsp;выдачу удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h4>
<p>При несоответствии пакета документов перечням, указанным в&nbsp;п.&nbsp;8&nbsp;настоящего Регламента, рассмотрение документов приостанавливается.</p>
<p>
 Уведомление о&nbsp;приостановлении рассмотрения документов должно быть направлено заявителю в&nbsp;письменной форме либо телефонограммой не&nbsp;позднее трех дней с&nbsp;даты регистрации заявления в&nbsp;системе делопроизводства Минкультуры России.</p>
<p>
 Срок исполнения государственной функции (10&nbsp;рабочих дней) в&nbsp;этом случае будет исчисляться с&nbsp;момента регистрации повторного представления пакета документов.</p>
<p>
 Недостающие документы представляются в&nbsp;порядке, изложенном в&nbsp;п.&nbsp;8&nbsp;настоящего Регламента. 
</p>
 
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Уведомление о несоответствии документов перечням 
			<ul><li>Форма бланка не определена</li>
			<li>Количество копий: <b>1</b> </li>
			<li>Выдается в&nbsp;процессе оказания услуги </li>
			</ul>
			
			<p>При несоответствии пакета документов перечням, указанным в&nbsp;п.&nbsp;8&nbsp;настоящего Регламента, рассмотрение документов приостанавливается. </p>
<p>
 Уведомление о&nbsp;приостановлении рассмотрения документов должно быть направлено заявителю в&nbsp;письменной форме либо телефонограммой не&nbsp;позднее трех дней с&nbsp;даты регистрации заявления в&nbsp;системе делопроизводства Минкультуры России. </p>
<p>Срок исполнения государственной функции (10&nbsp;рабочих дней) в&nbsp;этом случае будет исчисляться с&nbsp;момента регистрации повторного представления пакета документов.</p>
<p>Недостающие документы представляются в&nbsp;порядке, изложенном в&nbsp;п.&nbsp;8&nbsp;настоящего Регламента.</p>
 </li>
 </ol>
</td>
  </tr>
  </table>
 </div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
<ul> 
	<li>Министру (заместителю Министра) культуры Российской Федерации; </li>
	<li>Руководителю (заместителю руководителя) Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия. </li>
 </ul>
<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
<ul> 
	<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
	<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
	<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
	<li>изложение сути жалобы; </li>
	<li>личную подпись и&nbsp;дату. </li>
 </ul>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии. </p>
<p> Министр (заместитель Министра) культуры Российской Федерации: </p>
<ul> 
	<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
	<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
	<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
 </ul>
 <p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
<p>
 Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
<p>
 Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
<p>
 В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
<p>
 В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
<p>
 Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
<p>
 В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
<p>
 В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу.</p>
</div>
</section>



<h1>Продление срока действия прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h1>
<section>
<h2><span><a href="#">Описание услуги</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Требования по срокам</th>
	<td>
	<ul>
		<li>Не более 10-ти рабочих дней </li>
	</ul>
	</td>
   </tr>
  <tr>
    <th>Категории получателей</th>
    <td>
		<ul>
			<li>Физические лица</li>
			<li>Юридические лица</li>
		</ul>
    </td>
  </tr>
  <tr>
    <th>Документы </th>
    <td>		
		<ul>
			<li>Пакет документов для продления срока действия прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</li>
		<ul>
			<li>Обязательный </li>
			<li>Количество копий: <b>1</b></li>
			<li>Предоставляется на&nbsp;все время оказания услуги с&nbsp;возможностью возврата по&nbsp;требованию Заявителя </li>
		</ul>
			 <p>Для продления срока действия прокатного удостоверения заявитель представляет следующий пакет документов: 
				</p>
				<ul> 
					<li>заявление в&nbsp;свободной форме на&nbsp;имя Министра (заместителя Министра) культуры Российской Федерации с&nbsp;указанием причины продления срока действия прокатного удостоверения; </li>
					<li>копии документов, подтверждающих право заявителя на&nbsp;фильм; к&nbsp;копиям документов на&nbsp;иностранном языке прилагается перевод документов на&nbsp;русский язык; лицо, указанное в&nbsp;эти документах в&nbsp;качестве правообладателя, признается таковым, если не&nbsp;доказано иное; </li>
					<li>оригинал прокатного удостоверения. </li>
 				</ul>
		</ul>
	</td>
  <tr>
  <tr>
    <th>Адреса и телефоны</th>
    <td>
      <table>
        <caption>Министерство культуры Российской Федерации</caption>
        <tr>
          <th>Адрес:</th>
          <td>125993, Москва, М. Гнездниковский пер., д. 7/6, строения 1, 2</td>
        </tr>
        <tr>
          <th>Контакты:</th>
          <td>Отдел государственного регистра Департамента кинематографии Минкультуры России </td>
        </tr>		
        <tr>
          <th>Телефон:</th>
          <td><span class="nowrap">+7 (495) 629-87-34</span><br>
		  <span class="nowrap">+7 (495) 629-96-01</span><br>
		  <span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		<tr>
          <th>Факс:</th>
          <td><span class="nowrap">+7 (495) 629-25-06</span></td>
        </tr>
		
        <tr>
          <th>Email:</th>
          <td><a href="mailto:info@mkrf.ru">info@mkrf.ru</a></td>
        </tr>
		        <tr>
          <th>Режим работы:</th>
          <td>
            понедельник &ndash; четверг: 9:00 - 18:00<br />
            пятница: 9:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>
        <tr>
          <th>Время работы экспедиции:</th>
          <td>
            понедельник &ndash; четверг: 10:00 - 18:00<br />
            пятница: 10:00 - 16:45<br />
            суббота, воскресенье: выходной
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>
</div>
</section>


<section>
<h2><span><a href="#">Описание процесса заказа</a></span></h2>
<div class="g-content g-collapsed">
<table>
  <tr>
    <th>Способы подачи заявки</th>
    <td>
		<ul>
			<li>Лично</li>
			<li>Почтой</li>
			<li>По телефону</li>
			<li>По email</li>
		</ul>
	</td>
  </tr>
    <tr>
    <th>Способы получения результата </th>
    <td>
		<ul>
			<li>По телефону</li>
		</ul>
	</td>
  </tr>
</table>
</div>
</section>

<section>
<h2><span><a href="#">Результаты оказания услуги</a></span></h2>
<div class="g-content g-collapsed">
<h4>Отказ в&nbsp;продлении срока действия прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;принятии решения об&nbsp;отказе в&nbsp;выдаче прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории </li>
		</ol>
	</td>
  </tr>
 </table>
 
 <h4>Продление срока действия удостоверения прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</h4>
<table>
  <tr>
    <th>Получаемый документ</th>
    <td>
		<ol>
			<li>Извещение о&nbsp;принятии решения о&nbsp;продлении прокатного удостоверения на&nbsp;фильмы, созданные в&nbsp;Российской Федерации или приобретенные за&nbsp;рубежом для проката на&nbsp;ее&nbsp;территории</li>
		</ol>
	</td>
  </tr>
 </table>
 
</div>
</section>

<section>
<h2><span><a href="#">Порядок обжалования</a></span></h2>
<div class="g-content g-collapsed">
<p>Действия (бездействие), решения Минкультуры России, осуществляемые (принятые) в&nbsp;ходе предоставления государственной услуги, в&nbsp;части досудебного (внесудебного) обжалования могут быть обжалованы: </p>
<ul> 
	<li>Министру (заместителю Министра) культуры Российской Федерации; </li>
	<li>Руководителю (заместителю руководителя) Федеральной службы по&nbsp;надзору за&nbsp;соблюдением законодательства в&nbsp;области охраны культурного наследия. </li>
 </ul>
<p>Заявитель в&nbsp;своей жалобе в&nbsp;обязательном порядке указывает: </p>
<ul> 
	<li>наименование государственного органа, в&nbsp;который направляется жалоба; </li>
	<li>фамилию, имя, отчество (последнее&nbsp;— при наличии); </li>
	<li>почтовый адрес, по&nbsp;которому должен быть направлен ответ; </li>
	<li>изложение сути жалобы; </li>
	<li>личную подпись и&nbsp;дату. </li>
 </ul>
<p>В&nbsp;случае необходимости в&nbsp;подтверждение своих доводов заявитель прилагает к&nbsp;письменной жалобе документы и&nbsp;материалы либо их&nbsp;копии . <br/>
	<br/>
 Министр (заместитель Министра) культуры Российской Федерации: 
</p>
<ul> 
	<li>обеспечивает объективное, всестороннее и&nbsp;своевременное рассмотрение обращения, в&nbsp;случае необходимости&nbsp;— с&nbsp;участием заявителя, направившего жалобу, или его законного представителя; </li>
	<li>вправе запрашивать необходимые для рассмотрения жалобы документы и&nbsp;материалы в&nbsp;других государственных органах, органах местного самоуправления и&nbsp;у&nbsp;иных должностных лиц, за&nbsp;исключением судов, органов дознания и&nbsp;органов предварительного следствия; </li>
	<li>по&nbsp;результатам рассмотрения жалобы принимает меры, направленные на&nbsp;восстановление или защиту нарушенных прав, свобод и&nbsp;законных интересов заявителя, дают письменный ответ по&nbsp;существу поставленных в&nbsp;жалобе вопросов. </li>
 </ul>
<p>Ответ на&nbsp;жалобу подписывается Министром культуры Российской Федерации либо его заместителем, или уполномоченным на&nbsp;то&nbsp;должностным лицом. </p>
<p>Ответ на&nbsp;жалобу, поступившую в&nbsp;государственный орган, направляется по&nbsp;почтовому адресу, указанному в&nbsp;обращении. </p>
<p>Письменная жалоба, поступившая в&nbsp;государственный орган, рассматривается в&nbsp;течение 30&nbsp;дней со&nbsp;дня регистрации жалобы. </p>
<p>В&nbsp;исключительных случаях руководитель государственного органа либо уполномоченное на&nbsp;то&nbsp;должностное лицо вправе продлить срок рассмотрения жалобы не&nbsp;более чем на&nbsp;30&nbsp;дней, уведомив о&nbsp;продлении срока его рассмотрения заявителя, направившего жалобу. </p>
<p>В&nbsp;случае, если в&nbsp;письменной жалобе не&nbsp;указаны фамилия заявителя, направившего жалобу, и&nbsp;почтовый адрес, по&nbsp;которому должен быть направлен ответ, ответ на&nbsp;жалобу не&nbsp;дается. </p>
<p>Руководитель государственного органа или должностное лицо при получении письменного обращения, в&nbsp;котором содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и&nbsp;имуществу должностного лица, а&nbsp;также членов его семьи, вправе оставить обращение без ответа по&nbsp;существу поставленных в&nbsp;нем вопросов и&nbsp;сообщить гражданину, направившему обращение, о&nbsp;недопустимости злоупотребления правом. </p>
<p>В&nbsp;случае, если текст жалобы не&nbsp;поддается прочтению, ответ на&nbsp;жалобу не&nbsp;дается, о&nbsp;чем сообщается заявителю, направившему жалобу, если его фамилия и&nbsp;почтовый адрес поддаются прочтению. </p>
<p>В&nbsp;случае, если в&nbsp;жалобе заявителя содержится вопрос, на&nbsp;который ему многократно давались письменные ответы по&nbsp;существу в&nbsp;связи с&nbsp;ранее направляемыми жалобами, и&nbsp;при этом в&nbsp;жалобе не&nbsp;приводятся новые доводы или обстоятельства, руководитель государственного органа, должностное лицо либо уполномоченное на&nbsp;то&nbsp;лицо вправе принять решение о&nbsp;безосновательности очередной жалобы и&nbsp;прекращении переписки с&nbsp;заявителем по&nbsp;данному вопросу при условии, что указанная жалоба и&nbsp;ранее направляемые жалобы направлялись в&nbsp;один и&nbsp;тот&nbsp;же государственный орган. О&nbsp;данном решении уведомляется заявитель, направивший жалобу. </p>
</div>
</section>

</div>
</section>

</div><!-- /gcol-1 -->
<div class="gcol-2">
  <div class="go-to-gos">
    <p>На портале Госуслуг можно подать заявление на полученией этой услуги</p>
    <a href="http://culture.ru/services/">Перейти на Портал Госуслуг</a>
  </div>
</div><!-- /gcol-2 -->
</div><!-- /gosuslugi-info -->
<!-- /контент страницы -->

			{% endblock %}