{% extends ':Frontend:layout_two_column.html.twig' %}
{% import 'ArmdLectureBundle::lecture_macro.html.twig' as lectureMacro %}

{% block page_header_title %}Видеотека{% endblock %}

{#
{% block page_header_search %}
    <div class="search-category">

        <form id="lectures-filter" method="post">
            <span class="search-dates-label">Категория</span>
            <div class="search-category-selects">
                <select id="lecture_category" name="lecture_category" class="uni">
                    <option value="0">{{ "All"|trans }}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == categoryId %}selected="selected"{% endif %}>{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                <span class="search-dates-label">Жанр</span>
                <div class="search-category-selects">
                    <select id="lecture_sub_category" name="lecture_sub_category" class="uni">
                        <option value="0">{{ "All"|trans }}</option>
                    </select>
                </div>
            {% endif %}
            &#123;&#35;<button id="lectures-filter-submit" type="submit" class="button search-dates-button">{{ "search_show"|trans }}</button>&#35;&#125;
        </form>

    </div>
{% endblock %}


{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>Искать в текущем разделе</span></label>
    </div>
{% endblock %}
{% block search_query %}{{ searchQuery }}{% endblock %}
#}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><span>{{ 'menu.video'|trans }}</span></li>
    </ul>

    <div id="lecture-container">
        {% for superType in superTypes %}
            <section class="lecture-homepage-section clearfix block">
                {% if superType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                    {% set sectionTitle = 'Лекции' %}
                    {% set showAllPath = path('armd_lecture_lecture_index') %}

                {% elseif superType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                    {% set sectionTitle = 'Трансляции' %}
                    {% set showAllPath = path('armd_lecture_translation_index') %}

                {% elseif superType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                    {% set sectionTitle = 'Кинозал' %}
                    {% set showAllPath = path('armd_lecture_cinema_index') %}

                {% else %}
                    {% set sectionTitle = superType.name %}
                    {% set showAllPath = path('armd_lecture_default_index', {'lectureSuperTypeCode': superType.code }) %}

                {% endif %}

                <h2><span>{{ sectionTitle }}</span></h2>
                <div class="plitka perfomances-list video-plitka">
                {% for lecture in lecturesBySuperType[superType.code] %}
                    <div class="plitka-one-wrap">
                        <div class="plitka-one">
                            <a class="plitka-one-image-wrapper" title="{{ lecture.title }}" href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
                                <div class="plitka-one-image">
                                    {% if lecture.isTop100Film %}
                                        <div class="cinema-top100-icon"></div>
                                    {% endif %}
                                    {{ lectureMacro.lectureThumbnail(lecture, 'lectureW160H120', {'alt': lecture.title, 'height': 'auto'}) }}
                                </div>
                            </a>
                            <div class="plitka-text">
                                <span class="plitka-name">
                                    <a title="{{ lecture.title }}" href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
                                        {{ lecture.title|truncate(50) }}
                                    </a>
                                </span>
                                {% if lecture.productionYear or lecture.timeLength %}
                                    <span  class="two-row-link">
                                        {% if lecture.productionYear %}{{ lecture.productionYear~' /' }}{% endif %}
                                        {% if lecture.timeLength %}{{ lecture.timeLength~' мин. ' }}{% endif %}
                                    </span>
                                {% endif %}

                              
                                
                            </div>
                            <div class="plitka-footer">
                                <div class="tags">
                                    {% for lectureCategory in lecture.categories %}
                                    <nobr>
                                        <a href="{{ path('armd_lecture_default_index', {
                                                    'lectureSuperTypeCode': lecture.lectureSuperType.code,
                                                    'category_id': lectureCategory.id}) }}"
                                                >
                                            {{ lectureCategory.title }}
                                        </a>{% if not loop.last %},{% endif %}
                                    </nobr>
                                    {% endfor %}
                                </div>
                                <p class="views">Просмотров: {{ lecture.viewCount }}</p>
                            </div>    
                            
                            {#<div class="plitka-footer">#}
                                {#<a href="{{ path('armd_lecture_default_index', { 'lectureSuperTypeCode': lecture.lectureSuperType.code }) }}">#}
                                    {#{{ lecture.lectureSuperType.name }}#}
                                {#</a>#}
                                {#<span class="lecture-view-counter">Просмотров: {{ lecture.viewCount }}</span>#}
                            {#</div>#}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="show-all">
                    <a href="{{ showAllPath }}">Смотреть все</a>
                </div>
                
            </section>
        {% endfor %}

    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}

    {% render url('armd_news_memorial_events') %}
    {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}
    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
    </div>

{% endblock %}

