{% extends ':Frontend:layout_two_column.html.twig' %}

{% block page_header_title %}
    {% if lectureSuperType %}
        {{ lectureSuperType.code|trans }}
    {% else %}
        {{ "Cinema Hall"|trans }}
    {% endif %}
{% endblock %}

{% block page_header_search %}
    <div class="search-category">

        <form id="lectures-filter" method="post">
            <span class="search-dates-label">Категория</span>
            <div class="search-category-selects">
                <select id="lecture_category" name="lecture_category" class="uni">
                    <option value="0">{{ "All"|trans }}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == categoryId %}selected="selected"{% endif %}>{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                <span class="search-dates-label">Жанр</span>
                <div class="search-category-selects">
                    <select id="lecture_sub_category" name="lecture_sub_category" class="uni">
                        <option value="0">{{ "All"|trans }}</option>
                    </select>
                </div>
            {% endif %}
            {#<button id="lectures-filter-submit" type="submit" class="button search-dates-button">{{ "search_show"|trans }}</button>#}
        </form>

    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>Искать в текущем разделе</span></label>
    </div>
{% endblock %}

{% block search_query %}{{ searchQuery }}{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <div id="sort-list">
        <span>Сортировать по:</span>
        <ul>
            <li class="active"><a href="#" data-sort-by="date">дате</a></li>
            <li><a href="#" data-sort-by="popularity">популярности</a></li>
            <li><a href="#" data-sort-by="title">алфавиту</a></li>
        </ul>
    </div>
    <div id="lecture-container" class="plitka">
        {% render url('armd_lecture_list', {
            'lectureSuperTypeCode': lectureSuperType.code,
            'limit': 32,
            'search_query': searchQuery,
            'category_id': categoryId})
        %}
    </div>
    <div id="lecture-more-container" class="more more2">
        <p><a id="lecture-more-button" href="#">{{ "show_more"|trans }}</a></p>
    </div>

{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}

    {% render url('armd_news_memorial_events') %}
    {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}
    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lectures.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            armdMkLectures.init('{{ lectureSuperType.code }}');
        });
    </script>
{% endblock %}
