{% extends '::base.html.twig' %}
{% import _self as self %}

{% block body %}
<div class="filter">
    <div class="title dark-blue-title">
        <h2>{{ 'Filtering'|trans }}</h2>
    </div>
    <form action="" class="simple-filter-form video-filter">

         {# this block is hidden because problems with ajax and nginx  #}
        <div class="simple-search" style="display:none">
            <label for="ss_input">{{ 'Find'|trans }}</label>
            <input type="text" class="ss-input" id="ss_input"/>
        </div>

        {# this block is hidden because there are only video lectures #}
        <div class="simple-filter-block lecture-type" style="display: none">
            <div class="simple-filter-header clearfix">
                <span>{{ 'Lecture types'|trans }}</span>
                <p class="check_all checked" ><span>{{ 'All'|trans }}</span></p>
            </div>
            <div class="simple-filter-options">
                {% for lectureType in lectureTypes %}
                    <label class="checked">
                        <input type="checkbox" checked="checked" data-lecture-type-id="{{ lectureType.id }}" />
                        <span>{{ lectureType.name }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>

        <div class="simple-filter-block video-theme">
            {% for lectureCategory in lectureCategories %}
                <div class="simple-filter-header clearfix">
                    <span>{{ lectureCategory.title }}</span>
                    {% if loop.first %}
                        <p class="check_all checked"><span>{{ 'All'|trans }}</span></p>
                    {% endif %}
                </div>
                <div class="simple-filter-options">
                {% for lectureTag in lectureCategory.__children %}
                    
                        <label class="checked">
                            <input type="checkbox" data-lecture-category-id="{{ lectureTag.id }}" checked="checked" />
                            <span>{{ lectureTag.title }}</span>
                        </label>
                    
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>

</div>

<div class="center-column">
    <div class="title dark-blue-title">
        <h2>
            {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                {{ 'Lectures'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                {{ 'Translations'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                {{ 'Cinema Hall'|trans }}
            {% endif %}
        </h2>
    </div>

    <div class="video-anons">

        <ul>
            {% for lecture in lastLectures %}
                {% if lastLectures|length == 1 %}
                    {% set lecture_announce_format = 'xbig' %}
                    {% set lecture_li_class = 'single' %}
                {% else %}
                    {% set lecture_announce_format = 'big' %}
                    {% set lecture_li_class = '' %}
                {% endif %}
                <li class="{{ lecture_li_class }}">
                    {{ self.lecture_announce(lecture, lecture_announce_format) }}

                    {#<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">#}
                        {#{% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}#}
                            {#<img src="{% path lecture.lectureVideo.imageMedia, 'big' %}" alt="{{ lecture.title }}"/>#}
                        {#{% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}#}
                            {#<img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_big.jpg') }}" alt="{{ lecture.title }}" />#}
                        {#{% elseif lecture.le
                        ctureType.code == 'LECTURE_TYPE_TEXT' %}#}
                            {#<img src="{{ asset('bundles/armdlecture/images/lecture_type_text_big.jpg') }}" alt="{{ lecture.title }}" />#}
                        {#{% endif %}#}
                    {#</a>#}

                    {#&#123;&#35;<p class="va-type">{{ lecture.lectureType.name }}</p>&#35;&#125;#}

                    {#<p class="va-theme">#}
                        {#{% for category in lecture.categories %}#}
                            {#{{ category.title }}#}
                            {#{% if not loop.last %},{% endif %}#}
                        {#{% endfor %}#}
                    {#</p>#}
                    {#<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="va-name">{{ lecture.title }}</a>#}

                    {#&#123;&#35;<p class="va-author"><span>Лектор:</span>{{ lecture.lecturer }}</p>&#35;&#125;#}
                </li>
            {% endfor %}

        </ul>
    </div>

    <div id="lecture-list-wrapper">
        <div id="lecture-list-loading"></div>
        <div id="lecture-list-container">
            {% render 'ArmdLectureBundle:Default:lectureList' with {'lectureSuperTypeCode': lectureSuperType.code, 'page': page, 'types': 'all', 'categories': 'all'} %}
        </div>
    </div>

</div>
<div class="right-column">
    {% render 'ArmdLectureBundle:Default:rightColumn' %}
    {#&#123;&#35;</ul>&#35;&#125;    #}

    {#<ul class="right-list">#}
        {#{% for lecture in recommendedLectures %}#}
            {#<li>#}
                {#<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">#}
                    {#{% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}#}
                        {#<img src="{% path lecture.lectureVideo.imageMedia, 'small' %}" alt="{{ lecture.title }}"/>#}
                    {#{% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}#}
                        {#<img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_small.jpg') }}" alt="{{ lecture.title }}" />#}
                    {#{% elseif lecture.lectureType.code == 'LECTURE_TYPE_TEXT' %}#}
                        {#<img src="{{ asset('bundles/armdlecture/images/lecture_type_text_small.jpg') }}" alt="{{ lecture.title }}" />#}
                    {#{% endif %}#}
                {#</a>#}

                {#<div class="text-overflow">#}
                    {#<span class="rl-type">{{ lecture.lectureType.name }}</span>#}
                    {#<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="rl-name">#}
                        {#{{ lecture.title }}#}
                    {#</a>#}
                {#</div>#}
            {#</li>#}
        {#{% endfor %}#}
    {#</ul>#}

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lecture.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            armdLecture.init(
                    {{ typeCategories|json_encode|raw }},
                    '{{ lectureSuperType.code }}'
            );
        });
    </script>
{% endblock %}


{% macro lecture_announce(lecture, format) %}
    <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
        {% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}
            <img src="{% path lecture.lectureVideo.imageMedia, format %}" alt="{{ lecture.title }}"/>
        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}
            <img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_' ~ format ~ '.jpg') }}" alt="{{ lecture.title }}" />
        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_TEXT' %}
            <img src="{{ asset('bundles/armdlecture/images/lecture_type_text_' ~ format ~ '.jpg') }}" alt="{{ lecture.title }}" />
        {% endif %}
    </a>

    {#<p class="va-type">{{ lecture.lectureType.name }}</p>#}

    <p class="va-theme">
        {% for category in lecture.categories %}
            {{ category.title }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="va-name">{{ lecture.title }}</a>

{% endmacro %}
