{% extends '::base.html.twig' %}
{% import _self as self %}

{% block body %}
<div class="filter">
    <div class="title dark-blue-title">
        <h2>{{ 'Filtering'|trans }}</h2>
    </div>
    <form action="" class="simple-filter-form video-filter">

         {# this block is hidden because problems with ajax and nginx  #}
        <div class="simple-search" style="display:none">
            <label for="ss_input">{{ 'Find'|trans }}</label>
            <input type="text" class="ss-input" id="ss_input"/>
        </div>

        {# this block is hidden because there are only video lectures #}
        <div class="simple-filter-block lecture-type" style="display: none">
            <div class="simple-filter-header clearfix">
                <span>{{ 'Lecture types'|trans }}</span>
                <p class="check_all checked" ><span>{{ 'All'|trans }}</span></p>
            </div>
            <div class="simple-filter-options">
                {% for lectureType in lectureTypes %}
                    <label class="checked">
                        <input type="checkbox" checked="checked" data-lecture-type-id="{{ lectureType.id }}" />
                        <span>{{ lectureType.name }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>

        <div class="simple-filter-block video-theme">
            {% for lectureCategory in lectureCategories %}
                <div class="simple-filter-header clearfix">
                    <span>{{ lectureCategory.title }}</span>
                    {% if loop.first %}
                        <p class="check_all checked"><span>{{ 'All'|trans }}</span></p>
                    {% endif %}
                </div>
                <div class="simple-filter-options">
                {% for lectureTag in lectureCategory.__children %}
                    
                        <label class="checked">
                            <input type="checkbox" data-lecture-category-id="{{ lectureTag.id }}" checked="checked" />
                            <span>{{ lectureTag.title }}</span>
                        </label>
                    
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>

</div>

<div class="center-column" style="float:right; width:75%;">
    <div class="title dark-blue-title">
        <h2>
            {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                {{ 'Lectures'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                {{ 'Translations'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                {{ 'Cinema Hall'|trans }}
            {% endif %}
        </h2>
    </div>

    <div class="video-anons-new">
        {% set lecture = lastLectures[0] %}
		<div class="van-text">
            <style type="text/css">
                .video-anons-new ol, .video-anons-new li{
                    list-style: decimal inside;
                    font-size: 12px;
                    margin-bottom: 7px;
                }
            </style>
            {% if  lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                <span class="va-name">Презентация выставки «Тропою северных оленей»</span>
                <p class="va-theme">Начало в 15:00 (MSK)</p>
                <ol>
                    <li>Выступление ансамбля народной песни Гимназии искусств при Главе РК имени Ю.А. Спиридонова  «Зиль-зёль», руководитель Наталья Фёдоровна Канова.</li>
                    <li>Министр культуры Республики Коми – Артур Альбертович Рудольф.</li>
                    <li>Министр национальной политики РК – Габушева Галина Ивановна.</li>
                    <li>Заведующая музеем  «Коми-изба» Шурышкарского музейного комплекса Ануфриева Татьяна Васильевна (с. Мужи Шурышкарский район);</li>
                    <li>Директор Ижемского историко-краеведческого музея Хозяинова Екатерина Алексеевна.</li>
                    <li>Центр народной культуры «Изьва-керка», представители ижемского землячества Степан Григорьевич Семяшкин и др.</li>
                </ol>

            {% else %}
                <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="va-name">{{ lecture.title }}</a>
                <p class="va-theme">
                    {% for category in lecture.categories %}
                        {{ category.title }}
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
                {% if lecture.lecturer is not empty %}
                    <p class="vs-lector">{{ 'Lecturer'|trans }}: <span>{{ lecture.lecturer }}</span></p>
                {% endif %}
                <p class="van-description">
                    {{ lecture.description|truncate(250) }}
                </p>
            {% endif %}
		</div>

		<div class="van-image">
            {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                {% if 'MSIE' in app.request.headers.get('user-agent') %}
                    <object name="UstreamViewer" width="640" height="480" id="UstreamViewer"
                            classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" style="visibility: visible;">
                        <PARAM NAME="_cx" VALUE="16933">
                        <PARAM NAME="_cy" VALUE="10372">
                        <PARAM NAME="FlashVars"
                               VALUE="cid=12803589&amp;locale=ru_RU&amp;sessionid=false&amp;autoplay=true&amp;enablejsapi=1&amp;sv=6">
                        <PARAM NAME="Movie" VALUE="http://static-cdn1.ustream.tv/swf/live/viewer3:81.swf?vrsl=c:350&amp;ulbr=100">
                        <PARAM NAME="Src" VALUE="http://static-cdn1.ustream.tv/swf/live/viewer3:81.swf?vrsl=c:350&amp;ulbr=100">
                        <PARAM NAME="WMode" VALUE="Opaque">
                        <PARAM NAME="Play" VALUE="0">
                        <PARAM NAME="Loop" VALUE="-1">
                        <PARAM NAME="Quality" VALUE="High">
                        <PARAM NAME="SAlign" VALUE="LT">
                        <PARAM NAME="Menu" VALUE="-1">
                        <PARAM NAME="Base" VALUE="">
                        <PARAM NAME="AllowScriptAccess" VALUE="always">
                        <PARAM NAME="Scale" VALUE="NoScale">
                        <PARAM NAME="DeviceFont" VALUE="0">
                        <PARAM NAME="EmbedMovie" VALUE="0">
                        <PARAM NAME="BGColor" VALUE="000000">
                        <PARAM NAME="SWRemote" VALUE="">
                        <PARAM NAME="MovieData" VALUE="">
                        <PARAM NAME="SeamlessTabbing" VALUE="1">
                        <PARAM NAME="Profile" VALUE="0">
                        <PARAM NAME="ProfileAddress" VALUE="">
                        <PARAM NAME="ProfilePort" VALUE="0">
                        <PARAM NAME="AllowNetworking" VALUE="all">
                        <PARAM NAME="AllowFullScreen" VALUE="true">
                        <PARAM NAME="AllowFullScreenInteractive" VALUE="false">
                        <PARAM NAME="IsDependent" VALUE="-6536">
                        <param name="wmode" value="opaque">
                        <param name="allowfullscreen" value="true">
                        <param name="bgcolor" value="#000000">
                        <param name="allowscriptaccess" value="always">
                        <param name="flashvars"
                               value="cid=12803589&amp;locale=ru_RU&amp;sessionid=false&amp;autoplay=true&amp;enablejsapi=1&amp;sv=6">
                        <param name="movie" value="http://static-cdn1.ustream.tv/swf/live/viewer3:81.swf?vrsl=c:350&amp;ulbr=100">
                    </object>
                {% else %}
                    <object width="640" height="480" type="application/x-shockwave-flash" id="UstreamViewer" name="UstreamViewer"
                            data="http://static-cdn1.ustream.tv/swf/live/viewer3:81.swf?vrsl=c:350&amp;amp;ulbr=100"
                            style="visibility: visible;">
                        <param name="wmode" value="direct">
                        <param name="allowfullscreen" value="true">
                        <param name="bgcolor" value="#000000">
                        <param name="allowscriptaccess" value="always">
                        <param name="flashvars"
                               value="cid=12803589&amp;locale=ru_RU&amp;sessionid=false&amp;autoplay=true&amp;enablejsapi=1&amp;sv=6">
                    </object>
                {% endif %}


                {#<object classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6" id="WMP7" width="640" height="480"><param name="URL" value="mms://195.178.211.10:8888/presa3" /></object>#}
            {% else %}
                {% if lecture.lectureVideo is not empty %}
                    {{ armd_tvigle_video_player(lecture.lectureVideo, 500, 375)|raw }}
                {% elseif lecture.mediaLectureVideo is not empty %}
                    {% media lecture.mediaLectureVideo, 'noformat' with {'width': 500, 'height': 375} %}
                {% endif %}
            {% endif %}

            {# last lecture image #}
            {#<a href="{{ path('armd_lecture_view', {'id': lastLectures[0].id}) }}">#}
                {#{% if lastLectures[0].lectureVideo.imageMedia is defined %}#}
                    {#{% set thumbnailMedia = lastLectures[0].lectureVideo.imageMedia %}#}
                {#{% elseif lastLectures[0].mediaLectureVideo is not empty %}#}
                    {#{% set thumbnailMedia = lastLectures[0].mediaLectureVideo %}#}
                {#{% else %}#}
                    {#{% set thumbnailMedia = null %}#}
                {#{% endif %}#}

                {#{% if thumbnailMedia is not empty %}#}
                    {#<img src="{% path thumbnailMedia, 'reference' %}" alt="{{ lastLectures[0].title }}"/>#}
                {#{% endif %}#}
            {#</a>#}
            {# /last lecture image #}

		</div>
        <div class="clear"></div>

    </div>

    

</div>
<div class="clear"></div>
<div id="lecture-list-wrapper">
        <div id="lecture-list-loading" class="loading-block"></div>
        <div id="lecture-list-container">
            {% render 'ArmdLectureBundle:Default:lectureList' with {'lectureSuperTypeCode': lectureSuperType.code, 'page': page, 'types': 'all', 'categories': 'all'} %}
        </div>
    </div>

{#<div class="right-column">#}
    {#{% render 'ArmdLectureBundle:Default:rightColumn' %}#}
    {#&#123;&#35;&#123;&#35;</ul>&#35;&#125;    &#35;&#125;#}

    {#&#123;&#35;<ul class="right-list">&#35;&#125;#}
        {#&#123;&#35;{% for lecture in recommendedLectures %}&#35;&#125;#}
            {#&#123;&#35;<li>&#35;&#125;#}
                {#&#123;&#35;<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">&#35;&#125;#}
                    {#&#123;&#35;{% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}&#35;&#125;#}
                        {#&#123;&#35;<img src="{% path lecture.lectureVideo.imageMedia, 'small' %}" alt="{{ lecture.title }}"/>&#35;&#125;#}
                    {#&#123;&#35;{% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}&#35;&#125;#}
                        {#&#123;&#35;<img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_small.jpg') }}" alt="{{ lecture.title }}" />&#35;&#125;#}
                    {#&#123;&#35;{% elseif lecture.lectureType.code == 'LECTURE_TYPE_TEXT' %}&#35;&#125;#}
                        {#&#123;&#35;<img src="{{ asset('bundles/armdlecture/images/lecture_type_text_small.jpg') }}" alt="{{ lecture.title }}" />&#35;&#125;#}
                    {#&#123;&#35;{% endif %}&#35;&#125;#}
                {#&#123;&#35;</a>&#35;&#125;#}

                {#&#123;&#35;<div class="text-overflow">&#35;&#125;#}
                    {#&#123;&#35;<span class="rl-type">{{ lecture.lectureType.name }}</span>&#35;&#125;#}
                    {#&#123;&#35;<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="rl-name">&#35;&#125;#}
                        {#&#123;&#35;{{ lecture.title }}&#35;&#125;#}
                    {#&#123;&#35;</a>&#35;&#125;#}
                {#&#123;&#35;</div>&#35;&#125;#}
            {#&#123;&#35;</li>&#35;&#125;#}
        {#&#123;&#35;{% endfor %}&#35;&#125;#}
    {#&#123;&#35;</ul>&#35;&#125;#}

{#</div>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lecture.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            armdLecture.init(
                    {{ typeCategories|json_encode|raw }},
                    '{{ lectureSuperType.code }}'
            );
			
            armdLecture.initTileUi();
        });
    </script>
{% endblock %}


{% macro lecture_announce(lecture, format) %}
    <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
		
        {% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}
            <img src="{% path lecture.lectureVideo.imageMedia, 'reference' %}" alt="{{ lecture.title }}"/>
        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}
            <img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_' ~ format ~ '.jpg') }}" alt="{{ lecture.title }}" />
        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_TEXT' %}
            <img src="{{ asset('bundles/armdlecture/images/lecture_type_text_' ~ format ~ '.jpg') }}" alt="{{ lecture.title }}" />
        {% endif %}
    </a>

    {#<p class="va-type">{{ lecture.lectureType.name }}</p>#}

    <p class="va-theme">
        {% for category in lecture.categories %}
            {{ category.title }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="va-name">{{ lecture.title }}</a>

{% endmacro %}

