{% extends ':Frontend:layout_two_column.html.twig' %}

{% block page_header_title %}
    {% if lectureSuperType %}
        {{ lectureSuperType.code|trans }}
    {% else %}
        {{ "Cinema Hall"|trans }}
    {% endif %}
{% endblock %}

{% block page_header_search %}
    <div class="search-category">

        <form id="lectures-filter" method="post">

            <span class="search-dates-label">Категория</span>
            <div class="search-category-selects">
                <select id="lecture_genre" name="lecture_genre" class="uni">
                    <option value="0">{{ "All"|trans }}</option>
                    {% set selectedCategoryFound = false %}
                    {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if genre.id in selectedGenreIds %} selected="selected" {% endif %} >
                            {{ genre.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            {% if genre1 is not empty %}
                <input type="hidden" id="genre1_id" name="genre1_id" value="{{ genre1.id }}" />
            {% endif %}

            {#<button id="lectures-filter-submit" type="submit" class="button search-dates-button">{{ "search_show"|trans }}</button>#}
        </form>

    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}

{% block search_query %}{{ searchQuery }}{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
            <li><a href="{{ path('armd_lecture_cinema_index', {'genreSlug': 'feature-film'}) }}">{{ 'menu.cinema'|trans }}</a></li>
            {% if genre1 is not empty %}
                <li><span>{{ genre1.title }}</span></li>
            {% endif %}
        {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
            <li><span>{{ 'menu.lectures'|trans }}</span></li>
        {% endif %}
    </ul>

    <section id="sort-panel" class="clearfix" {% if tag is not empty %}style="display:none"{% endif %}>
        <div  class="sort-filter" id="sort-filter">
            <ul>
                {#<li class="active"><a href="#" data-sort-by="date">по дате</a></li>#}
                <li class="active"><a href="#" data-sort-by="popularity">по популярности</a></li>
                <li><a href="#" data-sort-by="title">по алфавиту</a></li>
            </ul>
        </div>
        <div id="alphabet-filter">
            <ul>
                <li class="all-let active"><a href="#">Все</a></li>
                {% for l in alphabet %}
                    <li><a href="#" data-letter="{{ l }}">{{ l }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    

    {% if tag is not empty %}
        <section id="tag-filter-panel">
            Показаны результаты по тегу <strong>{{ tag.name }}</strong>
        </section>
    {% endif %}

    <div id="lecture-container" class="plitka">
        {% render url('armd_lecture_list', {
                'lectureSuperTypeCode': lectureSuperType.code,
                'limit': 32,
                'search_query': searchQuery,
                'genre_ids': selectedGenreIds,
                'tag_id': (tag is empty ? 0 : tag.id),
                'genre1_id': (genre1 is empty ? 0 : genre1.id)
            })
        %}
    </div>
    <div id="lecture-more-container" class="more more2">
        <p><a id="lecture-more-button" href="#">{{ "show_more"|trans }}</a></p>
    </div>

{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}

    {% render url('armd_news_memorial_events') %}
    {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}
    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lectures.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            armdMkLectures.init('{{ lectureSuperType.code }}');
        });
    </script>
{% endblock %}
