{% extends ':Frontend:new_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/new/jquery.ui.selectmenu.css') }}" />

    <style type="text/css">
        /* */
    </style>
{% endblock %}

{% block title %}{{ "Lectures"|trans }}{% endblock %}

{% block body %}
    <div class="b-post fullWidth overflowVisible positionRelative">
        <h1 class="hub-header-title">
            {{ 'Lectures'|trans }}
        </h1>

        <div class="marginBottom110"></div>

        <div class="search-category lectures-filter-section top100">
            <div class="search-category displayInlineBlock">
                {{ 'Category'|trans }}:
                <select name="genres" id="genres" class="uni">
                    <option value="0">{{ "All"|trans }}</option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if genre.id in selectedGenreId %} selected="selected" {% endif %} >
                            {{ genre.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="lectures-list-placeholder"></div>

        <div id="lectures-showMore" title="{{ 'ShowMore'|trans }}"></div>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/new/jquery.ui.selectmenu.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var lectures_placeholder = $('#lectures-list-placeholder'),
                lectures_filter_genre = $('#genres'),

                lectures_appendCallback = function(html){
                    if (html.trim() !== '') {
                        lectures_placeholder.append(html);
                    }
                },
                lectures_replaceCallback = function(html){
                    if (html.trim() !== '') {
                        lectures_placeholder.html(html);
                    }
                    else {
                        lectures_placeholder.html('{{ 'SearchCategory.NotFound'|trans }}');
                    }
                },

                loadLectures = function(callback, cleanup){
                    var loadedItems = lectures_placeholder.find('.lectures-list-item'),
                        loadedIds = [],

                        selectedGenre = lectures_filter_genre.val(),

                        ajaxUrl = Routing.generate('armd_lectures_list'),
                        ajaxData = { selectedGenre: selectedGenre };

                    if (!cleanup) {
                        $.each(loadedItems, function(){
                            loadedIds.push($(this).attr('data-id'));
                        });
                    }

                    ajaxData.loadedIds = loadedIds;

                    $.post(ajaxUrl, ajaxData, function(html){
                        callback(html);
                    });
                };

            loadLectures(lectures_replaceCallback, false);

            /* Activate jQuery widgets for Performances filter selects. */
            $('select.uni').each(function(){
                $(this).selectmenu({
                    select: function(){
                        loadLectures(lectures_replaceCallback, true);
                    }
                });
            });

            /* Load more button action */
            $('#lectures-showMore').on('click', function(){
                loadLectures(lectures_appendCallback, false);
            });
        });
    </script>
{% endblock %}