{% extends '::base.html.twig' %}
{% import _self as self %}

{% block body %}
<div class="filter">
    <div class="title dark-blue-title">
        <h2>{{ 'Filtering'|trans }}</h2>
    </div>
    <form action="" class="simple-filter-form video-filter">

         {# this block is hidden because problems with ajax and nginx  #}
        <div class="simple-search" style="display:none">
            <label for="ss_input">{{ 'Find'|trans }}</label>
            <input type="text" class="ss-input" id="ss_input"/>
        </div>

        {# this block is hidden because there are only video lectures #}
        <div class="simple-filter-block lecture-type" style="display: none">
            <div class="simple-filter-header clearfix">
                <span>{{ 'Lecture types'|trans }}</span>
                <p class="check_all checked" ><span>{{ 'All'|trans }}</span></p>
            </div>
            <div class="simple-filter-options">
                {% for lectureType in lectureTypes %}
                    <label class="checked">
                        <input type="checkbox" checked="checked" data-lecture-type-id="{{ lectureType.id }}" />
                        <span>{{ lectureType.name }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>

        <div class="simple-filter-block video-theme">
            {% for lectureCategory in lectureCategories %}
                <div class="simple-filter-header clearfix">
                    <span>{{ lectureCategory.title }}</span>
                    {% if loop.first %}
                        <p class="check_all checked"><span>{{ 'All'|trans }}</span></p>
                    {% endif %}
                </div>
                <div class="simple-filter-options">
                {% for lectureTag in lectureCategory.__children %}
                    
                        <label class="checked">
                            <input type="checkbox" data-lecture-category-id="{{ lectureTag.id }}" checked="checked" />
                            <span>{{ lectureTag.title }}</span>
                        </label>
                    
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>

</div>

<div class="center-column" style="float:right; width:75%;">
    <div class="title dark-blue-title">
        <h2>
            {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                {{ 'Lectures'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                {{ 'Translations'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                {{ 'Cinema Hall'|trans }}
            {% endif %}
        </h2>
    </div>

    <div class="video-anons-new">
		<div class="van-text">
			<a href="{{ path('armd_lecture_view', {'id': lastLectures[0].id}) }}" class="va-name">{{ lastLectures[0].title }}</a>
			<p class="va-theme">
				{% for category in lastLectures[0].categories %}
					{{ category.title }}
					{% if not loop.last %},{% endif %}
				{% endfor %}
			</p>
            {% if lastLectures[0].lecturer is not empty %}
                <p class="vs-lector">{{ 'Lecturer'|trans }}: <span>{{ lastLectures[0].lecturer }}</span></p>
            {% endif %}
            <p class="van-description">
                {{ lastLectures[0].description|truncate(250) }}
            </p>

			
		</div> 
		<div class="van-image">
		<a href="{{ path('armd_lecture_view', {'id': lastLectures[0].id}) }}">
			<img src="{% path lastLectures[0].lectureVideo.imageMedia, 'reference' %}" alt="{{ lastLectures[0].title }}"/>
		</a>
		</div>
    </div>

    

</div>
<div class="clear"></div>
<div id="lecture-list-wrapper">
        <div id="lecture-list-loading" class="loading-block"></div>
        <div id="lecture-list-container">
            {% render 'ArmdLectureBundle:Default:lectureList' with {'lectureSuperTypeCode': lectureSuperType.code, 'page': page, 'types': 'all', 'categories': 'all'} %}
        </div>
    </div>

{#<div class="right-column">#}
    {#{% render 'ArmdLectureBundle:Default:rightColumn' %}#}
    {#&#123;&#35;&#123;&#35;</ul>&#35;&#125;    &#35;&#125;#}

    {#&#123;&#35;<ul class="right-list">&#35;&#125;#}
        {#&#123;&#35;{% for lecture in recommendedLectures %}&#35;&#125;#}
            {#&#123;&#35;<li>&#35;&#125;#}
                {#&#123;&#35;<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">&#35;&#125;#}
                    {#&#123;&#35;{% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}&#35;&#125;#}
                        {#&#123;&#35;<img src="{% path lecture.lectureVideo.imageMedia, 'small' %}" alt="{{ lecture.title }}"/>&#35;&#125;#}
                    {#&#123;&#35;{% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}&#35;&#125;#}
                        {#&#123;&#35;<img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_small.jpg') }}" alt="{{ lecture.title }}" />&#35;&#125;#}
                    {#&#123;&#35;{% elseif lecture.lectureType.code == 'LECTURE_TYPE_TEXT' %}&#35;&#125;#}
                        {#&#123;&#35;<img src="{{ asset('bundles/armdlecture/images/lecture_type_text_small.jpg') }}" alt="{{ lecture.title }}" />&#35;&#125;#}
                    {#&#123;&#35;{% endif %}&#35;&#125;#}
                {#&#123;&#35;</a>&#35;&#125;#}

                {#&#123;&#35;<div class="text-overflow">&#35;&#125;#}
                    {#&#123;&#35;<span class="rl-type">{{ lecture.lectureType.name }}</span>&#35;&#125;#}
                    {#&#123;&#35;<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="rl-name">&#35;&#125;#}
                        {#&#123;&#35;{{ lecture.title }}&#35;&#125;#}
                    {#&#123;&#35;</a>&#35;&#125;#}
                {#&#123;&#35;</div>&#35;&#125;#}
            {#&#123;&#35;</li>&#35;&#125;#}
        {#&#123;&#35;{% endfor %}&#35;&#125;#}
    {#&#123;&#35;</ul>&#35;&#125;#}

{#</div>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lecture.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            armdLecture.init(
                    {{ typeCategories|json_encode|raw }},
                    '{{ lectureSuperType.code }}'
            );
			
            armdLecture.initTileUi();
        });
    </script>
{% endblock %}


{% macro lecture_announce(lecture, format) %}
    <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
		
        {% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}
            <img src="{% path lecture.lectureVideo.imageMedia, 'reference' %}" alt="{{ lecture.title }}"/>
        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}
            <img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_' ~ format ~ '.jpg') }}" alt="{{ lecture.title }}" />
        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_TEXT' %}
            <img src="{{ asset('bundles/armdlecture/images/lecture_type_text_' ~ format ~ '.jpg') }}" alt="{{ lecture.title }}" />
        {% endif %}
    </a>

    {#<p class="va-type">{{ lecture.lectureType.name }}</p>#}

    <p class="va-theme">
        {% for category in lecture.categories %}
            {{ category.title }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="va-name">{{ lecture.title }}</a>

{% endmacro %}

