{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('common/css/sm.css') }}">
{% endblock %}
{% block body %}

<div class="left-column type-2 text">

					<div class="title blue-title">
						<h2>
                            {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                                Лекция
                            {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                                Трансляции
                            {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                                Кинозал
                            {% endif %}
                        </h2>
					</div>
					<div class="media-one-block video-one">

		<div id="videoplayer" style="background: none">
            {% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}
                {% if lectureVersion == 'trailer' and lecture.trailerVideo is not empty %}
                    {% set lectureVideo = lecture.trailerVideo %}
                {% else %}
                    {% set lectureVideo = lecture.lectureVideo %}
                {% endif %}
                {{ armd_tvigle_video_player(lectureVideo, '100%', 506)|raw }}

            {% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' or lecture.lectureType.code == 'LECTURE_TYPE_FILE' %}
                {% if lecture.lectureFile is not empty %}
                    <a href="{{ armd_media_original_url(lecture.lectureFile) }}">Скачать файл</a>
                {% endif %}
            {% endif %}
		</div>

		<div class="video-stats">
            {% if lecture.lecturer is not empty %}
			    <p class="vs-lector">Лектор: <span>{{ lecture.lecturer }}</span></p>
            {% endif %}
			<p class="vs-date">Дата: <span>{{ lecture.createdAt|date('d.m.Y') }}</span></p>
		</div>

        {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE'
            and lecture.trailerVideo is not empty
            and lecture.lectureVideo is not empty
        %}
            <div class="video-version-switch">
                {% if lectureVersion == 'full' %}
                    <a href="{{ path('armd_lecture_view', {'id': lecture.id, 'version': 'trailer'} ) }}">Смотреть трейлер</a>
                {% elseif lectureVersion == 'trailer' %}
                    <a href="{{ path('armd_lecture_view', {'id': lecture.id, 'version': 'full'} ) }}">Смотреть полную версию</a>
                {% endif %}
            </div>
        {% endif %}

        <h2>
            {{ lecture.title }}
        </h2>

        <div class="tags">
              {% for lectureCategory in lecture.categories %}
                <a {#href="#"#} style="text-decoration:none;">{{ lectureCategory.title }}</a>
               {% endfor %}
        </div>

		<div class="video-description">
            <p>
                {{ lecture.description }}
            </p>
		</div>
        

        
    {#
		<div class="share">
			<span>Поделиться ссылкой: </span>
			<img src="common/img/share.jpg" alt="" />
		</div>

		<div class="comments">
			<p class="header">Комментарии</p>
			<div class="comments-block">
				<div class="comment">
					Описание лекции вступление  Уже в апреле 1896 года, через 4 месяца после первых парижских кинематографических сеансов, в России появляются первые кинематографические аппараты.
				</div>
				<div class="comment-author">
					<p>Сергей <span class="comment-date">3 мес. назад</span></p>
				</div>
			</div>
			<div class="comments-block">
				<div class="comment">
					Описание лекции вступление  Уже в апреле 1896 года, через 4 месяца после первых парижских кинематографических сеансов, в России появляются первые кинематографические аппараты.
				</div>
				<div class="comment-author">
					<p>Сергей <span class="comment-date">3 мес. назад</span></p>
				</div>
			</div>
			<form action="" class="comments-form">
				<textarea name="" id="" cols="30" rows="10" placeholder="Оставить комментарий"></textarea>
				<input type="submit" value="Отправить" class="button" />
			</form>
		</div>
		#}
	</div>
</div>


{#
<div class="media-side-list" style="display: none">
	<ul>
		<li class="media-list-one">
			<a href="#" class="media-list-image">
				<img src="common/img/photo/video-side.jpg" alt="" />
				<span class="type_video"></span>
			</a>
			<div class="media-list-description">
				<p class="mld-header"><a href="#">Культура народов оссии</a></p>
				<p class="mld-date">
					Алексей Макиенко
				</p>
				<p>11.12.12</p>
			</div>
		</li>
		<li class="media-list-one">
			<a href="#" class="media-list-image">
				<img src="common/img/photo/video-side.jpg" alt="" />
				<span class="type_tv"></span>
			</a>
			<div class="media-list-description">
				<p class="mld-header"><a href="#">Культура народов оссии</a></p>
				<p class="mld-date">
					Алексей Макиенко
				</p>
				<p>11.12.12</p>
			</div>
		</li>
		<li class="media-list-one">
			<a href="#" class="media-list-image">
				<img src="common/img/photo/video-side.jpg" alt="" />
				<span class="type_text"></span>
			</a>
			<div class="media-list-description">
				<p class="mld-header"><a href="#">Культура народов оссии</a></p>
				<p class="mld-date">
					Алексей Макиенко
				</p>
				<p>11.12.12</p>
			</div>
		</li>
		<li class="media-list-one">
			<a href="#" class="media-list-image">
				<img src="common/img/photo/video-side.jpg" alt="" />
				<span class="type_audio"></span>
			</a>
			<div class="media-list-description">
				<p class="mld-header"><a href="#">Культура народов оссии</a></p>
				<p class="mld-date">
					Алексей Макиенко
				</p>
				<p>11.12.12</p>
			</div>
		</li>
		<li class="media-list-one">
			<a href="#" class="media-list-image">
				<img src="common/img/photo/video-side.jpg" alt="" />
				<span class="type_video"></span>
			</a>
			<div class="media-list-description">
				<p class="mld-header"><a href="#">Культура народов оссии</a></p>
				<p class="mld-date">
					Алексей Макиенко
				</p>
				<p>11.12.12</p>
			</div>
		</li>
	</ul>
</div>#}


<div class="right-column">

 {#% include 'ArmdNewsBundle:News:latest-news.html.twig' with {'news': linkedNews} only %#}

    {% render 'ArmdLectureBundle:Default:rightColumn' %}
</div>



{% endblock %}