{% if pagination|length > 0 %}
    {% for lecture in pagination %}
        <div class="plitka">
            <div class="plitka-one-wrap">
                <div class="plitka-one">
                    <a title="{{ lecture.title }}" href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
                        {% if lecture.lectureVideo.imageMedia is defined %}
                            {% set thumbnailMedia = lecture.lectureVideo.imageMedia %}
                        {% elseif lecture.mediaLectureVideo is not empty %}
                            {% set thumbnailMedia = lecture.mediaLectureVideo %}
                        {% else %}
                            {% set thumbnailMedia = null %}
                        {% endif %}

                        {% if thumbnailMedia is not null %}
                            <img class="plitka-image" alt="{{ lecture.title }}" src="{% path thumbnailMedia, 'tile' %}"/>
                        {% endif %}
                    </a>
                    <div class="plitka-text">
                        <span class="plitka-name">{{ lecture.title }}</span>
                        1969 / 81 мин. / <a href="#">Приключения</a><br />
                        Режиссер: Мотыль Владимир
                    </div>
                    <div class="plitka-footer">
                        <a href="#">Фильмы</a>
                    </div>
                </div>
                <span class="star-mark">7,5</span>
            </div>
        </div>
    {% endfor %}
{% else %}
    <strong>По Вашему запросу объектов не найдено</strong>
{% endif %}


{#--------------------------------------------------------------------------------------------------------------------#}
{% block old %}
<div class="lecture-tile-block">
    {% if pagination|length > 0 %}
        <ul class="lecture-tile-list clearfix">
            {#--- mosfilm ---#}
            {% if pagination[0].lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA'
                and (categories == 'all' or 36 in categories)

            %}
                {# категоория 36 - Кинофильмы, показываем мосфильм только там #}
                <li>
                    <div class="lecture-tile-list-one-wrap" style="">
                        <div class="lecture-tile-list-one">
                            <div  class="lecture-tile-list-image-container">
								<img src="/img/black-image.png" alt="" class="lecture-tile-list-image-frame" />
								<table>
									<tr>
										<td>
											<a href="http://cinema.mosfilm.ru/" target="_blank" class="">
                                                <img src="{{ asset('img/mosfilm.png') }}" alt="Мосфильм" class="lecture-tile-list-image" />
											</a>
										</td>
									</tr>
								</table>
							</div>

                            <div class="lecture-tile-list-text">
                                <a href="http://cinema.mosfilm.ru/" target="_blank" class="lecture-tile-list-header">
                                    Мосфильм
                                </a>
                                <p>
                                    Более 500 кинокартин доступны для свободного он-лайн просмотра в Кинотеатре Мосфильм
                                </p>
                            </div>
                        </div>

                    </div>
                </li>
            {% endif %}
            {#--- /mosfilm ---#}

            {% for lecture in pagination %}
                <li>
                    <div class="lecture-tile-list-one-wrap" style="">
                        <div class="lecture-tile-list-one">
                            <div  class="lecture-tile-list-image-container">
								<img src="/img/black-image.png" alt="" class="lecture-tile-list-image-frame" />
								<table>
									<tr>
										<td>
											<a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="">
												{% if lecture.lectureVideo.imageMedia is defined %}
                                                    {% set thumbnailMedia = lecture.lectureVideo.imageMedia %}
                                                {% elseif lecture.mediaLectureVideo is not empty %}
                                                    {% set thumbnailMedia = lecture.mediaLectureVideo %}
                                                {% else %}
                                                    {% set thumbnailMedia = null %}
    											{% endif %}

                                                {% if thumbnailMedia is not null %}
                                                    <img src="{% path thumbnailMedia, 'tile' %}" alt="{{ lecture.title }}" class="lecture-tile-list-image" />
                                                {% endif %}
											</a>
										</td>
									</tr>
								</table>
							</div>

                            <div class="lecture-tile-list-text">
                                <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="lecture-tile-list-header">
                                    {{ lecture.title }}
                                </a>
                            </div>
                        </div>

                    </div>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <strong>По Вашему запросу объектов не найдено</strong>
    {% endif %}
</div>
{% endblock old %}