<div class="video-list-block">
    {% if pagination|length %}

        {#<div class="video-list-sort">#}
            {#<p class="video-sort-header">Сортировать:</p>#}
            {#<ul id="video_sort">#}
                {#<li {% if sortBy == 'date' %} class="active" {% endif %}><span class="video-list-sort-by" data-sort-by="date">по дате добавления</span></li>#}
                {#<li {% if sortBy == 'comment' %} class="active" {% endif %}><span class="video-list-sort-by" data-sort-by="comment">самые обсуждаемые</span></li>#}
            {#</ul>#}
        {#</div>#}

        <ul class="video-list">
            {% for lecture in pagination %}
                <li>

                    <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
                        {% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}
                            {% if lecture.lectureVideo.imageMedia is defined %}
                                <img src="{% path lecture.lectureVideo.imageMedia, 'medium' %}" alt="{{ lecture.title }}" width="111"/>
                            {% endif %}
                        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' %}
                            <img src="{{ asset('bundles/armdlecture/images/lecture_type_audio_big.jpg') }}" alt="{{ lecture.title }}" width="111" />
                        {% elseif lecture.lectureType.code == 'LECTURE_TYPE_TEXT' %}
                            <img src="{{ asset('bundles/armdlecture/images/lecture_type_text_big.jpg') }}" alt="{{ lecture.title }}" width="111" />
                        {% endif %}
                    </a>

                    <div class="text-overflow">
                        <div class="video-list-header">
                            {#<span class="vl-type">{{ lecture.lectureType.name }}</span>#}
                            <span class="vl-theme">
                                {% for category in lecture.categories %}
                                    {{ category.title }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </span>
                        </div>

                        <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="va-name">
                            {{ lecture.title }}
                        </a>

                        {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                            <p class="va-author"><span>{{ 'Lecturer'|trans }}:</span>{{ lecture.lecturer }}</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <strong>{{ 'No objects'|trans }}</strong>
    {% endif %}

</div>

{{ pagination.render()|raw }}
