{% extends ':Frontend:layout_two_column.html.twig' %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block title %}
    {{ lecture.seoTitle|default(lecture.title) }} &mdash; {{ parent() }}
{% endblock %}

{% block meta_keywords %}
    {{ lecture.seoKeywords }}
{% endblock %}

{% block meta_description %}
    {{ lecture.seoDescription }}
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ lecture.title }}" />
    <meta property="og:description" content="{{ lecture.description|striptags }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    {#
    {% if lecture.primaryImage is not empty %}
        <meta property="og:image" content="{% path lecture.primaryImage, 'reference' %}" />
    {% elseif lecture.images|length > 0 %}
        <meta property="og:image" content="{% path lecture.images[0], 'imagesOfRussia' %}" />
    {% endif %}
    #}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('new_design/css/jquery.ui.selectgroup.css') }}">
    <style>
        #lectures-filter { display: inline; }
    </style>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function(){
            initSocialShare();

            // При выборе типа видосов, подгружаем список категорий
            $('.ui-selectgroup-list li a').live('click', function(){
                var combo = $(this).closest('.ui-selectgroup-list').attr('aria-labelledby');
                var superTypeId = $(this).data('value');

                if (combo == 'ui-form_supertype') {
                    // ajax-загрузка genre by supertype
                    var url = Routing.generate('armd_lecture_default_fetchgenresbysupertype', { superTypeId: superTypeId });
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        success: function(json){
                            // создаем комбобокс с жанрами
                            var optionsHtml = '<option>Все жанры</option>';
                            $(json).each(function(i, el){
                                optionsHtml += '<option value="'+ el.value +'">' + el.title + '</option>';
                            });
                            $('#form_genre').html(optionsHtml);
                            $('#form_genre option:first').attr('selected', 'selected');
                            $('#form_genre').selectgroup('refresh');
                        }
                    });
                }
                return false;
            });

        });
        function initSocialShare() {
            new Ya.share({
                element: 'yandex-share',
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                link: '{{ url('armd_lecture_view', { 'id': lecture.id }) }}',
                title: '{{ lecture.title }}'
                {#description: '{{ lecture.description|escape }}'#}
            });
        }
    </script>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_title %}
    {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
        {{ 'Lecture'|trans }}
    {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
        {{ 'Translations'|trans }}
    {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
        {{ "Cinema Hall"|trans }}
    {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_TOP100' %}
        {{ "Cinema Hall"|trans }}
    {% endif %}
{% endblock %}

{% block page_header_search %}
    <div class="search-category">
        <form id="lectures-filter" action="{{ path('armd_lecture_default_list') }}" method="get">
            <span class="search-dates-label">Выбрать</span>
            <div class="search-category-selects">
                <select id="form_supertype" name="supertype" class="" style="display:none;">
                    <option value="0">Категория</option>
                    {% for supertype in superTypeList %}
                        <option value="{{ supertype.id }}" {% if lecture.lectureSuperType.id==supertype.id %}selected="selected" {% endif %}>{{ supertype.name }}</option>
                    {% endfor %}
                </select>
                <select id="form_genre" name="genre" class="uni">
                    <option value="0">{{ "All"|trans }}</option>
                    {% for genre in genresList %}
                        <option value="{{ genre.value }}">{{ genre.title }}</option>
                    {% endfor %}
                </select>
                <input id="form_page" type="hidden" name="page" value="1"/>
            </div>
            <button id="lectures-filter-submit" type="submit" class="button search-dates-button">Показать</button>
        </form>
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <div class="left-column-content">
        <section class="video-one">
            <div class="video-one_container">
                {% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}

                    {% if lecture.lectureVideo is not empty %}
                        {% set lectureVideo = lecture.lectureVideo %}
                        {{ armd_tvigle_video_player(lectureVideo, '100%', 506)|raw }}
                    {% elseif lecture.mediaLectureVideo is not empty %}
                        {% set lectureVideo = lecture.mediaLectureVideo %}
                        {% media lectureVideo, 'reference' with { 'width': '100%', 'height': 506 } %}
                    {% elseif lecture.trailerVideo is not empty %}
                        {% set lectureVideo = lecture.trailerVideo %}
                        {{ armd_tvigle_video_player(lectureVideo, '100%', 506)|raw }}
                    {% elseif lecture.mediaTrailerVideo is not empty %}
                        {% set lectureVideo = lecture.mediaTrailerVideo %}
                        {% media lectureVideo, 'reference' with { 'width': '100%', 'height': 506 } %}
                    {% endif %}

                    {# отключено #}
                    {% if false %}
                        {% if lecture.trailerVideo is not empty or lecture.lectureVideo is not empty %}
                            {# tvigle video #}
                            {% if lectureVersion == 'trailer' and lecture.trailerVideo is not empty %}
                                {% set lectureVideo = lecture.trailerVideo %}
                            {% else %}
                                {% set lectureVideo = lecture.lectureVideo %}
                            {% endif %}
                            {{ armd_tvigle_video_player(lectureVideo, '100%', 506)|raw }}

                        {% elseif lecture.mediaTrailerVideo is not empty or lecture.mediaLectureVideo is not empty %}
                            {# media video #}
                            {% if lectureVersion == 'trailer' and lecture.mediaTrailerVideo is not empty %}
                                {% set lectureVideo = lecture.mediaTrailerVideo %}
                            {% else %}
                                {% set lectureVideo = lecture.mediaLectureVideo %}
                            {% endif %}
                            {% media lectureVideo, 'reference' with { 'width': '100%', 'height': 506 } %}

                        {% endif %}
                    {% endif %}
                    {# /отключено #}

                {% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' or lecture.lectureType.code == 'LECTURE_TYPE_FILE' %}
                    {% if lecture.lectureFile is not empty %}
                        <a href="{{ armd_media_original_url(lecture.lectureFile) }}">{{ 'Download file'|trans }}</a>
                    {% endif %}

                {% elseif lecture.lectureType.code == 'LECTURE_TYPE_URL' %}
                    {% if lecture.externalUrl is not empty %}
                        <a target="_blank" href="{{ lecture.externalUrl }}">
                            <img width="100%" src="{% path lecture.mediaLectureVideo, 'xbig' %}" alt="">
                        </a>
                    {% endif %}

                {% endif %}
            </div>
            <div class="video-one-description">

                {# Пока отключим рейтинг
                <div class="video-one-stars">
                    <span class="star star-active"></span>
                    <span class="star star-active"></span>
                    <span class="star star-active"></span>
                    <span class="star star-active"></span>
                    <span class="star"></span>
                    <div class="star-mark best-mark">
                        <span>4</span>
                    </div>
                </div>
                #}

                <h2 class="video-one-name">{{ lecture.title }}</h2>

                <span class="video-one-stats">
                    {% if lecture.productionYear %}{{ lecture.productionYear~' /' }}{% endif %}
                    {% if lecture.timeLength %}{{ lecture.timeLength~' мин. /' }}{% endif %}
                    {% for lectureCategory in lecture.categories %}
                        <a href="#">{{ lectureCategory.title }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </span>

                <div class="video-one-anons">
                    <div>{{ lecture.description|raw }}</div>
                </div>
            </div>
            {% if lectureRolesPersons|length > 0 %}
			<div class="video-one-crew clearfix">
					<div class="video-one-crew-block video-one-crew-block-first">
						<h3 class="crew-block-header">Создатели</h3>
						<dl class="crew-dl-list">
							{% for key in lectureRolesPersons|keys %}
								<dt>{{ key|capitalize }}:</dt>
								<dd>
									{% for person in lectureRolesPersons[key] %}
										<a href="#"><nobr>{{ person.name }}</nobr></a>{% if not loop.last %},{% endif %}
									{% endfor %}
								</dd>
							{% endfor %}
						</dl>
					</div>
				
                {#
                <div class="video-one-crew-block">
                    <h3 class="crew-block-header">В ролях</h3>
                    <div class="crew-2column-list">
                        <ul class="crew-2column-list-one">
                            <li>Мишулин Спартак</li>
                            <li>Кавсадзе Кахи</li>
                            <li>Куркина Раиса</li>
                            <li>Годовиков Николай</li>
                        </ul>
                        <ul class="crew-2column-list-one">
                            <li>Федотова Галина</li>
                            <li>Дудаев Муса</li>
                            <li>Луспекаев Павел</li>
                            <li>Кузнецов Анатолий</li>
                        </ul>
                    </div>
                </div>
                #}
            </div>
			{% endif %}
        </section>

        <div class="back-link">
            <p><a href="{{ referer }}">Назад</a></p>
        </div>

        <div class="event-one_footer clearfix">
            <div href="#" class="publish-links"> <a href="#"></a> Опубликовать в социальных сетях: <span id="yandex-share"></span></div>
        </div>

        {#
        <section class="comments ">
            <div class="comments-header clearfix">
                <p class="add-comment">
                    <a href="#">Добавить комментарий</a>
                </p>
                <p class="comments-total">
                    <span>Комментарии:</span> <a href="#">15</a>
                </p>
            </div>
            <div class="comments-block">
                <ul class="comments-list">
                    <li>
                        <img src="/new_design/images/comment.jpg" alt="" class="comment-list_photo" />
                        <div class="comment-list_text">
                            <span class="comment-list_date">14 Ноября / 2012 г. / 12:06</span>
                            <a href="#" class="comment-list_name">Михаил Брашинский</a>
                            <div class="comment-list_comment">
                                <p>Из заграничного круиза старший экономист "Гипрорыбы" Семен Семеныч Горбунков (Никулин) возвращается в гипсе с ошибочно замурованными в нем драгоценностями.</p>
                            </div>
                            <div class="comment-list_footer">
                                <a href="#" class="comment-answer">Ответить</a>
                                <a href="#" class="comment-link">Ссылка</a>
                                <a href="#" class="comment-complain">Пожаловаться</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <img src="/new_design/images/comment.jpg" alt="" class="comment-list_photo" />
                        <div class="comment-list_text">
                            <span class="comment-list_date">14 Ноября / 2012 г. / 12:06</span>
                            <a href="#" class="comment-list_name">Михаил Брашинский</a>
                            <div class="comment-list_comment">
                                <p>Из заграничного круиза старший экономист "Гипрорыбы"<br /> Семен Семеныч Горбунков (Никулин) возвращается в гипсе с ошибочно</p>
                            </div>
                            <div class="comment-list_footer">
                                <a href="#" class="comment-answer">Ответить</a>
                                <a href="#" class="comment-link">Ссылка</a>
                                <a href="#" class="comment-complain">Пожаловаться</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <img src="/new_design/images/comment.jpg" alt="" class="comment-list_photo" />
                        <div class="comment-list_text">
                            <span class="comment-list_date">14 Ноября / 2012 г. / 12:06</span>
                            <a href="#" class="comment-list_name">Михаил Брашинский</a>
                            <div class="comment-list_comment">
                                <p>Из заграничного круиза старший экономист "Гипрорыбы" Семен Семеныч Горбунков (Никулин) возвращается в гипсе с ошибочно замурованными в нем драгоценностями.</p>
                            </div>
                            <div class="comment-list_footer">
                                <a href="#" class="comment-answer">Ответить</a>
                                <a href="#" class="comment-link">Ссылка</a>
                                <a href="#" class="comment-complain">Пожаловаться</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="all-link">
                <a href="#">Все комментарии</a>
            </div>
        </section>
        #}

        <div class="more-comments-show">
            <div class="comments comments-gray clearfix">
                {% set comment_thread_id = app.request.locale ~ '_lecture_' ~ lecture.id %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment_thread_id } %}

                {% if not is_granted('ROLE_USER') %}
                    <div class="comments-auth-block">
                        <p>{{ "comments_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
                        {% render 'ArmdSocialAuthBundle:Default:authLinks' with { 'redirectUrl': app.request.uri } %}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}
    {% render 'ArmdNewsBundle:News:memorialEvents' %}

    {% render 'ArmdAtlasBundle:Default:relatedObjects' with {'tags': lecture.tags, 'limit': 1} %}

    <div class="right-video-block">
        {% render 'ArmdLectureBundle:Default:relatedLectures' with {'tags': lecture.tags, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' } %}

        {% render 'ArmdLectureBundle:Default:relatedLectures' with {'tags': lecture.tags, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' } %}
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block body_old %}
    <div class="left-column type-2 text">

        <div class="title blue-title">
            <h2>
                {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                    {{ 'Lecture'|trans }}
                {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                    {{ 'Translations'|trans }}
                {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                    Кинозал
                {% endif %}
            </h2>
        </div>

        <div class="media-one-block video-one">
            <div id="videoplayer" style="background: none">
                {% if lecture.lectureType.code == 'LECTURE_TYPE_VIDEO' %}

                    {% if lecture.trailerVideo is not empty or lecture.lectureVideo is not empty %}
                        {# tvigle video #}
                        {% if lectureVersion == 'trailer' and lecture.trailerVideo is not empty %}
                            {% set lectureVideo = lecture.trailerVideo %}
                        {% else %}
                            {% set lectureVideo = lecture.lectureVideo %}
                        {% endif %}
                        {{ armd_tvigle_video_player(lectureVideo, '100%', 506)|raw }}

                    {% elseif lecture.mediaTrailerVideo is not empty or lecture.mediaLectureVideo is not empty %}
                        {# media video #}
                        {% if lectureVersion == 'trailer' and lecture.mediaTrailerVideo is not empty %}
                            {% set lectureVideo = lecture.mediaTrailerVideo %}
                        {% else %}
                            {% set lectureVideo = lecture.mediaLectureVideo %}
                        {% endif %}
                        {% media lectureVideo, 'noformat' with { 'width': '100%', 'height': 506 } %}

                    {% endif %}

                {% elseif lecture.lectureType.code == 'LECTURE_TYPE_AUDIO' or lecture.lectureType.code == 'LECTURE_TYPE_FILE' %}
                    {% if lecture.lectureFile is not empty %}
                        <a href="{{ armd_media_original_url(lecture.lectureFile) }}">{{ 'Download file'|trans }}</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="video-stats">
                {% if lecture.lecturer is not empty %}
                    <p class="vs-lector">{{ 'Lecturer'|trans }}: <span>{{ lecture.lecturer }}</span></p>
                {% endif %}
                <p class="vs-date">{{ 'Date'|trans }}: <span>{{ lecture.createdAt|date('d.m.Y') }}</span></p>
            </div>
            {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE'
                and
                (lecture.trailerVideo is not empty
                and lecture.lectureVideo is not empty
                or
                lecture.mediaTrailerVideo is not empty
                and lecture.mediaLectureVideo is not empty)
            %}
            <div class="video-version-switch">
                {% if lectureVersion == 'full' %}
                    <a href="{{ path('armd_lecture_view', {'id': lecture.id, 'version': 'trailer'} ) }}">{{ 'Watch trailer'|trans }}</a>
                {% elseif lectureVersion == 'trailer' %}
                    <a href="{{ path('armd_lecture_view', {'id': lecture.id, 'version': 'full'} ) }}">{{ 'Watch full version'|trans }}</a>
                {% endif %}
            </div>
            {% endif %}

            <div class="video-description">
                <h2>{{ lecture.title }}</h2>
                <div class="tags">
                      {% for lectureCategory in lecture.categories %}
                        <a {#href="#"#} style="text-decoration:none;">{{ lectureCategory.title }}</a>
                       {% endfor %}
                </div>

                <div>{{ lecture.description|raw }}</div>

                <div>
                    <h2>Roles:</h2>
                    {% for key in lectureRolesPersons|keys %}
                        <div>
                            <span>{{ key }}:</span>
                            {% for person in lectureRolesPersons[key] %}
                                <a href="#">{{ person.name }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>

    <div class="right-column">
        {#% include 'ArmdNewsBundle:News:latest-news.html.twig' with {'news': linkedNews} only %#}
        {% render 'ArmdLectureBundle:Default:rightColumn' %}
    </div>
{% endblock %}

