{% extends ':Frontend:layout_two_column.html.twig' %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block title %}
    {{ lecture.seoTitle|default(lecture.title) }} &mdash; {{ parent() }}
{% endblock %}

{% block meta_keywords %}
    {{ lecture.seoKeywords }}
{% endblock %}

{% block meta_description %}
    {{ lecture.seoDescription }}
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ lecture.title }}" />
    <meta property="og:description" content="{{ lecture.description|striptags }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    {#
    {% if lecture.primaryImage is not empty %}
        <meta property="og:image" content="{% path lecture.primaryImage, 'reference' %}" />
    {% elseif lecture.images|length > 0 %}
        <meta property="og:image" content="{% path lecture.images[0], 'imagesOfRussia' %}" />
    {% endif %}
    #}
{% endblock %}


{% block page_header_title %}
    {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
        {{ 'Lecture'|trans }}
    {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
        {{ "Cinema Hall"|trans }}
    {% endif %}
{% endblock %}

{% block page_header_search %}
    {% set lecturesFilterPath = 'armd_lecture_default_index' %}
    {% if lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
        {% set lecturesFilterPath = path('armd_lecture_lecture_index') %}
    {% elseif lecture.lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
        {% if genre1 is not empty %}
            {% set lecturesFilterPath = path('armd_lecture_cinema_index', {'genreSlug': genre1.slug}) %}
        {% else %}
            {% set lecturesFilterPath = path('armd_lecture_cinema_index') %}
        {% endif %}
    {% endif %}
    <div class="search-category">
        <form id="lectures-filter" action="{{ lecturesFilterPath }}" method="get">
            <span class="search-dates-label">Категория</span>
            <div class="search-category-selects">
                <select id="lecture_genre" name="genre_id" class="uni">
                    <option value="0"> {{ "All"|trans }} </option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}"> {{ genre.title }} </option>
                    {% endfor %}
                </select>
            </div>

            {#<button id="lectures-filter-submit" type="submit" class="button search-dates-button">{{ "search_show"|trans }}</button>#}
        </form>
    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <ul class="breadcrumbs" style="margin-bottom:20px;">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
            {% if genre1 is not empty %}
                <li><a href="{{ path('armd_lecture_cinema_index', {'genreSlug': genre1.slug}) }}">{{ genre1.title }}</a></li>
            {% else %}
                <li><a href="{{ path('armd_lecture_cinema_index')}}">{{ 'menu.cinema'|trans }}</a></li>
            {% endif %}
        {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
            <li><a href="{{ path('armd_lecture_lecture_index') }}">{{ 'menu.lectures'|trans }}</a></li>
        {% endif %}
        <li><span>{{ lecture.title }}</span></li>
    </ul>

    <div class="left-column-content">
        <section class="video-one">
            <div id="video-container" class="video-one_container"></div>
            <ul id="video-series-{{ lecture.id }}" class="video-series"{% if not lecture.series or not lecture.series.galleryHasMedias|length %} style="display: none;"{% endif %}>
                {% if lecture.mediaTrailerVideo is not empty or lecture.mediaLectureVideo is not empty %}
                    {% if lectureVersion == 'trailer' and lecture.mediaTrailerVideo is not empty %}
                        {% set lectureVideo = lecture.mediaTrailerVideo %}
                    {% else %}
                        {% set lectureVideo = lecture.mediaLectureVideo %}
                    {% endif %}
                    
                    <li class="active">
                        <a href="#video-media">{% thumbnail lectureVideo, 'lectureW160H120' %}</a>
                        <div id="video-media" style="display: none;">
                            {% if lectureVideo.providerName == 'sonata.media.provider.image' and lecture.externalUrl %}
                            <a href="{{ lecture.externalUrl }}" target="_blank">
                                {% media lectureVideo, 'reference' with { 'width': '100%', 'height': 506 } %}
                            </a>
                            {% else %}
                                {% media lectureVideo, 'reference' with { 'width': '100%', 'height': 506 } %}
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% if lecture.series and lecture.series.galleryHasMedias|length %}
                    {% for ser in lecture.series.galleryHasMedias %}
                    <li>
                        <a href="#video-ser-{{ ser.id }}">{% thumbnail ser.media, 'lectureW160H120' %}</a>
                        <div id="video-ser-{{ ser.id }}" style="display: none;">
                            {% if ser.media.providerName == 'sonata.media.provider.image' and ser.media.copyright %}
                            <a href="{{ ser.media.copyright }}" target="_blank">
                                {% media ser.media, 'reference' with { 'width': '100%', 'height': 506 } %}
                            </a>
                            {% else %}
                                {% media ser.media, 'reference' with { 'width': '100%', 'height': 506 } %}
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>

            <div class="video-one-description">

                {# Пока отключим рейтинг
                <div class="video-one-stars">
                    <span class="star star-active"></span>
                    <span class="star star-active"></span>
                    <span class="star star-active"></span>
                    <span class="star star-active"></span>
                    <span class="star"></span>
                    <div class="star-mark best-mark">
                        <span>4</span>
                    </div>
                </div>
                #}

                <h2 class="video-one-name">{{ lecture.title }}</h2>

                <span class="video-one-stats">
                    <span>Категории:</span>
                        {% if lecture.productionYear %}{{ lecture.productionYear~' /' }}{% endif %}
                        {% if lecture.timeLength %}{{ lecture.timeLength~' мин. /' }}{% endif %}
                        {% for genre in lecture.genres %}
                            <a href="#" class="genre-link" data-genre-id="{{ genre.id }}">{{ genre.title }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                </span>

                {% set tags = [] %}
                {% for tag in lecture.tags if not tag.isTechnical %}
                    {% set tags = tags|merge([tag]) %}
                {% endfor %}

                {% if tags|length > 0 %}
                    <span class="video-one-stats">
                        <span>Теги:</span>
                        {% for tag in tags %}
                            <a href="{{ path('armd_lecture_default_index', {
                                    'lectureSuperTypeCode': lecture.lectureSuperType.code,
                                    'tag_id': tag.id }) }}"
                                >{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </span>
                {% endif %}

                <span class="video-one-stats">
                    Просмотров: {{ lecture.viewCount }}
                </span>

                <div class="video-one-anons">
                    <div>{{ lecture.description|raw }}</div>
                </div>
            </div>
            {% if lectureRolesPersons|length > 0 %}
			<div class="video-one-crew clearfix">
					<div class="video-one-crew-block video-one-crew-block-first">
						<h3 class="crew-block-header">Создатели</h3>
						<dl class="crew-dl-list">
							{% for key in lectureRolesPersons|keys %}
								<dt>{{ key|capitalize }}:</dt>
								<dd>
									{% for person in lectureRolesPersons[key] %}
										<a href="#"><nobr>{{ person.name }}</nobr></a>{% if not loop.last %},{% endif %}
									{% endfor %}
								</dd>
							{% endfor %}
						</dl>
					</div>
				
                {#
                <div class="video-one-crew-block">
                    <h3 class="crew-block-header">В ролях</h3>
                    <div class="crew-2column-list">
                        <ul class="crew-2column-list-one">
                            <li>Мишулин Спартак</li>
                            <li>Кавсадзе Кахи</li>
                            <li>Куркина Раиса</li>
                            <li>Годовиков Николай</li>
                        </ul>
                        <ul class="crew-2column-list-one">
                            <li>Федотова Галина</li>
                            <li>Дудаев Муса</li>
                            <li>Луспекаев Павел</li>
                            <li>Кузнецов Анатолий</li>
                        </ul>
                    </div>
                </div>
                #}
            </div>
			{% endif %}
        </section>

        {% if lecture.stuff.count %}
            <div class="video-one-description">
                <div>
                    <strong>{{"Stuff"|trans}}</strong>
                </div>
                {% for stuff in lecture.stuff %}
                    <div>
                        <img src="/img/file_icons/32px/{{ stuff.extension }}.png" width="16" height="16" class="file-icon" />

                        <a href="{{ path('sonata_media_download', {'id': stuff.id}) }}">{{ stuff.name }}</a>

                        {% if stuff.extension == "mpga" %}
                            —

                            <span id="jp_container_{{ stuff.id }}" class="jp-audio">
                                <span class="jp-type-single">
                                    <span class="jp-gui jp-interface">
                                        <span class="jp-current-time"></span>/<span class="jp-duration"></span>
                                        (
                                        <ul class="jp-controls">
                                            <li><a href="#" class="jp-play" tabindex="1">{{"play"|trans}}</a></li>
                                            <li><a href="#" class="jp-pause" tabindex="1">{{"pause"|trans}}</a></li>
                                            <li>| <a href="#" class="jp-stop" tabindex="1">{{"stop"|trans}}</a></li>
                                        </ul>
                                        )
                                    </span>
                                </span>
                            </span>

                            <div id="jquery_jplayer_{{ stuff.id }}" class="jp-player" data-media-url="{{ armd_media_original_url(stuff) }}"></div>
                        {% endif %}

                        {% if stuff.description %}
                            <p>{{ stuff.description }}</p>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="back-link">
            <p><a href="{{ referer }}">Назад</a></p>
        </div>

        <div class="event-one_footer clearfix">
            <div href="#" class="publish-links"> <a href="#"></a> Опубликовать в социальных сетях: <span id="yandex-share"></span></div>
        </div>

        {#
        <section class="comments ">
            <div class="comments-header clearfix">
                <p class="add-comment">
                    <a href="#">Добавить комментарий</a>
                </p>
                <p class="comments-total">
                    <span>Комментарии:</span> <a href="#">15</a>
                </p>
            </div>
            <div class="comments-block">
                <ul class="comments-list">
                    <li>
                        <img src="/new_design/images/comment.jpg" alt="" class="comment-list_photo" />
                        <div class="comment-list_text">
                            <span class="comment-list_date">14 Ноября / 2012 г. / 12:06</span>
                            <a href="#" class="comment-list_name">Михаил Брашинский</a>
                            <div class="comment-list_comment">
                                <p>Из заграничного круиза старший экономист "Гипрорыбы" Семен Семеныч Горбунков (Никулин) возвращается в гипсе с ошибочно замурованными в нем драгоценностями.</p>
                            </div>
                            <div class="comment-list_footer">
                                <a href="#" class="comment-answer">Ответить</a>
                                <a href="#" class="comment-link">Ссылка</a>
                                <a href="#" class="comment-complain">Пожаловаться</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <img src="/new_design/images/comment.jpg" alt="" class="comment-list_photo" />
                        <div class="comment-list_text">
                            <span class="comment-list_date">14 Ноября / 2012 г. / 12:06</span>
                            <a href="#" class="comment-list_name">Михаил Брашинский</a>
                            <div class="comment-list_comment">
                                <p>Из заграничного круиза старший экономист "Гипрорыбы"<br /> Семен Семеныч Горбунков (Никулин) возвращается в гипсе с ошибочно</p>
                            </div>
                            <div class="comment-list_footer">
                                <a href="#" class="comment-answer">Ответить</a>
                                <a href="#" class="comment-link">Ссылка</a>
                                <a href="#" class="comment-complain">Пожаловаться</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <img src="/new_design/images/comment.jpg" alt="" class="comment-list_photo" />
                        <div class="comment-list_text">
                            <span class="comment-list_date">14 Ноября / 2012 г. / 12:06</span>
                            <a href="#" class="comment-list_name">Михаил Брашинский</a>
                            <div class="comment-list_comment">
                                <p>Из заграничного круиза старший экономист "Гипрорыбы" Семен Семеныч Горбунков (Никулин) возвращается в гипсе с ошибочно замурованными в нем драгоценностями.</p>
                            </div>
                            <div class="comment-list_footer">
                                <a href="#" class="comment-answer">Ответить</a>
                                <a href="#" class="comment-link">Ссылка</a>
                                <a href="#" class="comment-complain">Пожаловаться</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="all-link">
                <a href="#">Все комментарии</a>
            </div>
        </section>
        #}


{#
        This is comments
        <div class="more-comments-show">
            <div class="comments comments-gray clearfix">
                {% set comment_thread_id = app.request.locale ~ '_lecture_' ~ lecture.id %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment_thread_id } %}

                {% if not is_granted('ROLE_USER') %}
                    <div class="comments-auth-block">
                        <p>{{ "comments_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
                        {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
                    </div>
                {% endif %}
            </div>
        </div>

#}
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}
    <div style="height:53px; font-size:0; line-height:0;"></div>
    {% render url('armd_news_memorial_events') %}

    {% render url('armd_atlas_related_objects', {'tags': lecture.tags|extract_array_values('getName'), 'limit': 1}) %}

    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': lecture.tags|extract_array_values('getName'), 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA', 'id': lecture.id }) %}
    </div>
    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': lecture.tags|extract_array_values('getName'), 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE', 'id': lecture.id }) %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".jp-player").each(function() {
                $(this).jPlayer({
                    ready: function(event) {
                        $(this).jPlayer("setMedia", {
                            mp3: $(this).attr('data-media-url')
                        });
                    },
                    play: function() { // To avoid both jPlayers playing together.
                        $(this).jPlayer("pauseOthers");
                    },
                    {# Возможно, тут лучше пронать через PHP путь как-то, но assets по смыслу кажется не тем инструментом. #}
                    swfPath: "/vendor/jquery.jplayer/",
                    cssSelectorAncestor: "#jp_container_" + $(this).attr('id').replace('jquery_jplayer_', ''),
                    supplied: "mp3"
                });
            });
        });
    </script>

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lecture.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            armdMkLecture.init('{{ lecture.lectureSuperType.code }}');
            initSocialShare();
        });

        function initSocialShare() {
            new Ya.share({
                element: 'yandex-share',
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                link: '{{ url('armd_lecture_view', { 'id': lecture.id }) }}',
                title: '{{ lecture.title }}'
                {#description: '{{ lecture.description|escape }}'#}
            });
        }
    </script>

    <script>
        $(function() {
            $("#video-series-{{ lecture.id }} li a").click(function() {
                var $target = $("#video-container"),
                    $source = $($(this).attr("href"));
                
                if ($source.length) {
                    $target.html($source.html());

                    $source.parent()
                        .addClass("active")
                        .siblings()
                            .removeClass("active");
                }

                return false;
            });

            $("#video-series-{{ lecture.id }} li a:first").click();
        });
    </script>
{% endblock %}
