<ul class="slides kinozal-other-list"><!--
    {% for lecture in lectures if lectures|length %}
        --><li class="plitka-one-wrap kol-one">
            <div class="kol-block">
                <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="kol-image-link">
                    {%  thumbnail lecture.verticalBanner, 'lectureW160H120' with {'alt': lecture.title, 'width':'auto', 'height': 151, 'class': 'kol-image' } %}

                    {#{{ lectureMacro.lectureThumbnail(lecture, 'lectureW160H120', {'alt': lecture.title, 'width':'auto', 'height': 151, 'class': 'kol-image' }) }}#}
                </a>
                <h3 class="kol-header"><span class="autoscrolling-wrap"><span class="autoscrollingHor">{{ lecture.title }}</span></span></h3>
                {#% if lecture.productionYear or lecture.timeLength %}
                        <p class="kfl-stats">
                            {% if lecture.productionYear %}{{ lecture.productionYear~' /' }}{% endif %}
                            {% if lecture.timeLength %}{{ lecture.timeLength~' мин. ' }}{% endif %}
                        </p>
                    {% endif % #}
                <p class="kol-stats">Мосфильм, 1979</p>
            </div>
        </li><!--
    {% endfor %}
    -->
</ul>
