{% extends ':Frontend:layout_two_column.html.twig' %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.ui.selectgroup.css') }}">
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/jquery.ui.selectgroup.js') }}"></script>
    <script src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script>
        $(function(){
            // При выборе типа видосов, подгружаем список категорий
            // НЕ РАБОТАЕТ!
            $('#form_supertype').on('change', function(){
                console.log('xxx', $(this).val());
            });

            $('.ui-selectgroup-list li a').live('click', function(){

                console.log( $(this).closest('.ui-selectgroup-list').attr('aria-labelledby') );
                console.log( $(this).data('value') );
            });

            // Ajax Form handler
            $('#lectures-filter').ajaxForm({
                success: function(responseText, statusText, xhr, $form) {
                    var jsonData = $.parseJSON(responseText);

                    if ($('#lectures-filter').data('mode') == 'append') {
                        $('#lecture-container').append( jsonData.html );
                    } else {
                        $('#lecture-container').html( jsonData.html );
                    }

                    var loadedCount = $('#lecture-container .plitka-one-wrap').length;

                    if (loadedCount >= jsonData.total) {
                        $('#lecture-more-container').hide();
                    } else {
                        $('#lecture-more-container').show();
                    }
                }
            });

            // Form submit
            $('#lectures-filter-submit').click(function(){
                $('#lectures-filter').data('mode', 'replace');
                $('#form_page').val(1);
                $('#lectures-filter').submit();
                return false;
            });

            // Кнопка "ПОКАЗАТЬ ЕЩЕ ФИЛЬМЫ"
            $('#lecture-more-button').click(function(){
                var nextPage = parseInt($('#form_page').val()) + 1;
                $('#form_page').val(nextPage);
                $('#lectures-filter').data('mode', 'append');
                $('#lectures-filter').submit();
                return false;
            });
        });
    </script>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header %}
    <h1>Кинозал</h1>
    <div class="search-panel">
        <div class="search-category">

            <form id="lectures-filter" action="{{ path('armd_lecture_default_list') }}" method="post" {{ form_enctype(form) }}>
                <span class="search-dates-label">Выбрать</span>
                <div class="search-category-selects">
                    {{ form_widget(form.supertype, { 'attr': {'class': 'uni'} }) }}
                    {{ form_widget(form.genre, { 'attr': {'class': 'uni'} }) }}
                    <div style="display: none;">
                        {{ form_widget(form.theme, { 'attr': {'class': 'uni'} }) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                <button id="lectures-filter-submit" type="submit" class="button search-dates-button">Показать</button>
            </form>

        </div>
        <div class="search-top clearfix">
            <form action="">
                <input type="text" name="search-txt" placeholder="Поиск по сайту" class="search-txt" id="search-txt" />
                <input type="submit" value="Поиск" class="button search-btn" />
            </form>
            <div class="search-checkboxes">
                <label><input type="checkbox" name="check1" id="check1" /><span>Искать в текущем разделе</span></label>
            </div>
        </div>
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <div class="left-column-content">

        {% if lectures|length > 0 %}
            <div id="lecture-container" class="plitka">
                {% include "ArmdLectureBundle:Default:plitka_one_wrap.html.twig" %}
            </div>
            <div id="lecture-more-container" class="more more2">
                <p><a id="lecture-more-button" href="{{ path('armd_lecture_default_list', { 'page':2 }) }}">Показать еще фильмы</a></p>
            </div>
        {% else %}
            <strong>По Вашему запросу объектов не найдено</strong>
        {% endif %}

        {# render 'ArmdLectureBundle:Default:lectureList' with {'lectureSuperTypeCode': lectureSuperType.code, 'page': page, 'types': 'all', 'categories': 'all'} #}
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}

    {% render 'ArmdNewsBundle:News:memorialEvents' %}

    {% render 'ArmdAtlasBundle:Default:relatedObjects' with {'tags': {}, 'limit': 1} %}

    <div class="right-video-block">
        {% render 'ArmdLectureBundle:Default:relatedLectures' with {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' } %}

        {% render 'ArmdLectureBundle:Default:relatedLectures' with {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' } %}
    </div>
    {##}
    {#<section class="block">#}
        {#<h2><span>Рекомендуем</span></h2>#}
        {#<div class="recommend-block">#}
            {#<img src="/new_design/images/recommend2.jpg" alt="" />#}
            {#<div class="recommend-over">#}
                {#<div class="recommend_name">#}
                    {#<p>Госфильмофонд<br />#}
                    {#России</p>#}
                {#</div>#}
                {#<p class="recommend-type"><a href="#">Образы России</a></p>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    {#<div class="right-video-block">#}
        {#<div class="flexslider">#}
            {#<ul class="slides">#}
                {#<li>#}
                    {#<article class="period-block">#}
                        {#<h2>Бриллиантовая рука (1968)</h2>#}
                        {#<a href="#" class="period-block_image">#}
                            {#<img src="/new_design/images/period_1.jpg" alt=""  />#}
                            {#<span class="play"></span>#}
                        {#</a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#Режиссер: Леонид Гайдай <br />#}
                                {#Жанр: Комедия / Режиссер: Леонид Гайдай#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Кинозал</a>#}
                            {#</div>#}
                        {#</footer>#}
                    {#</article>#}
                {#</li>#}
                {#<li>#}
                    {#<article class="period-block">#}
                        {#<h2>Бриллиантовая рука (1968)</h2>#}
                        {#<a href="#" class="period-block_image">#}
                            {#<img src="/new_design/images/period_1.jpg" alt=""  />#}
                            {#<span class="play"></span>#}
                        {#</a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#Режиссер: Леонид Гайдай <br />#}
                                {#Жанр: Комедия / Режиссер: Леонид Гайдай#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Кинозал</a>#}
                            {#</div>#}
                        {#</footer>#}

                    {#</article>#}
                {#</li>#}
                {#<li>#}
                    {#<article class="period-block">#}
                        {#<h2>Бриллиантовая рука (1968)</h2>#}
                        {#<a href="#" class="period-block_image">#}
                            {#<img src="/new_design/images/period_1.jpg" alt=""  />#}
                            {#<span class="play"></span>#}
                        {#</a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#Режиссер: Леонид Гайдай <br />#}
                                {#Жанр: Комедия / Режиссер: Леонид Гайдай#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Кинозал</a>#}
                            {#</div>#}
                        {#</footer>#}

                    {#</article>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
        {#<div class="flexslider">#}
            {#<ul class="slides">#}
                {#<li>#}
                    {#<article class="period-block">#}
                        {#<h2>«Русский XIX век» 1-я лекция</h2>#}
                        {#<a href="#" class="period-block_image">#}
                            {#<img src="/new_design/images/period_4.jpg" alt=""  />#}
                            {#<span class="play"></span>#}
                        {#</a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#Лектор: Юрий Пивоваров#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Лекции</a>#}
                            {#</div>#}
                        {#</footer>#}

                    {#</article>#}
                {#</li>#}
                {#<li>#}
                    {#<article class="period-block">#}
                        {#<h2>«Русский XIX век» 1-я лекция</h2>#}
                        {#<a href="#" class="period-block_image">#}
                            {#<img src="/new_design/images/period_4.jpg" alt=""  />#}
                            {#<span class="play"></span>#}
                        {#</a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#Лектор: Юрий Пивоваров#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Лекции</a>#}
                            {#</div>#}
                        {#</footer>#}

                    {#</article>#}
                {#</li>#}
                {#<li>#}
                    {#<article class="period-block">#}
                        {#<h2>«Русский XIX век» 1-я лекцияh2>#}
                        {#<a href="#" class="period-block_image">#}
                            {#<img src="/new_design/images/period_4.jpg" alt=""  />#}
                            {#<span class="play"></span>#}
                        {#</a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#Лектор: Юрий Пивоваров#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Лекции</a>#}
                            {#</div>#}
                        {#</footer>#}

                    {#</article>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}
    {#<section class="block">#}
        {#<div class="flexslider">#}
            {#<ul class="slides">#}
                {#<li>#}
                    {#<article class="period-block period-event-block ">#}
                        {#<h2>События</h2>#}
                        {#<a href="#"><img src="/new_design/images/period_3.jpg" alt="" class="period-block_image" /></a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#<b>79 детей Юрия Башмета</b>#}
                                {#Зимний театр с трудом вместил всех желающих. 79 детей из 28 городов России совершили невозможное.#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Репортажи</a>#}
                            {#</div>#}
                        {#</footer>#}
                    {#</article>#}
                {#</li>#}
                {#<li>#}
                    {#<article class="period-block period-event-block ">#}
                        {#<h2>События</h2>#}
                        {#<a href="#"><img src="/new_design/images/period_3.jpg" alt="" class="period-block_image" /></a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#<b>79 детей Юрия Башмета</b>#}
                                {#Зимний театр с трудом вместил всех желающих. 79 детей из 28 городов России совершили невозможное.#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Репортажи</a>#}
                            {#</div>#}
                        {#</footer>#}
                    {#</article>#}
                {#</li>#}
                {#<li>#}
                    {#<article class="period-block period-event-block ">#}
                        {#<h2>События</h2>#}
                        {#<a href="#"><img src="/new_design/images/period_3.jpg" alt="" class="period-block_image" /></a>#}
                        {#<div class="period-block_text">#}
                            {#<p>#}
                                {#<b>79 детей Юрия Башмета</b>#}
                                {#Зимний театр с трудом вместил всех желающих. 79 детей из 28 городов России совершили невозможное.#}
                            {#</p>#}
                        {#</div>#}
                        {#<footer class="period-block_footer">#}
                            {#<div class="tags">#}
                                {#<a href="#">Репортажи</a>#}
                            {#</div>#}
                        {#</footer>#}
                    {#</article>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
    {#</section>#}
{% endblock %}



{#--------------------------------------------------------------------------------------------------------------------#}
{#-- OLD -------------------------------------------------------------------------------------------------------------#}
{#--------------------------------------------------------------------------------------------------------------------#}
{% block body2 %}
    <div class="blocksection index-blocksection w clearfix lecture-index-tile" id="f-section">
        <div class="title-block">
            {% if lectureSuperType.code == 'LECTURE_SUPER_TYPE_LECTURE' %}
                {{ 'Lectures'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_VIDEO_TRANSLATION' %}
                {{ 'Translations'|trans }}
            {% elseif lectureSuperType.code == 'LECTURE_SUPER_TYPE_CINEMA' %}
                {{ 'Cinema Hall'|trans }}
            {% endif %}
        </div>

        {# filter #}
        <div class="horizontal-filter">
            <form action="" class="simple-filter-form video-filter">
                 {# this block is hidden because problems with ajax and nginx  #}
                <div class="simple-search" style="display:none">
                    <label for="ss_input">{{ 'Find'|trans }}</label>
                    <input type="text" class="ss-input" id="ss_input"/>
                </div>

                {# this block is hidden because there are only video lectures #}
                <div class="simple-filter-block lecture-type" style="display: none">
                    <div class="simple-filter-header clearfix">
                        <span>{{ 'Lecture types'|trans }}</span>
                        <p class="check_all checked" ><span>{{ 'All'|trans }}</span></p>
                    </div>
                    <div class="simple-filter-options">
                        {% for lectureType in lectureTypes %}
                            <label class="checked">
                                <input type="checkbox" checked="checked" data-lecture-type-id="{{ lectureType.id }}" />
                                <span>{{ lectureType.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="simple-filter-block video-theme">
                    {% for lectureCategory in lectureCategories %}
                        <div class="simple-filter-header clearfix">
                            <span>{{ lectureCategory.title }}</span>
                            {% if loop.first %}
                                <p class="check_all checked"><span>{{ 'All'|trans }}</span></p>
                            {% endif %}
                        </div>
                        <div class="simple-filter-options">
                        {% for lectureTag in lectureCategory.__children %}

                                <label class="checked">
                                    <input type="checkbox" data-lecture-category-id="{{ lectureTag.id }}" checked="checked" />
                                    <span>{{ lectureTag.title }}</span>
                                </label>

                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        {# /filter #}



        {#<form action="" class="obr-form">#}
            {#<div class="obr-text-input">#}
                {#<input type="text" name="search" id="search_text" value="{{ 'Navigation.Images of Russia.Title'|trans }}"/>#}
            {#</div>#}
            {#<input type="button" class="obr-submit-input" value=""/>#}
        {#</form>#}
        <div id="lecture-list-wrapper">
            <div id="lecture-list-loading" class="loading-block"></div>
            <div id="lecture-list-container">
               {% render 'ArmdLectureBundle:Default:lectureList' with {'lectureSuperTypeCode': lectureSuperType.code, 'page': page, 'types': 'all', 'categories': 'all'} %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts2222 %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lecture.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            armdLecture.init(
                    {{ typeCategories|json_encode|raw }},
                    '{{ lectureSuperType.code }}'
            );
            armdLecture.initTileUi();
        });
    </script>
{% endblock %}