{% extends ':Frontend:layout_two_column.html.twig' %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script>
        $(function(){
            // При выборе типа видосов, подгружаем список категорий
            $('.ui-selectgroup-list li a').live('click', function(){
                var combo = $(this).closest('.ui-selectgroup-list').attr('aria-labelledby');
                var superTypeId = $(this).data('value');

                if (combo == 'ui-form_supertype') {
                    // ajax-загрузка genre by supertype
                    var url = Routing.generate('armd_lecture_default_fetchgenresbysupertype', { superTypeId: superTypeId });
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        success: function(json){
                            // создаем комбобокс с жанрами
                            var optionsHtml = '<option>Все жанры</option>';
                            $(json).each(function(i, el){
                                optionsHtml += '<option value="'+ el.value +'">' + el.title + '</option>';
                            });
                            $('#form_genre').html(optionsHtml);
                            $('#form_genre option:first').attr('selected', 'selected');
                            $('#form_genre').selectgroup('refresh');
                        }
                    });
                }
                return false;
            });

            // Ajax Form handler
            $('#lectures-filter').bind('submit', function(event) {
                event.preventDefault();
                armdMk.startLoading();
                $('#lectures-filter').ajaxSubmit({
                    dataType: 'json',
                    success: function(jsonData, statusText, xhr, $form) {

                        if ($('#lectures-filter').data('mode') == 'append') {
                            $('#lecture-container').append( jsonData.html );
                        } else {
                            $('#lecture-container').html( jsonData.html );
                        }

                        var loadedCount = $('#lecture-container .plitka-one-wrap').length;

                        if (loadedCount >= jsonData.total) {
                            $('#lecture-more-container').hide();
                        } else {
                            $('#lecture-more-container').show();
                        }
                    },
                    complete: function() {
                        armdMk.stopLoading();
                    }
                });
            });

            // Form submit
            $('#lectures-filter-submit').click(function(){
                $('#lectures-filter').data('mode', 'replace');
                $('#form_page').val(1);
                $('#lectures-filter').submit();
                return false;
            });

            // Кнопка "ПОКАЗАТЬ ЕЩЕ ФИЛЬМЫ"
            $('#lecture-more-button').click(function(){
                var nextPage = parseInt($('#form_page').val()) + 1;
                $('#form_page').val(nextPage);
                $('#lectures-filter').data('mode', 'append');
                $('#lectures-filter').submit();
                return false;
            });
        });
    </script>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block page_header_title %}
    {% if superType %}
        {{ superType.code|trans }}
    {% else %}
        {{ "Cinema Hall"|trans }}
    {% endif %}
{% endblock %}

{% block page_header_search %}
    <div class="search-category">

        <form id="lectures-filter" action="{{ path('armd_lecture_default_list') }}" method="post">
            <span class="search-dates-label">{{ "search_select"|trans }}</span>
            <div class="search-category-selects">
                <select id="form_supertype" name="supertype" class="" style="display:none;">
                    <option value="0">{{ "search_category"|trans }}</option>
                    {% for supertype in superTypeList %}
                        <option value="{{ supertype.id }}" {% if supertype.id == superTypeId %}selected="selected"{% endif %}>{{ supertype.name }}</option>
                    {% endfor %}
                </select>
                <select id="form_genre" name="genre" class="uni">
                    <option value="0">{{ "All"|trans }}</option>
                    {% for genre in genresList %}
                        <option value="{{ genre.value }}" {% if genre.value == genreId %}selected="selected"{% endif %}>{{ genre.title }}</option>
                    {% endfor %}
                </select>
                <input id="form_page" type="hidden" name="page" value="1"/>
            </div>
            <button id="lectures-filter-submit" type="submit" class="button search-dates-button">{{ "search_show"|trans }}</button>
        </form>

    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    {% if lectures|length > 0 %}
        <div id="lecture-container" class="plitka">
            {% include "ArmdLectureBundle:Default:plitka_one_wrap.html.twig" %}
        </div>
        <div id="lecture-more-container" class="more more2" {% if lecturesTotal < 16 %}style="display:none;"{% endif %}>
            <p><a id="lecture-more-button" href="{{ path('armd_lecture_default_list', { 'page':2 }) }}">{{ "show_more"|trans }}</a></p>
        </div>
    {% else %}
        <strong>{{ "search_not_found"|trans }}</strong>
    {% endif %}

    {# render 'ArmdLectureBundle:Default:lectureList' with {'lectureSuperTypeCode': lectureSuperType.code, 'page': page, 'types': 'all', 'categories': 'all'} #}
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}

    {% render url('armd_news_memorial_events') %}

    {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}

    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}

        {% render url('ArmdLectureBundle:Default:relatedLectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
    </div>

{% endblock %}
