{% import 'ArmdLectureBundle::lecture_macro.html.twig' as lectureMacro %}
<div class="plitka perfomances-list video-plitka">
    {% for lecture in lectures if lectures|length %}
        <div class="plitka-one-wrap">
            <div class="plitka-one">
                <a class="plitka-one-image-wrapper" title="{{ lecture.title }}" href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
                    <div class="plitka-one-image">
                        {% if lecture.isTop100Film %}
                            <div class="cinema-top100-icon"></div>
                        {% endif %}
                        {{ lectureMacro.lectureThumbnail(lecture, 'lectureW160H120', {'alt': lecture.title, 'height': 'auto'}) }}
                        {#{% thumbnail thumbnailMedia, 'lectureW160H120' with { 'alt': lecture.title, 'height': 'auto' } %}#}
                    </div>
                </a>
                <div class="plitka-text">
                    <span class="plitka-name">
                        <a title="{{ lecture.title }}" href="{{ path('armd_lecture_view', {'id': lecture.id}) }}">
                            {{ lecture.title|truncate(50) }}
                        </a>
                    </span>
                    {% if lecture.productionYear or lecture.timeLength %}
                        <span  class="two-row-link">
                            {% if lecture.productionYear %}{{ lecture.productionYear~' /' }}{% endif %}
                            {% if lecture.timeLength %}{{ lecture.timeLength~' мин. ' }}{% endif %}
                        </span>
                    {% endif %}

                </div>
                <div class="plitka-footer">
                    <div class="tags">
                        {% for genre in lecture.filtrableGenres %}
                            <nobr><a href="#" class="cinema-genre-link" data-genre-id="{{ genre.id }}">{{ genre.title }}</a>{% if not loop.last %},{% endif %}</nobr>
                        {% endfor %}

                    </div>
                    <p class="views">Просмотров: {{ lecture.viewCount }}</p>
                </div>
            </div>
            {# Пока отключим рейтинг
            <span class="star-mark">7,5</span>
            #}
        </div>
    {% endfor %}
</div>
