{% import 'ArmdLectureBundle::lecture_macro.html.twig' as lectureMacro %}

{% for item in lectures %}
    <section class="b-block-body">
        <div class="e-film-image js-process-video">
            {% if item.mediaTrailerVideo is not empty %}
                {% if item.mediaTrailerVideo.providerName == 'sonata.media.provider.image' %}
                    <a href="{{ path('armd_lecture_view', {id: item.id }) }}">
                        {% media item.mediaTrailerVideo, 'reference' with { 'width': 418, 'height': 262 } %}
                    </a>
                {% else %}
                    {% media item.mediaTrailerVideo, 'reference' with { 'width': 418, 'height': 262 } %}
                {% endif %}
            {% elseif item.mediaLectureVideo is not empty  %}
                {% if item.mediaLectureVideo.providerName == 'sonata.media.provider.image' %}
                    <a href="{{ path('armd_lecture_view', {id: item.id }) }}">
                        {% media item.mediaLectureVideo, 'reference' with { 'width': 418, 'height': 262 } %}
                    </a>
                {% else %}
                    {% media item.mediaLectureVideo, 'reference' with { 'width': 418, 'height': 262 } %}
                {% endif %}
            {% endif %}

            {#<a href="{{ path('armd_lecture_view', {id: item.id }) }}">#}
                {#{{ lectureMacro.lectureThumbnail(item, 'lecture_for_main', {'alt': item.title, 'height': 'auto'}) }}#}
            {#</a>#}
        </div>

        <div class="e-film-info">
            <h4 class="e-film-title">
                <a href="{{ path('armd_lecture_view', {id: item.id }) }}">
                    {{ item.title }}{% if item.productionYear is not empty %} / {{ item.productionYear }}{% endif %}
                </a>
            </h4>

            <ul class="e-film-attributes">
                <li>
                    <span class="e-attr-title">
                        {{ 'Main.Widget.Movie.Genre'|trans }}:&nbsp;
                    </span>
                    {{ genresString|raw }}
                </li>

                {% if item.director is not empty %}
                    <li>
                        <span class="e-attr-title">
                            {{ 'Main.Widget.Movie.Director'|trans }}:&nbsp;
                        </span>
                        {{ item.director|replace({'<p>': '', '</p>': ''})|raw }}
                    </li>
                {% endif %}

                {% if item.stars is not empty %}
                    <li>
                        <span class="e-attr-title">
                            {{ 'Main.Widget.Movie.Cast'|trans }}:&nbsp;
                        </span>
                        {{ item.stars|replace({'<p>': '', '</p>': ''})|raw }}
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>

    <a href="{{ path('armd_lecture_cinema_index', {'genreSlug': 'feature-film'}) }}" class="goto-link-button marginLeft40 paddingSides15 positionAbsoluteBottomLeft">
        {{ 'Main.Widget.Movie.Goto'|trans }}
    </a>
{% endfor %}