<div class="title">
    <h2>{{ 'Recomended'|trans }}</h2>

    <ul class="right-list">
        {% for object in russiaImages %}
            <li>
                <a href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}">
                    {% if object.primaryImage is not null %}
                        <img src="{% path object.primaryImage, 'imagesOfRussiaSmall' %}" alt="{{ object.title }}"/>
                    {% elseif object.images|length > 0%}
                        <img src="{% path object.images, 'imagesOfRussiaSmall' %}" alt="{{ object.title }}"/>
                    {% endif %}
                </a>

                <div class="text-overflow">
                    <span class="rl-type">{{ 'Images of Russia'|trans }}</span>
                    <a href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}" class="rl-name">
                        {{ object.title }}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{#<div class="virtual-anons-block">#}
    {#<a href="#" class="virtual-anons">#}
        {#<span class="virtual-anons-header">Виртуальный тур</span>#}
        {#<img src="{{ asset('main/common/img/photo/virtual_museums/03.jpg') }}" alt=""/>#}
        {#<span#}
            {#class="virtual-anons-descr">Государственный центральный музей музыкальной культуры имени М.И. Глинки</span>#}
    {#</a>#}
{#</div>#}