<div class="virt-museum-new-list-one">
    <a class="vob iframe" href="{{ m.url }}" data-fancybox-type="iframe"><img src="{% path m.bannerImage, 'banner' %}" alt="" /></a>
    <div class="virt-museum-circle">
        <h2><span>{{ m.title|raw }}</span></h2>
        <div class="virt-museum-list-one-descr">
            {% if m.region %}
                <a href="{{ path('armd_museum_virtual', { region:m.region.id }) }}" class="virt-museum-city">{{ m.region.title }}</a>
            {% endif %}
            <a class="virt-museum-link vob iframe" href="{{ m.url }}" data-fancybox-type="iframe">{{ "visit_museum"|trans|raw }}</a>
            <a href="#instruction" class="virt-museum-instr">{{ "manual_instruction"|trans|raw }}</a>
        </div>
        <div class="museum-image-image"></div>
    </div>
</div>