{% macro getSettings(containers) %}
    {% import 'ArmdAdminBundle:macro:table.html.twig' as table %}
    {% import 'ArmdAdminBundle:macro:common.html.twig' as common %}
    {% import 'ArmdAdminBundle:macro:tabs.html.twig' as tabs %}

    {# index_logo #}
    {% set index_logo %}
        {{ table.create({'title': 'index_logo', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# index_language_switcher #}
    {% set index_language_switcher %}
        {{ table.create({'title': 'index_language_switcher', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# index_search #}
    {% set index_search %}
        {{ table.create({'title': 'index_search', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# menu #}
    {% set menu %}
        {{ table.create({'title': 'menu', 'colspan': 3}, containers) }}
    {% endset %}

    {# content #}
    {% set content %}
        {{ table.create({'title': 'content', 'colspan': 3}, containers) }}
    {% endset %}

    {# index_footer_left #}
    {% set index_footer_left %}
        {{ table.create({'title': 'index_footer_left', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# index_footer_right #}
    {% set index_footer_right %}
        {{ table.create({'title': 'index_footer_right', 'colspan': 3}, containers) }}
    {% endset %}
    
    <div class="tab-content-blocks">
        {{ common.block(index_logo, {'class': 'block-third'}) }}
        {{ common.block(index_language_switcher, {'class': 'block-third'}) }}
        {{ common.block(index_search, {'class': 'block-third'}) }}
        {{ common.block(menu, {'class': 'block-full'}) }}
        
        {{ common.block(content, {'class': 'block-full'}) }}
        {{ common.block(index_footer_left, {'class': 'block-half'}) }}
        {{ common.block(index_footer_right, {'class': 'block-half'}) }}
    </div>
{% endmacro %}