{% extends ':Frontend:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/damediaspecialproject/css/templates.css') }}" />
{% endblock %}

{% block title %}
    {{ parent() }} - {{ PageTitle }}
{% endblock %}

{% block page_header_title %}
    {{ PageTitle }}
{% endblock %}

{% block body %}
	{% block breadcrumbs %}
		<ul class="breadcrumbs marginBottom">
	    {% for item in Breadcrumbs %}
	    	{% if item.selected %}
	    		<li><span>{{ item.caption }}</span></li>
	    	{% else %}
	    	    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
	    	{% endif %}
        {% endfor %}
        </ul>
	{% endblock %}
	
	<div class="{{ PageSlug }}">
		{{ Blocks.MainBlock|raw }}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/damediaspecialproject/js/templates.js') }}"></script>
{% endblock %}