{% include 'ArmdMkResourcesBundle::nav-sections.html.twig' %}

<h1>{{ entity.title }}</h1>

<p class="item-dfn item-dfn-sm">{#{ entity.announce|raw}#}</p>

<aside id="sidebar-i-l">
	<p class="odd-title">Информационная карточка</p>
	<div id="info-box">
		{% if entity.image %}
			<div id="info-box-img">{% thumbnail entity.image, 'big' %}</div>
			{% if entity.image.description%}
			<p class="image-author-copyrights-infobox">{{entity.image.description}}</p>
			{% endif %}
		{% endif %}
		<table><tbody>
			{% if entity.city %}
			<tr>
				<th>Город:</th>
				<td>{{ entity.city }}</td>
			</tr>
			{% endif %}
			<tr>
			{% if entity.begindateDescription %}
				<th>Начало строительства:</th>
				<td>
				{{ entity.begindateDescription }}
				</td>
			{% elseif entity.begindate %}
				<th>Дата возведения:</th>
				<td>
				{{ entity.begindate|localDate('d F Y') }}
				</td>
			{% endif %}
			</tr>
			<tr>
			{% if entity.enddateDescription %}
				<th>Начало строительства:</th>
				<td>
				{{ entity.enddateDescription }}
				</td>
			{% elseif entity.enddate %}
				<th>Окончание строительства:</th>
				<td>
				{{ entity.enddate|localDate('d F Y') }}
				</td>
			{% endif %}
			</tr>
		</tbody></table>

	</div><!-- /info-box -->
</aside><!-- /sidebar-i-l -->

{{ entity.body|raw }}

{% include 'ArmdMkResourcesBundle::socials-box.html.twig' %}
