{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}
<div class="b-colored-articles-block b-sidebar-wrap m-sidebar-wrap-last">
    <h3 class="e-block-title">Анонс</h3>

    {% if entity is not empty %}
        <article class="b-colored-article">
            <h1 class="e-article-title" style="text-align: center;">
                
            </h1>

            {% if entity.image %}
                <img class="tn-list-image" src="{% path entity.image, 'news_adminPreview' %}" alt="{{ entity.title|escape }}" style="margin-bottom:20px; width:100%;">
            {% else %}
                <img class="tn-list-image" src="/img/temp_125_125.png" alt="{{ entity.title|escape }}" style="display: block; margin-left:auto; margin-right:auto">
            {% endif %}
            <h1 class="e-article-title">
                    <a href="{{ path('armd_news_item_by_category', {'id': entity.id, 'category': entity.category.slug }) }}" class="tn-list-title">{{ entity.title }}</a>
                </h1>
            <section class="e-article-description">

                {{ entity.announce|raw }}
            </section>
            <a href="{{ path('blog_list') }}" class="e-inline-link" style="width:100%; padding:0;">Перейти к Анонсам</a>
        </article>
    {% endif %}
    
</div>