<div class="box-title">Новости</div>

<dl class="newsline">
{% for entity in entities %}
	{% set itemlink = cmsPath('armd_news', 'listitem', {'id' : entity.id}) %}
	{% set date = entity.date|date("d m / Y") %}
	<dt><a href="{{ itemlink }}">{% thumbnail entity.image, 'small' %}</a></dt>
	<dd>
		<div class="date"><span>{{ date }}</span></div>
		<h4><a href="{{ itemlink }}">{{ entity.title }}</a></h4>
		<div class="newsline-descr"><a href="{{ itemlink }}">{{ entity.announce|raw }}</a></div>
	</dd>
{% endfor %}
</dl>

<p class="lnk-more-wrap"><a class="lnk-more" href="{{ cmsPath('armd_news', 'listitem') }}">Все новости</a></p>