<div class="news-list-main">
	<ul class="news-list">
		{% for news in entities%}
		{% set f = news.date %}
		{% set t = news.endDate %}
		<li>
			<a href="{{ path('armd_news_news_item', {'id': news.id}) }}" class="news-list-image">
				<span class="news-list-type">События</span>
				<img src="/static/common/img/press-blank.jpg" alt="" />
			</a>
			<div class="news-list-text">
				<span class="news-list-date">
					{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans }}{{ f|date(' /Y') }}
			    {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans }}{{ t|date(' /Y') }}{% endif%}
				</span>
				<a href="{{ path('armd_news_news_item', {'id': news.id}) }}" class="news-list-header">{{ news.title|raw }}</a>
				<p>{{ news.announce|raw }} </p>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>	