{% extends 'ArmdNewsBundle:News:press-centre.html.twig' %}

{% block header %}{{ parent() }} :: Архив{% endblock %}

{% block top %}
<div class="news-filter-box">
    <div class="news-filter-title">Фильтр<span class="c-arrow"></span></div>
		<div class="news-filter">
		    <ul><form id="news-filter-form">    
		    {% for category in categories %}
                <li><label{% if category.isSelected() %} class="checked"{% endif %}>
                    <input type="checkbox" name="category[]" value="{{ category.slug }}"/ {% if category.isSelected() %} checked{% endif %}>{{ category.title }}
                </label></li>
            {% endfor %}                
            </form></ul>
        </div>    
    </div>    
</div>    
<div class="news-calendar">
	<div class="news-calendar-title">Календарь<span class="c-arrow"></span></div>	
	<div id="calendar" style="display:none;"></div>
</div>        
{% endblock %}

{% block center %}{% endblock %}

{% block content %}
<div class="clear"></div>
<div class="news-afisha">
    {% if (news) %}
	   {% include "ArmdNewsBundle:News:list.html.twig" with {"entities": news} %}
	{% else %}
	   <div style="margin-left: 20px;">Нет новостей на выбранную дату</div>
	{% endif %}   
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/js/libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="/js/libs/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script>
$(document).ready(function(){
    $.datepicker.regional["ru"]["onSelect"] = function(dateText, inst) {
        var parts = dateText.split(".");
        window.location = Routing.generate("armd_news_archive_by_date", { "year": parts[2], "month": parts[1], "day": parts[0] });
    }              		        

    $.datepicker.setDefaults($.datepicker.regional["ru"]);
    $("#calendar").datepicker({
        showOtherMonths: true,
        onSelect: function(dateText, inst) {
        var parts = dateText.split(".");
        $(window.location).attr('href', Routing.generate("armd_news_archive_by_date", { "year": parts[2], "month": parts[1], "day": parts[0] }));
    }
        
    });

    $('.news-calendar-title').toggle(function () {
        $('#calendar').slideDown('fast');
            return false;
        }, function() {
        $('#calendar').slideUp('fast');
            return false;
    });
    
    $('.news-filter label').click(function(e){
    	if (e.target.nodeName == 'LABEL') {
    		$(this).toggleClass('checked');
    	}
    	
    	if (e.target.nodeName == 'INPUT') {
    	   $('#news-filter-form').submit();       
    	}    	
    });

    $('.news-filter-title').toggle(function () {
        $('.news-filter').slideDown('fast');
            return false;
        }, function() {
        $('.news-filter').slideUp('fast');
            return false;
    });
});    
</script>
{% endblock %}