{% if entities %}	
<div class="pictures-press-anons clearfix">
	<ul>
	{% for n in entities|slice(0, 4) %}
    	{% set href = path('armd_news_item_by_category', {'id': n.id, 'category': n.category.slug }) %}
    	<li>
    		<div class="ppa-block">
    			<a href="{{ href }}">{% thumbnail n.image, 'billboard' with {'class': 'ppa-image'} %}</a>
    			<img src="/img/image_frame.gif" alt="" class="news-image-frame" />
    			<div class="ppa-anons">
    				<span class="ppa-date">{{ n.date|date("j.m.Y") }}{% if n.endDate %} - {{ n.endDate|date("j.m.Y") }}{% endif%}</span>
    				<p>
    					<a href="{{ href }}">{{ n.title|raw }}</a>
    				</p>
    			</div>
    			<div class="ppa-over" style="display:none;">
    				<p><a href="{{ href }}">
    					{{ n.announce|raw }}
    				<span class="ppa-arrow">&rarr;</span>
    				</a></p>				
    			</div>
    		</div>
    	</li>
	{% endfor %}	
	</ul>
</div>	
{% endif %}
