<ul class="news-press-filter">
{% for c in categories %}
	<li>
	   <a href="{{ path('armd_news_list_index_by_category', {'category': c.slug }) }}"
	       {% if c.slug == category %}class="active"{% endif %}>{{ c.title }}</a>
    </li>
{% endfor %}
	<li>
	   <a href="{{ path('armd_paper_edition', { 'slug':'archive' }) }}" {% if 'archive' == category %}class="active"{% endif %}>
           {{ 'Culture Magazine'|trans }}
       </a>
    </li>
	<li>
	   <a href="{{ path('armd_paper_edition', { 'slug':'litnews' }) }}" {% if 'litnews' == category %}class="active"{% endif %}>
           {{ 'Literary Newspaper'|trans }}
       </a>
    </li>
</ul>
