{% extends 'ArmdNewsBundle:News:press-centre.html.twig' %}

{% block top_right %} <div style="margin-top:-63px"></div>{% endblock %}
{% block content %}
<div class="news-one text">
    <span class="news-one-type">Новости</span>
	<span class="news-one-date">
        {% set f = entity.date %}
        {% set t = entity.endDate %}
        {{ f.date|date('d') }} {{ ('calendar.full.'~f.date|date('M'))|trans }} / {{ f.date|date('Y') }}
        {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans }}{{ t|date(' /Y') }}{% endif%}        
    </span>
    <h1>{{ entity.title|raw }}</h1>
    
	{% if entity.image %}
		<div class="news-one-image">
			{% thumbnail entity.image, 'billboard' %}
			<p class="image-source">© РИА Новости, Александр Астафьев</p>
		</div>
    {% endif %}
	<p class="highlight-text">
		{{ entity.announce|raw }}
	</p>
    {{ entity.body|raw }}
	<div class="source">С использованием материалов РИА «Новости»</div>
	<div class="share">
		<span>Поделиться ссылкой: </span>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float:right;">
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ffaefe0133401dc"></script>
		<a id="blog-post-{{ entity.id }}" class="addthis_button_preferred_1"></a>
		<script type="text/javascript">
		addthis.button('#blog-post-{{ entity.id }}', {}, {url: '{{ url('cp_show', { 'id': entity.id }) }}', title: '{{ entity.title }}'});
		</script>
		</div>
		<!-- AddThis Button END -->
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
    <p style="font-size:15px; color:#f90;">&larr; <a style="color:#f90;" href="{{ path('armd_news_list_index') }}">Назад</a><p>
    <p style="font-size:12px; text-align: right; margin: -25px 0 0 0;"> <a style="color:#000;" href="#">Версия для печати</a></p>
	
</div>
{% endblock %}
