{% extends '::base.html.twig' %}

{% block body %}



 <div class="news-one">
	<div class="title-block gray-press">
		<h2>Пресс-центр</h2>
	</div>
	<span class="news-one-date">
		{{ entity.date|date("d M / Y") }}
	</span>
	<h1>{{ entity.title }}</h1>
	{{ entity.announce }}
	{{ entity.body }}
	

	
		
</div>

<div class="comments">
	<div class="title-block">
		<h2>комментарии пользователей</h2>
		<a href="#" class="add-comment"></a>
	</div>
	<p class="comments-anons">
		<span class="comments-total">комментариев: <a href="#">22</a></span>
		<span class="votes-total">голосов: <b>114</b></span>
	</p>
</div>

{#
<ul class="record_actions">
    <li>
        <a href="{{ path('armd_news_news_list') }}">
            Back to the list
        </a>
    </li>
</ul> #}
{% endblock %}