{% extends 'ArmdNewsBundle:News:press-centre.html.twig' %}

{% block top_right %} <div style="margin-top:-83px"></div>{% endblock %}
{% block content %}
<div class="news-one text">
    <span class="news-one-type">Новости</span>
	<span class="news-one-date">
        {% set f = entity.date %}
        {% set t = entity.endDate %}
        {{ f.date|date('d') }} {{ ('calendar.full.'~f.date|date('M'))|trans }} / {{ f.date|date('Y') }}
        {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans }}{{ t|date(' /Y') }}{% endif%}        
    </span>
    <h1>{{ entity.title|raw }}</h1>
    {% if entity.image %}
		{% thumbnail entity.image, 'billboard'  with {'class': 'news-one-right'} %}
    {% endif %}
	<p class="highlight-text">
		{{ entity.announce|raw }}
	</p>
    {{ entity.body|raw }}
	<div class="share">
		<span>Поделиться ссылкой: </span>
		<img src="/static/common/img/share.jpg" alt="" />
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
    <p style="font-size:15px; color:#f90;">&larr; <a style="color:#f90;" href="{{ path('armd_news_list_index') }}">Назад</a><p>
    <p style="font-size:12px; text-align: right; margin: -25px 0 0 0;"> <a style="color:#000;" href="#">Версия для печати</a></p>
</div>
{% endblock %}
