{% extends 'ArmdNewsBundle:News:press-centre.html.twig' %}

{% block top_right %} <div style="margin-top:-63px"></div>{% endblock %}
{% block content %}
<div class="news-one text">
    <span class="news-one-type">Новости</span>
	<span class="news-one-date">
        {% set f = entity.date %}
        {% set t = entity.endDate %}
        {{ f.date|date('d') }} {{ ('calendar.full.'~f.date|date('M'))|trans }} / {{ f.date|date('Y') }}
        {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans }}{{ t|date(' /Y') }}{% endif%}        
    </span>
    <h1>{{ entity.title|raw }}</h1>
    
	{% if entity.image %}
		<div class="news-one-image">
			{% thumbnail entity.image, 'billboard' %}	
			{% if entity.image.copyright or entity.image.authorName %}		
				<p class="image-source">
					{% if entity.image.copyright %}
						{{ entity.image.copyright }}
						{% if entity.image.authorName %}, {% endif %}
					{% endif %}
					{% if entity.image.authorName %}
						{{ entity.image.authorName }}
					{% endif %}
				</p> 
            {% endif %}
		</div>
    {% endif %}
	<p class="highlight-text">
		{{ entity.announce|raw }}
	</p>
    {{ entity.body|raw }}
	{% if entity.source %}
    	<div class="source">{{ entity.source }}</div>
	{% endif %}
	<div class="share" >
		<form target="_blank" method="post" action="http://www.livejournal.com/update.bml" id="socialnetwork">
			<a style="background-position:0 0;" href="http://vkontakte.ru/share.php?url={{ url('cp_show', { 'id': entity.id }) }}&amp;title='{{ entity.title }}'&amp;description='{{ entity.announce }}'" target="_blank"></a>
			<a onclick="$(this).parent().submit(); return false;" style="background-position:-32px 0;" href="http://www.livejournal.com/update.bml?event={{ url('cp_show', { 'id': entity.id }) }}&subject={{ entity.title }}%3C%2Fa%3E" target="_blank"></a>
			<a style="background-position:-48px 0;" href="http://twitter.com/intent/tweet?text={{ entity.title }}&url={{ url('cp_show', { 'id': entity.id }) }}" target="_blank"></a>
			<input type="hidden" name="subject" value="{{ entity.title }}">
			<textarea name="event" style="display:none">
				<div style="padding:20px; margin:10px;">
					<span style="font-size:12px; color:#8e8e8e; display:block;">{{ f.date|date('d') }} {{ ('calendar.full.'~f.date|date('M'))|trans }} / {{ f.date|date('Y') }}</span><h1 style="font-size:27px; line-height:29px; font-weight:normal; margin:10px 0 15px;">{{ entity.title }}</h3>{{ entity.announce|raw }}
					<a href="{{ url('cp_show', { 'id': entity.id }) }}">Подробнее</a>					
				</div>
			</textarea>
			<a style="background-position:-64px 0;" href="http://www.facebook.com/sharer.php?u={{ url('cp_show', { 'id': entity.id }) }}&t={{ entity.title }}&src=sp" target="_blank"></a>
			</form>
		<!-- AddThis Button BEGIN 
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float:right;">
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ffaefe0133401dc"></script>
		<a id="blog-post-{{ entity.id }}" class="addthis_button_preferred_1"></a>
		<script type="text/javascript">
		addthis.button('#blog-post-{{ entity.id }}', {}, {url: '{{ url('cp_show', { 'id': entity.id }) }}', title: '{{ entity.title }}'});
		</script>
		</div>
		AddThis Button END -->
	</div>
   <div class="comments">
		{% include 'FOSCommentBundle:Thread:comments.html.twig' with {
			'comments': comments,
			'thread': thread
		} %}
	
    </div>
	<!-- /commetns-list-->
	<p>&nbsp;</p>
	<p>&nbsp;</p>
    <p style="font-size:15px; color:#f90;">&larr; <a style="color:#f90;" href="{{ path('armd_news_list_index_by_category', { 'category': entity.category.slug }) }}">Назад</a><p>
    <p style="font-size:12px; text-align: right; margin: -25px 0 0 0;"> <a style="color:#000;" href="#">Версия для печати</a></p>
	
</div>
{% endblock %}
