{% extends 'ArmdNewsBundle:News:press-centre.html.twig' %}

{% block top_right %}
    {% render "ArmdNewsBundle:News:memorialEvents" %}
{% endblock %}

{% block content%}
    {% if not category %}
        {% include "ArmdNewsBundle:News:billboard.html.twig" with {"entities": billboard} %}
    {% endif %}
    
<div class="clear"></div>

<div class="news-list-main">
	<ul class="news-list">
	{% for n in news %}
		{% set f = n.date %}
		{% set t = n.endDate %}
		{% set href = path('armd_news_item_by_category', { 'id': n.id, 'category': n.category.slug }) %}
		<li>
			<a href="{{ href }}" class="news-list-image">
				<span class="news-list-type">{{ n.category.title }}</span>
				{% thumbnail n.image, 'list' %}
			</a>
			<div class="news-list-text">
				<span class="news-list-date">
					{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans }}{{ f|date(' /Y') }}
			    {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans }}{{ t|date(' /Y') }}{% endif%}
				</span>
				<a href="{{ href }}" class="news-list-header">{{ n.title|raw }}</a>
				<p>{{ n.announce|raw }} </p>
			</div>
		</li>
    {% endfor %}
	</ul>
</div>

<div class="news-nav-block">
    <nav class="navigation">
        {{ news.setUsedRoute(category ? 'armd_news_list_index_by_category_and_page' : 'armd_news_list_index_by_page') }}
        {{ news.render()|raw}}
        <br />        
    </nav>    
</div>
	<!-- a class="afisha-list-more" href="#">Показать еще</a -->      
{% endblock %}	