<div class="today-block">
    <div class="today-block-header">
		 {{ "now"|date('d') }} {{ ('calendar.full.'~"now"|date('M'))|trans }} / {{ "now"|date('Y') }} 
	</div>
	
	{% if entities %}
    <span class="today-block-sub">Этот день в истории</span>
	<ul class="today-list">
		{% for entity in entities %}
		<li class="today-list-one">
			<p class="tlo-year">{{ entity.date|date("Y") }}</p>
			<p class="tlo-header"><a href="{{ path('armd_news_news_item', {id: entity.id}) }}">{{ entity.title }}</a></p>
			<p>
				{{ entity.announce|raw }}
			</p>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>