{% if entities is defined %}
    <div class="news-reccomended">
        <p class="news-reccomended-header">{{ 'Read also'|trans }}</p>
        <ul class="news-list news-list-new">
            {% spaceless %}
                {% for entity in entities %}
                    <li>
                        <div class="news-rec-block">
                            <a class="news-list-image" href="{{ path('armd_news_item_by_category', {'id':entity.id, 'category':entity.category.slug}) }}">
                                {% thumbnail entity.image, 'list' %}
                            </a>
                            <div class="news-list-text">
                                <a class="news-list-header" href="{{ path('armd_news_item_by_category', {'id':entity.id, 'category':entity.category.slug}) }}">{{ entity.title }}</a>
                                <a class="news-list-type" href="{{ path('armd_news_list_index_by_category', {'category':entity.category.slug }) }}">{{ entity.category.title }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endspaceless %}
        </ul>
    </div>
{% endif %}