<?xml version="1.0" encoding="UTF-8" ?>
{% set title = "Портал культурного наследия России" %}
{% set link = url('armd_news_list_index') %}
{% set description = "Новости портала культурного наследия" %}
{% set pubDate = null %}

{% for i in news %}
    {% if i.date > pubDate %}
        {% set pubDate = i.date %}
    {% endif %}
{% endfor %}

<rss xmlns:yandex="http://news.yandex.ru" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
    <channel>
        <title>{{ title }}</title>
        <link>{{ link }}</link>
        <description>{{ description }}</description>
        <image>
            <url>{{ app.request.schemeAndHttpHost ~ asset('/img/logo.png') }}</url>
            <title>{{ title }}</title>
            <link>{{ link }}</link>        
        </image>
        {#
            This timezone replace hack is needed because yandex requires +0400 but we use UTC.
            At the same time yandex requires datetime at the site (without timezone) to be the same as in rss
        #}
        <pubDate>{{ pubDate|date('r')|replace({'+0000': '+0400'}) }}</pubDate>

        {% for i in news %}
        <item>
            {% set url = url('armd_news_item_by_category', { 'id': i.id, 'category': i.category.slug }) %}
            <title>{{ i.title }}</title>
            <description>{{ i.announce }}</description>
            <link>{{ url }}</link>
            <guid>{{ url }}</guid>
            <pubDate>{{ i.date|date('r')|replace({'+0000': '+0400'}) }}</pubDate>
            <yandex:full-text>{{ i.announce }} {{ i.body }}</yandex:full-text>
            <yandex:genre>article</yandex:genre>
            {#<author></author>#}
            {#% if i.image %}
                <enclosure url="{% path i.image, 'latest' %}" type="{{ i.image.contentType }}" />
            {% endif %#}
        </item>
        {% endfor %}
    </channel>
</rss>
