<?xml version="1.0" encoding="UTF-8" ?>
{% set pubDate = null %}
{% for i in news %}
    {% if i.publishedAt > pubDate %}
        {% set pubDate = i.publishedAt %}
    {% endif %}
{% endfor %}
<rss version="2.0">
    <channel>
        <title>Портал культурного наследия России</title>
        <link>{{ url('armd_news_list_index') }}</link>
        <pubDate>{{ pubDate|date('r') }}</pubDate>

        {% for i in news %}
        <item>
            {% set url = url('armd_news_item_by_category', { 'id': i.id, 'category': i.category.slug }) %}
            <title>{{ i.title }}</title>
            <description>{{ i.announce }}</description>
            <link>{{ url }}</link>
            <guid>{{ url }}</guid>
            <pubDate>{{ i.publishedAt|date('r')}}</pubDate>
        </item>
        {% endfor %}
    </channel>
</rss>
