<div class="today-block">
	Сегодня: <a href="#">12 июля</a>
</div>
<ul class="press-anons">
{% for entity in entities %}
	<li class="press-anons-block">
		<a href="{{ path('armd_news_news_item', {id: entity.id}) }}">
			<img src="/img/photo/blank.jpg" class="pa-image" alt="" width="96" height="96" />
		</a>
		<div class="pa-text">
			<span class="pa-date">{{ entity.date|date("d.m.Y") }}</span>
			<p class="pa-header"><a href="{{ path('armd_news_news_item', {id: entity.id}) }}">{{ entity.title }}</a></p>
			<p>{{ entity.announce }}</p>
		</div>
	</li>
{% endfor %}	
</ul>
<div class="clear"></div>