<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Поиск объекта</title>

	<link rel="stylesheet" href="{{ asset('js/jquery-ui-1.10.3/themes/base/jquery-ui.css') }}" />

	<script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.3/jquery-ui.min.js') }}"></script>

    <style>
        .autocompleteInput {
            margin-top: 5px;
            width: 50%;
        }
    </style>
</head>
<body>

<div class="ui-widget">
  <label id="caption" for="tags"></label>
  <br />
  <input id="tags" type="text" class="autocompleteInput" />
</div>

<script>
$(document).ready(function(){
	var inputCaption = $("#caption"),
        autocompleteInput = $("#tags"),
        tinymceParameters = top.tinymce.activeEditor.windowManager.getParams(),
        availableTags = function(request, response){
    	    var searchTerm = request.term,
    		    entity = window.location.hash.substr(1);
            
	   	    $.ajax("{{ path('get_snippet_jsonlist') }}?_sonata_admin={{ admin.code }}&entity="+entity+"&q="+searchTerm, {
	   		    success: function(data){
	   			    if (data.length) {
	   				    autocompleteInput.removeClass("ui-state-error");
	   			    }
	   			    else {
	   				    autocompleteInput.addClass("ui-state-error");
	   			    }
	   			    
				    response(data);
			    },
			    error: function(xhr, err){
				    autocompleteInput.addClass("ui-state-error");
			    }
	   	    });
        },
        go = function(item){
            if (window.parent.modalEditor) {
                window.parent.modalEditor.callback({value: item.value, label:item.label});
            }
        };

    inputCaption.html(tinymceParameters.typeTranslation+": ");
    autocompleteInput.autocomplete({ "source": availableTags }).on("autocompleteselect", function(event, ui){
    	go(ui.item);
    });
});
</script>

</body>
</html>