{% extends 'ArmdMainBundle:Project:index.html.twig' %}


{% set videos = [
    {
        'url':      '/lecture/view/109',
        'img':      '/img/religion_objects/video1.jpg',
        'title':    '"Рождественские песнопения". Большой детский хор "Голос России"',
    },
    {
        'url':      '/lecture/view/87',
        'img':      '/img/religion_objects/video2.jpg',
        'title':    'Рождественская оратория',
    }
] %}


{% block title %} — {{ 'Navigation.Traditions'|trans }}{% endblock %}

{% block content %}
	<div class="title purple-title">
		<h2>{{ 'Navigation.Traditions'|trans }}</h2>
	</div>

	<div class="text-indent">
        {% include "ArmdMainBundle:Traditions:icons.html.twig" %}
		{% include "ArmdMainBundle:Traditions:objects.html.twig" %}
        {% include "ArmdMainBundle:Traditions:centuries.html.twig" %}   
	</div>	
{% endblock %}

{% block right %}
	<div class="title">
		<h2>{{ 'Navigation.Borodino.Announcements'|trans }}</h2>
	</div>		
	{% include "ArmdMainBundle:Traditions:anonses.html.twig" %}
	
	
	
	{% if videos %}
		<div class="small-block  small-videos">
			<p class="small_link_header">Видео</p>
			<ul class="small-video-list">
			{% for v in videos %}
                <li class="small-video-list-one {% if loop.index == '1' %}first{% endif %}">
					<div class="small-video-list-image">
						<a href="{{ v.url }}">
							<img alt="" src="{{ v.img }}">
							<div class="title-video">
								<p>{{ v.title|raw }}</p>
							</div>
							<span class="anons-video-btn "></span>
						</a>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
	
	
	<div class="title">
		<h2>{{ 'Navigation.Borodino.News'|trans }}</h2>
	</div>		
	{% include "ArmdMainBundle:Traditions:news.html.twig" %}
	
	<div class="title">
		<h2>{{ 'Navigation.Reports'|trans }}</h2>
	</div>		
	{% include "ArmdMainBundle:Traditions:reports.html.twig" %}
	
	{% include "ArmdMainBundle:Traditions:interview.html.twig" %}
	
{% endblock %}	    		

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function(){
            var armdMain = {
                initIcons: function() {
                    console.log('here');
                    $('#search_text').bind('focus', function () {
                        if ($(this).val() === 'Поиск...') {
                            $(this).val('');
                        }
                    });

                    $('#search_text').bind('blur', function () {
                        if ($(this).val().length == 0) {
                            $(this).val('Поиск...');
                        }
                    });
                }
            };

            $(function(){
                armdMain.initIcons();
            });
        })();
    </script>

{% endblock %}