{% extends ':Frontend:layout_two_column.html.twig' %}


{% block javascripts %}
{{ parent() }}
<!--
<script src="{{ asset('js/function.js') }}"></script>
-->
<style>

.tolstoy {

}
.tolstoy p {
    margin-left: 100px;
}

.tolstoy blockquote{
padding-left: 60px;
padding-right: 80px;
padding-top: 10px;
padding-bottom: 10px;
position: relative;
margin-bottom: 10px;
color: #ffffff;
margin-left: 5%;
width: 70%;
font-family: "PT Serif", serif;
font-size: 14px;
line-height: 140%;
color: #5e5e5e;
}

.tolstoy blockquote p {
font-size: 20px;
font-style: italic;
font-weight: normal;
line-height: 120%;
}

.tolstoy blockquote p.subscribe {
font-size: 12px;
font-style: normal;
font-weight: normal;
line-height: 150%;
text-align: left;
}

.tolstoy blockquote p {
margin: 3px 0 10px;
}
.index-block p {
    margin-left: 0px;
}

</style>
<script type="text/javascript">
    
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'menu.tolstoy'|trans }}{% endblock %}

{% block page_header_title %}{{ 'menu.tolstoy'|trans }}{% endblock %}

{% block left_column %}
<ul class="breadcrumbs" style="margin-bottom:20px;">
    <li><a href="/">Главная</a></li>
    <li><span>{{ 'menu.tolstoy'|trans }}</span></li>
</ul>

<div class="tolstoy">
    <h1 class="obraz-header" style="margin-bottom:20px;"><span>Толстой и цифра</span></h1>
    <div class="block">
        <div class="content">

            
    <div class="event-one_anons">
        <a href="http://readingtolstoy.ru" target=_blank>
            <img width="auto" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/24/151bf6bba71ab10a23319e0b156ceb6c4e1dbc77.jpeg" alt="Толстой и Цифра" style="left: 10.5px;float: left;margin-right: 30px;margin-bottom: 30px;">
        </a>
        <p>
            18 июня 2013 года Государственный музей Л.Н.Толстого и компания ABBYY запустили народный проект «Весь Толстой в один клик». Его задача — создание эталонной электронной версии 90-томного собрания сочинений Льва Николаевича Толстого. После чего каждый волонтер может бесплатно скачать любое, даже очень редкое произведение классика в свою электронную книгу, на планшет или смартфон и начать вычитывать текст.
        </p>
    </div>

    <p>Вопреки всем ожиданиям, процесс оцифровки пошел очень быстро. За десять дней, прошедших с момента старта проекта, около 1 600 зарегистрированных волонтеров вычитали более 80 томов, а это 41 800 страниц собрания сочинений.
<blockquote class="tolstoy"><div class="quote1"></div><div class="quote2"></div>
<p>«Кто бы мог подумать, что почти все 90 томов сочинений Толстого участники проекта за неделю расщелкают как орешки. С какой скоростью и ответственностью люди принялись за непростую задачу — это невероятно! Мы решили, что при таком качестве проверки текстов волонтеров следует подключить и ко второму этапу вычитки. При этом участников, которые возьмутся за тексты на втором этапе, мы наградим отдельно»,</p>
<p class="subscribe">— комментирует Фекла Толстая, руководитель проекта, заведующая отделом развития Государственного музея Л.Н.Толстого, праправнучка писателя.</p> 
</blockquote>
   
<p>28 июня организаторы объявят о начале следующего этапа реализации краудсорсингового проекта «Весь Толстой в один клик». Второй этап подразумевает более тщательную вычитку текстов. Аудиторам предстоит внимательно проверить тексты, проверенные волонтерами, и корректно отформатировать их, следуя подробной инструкции.</p>
<figure class="event-one_image image-left">
	            <div >
	                <img width="400px" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/24/861ef8fee129cb12ba89e4c710f81d254b0e8963.jpeg" alt="Толстой и Цифра" style="left: 10.5px;">
	            </div>
            </figure>
<p><a title="Культура.рф" href="%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0.%D1%80%D1%84" target="_blank">Портал «Культура.рф»</a>&nbsp;решил взглянуть на феномен оцифровки текстов классических литературных произведений с точки зрения  веса и значения слова в истории человечества.</p>
<p style="text-align: center;">* * *</p>
<p>Человек научился говорить много тысяч лет назад. Как и почему это произошло, ученые пока так до конца и не разобрались. Более того, Французская академия наук не принимает на рассмотрение работы, посвященные глоттогенезу, как ненаучные <i>(глоттогенез — от греч. glotta — «язык» и genesis — «происхождение»; процесс становления человеческого естественного звукового языка, отличного от других систем знаков. <em>— <a title="Культура.рф" href="%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0.%D1%80%D1%84" target="_blank">«Культура.рф»</a></em>)</i>. Тем не менее никто не сомневается, что способность говорить — это видовое отличие человека от всех остальных представителей живой природы.</p>

<p>Звучащее слово (некоторые исследователи предполагают, что до того, как стать акустической, речь людей была жестовой) ознаменовало собой важнейший скачок в истории человечества. Однако и позже усовершенствование языка — а вернее, способов его передачи — становилось локомотивом исторических процессов, предопределяло переходы человечества на новые витки развития, порождало цивилизационные сдвиги.</p>
<p>Первым таким открытием стала письменность. Рожденная из нескольких источников — предметных знаковых систем, изобразительных рисунков и систем счета (зарубок, счетных палочек, камушков, узелков) идея передавать речь с помощью специальных, наблюдаемых визуально, а не через слуховой канал, знаков трансформировалась из рисуночного письма в алфавиты, кодирующие уже звучащее слово, а не понятия напрямую. Люди смогли транслировать тексты точно, без неизбежных при устной речи искажений, в большем объеме и на большие расстояния: как в пространстве, так и во времени. Письмо увеличивало информационную обеспеченность социума и, соответственно, усилило его пространственную и историческую связность: так культура получила свою прочную текстовую основу. Так начали возникать древние государства, скрепленные властью не только оружия, но и слова.</p>
<figure class="event-one_image image-right">
                <div >
                    <img width="auto" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/24/883b6ec6317d3a16f14f1524ff9a8d9eb2af5bef.jpeg" alt="Толстой и Цифра" style="margin-top:-40px;">
                </div>
            </figure>

<p>Следующей информационной революцией стало распространение книгопечатания в XVI веке. Реформация — ее итог; это, по сути, продукт, изготовленный на книгопечатном станке. Между 1517 и 1520 годами общий тираж книг Мартина Лютера достиг 300 тысяч — небывалое количество, которое еще совсем незадолго до этого и представить было трудно! Но окончательно печатное слово пришло в Европу только в XIX веке — в период массового распространения грамотности. Именно тогда средства массовой информации стали по-настоящему массовыми, газеты стали одним из столпов демократического развития Европы и Америки, привели к серьезной трансформации социальных отношений.</p>
<blockquote class="tolstoy"><div class="quote1"></div><div class="quote2"></div>
<p class="subscribe">Как писал исследователь коммуникаций Д.Робертсон, информационная ограниченность цивилизаций была</p> 
<p>«решающим фактором, препятствующим прогрессу в период, предшествующий информационному взрыву»</p>
</blockquote>
<p>Новый информационный взрыв произошел в XX веке — с изобретением электронных средств коммуникации и Интернета. Электронное слово, войдя в нашу повседневную жизнь только на рубеже тысячелетий, уже сумело серьезно изменить жизнь каждого причастного ему. В течение дня каждый городской житель встречается с электронным текстом во много раз чаще, чем с бумажным. Электронные слова в мультимедийном окружении уже давно стали нашей настоящей, а не виртуальной реальностью.</p>
<p>Распространение соцсетей, выстраивание нелинейных массовых информационных связей уже начало трансформировать социальный мир. Демократия становится электронной, доступ к каналам коммуникации упрощается, а значит, этот властный ресурс, за который раньше шла ожесточенная борьба, распределяется между миллионами граждан, а не остается сосредоточенным в руках избранных.</p>
<p>Но электронная коммуникация — это не только про социологию. Это еще и про лингвистику. Потому как, кроме всего прочего, Интернет — это еще и большая площадка для лингвистических экспериментов. Новые языковые явления возникают здесь как грибы после дождя. И столь же быстро исчезают. Скорости распространения лингвистического опыта и лингвистической моды в начале XXI века значительно возросли, как, собственно, и вообще все скорости.</p>
<p>В первые годы нового тысячелетия о подводные рифы Интернета чуть не разбилась лодка русской орфографии и пунктуации. Казалось, что от них скоро ничего не останется: Интернет — это свобода, в том числе и от скучных грамматических правил!</p>
<p>Но нет, последние тенденции имеют противоположное направление: электронное слово начинает приравниваться к печатному (сравним, например, распространение электронного документооборота). К нему предъявляются те же требования, что и к книге: быть эталоном грамотной русской письменной речи. Уходят в прошлое наспех оцифрованные и кое-как распознанные литературные тексты: Чехов или Толстой с опечатками уже перестают быть нормой.</p>
<figure class="event-one_image image-left">
                <div >
                    <img width="auto" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/24/abf5023a89a9f83558ca646f54809402b2b9fca4.jpeg" alt="Толстой и Цифра" style="margin-top:-20px">
                </div>
</figure>
<p>Электронные тексты начали завоевывать позиции, на которых, по определению Ю.М.Лотмана, находятся «тексты культуры». Эти тексты выделяются среди всех остальных циркулирующих в обществе тем, что обнаруживают «признаки некоторой дополнительной значимости». В момент возникновения «выраженность сообщения в фонологических единицах начинает восприниматься как невыраженность», писал Лотман. Не всякий текст достоин того, чтобы быть написанным. «Противопоставление «устный — письменный» со временем изменилось на противопоставление «неопубликованный — опубликованный». При этом публикация в газете и публикация в книге, например, тоже противопоставлялись по культурной значимости, авторитетности.</p>
<p>Раньше, безусловно, текстами нашей культуры были те, что вышли из типографии: только они обладали достаточным авторитетом, на них нужно было ссылаться, их цитировать. Со временем, когда доступность типографского способа производства стала расширяться, позиции типографской продукции пошатнулись, начали играть свою роль издательства, авторитет редактора…</p>
<p>Однако это не привело к повышению авторитета электронного слова: интернет-речь оставалась аналогом устной речи — безответственной и зачастую анонимной. Изменение ситуации, институализация электронных текстов как текстов культуры — явление самых последних лет. Выделение в потоке электронных текстов тех, что обладают большей культурной значимостью, тех, которые наследуют книжной традиции, — важная культурная задача: противопоставить твиттер с его сиюминутными сообщениями серьезным, авторитетным электронным библиотекам, выстроить новое семиотическое пространство в Интернете.</p>
<p>И в этом плане проект по оцифровке наследия Льва Николаевича Толстого, безусловно, серьезный шаг в этом направлении. Электронный Толстой найдет свое место на виртуальной полке текстов русской культуры.</p>
<p><strong><br>Юлия Галямина, сотрудник МГУ, кандидат филологических наук</strong></p>
<p>&nbsp;</p>
    </div><!-- /content -->

    <div class="index-block two-column-block clearfix index-news-block">
        <div class="index-block">
            <h2><a href="/press-centre/news/">Новости</a></h2>
            <a href="/press-centre/news/8289/">
                <div class="block-left-image-wrap"><img width="160" height="107" class="block-left-image" 
                src="http://culture.ru/ru/uploads/media/news/0001/23/thumb_22964_news_eventsBillboard.jpeg"></div>
            </a>
            <div class="text-overflow">
                <a class="two-column-name" href="/press-centre/news/8289/">Весь Толстой — в один клик</a>
                <p>Государственный музей Л.Н.Толстого и компания ABBYY представили литературный интернет-проект «Весь Толстой в один клик», цель которого — создать эталонную электронную версию 90-томника произведений Льва Толстого</p>
            </div>
        </div>
        <div class="index-block">
            <h2><a href="/press-centre/reportages/">Лекция</a></h2>
            <a href="/cinema/view/455/">
                <div class="block-left-image-wrap">
                <img width="160" height="107" class="block-left-image" src="http://culture.ru/ru/uploads/media/lecture/0001/10/thumb_9052_lecture_lectureW160H120.jpg"></div>
            </a>
            <div class="text-overflow">
                <a class="two-column-name" href="/cinema/view/455/">Светлана Толстая. «Этнолингвистика и славянские древности».</a>
                <p>Толстая Светлана Михайловна - доктор филологических наук, профессор, лингвист, фольклорист и исследователь традиционной духовной культуры славянских народов.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block right_column %}
<div style="height:60px;"></div>




<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Музей-усадьба <br>«Ясная Поляна»</h2>
            <a class="block-image" href="http://culture.ru/atlas/object/219" class="borodino-panorama-image vob">
				<img  style="max-width: 100%;"  src="http://culture.ru/ru/uploads/media/atlas/0001/05/thumb_4596_atlas_atlasW613.jpeg" alt="" />
			</a>
        </article>
    </div>
</div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Музей-усадьба<br>Льва Толстого в Хамовниках</h2>
            <a class="block-image" href="http://culture.ru/atlas/object/982" class="borodino-panorama-image vob">
				<img  style="max-width: 100%;"  src="http://culture.ru/ru/uploads/media/atlas/0001/14/thumb_13604_atlas_atlasW613.jpeg" alt="" />
			</a>
        </article>
    </div>
</div>


<div class="block">
        <div class="right-news-list-block">
            <h2>Архивные фотографии</h2>
        
            <ul class="right-news-list">
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24260_news_big.jpeg">
                <img width="85" height="65" src="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24260_news_thumbnail.jpeg">
        </a>

        <div class="right-news-list-text">
            <a href="/press-centre/events/4201/" class="right-news-name">Вид московской усадьбы Л. Н. Толстого со стороны переулка.</a>
            <p>Фотография П. П. Павлова.<br>1912-1913 гг. Хамовники.</p>
        </div>
        
    </li>
      
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24261_news_big.jpeg"><img width="85" height="65" src="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24261_news_thumbnail.jpeg"></a>
        <div class="right-news-list-text">
            <a href="/press-centre/events/1390/" class="right-news-name">Вид на дом Л. Н. Толстого в Москве со стороны Долгохамовнического переулка.</a>
            <p>
                Любительская фотография.<br>
                Нач. 1890-х гг.
            </p>
        </div>
    </li>
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24262_news_big.jpeg"><img width="85" height="65" src="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24262_news_thumbnail.jpeg"></a>
        <div class="right-news-list-text">
            <a href="/press-centre/events/1249/" class="right-news-name"> С. А. Толстая с младшими детьми Андреем, Мишей, Александрой и Ванечкой.</a>
            <p>
                Фотография М. А. Шиндлера и А. И. Мея под фирмою «Шерер, Набгольц и КО».<br>
                1892 г. Москва.
            </p>
        </div>
    </li>
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24263_news_big.jpeg"><img width="85" height="65" src="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24263_news_thumbnail.jpeg"></a>
        <div class="right-news-list-text">
            <a href="/press-centre/events/1186/" class="right-news-name">Александра и Ванечка Толстые среди друзей в саду дома в Хамовниках.</a>
            <p>
                Любительская фотография.<br>
                Александра третья слева, Ванечка крайний справа.<br>
                1893 г. Москва.
            </p>
        </div>
    </li>
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24264_news_big.jpeg"><img width="85" height="65" src="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24264_news_thumbnail.jpeg"></a>
        <div class="right-news-list-text">
            <a href="/press-centre/events/1219/" class="right-news-name">С. А. Толстая (справа), С. Н. Толстая (рожд. Философова) и Александра Толстая</a>
            <p>
                Фотография С. А. Толстой. Переснимок.<br>
                1895 г. Москва (Хамовники).
            </p>
        </div>
    </li>
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24266_news_big.jpeg"><img width="85" height="65" src="http://culture.ru/ru/uploads/media/news/0001/25/thumb_24266_news_thumbnail.jpeg"></a>
        <div class="right-news-list-text">
            <a href="/press-centre/events/1182/" class="right-news-name">Л. Н. Толстой рядом со своим скульптурным изображением работы И. Е. Репина.</a>
            <p>
                Фотография Е. С. Томашевича.<br>
                1891 г. Ясная Поляна.
            </p>
        </div>
    </li>
    <li class="clearfix">
        <div class="right-news-list-text">
        <p>Фотографии предоставлены музеем-усадьбой Льва Толстого в Хамовниках </p>
        </div>
    </li>
</ul>
        </div>
    </div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Хроника, 1909 год</h2>
            <a href="http://culture.ru/cinema/view/1168" class="borodino-panorama-image vob"><img  style="max-width: 100%;"  src="http://culture.ru/ru/uploads/media/lecture/0001/25/thumb_24132_lecture_big.jpg" alt="" />
            </a>
        </article>
    </div>
</div>


<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Художественный фильм <br>«Война и мир»</h2>
            <a class="block-image" href="http://culture.ru/cinema/view/683"><img style="max-width: 100%;" 
            src="http://culture.ru/ru/uploads/media/lecture/0001/13/e269301fac7f50b3f7755343cc0245beb2977ebf.png" alt=""></a>
        </article>
    </div>
</div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Художественный фильм <br>«Отец Сергий», 1918 год</h2>
            <a class="block-image" href="http://culture.ru/cinema/view/1166"><img style="max-width: 100%;" src="http://culture.ru/ru/uploads/media/news/0001/24/a1b10a01fa847627eda3bdaa6dc3c5bfc1071735.jpeg" alt=""></a>
        </article>
    </div>
</div>

{% endblock %}
