{% extends base_template %}

{% block content %}

    <div class="row">
        <div class="d-login-block">
            <form class="form-stacked" action="{{ path("sonata_user_admin_security_check") }}" method="post">

                {% if error %}
                    <div class="alert-message error">{{ error|trans({}, 'SonataUserBundle') }}</div>
                {% endif %}


                    <p><label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="big sonata-medium inp-txt"/></p>

                    <p><label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" class="big sonata-medium inp-txt" /></p>

                    <a href='#null'>{{'Restore.password'|trans({}, 'SonataAdminBundle')}}</a>

                    <!--label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label-->

                    <input type="submit" class="btn primary inp-btn" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

            </form>
        </div>
    </div>
{% endblock content %}
