{% macro getSettings(containers) %}
    {% import 'ArmdAdminBundle:macro:table.html.twig' as table %}
    {% import 'ArmdAdminBundle:macro:common.html.twig' as common %}
    {% import 'ArmdAdminBundle:macro:tabs.html.twig' as tabs %}

    {# index_online #}
    {% set index_online %}
        {{ table.create({'title': 'index_online', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# index_logo #}
    {% set index_logo %}
        {{ table.create({'title': 'index_logo', 'colspan': 3}, containers) }}
    {% endset %}

    {# index_search #}
    {% set index_search %}
        {{ table.create({'title': 'index_search', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# index_menu #}
    {% set index_menu %}
        {{ table.create({'title': 'index_menu', 'colspan': 3}, containers) }}
    {% endset %}

    {# index_content_top #}
    {% set index_content_top %}
        {{ table.create({'title': 'index_content_top', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# index_content #}
    {% set index_content %}
        {{ table.create({'title': 'index_content', 'colspan': 3}, containers) }}
    {% endset %}

    {# index_footer_left #}
    {% set index_footer_left %}
        {{ table.create({'title': 'index_footer_left', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# index_footer_right #}
    {% set index_footer_right %}
        {{ table.create({'title': 'index_footer_right', 'colspan': 3}, containers) }}
    {% endset %}
    
    <div class="tab-content-blocks">
        {{ common.block(index_online, {'class': 'block-full'}) }}
        {{ common.block(index_logo, {'class': 'block-half'}) }}
        {{ common.block(index_search, {'class': 'block-half'}) }}
        {{ common.block(index_menu, {'class': 'block-full'}) }}
        {{ common.block(index_content_top, {'class': 'block-full'}) }}
        {{ common.block(index_content, {'class': 'block-full'}) }}
        {{ common.block(index_footer_left, {'class': 'block-half'}) }}
        {{ common.block(index_footer_right, {'class': 'block-half'}) }}
    </div>
{% endmacro %}