{% extends 'ArmdMkResourcesBundle::layout.mk.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/default.css') }}" media="all">
	<!--[if IE]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/ie.css') }}" media="all"><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/ie7.css') }}" media="all"><![endif]-->
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/ie6.css') }}" media="all"><![endif]-->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/armdmkresources/js_index/jquery.js') }}"></script>
	<script src="{{ asset('bundles/armdmkresources/js_index/common.js') }}"></script>
{% endblock %}

{% block layout_content %}
    <div class="main-wrapper">
       {{ getContainerContent('index_online')|raw }}
		<div class="main-header">
			<div class="header-top">
                {{ getContainerContent('index_logo')|raw }}
				{% include 'ArmdMkResourcesBundle::language_switcher.html.twig' %}
			</div>
			<div class="header-menu">
				{{ getContainerContent('index_menu')|raw }}
				{{ getContainerContent('index_search')|raw }}
			</div>
		</div>
		
		{{ getContainerContent('index_content_top')|raw }}
		{{ getContainerContent('index_content')|raw }}

		<div class="main-footer">
			<div class="fl">
				{{ getContainerContent('index_footer_left')|raw }}
			</div>
			<div class="fr">
				{{ getContainerContent('index_footer_right')|raw }}
			</div>
		</div>
	</div>

{% endblock %}