{% extends ':Frontend:new_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/selectgroup/jquery.ui.selectgroup.css') }}" />
    <style type="text/css">
        div.PGmap-copyright {
            display: none;
        }
        div.PGmap-controls-container {
            display: none;
        }
        ul.hub-menu li a:hover {
            color: {{ palette_color_hex }};
        }
        .search-category-submit:hover {
            color: #ffffff !important;
            background-color: {{ palette_color_hex }};
        }
    </style>
{% endblock %}

{% block title %}{{ 'Museums'|trans }}{% endblock %}

{% block body %}
    <div class="b-post fullWidth overflowVisible positionRelative">
        <h1 class="hub-header-title">
            {{ 'Museums'|trans }}
        </h1>

        {% render url('armd_museum_indexWidget') %}

        sup, son?
    </div>
{% endblock %}

{% block sidebar %}
    {% render url('armd_museum_indexSidebar') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/jquery-ui-1.8.24.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/chosen/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.8"></script>
    <script type="text/javascript" src="{{ asset('bundles/damediaatlasjsmodule/js/module.atlas.js') }}"></script>
    <script type="text/javascript">
        $(window).load(function(){
            var slider = $('#museums-images-widget-placeholder'),
                sliderNav = slider.find('div.b-pagination-nav'),
                sliderItems = slider.find('ul#museum_widget > li'),
                sidebarMapPlaceholder = $('#slider-museum-item-map-placeholder'),
                sidebarInfoPlaceholder = $('#slider-museum-item-info-placeholder'),
                info_address = sidebarInfoPlaceholder.find('span[data-info="address"]'),
                info_siteUrl = sidebarInfoPlaceholder.find('span[data-info="siteUrl"]'),
                info_phone = sidebarInfoPlaceholder.find('span[data-info="phone"]'),
                info_workTime = sidebarInfoPlaceholder.find('span[data-info="workTime"]'),
                setupMapForCurrentItem = function(){
                    var currentItemNavHref = sliderNav.find('ul > li.selected > a').attr('href'),
                        currentItemNumber = parseInt(currentItemNavHref.substring(1), 10) - 1,
                        currentItem = $(sliderItems[currentItemNumber]),
                        sidebar = currentItem.find('div.item-title-side'),
                        mapHolder = sidebar.find('div.circle'),
                        mapHolderId = mapHolder.attr('id'),
                        objectId = mapHolder.attr('data-id'),
                        objectLon = mapHolder.attr('data-lon'),
                        objectLat = mapHolder.attr('data-lat'),
                        objectAddress = sidebar.find('span[data-info="address"]').html(),
                        objectSiteUrl = sidebar.find('span[data-info="siteUrl"]').html(),
                        objectPhone = sidebar.find('span[data-info="phone"]').html(),
                        objectWorkTime = sidebar.find('span[data-info="workTime"]').html();

                    sidebarMapPlaceholder.html(sidebar.html());

                    ATLAS_MODULE.init({
                        spotlightId: objectId,
                        pgMap: {
                            placeholderId: mapHolderId,
                            locale: '{{ app.request.locale }}',
                            mapClusterImagesUrl: '{{ asset('bundles/armdatlas/images') }}',
                            focusX: objectLon,
                            focusY: objectLat
                        }
                    });

                    info_address.html(objectAddress);
                    info_siteUrl.html('<a href="'+objectSiteUrl+'" class="palette-color-3">'+objectSiteUrl+'</a>');
                    info_phone.html(objectPhone);
                    info_workTime.html(objectWorkTime);
                };

            setupMapForCurrentItem();

            sliderNav.find('ul > li').on('click', function(){
                sidebarMapPlaceholder.find('div.PGmap').remove();
                setupMapForCurrentItem();
            });
        });
    </script>
{% endblock %}