<div class="slider-item-sidebar positionRelative">
    <div class="map-circle-border"></div>
    <div id="slider-museum-item-map-placeholder"></div>
    <div id="slider-museum-item-info-placeholder" class="sidebar-bordered-block positionAbsolute">
        <div class="header">
            {{ 'ContactInformation'|trans }}
        </div>
        {{ 'Info.Address'|trans }}: <span data-info="address"></span>
        <br />
        {{ 'Info.Website'|trans }}: <span data-info="siteUrl"></span>
        <br />
        {{ 'Info.Phone'|trans }}: <span data-info="phone"></span>
        <br />
        {{ 'Info.OpeningHours'|trans }}: <span data-info="workTime"></span>
    </div>
</div>