{% spaceless %}
    {% if actualInfo is not empty %}
        <div class="b-citate-of-day{% if actualInfo.type != constant('\\Armd\\ActualInfoBundle\\Entity\\ActualInfo::TYPE_TEXT') %} video-of-day{% endif %}">
            {% if actualInfo.type == constant('\\Armd\\ActualInfoBundle\\Entity\\ActualInfo::TYPE_TEXT') %}
                <h3 class="e-block-title">
                    {% if actualInfo.title is not empty %}
                        {{ actualInfo.title }}
                    {% else %}
                        «Цитата дня»
                    {% endif %}
                </h3>

                {% if actualInfo.url is not empty %}
                    <a href="{{ actualInfo.url }}">
                {% endif %}
                <div class="e-citate-content">
                    <i>{{ actualInfo.text|raw }}</i>
                </div>
                {% if actualInfo.url is not empty %}
                    </a>
                {% endif %}

                {% if actualInfo.caption is not empty %}
                    <div class="e-citate-caption">
                        {{ actualInfo.caption }}
                    </div>
                {% endif %}
            {% elseif actualInfo.type == constant('\\Armd\\ActualInfoBundle\\Entity\\ActualInfo::TYPE_IMAGE') %}
                <h3 class="e-block-title">
                    {% if actualInfo.title is not empty %}
                        {{ actualInfo.title }}
                    {% else %}
                        «Фото дня»
                    {% endif %}
                </h3>

                {% if actualInfo.url is not empty %}
                    <a href="{{ actualInfo.url }}">
                {% endif %}
                <div class="e-citate-content">
                    <img src="{% path actualInfo.image, 'main' %}" alt="">
                </div>
                {% if actualInfo.url is not empty %}
                    </a>
                {% endif %}

                {% if actualInfo.caption is not empty %}
                    <div class="e-citate-caption">
                        {{ actualInfo.caption }}
                    </div>
                {% endif %}
            {% elseif actualInfo.type == constant('\\Armd\\ActualInfoBundle\\Entity\\ActualInfo::TYPE_VIDEO') %}
                <h3 class="e-block-title">
                    {% if actualInfo.title is not empty %}
                        {{ actualInfo.title }}
                    {% else %}
                        «Видео дня»
                    {% endif %}
                </h3>

                {% if actualInfo.url is not empty %}
                    <a href="{{ actualInfo.url }}">
                {% endif %}
                <div class="e-citate-content">
                    {% media actualInfo.video, 'main' with { 'width': 232, 'height': 174} %}
                </div>
                {% if actualInfo.url is not empty %}
                    </a>
                {% endif %}

                {% if actualInfo.caption is not empty %}
                    <div class="e-citate-caption">
                        {{ actualInfo.caption }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endspaceless %}