<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>{% spaceless %}{% block title %}{{ 'Portal title'|trans }}{% endblock %}{% endspaceless %}</title>
        <meta name="keywords" content="{% spaceless %}{% block meta_keywords %}{% endblock %}{% endspaceless %}">
        <meta name="description" content="{% spaceless %}{% block meta_description %}{% endblock %}{% endspaceless %}">

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        {% block opengraph %}
            <meta property="og:image" content="http://roskult.ru/img/logo.png" />
        {% endblock %}

        {% block rss %}
            <link rel="alternate" type="application/rss+xml" href="{{ path('armd_news_rss') }}"  title="{{ 'Events'|trans }}" />
        {% endblock %}
     
        {% block stylesheets %}
            {%  stylesheets
                '@FOSCommentBundle/Resources/assets/css/comments.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {%  endstylesheets %}

            <link href="{{ asset('/css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('js/libs/fancybox/jquery.fancybox.css') }}" media="screen" />
            <link href="{{ asset('bundles/armdsocialauth/css/social_auth.css') }}" rel="stylesheet" type="text/css" media="screen" />
            <link href="{{ asset('bundles/armdmkcomment/css/comments.css') }}" rel="stylesheet" type="text/css" media="screen" />

        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript">
                var mkApp = {
                    locale: '{{ app.request.locale }}'
                };
            </script>
            <script type="text/javascript" src="{{ asset('/js/libs/jquery-1.7.2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/js/libs/jquery-ui-1.8.21.custom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/libs/fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
            <script type="text/javascript" src="{{ asset('/js/plugins.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/js/jquery.uniform.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/libs/jquery.ajaxmanager.js') }}"></script>
			{% if app.request.locale == 'ru' %}
                <script type="text/javascript" src="{{ asset('/js/libs/jquery.ui.datepicker-ru.js') }}"></script>
            {% endif %}
            <script type="text/javascript" src="{{ asset('/js/function.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/js/messager.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            
        {% endblock %}
    </head>
    <body {% if app.request.locale == 'en' %}class="locale_en"{% endif %}>
        <div id="armd_messages" style="display: none;"></div>
{% set domain = 'http://roskult.ru' %}
{% if app.environment == 'prod' or app.environment == 'ms' or app.environment == 'ms_en' %}
    <!-- Rating@Mail.ru counter -->
<script type="text/javascript">//<![CDATA[
var a='',js=10;try{a+=';r='+escape(document.referrer);}catch(e){}try{a+=';j='+navigator.javaEnabled();js=11;}catch(e){}
try{s=screen;a+=';s='+s.width+'*'+s.height;a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;}catch(e){}
try{if(typeof((new Array).push('t'))==="number")js=13;}catch(e){}
try{(new Image()).src='http://d1.c1.b2.a2.top.mail.ru/counter?id=2232750;js='+js+a+';rand='+Math.random();}catch(e){}//]]></script>
<noscript><p><a href="http://top.mail.ru/jump?from=2232750"><img src="http://d1.c1.b2.a2.top.mail.ru/counter?js=na;id=2232750" 
style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" /></a></p></noscript>
<!-- //Rating@Mail.ru counter -->


<script type="text/javascript">
var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-310467-9']);
    _gaq.push(['_setDomainName', 'culture.ru']);
    _gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();//--></script><!--/LiveInternet-->


{% endif %}

        <div id="wrap">
            {% block main_header %}
			<div id="header" class="w clearfix">
                <a href="{{ path('armd_main_homepage') }}" id="logo"></a>
                <div id="top">
                    <div class="search_bar">
						<form action="{{ path('armd_search_results') }}">
							<input type="text" name="search_query" value="" />
							<input type="image" src="{{ asset('/img/top_search.png') }}"  />
						</form>
					</div>
					<div class="top-center">
						<a href="http://people.roskult.ru/opengov/new/" class="open_gov">{{ 'Open Government'|trans }}</a>
						<a href="{{ path('armd_main_special_homepage') }}"  class="spec-vers" title="{{ 'Special version'|trans }}"></a>
					</div>
					<div id="topbar">
						<div id="auth">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<a style="display: inline; margin-right: 0px;" id="auth-link" class="no-popup" href="{{ path('sonata_user_profile_edit') }}"><span>{{ 'Account settings'|trans }}</span></a>&nbsp;/&nbsp;<a style="display: inline" class="no-popup" href="{{ path('fos_user_security_logout') }}"><span>{{ 'Logout'|trans }}</span></a>
                            {% else %}
                            <a style="display: inline; margin-right: 0px;" id="auth-link" class="no-popup" href="{{ path('fos_user_registration_register') }}"><span>{{ 'Register'|trans }}</span></a>&nbsp;/&nbsp;<a style="display: inline" class="no-popup" href="{{ path('fos_user_security_login') }}"><span>{{ 'Login'|trans }}</span></a>
                            {% endif %}
{#
							<div class="top_2_reg item_2" style="display:none;">
								<form method="POST" action="">
									<table class="auth_tbl">
										<tbody><tr>
											<td class="td1">Email*:</td>
											<td class="td2">&nbsp;</td>
										</tr>
										<tr>
											<td class="td3" colspan="2"><input type="text" class="inp tblink" name="email"></td>
										</tr>
										<tr>
											<td class="td1">Пароль*:</td>
											<td class="td2"><a href="">Забыли пароль?</a>&nbsp;</td>
										</tr>
										<tr>
											<td class="td3" colspan="2"><input type="password" class="inp tblink" name="pass"></td>
										</tr>
										<tr>
											<td class="td4"><input type="submit" class="btn_blue" value="Войти"></td>
											<td class="td5"><a href="/registration/">Зарегистрироваться</a></td>
										</tr>
									</tbody></table>
									<input type="hidden" name="auth" value="own">
								</form>
							</div>
#}							
						</div>
{#						
						<a href="#"  class="mobile-vers" title="Мобильная версия"></a>
						#}

						<ul class="lang-switch">
                            {% if app.request.locale == 'ru' %}
                                <li class="active"><span title="русский"><img src="{{ asset('img/rus.png') }}" alt="" /></span></li>
                                <li><a href="{{ path('armd_main_homepage', {'_locale': 'en'}) }}" title="english"><img src="{{ asset('img/en.jpg') }}" alt="" /></a></li>
                            {% elseif app.request.locale == 'en' %}
                                <li class="active"><span title="русский"><img src="{{ asset('img/en.jpg') }}" alt="" /></span></li>
                                <li><a href="{{ path('armd_main_homepage', {'_locale': 'ru'}) }}" title="русский"><img src="{{ asset('img/rus.png') }}" alt="" /></a></li>
                            {% endif %}
						</ul>
                    </div>
					
					
					
                </div>

            <div class="top-banner">

                {% if app.request.locale == 'en' %}
                    {% if armd_has_banner('HEAD_BANNER_EN') %}
                        {{ armd_banner('HEAD_BANNER_EN')|raw }}
                    {% else %}
                        <img src="{{ asset('/img/header_banner.jpg') }}" alt="" />
                    {% endif %}
                {% elseif app.request.locale == 'ru' %}
                    {% if armd_has_banner('HEAD_BANNER') %}
                        {{ armd_banner('HEAD_BANNER')|raw }}
                    {% else %}
                        <img src="{{ asset('/img/header_banner.jpg') }}" alt="" />
                    {% endif %}
                {% endif %}
            </div>

            </div>
			
            <div id="nav" class="w">
                <ul class="navmenu">
                    {% if app.request.locale == 'ru' %}
                        <li class="first"><a href="{{ path('armd_atlas_default_index') }}">{{ 'Navigation.Atlas'|trans }}</a></li>
                        <li><a href="{{ path('armd_atlas_russia_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
                        <li><a href="{{ path('armd_lecture_cinema_index') }}">{{ 'Navigation.Cinema'|trans }}</a></li>
                        <li><a href="{{ path('armd_museum_index') }}">{{ 'Navigation.Virtual museums.Title'|trans }}</a></li>
                        <li><a href="{{ path('armd_main_library') }}">{{ 'Navigation.Library'|trans }}</a></li>
                        <li><a href="{{ path('armd_main_project_traditions') }}">{{ 'Navigation.Traditions'|trans }}</a></li>
                        <li><a href="{{ path('armd_lecture_translation_index') }}">{{ 'Navigation.Translations'|trans }}</a></li>

                        <li class="navmenu_more">
                            <a href="#" class="navmenu_more_link">{{ 'Navigation.Add'|trans }}</a>
                            <ul>
                                <li><a href="{{ path('armd_lecture_lecture_index') }}">{{ 'Navigation.Lectures'|trans }}</a></li>
								<li><a href="{{ path('armd_chronicle_index') }}">{{ 'Navigation.Timeline'|trans }}</a></li>
								<li><a href="http://people.roskult.ru/forum/best/">{{ 'Navigation.Forum'|trans }}</a></li>
								<li><a href="{{ path('armd_main_project_brodino') }}">{{ 'Navigation.Borodino.Title'|trans }}</a></li>
								<li><a href="{{ path('armd_news_news_list') }}">{{ 'Navigation.Events'|trans }}</a></li>
                                {#<li><a href="{{ path('armd_main_project_1150') }}">{{ 'Navigation.1150'|trans }}</a></li>#}
                                <li><a href="http://people.roskult.ru/community_council/">{{ 'Navigation.Public council'|trans }}</a></li>
                                {#<li><a href="{{ path('armd_main_services') }}">{{ 'Navigation.Public services'|trans }}</a></li>#}
                                {#<li><a href="http://people.roskult.ru/forum_private/">{{ 'Navigation.Closed forum'|trans }}</a></li>#}
                                <li><a href="{{ path('armd_main_services') }}">{{ 'Navigation.goverment_services'|trans }}</a></li>
                                <li><a href="{{ path('armd_main_about') }}">{{ 'Navigation.About'|trans }}</a></li>
                            </ul>
                        </li>
                    {% elseif app.request.locale == 'en' %}
                        <li class="first"><a href="{{ path('armd_atlas_default_index') }}">{{ 'Navigation.Atlas'|trans }}</a></li>
                        <li><a href="{{ path('armd_atlas_russia_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
                        {#<li><a href="{{ path('armd_lecture_cinema_index') }}">{{ 'Navigation.Cinema'|trans }}</a></li>#}
                        <li><a href="{{ path('armd_museum_index') }}">{{ 'Navigation.Virtual museums.Title'|trans }}</a></li>
                        <li><a href="{{ path('armd_lecture_translation_index') }}">{{ 'Navigation.Translations'|trans }}</a></li>
                        <li><a href="{{ path('armd_lecture_lecture_index') }}">{{ 'Navigation.Lectures'|trans }}</a></li>
                        <li><a href="{{ path('armd_news_news_list') }}">{{ 'Navigation.Events'|trans }}</a></li>
                        <li><a href="{{ path('armd_main_about') }}">{{ 'Navigation.About'|trans }}</a></li
                    {% endif %}

                </ul>
            </div>
            {% if app.request.locale == 'ru' %}
                <div class="w archive-main-link">
                    <a href="{{ path('armd_paper_edition', { 'slug':'archive' }) }}" {% if 'archive' == category %}class="active"{% endif %}>{{ 'Culture Magazine'|trans }}</a>
                    &nbsp;&nbsp;
                    <a href="{{ path('armd_paper_edition', { 'slug':'litnews' }) }}" {% if 'litnews' == category %}class="active"{% endif %}>{{ 'Literary Newspaper'|trans }}</a>
                    &nbsp;&nbsp;
                </div>
            {% endif %}
            {#<div style="height: 25px"></div>#}
		{% endblock %}
{#
       <div id="search" class="w">
           <form id="formsearch" name="search" method="get">
               <table class="formsearch-width-type">
                   <tr>

                       <td width="1">
                           <div class="search-type">
                               Поиск по новостям и событиям
                               <a href="#" class="close-search-type">x</a>
                           </div>
                       </td>

                       <td>
                            <div id="searcher">
                               <input type="text" id="i-searcher" />
                           </div>
                           <input type="image" src="{{ asset('/img/search-btn.png') }}" id="i-searchbtn" />

                       </td>
                   </tr>
               </table>
           </form>
       </div>
#}
            <div class="blocksection w clearfix" id="f-section">
                {% block body%}&nbsp;{% endblock %}
            </div>
			{% block bottom_blocks%}&nbsp;{% endblock %}
           
		   {% block main_footer%}
			<div id="footer" class="w">
            <div class="footer-logo">
                   <a href="http://mkrf.ru/" target="_blank"><img src="{{ asset('/img/footer-logo.png') }}" alt="logo" />
                    {{ 'Ministry of Culture'|trans }}<br />{{ 'Russian Federation'|trans }}</a>
                    </div>
                    
                <div id="contacts">
                   	
                 
             <div class="contacts-inner">
    					<div class="copyright">{{ 'Copyright'|trans }}</div>
                         <a href="{{ path('armd_main_about') }}">{{ 'Navigation.About'|trans }}</a>&nbsp;<span class="gray">|</span>&nbsp;<a href="{{ path('armd_main_banners') }}">{{ 'Navigation.Banners'|trans }}</a>&nbsp;<span class="gray">|</span>&nbsp;<a href="mailto:portal@mkrf.ru">portal@mkrf.ru</a>                    </div>
                </div>

                <div id="socialnetwork">
                    {{ 'Talk'|trans }}
                    <div id="i-socialnetwork">
                            <!-- <img src="{{ asset('/img/socialnetwork.png') }}" /> -->
                            <form target="_blank" method="post" action="http://www.livejournal.com/update.bml" id="socialnetwork-links">
                                <a class="vk" href="http://vkontakte.ru/share.php?url=http://roskult.ru/&amp;title=Портал культурного наследия&amp;description=" target="_blank"></a>
                                <a onclick="$(this).parent().submit(); return false;" class="lj" href="http://www.livejournal.com/update.bml?event=http://roskult.ru/&subject=Портал культурного наследия%3C%2Fa%3E" target="_blank"></a>
                                <a class="tw" href="http://twitter.com/intent/tweet?text=Портал культурного наследия&url=http://roskult.ru/" target="_blank"></a>
                                <a style="fb" href="http://www.facebook.com/sharer.php?u=http://roskult.ru/&t=Портал культурного наследия&src=sp" target="_blank"></a>
								<a href="{{ path('armd_news_rss') }}" class="rss-icon" title="События"></a>
							</form>
                    </div>
                </div>
          
            </div>

            <div class="footer-counters w">

                {% if app.environment == 'prod' or app.environment == 'ms' or app.environment == 'ms_en' %}
                    <!-- Rating@Mail.ru counter -->
                    <a href="http://top.mail.ru/jump?from=2232750">
                    <img src="http://d1.c1.b2.a2.top.mail.ru/counter?id=2232750;t=55;l=1"
                    style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
                    <!-- //Rating@Mail.ru counter -->

                    <!--LiveInternet logo--><a href="http://www.liveinternet.ru/click"
                    target="_blank"><img src="//counter.yadro.ru/logo?44.1"
                    title="LiveInternet"
                    alt="" border="0" width="31" height="31"/></a><!--/LiveInternet-->

                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                    (function (d, w, c) {
                        (w[c] = w[c] || []).push(function() {
                            try {
                                w.yaCounter17425498 = new Ya.Metrika({id:17425498, enableAll: true, webvisor:true});
                            } catch(e) { }
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f);
                        } else { f(); }
                    })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript><div><img src="//mc.yandex.ru/watch/17425498" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                    <!-- /Yandex.Metrika counter -->
                {% endif %}
            </div>
            <!-- /footer-counters-->
			{% endblock %}
        </div>
    </body>
</html>
