<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
			<link rel="stylesheet" href="{{ asset('css/blind.css') }}">
		{% endblock %}
        <script src="{{ asset('js/vendor/modernizr-2.6.1.min.js') }}"></script>
    </head>
	<body>
		<div class="wrapper">
			<div class="settings-wrap">
				<div class="settings-block" id="settings" >
					<a href="{{ path('armd_main_homepage') }}" class="full-version-link">Полная версия</a>
					<ul class="settings-types">
						<li>
							<p>Цвет:</p>
							<ul class="color-picker">
								<li id="white-color">
									<span title="Белый фон" class="active">В</span> 
								</li>
								<li id="black-color">
									<span title="Черный фон">В</span> 
								</li>
							</ul>
						</li>
						<li>
							<p>Размер шрифта:</p>
							<ul class="size-picker">
								<li id="huge-font">
									<span  title="Огромный шрифт">А</span>
								</li>
								<li id="big-font">
									<span title="Большой шрифт">А</span>
								</li>
								<li id="normal-font">
									<span  title="Нормальный шрифт" class="active">А</span>
								</li>
							</ul>
						</li>
						<li>
							<p>Вид шрифта:</p>
							<ul class="font-type">
								<li id="arial-font" >
									<span  title="шрифт Arial"  class="active">Arial</span>
								</li>
								<li id="times-font" >
									<span title="шрифт Times New Roman">Times New Roman</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="settings-handler">Настройка</div>
			</div>
			<header class="main-header">
				<a href="{{ path('armd_main_special') }}" class="logo" title="Культура.рф">Культура.рф</a>
				<div class="search">
					<form action="{{ path('armd_search_results') }}" title="Поиск">
						<input type="text" value="" class="search-input" />
						<input type="submit" value="Найти" class="search-button" />
					</form>
				</div>
				<ul class="quick-links">
					<li><a href="http://people.roskult.ru/opengov/new/">Открытое Правительство</a></li>
					<li><a href="#">Личный кабинет</a></li>
				</ul>
				<nav class="clear">
					{% block menu %}
						<ul class="main-navigation clearfix" title="Основное меню">
							<li><a href="#">Образы России</a></li>      
							<li><a href="{{ path('armd_main_specialchronicles') }}">Лента времени</a></li>      
							<li><a href="#">События</a></li>   
							<li><a href="#">Общение</a></li>      
							<li><a href="{{ path('armd_main_specialservices') }}">госуслуги</a></li>      
							<li><a href="{{ path('armd_main_specialabout') }}">о проекте</a></li>
						</ul>
					{% endblock %}
				</nav>
			</header>
			<div class="content">
				{% block body %}
				&nbsp;
				{% endblock %}
			</div>
			
			<div class="push"></div>
		</div>
		<footer class="main-footer">
			<div class="site-owner">
				Министерство культуры Российской Федерации
			</div>
			<div class="site-info">
				<p class="site-copyright">© Портал культурного наследия России</p>
				<p class="site-about"><a href="{{ path('armd_main_specialabout') }}">О проекте</a> / <a href="mailto:info@mkrf.ru">info@mkrf.ru</a></p>
			</div>
		</footer>
		{% block javascripts %}
			<script src="{{ asset('js/vendor/jquery-1.8.0.min.js') }}"></script>
			<script src="{{ asset('js/plugins.js') }}"></script>
			<script src="{{ asset('js/jquery.cookie.js') }}"></script>
			<script src="{{ asset('js/blind.js') }}"></script>
       {% endblock %}
    </body>
</html>
