{% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/jquery.fancybox-1.3.4.css') }}" media="all">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/armdmkresources/js_index/libs/jquery.fancybox-1.3.4.js') }}"></script>
{% endblock %}

<div class="box-title">Видеоархив</div>
<div class='proh-wrap events-list-wrap'>
     <ul class='plain-list see-also-list events-list'>
{% for entity in entities %}
	{% set itemlink = cmsPath('armd_news', 'listitem', {'id' : entity.id}) %}
	{% set date = entity.created|date("d M / Y") %}
	{% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}
        <li class='events-list-item-video'>
            <a href='#fancy-{{ entity.id|raw}}' class='see-also-list-img see-also-list-img-fansy'>
                <img src="{{ entity.image|raw}}" />
                <span class="events-list-item-video-fon">
                    <span></span>
                </span>
            </a>
            <div class="video-info-popup">
                {{ entity.description|raw}}
            </div>
            <div class="see-also-list-brd"></div>
            <div class="events-list-item-description">
                {{ entity.title|raw}}
            </div>
            <div class="events-list-item-info-wrapper">
                <div class="events-list-item-info-item">
                    <p>Опубликован:
                        <span class="events-list-item-info-item-time">{{ entity.created|localDate("d F / Y")}}</span>
                    </p>
                </div> 
                <div class="events-list-item-info-item">
                    <p>Продолжительность: 
                        <span class="events-list-item-info-item-time">{{ entity.getDurationAsString|raw}}</span>
                    </p>   
                  
                </div>    
            </div>
            <div style="display: none;">
                <div id="fancy-{{ entity.id|raw}}">{{ entity.code|raw}}</div>
            </div>
            
          <!-- <p class="5"> 5 {{ entity.city|raw}}</p>-->
           <!--<p class="6"> 6 {{ entity.location|raw}}</p>-->
          <!-- <p class="8"> 8 {{ entity.code|raw}}</p>-->
        </li>
        
{% endfor %}
    </ul>
</div>