{% macro getSettings(containers) %}
    {% import 'ArmdAdminBundle:macro:table.html.twig' as table %}
    {% import 'ArmdAdminBundle:macro:common.html.twig' as common %}
    {% import 'ArmdAdminBundle:macro:tabs.html.twig' as tabs %}

	{# other_c_logo #}
    {% set other_c_logo %}
        {{ table.create({'title': 'other_c_logo', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_c_search #}
    {% set other_c_search %}
        {{ table.create({'title': 'other_c_search', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_c_menu #}
    {% set other_c_menu %}
        {{ table.create({'title': 'other_c_menu', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_c_content_top #}
    {% set other_c_content_top %}
        {{ table.create({'title': 'other_c_content_top', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_c_header_bottom #}
    {% set other_c_header_bottom %}
        {{ table.create({'title': 'other_c_header_bottom', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_c_content #}
    {% set other_c_content %}
        {{ table.create({'title': 'other_c_content', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_c_footer_left #}
    {% set other_c_footer_left %}
        {{ table.create({'title': 'other_c_footer_left', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_c_footer_right #}
    {% set other_c_footer_right %}
        {{ table.create({'title': 'other_c_footer_right', 'colspan': 3}, containers) }}
    {% endset %}

    <div class="tab-content-blocks">
        {{ common.block(other_c_logo, {'class': 'block-half'}) }}
        {{ common.block(other_c_search, {'class': 'block-half'}) }}
        {{ common.block(other_c_menu, {'class': 'block-full'}) }}
        {{ common.block(other_c_content_top, {'class': 'block-full'}) }}
		{{ common.block(other_c_header_bottom, {'class': 'block-full'}) }}
        {{ common.block(other_c_content, {'class': 'block-full'}) }}
        {{ common.block(other_c_footer_left, {'class': 'block-half'}) }}
        {{ common.block(other_c_footer_right, {'class': 'block-half'}) }}
    </div>
{% endmacro %}