{% extends 'ArmdMkResourcesBundle::layout.mk.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/armdmkresources/css/css.css') }}" />
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/armdmkresources/js/libs/jq.js') }}"></script>
	<script src="{{ asset('bundles/armdmkresources/js/plugins.js') }}"></script>
	<script src="{{ asset('bundles/armdmkresources/js/libs/html5.js') }}"></script>
	<script src="{{ asset('bundles/armdmkresources/js/js.js') }}"></script>
	<!--[if lt IE 9 ]><script src="{{ asset('bundles/armdmkresources/js/libs/ie.js') }}"></script><![endif]-->
{% endblock %}

{% block layout_content %}
    <div id='content'>
		<header>
			{{ getContainerContent('other_c_logo')|raw }}
			{% include 'ArmdMkResourcesBundle::language_switcher.html.twig' %}
			{{ getContainerContent('other_c_content_top')|raw }}
			<div class='cb'></div>
			<div id="menu_search_wrap">
				{{ getContainerContent('other_c_menu')|raw }}
				{{ getContainerContent('other_c_search')|raw }}
			</div>
		</header>
		
		{{ getContainerContent('other_c_header_bottom')|raw }}

		<div id='content-i-wide'>
			{{ getContainerContent('other_c_content')|raw }}
		</div>
	</div>
	
	<footer>
		<div class='fl'>{{ getContainerContent('other_c_footer_left')|raw }}</div>
		<div class='fr'>{{ getContainerContent('other_c_footer_right')|raw }}</div>
	</footer>

{% endblock %}