{% extends '::base.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block body %}
    <div class="blocksection w" id="f-section">
        <div class="filter checks-filter" style="width:23.7%">
            <div class="title dark-green-title title-filter">
                <h2>Фильтрация</h2>
            </div>
            <form id="atlas-filter-form" class="atlas-filter-form" action="{{ path('armd_atlas_default_filter') }}" method="POST">

                <input id="category-id" type="hidden" name="category" value="">

                <div class="simple-search">
                    <label for="ss_input">Поиск адреса</label>
                    <input type="text" class="ss-input" id="ss_input" />
                </div>

                <div class="filter-tabs">
                    <ul class="filter-tabs-titles">
                        <li class="active"><a href="#obj">Объекты</a></li>
                        <li class=""><a href="#mrsh">Маршруты</a></li>
                        <li class=""><a href="#maps">Мои карты</a></li>
                    </ul>
                    <div class="filter-tab" id="obj" style="display:block;">
                        <!-- объекты -->
                        {% for category in categories %}
                            <div class="simple-filter-block">
                                <div class="simple-filter-header clearfix">
                                    <span>{{ category.title }}</span>
                                    <p class="check_all"><span>все</span></p>
                                </div>
                                <div class="simple-filter-options">
                                    {% for tag in category.tags %}
                                        <label class="gray-checked">
                                            <span data-tag="{{ tag.id }}">{{ tag.title }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            No categories found.
                        {% endfor %}
                    </div>
                    <div class="filter-tab" id="mrsh">
                        <!-- маршруты -->
                    </div>
                    <div class="filter-tab" id="maps">
                        <!-- мои карты -->
                        <div class="filter-sub-tabs">
                            <ul class="filter-sub-tabs-titles">
                                <li class="active"><a href="#myobj">Мои объекты</a></li>
                                <li><a href="#mymrsh">Мои маршруты</a></li>
                            </ul>
                            <div class="filter-sub-tab" id="myobj" style="display:block;">
                                <ol class="filter-sub-tab-list" id="myobj_list">
                                    <li>
                                        <span>Новый объект</span>
                                        <a href="#" class="del" title="Удалить"></a>
                                        <span class="moder"></span>
                                    </li>
                                    <li>
                                        <span>Пушкинский музей</span>
                                        <a href="#" class="del" title="Удалить"></a>
                                    </li>
                                    <li>
                                        <span>Донской монастырь</span>
                                        <a href="#" class="del" title="Удалить"></a>
                                    </li>
                                    <li>
                                        <span>Московский Кремль</span>
                                        <a href="#" class="del" title="Удалить"></a>
                                    </li>
                                </ol>
                                <input id="atlas-objects-add" type="button" class="button green-button" value="Добавить объект" />
                            </div>
                            <div class="filter-sub-tab" id="mymrsh">

                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="atlas-center">
            <div class="title green-title">
                <h2>Атлас</h2>
            </div>
            <div class="atlas-map" style="margin-top:-10px;">
                <div id="map"></div>
                {# <div class="atlas-menu"></div> #}
                <div id="regions-selector" class="regions-selector">
                    <select data-placeholder="Выберите регион..." class="chzn-select">
                        <option></option>
                    </select>
                </div>
                <div id="ajax-loading" class="ajax-loading"></div>
            </div>
        </div>
    </div>

    <!-- popups -->
    <div class="add-object-form draggable" id="add-object-form">
        <a href="#" class="exit" title="Закрыть"></a>
        <form action="{{ path('armd_atlas_default_objectsadd') }}" method="POST">
            <h2>Добавление объекта</h2>
            <ul class="add-object-form-fields">
                <li>
                    <label for="name">Заголовок</label>
                    <input type="text" value="Без названия" placeholder="" id="name" />
                </li>
                <li>
                    <label for="address">Адрес</label>
                    <input type="text" value="Ломоносовский район, Москва, Россия" placeholder="" id="address" />
                </li>
                <li class="coords">
                    <div class="coords-block">
                        <label for="lat">Широта</label>
                        <input type="text" value="36.85685" id="lat" />
                    </div><div class="coords-block">
                        <label for="long">Долгота</label>
                        <input type="text" value="55.90911" id="long" />
                    </div>
                </li>
                <li>
                    <label for="descr">Описание</label>
                    <textarea name="descr" id="descr" cols="30" rows="10"></textarea>
                </li>
                <li>
                    <label for="category">Категория</label>
                    <select name="category" id="category" class="uniform">
                        <option value="1">Музей</option>
                        <option value="2">Театр</option>
                    </select>
                </li>
                <li class="add-photos">
                    <input type="file" value="Добавить фото" class="add-photos-button uniform" />
                    <p class="add-photos-note">Или перетянуть с компьютера</p>
                    <div class="added-images">
                        <div class="added-image">
                            <img src="/static/common/img/photo/obj-image.jpg" alt="" />
                        </div>
                        <div class="added-image">
                            <img src="/static/common/img/photo/obj-image.jpg" alt="" />
                        </div>
                        <div class="added-image">
                            <img src="/static/common/img/photo/obj-image.jpg" alt="" />
                        </div>
                        <div class="added-image">
                            <img src="/static/common/img/photo/obj-image.jpg" alt="" />
                            <a href="#" class="del" title="Удалить"></a>
                        </div>
                        <div class="added-image">
                            <img src="/static/common/img/photo/obj-image.jpg" alt="" />
                            <a href="#" class="del" title="Удалить"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <fieldset class="form-buttons">
                <input type="submit" class="button sbmt-btn" value="Сохранить"  />
                <input type="reset" class="button rst-btn" value="Отменить"  />
            </fieldset>
        </form>
    </div>
    <div class="add-object-form success-object-form draggable" id="success-object-form" >
        <a href="#" class="exit" title="Закрыть"></a>
        <form action="{{ path('armd_atlas_default_objectmakepublic') }}" method="POST">
            <input class="object-id" name="object_id" type="hidden"/>
            <h2>Все получилось!</h2>
            <p>Объект <b class="object-title"></b> успешно добавлен на карту.</p>
            <label class="sof-check"><input name="is_public" type="checkbox" />Добавить объект на народную карту</label>
            <p class="note">Ваш объект станет доступным для просмотра всем пользователям после прохождения <a href="#">модерации</a>.</p>
            <fieldset class="form-buttons">
                <input type="submit" class="button sbmt-btn" value="Готово"  />
            </fieldset>
        </form>
    </div>
    <!-- /popups -->

    <div id="script_block" class="script_block"></div>
    <div id="script_ad" class="script_ad" style="display:none;">
        <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.8-rc2"></script>
    </div>
    <script type="text/javascript">
        document.getElementById('script_block').appendChild(document.getElementById('script_ad'));
        document.getElementById('script_ad').style.display = 'block';
    </script>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.8.21.custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/chosen.css') }}">
    <link rel="stylesheet" href="{{ asset('static/common/css/atlas.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/atlas_new.css') }}">
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/libs/jquery-ui-1.8.22.custom.min.js') }}"></script>
    {# <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?&version=0.1.8-rc2"></script> #}
    {# <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.7"></script> #}
    {# <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.8-rc2"></script> #}
    {# <script type="text/javascript" charset="utf-8" src="http://jsapi.murzina.jsdev.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.8-rc2"></script> #}
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/common/js/jquery.uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/common/js/fancybox/jquery.fancybox.js') }}"></script>
   {# <script type="text/javascript" src="{{ asset('static/common/js/function.js') }}"></script> #}
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/atlas_new.js') }}"></script>
    <script type="text/javascript">
        var fetchMarkersUri      = '{{ path('armd_atlas_default_filter') }}',
            fetchMarkerDetailUri = '{{ path('armd_atlas_default_objectballoon') }}',
            fetchClusterDetailUri = '{{ path('armd_atlas_default_clusterballoon') }}',
            bundleImagesUri      = '{{ asset('bundles/armdatlas/images') }}';

        $(function(){
            AT.init({
                map: 'map',
                center: [97.759578,63.44936],
                zoom: 3
            });
        });
    </script>
{% endblock %}
