{% extends ':Frontend:new_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/new/jquery.ui.selectmenu.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/chosen/chosen.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('vendor/valums-file-uploader/client/fileuploader.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/atlas_new.css') }}">

    <style type="text/css">
        ul.hub-menu li a:hover {
            color: {{ palette_color_hex }};
        }
        ul.hub-menu li a.active {
            color: {{ palette_color_hex }};
        }
        .atlas-object-form-select {
            width: 298px;
        }
    </style>
{% endblock %}

{% block title %}{{ "atlas.atlas"|trans }}{% endblock %}

{% block body %}
    <div class="b-main-wrap b-post">
        <h1 class="b-left-title">
            {{ "atlas.atlas"|trans }}
        </h1>

        <ul id="filter-tabs" class="hub-menu content-tabs">
            <li>
                <a id="filter_culture_objects" href="#" class="atlas-tab-filters {% if filterType is sameas('filter_culture_objects') %}active{% endif %}">
                    {{ "atlas.culture_objects"|trans }}
                </a>
            </li>
            <li>
                <a id="filter_tourist_clusters" href="#" class="atlas-tab-filters {% if filterType is sameas('filter_tourist_clusters') %}active{% endif %}">
                    {{ "atlas.tourist_clusters"|trans }}
                </a>
            </li>
            <li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a id="filter_user_objects" href="#" class="atlas-tab-filters {% if filterType is sameas('filter_user_objects') %}active{% endif %}">
                        {{ "atlas.my_objects"|trans }}
                    </a>
                {% endif %}
            </li>
        </ul>

        <div class="marginBottom150"></div>

        <div class="search-category imagesOfRussia-search-category top340">
            <div class="search-category displayInlineBlock">
                <div id="regions-selector" class="regions-selector">
                    <select data-placeholder="{{ "atlas.choose_region"|trans }}" class="chzn-select">
                        <option></option>
                        {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="simple-search displayInlineBlock atlas-simple-search-address">
                <input type="text" class="ss-input" id="ss_input" placeholder="{{ "atlas.address"|trans }}" />
            </div>
        </div>

        <div id="news-items-list">
            <div class="atlas-map">
                <div class="bar bar-top"></div>
                <div class="bar bar-right"></div>
                <div class="bar bar-bottom"></div>
                <div class="bar bar-left"></div>

                <div id="map"></div>
                <div id="ajax-loading" class="ajax-loading"></div>
            </div>
        </div>
    </div>

    {{ include('ArmdAtlasBundle:Default:index_hub_popups.html.twig') }}

    <!-- BEGIN: Async jsapi load -->
    <div id="script_block" class="script_block"></div>
    <div id="script_ad" class="script_ad displaNone">
        <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.8"></script>
    </div>
    <script type="text/javascript">
        document.getElementById('script_block').appendChild(document.getElementById('script_ad'));
        document.getElementById('script_ad').style.display = 'block';
    </script>
    <!-- END: Async jsapi load -->
{% endblock %}

{% block sidebar %}
    <div id="atlas-side-tabs" class="marginTop225">
        <div id="culture-objects-tab" data-type="filter_culture_objects" class="ajax-filter-tabs atlas-side-tab">
            {% render url('armd_atlas_ajax_filters', { 'typeTab': 'filter_culture_objects' }) %}
        </div>

        <div id="tourist-clusters-tab" data-type="filter_tourist_clusters" class="ajax-filter-tabs atlas-side-tab">
            {% render url('armd_atlas_ajax_filters', { 'typeTab': 'filter_tourist_clusters' }) %}
        </div>

        <div id="user-objects-tab" data-type="filter_user_objects" class="filter-sub-tab atlas-side-tab">
            <input id="atlas-objects-add" type="button" class="button atlas-add-object-button" value="{{ "atlas.object.add"|trans }}" />

            <div class="profile-help_text">
                В этом разделе вы можете добавить на карту новый объект культуры.
                <ol>
                    <li>Для этого нажмите кнопку «Добавить».</li>
                    <li>Выберите на карте место расположения объекта.</li>
                    <li>В появившемся окне введите точный адрес или координаты точки.</li>
                    <li>Заполните остальные поля.</li>
                    <li>Загрузите фото.</li>
                    <li>Вы можете изменить информацию об объекте во вкладке "Мои объекты".</li>
                </ol>
                Объект будет доступен всем пользователям портала Культура.рф после модерации.
            </div>

            <div id="atlas-objects-add-hint">{{ "atlas.click_map"|trans }}</div>

            <ol class="filter-sub-tab-list" id="myobj_list"></ol>

            <!-- template -->
            <script id="myobj_list_template" type="text/x-jquery-tmpl">
                <li data-id="${id}">
                    <span>${title}</span>
                    <a class="del" href="#" title="{{ "atlas.delete"|trans }}"></a>
                    <div class="moder status${status}" title="${statusTitle}" data-reason="${reason}">
                        <span>${status}</span>
                    </div>
                    <ins class="edit" title="Редактировать"></ins>
                </li>
            </script>
            <!-- /template -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/new/jquery.ui.selectmenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery.tmpl.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/chosen/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/ajaxchosen/ajax-chosen.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/valums-file-uploader/client/fileuploader.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/damediaatlasjsmodule/js/module.atlas.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.chzn-select').chosen();

            ATLAS_MODULE.init({
                objectId: '{{ objectId }}',
                pgMap: {
                    placeholderId: 'map',
                    locale: '{{ app.request.locale }}',
                    mapClusterImagesUrl: '{{ asset('bundles/armdatlas/images') }}'
                },
                locationFinderAc: {
                    placeholderId: 'ss_input'
                },
                filterTabs: {
                    tabs_placeholderId: 'filter-tabs',
                    filters_placeholderId: 'atlas-side-tabs'
                }
            });
        });
    </script>
{% endblock %}