{# Шаблон для атласа #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}Добро пожаловать!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css">
        <link href="{{ asset('bundles/armdatlas/common/css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />
        {#<link href="{{ asset('bundles/armdatlas/common/css/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet" type="text/css" media="screen" />#}
    {% endblock %}

</head>
<body>

    <div id="header" class="w">
        <a href="#" id="logo"></a>
        <div id="top">
            <ul class="topmenu">
                <li class="first"><a href="#">Культура от А до Я</a></li>
                <li><a href="{{ asset('bundles/armdatlas/common/img/screen/government_service.png') }}">Государственные услуги</a></li>
                <li><a href="{{ asset('bundles/armdatlas/common/img/screen/news.png') }}">Пресс-центр</a></li>
            </ul>
            <div id="topbar">
                <span class="special-vers"><a href="{{ asset('bundles/armdatlas/common/img/screen/special-vers.jpg') }}">Версия для слабовидящих</a></span>
                <a href="#" class="lang-swith cur">рус</a>
                <a href="#" class="lang-swith">eng</a>
            </div>
        </div>
    </div>
    <div id="nav" class="w">
        <ul class="navmenu">
            <li class="first"><a href="#">Атлас</a></li>
            <li><a href="{{ asset('bundles/armdatlas/common/img/screen/timeline.png') }}">Лента времени</a></li>
            <li><a href="{{ asset('bundles/armdatlas/common/img/screen/culture_trans.jpg') }}">Трансляции</a></li>
            <li><a href="{{ asset('bundles/armdatlas/common/img/screen/culture-lec.jpg') }}">Лекции</a></li>
            <li><a href="http://mk2.dev.armd.ru/best/">Обсуждения</a></li>
        </ul>
        <div id="auth">
            <a id="auth-link" href="{{ asset('bundles/armdatlas/common/img/screen/culture_profile.png') }}"><span>Личный кабинет</span></a>
        </div>
    </div>
    <div id="search" class="w">
        <form id="formsearch" name="search" method="get">
            <table class="formsearch-width-type">
                <tr>
                    <td width="1">
                        <div class="search-type search-type-green">
                            ПОИСК ПО АТЛАСУ
                            <a href="#" class="close-search-type">x</a>
                        </div>
                    </td>
                    <td>
                         <div id="searcher">
                            <input type="text" id="i-searcher" />
                        </div>
                        <input type="image" src="{{ asset('bundles/armdatlas/common/img/search-btn.png') }}" id="i-searchbtn" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    {% block body %}
    {% endblock %}

    <div id="footer" class="w">
        <div id="contacts">
            &copy; Портал культурного наследия России
            <br/>
            <a href="#">О проекте</a>&nbsp;/&nbsp;<a href="#">Контактная информация</a>
        </div>
        <div id="socialnetwork">
            Рассказать о портале
            <div id="i-socialnetwork">
                <img src="{{ asset('bundles/armdatlas/common/img/socialnetwork.png') }}" />
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/jquery.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
        {#<script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/jquery-ui-1.8.21.custom.min.js') }}"></script>#}
        {#<script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/jquery.ui.datepicker-ru.js') }}"></script>#}
        <script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/jquery.galleriffic.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/function.js') }}"></script>
    {% endblock %}

</body>
</html>