{% extends 'ArmdAtlasBundle:Default:layout.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block body %}
    <form id="atlas-form" action="{{ path('armd_atlas_default_objects') }}" method="post">
        <table class="map-ui">
            <tr>
                <td class="left-col">

                    <!-- #geocoder -->
                    <div id="geocoder" class="geocoder">
                        <div class="search-box">
                            <input class="search" name="q" type="text">
                            <button class="submit" type="submit">Find</button>
                        </div>
                        <div class="result-box">
                        </div>
                    </div>
                    <!-- /#geocoder -->

                    <!-- #filter -->
                    <div id="filter">
                        <div>
                            <h3><a href="#">Объекты культурного наследия</a></h3>
                            <div>
                                <ul>
                                    <li><input name="category[1]" type="checkbox">Памятники</li>
                                    <li><input name="category[2]" type="checkbox"name="ch1"><label for="ch1">Архитектура</label>
                                        <ul>
                                            <li><input name="category[3]" type="checkbox">Светская</li>
                                            <li><input name="category[4]" type="checkbox">Религиозная</li>
                                        </ul>
                                    </li>
                                    <li><input name="category[5]" type="checkbox">Природа</li>
                                    <li><input name="category[6]" type="checkbox">Другое</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <h3><a href="#">Музеи</a></h3>
                            <div>Phasellus mattis tincidunt nibh.</div>
                        </div>
                        <div>
                            <h3><a href="#">Учреждения</a></h3>
                            <div>Nam dui erat, auctor a, dignissim quis.</div>
                        </div>
                    </div>
                    <!-- /#filter -->

                </td>
                <td class="right-col">
                    <div id="map"></div>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/atlas_new.css') }}">
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.7"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/atlas_new.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            AT.init({
                map: 'map',
                center: [37.648527, 55.723211],
                zoom: 10
            });
        });
    </script>
{% endblock %}