{% extends ':Frontend:base.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block title %}
    {{ entity.seoTitle|default(entity.title) }} &mdash; {{ parent() }}
{% endblock %}

{% block meta_keywords %}
    {{ entity.seoKeywords|default('') }}
{% endblock %}

{% block meta_description %}
    {{ entity.seoDescription|default('') }}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block opengraph %}
    <meta property="og:title" content="{{ entity.title }}" />
    <meta property="og:description" content="{{ entity.russiaImageAnnounce|striptags }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    {% if entity.primaryImage is not empty %}
        <meta property="og:image" content="{% path entity.primaryImage, 'reference' %}" />
    {% elseif entity.images|length > 0 %}
        <meta property="og:image" content="{% path entity.images[0], 'imagesOfRussia' %}" />
    {% endif %}
{% endblock %}


{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    <link href="{{ asset('/css/print.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    <script type="text/javascript">
        window.onload = function() {
            window.print();
        }
    </script>
{% endblock %}


{% block page_header %}
    <div class="print-header">
        <table>
            <tr>
                <td class="print-header-logo">
                    <img src="{{ asset('/img/print-logo-new.png') }}" alt="" class="logo" />
                </td>
                <td class="print-header-no-menu">
                    <div class="print-header-title">
                        <h2>Образы России</h2>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block body%}
    

    <div class="news-press clearfix">
        <div class="news-press-center">
            

            <div class="news-one text">
                
                <h1 class="big-h1">{{ entity.title|raw }}</h1>

                {% if entity.images|length > 0 %}
                    {% for h in entity.images %}
                        {% if loop.index == 1 %}
                            <div class="news-one-image atlas-one-image">
                                <img src="{% path h, 'atlasW613' %}" alt="" />
                            </div>
                         {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="block">
        <article class="static-block contacts-block">

            <h2>{{"contact_info"|trans}}</h2>

            <!-- map -->
            {#<img src="/images/contacts.jpg" alt="" class="block-image">#}
            <!-- /map -->

            <div class="block-text">
                        <p><b>{{ entity.title|raw }}</b></p>
                        {% if entity.address %}<p>{{"atlas.address"|trans}}: {{ entity.address }}</p>{% endif %}
                        {% if entity.siteUrl or entity.email or entity.phone %}<p>{% endif %}
                        {% if entity.siteUrl %}{{"website"|trans}}: <a target="_blank" href="{{ entity.siteUrl }}">{{ entity.siteUrl }}</a><br/>{% endif %}
                        {% if entity.email %}{{"email"|trans}}: {{ entity.email }}<br/>{% endif %}
                        {% if entity.phone %}{{"phone"|trans}}: {{ entity.phone }}<br/>{% endif %}
                        {% if entity.siteUrl or entity.email or entity.phone %}</p>{% endif %}
                        <p>
                            {% if entity.workTime is not empty %}
                                {{"visiting_hours"|trans}}:
                                {{ entity.workTime }}
                            {% endif %}
                            {% if entity.weekends|length > 0 %}
                                <br/>{{"weekends"|trans}}:
                                {% for day in entity.weekends %}
                                    {{ day.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                {{"without_holidays"|trans}}
                            {% endif %}
                        </p>
                    </div>

                </article>
            </div>
            <div class="clear"></div>
                
                <p class="highlight-text">
                    {{ entity.russiaImageAnnounce|raw }}
                </p>

                {{ entity.content|raw }}

                

            </div>
        </div>
    </div>
{% endblock %}


{% block bottom_blocks%}
    &nbsp;
{% endblock %}

{% block main_footer%}
    <div class="w" id="footer">
        <table class="print-footer-table">
            <tr>
                <td class="footer-logo">
                    <a href="http://mkrf.ru/" target="_blank"><img src="{{ asset('/img/print-footer-logo.png') }}" alt="logo" />
                    {{ 'Ministry of Culture'|trans }}<br />{{ 'Russian Federation'|trans }}</a>
                </td>
                <td class="footer-copy">
                    <p>{{ 'Copyright'|trans }}</p>
                </td>
            </tr>
        </table>
        <div >
            
        </div>
    </div>
{% endblock %}
