{% extends ':Frontend:layout_two_column.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block title %}
    {{ entity.seoTitle|default(entity.title) }} &mdash; {{ parent() }}
{% endblock %}

{% block meta_keywords %}
    {{ entity.seoKeywords|default('') }}
{% endblock %}

{% block meta_description %}
    {{ entity.seoDescription|default('') }}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block opengraph %}
    <meta property="og:title" content="{{ entity.title }}" />
    <meta property="og:description" content="{{ entity.russiaImageAnnounce|striptags }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    {% if entity.primaryImage is not empty %}
        <meta property="og:image" content="{% path entity.primaryImage, 'reference' %}" />
    {% elseif entity.images|length > 0 %}
        <meta property="og:image" content="{% path entity.images[0], 'imagesOfRussia' %}" />
    {% endif %}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block page_header_title %}
    {{ "atlas.atlas"|trans }}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block page_header_search %}
    <div class="search-category">
        <div id="regions-selector" class="regions-selector">
        </div>
    </div>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .content.collapsed{ height:200px; overflow:hidden; }
        .fancybox-video-wrapper iframe{ display:block; }
    </style>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>

    <script type="text/javascript">
        $(function () {
            initUi();
            initFancybox();
            initSlider();
            initYandexShare();

//            $('.gallery').show();
        });


        function initUi() {
            $('.more3').click(function(){
                $('#content-collapsed').removeClass('collapsed');
                $(this).hide();
                return false;
            });
        }

        function initFancybox() {
            $('.fancybox').fancybox({
                prevEffect: 'none',
		        nextEffect: 'none'
            });

            $('.zoom-fancybox').fancybox({
                 autoResize:true,
                 afterShow:function ()
                 {
                     var innerWidth = $('.fancybox-inner').width();
                     var innerHeight = $('.fancybox-inner').height();

                     var newContent = $('<a id="zoom" href="{% path entity.image3d, 'reference' %}"><img class="zoom-img" src="{% path entity.image3d, 'reference' %}" height="' + innerHeight + '"></img></a><div class="info-line"><a href="{% path entity.image3d, 'reference' %}" target="_blank">Скачать</a><a href="{% path entity.image3d, 'reference' %}" id="fancy_print">Распечатать</a></div>');
                     $('.fancybox-inner').html(newContent);
                     $('#zoom').jqzoom({
                         zoomType:'innerzoom',
                         lens:false,
                         title:false,
                         preloadImages:false,
                         alwaysOn:false
                     })

                     $('#fancy_print').bind("click", function ()
                     {
                         var win = null;
                         var content = $('#zoom');
                         win = window.open("width=200,height=200");
                         self.focus();
                         win.document.open();
                         win.document.write('<' + 'html' + '><' + 'head' + '><' + 'style' + '>');
                         win.document.write('body, td { font-family: Verdana; font-size: 10pt;}');
                         win.document.write('<' + '/' + 'style' + '><' + '/' + 'head' + '><' + 'body' + '>');
                         win.document.write(content.html());
                         win.document.write('<' + '/' + 'body' + '><' + '/' + 'html' + '>');
                         win.document.close();
                         win.print();
                         win.close();

                         return false;
                     }); // bind

                 }
             });
        }

        function initSlider() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: false,
                slideshow: false
            });


            $('#thumbs-slider').flexslider({
                animation: "slide",

                slideshow: false,
                itemWidth: 75,
                itemMargin: 5,
                asNavFor: '#image-slider'
            });

            $('#image-slider').flexslider({
                animation: "slide",

                slideshow: false,
                sync: "#thumbs-slider"
            });

        }

        function initYandexShare() {
            new Ya.share({
                element: 'yandex-share',
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                link: '{{ url('armd_atlas_default_object_view', { 'id': entity.id }) }}',
                title: '{{ entity.title }}',
                description: '{{ entity.announce|striptags }}'
            });
        }
    </script>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block left_column %}

    <h1 class="obraz-header">{{ entity.title }}</h1>

    <!-- Photo gallery -->
    {% if entity.images|length > 0 %}
        <div class="gallery"> <!--  style="display: none" -->
            <div id="image-slider">
                <ul class="slides image-slider">
                    {% for h in entity.images %}
                        <li>
                            <a class="fancybox" rel="slider" href="{% path h, 'reference' %}">
                                <img src="{% path h, 'atlasW613' %}" alt="" />
                            </a>
                            <div class="image-stats">
                                {#<a href="#" class="image-code-link">Код для вставки</a>#}
                                <p>
                                    <span><b>{{ loop.index }}</b> из {{ entity.images|length }}</span>  /
                                    <a href="{% path h, 'reference' %}" target="_blank">Сохранить оригинальное фото {#<i>(784 мб.)</i>#}</a>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="thumbs-slider">
                <ul class="slides thumbs-slider">
                    {% for h in entity.images %}
                        <li>
                            <div class="thumb-image-wrap">
                                <img src="{% path h, 'atlasW63H56' %}" alt="" />
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <!-- /Photo gallery -->

    <!-- Content -->
    <div class="content-anons">
        {{ entity.russiaImageAnnounce|raw }}
    </div>
    <div id="content-collapsed" class="content {% if entity.content is not empty %}collapsed{% endif %}">
        {{ entity.content|raw }}
    </div>
    {% if entity.content is not empty %}
        <div class="more more3">
            <p><a href="#">Читать дальше</a></p>
        </div>
    {% endif %}
    <!-- /Content -->

    <div class="block small-block clearfix">
        <h2><span>Рекомендуем</span></h2>
        {{ block('rec_plitka') }}
    </div>

    <!-- Page service -->
    <div class="back-link"><p><a href="{{ referer }}">Назад</a></p></div>{#{ path('armd_atlas_index') }#}
    <div class="event-one_footer clearfix">
        {#<div class="print-link" href="#"><a href="#"></a> Распечатать материал: </div>#}
        <div class="publish-links" href="#">Опубликовать в социальных сетях: <span id="yandex-share"></span></div>
    </div>
    <!-- /Page service -->

{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block right_column %}

    <!-- Virtual tour -->
    {% if entity.virtualTours|length > 0 %}
    <div class="block">
        <section class="static-block first-obraz-block">
            <h2>{{ "virtual_tour"|trans }}</h2>

            {% for virtualTour in entity.virtualTours if loop.first %}
                <a href="{{ virtualTour.url }}" data-fancybox-type="iframe" class="virt-tour-anons vob iframe">
                    {#<img src="/images/virt-tour.jpg" alt="" />#}
                    <img src="{% path virtualTour.image, 'reference' %}" alt="" width="280" />
                    <span class="virt-tour-anons-over"></span>
                </a>
            {% endfor %}

        </section>
    </div>
    {% endif %}
    <!-- /Virtual tour -->

    <!-- Infographics -->
    {% if entity.image3d %}
        <div class="block">
            <section class="static-block">
                <h2>Инфографика</h2>
                <a href="{% path entity.image3d, 'reference' %}" class="inf-anons zoom-fancybox">
                    <img width="280" src="{% path entity.image3d, 'image3d' %}" alt=""/>
                </a>
            </section>
        </div>
    {% endif %}
    <!-- /Infographics -->

    <!-- Video -->
    {% if entity.videos|length > 0 %}
        <div class="block object-videos">

            {% for video in entity.videos if loop.first %}
                <div class="block">
                    <article class="static-block video-block">
                        <h2>Видео</h2>
                        <a class="block-image fancybox" href="#data-{{ loop.index }}">
                            <img style="max-width: 100%;" src="{{ video.image }}" alt=""  />
                            <span class="play"></span>
                        </a>
                        {#<div class="block-text">#}
                            {#<p>#}
                                {#Народное творчество#}
                            {#</p>#}
                        {#</div>#}
                    </article>
                </div>
                <div id="data-{{ loop.index }}" style="display: none;">
                    <div class="fancybox-video-wrapper" style="width:640px; height:365px;">
                        {{ armd_tvigle_video_player(video, 640, 360)|raw }}
                    </div>
                </div>
            {% endfor %}

            {% if false %}
                <p class="link_header"><a {#href="#"#} style="border:none;">{{"video"|trans}}</a><!--<sup>207</sup></p>-->
                <ul class="object-video-list">
                    {% for video in entity.videos %}
                        <li class="object-video-list-one">
                            <div class="object-video-list-image">
                                <a class="in-fancybox" href="#data-{{ loop.index }}">

                                    <img src="{{ video.image }}" alt=""/>

                                    <div class="title-video">{{ video.title }}</div>

                                </a>


                                <div style="display:none;">

                                    <div id="data-{{ loop.index }}">
                                        <div class="fancybox-video-wrapper">
                                            {{ armd_tvigle_video_player(video, 640, 360)|raw }}
                                        </div>
                                    </div>

                                </div>

                            </div>
                            {# <div class="object-video-list-descr">
                                 <span class="ovl-date">{{ video.durationString }}</span>
                                 <p class="object-video-header"><a class="in-fancybox" href="#data-{{ loop.index }}">{{ video.title }}</a></p>
                                 <p>
                                     {{ video.description }}
                                 </p>
                             </div> #}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    {% endif %}
    <!-- /Video -->

    <!-- Archives -->
    {% if entity.archiveImages|length > 0 %}
        <div class="block">
            <section class="static-block object-archives">
                <h2>Архивы</h2>
                <div class="flexslider">
                    <ul class="slides">
                        {% for h in entity.archiveImages %}
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="{% path h, 'reference' %}">
                                        <img src="{% path h, 'reference' %}" alt="" class="period-block_image" />
                                    </a>
                                    <div class="period-block_text">
                                        <p><b>{{ h.title|default('archive_document'|trans) }}</b></p>
                                        <p>{{ h.description }}</p>
                                    </div>
                                    <div class="period-block_footer"></div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    {% endif %}
    <!-- /Archives -->

    <!-- Contacts -->
    <div class="block">
        <article class="static-block contacts-block">

            <h2>{{"contact_info"|trans}}</h2>

            <!-- map -->
            {#<img src="/images/contacts.jpg" alt="" class="block-image">#}
            <!-- /map -->

            <div class="block-text">
                <p><b>{{ entity.title|raw }}</b></p>
                {% if entity.address %}<p>{{"atlas.address"|trans}}: {{ entity.address }}</p>{% endif %}
                {% if entity.siteUrl or entity.email or entity.phone %}<p>{% endif %}
                {% if entity.siteUrl %}{{"website"|trans}}: <a target="_blank" href="{{ entity.siteUrl }}">{{ entity.siteUrl }}</a><br/>{% endif %}
                {% if entity.email %}{{"email"|trans}}: {{ entity.email }}<br/>{% endif %}
                {% if entity.phone %}{{"phone"|trans}}: {{ entity.phone }}<br/>{% endif %}
                {% if entity.siteUrl or entity.email or entity.phone %}</p>{% endif %}
                <p>
                    {% if entity.workTime is not empty %}
                        {{"visiting_hours"|trans}}:
                        {{ entity.workTime }}
                    {% endif %}
                    {% if entity.weekends|length > 0 %}
                        <br/>{{"weekends"|trans}}:
                        {% for day in entity.weekends %}
                            {{ day.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        {{"without_holidays"|trans}}
                    {% endif %}
                </p>
            </div>

        </article>
    </div>
    <!-- /Contacts -->

{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block rec_plitka %}
    {% if relatedObjects is not empty %}
        <ul class="plitka rec-plitka">
            {% for object in relatedObjects %}
                <li class="plitka-one-wrap">
                    <div class="plitka-one">
                        {% if object.regions is not empty %}
                            <a class="plitka-type" href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}">{{ object.regions[0].title }}</a>
                        {% endif %}
                        <a href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}">
                            {% thumbnail object.primaryImage, 'searchAllResult' with { 'class': 'plitka-image' } %}
                            {#<img alt="" class="plitka-image" src="">#}
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name"> <a href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}" class="no-decoration">{{ object.title }}</a> </span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
