{% extends '::base.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block body %}
    {% if entity is empty %}
        Объект не найден
    {% else %}
        
            <div class="title-block with-social"  >
                <h2>{{ entity.title }}</h2>
            </div>
          {#  <div class="title-social-icons">
                <img src="{{ asset('bundles/armdatlas/common/img/social_icons.jpg') }}" alt="" />
            </div>#}
            <div class="object-one clearfix">
                <div class="object-one-col12">

                    {% if entity.images|length > 0 %}
                    <div class="block obj-o-foto">
                       {# <div class="right-icons-block">
                            <a href="#" class="one-person"></a>
                            <a href="#" class="three-persons"></a>
                        </div>#}
                        <p class="link_header"><a href="#">Фото</a><!--<sup>234</sup></p>-->

                        <div class="slideshow-container">
                            <div id="slideshow" class="slideshow"></div>
                        </div>

                        <div class="navigation-container">
                            <div id="thumbs" class="navigation">
                                <a class="pageLink prev"  href="#" title="Previous Page"><span></span></a>

                                <ul class="thumbs noscript">
                                    {% for image in entity.images %}
                                    <li>
                                        <a class="fancy" href="{% path image, 'reference' %}" title="image.name">&nbsp;</a>
                                        <a class="thumb" name="leaf" href="{% path image, 'big' %}" title="{{ image.name }}">
                                            <img src="{% path image, 'thumbnail' %}" />
                                        </a>										
										{#<a class="fancy" href="{{ path('sonata_media_download', {'id': image.id}) }}/{{ image }}">&nbsp;</a>#}                                        
                                    </li>
                                    {% endfor %}
                                </ul>
                                <a class="pageLink next"  href="#" title="Previous Page"><span></span></a>
                            </div>
                        </div>
                        <p class="all-list"><a href="#">Все фото</a></p>
                    </div>
                    {% endif %}

                   <div class="object-one-text content">
						<h1>{{ entity.title }}</h1>
						<big>{{ entity.announce }}</big>
						<div class="content-text">
							{{ entity.content }}
						</div>	
						
				   </div>
					{# <div class="literature">
						<p class="lit-header">Использованная литература</p>
						<ol>
							<li>
								<span>Бродянский Д.Л. Искусство древнего Приморья (каменный век —палеометалл). 
								— Владивосток: изд-во Дальневосточного университета, 2002.
								</span>						
							</li>
							<li>
								<span>Горнова М.И. Рекомендации по сохранению ландшафтов археологического
							памятника «Петроглифы Сикачи-Аляна». — Хабаровск: 2000.</span>
							</li>
							<li>
								<span>
									Окладников А.П. Утро искусства. — Л.: Искусство, 1967.
								</span>
							</li>
							<li>
								<span>
									Окладников А.П. Лики Древнего Амура. Петроглифы Сикачи-Аляна. —
Новосибирск: Западно-Сибирское книжное изд-во, 1968.
								</span>
							</li>
						</ol>
					</div> #}
				   
				   <div class='afisha-list-more' id="more-show">Комментарии</div>
				   <div class="more-comments-show" style="display:none;">  
						<div class="comments comments-gray clearfix">
							{#<div class="comments-block">
								<div class="comment">
									Описание лекции вступление  Уже в апреле 1896 года, через 4 месяца после первых парижских кинематографических сеансов, в России появляются первые кинематографические аппараты.
								</div>
								<div class="comment-author">
									<p>Сергей <span class="comment-date">3 мес. назад</span></p>
								</div>
							</div>
							<div class="comments-block">
								<div class="comment">
									Описание лекции вступление  Уже в апреле 1896 года, через 4 месяца после первых парижских кинематографических сеансов, в России появляются первые кинематографические аппараты.
								</div>
								<div class="comment-author">
									<p>Сергей <span class="comment-date">3 мес. назад</span></p>
								</div>
							</div>#}
							<form action="" class="comments-form">
								<textarea name="" id="" cols="30" rows="10" placeholder="Оставить комментарий"></textarea>
								<input type="submit" value="Отправить" class="button" />
							</form>
						</div>
				   </div>
				   
                </div>

                <div class="object-one-col3">
                    <div class="block obj-o-description">
                       {# <h1>{{ entity.title }}</h1>
                        <p>
                            {{ entity.content|raw }}
                        </p> #}
                        <div class="virtual-tour">
                            <a href="{{ entity.virtualTour }}" class="virtual-overflow-block">Виртуальный тур</a>
                            {#<div class="panowrap" style="display:none;">#}
                                {#<div id="panoDIV" class="panoDIV">#}
                                    {#<script>#}
                                        {#embedpano({target:"panoDIV",swf:"/uploads/museum/glinka/virtualtour.swf", xml:"/uploads/museum/glinka/virtualtour.xml", width:"100%",height:"100%",allowFullScreen:"true"});#}
                                    {#</script>#}
                                    {#<noscript>#}
                                            {#<div id="tour">#}
                                                    {#<object width="100%" height="100%">#}
                                                            {#<embed src="/uploads/museum/glinka/virtualtour.swf" width="100%" height="100%" allowFullScreen="true">#}
                                                            {#</embed>#}
                                                    {#</object>#}
                                            {#</div>#}
                                    {#</noscript>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                        <p class="all-list"><a href="/main/virtual_museums.html">Все виртуальные туры</a></p>

                    </div>

                    <div class="block obj-o-contacts">
                       {# <div class="obj-o-map">
                            <a href="#" class="open-big-green"></a>
                            <img src="{{ asset('bundles/armdatlas/common/img/photo/obj-map.jpg') }}" alt="" />
                        </div>#}
                        <div class="obj-o-contacts-text" style="margin-top:0">
                            <p class="obj-o-contacts-header">
                                Контакты
                            </p>
                            <p class="obj-o-contacts-main">
                                {% if entity.address %}{{ entity.address }}<br />{% endif %}
                                {% if entity.siteUrl %}Сайт: <a target="_blank" href="{{ entity.siteUrl }}">{{ entity.siteUrl }}</a><br />{% endif %}
                                {% if entity.email %}Email: {{ entity.email }}<br />{% endif %}
                                {% if entity.phone %}Телефон: {{ entity.phone }}<br />{% endif %}
                            </p>

                            <p>
                                {% if entity.workTime is not empty %}
                                    <b>Музей открыт:</b>
                                    {{ entity.workTime }}<br/>
                                {% endif %}

                                {% if entity.weekends|length > 0 %}
                                    Выходные:
                                    {% for day in entity.weekends %}
                                    {{ day.name }}{% if not loop.last %}, {%endif%}
                                    {% endfor %}
                                {% else %}
                                    без выходных дней
                                {% endif %}
                            </p>

                        </div>
                    </div>
					
					{% if entity.videos is empty %}
						{% else %}
						<div class="block object-videos">
                           {# <div class="right-icons-block">
                                <a href="#" class="one-person"></a>
                                <a href="#" class="three-persons"></a>
                            </div>#}

                            {% if entity.videos|length > 0 %}
                            <p class="link_header"><a {#href="#"#} style="border:none;">Видео</a><!--<sup>207</sup></p>-->
                            <ul class="object-video-list">
                                {% for video in entity.videos %}
                                <li class="object-video-list-one">
                                    <div class="object-video-list-image">
                                    <a class="in-fancybox" href="#data-{{ loop.index }}"><img src="{{ video.image  }}" alt="" style="width:91px;" /></a>
                                      <div style="display:none;">
                                      
                                      <div id="data-{{ loop.index }}">
                                      <div class="fancybox-video-wrapper" style="width:640px; height:360px;">
                                      {{ armd_tvigle_video_player(video, 640, 360)|raw }}
                                      </div>
                                      </div>
                                      
                                      </div>

                                    </div>
                                    <div class="object-video-list-descr">
                                        <span class="ovl-date">{{ video.durationString }}</span>
                                        <p class="object-video-header"><a class="in-fancybox" href="#data-{{ loop.index }}">{{ video.title }}</a></p>
                                        <p>
                                            {{ video.description }}
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                           {# <p class="all-list"><a href="#">Все видео</a></p> #}
                        </div>
						
						{% endif %}	

						
						{% if entity.image3d %}
							<div class="block object-infograph">
								<a href="{{ path('sonata_media_download', {'id': entity.image3d.id}) }}/{{ entity.image3d }}" class="in-fancybox open-big-orange"></a>
								<img src="{% path entity.image3d, 'image3d' %}" alt="" />
							</div>
						{% endif %}	
						
						
						<div class="block object-archives">
                            {#<div class="right-icons-block">
                                <a href="#" class="one-person"></a>
                                <a href="#" class="three-persons"></a>
                            </div>#}

                            <p class="link_header"><a {#href="#"#} style="border-bottom:none;">Архивы</a><!--<sup>207</sup>--></p>
                            <ul class="object-archive-list">
                            {% for h in entity.archiveImages %}
								<li>
                                <a href="{{ path('sonata_media_download', {'id': h.id}) }}/{{ h }}" class="in-fancybox">Архивный документ №{{ loop.index }}</a>
							
									<span>
										{{ h.description }} 
									</span>
								</li>
                                {% endfor%}
								
                            </ul>
							
							
                           {# <p class="all-list"><a href="#">Все архивы</a></p> #}
                        </div>
                        
                        
                        {% if entity.objectHints|length > 0 %}
                        <div class="block rules">
                        
                        

                        	<h4><em>Пять правил</em>,которые нужно знать при осмотре петроглифов <span class="bullet">↓</span></h4>
                            
                            <div class="sliderkit">
                            <div class="">
                            <div class="rules-content sliderkit-panels">
                            
                            {% for h in entity.objectHints %}
                            	<div class="sliderkit-panel">
							{#{ h.title }#}
                               {{ h.hintText }}
                                </div>
                              {% endfor%}  
	
                            </div> <!--rules-content -->
                            
                            
                            <div class="rules-nav">
                              	<div class="rules-nav-wrapper sliderkit-count sliderkit-count-items">
                                
                                 
                                
                                <a href="#" class="prev sliderkit-btn sliderkit-go-btn sliderkit-go-prev">←</a>
                                <span class="active sliderkit-count-current">1</span>/<span class="total sliderkit-count-total">5</span>
                                <a href="#" class="next sliderkit-go-btn sliderkit-go-next">→</a>
                                </div><!-- /rules-nav-wrapper -->
                            
                            </div>  <!-- /rules-nav -->
                            
                             </div>  <!-- /sliderkit-panels -->
                            
                            </div>  <!-- /sliderkit -->
                           
                            
                            
                            
                        </div> <!-- /rules -->
                        
                        {% endif %}	
						

                    {#
                    <div class="block object-news">
                        <p class="link_header"><a href="#">Новости</a></p>
                        <ul class="block-news-list">
                            <li>
                                <span class="bnl-date">19 Июля / 2012</span>
                                <p class="bnl-header"><a href="#">Ростовское действо</a></p>
                                <p>
                                    II Международный фестиваль монастырской культуры «РОСТОВСКОЕ ДЕЙСТВО» пройдёт в Государственном музее-заповеднике «Ростовский кремль» в год празднования 1150-летия российской государственности и 1150-летнего юбилея Ростова Великого.
                                </p>
                            </li>
                            <li>
                                <span class="bnl-date">18 Июля / 2012</span>
                                <p class="bnl-header"><a href="#">«Прикосновение к вечности...»</a></p>
                                <p>
                                Выставка копий фресок XVII века Ростовского кремля по итогам практики студентов Московского государственного академического художественного института им. В.И. Сурикова.

                                </p>
                            </li>
                            <li>
                                <span class="bnl-date">17 Июля / 2012</span>
                                <p class="bnl-header"><a href="#">«Три сословия Ростова Великого»</a></p>
                                <p>
                                    Говоря о Ростове 19 века, мы в первую очередь называем его городом купеческим. Однако, судя по документам, купечество составляло в это время 8% его населения. А кто же были остальные 92% жителей Ростова?
                                </p>
                            </li>
                        </ul>
                        <p class="all-list"><a href="#">Все новости</a></p>
                    </div>
                    #}
                </div>
            </div>
        
    {% endif %}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/common/css/sm.css') }}">
    <style>
        #nav{
            margin: 0 auto 20px;
        }
    </style>
 
   <link href="{{ asset('/css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
   <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/atlas_new.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('js/libs/fancybox/jquery.fancybox.css') }}" media="screen" />
	
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.7"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/jquery.galleriffic.js') }}"></script>
   
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/atlas_new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/libs/fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/function.js') }}"></script>
	<script src="/swf/swfobject/swfkrpano.js"></script>
    <script type="text/javascript">
        $(function(){
            {% if entity is not empty %}
            /*AT.init({
                map: 'map',
                center: [{{ entity.lon }}, {{ entity.lat }}],
                zoom: 10
            });

            var point = new PGmap.Point({
                coord: new PGmap.Coord({{ entity.lon }}, {{ entity.lat }}, true)
            });
            AT.map.geometry.add(point);*/
            {% endif %}
			
//			if ($('.virtual-overflow-block').length){
//				$('.virtual-overflow-block').fancybox();
//			}
			
			$('.panoDIV').css({'width':$(window).width() - 100, 'height':$(window).height() - 200});
			
			$(window).resize(function(){
				$('.panoDIV').css({'width':$(window).width() - 100, 'height':$(window).height() - 200});
		
			})
			$('#more-show').click(function(){
				$(this).next('div').toggle();
			})
			
        });
    </script>
{% endblock %}
