<div class="bubble">
    {% for image in entity.images if loop.first %}
        <div class="bubble_image">
            <a class="thumb" href="{% path image, 'big' %}">
                <img src="{% path image, 'thumbnail' %}" />
            </a>
        </div>
    {% endfor %}
    <div class="bubble_content">
        <div class="caption">
            <a href="{{ path('armd_atlas_default_object_view', { id:entity.id }) }}">
                {{ entity.title }}
            </a>
        </div>
        <div class="text">
            {{ entity.announce|raw }}
        </div>
        {% if not entity.images|length %}
            <div class="text">
                {% if entity.phone %}{{ entity.phone }}<br/>{% endif %}
                {% if entity.address %}{{ entity.address }}{% endif %}
            </div>
        {% endif %}
    </div>
</div>