{% extends 'ArmdAtlasBundle:Default:layout.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ entity.lon }}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{ entity.lat }}</td>
        </tr>
        <tr>
            <th>Categories</th>
            <td>
                {% for category in entity.categories %}
                    {{ category.title }}{% if not loop.last%},{% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>

    <div id="map"></div>

{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/atlas_new.css') }}">
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/map.js?{{ progorod_api_key }}&version=0.1.7"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/atlas_new.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            AT.init({
                map: 'map',
                center: [{{ entity.lon }}, {{ entity.lat }}],
                zoom: 10
            });

            var point = new PGmap.Point({
                coord: new PGmap.Coord({{ entity.lon }}, {{ entity.lat }}, true)
            });
            AT.map.geometry.add(point);
        });
    </script>
{% endblock %}