{% extends ':Frontend:layout_two_column.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block title %}
    {{ entity.seoTitle|default(entity.title) }} &mdash; {{ parent() }}
{% endblock %}

{% block meta_keywords %}
    {{ entity.seoKeywords|default('') }}
{% endblock %}

{% block meta_description %}
    {{ entity.seoDescription|default('') }}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block opengraph %}
    <meta property="og:title" content="{{ entity.title }}" />
    <meta property="og:description" content="{{ entity.russiaImageAnnounce|striptags }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    {% if entity.primaryImage is not empty %}
        <meta property="og:image" content="{% path entity.primaryImage, 'reference' %}" />
    {% elseif entity.images|length > 0 %}
        <meta property="og:image" content="{% path entity.images[0], 'imagesOfRussia' %}" />
    {% endif %}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block page_header_title %}
    {{ "atlas.atlas"|trans }}
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block page_header_search %}
    <div class="search-category">
        <div id="regions-selector" class="regions-selector">
        </div>
    </div>
{% endblock %}


{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}


{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .content.collapsed{ height:200px; overflow:hidden; }
        .fancybox-video-wrapper iframe{ display:block; }
    </style>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".jp-player").each(function() {
                $(this).jPlayer({
                    ready: function(event) {
                        $(this).jPlayer("setMedia", {
                            mp3: $(this).attr('data-media-url')
                        });
                    },
                    play: function() { // To avoid both jPlayers playing together.
                        $(this).jPlayer("pauseOthers");
                    },
                    {# Возможно, тут лучше пронать через PHP путь как-то, но assets по смыслу кажется не тем инструментом. #}
                    swfPath: "/vendor/jquery.jplayer/",
                    cssSelectorAncestor: "#jp_container_" + $(this).attr('id').replace('jquery_jplayer_', ''),
                    supplied: "mp3"
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".jp-player").each(function() {
                $(this).jPlayer({
                    ready: function(event) {
                        $(this).jPlayer("setMedia", {
                            mp3: $(this).attr('data-media-url')
                        });
                    },
                    play: function() { // To avoid both jPlayers playing together.
                        $(this).jPlayer("pauseOthers");
                    },
                    {# Возможно, тут лучше пронать через PHP путь как-то, но assets по смыслу кажется не тем инструментом. #}
                    swfPath: "/vendor/jquery.jplayer/",
                    cssSelectorAncestor: "#jp_container_" + $(this).attr('id').replace('jquery_jplayer_', ''),
                    supplied: "mp3"
                });
            });
        });
    </script>

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    {#<script src="{{ asset('vendor/shiftzoom/shiftzoom.js') }}"></script>#}
    <script src="{{ asset('vendor/zp/zp.js') }}"></script>

    <script>
        var sample = 1;
        var smPos = 153;
        var spPos = 153;
        var sW;
        var sH;
    </script>
    <script type="text/javascript">
    
        var infographic_img_width = 800,
            infographic_img_height = 560,
            //текущие размеры изображения
            prev_img_width = infographic_img_width,
            prev_img_height = infographic_img_height;
        
        $(function () {
            initUi();
            initSlider();
            initFancybox();
            initYandexShare();
            //initInfographics();
            //initInfographics2(800, 560);
            initSearch();

//            $('.gallery').show();
        });


        function initUi() {
            $('.more3').click(function(){
                $('#content-collapsed').removeClass('collapsed');
                $(this).hide();
                return false;
            });
        }

        function initFancybox() {
            $('.fancybox').each(function() {
                if ($(this).parent().hasClass('clone') === true) {
                    $(this).removeClass('fancybox');
                }
            });
            $('.fancybox').fancybox({
                prevEffect: 'none',
                nextEffect: 'none'
            });

            $(".zoom-fancybox").click(function() {
                var $img   = $("img", $(this).attr("href")).clone(),
                    $title = $("div", $(this).attr("href"));

                $("a", $title).css("color", "#fff");
                $img.css("visibility", "hidden");

                $.fancybox.open({
                    autoSize:   false,
                    scrolling:  "no",
                    type:       "html",
                    title:      $title.html(),
                    content:    $img,
                    helpers : {
                        title: {
                            type: 'outside'
                        }
                    },
                    afterShow: function() {
                        $img.css("visibility", "visible");
                        $img.z({
                            width: $.fancybox.inner.width(),
                            height: $.fancybox.inner.height(),
                            initial_POSITION: "0, 0",
                            initial_ZOOM: $.fancybox.inner.width() / $img.width() * 100,
                            button_ICON_IMAGE: '{{ asset('vendor/zp/zoom_assets/icons.png') }}',
                            border_SIZE: 0,
                        });
                    },
                    onUpdate: function() {
                        var $fbInner = $($.fancybox.inner),
                            fbInnerWidth  = $fbInner.width(),
                            fbInnerHeight = $fbInner.height();

                        zoomer_.sW = fbInnerWidth;
                        zoomer_.sH = fbInnerHeight;
                        zoomer_.zoom = $.fancybox.inner.width() / $img.width() * 100
                        zoomer_.$holder.width(fbInnerWidth);
                        zoomer_.$holder.height(fbInnerHeight);

                        zoomer_.Reset();
                    }
                });
            });
        }
        
        function initSlider() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: false,
                slideshow: false
            });


            $('#thumbs-slider').flexslider({
                animation: "slide",

                slideshow: false,
                itemWidth: 75,
                itemMargin: 5,
                asNavFor: '#image-slider'
            });

            $('#image-slider').flexslider({
                animation: "slide",

                slideshow: false,
                sync: "#thumbs-slider"
            });

        }

        function initYandexShare() {
            new Ya.share({
                element: 'yandex-share',
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                image: '{% path entity.primaryImage, 'big' %}',
                link: '{{ url('armd_atlas_default_object_view', { 'id': entity.id }) }}',
                title: '{{ entity.title }}',
                description: '{{ entity.announce|replace({"\n":'',"\r":''})|striptags }}'
            });
        }

        {#
        function initInfographics() {
            $('#shiftzoom').load(function(){
                shiftzoom.add(this, {
                    showcoords: false,
                    relativecoords: true,
                    wheelstep: 50,
                    wheelinvert: true,
                    millisec: 10,
                    buttons: false,
                    zoom: 0
                });
            });
        }
        #}

        function initInfographics2(width,height, zoom) {
            $("#shiftzoom").z({
                width: width,
                height: height,
                initial_POSITION: "0,0",
                initial_ZOOM: zoom,
                button_ICON_IMAGE: '{{ asset('vendor/zp/zoom_assets/icons.png') }}',
                border_SIZE: 0
            });
        }

        function initSearch() {
            // init search
            $('#search-form').bind('submit', function(event) {
                if ($('#search-this-section').prop('checked')) {
                    var searchQuery = $('#search-txt').val();
                    event.preventDefault();
                    window.location = Routing.generate('armd_atlas_russia_images', {'search_query': searchQuery});
                }
            });
        }

    </script>
{% endblock %}

{# ------------------------------------------------------------------------ #}

{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('armd_atlas_index') }}">{{ 'menu.atlas'|trans }}</a></li>
        <li><span>{{ entity.title }}</span></li>
    </ul>

    <h1 class="obraz-header">{{ entity.title }}</h1>

    <!-- Photo gallery -->
    {% if entity.images|length > 0 %}
        <div class="gallery"> <!--  style="display: none" -->
            <div id="image-slider">
                <ul class="slides image-slider">
                    {% for h in entity.images %}
                        <li>
                            <a class="fancybox" rel="slider" href="{% path h, 'reference' %}">
                                <img src="{% path h, 'atlasW613' %}" alt="{{ entity.title }}" />
                            </a>
                            <div class="image-stats clearfix">
                                <p class="image-title" title="{{ h.title }}">{{ h.title|truncate(80) }}</p>
                                <p class="image-counter">
                                    <span><b>{{ loop.index }}</b> из {{ entity.images|length }}</span>  /
                                    <a href="{% path h, 'reference' %}" target="_blank">{{ "save_original_photo"|trans }} {#<i>(784 мб.)</i>#}</a>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="thumbs-slider">
                <ul class="slides thumbs-slider">
                    {% for h in entity.images %}
                        <li>
                            <div class="thumb-image-wrap">
                                <img src="{% path h, 'atlasW63H56' %}" alt="{{ entity.title }}" />
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <!-- /Photo gallery -->

    <!-- Content -->
    <div class="content-anons">
        {{ entity.russiaImageAnnounce|raw }}
    </div>
    <div id="content-collapsed" class="content {% if entity.content is not empty %}collapsed{% endif %}">
        {{ entity.content|raw }}
    </div>
    {% if entity.content is not empty %}
        <div class="more more3">
            <p><a href="#">{{ "read_more"|trans }}</a></p>
        </div>
    {% endif %}
    <!-- /Content -->

    <div class="block small-block clearfix">
        <h2><span>{{ "recommended"|trans }}</span></h2>
        {{ block('rec_plitka') }}
    </div>

    <!-- Page service -->
    <div class="back-link"><p><a href="{{ referer }}">{{ "back"|trans }}</a></p></div>{#{ path('armd_atlas_index') }#}
    <div class="event-one_footer clearfix">
        <div class="print-link"><a href="{{ path('armd_atlas_default_object_view_print', {  'id':entity.id }) }}" target="_blank"></a> {{ 'Printversion'|trans }} </div>
        <div class="publish-links" href="#">{{ "social_share"|trans }}: <span id="yandex-share"></span></div>
    </div>
    <!-- /Page service -->

{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block right_column %}

    <!-- Virtual tour -->
    {% if entity.virtualTours|length > 0 %}
    <div class="block">
        <section class="static-block first-obraz-block">
            <h2>{{ "virtual_tour"|trans }}</h2>
            {% if entity.virtualTours|length > 0 %}
                {% for virtualTour in entity.virtualTours %}
                    <a href="{{ virtualTour.url }}" data-fancybox-type="iframe" class="virt-tour-anons vob iframe">
                        {#<img src="/images/virt-tour.jpg" alt="" />#}
                        <img src="{% path virtualTour.image, 'reference' %}" alt="" width="280" />
                        <span class="virt-tour-anons-over"></span>
                    </a>
                {% endfor %}
            {% endif %}

        </section>
    </div>
    {% endif %}
    <!-- /Virtual tour -->

    <!-- Infographics -->
    {% if entity.image3d %}
        <div class="block">
            <section class="static-block">
                <h2>{{ "infographics"|trans }}</h2>
                <a class="zoom-fancybox" id="zoom-fancybox-infographics" href="#infographics">
                    <img width="280" src="{% path entity.image3d, 'image3d' %}" alt=""/>
                </a>
                <div id="infographics" class="fancybox-image" style="overflow: hidden; display:none; ">
                    {% set popupWidth = 800 %}
                    <img id="shiftzoom" class="shiftzoom" {#width="{{ popupWidth }}" height="{{ popupWidth * entity.image3d.height / entity.image3d.width }}"#} src="{% path entity.image3d, 'reference' %}" alt=""/>
                    <div style="margin-top:5px; font-size:13px; height: 20px; overflow: hidden; ">
                        <a target="_blank" href="{% path entity.image3d, 'reference' %}">{{ "infographics_open_original"|trans }}</a>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
    <!-- /Infographics -->

    <!-- Video -->
    {% if entity.videos|length > 0 %}
        <div class="block object-videos">

            <div class="block">
                <article class="static-block video-block">
                    <h2>{{ "video"|trans }}</h2>
                    {% for video in entity.videos %}
                        <a class="block-image fancybox" href="#data-{{ loop.index }}">
                            <img style="max-width: 100%;" src="{{ video.image }}" alt=""  />
                            <span class="play"></span>                            
                        </a>
                        <div class="period-block_text">
                            <p><b>{{ video.title }}</b></p>
                        </div>
                    {% endfor %}
                </article>
            </div>
            {% for video in entity.videos %}
                <div id="data-{{ loop.index }}" style="display: none;">
                    <div class="fancybox-video-wrapper" style="width:640px; height:365px;">
                        {{ armd_tvigle_video_player(video, 640, 360)|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- /Video -->

    <!-- Archives -->
    {% if entity.archiveImages|length > 0 %}
        <div class="block">
            <section class="static-block object-archives">
                <h2>{{ "archives"|trans }}</h2>
                <div class="orange-slider-block">
                <div class="flexslider">
                    <ul class="slides">
                        {% for h in entity.archiveImages %}
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="{% path h, 'reference' %}">
                                        <img src="{% path h, 'reference' %}" alt="" class="period-block_image" />
                                    </a>
                                    <div class="period-block_text">
                                        <p><b>{{ h.title|default('archive_document'|trans) }}</b></p>
                                        <p>{{ h.description }}</p>
                                    </div>
                                    <div class="period-block_footer"></div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </section>
        </div>
    {% endif %}
    <!-- /Archives -->

    <!-- Contacts -->
    <div class="block">
        <article class="static-block contacts-block">

            <h2>{{"contact_info"|trans}}</h2>

            <!-- map -->
            {#<img src="/images/contacts.jpg" alt="" class="block-image">#}
            <!-- /map -->

            <div class="block-text">
                <p><b>{{ entity.title|raw }}</b></p>
                {% if entity.address %}<p>{{"atlas.address"|trans}}: {{ entity.address }}</p>{% endif %}
                {% if entity.siteUrl or entity.email or entity.phone %}<p>{% endif %}
                {% if entity.siteUrl %}{{"website"|trans}}: <a target="_blank" href="{{ entity.siteUrl }}">{{ entity.siteUrl }}</a><br/>{% endif %}
                {% if entity.email %}{{"email"|trans}}: {{ entity.email }}<br/>{% endif %}
                {% if entity.phone %}{{"phone"|trans}}: {{ entity.phone }}<br/>{% endif %}
                {% if entity.siteUrl or entity.email or entity.phone %}</p>{% endif %}
                <p>
                    {% if entity.workTime is not empty %}
                        {{"visiting_hours"|trans}}:
                        {{ entity.workTime }}
                    {% endif %}
                    {% if entity.weekends|length > 0 %}
                        <br/>{{"weekends"|trans}}:
                        {% for day in entity.weekends %}
                            {{ day.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        {{"without_holidays"|trans}}
                    {% endif %}
                </p>
            </div>

        </article>
    </div>
    <!-- /Contacts -->

    {% if entity.stuff.count %}
    <!-- Stuff -->
    <div class="block">
        <article class="static-block stuff-block">

            <h2>{{"Stuff"|trans}}</h2>

            <div class="block-text">
                {% for stuff in entity.stuff %}
                    <div class="stuff">
                        <img src="/img/file_icons/32px/{{ stuff.extension }}.png" width="16" height="16" class="file-icon" />

                        <a href="{{ path('sonata_media_download', {'id': stuff.id}) }}">{{ stuff.name }}</a>

                        {% if stuff.extension == "mpga" %}
                            —

                            <span id="jp_container_{{ stuff.id }}" class="jp-audio">
                                <span class="jp-type-single">
                                    <span class="jp-gui jp-interface">
                                        <span class="jp-current-time"></span>/<span class="jp-duration"></span>
                                        (
                                        <ul class="jp-controls">
                                            <li><a href="#" class="jp-play" tabindex="1">{{"play"|trans}}</a></li>
                                            <li><a href="#" class="jp-pause" tabindex="1">{{"pause"|trans}}</a></li>
                                            <li>| <a href="#" class="jp-stop" tabindex="1">{{"stop"|trans}}</a></li>
                                        </ul>
                                        )
                                    </span>
                                </span>
                            </span>

                            <div id="jquery_jplayer_{{ stuff.id }}" class="jp-player" data-media-url="{{ armd_media_original_url(stuff) }}"></div>
                        {% endif %}

                        {% if stuff.description %}
                            <p>{{ stuff.description }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        </article>
    </div>
    <!-- /Stuff -->
    {% endif %}

{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block rec_plitka %}
    {% if relatedObjects is not empty %}
        <ul class="plitka rec-plitka">
            {% for object in relatedObjects %}
                <li class="plitka-one-wrap">
                    <div class="plitka-one">
                        {% if object.regions is not empty %}
                            <a class="plitka-type" href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}">{{ object.regions[0].title }}</a>
                        {% endif %}
                        <a href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}">
                            {% thumbnail object.primaryImage, 'searchAllResult' with { 'class': 'plitka-image' } %}
                            {#<img alt="" class="plitka-image" src="">#}
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name"> <a href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}" class="no-decoration">{{ object.title }}</a> </span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{# ------------------------------------------------------------------------ #}
