{% extends ':Frontend:base.html.twig' %}

{% block title %}
    {{ parent() }} &mdash; {{ 'Navigation.Images of Russia.Title'|trans }}
{% endblock %}

{% block page_header_title %}
    {{ 'Navigation.Images of Russia.Title'|trans }}
{% endblock %}

{% block page_header_search %}
    {% spaceless %}
        <div class="category-chooser" id="category-chooser">
            <a href="#plitka" class="plitka-icon active" title="Плитка">Плитка</a>
            <a href="#full-list" class="full-list-icon" title="Полный список">Полный список</a>
            <a href="#short-list" class="short-list-icon" title="Краткий список">Краткий список</a>
        </div>
        <div class="search-category">
            <span class="search-dates-label">Выбрать</span>

            <div class="search-category-selects">
                <select name="object-region" id="object-region" class="uni">
                    <option value="">Регион</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.title }}</option>
                    {% endfor %}
                </select>
                <select name="object-type" id="object-type" class="uni">
                    <option value="">Тип</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.title }}</option>
                    {% endfor %}
\               </select>
                <select name="object-thematic" id="object-thematic" class="uni">
                    <option value="">Тематика</option>
                    {% for thematic in thematics %}
                        <option value="{{ thematic.id }}">{{ thematic.title }}</option>
                    {% endfor %}
\                </select>
            </div>
            <a href="#" id="search-russia-images-button" class="button search-dates-button">Показать</a>
        </div>
    {% endspaceless %}
{% endblock %}

{% block page_header_search_scope %}
    {#<div class="search-checkboxes">#}
        {#<label><input type="checkbox" name="check1" id="check1"/><span>Искать в текущем разделе</span></label>#}
    {#</div>#}
{% endblock %}

{% block body %}
    <p class="search-found">Выбрано образов: <span id="found-objects-count"></span></p>

    <div id="plitka" class="tab plitka-list">
        <ul class="plitka obrazy-plitka">
            {% render 'ArmdAtlasBundle:Default:russiaImagesList' with { 'templateName': 'tile', 'limit': 24 } %}
        </ul>
    </div>

    <div id="full-list" class="tab" style="display:none">
        <ul class="full-list">
            {% render 'ArmdAtlasBundle:Default:russiaImagesList' with { 'templateName': 'full-list', 'limit': 24 } %}
        </ul>
    </div>

    <div id="short-list" class="tab"  style="display:none">
        <ul class="short-list">
            {% render 'ArmdAtlasBundle:Default:russiaImagesList' with { 'templateName': 'short-list', 'limit': 24 } %}
        </ul>
    </div>

    <div class="more more2">
        <p>
            <a href="#" id="show-more">Еще образы России</a>
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/russia_images.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            armdMkRussiaImages.init();
        });
    </script>
{% endblock %}
