{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} &mdash;
    {{ 'Navigation.Images of Russia.Title'|trans }}
{% endblock %}

{% block body %}

<div class="blocksection index-blocksection w clearfix" id="f-section">
    <div class="title-block">
        <h2>{{ 'Navigation.Images of Russia.Title'|trans }}</h2>
    </div>

    <div class="obrazy">
        <form action="" class="obr-form">
            <div class="obr-text-input">
                <input type="text" name="search" id="search_text" value="{{ 'Navigation.Images of Russia.Title'|trans }}"/>
            </div>
            <input type="button" class="obr-submit-input" value=""/>
        </form>
        <div id="images-of-russia-wrapper">
            <div id="images-of-russia-loading" class="loading-block"></div>
            <div id="images-of-russia-container">
                {% render 'ArmdAtlasBundle:Default:russiaImagesList'  %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/libs/jquery.ajaxmanager.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/russia_images.js') }}"></script>
    <script type="text/javascript">
        $(function(){
           armdRussiaImages.init();
           armdRussiaImages.listUrl = '{{ path('armd_atlas_russia_images_list') }}';
        });
    </script>
{% endblock %}