{% extends ':Frontend:base.html.twig' %}

{% block title %}
    {{ parent() }} &mdash; {{ 'Navigation.Images of Russia.Title'|trans }}
{% endblock %}

{% block page_header_title %}
    {{ 'Navigation.Images of Russia.Title'|trans }}
{% endblock %}

{% block page_header_search %}
    {% spaceless %}
        <div class="category-chooser" id="category-chooser">
            <a href="#plitka" class="plitka-icon active" title="{{ "category_chooser.plitka"|trans }}">{{ "category_chooser.plitka"|trans }}</a>
            <a href="#full-list" class="full-list-icon" title="{{ "category_chooser.full_list"|trans }}">{{ "category_chooser.full_list"|trans }}</a>
            <a href="#short-list" class="short-list-icon" title="{{ "category_chooser.short_list"|trans }}">{{ "category_chooser.short_list"|trans }}</a>
        </div>
        <div class="search-category">
            <span class="search-dates-label">{{ "search_category.select"|trans }}</span>

            <div class="search-category-selects">
                <select name="object-region" id="object-region" class="uni">
                    <option value="">{{ "search_category.region"|trans }}</option>
                    {% for region in regions %}
                        {% if regionId == region.id %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ region.id }}" {{ selected }}>{{ region.title }}</option>
                    {% endfor %}
                </select>
                <select name="object-type" id="object-type" class="uni">
                    <option value="">{{ "search_category.type"|trans }}</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.title }}</option>
                    {% endfor %}
\               </select>
                <select name="object-thematic" id="object-thematic" class="uni">
                    <option value="">{{ "search_category.theme"|trans }}</option>
                    {% for thematic in thematics %}
                        <option value="{{ thematic.id }}">{{ thematic.title }}</option>
                    {% endfor %}
\                </select>
            </div>
            <a href="#" id="search-russia-images-button" class="button search-dates-button">{{ "search_category.show"|trans }}</a>
        </div>
    {% endspaceless %}
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>Искать в текущем разделе</span></label>
    </div>
{% endblock %}

{% block body %}
    <p class="search-found">{{ "search_found"|trans }}: <span id="found-objects-count"></span></p>

    <div id="plitka" class="tab plitka-list">
        <ul class="plitka obrazy-plitka">
            {% render url('armd_atlas_russia_images_list', { 'templateName': 'tile', 'limit': 24, 'region_id': regionId }) %}
        </ul>
    </div>

    <div id="full-list" class="tab" style="display:none">
        <ul class="full-list">
            {% render url('armd_atlas_russia_images_list', { 'templateName': 'full-list', 'limit': 24, 'region_id': regionId }) %}
        </ul>
    </div>

    <div id="short-list" class="tab"  style="display:none">
        <ul class="short-list">
            {% render url('armd_atlas_russia_images_list', { 'templateName': 'short-list', 'limit': 24, 'region_id': regionId }) %}
        </ul>
    </div>

    <div class="more more2">
        <p>
            <a href="#" id="show-more">{{ "show_more"|trans }}</a>
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/russia_images.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            armdMkRussiaImages.init();
        });
    </script>
{% endblock %}
