{% extends '::base.html.twig' %}

{% block body %}
    <div class="title">
        <h2>Объекты атласа</h2>
    </div>

<div class="sonata-user-show">
    <ul class="lk-menu green-lk-menu">
        <li><a href="{{ path('sonata_user_profile_edit') }}">Мой профиль</a></li>
        <li><a href="{{ path('sonata_user_profile_edit_authentication') }}">Редактировать</a></li>
        <li class="active"><a href="{{ path('armd_atlas_user_objects') }}">Мои объекты</a></li>
    </ul>
</div>
    
<ul>
    {% for object in userObjects %}
        <li><a href="{{ path('armd_atlas_user_object', {'objectId': object.id} ) }}">{{ object.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}