<div class="b-login-links">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('sonata_user_profile_edit') }}">{{ app.user.username }}</a> /
        <a href="{{ path('fos_user_security_logout') }}">{{ "auth_logout"|trans }}</a>
    {% else %}
        <a id="login-link" href="#login-popup">{{ "auth_login"|trans }}</a>
        <div id="login-popup" title="{{ "auth_login"|trans }}">
            {% render url('fos_user_security_login', {'popup': true}) %}
        </div>
        <a href="{{ path('fos_user_registration_register') }}">{{ "auth_register"|trans }}</a>
    {% endif %}
</div>