<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
    <title>{% spaceless %}{% block title %}{{ 'Portal title'|trans }}{% endblock %}{% endspaceless %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="{% spaceless %}{% block meta_keywords %}{% endblock %}{% endspaceless %}">
    <meta name="description" content="{% spaceless %}{% block meta_description %}{% endblock %}{% endspaceless %}">
    <meta name="viewport" content="width=device-width">

    <!-- Opengraph block -->
    {% block opengraph %}
        <meta property="og:image" content="{{ asset('img/logo.png') }}" />
    {% endblock %}
    <!-- /Opengraph block -->

    {% block rss %}
        <link rel="alternate" type="application/rss+xml" href="{{ path('armd_news_rss') }}"  title="{{ 'Events'|trans }}" />
    {% endblock %}

    <!-- Stylesheets block -->
    {% block stylesheets %}
        {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic'>
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/jquery-ui-1.8.21.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/flexslider/flexslider.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fancybox/jquery.fancybox.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/armdsocialauth/css/social_auth.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/armdmkcomment/css/comments.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/selectgroup/jquery.ui.selectgroup.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/chosen/chosen.css') }}" type="text/css" media="all" />

        {#<link rel="stylesheet" href="{{ asset('vendor/select2/select2.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
    <!-- /Stylesheets block -->

    <!-- Javascripts block -->
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('vendor/modernizr-2.6.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/respond.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/flexslider/jquery.flexslider-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery-ui/jquery-ui-1.8.24.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery-ui/jquery.ui.datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery.uniform.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery.ajaxmanager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/selectgroup/jquery.ui.selectgroup.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/chosen/chosen.jquery.min.js') }}"></script>
        {#<script type="text/javascript" src="{{ asset('vendor/select2/select2.min.js') }}"></script>#}
        <script type="text/javascript" src="{{ asset('vendor/moment.min.js') }}"></script>
        {% if app.request.locale == 'ru' %}
         <script type="text/javascript" src="{{ asset('vendor/jquery-ui/jquery.ui.datepicker-ru.js') }}"></script>
        {% endif %}
        <script type="text/javascript" src="{{ asset('vendor/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/armdmain/js/mk.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/armdmain/js/messager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery.cookie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery.jplayer/jquery.jplayer.min.js') }}"></script>
        <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
        <script type="text/javascript">
         $(function(){
             armdMk.locale = '{{ app.request.locale }}';
             armdMk.baseUrl = '/';
             armdMk.init();

             armdMessager.init('#armd_messages');

             new Ya.share({
                 element: 'yandex-share-global',
                 elementStyle: {
                     'type': 'none',
                     'border': false,
                     'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                 },
                 link: '{{ url('armd_main_homepage') }}',
                 title: '{{ 'Portal title'|trans }}',
                 description: '{{ 'Portal title'|trans }}'
             });

        </script>
    {% endblock %}
    <!-- /Javascripts block -->


</head>
<body class="locale_{{ app.request.locale }}" data-locale="{{ app.request.locale }}">
    <div id="armd_messages" style="display: none;"><a class="armd_messages_close" href="#"></a><span></span></div>
    <div class="header-banner">
        {% render url('armd_main_background_banner') %}
    </div>

    {% include ':Frontend:counters_top.html.twig' %}

    <div class="container">
        <header class="main-header clearfix">
            <a class="logo" title="{{ 'Portal title'|trans }}" href="{{ path('armd_main_homepage') }}"></a>
            <h1 class="main-title">Портал <span>Культура.рф</span></h1>
            <div class="header-top-right clearfix">
                <div class="htr-top">
                    {# {% render url('armd_main_login_links') %} #}
                    {% if app.request.locale == 'ru' %}
                        <a href="{{ path('armd_main_homepage', {'_locale': 'en'}) }}" class="lang-chooser-ru"></a>
                    {% else %}
                        <a href="{{ path('armd_main_homepage', {'_locale': 'ru'}) }}" class="lang-chooser-en"></a>
                    {% endif %}

                    <a href="{{ path('armd_main_special_homepage') }}" class="aa"></a>

                    
                    <div class="app_store-block">
                        <a href="https://itunes.apple.com/ru/app/muzei-rossii/id553795199?mt=8" target=_blank class="appstore-link" id="appstore-link">AppStore</a>

                        <ul style="display:none;">
                            <li class="app_store-link-1"><a href="https://itunes.apple.com/ru/app/museums-of-russia/id587766991?mt=8" target="_blank"><img src="{{ asset('img/app_store_1.jpg') }}" alt="" />Museums of Russia</a></li>
                            {% if app.request.locale == 'ru' %}
                                <li class="app_store-link-2"><a href="https://itunes.apple.com/ru/app/mobil-nyj-gid/id553786184?mt=8"  target="_blank"><img src="{{ asset('img/app_store_2.jpg') }}" alt="" />Мобильный Гид</a></li>
                                <li class="app_store-link-3"><a href="https://itunes.apple.com/ru/app/muzei-rossii/id553795199?mt=8"  target="_blank"><img src="{{ asset('img/app_store_3.jpg') }}" alt="" />Музеи России</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /app_store-block -->
                </div><!-- /htr-top -->
                <div class="htr-bottom">
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                </div><!-- /htr-bottom -->
            </div><!-- /header-top-right -->
            <nav class="main-menu">
                {{ knp_menu_render('main', {
                    'template':      ':Frontend:menu.html.twig',
                    'currentClass':  'active',
                    'ancestorClass': 'active',
                    'depth':          3 }) }}
            </nav>
        </header>

        <!-- Navigation header -->
        <div class="nav-header">
            {% block page_header %}
                <h1>{% block page_header_title %}{% endblock %}</h1>

                <div class="search-panel">
                    {% block page_header_search %}
                        <div class="search-category"></div>
                    {% endblock %}
                    <div class="search-top clearfix">
                        <form id="search-form" action="{{ path('armd_search_results') }}">
                            <input type="text" name="search_query" placeholder="{{ "site_search"|trans }}" class="search-txt" id="search-txt" autocomplete="off" value="{% block search_query %}{% endblock %}" />
                            <input type="submit" value="{{ "search"|trans }}" class="button search-btn"/>
                        </form>
                        {% block page_header_search_scope %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <!-- /Navigation header -->

        {% block sub_header %}{% endblock %}

        <!-- Main block -->
        <div class="main clearfix {% block body_class %}{% endblock %}">
            {% block body %}{% endblock %}
        </div>
        <!-- /Main block -->

        <!-- main-wide block -->
        <div class="main-wide clearfix">
            {% block wide_body %}{% endblock %}
        </div>
        <!-- /main-wide block -->

        <!-- main-after block -->
        <div class="main-after clearfix">
            {% block after_body %}{% endblock %}
        </div>
        <!-- /main-after block -->

        <div class="bottom-menu">
            <ul>
                <li><a href="{{ path('armd_news_map') }}">{{ "menu.events_on_map"|trans }}</a></li>
                <li><a href="{{ path('armd_external_search_results') }}">{{ "menu.culture_sites"|trans }}</a></li>
                <li><a href="{{ path('armd_chronicle_index') }}">{{ "menu.chronicle"|trans }}</a></li>

                <li><a href="{{ path('armd_main_project_1150') }}">{{ "menu.special_projects_1150"|trans }}</a></li>
                <li><a href="{{ path('armd_news_item_by_category') }}">{{ "menu.special_projects_romanov450"|trans }}</a></li>
                <li><a href="{{ path('armd_main_project_brodino') }}">{{ "menu.borodino"|trans }}</a></li>
                {# <li><a href="{{ path('armd_news_item_by_category') }}">{{ "menu.special_projects_stanislavski"|trans }}</a></li> #}
                <li><a href="{{ path('armd_main_intermuseum') }}">{{ "menu.intermuseum"|trans }}</a></li>
                <!--
                <li><a href="#">ДОМ РОМАНОВЫХ</a></li>
                <li><a href="#">К. СТАНИСЛАВСКИЙ</a></li>
                <li><a href="#">День победы</a></li>
                -->
            </ul>
        </div><!-- /bottom-menu -->
        <!-- Footer block -->
		{% block main_footer%}
        <footer class="main-footer clearfix">
            <a href="http://mkrf.ru/" target="_blank" class="footer-copyright">
                <p>{{ "ministerstvo"|trans|raw }}</p>
            </a>

{#
            <a href="http://nic.ru/news/2013/culture.html" target="_blank" class="footer-banner-1">
                <img src="{{ asset('img/footer/100x43_logo_nic.gif') }}" alt="" />
            </a>
#}

            <div class="footer-social">
                <div class="footer-banners">
                    {% include ':Frontend:counters_bottom.html.twig' %}
                </div>
                <div class="footer-share">
                    <p>
                        {{ "social_share"|trans }} <span id="yandex-share-global"></span>
                        <a href="{{ path('armd_news_rss') }}" class="rss-icon" title="{{ "events"|trans }}"></a>
                    </p>

                    {#<div class="social-links">#}

                    {#</div>#}
                </div>
            </div>

            <div class="footer-center">
                <div class="clearfix fc-col-block">
                    <div class="fc-col fc-links">
                    <p>{{ "copyright"|trans }}</p>
                    <ul>
                        <li><a href="{{ path('armd_main_about') }}">{{ "about_project"|trans }}</a></li>
                        <li><a href="{{ path('armd_main_banners') }}">{{ "banners"|trans }}</a></li>
                        <li><a href="mailto:portal@mkrf.ru">portal@mkrf.ru</a></li>
                    </ul>
                    {% if app.request.locale == 'ru' %}
                        <p class="footer-fond-link">
                            <ul>
                                <li><a href="http://fond.culture.ru/" target="_blank">Российский Фонд Культуры</a></li>
                                <li><a href="http://dnk.culture.ru/" target="_blank">ДНК Live</a></li>
                            </ul>
                        </p>
                    {% endif %}
                    </div>
                    <div class="fc-col fc-copyright">
                        <p>При цитировании и&nbsp;копировании материалов с&nbsp;портала активная гиперссылка обязательна</p>
                    </div>
                </div>
            </div>
        </footer>
		{% endblock %}
        <!-- /Footer block -->
    </div>
</body>
</html>
