<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
			<link rel="stylesheet" href="{{ asset('css/blind.css') }}">
		{% endblock %}
        <script type="text/javascript" src="{{ asset('vendor/modernizr-2.6.2.min.js') }}"></script>
        
    </head>
	<body>
		<div class="wrapper">
			<div class="settings-wrap">
				<div class="settings-block" id="settings" >
					<a href="{{ path('armd_main_homepage') }}" class="full-version-link">{{ 'Special.Main version'|trans }}</a>
					<ul class="settings-types">
						<li>
							<p>{{ 'Special.Color'|trans }}:</p>
							<ul class="color-picker">
								<li id="white-color">
									<span title="{{ 'Special.Background.Black'|trans }}" class="active">В</span>
								</li>
								<li id="black-color">
									<span title="{{ 'Special.Background.Black'|trans }}">В</span>
								</li>
							</ul>
						</li>
						<li>
							<p>{{ 'Special.Font.Size.Title'|trans }}:</p>
							<ul class="size-picker">
								<li id="huge-font">
									<span title="{{ 'Special.Font.Size.Huge'|trans }}">А</span>
								</li>
								<li id="big-font">
									<span title="{{ 'Special.Font.Size.Big'|trans }}">А</span>
								</li>
								<li id="normal-font">
									<span  title="{{ 'Special.Font.Size.Normal'|trans }}" class="active">А</span>
								</li>
							</ul>
						</li>
						<li>
							<p>{{ 'Special.Font.Family.Title'|trans }}:</p>
							<ul class="font-type">
								<li id="arial-font" >
									<span  title="{{ 'Special.Font.Family.Sans serif'|trans }}"  class="active">Arial</span>
								</li>
								<li id="times-font" >
									<span title="{{ 'Special.Font.Family.Serif'|trans }}">Times New Roman</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="settings-handler">{{ 'Special.Settings'|trans }}</div>
			</div>
			<header class="main-header">
				<a href="{{ path('armd_main_special_homepage') }}" class="logo" title="{{ 'Special.Address'|trans }}">{{ 'Special.Address'|trans|capitalize }}</a>
				<div class="search">
					<form action="{{ path('armd_search_results') }}" title="{{ 'Special.Search'|trans }}">
						<input type="text" value="" class="search-input" />
						<input type="submit" value="{{ 'Special.Search'|trans }}" class="search-button" />
					</form>
				</div>
				<ul class="quick-links">
                    {% if app.request.locale == 'ru' %}
					    <li><a href="http://people.roskult.ru/special/opengov/new/">{{ 'Open Government'|trans }}</a></li>
                        {#<li><a href="{{ path('sonata_user_profile_edit') }}">{{ 'Account settings'|trans }}</a></li>#}
                    {% endif %}
				</ul>
				<nav class="clear">
					{% block menu %}
                        <ul class="main-navigation clearfix" title="{{ 'Main menu'|trans }}">
                            {% if app.request.locale == 'ru' %}
                                <li><a href="{{ path('armd_main_special_russian_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
                                <li><a href="{{ path('armd_main_special_chronicles') }}">{{ 'Navigation.Timeline'|trans }}</a></li>
                                <li><a href="{{ path('armd_main_special_press') }}">{{ 'menu.news_index'|trans }}</a></li>
                                <li><a href="{{ path('armd_main_special_services') }}">{{ 'menu.communication'|trans }}</a></li>
                            {% else %}
                                <li><a href="{{ path('armd_main_special_russian_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
                                <li><a href="{{ path('armd_main_special_press') }}">{{ 'Navigation.Events'|trans }}</a></li>
                                <li><a href="{{ path('armd_main_special_about') }}">{{ 'Navigation.About'|trans }}</a></li>
                            {% endif %}
						</ul>
					{% endblock %}
				</nav>
			</header>
			<div class="content">
				{% block body %}
				&nbsp;
				{% endblock %}
			</div>
			
			<div class="push"></div>
		</div>
		<footer class="main-footer">
			<div class="site-owner">
				<a href="http://mkrf.ru/" target="_blank">{{ 'Ministry of Culture'|trans }} {{ 'Russian Federation'|trans }}</a>
			</div>
			
            <div class="special-counters">
                <div class="footer-banners">
                    {% include ':Frontend:counters_bottom.html.twig' %}
                </div>
                <div class="footer-share">
                    <p>
                        {{ "social_share"|trans }} <span id="yandex-share-global"></span>
                        <a href="{{ path('armd_news_rss') }}" class="rss-icon" title="{{ "events"|trans }}"></a>
                    </p>
                </div>
            </div>
            
            <div class="site-info">
				<p class="site-copyright">{{ 'Copyright'|trans }}</p>
				<p class="site-about"><a href="{{ path('armd_main_special_about') }}">{{ 'Navigation.About'|trans }}</a> / <a href="mailto:info@mkrf.ru">portal@mkrf.ru</a><br />
                <a href="http://fond.culture.ru/" target="_blank">Российский Фонд Культуры</a></p>
			</div>
            
		</footer>
		{% block javascripts %}
            <script type="text/javascript" src="{{ asset('vendor/jquery-1.8.3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/jquery.cookie.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/share.js') }}" ></script>
			<script src="{{ asset('js/plugins.js') }}"></script>
			<script src="{{ asset('js/blind.js') }}"></script>
       {% endblock %}
    </body>
</html>
