{% extends ':Frontend:base.html.twig' %}


{% block title %} {{ 'Portal title'|trans }} — {{ 'Navigation.Library'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
		$(function(){
			$(".banners-list-code textarea").on("focus keyup", function(e){

				var keycode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
				if(keycode === 9 || !keycode){
					
					var $this = $(this);
					$this.select();

					$this.on("mouseup", function() {
						$this.off("mouseup");
						return false;
					});
				}
			});
		})
	</script>		
{% endblock %}

{% block page_header_title %}
    {{ 'Banners header'|trans }}
{% endblock %}

{% block body%}

    {% if app.request.locale == 'en' %}
    
        <div class="content">
            <p>The banners of the culture.ru portal can be displayed on Internet websites without any restrictions on length or time of publication.</p>
            <table class="banners-list">
                <tr>
                    <td class="banners-list-image">
                        <img src="{{ asset('img/banners/100x100.png')}}" alt="" />
                    </td>
                    <td class="banners-list-code">
                        <h2>PNG. 100x100 pixels</h2>
                        <p>Copy the code to add our banner to you webside or blog:</p>
                        <textarea name="" id="" cols="30" rows="3" readonly><a href="http://www.culture.ru/"><img src="http://www.culture.ru/img/banners/100x100.png" alt="Russian Cultural Heritage Web Portal Culture.ru"></a></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="banners-list-image">
                        <img src="{{ asset('img/banners/130x59.png')}}" alt="" />
                    </td>
                    <td class="banners-list-code">
                         <h2>PNG. 130x69 pixels</h2>
                        <p>Copy the code to add our banner to you webside or blog:</p>
                        <textarea name="" id="" cols="30" rows="3" readonly><a href="http://www.culture.ru/"><img src="http://www.culture.ru/img/banners/130x59.png" alt="Russian Cultural Heritage Web Portal Culture.ru"></a></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="banners-list-image">
                        <img src="{{ asset('img/banners/88x31.png')}}" alt="" />
                    </td>
                    <td class="banners-list-code">
                         <h2>PNG. 88x31 pixels</h2>
                        <p>Copy the code to add our banner to you webside or blog:</p>
                        <textarea name="" id="" cols="30" rows="3" readonly><a href="http://www.culture.ru/"><img src="http://www.culture.ru/img/banners/88x31.png" alt="Russian Cultural Heritage Web Portal Culture.ru"></a></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="banners-list-image">
                        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100" height="100">
                            <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#ffffff" />
                            <param name="play" value="true" />
                            <param name="loop" value="true" />
                            <param name="wmode" value="window" />
                            <param name="scale" value="showall" />
                            <param name="menu" value="true" />
                            <param name="devicefont" value="false" />
                            <param name="salign" value="" />
                            <param name="allowScriptAccess" value="allways" />
                            <!--[if !IE]>-->
                            <object type="application/x-shockwave-flash" data="{{ asset('img/banners/100x100.swf')}}" width="100" height="100">
                                <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
                                <param name="quality" value="high" />
                                <param name="bgcolor" value="#ffffff" />
                                <param name="play" value="true" />
                                <param name="loop" value="true" />
                                <param name="wmode" value="window" />
                                <param name="scale" value="showall" />
                                <param name="menu" value="true" />
                                <param name="devicefont" value="false" />
                                <param name="salign" value="" />
                                <param name="allowScriptAccess" value="allways" />
                            <!--<![endif]-->
                                <a href="http://www.adobe.com/go/getflash">
                                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
                                </a>
                            <!--[if !IE]>-->
                            </object>
                            <!--<![endif]-->
</object>
                    </td>
                    <td class="banners-list-code">
                        <h2>SWF. 100x100 pixels</h2>
                        <p>Copy the code to add our banner to you webside or blog: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly>
                            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100" height="100">
    <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/100x100.swf')}}" width="100" height="100">
        <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object></textarea>
                    </td>
                </tr>


                <tr>
                    <td class="banners-list-image">
                          
                    </td>
                    <td class="banners-list-code">
                        <h2>SWF. 100x90 pixels</h2>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1000" height="90">
    <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/1000x90_last_2.swf')}}" width="1000" height="90">
        <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>

                        <p>Copy the code to add our banner to you webside or blog: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly>
                            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1000" height="90">
    <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/1000x90_last_2.swf')}}" width="1000" height="90">
        <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object></textarea>
                    </td>
                </tr>    



                                            <tr>
                    <td class="banners-list-image">
                          
                    </td>
                    <td class="banners-list-code">
                        <h2>SWF. 468x60 pixels</h2>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="468" height="60">
    <param name="movie" value="{{ asset('img/banners/468x60.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/468x60.swf')}}" width="468" height="60">
        <param name="movie" value="{{ asset('img/banners/468x60.swf.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>

                        <p>Copy the code to add our banner to you webside or blog: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly>
                            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="468" height="60">
    <param name="movie" value="{{ asset('img/banners/468x60.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/468x60.swf')}}" width="468" height="60">
        <param name="movie" value="{{ asset('img/banners/468x60.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        
            <a href="http://www.culture.ru/"><img src="{{ asset('img/banners/468x60.gif')}}" alt=""></a>
      
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object></textarea>
                    </td>
                </tr>                 
            </table>
        </div>

    {% else %}

        <div class="content">
            <p>Баннеры портала Культура.рф  могут быть воспроизведены на серверах сети Интернет без каких-либо ограничений по объёму и срокам публикации.</p>
            <table class="banners-list">
                <tr>
                    <td class="banners-list-image">
                        <img src="{{ asset('img/banners/100x100.png')}}" alt="" />
                    </td>
                    <td class="banners-list-code">
                         <h2>PNG. 100x100 пикселей</h2>
                        <p>Код баннера для вставки на сайт или блог: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly><a href="http://www.culture.ru/"><img src="http://www.culture.ru/img/banners/100x100.png" alt="Портал Культура.рф"></a></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="banners-list-image">
                        <img src="{{ asset('img/banners/130x59.png')}}" alt="" />
                    </td>
                    <td class="banners-list-code">
                        <h2>PNG. 130x59 пикселей</h2>
                        <p>Код баннера для вставки на сайт или блог: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly><a href="http://www.culture.ru/"><img src="http://www.culture.ru/img/banners/130x59.png" alt="Портал Культура.рф"></a></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="banners-list-image">
                        <img src="{{ asset('img/banners/88x31.png')}}" alt="" />
                    </td>
                    <td class="banners-list-code">
                        <h2>PNG. 88x31 пикселей</h2>
                        <p>Код баннера для вставки на сайт или блог: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly><a href="http://www.culture.ru/"><img src="http://www.culture.ru/img/banners/88x31.png" alt="Портал Культура.рф"></a></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="banners-list-image">
                        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100" height="100">
                            <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#ffffff" />
                            <param name="play" value="true" />
                            <param name="loop" value="true" />
                            <param name="wmode" value="window" />
                            <param name="scale" value="showall" />
                            <param name="menu" value="true" />
                            <param name="devicefont" value="false" />
                            <param name="salign" value="" />
                            <param name="allowScriptAccess" value="allways" />
                            <!--[if !IE]>-->
                            <object type="application/x-shockwave-flash" data="{{ asset('img/banners/100x100.swf')}}" width="100" height="100">
                                <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
                                <param name="quality" value="high" />
                                <param name="bgcolor" value="#ffffff" />
                                <param name="play" value="true" />
                                <param name="loop" value="true" />
                                <param name="wmode" value="window" />
                                <param name="scale" value="showall" />
                                <param name="menu" value="true" />
                                <param name="devicefont" value="false" />
                                <param name="salign" value="" />
                                <param name="allowScriptAccess" value="allways" />
                            <!--<![endif]-->
                                <a href="http://www.adobe.com/go/getflash">
                                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
                                </a>
                            <!--[if !IE]>-->
                            </object>
                            <!--<![endif]-->
</object>
                    </td>
                    <td class="banners-list-code">
                        <h2>SWF. 100x100 пикселей</h2>
                        <p>Код баннера для вставки на сайт или блог: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly>
                            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100" height="100">
    <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/100x100.swf')}}" width="100" height="100">
        <param name="movie" value="{{ asset('img/banners/100x100.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object></textarea>
                    </td>
                </tr>


                <tr>
                    <td class="banners-list-image">
                          
                    </td>
                    <td class="banners-list-code">
                        <h2>SWF. 100x90 пикселей</h2>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1000" height="90">
    <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/1000x90_last_2.swf')}}" width="1000" height="90">
        <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>

                        <p>Код баннера для вставки на сайт или блог: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly>
                            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1000" height="90">
    <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/1000x90_last_2.swf')}}" width="1000" height="90">
        <param name="movie" value="{{ asset('img/banners/1000x90_last_2.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object></textarea>
                    </td>
                </tr>    



                                            <tr>
                    <td class="banners-list-image">
                          
                    </td>
                    <td class="banners-list-code">
                        <h2>SWF. 468x60 пикселей</h2>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="468" height="60">
    <param name="movie" value="{{ asset('img/banners/468x60.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/468x60.swf')}}" width="468" height="60">
        <param name="movie" value="{{ asset('img/banners/468x60.swf.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>

                        <p>Код баннера для вставки на сайт или блог: </p>
                        <textarea name="" id="" cols="30" rows="3" readonly>
                            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="468" height="60">
    <param name="movie" value="{{ asset('img/banners/468x60.swf')}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="window" />
    <param name="scale" value="showall" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="allways" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{ asset('img/banners/468x60.swf')}}" width="468" height="60">
        <param name="movie" value="{{ asset('img/banners/468x60.swf')}}" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="allways" />
    <!--<![endif]-->
        
            <a href="http://www.culture.ru/"><img src="{{ asset('img/banners/468x60.gif')}}" alt=""></a>
      
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object></textarea>
                    </td>
                </tr>  

            </table>
        </div>

    {% endif %}

{% endblock %}