{% extends ':Frontend:layout_two_column.html.twig' %}


{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/function.js') }}"></script>

{% endblock %}

{% block title %}{{ parent() }} — {{ 'menu.may9'|trans }}{% endblock %}

{% block page_header_title %}{{ 'menu.may9'|trans }}{% endblock %}

{% block left_column %}
<section class="lecture-homepage-section clearfix block">
    <h2><span>Трансляции</span></h2>
    
    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Баллада о солдате" href="/lecture/view/551">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>
    <img width="160" height="auto" alt="Баллада о солдате" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12267_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Баллада о солдате" href="/lecture/view/551">
    Баллада о солдате
    </a>
    </span>
    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 130</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Белорусский вокзал" href="/lecture/view/554">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Белорусский вокзал" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12292_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Белорусский вокзал" href="/lecture/view/554">
    Белорусский вокзал
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="80">Исторические</a></nobr>
    </div>
    <p class="views">Просмотров: 120</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Восхождение" href="/lecture/view/562">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Восхождение" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12289_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Восхождение" href="/lecture/view/562">
    Восхождение
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 142</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Живые и мертвые" href="/lecture/view/568">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Живые и мертвые" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12262_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Живые и мертвые" href="/lecture/view/568">
    Живые и мертвые
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 89</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Иваново детство" href="/lecture/view/570">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Иваново детство" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12268_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Иваново детство" href="/lecture/view/570">
    Иваново детство
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 299</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Иди и смотри" href="/lecture/view/571">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Иди и смотри" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12273_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Иди и смотри" href="/lecture/view/571">
    Иди и смотри
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 365</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Обыкновенный фашизм" href="/lecture/view/582">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Обыкновенный фашизм" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12353_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Обыкновенный фашизм" href="/lecture/view/582">
    Обыкновенный фашизм
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="80">Исторические</a></nobr>
    </div>
    <p class="views">Просмотров: 359</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Освобождение" href="/lecture/view/584">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Освобождение" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12355_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Освобождение" href="/lecture/view/584">
    Освобождение
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
    </div>
    <p class="views">Просмотров: 90</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Смелые люди" href="/lecture/view/588">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Смелые люди" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12359_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Смелые люди" href="/lecture/view/588">
    Смелые люди
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 157</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Судьба человека" href="/lecture/view/590">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Судьба человека" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12363_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Судьба человека" href="/lecture/view/590">
    Судьба человека
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
    </div>
    <p class="views">Просмотров: 131</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Щит и меч" href="/lecture/view/593">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Щит и меч" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12369_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Щит и меч" href="/lecture/view/593">
    Щит и меч
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="80">Исторические</a></nobr>
    </div>
    <p class="views">Просмотров: 174</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Они сражались за Родину" href="/lecture/view/682">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Они сражались за Родину" src="http://culture.ru/ru/uploads/media/lecture/0001/15/thumb_14110_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Они сражались за Родину" href="/lecture/view/682">
    Они сражались за Родину
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
    </div>
    <p class="views">Просмотров: 348</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="«А зори здесь тихие», 1-я серия" href="/lecture/view/979">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="«А зори здесь тихие», 1-я серия" src="http://culture.ru/ru/uploads/media/lecture/0001/15/thumb_14191_lecture_lectureW160H120.jpeg">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="«А зори здесь тихие», 1-я серия" href="/lecture/view/979">
    «А зори здесь тихие», 1-я серия
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 126</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Звезда" href="/lecture/view/992">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Звезда" src="http://culture.ru/ru/uploads/media/lecture/0001/15/thumb_14205_lecture_lectureW160H120.jpeg">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Звезда" href="/lecture/view/992">
    Звезда
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
    </div>
    <p class="views">Просмотров: 107</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="«Молодая гвардия» 1-я серия" href="/lecture/view/1000">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="«Молодая гвардия» 1-я серия" src="http://culture.ru/ru/uploads/media/lecture/0001/15/thumb_14216_lecture_lectureW160H120.jpeg">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="«Молодая гвардия» 1-я серия" href="/lecture/view/1000">
    «Молодая гвардия» 1-я серия
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 115</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Подвиг разведчика" href="/lecture/view/1004">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Подвиг разведчика" src="http://culture.ru/ru/uploads/media/lecture/0001/15/thumb_14251_lecture_lectureW160H120.jpeg">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Подвиг разведчика" href="/lecture/view/1004">
    Подвиг разведчика
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 101</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->


    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Проверка на дорогах" href="/lecture/view/1006">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Проверка на дорогах" src="http://culture.ru/ru/uploads/media/lecture/0001/15/thumb_14360_lecture_lectureW160H120.jpeg">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Проверка на дорогах" href="/lecture/view/1006">
    Проверка на дорогах
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 130</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Радуга" href="/lecture/view/1007">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Радуга" src="http://culture.ru/ru/uploads/media/lecture/0001/15/thumb_14254_lecture_lectureW160H120.jpeg">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Радуга" href="/lecture/view/1007">
    Радуга
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 122</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->

    <div class="plitka-one-wrap">
    <div class="plitka-one">
    <a class="plitka-one-image-wrapper" title="Летят журавли" href="/lecture/view/577">
    <div class="plitka-one-image">
    <div class="cinema-top100-icon"></div>


    <img width="160" height="auto" alt="Летят журавли" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12284_lecture_lectureW160H120.png">            
    </div>
    </a>
    <div class="plitka-text">
    <span class="plitka-name">
    <a title="Летят журавли" href="/lecture/view/577">
    Летят журавли
    </a>
    </span>

    </div>
    <div class="plitka-footer">
    <div class="tags">
    <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
    </div>
    <p class="views">Просмотров: 115</p>
    </div>
    </div>
    </div><!-- /plitka-one-wrap -->
</section>
{% endblock %}
{% block right_column %}

{% endblock %}
