{% extends ':Frontend:layout_two_column.html.twig' %}


{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/function.js') }}"></script>

<script type="text/javascript">
  $(function () {
      initUi();
      initFancybox();
  });

  function initUi() {
      $('#read-more').parent().parent().click(function(){
          $('.may9 .content').removeClass('collapsed');
          $('.may9 .content').addClass('bordered');
          $(this).hide();
          return false;
      });
  }

    function initFancybox() {
        $('.fancybox').fancybox({
            prevEffect: 'none',
            nextEffect: 'none'
        });

        $(".zoom-fancybox").click(function() {
            var $img   = $("img", $(this).attr("href")).clone(),
                $title = $("div", $(this).attr("href"));

            $("a", $title).css("color", "#fff");
            $img.css("visibility", "hidden");

            $.fancybox.open({
                autoSize:   false,
                scrolling:  "no",
                type:       "html",
                title:      $title.html(),
                content:    $img,
                helpers : {
                    title: {
                        type: 'outside'
                    }
                },
                afterShow: function() {
                    $img.css("visibility", "visible");
                    $img.z({
                        width: $.fancybox.inner.width(),
                        height: $.fancybox.inner.height(),
                        initial_POSITION: "0, 0",
                        initial_ZOOM: $.fancybox.inner.width() / $img.width() * 100,
                        button_ICON_IMAGE: '/vendor/zp/zoom_assets/icons.png',
                        border_SIZE: 0,
                    });
                },
                onUpdate: function() {
                    var $fbInner = $($.fancybox.inner),
                        fbInnerWidth  = $fbInner.width(),
                        fbInnerHeight = $fbInner.height();

                    zoomer_.sW = fbInnerWidth;
                    zoomer_.sH = fbInnerHeight;
                    zoomer_.zoom = $.fancybox.inner.width() / $img.width() * 100
                    zoomer_.$holder.width(fbInnerWidth);
                    zoomer_.$holder.height(fbInnerHeight);

                    zoomer_.Reset();
                }
            });
        });
    }
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'menu.may9'|trans }}{% endblock %}

{% block page_header_title %}{{ 'menu.may9'|trans }}{% endblock %}

{% block left_column %}
<ul class="breadcrumbs" style="margin-bottom:20px;">
    <li><a href="/">Главная</a></li>
    <li><span>{{ 'menu.may9'|trans }}</span></li>
</ul>
<div class="may9">
    <h1 class="obraz-header" style="margin-bottom:20px;"><span>Сороковые, роковые...</span></h1>
    <div class="block">
        <div class="content collapsed">
            <p class="text-author">Диляра Тасбулатова</p>
            <p class="split-text">
            Перебирая наши даты,<br>
            Я&nbsp;обращаюсь к&nbsp;тем ребятам,<br>
            Что в&nbsp;сорок первом шли в&nbsp;солдаты,<br>
            И&nbsp;в&nbsp;гуманисты в&nbsp;сорок пятом.<br>
            А&nbsp;гуманизм не&nbsp;только термин,<br>
            К&nbsp;тому&nbsp;же, говорят, абстрактный.<br>
            Я&nbsp;обращаюсь вновь к&nbsp;потерям,<br>
            Они трудны и&nbsp;невозвратны.<br>
            Я&nbsp;вспоминаю Павла, Мишу,<br>
            Илью, Бориса, Николая.<br>
            Я&nbsp;сам теперь от&nbsp;них завишу,<br>
            Того порою не&nbsp;желая.<br>
            Они шумели буйным лесом,<br>
            В&nbsp;них были вера и&nbsp;доверье,<br>
            А&nbsp;их&nbsp;повыбило железом,<br>
            И&nbsp;леса нет&nbsp;&mdash; одни деревья.</p>
            <figure class="event-one_image image-left">
                <img src="/img/may9/samoilov.jpg" alt="Давид Самойлов">
                <figcaption>Давид Самойлов</figcaption>
            </figure>
            <p>...В этих знаменитых стихах Давида Самойлова, прошедшего всю войну в&nbsp;разведроте, как будто отзывается трагедия поколения&nbsp;&mdash; ребят, рожденных в&nbsp;двадцатых и&nbsp;погибших в&nbsp;первые&nbsp;же дни войны совсем юными: Коган, Кульчицкий, Лапшин, Майоров, Смоленский...<br>
            В&nbsp;живых остались единицы&nbsp;&mdash; и&nbsp;среди них Давид Самойлов, который всю жизнь, как признается в&nbsp;этом щемящем стихотворении, зависел от&nbsp;погибших друзей: от&nbsp;памяти, от&nbsp;военного братства, от&nbsp;их&nbsp;общей юности. Совсем недолгой... Воевал и&nbsp;близкий друг Самойлова, Борис Слуцкий, поэт знаменитый, как сейчас говорят, &laquo;культовый&raquo;; не&nbsp;говоря уже о&nbsp;Твардовском, Симонове, Светлове... </p>
            <p class="important-text">Расхожее обывательское суждение, что, мол, писатели, поэты и&nbsp;журналисты бывали на&nbsp;войне лишь наездами, да&nbsp;и&nbsp;то&nbsp;не&nbsp;на&nbsp;самых опасных участках, легко опровергнуть:</p>
            <p>как известно, Василий Гроссман прошел сталинградский&nbsp;ад, где температура воздуха от&nbsp;стреляющих беспрерывно орудий доходила до&nbsp;45&nbsp;градусов, Михаил Светлов участвовал в&nbsp;боях непосредственно. Так&nbsp;же, как и&nbsp;военные кинооператоры, многие из&nbsp;которых пали на&nbsp;поле боя: шли в&nbsp;атаку прямо с&nbsp;камерами, и&nbsp;число погибших поражает воображение. О&nbsp;Сталинграде рассказывал и&nbsp;Григорий Чухрай, будущий автор &laquo;Баллады о&nbsp;солдате&raquo;, и&nbsp;тот&nbsp;же Гроссман, да&nbsp;и&nbsp;многие другие... <br>
            Интересно, что при все при этом&nbsp;&mdash; особенно в&nbsp;наши времена, когда многие свидетельства и&nbsp;документы рассекречены, и&nbsp;мы&nbsp;знаем, что война была ужасающей, условия тяжелейшие, выжившие в&nbsp;этой бойне считали свой военный опыт необходимым. Ну&nbsp;примерно как Солженицын считал лагерный опыт полезным для становления личности... </p>
            <figure class="event-one_image image-right">
                <img src="/img/may9/slutskii.jpg" alt="Борис Слуцкий">
                <figcaption>Борис Слуцкий</figcaption>
            </figure>
           <p class="important-text">Давид Самойлов, попавший на&nbsp;войну совсем юным, полагал, что никогда&nbsp;бы не&nbsp;стал поэтом такого уровня, если&nbsp;бы не&nbsp;война.</p>
           <p>Ему, кстати,&nbsp;&mdash; по&nbsp;малолетству, да&nbsp;и&nbsp;как студенту и&nbsp;единственному сыну у&nbsp;родителей,&nbsp;&mdash; полагалась бронь, однако он&nbsp;рвался на&nbsp;фронт и&nbsp;пошел добровольцем: в&nbsp;первый раз ему даже отказали. Родители склонили головы перед его решением&nbsp;&mdash; мол, надо, значит надо. <br>
            Сам он&nbsp;рассказывал, как его проверяли в&nbsp;штабе: положили на&nbsp;стол заряженный пистолет и&nbsp;предложили сыграть в&nbsp;&laquo;русскую рулетку&raquo;&nbsp;&mdash; покрутить барабан и&nbsp;выстрелить в&nbsp;висок. Так между прочим, тогда &laquo;тестировали&raquo; военных разведчиков... С&nbsp;честью выдержав испытание (пистолет все&nbsp;же не&nbsp;был заряжен), он&nbsp;вспоминал многие годы спустя, что этот экзамен был, возможно, самым ужасающим испытанием в&nbsp;его жизни: брать «языка» и&nbsp;ходить в&nbsp;разведку оказалось не&nbsp;так страшно. <br>
            Любопытно еще вот что: и&nbsp;Самойлов, и&nbsp;Светлов не&nbsp;только не&nbsp;теряли самообладания даже во&nbsp;время обстрелов, атак, бомбардировок, но&nbsp;еще и&nbsp;все время шутили. Светлова обожали бойцы, как балагура и&nbsp;весельчака: в&nbsp;коротких перерывах между атаками врага даже просили его почитать им&nbsp;стихи. Его сын, Александр Михайлович Светлов, рассказал мне как-то интересные подробности из&nbsp;военной жизни своего отца: </p>
            <blockquote>Как-то ехали они на&nbsp;грузовике, а&nbsp;вдруг &laquo;мессер&raquo; в&nbsp;воздухе появился. Начал стремительно приближаться, поливая дорогу из&nbsp;пушек и&nbsp;пулеметов. Грузовик сразу задымился, они все врассыпную&nbsp;&mdash; в&nbsp;кусты. &laquo;Мессер&raquo; вроде&nbsp;бы отстрелялся, ребята уже было пошли назад к&nbsp;грузовику, как немец развернулся и&nbsp;&mdash; опять. И&nbsp;так несколько раз. Хотя, казалось&nbsp;бы, зачем ему этот грузовик-то сдался? И&nbsp;вот отец, озабоченно посмотрев, как самолет идет на&nbsp;очередной вираж, задумчиво так произнес: &laquo;Интересно, откуда он&nbsp;знает, что я&nbsp;&mdash; еврей?&raquo; </blockquote>
            <p>Или вот еще такая история, тоже рассказанная Александром Светловым: </p>
            <blockquote>Как-то в&nbsp;перерыве между боями ребята, собравшись возле блиндажа, слушали его стихи. Он&nbsp;читал по&nbsp;газете&nbsp;&mdash; наизусть никогда своих стихов не&nbsp;помнил. И&nbsp;вот, когда дошел примерно до&nbsp;половины (а&nbsp;стихи занимали в&nbsp;газете почти целую полосу), высоко в&nbsp;небе показалась большая группа немецких бомбардировщиков. Обычно они не&nbsp;обращали внимания на&nbsp;маленькие группы солдат, разбросанных по&nbsp;лесам и&nbsp;болотам, но&nbsp;этот &laquo;литературный утренник&raquo; почему-то их&nbsp;заинтересовал... От&nbsp;группы отделился один самолет и&nbsp;пошел со&nbsp;снижением в&nbsp;их&nbsp;сторону. Светлов это заметил, однако продолжал читать. Правда, пропустил ряд строф, но&nbsp;концовку таки прочитал. Тут все бросились в&nbsp;укрытие: немец уже летел чуть&nbsp;ли не&nbsp;над их&nbsp;головами... <br><br>
            Позднее, уже сидя в&nbsp;безопасности, он&nbsp;раздумчиво так произнес: &laquo;Я&nbsp;только теперь заметил, что в&nbsp;этом стихотворении есть длинноты&raquo;. </blockquote>
            <p>Как говорил Александр Михайлович Светлов, &laquo;Сандрик&raquo;, как его называл отец и&nbsp;друзья, что, дескать, шутка, сказанная в&nbsp;нужную минуту, звучит лучше любого, сколь угодно блестящего афоризма. Действительно, тут момент важен: шутить под гул истребителей, нацеленных прямо на&nbsp;тебя&nbsp;&mdash; такое только Светлову удавалось </p>
            <figure class="event-one_image image-left">
                <img src="/img/may9/chukhrai.jpg" alt="Григорий Чухрай">
                <figcaption>Григорий Чухрай</figcaption>
            </figure>
            <p>
            ...Так получилось, что именно я&nbsp;взяла последнее интервью у&nbsp;Григория Наумовича Чухрая, героического человека, который прошел не&nbsp;только Сталинградский&nbsp;ад, но&nbsp;и&nbsp;в&nbsp;мирной жизни сумел отстоять &laquo;честь и&nbsp;достоинство&raquo; порядочного человека. Известна история, когда он&nbsp;&mdash; вопреки страшному давлению сверху, вплоть до&nbsp;требования положить партбилет на&nbsp;стол,&nbsp;&mdash; дал таки главный приз Феллини в&nbsp;то&nbsp;время как начальство требовало наградить фильм &laquo;Знакомьтесь, Балуев!&raquo;. Знаменитый скандал произошел на&nbsp;Московском кинофестивале 1961&nbsp;года, где Чухрай возглавлял жюри. Если&nbsp;бы Чухрай тогда дрогнул, мы&nbsp;бы многое потеряли в&nbsp;глазах мирового сообщества: прежде всего как культурная страна...</p>
            <figure class="event-one_image image-right">
                <img src="/img/may9/dolmatovskii.jpg" alt="Евгений Долматовский">
                <figcaption>Евгений Долматовский</figcaption>
            </figure>
            <p>Я&nbsp;разговаривала с&nbsp;ним летом 2000&nbsp;года, перед самым Днем Победы: Григорий Наумович уже был глубоким стариком, плохо слышал, и&nbsp;мы&nbsp;с&nbsp;ним целый день провели вместе. Записала четыре кассеты, чтобы выбрать наиважнейшие события его жизни:</p>
            <p class="important-text">война, как говорил сам Чухрай, повлияла на&nbsp;его дальнейшую жизнь самым что ни&nbsp;на&nbsp;есть благотворным образом, несмотря ни&nbsp;на&nbsp;что. Глубинная экзистенция его фильмов могла зародиться только здесь, когда человек каждый божий день стоит перед выбором и&nbsp;видит смерть наяву.</p>
            <p>Из&nbsp;воспоминаний Григория Чухрая: </p>
            <blockquote>...Великая Отечественная началась, как известно, 22&nbsp;июня, а&nbsp;уже утром <nobr>23-го</nobr> я&nbsp;был в&nbsp;первый раз ранен. Еще не&nbsp;успел до&nbsp;конца вылечиться, как немцы подошли к&nbsp;Харькову, и&nbsp;меня, двадцатилетнего сопляка, сразу назначили командиром взвода. То&nbsp;есть присвоили офицерскую должность. Хотя такое повышение льстило моему самолюбию, пехотного боя я&nbsp;не&nbsp;знал, и&nbsp;до&nbsp;сих пор со&nbsp;стыдом вспоминаю, как плохо защищал Харьков. Да&nbsp;и&nbsp;бойцы во&nbsp;взводе были абсолютно неопытны, необучены: если&nbsp;бы, не&nbsp;приведи Господи, случился тогда настоящий бой, наверное, все побежали&nbsp;бы кто куда. А&nbsp;меня&nbsp;бы судили. Но&nbsp;тогда я&nbsp;боялся не&nbsp;суда, а&nbsp;бесчестья. Но&nbsp;вообще-то я&nbsp;счастливчик: как только возникает безвыходная ситуация, мне каким-то чудом удается ее&nbsp;избежать. Так и&nbsp;тут: нежданно-негаданно объявили набор комсомольцев в&nbsp;воздушно-десантные войска. Обучали нас в&nbsp;городе Ессентуки, и&nbsp;вот там-то из&nbsp;нас сделали настоящих &laquo;суперменов&raquo;&nbsp;&mdash; теперь мы&nbsp;уже умели стрелять из&nbsp;любого положения, хоть из&nbsp;кармана, метать ножи, прыгать с&nbsp;парашюта, с&nbsp;машины на&nbsp;полном ходу, могли выживать в&nbsp;тылу у&nbsp;немцев, группироваться и&nbsp;все такое. В&nbsp;общем, универсальные солдаты. Вскоре нас бросили на&nbsp;задание, которое было сорвано немцами, ребят уже в&nbsp;воздухе расстреляли, от&nbsp;14&nbsp;тысяч осталось 240&nbsp;человек... Это был такой кошмар...<br><br>
            Тем не&nbsp;менее&nbsp;то, что о&nbsp;чем сейчас любят говорить&nbsp;&mdash; что&nbsp;мы, мол, не&nbsp;умели воевать, а&nbsp;просто завалили своими трупами всю Европу&nbsp;&mdash; это неправда. Полная чушь. Запад еще тогда хотел отнять у&nbsp;нас нашу победу, преувеличивая роль союзных войск. Но&nbsp;ведь под Сталинградом, переломившим ход войны, умирали одни русские, и&nbsp;до&nbsp;Берлина союзники &laquo;не&nbsp;дошли&raquo; умышленно, опять предоставив умирать нам, штурмовавшим хорошо укрепленный город. Зато когда в&nbsp;семидесятые я&nbsp;снимал документальную картину &laquo;Память&raquo;, задавая респектабельным господам в&nbsp;Париже и&nbsp;Лондоне один-единственный вопрос&nbsp;&mdash; что они знают о&nbsp;сталинградской битве? &mdash;&nbsp;все пожимали плечами.<br><br>
            Сам я&nbsp;пошел этот ад&nbsp;от&nbsp;начала до&nbsp;конца, и&nbsp;до&nbsp;сих пор удивляюсь, что остался жив. Это почти невероятно. То, что там было, описать словами нельзя, горел каждый сантиметр земли, от&nbsp;грохота орудий можно было оглохнуть.</blockquote>
            <figure class="event-one_image image-left">
                <img src="/img/may9/smoktunovsii.jpg" alt="Иннокентий Смоктуновский">
                <figcaption>Иннокентий Смоктуновский</figcaption>
            </figure>
            <p class="important-text">Вообще военные судьбы наших творцов&nbsp;&mdash; кинорежиссеров, писателей, поэтов, актеров,&nbsp;&mdash; иногда могли&nbsp;бы послужить канвой для детективного сериала, чуть&nbsp;ли не&nbsp;шпионского триллера:</p>
            <p>как, например, поразительная судьба поэта-песенника Евгения Долматовского. Автора таких хитов, как, скажем, &laquo;Любимый город&raquo;&nbsp;&mdash; песни, которую распевала вся страна, которая стала символом войны&nbsp;&mdash; настолько, что многие ошибочно принимают ее&nbsp;за&nbsp;&laquo;народную&raquo;.<br>
            Призванный совсем молодым, Долматовский попал в&nbsp;так называемую &laquo;Уманскую яму&raquo;, причем был ранен в&nbsp;голову и&nbsp;в&nbsp;ногу: рана на&nbsp;ноге гноилась, в&nbsp;ней завелись черви, а&nbsp;зрение&nbsp;&mdash; из-за контузии&nbsp;&mdash; давало искаженное изображение, раздвоенное. И&nbsp;вот в&nbsp;таком состоянии, с&nbsp;открытой раной на&nbsp;ноге и&nbsp;с&nbsp;поврежденным зрением, Долматовский сумел сбежать из&nbsp;плена! Спасла его простая женщина-украинка, укрыв у&nbsp;себя, промыв ему раны, хотя деревня, где она жила, находилась в&nbsp;зоне оккупации и&nbsp;это было смертельно опасно. <br>
            <figure class="event-one_image image-right">
                <img src="/img/may9/grossman.jpg" alt="Василий Гроссман">
                <figcaption>Василий Гроссман</figcaption>
            </figure>
            На&nbsp;знаменитом фото Халдея, классика советской фотографии&nbsp;&mdash; Долматовский, улыбаясь в&nbsp;объектив, стоит посреди разрушенного Берлина и&nbsp;в&nbsp;руках у&nbsp;него...голова Гитлера, отколовшаяся от&nbsp;поверженной скульптуры в&nbsp;полный рост... </p>
            <p>Побывал в&nbsp;плену и&nbsp;Иннокентий Смоктуновский, отправившийся на&nbsp;войну тоже совсем уж&nbsp;юнцом, семнадцати лет от&nbsp;роду. Часть, в&nbsp;которой служит Смоктуновский, попала в&nbsp;окружение, а&nbsp;сам он&nbsp;&mdash; в&nbsp;плен. Продержав пленных в&nbsp;нечеловеческих условиях, зимой под открытым небом, немцы колонной погнали их&nbsp;в&nbsp;Германию. Спасло его &laquo;неприличное&raquo; обстоятельство: конвоир сжалился и&nbsp;разрешил пойти двум солдатам и&nbsp;Смоктуновскому в&nbsp;том числе, &laquo;на&nbsp;травку&raquo;: мучительно болел желудок. Под мостом, куда они отправились справить нужду, он&nbsp;и&nbsp;остался: второй солдат, жестом попросив будущего актера не&nbsp;двигаться никуда, сидеть здесь, съехал с&nbsp;горки, смазав их&nbsp;следы. И, безымянный, исчез навсегда... Просидев сутки в&nbsp;сугробе, Кеша выбрался и&nbsp;добрался и&nbsp;еще месяцами скитался по&nbsp;лесам, по&nbsp;не&nbsp;добрался до&nbsp;деревушки Дмитровка... Выходила его, умирающего от&nbsp;истощения, старушка-украинка, рискуя сама быть расстрелянной за&nbsp;укрывательство. Разумеется, не&nbsp;подозревая, какую неоценимую услугу оказывает не&nbsp;только советской, но&nbsp;и&nbsp;мировой культуре: после Лоуренса Оливье, Смоктуновский, сыграл, наверно, лучшего Гамлета на&nbsp;свете... </p>
            <figure class="event-one_image image-left">
                <img src="/img/may9/okudzhava.jpg" alt="Булат Окуджава">
                <figcaption>Булат Окуджава</figcaption>
            </figure>
            <p>9&nbsp;мая недаром называют праздником со&nbsp;слезами на&nbsp;глазах: потери неисчислимы, разрушения и&nbsp;горе не&nbsp;поддаются описаниям: как говорится, после Освенцима поэзия невозможна. Как выяснилось, не&nbsp;совсем так: и&nbsp;хотя, скажем, Гроссман так и&nbsp;не&nbsp;увидел свой роман опубликованным- слишком уж&nbsp;обжигающей была правда о&nbsp;войне и&nbsp;лагерях&nbsp;&mdash; правда таки воссияла Более того: роман, как известно, экранизирован, а&nbsp;слава Гроссмана уже давно вышла за&nbsp;пределы страны.</p>
            <p class="important-text">Главным&nbsp;же в&nbsp;этой войне стало чувство единения не&nbsp;только всего народа, объединенного священной ненавистью и&nbsp;чувством патриотизма, но&nbsp;и&nbsp;объединения интеллигенции народа.</p>
            <p>Воспоминания Светлова Самойлова Долматовского, Смоктуновского, военных операторов свидетельствуют об&nbsp;этом яснее ясного, Как рассказывал тот&nbsp;же Самойлов, &laquo;русские солдаты умели умирать: мучения от&nbsp;ранений ни&nbsp;с&nbsp;чем не&nbsp;сравнимы, а&nbsp;обезболивающих не&nbsp;хватало&raquo;. И&nbsp;не&nbsp;только&nbsp;&mdash; русские: евреи, казахи, туркмены, грузин, да&nbsp;кто угодно. О&nbsp;чем сокрушался потом большой поэт Окуджава прошедший всю войну, заслуженный фронтовик: <em>Ах, война, что ты&nbsp;сделала, подлая... </em> </p>
            <p>Его негромкая лирика, лишенная официального пафоса&nbsp;&mdash; так&nbsp;же, как и&nbsp;военная лирика Давида Самойлова,&nbsp;&mdash; об&nbsp;этом священном времени единения и&nbsp;мужества свидетельствует больше, чем сотни трескучих фраз. </p>
            <p class="split-text"><em>Сороковые, роковые <br>
            Военные и&nbsp;фронтовые,<br>
            Где извещенья похоронные <br>
            И&nbsp;перестуки эшелонные.<br>
            Гудят накатанные рельсы.<br>
            Просторно. Холодно. Высоко.<br>
            И&nbsp;погорельцы, погорельцы<br>
            Кочуют с&nbsp;Запада к&nbsp;Востоку...<br>
            А&nbsp;это я&nbsp;на&nbsp;полустанке<br>
            В&nbsp;своей замурзанной ушанке,<br>
            Где звёздочка не&nbsp;уставная,<br>
            А&nbsp;вырезанная из&nbsp;банки.<br>
            Да, это я&nbsp;на&nbsp;белом свете,<br>
            Худой, весёлый и&nbsp;задорный,<br>
            И&nbsp;у&nbsp;меня табак в&nbsp;кисете,<br>
            И&nbsp;у&nbsp;меня мундштук наборный.<br>
            И&nbsp;я&nbsp;с&nbsp;девчонкой балагурю,<br>
            И&nbsp;больше нужного хромаю,<br>
            И&nbsp;пайку надвое ломаю.<br>
            И&nbsp;всё на&nbsp;свете понимаю.<br>
            Как это было! Как совпало&nbsp;&mdash; <br>
            Война, беда, мечта и&nbsp;юность.<br>
            И&nbsp;это всё в&nbsp;меня запало<br>
            И&nbsp;лишь потом во&nbsp;мне очнулось.<br>
            Сороковые, роковые,<br>
            Свинцовые, пороховые...<br>
            Война гуляет по&nbsp;России,<br>
            А&nbsp;мы&nbsp;такие молодые! </em></p>
            <p>Недаром это стихотворение Давида Самойлова стало классикой, одних из&nbsp;самых любимых стихотворений о&nbsp;войне... </p>
        </div><!-- /content -->
        <div class="more more3">
          <p>
            <a href="#" id="read-more">Читать дальше</a>
          </p>
        </div>
    </div><!-- /block -->
    <section class="index-block two-column-block clearfix index-news-block">
        <section class="index-block">
            <h2><a href="/press-centre/news/">Новости</a></h2>
            <a href="/press-centre/news/7763/">
                <div class="block-left-image-wrap"><img width="160" height="107" class="block-left-image" src="http://culture.ru/ru/uploads/media/news/0001/17/thumb_16730_news_eventsBillboard.jpeg"></div>
            </a>
            <div class="text-overflow">
                <a class="two-column-name" href="/press-centre/news/7763/">Министр культуры РФ&nbsp;Владимир Мединский поздравил ветеранов с&nbsp;наступающим Днем Победы</a>
                <p>Рабочая встреча с&nbsp;ветеранами Великой Отечественной войны&nbsp;&mdash; бывшими работниками Министерства культуры РСФСР и&nbsp;Госкино в&nbsp;Министерстве культуры началась с&nbsp;минуты молчания&nbsp;&mdash; в&nbsp;память о&nbsp;тех ветеранах, которые не&nbsp;дожили сегодняшнего дня.</p>
            </div>
        </section>
        <section class="index-block">
            <h2><a href="/press-centre/reportages/">Репортажи</a></h2>
            <a href="/press-centre/reportages/7784/">
                <div class="block-left-image-wrap"><img width="160" height="107" class="block-left-image" src="http://culture.ru/ru/uploads/media/news/0001/17/thumb_16878_news_eventsBillboard.jpeg"></div>
            </a>
            <div class="text-overflow">
                <a class="two-column-name" href="/press-centre/reportages/7784/">«Сталинград». «Маша, выставка потрясающая!»</a>
                <p>70&nbsp;лет и&nbsp;два месяца назад назад завершилась великая Сталинградская битва. Сражение, которое изменило ход Великой Отечественной и&nbsp;Второй мировой. Самое продолжительное и&nbsp;кровопролитное в&nbsp;истории той войны. Почти семь месяцев адского напряжения (с&nbsp;июля <nobr>42-го</nobr> по&nbsp;февраль <nobr>43-го),</nobr> в&nbsp;течение которых был наконец-то сломан хребет свирепого зверя под название &laquo;германский фашизм&raquo;.</p>
            </div>
        </section>
    </section>
</div><!-- /may9 -->
{% endblock %}
{% block right_column %}
<div style="height:60px;"></div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Видео</h2>
            <a class="block-image fancybox" href="#data-1">
            <img style="max-width: 100%;" src="http://photo.tvigle.ru/res/prt/85deec0537d438363b1c3b54dbe222e8/78/15/000002087815/pub.jpg" alt="">
            <span class="play"></span>                            
            </a>
            <div class="period-block_text">
                <p><b>Общенациональный мемориал воинской славы, Москва</b></p>
            </div>
        </article>
    </div>
    <div id="data-1" style="display: none;">
        <div class="fancybox-video-wrapper" style="width:640px; height:365px;">
            <iframe width="640" height="360" src="http://pub.tvigle.ru/frame/p.htm?prt=85deec0537d438363b1c3b54dbe222e8&amp;id=2087815&amp;srv=pub.tvigle.ru&amp;modes=1&amp;nl=1&amp;dopparam=armada_skin" style="border: 0px;"></iframe>
        </div>
    </div>
</div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Короткометражный фильм<br>«День победы»</h2>
            <a class="block-image" href="{{ path('armd_main_may9_day') }}"><img style="max-width: 100%;" src="/img/may9/day.jpg" alt=""></a>
        </article>
    </div>
</div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>{{ 'menu.may9_films'|trans }}</h2>
            <a class="block-image" href="{{ path('armd_main_may9_films') }}"><img style="max-width: 100%;" src="/img/may9/letyat.jpg" alt=""></a>
        </article>
    </div>
</div>
<!--
<section class="block right-column-media">
    <h2><span>Репортажи</span></h2>
    <div class="clearfix">
        <a href="/press-centre/reportages/7755/"><div class="block-left-image-wrap"><img class="block-left-image" src="http://culture.ru/ru/uploads/media/news/0001/17/thumb_16672_news_list.jpeg"></div></a>
        <div class="text-overflow">
            <a class="two-column-name" href="/press-centre/reportages/7755/">Волшебный мир Валентина Самарина</a>
            <p>В Санкт-Петербурге в галерее DiDi открылась выставка российского фотографа, художника, метафизика Валентина Самарина, посвященная его 85-летию. Название выставка носит совершенно необычное: «Искусство...</p>
            <p class="all"><a href="/press-centre/reportages/">все репортажи</a></p>
        </div>
    </div>
</section>
<section class="block right-column-media">
    <h2><span>Новости</span></h2>
    <div class="clearfix">
        <a href="/press-centre/reportages/7755/"><div class="block-left-image-wrap"><img class="block-left-image" src="http://culture.ru/ru/uploads/media/news/0001/17/thumb_16672_news_list.jpeg"></div></a>
        <div class="text-overflow">
            <a class="two-column-name" href="/press-centre/reportages/7755/">Волшебный мир Валентина Самарина</a>
            <p>В Санкт-Петербурге в галерее DiDi открылась выставка российского фотографа, художника, метафизика Валентина Самарина, посвященная его 85-летию. Название выставка носит совершенно необычное: «Искусство...</p>
            <p class="all"><a href="/press-centre/reportages/">все новости</a></p>
        </div>
    </div>
</section>
-->
{% endblock %}
