{% extends ':Frontend:layout_two_column.html.twig' %}


{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/function.js') }}"></script>

{% endblock %}

{% block title %}{{ parent() }} — {{ 'menu.may9'|trans }}{% endblock %}

{% block page_header_title %}{{ 'menu.may9'|trans }}{% endblock %}

{% block left_column %}
<ul class="breadcrumbs" style="margin-bottom:20px;">
    <li><a href="/">Главная</a></li>
    <li><a href="{{ path('armd_main_may9') }}">{{ 'menu.may9'|trans }}</a></li>
    <li><span>{{ 'menu.may9_films'|trans }}</span></li>
</ul>
<div class="block">
    <h1 style="margin-bottom:15px;"><span>{{ 'menu.may9_films'|trans }}</span></h1>
    <div id="lecture-container" class="plitka">
    <div class="plitka perfomances-list video-plitka">
        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Баллада о солдате" href="/lecture/view/551">
        <div class="plitka-one-image">
        <img width="160" height="auto" alt="Баллада о солдате" src="/img/may9/films/ballada_o_soldate.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Баллада о солдате" href="/lecture/view/551">
        Баллада о солдате
        </a>
        </span>
        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 130</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Белорусский вокзал" href="/lecture/view/554">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Белорусский вокзал" src="/img/may9/films/belorusskii_vokzal.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Белорусский вокзал" href="/lecture/view/554">
        Белорусский вокзал
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="80">Исторические</a></nobr>
        </div>
        <p class="views">Просмотров: 120</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Восхождение" href="/lecture/view/562">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Восхождение" src="/img/may9/films/voskhozhdenie.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Восхождение" href="/lecture/view/562">
        Восхождение
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 142</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Живые и мертвые" href="/lecture/view/568">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Живые и мертвые" src="/img/may9/films/zhivie_i_mertvie.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Живые и мертвые" href="/lecture/view/568">
        Живые и мертвые
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 89</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Иваново детство" href="/lecture/view/570">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Иваново детство" src="/img/may9/films/ivanovo_detstvo.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Иваново детство" href="/lecture/view/570">
        Иваново детство
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 299</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Иди и смотри" href="/lecture/view/571">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Иди и смотри" src="/img/may9/films/idi_i_smotri.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Иди и смотри" href="/lecture/view/571">
        Иди и смотри
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 365</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Обыкновенный фашизм" href="/lecture/view/582">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Обыкновенный фашизм" src="/img/may9/films/ordinary_fascism.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Обыкновенный фашизм" href="/lecture/view/582">
        Обыкновенный фашизм
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="80">Исторические</a></nobr>
        </div>
        <p class="views">Просмотров: 359</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Освобождение" href="/lecture/view/584">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Освобождение" src="/img/may9/films/osvobozhdenie.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Освобождение" href="/lecture/view/584">
        Освобождение
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
        </div>
        <p class="views">Просмотров: 90</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Смелые люди" href="/lecture/view/588">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Смелые люди" src="/img/may9/films/smelie_ludi.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Смелые люди" href="/lecture/view/588">
        Смелые люди
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 157</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Судьба человека" href="/lecture/view/590">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Судьба человека" src="/img/may9/films/sudba_cheloveka.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Судьба человека" href="/lecture/view/590">
        Судьба человека
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
        </div>
        <p class="views">Просмотров: 131</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Щит и меч" href="/lecture/view/593">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Щит и меч" src="/img/may9/films/schit_i_mech.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Щит и меч" href="/lecture/view/593">
        Щит и меч
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="80">Исторические</a></nobr>
        </div>
        <p class="views">Просмотров: 174</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Они сражались за Родину" href="/lecture/view/682">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Они сражались за Родину" src="/img/may9/films/oni_srazhalis_za_rodinu.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Они сражались за Родину" href="/lecture/view/682">
        Они сражались за Родину
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
        </div>
        <p class="views">Просмотров: 348</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="«А зори здесь тихие», 1-я серия" href="/lecture/view/979">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="«А зори здесь тихие», 1-я серия" src="/img/may9/films/a_zori_zdes_tikhie.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="«А зори здесь тихие», 1-я серия" href="/lecture/view/979">
        «А зори здесь тихие», 1-я серия
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 126</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Звезда" href="/lecture/view/992">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Звезда" src="/img/may9/films/zvezda.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Звезда" href="/lecture/view/992">
        Звезда
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a></nobr>
        </div>
        <p class="views">Просмотров: 107</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="«Молодая гвардия» 1-я серия" href="/lecture/view/1000">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="«Молодая гвардия» 1-я серия" src="/img/may9/films/molodaya_gvardia.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="«Молодая гвардия» 1-я серия" href="/lecture/view/1000">
        «Молодая гвардия» 1-я серия
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 115</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Подвиг разведчика" href="/lecture/view/1004">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Подвиг разведчика" src="/img/may9/films/podvig_razvedchika.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Подвиг разведчика" href="/lecture/view/1004">
        Подвиг разведчика
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 101</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->


        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Проверка на дорогах" href="/lecture/view/1006">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Проверка на дорогах" src="/img/may9/films/proverka_na_dorogakh.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Проверка на дорогах" href="/lecture/view/1006">
        Проверка на дорогах
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 130</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Радуга" href="/lecture/view/1007">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Радуга" src="/img/may9/films/raduga.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Радуга" href="/lecture/view/1007">
        Радуга
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="51">Военный</a>,</nobr>
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 122</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->

        <div class="plitka-one-wrap">
        <div class="plitka-one">
        <a class="plitka-one-image-wrapper" title="Летят журавли" href="/lecture/view/577">
        <div class="plitka-one-image">


        <img width="160" height="auto" alt="Летят журавли" src="/img/may9/films/letyat_zhuravli.jpg">            
        </div>
        </a>
        <div class="plitka-text">
        <span class="plitka-name">
        <a title="Летят журавли" href="/lecture/view/577">
        Летят журавли
        </a>
        </span>

        </div>
        <div class="plitka-footer">
        <div class="tags">
        <nobr><a href="#" class="cinema-category-link" data-category-id="53">Драма</a></nobr>
        </div>
        <p class="views">Просмотров: 115</p>
        </div>
        </div>
        </div><!-- /plitka-one-wrap -->
    </div>
    </div>
</div><!-- /block -->
{% endblock %}
{% block right_column %}

<div class="right-column">
<section class="block">
    <div class="recommend-block">
    <a href="/atlas/object/798"><img width="308" src="http://culture.ru/ru/uploads/media/atlas/0001/13/thumb_12511_atlas_sideBanner.jpeg"></a>

    <div class="recommend-over">
    <div class="recommend_name">
    <p><a href="/atlas/object/798">Общенациональный мемориал воинской славы, Москва</a></p>
    </div>
    <p class="recommend-type"><a href="/atlas/russia-images/">Образы России</a></p>
    </div>
    </div>
</section>

<div class="right-video-block">

<div class="flexslider">

<div class="flex-viewport" style="overflow: hidden; position: relative;">
<ul class="slides" style="width: 1200%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-308px, 0, 0);">
<li style="width: 308px; float: left; display: block;" class="flex-active-slide">
<article class="period-block">
<h2>Летят журавли</h2>
<a href="/lecture/view/577" class="period-block_image">
<div class="cinema-top100-icon"></div>


<img width="335" height="auto" alt="Летят журавли" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12284_lecture_big.png">            


<span class="play"></span>
</a>
<footer class="period-block_footer">
<div class="tags">
<a href="/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">Кинозал</a>
</div>
</footer>

</article>
</li>
<li style="width: 308px; float: left; display: block;">
<article class="period-block">
<h2>Друг мой, Колька!</h2>
<a href="/lecture/view/566" class="period-block_image">
<div class="cinema-top100-icon"></div>


<img width="335" height="auto" alt="Друг мой, Колька!" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12258_lecture_big.png">            


<span class="play"></span>
</a>
<footer class="period-block_footer">
<div class="tags">
<a href="/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">Кинозал</a>
</div>
</footer>

</article>
</li>
<li style="width: 308px; float: left; display: block;">
<article class="period-block">
<h2>Добровольцы Урала</h2>
<a href="/lecture/view/625" class="period-block_image">


<img width="335" height="auto" alt="Добровольцы Урала" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12860_lecture_big.jpeg">            


<span class="play"></span>
</a>
<footer class="period-block_footer">
<div class="tags">
<a href="/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">Кинозал</a>
</div>
</footer>

</article>
</li>
</ul>
</div>
<ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
</div>

</div>
</div>

{% endblock %}
