{% extends ':Frontend:layout_two_column.html.twig' %}


{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/function.js') }}"></script>

<script type="text/javascript">
    $(function () {
      initFancybox();
  });

    function initFancybox() {
        $(".fancybox").fancybox({
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    }
</script>

{% endblock %}

{% block title %}{{ parent() }} — {{ 'menu.may9'|trans }}{% endblock %}

{% block page_header_title %}{{ 'menu.may9'|trans }}{% endblock %}

{% block left_column %}
<ul class="breadcrumbs" style="margin-bottom:20px;">
    <li><a href="/">{{ 'menu.mainpage'|trans }}</a></li>
    <li><a href="{{ path('armd_main_may9') }}">{{ 'menu.may9'|trans }}</a></li>
    <li><span>{{ 'menu.may9_day'|trans }}</span></li>
</ul>
<div class="block" style="margin-bottom:35px;">
    <h1 style="margin-bottom:15px;"><span>{{ 'menu.may9_day'|trans }}</span></h1>
    <div class="video-one_container" style="margin-bottom:20px;">
    <object id="v2330332_1" name="vjs2330332_1" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="825" height="506" >
    <param name="FlashVars" value="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=2330332&w=720&h=405&type=&dopparam=armada_skin&modes=1&nl=1" />
    <param name="allowFullScreen" value="true" />
    <param name="movie" value="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#000000" />
    <param name="allowscriptaccess" value="always" />
    <embed id="vjs2330332_1" src="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" allowscriptaccess="always" 
    quality="high" width="825" height="506" bgcolor="#000000" 
    allowfullscreen="true" flashvars="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=2330332&w=720&h=405&type=&dopparam=armada_skin&modes=1&nl=1"
    type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" >
    <a style="display:none;" href='http://www.tvigle.ru/'>Tvigle</a>
    </embed>
    </object>
    </div>
</div><!-- /block -->
<div class="content">
    <h1 class="obraz-header" style="margin-bottom:20px;"><span>Игорь Гринякин: &laquo;День Победы&raquo;&nbsp;&mdash; фильм, который должен снять каждый</span></h1>
    <figure class="event-one_image image-left">
        <a class="fancybox" rel="may9-gallery" href="/img/may9/day/full/0.jpg"><img src="/img/may9/day/thumbs/0.jpg"></a>
    </figure>
    <p> Я&nbsp;это сделал в&nbsp;компании своих друзей, за&nbsp;свой счет, полагаясь только на&nbsp;собственные силы. В&nbsp;<nobr>2010-м</nobr> году Россия отмечала 65&nbsp;лет Великой Победы. Очень хотелось поучаствовать, пережить и&nbsp;как-то запечатлеть великий праздник. По&nbsp;телевидению говорили о&nbsp;небывалом торжестве, о&nbsp;танках, самолетах&nbsp;и, конечно, о&nbsp;ветеранах. 1&nbsp;мая, валяясь на&nbsp;диване, решил написать сценарий. Придумал историю, персонажи, конфликты, но&nbsp;диалоги писать не&nbsp;получалось, не&nbsp;верил словам. Решил делать фильм по&nbsp;законам документального проживания. Берем камеру, артистов заводим в&nbsp;толпу, наделяем их&nbsp;полномочиями и&nbsp;задачами. Вешаем звук, выдаем реквизит. Камера, мотор, начали. </p>
    <p> Съемочная группа&nbsp;&mdash; все мои друзья, 15&nbsp;человек. Маленькая группа позволяет быстро двигаться, умело справляясь с&nbsp;разными трудностями. Мы&nbsp;двигались от&nbsp;объекта к&nbsp;объекту, встречая на&nbsp;пути разных людей, пропускали их&nbsp;через себя и&nbsp;снимали. </p>
    <p> День был жаркий. У&nbsp;любого дела, если оно настоящее, настоящие сложности. Сложно все&nbsp;&mdash; ходить, дышать, работать. Жара, милиция, проверки, жажда, перезарядки пленки, отправка материала, необходимый отдых артистов, на&nbsp;который нет времени, и&nbsp;все это пешком и&nbsp;на&nbsp;себе. Маленькая фронтовая операция. </p>
    <p> Закончили снимать в&nbsp;полночь на&nbsp;Красной площади. Измотанные, голодные, обгоревшие на&nbsp;солнце, но&nbsp;счастливые. После съемок&nbsp;&mdash; новые трудности и&nbsp;новые решения. Спустя два года фильм на&nbsp;экране. Я&nbsp;очень рад, что он&nbsp;у&nbsp;меня есть, что мне удалось его снять. </p>
    <p> &laquo;День Победы&raquo; побывал более, чем на&nbsp;тридцати кинофестивалях, получил более, чем десять призов, и&nbsp;надеюсь, что на&nbsp;этом его жизнь не&nbsp;заканчивается. Я&nbsp;верю в&nbsp;его потенциал. Настоящие победы&nbsp;&mdash; еще впереди.</p>
    <p> В&nbsp;фильме снимались: <br>
    Александра Ребенок, Владислав Ветров, Иван Добронравов.</p>
    <p>Сценарист и&nbsp;режиссер&nbsp;&mdash; Игорь Гринякин</p>
</div><!-- /content -->

<div id="lecture-container" class="plitka">
    <div class="plitka perfomances-list video-plitka">
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/1.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/1.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/2.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/2.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/3.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/3.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/4.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/4.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/5.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/5.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/7.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/7.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/8.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/8.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/10.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/10.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/11.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/11.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/12.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/12.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/9.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/9.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
        <div class="plitka-one-wrap">
            <div class="plitka-one">
            <a class="plitka-one-image-wrapper fancybox" rel="may9-gallery" href="/img/may9/day/full/6.jpg">
            <div class="plitka-one-image">
            <img src="/img/may9/day/thumbs/6.jpg">           
            </div>
            </a>
            </div>
        </div><!-- /plitka-one-wrap -->
    </div>
</div>
{% endblock %}
{% block right_column %}

<div class="right-column">
<section class="block">
    <div class="recommend-block">
    <a href="/atlas/object/798"><img width="308" src="http://culture.ru/ru/uploads/media/atlas/0001/13/thumb_12511_atlas_sideBanner.jpeg"></a>

    <div class="recommend-over">
    <div class="recommend_name">
    <p><a href="/atlas/object/798">Общенациональный мемориал воинской славы, Москва</a></p>
    </div>
    <p class="recommend-type"><a href="/atlas/russia-images/">Образы России</a></p>
    </div>
    </div>
</section>

<div class="right-video-block">

<div class="flexslider">

<div class="flex-viewport" style="overflow: hidden; position: relative;">
<ul class="slides" style="width: 1200%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-308px, 0, 0);">
<li style="width: 308px; float: left; display: block;" class="flex-active-slide">
<article class="period-block">
<h2>Летят журавли</h2>
<a href="/cinema/view/577" class="period-block_image">

<img width="335" height="auto" alt="Летят журавли" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12284_lecture_big.png">            


<span class="play"></span>
</a>
<footer class="period-block_footer">
<div class="tags">
<a href="/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">{{ 'menu.cinema'|trans }}</a>
</div>
</footer>

</article>
</li>
<li style="width: 308px; float: left; display: block;">
<article class="period-block">
<h2>Друг мой, Колька!</h2>
<a href="/cinema/view/566" class="period-block_image">

<img width="335" height="auto" alt="Друг мой, Колька!" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12258_lecture_big.png">            


<span class="play"></span>
</a>
<footer class="period-block_footer">
<div class="tags">
<a href="/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">{{ 'menu.cinema'|trans }}</a>
</div>
</footer>

</article>
</li>
<li style="width: 308px; float: left; display: block;">
<article class="period-block">
<h2>Добровольцы Урала</h2>
<a href="/cinema/view/625" class="period-block_image">


<img width="335" height="auto" alt="Добровольцы Урала" src="http://culture.ru/ru/uploads/media/lecture/0001/13/thumb_12860_lecture_big.jpeg">            


<span class="play"></span>
</a>
<footer class="period-block_footer">
<div class="tags">
<a href="/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">{{ 'menu.cinema'|trans }}</a>
</div>
</footer>

</article>
</li>
</ul>
</div>
<ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
</div>

</div>
</div>

{% endblock %}
