{% extends '::base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('/css/print.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

{% endblock %}
{% block main_header %}
	<div class="w clearfix" id="header">
		<img src="{{ asset('/img/logo.png') }}" alt="" class="logo" />
	</div>
{% endblock %}

{% block body%}


<div class="title-block gray-press">
	<h2>События</h2>
</div>

<div class="news-press clearfix">
	<div class="news-press-center">
		<ul class="news-press-filter">
			<li><a href="/press-centre/news/"  class="active">Новости</a></li>
			<li><a href="/press-centre/events/">Анонсы</a></li>
			<li><a class="/press-centre/interviews/">Интервью</a></li>
			<li><a href="/press-centre/reportages/">Статьи</a></li>
			<li><a href="/press-centre/archive/">Газета «Культура»</a></li>
		</ul>

		<div class="news-one text">
			<span class="news-one-date">09 Октября / 2012</span>

			<h1>Кшиштоф Занусси: «Студент Ларс фон Триер все время со мной спорил»</h1>

			<div class="news-one-image">
			   <img width="366" height="261" src="http://roskult.ru/ru/uploads/media/news/0001/08/thumb_7452_news_billboard.jpeg" />

				<p class="image-source">© www.russianlook.com</p>
			</div>

			<p class="highlight-text">Знаменитый режиссер и сценарист Кшиштоф Занусси возглавил V Международный кинофестиваль «Восток &amp; Запад.
			Классика и авангард» в Оренбурге.</p><br>

			<p><strong>культура:</strong> Пан Кшиштоф, какой представляется Вам наша страна сегодня?</p>

			<p><strong>Занусси:</strong> У&nbsp;вас стало больше возможностей. Что касается искусства, то&nbsp;в&nbsp;России оно всегда было более
			эмоциональным, тогда как, например, в&nbsp;Германии&nbsp;— аналитичным.</p>

			<p><strong>культура:</strong> Аналитичность и&nbsp;эмоциональность&nbsp;— приметы Вашего кино. Вы&nbsp;снимаете трудные авторские
			ленты, словно&nbsp;бы вопреки массовому увлечению голливудскими блокбастерами...</p>

			<p><strong>Занусси:</strong> У&nbsp;меня есть и&nbsp;пара комедий, и&nbsp;автобиографический фильм о&nbsp;детстве «Галоп», где
			рассказываю о&nbsp;своем увлечении лошадьми в&nbsp;ту&nbsp;пору, когда в&nbsp;Польше верховая езда была под запретом.
			Но&nbsp;вы&nbsp;правы: в&nbsp;мире сегодня побеждают американские боевики, через которые к&nbsp;вам обращается не&nbsp;автор,
			а&nbsp;огромный коллектив, фабрика, целая индустрия. Хотя высокое искусство может иметь только одного автора, выражать опыт
			и&nbsp;знания одного человека. Оно приближает зрителя к&nbsp;ответам на&nbsp;вечные вопросы. Подобные картины, пройдя через телевидение
			и&nbsp;DVD, пришли к&nbsp;новым формам проката&nbsp;— в&nbsp;интернете. Заманить&nbsp;же зрителя в&nbsp;кинозал на&nbsp;них почти
			невозможно.</p>

			<p>Я&nbsp;не&nbsp;приемлю попсу. Причем во&nbsp;всех ее&nbsp;проявлениях. Большинство&nbsp;же людей довольствуется средним уровнем,
			им&nbsp;не&nbsp;важно, что смотреть, читать, слушать. Я&nbsp;— не&nbsp;из&nbsp;их&nbsp;числа.</p>

			<p><strong>культура:</strong> Вы&nbsp;читаете лекции в&nbsp;Высшей государственной школе кино, телевидения и&nbsp;театра, являетесь
			профессором Силезского университета в&nbsp;Катовицах и&nbsp;почетным доктором ВГИКа. За&nbsp;прошедшие годы слушатели изменились?</p>

			<p><strong>Занусси:</strong> Если со&nbsp;студентом у&nbsp;меня возникает контакт и&nbsp;полное понимание, то&nbsp;ничего дельного
			из&nbsp;него, как правило, не&nbsp;получается. И&nbsp;наоборот. Среди студентов был один, который со&nbsp;мной всегда открыто
			враждовал, не&nbsp;принимая моей эстетики и&nbsp;позиции. Он&nbsp;и&nbsp;сейчас часто плохо отзывается обо мне. Но&nbsp;это творец
			высокого масштаба, хотя и&nbsp;с&nbsp;изрядной патологией все-таки&nbsp;— Ларс фон Триер. Я&nbsp;с&nbsp;интересом слежу за&nbsp;его
			творчеством.</p>

			<p><strong>культура:</strong> Скоро Вы&nbsp;будете ставить спектакль в&nbsp;Баку, несколько лет назад выпустили «Доказательство»
			в&nbsp;московском РАМТе. С&nbsp;чего вдруг решили обратиться к&nbsp;театру?</p>

			<p><strong>Занусси:</strong> Работа над названными проектами начиналась всегда осенью. В&nbsp;театре тепло, и&nbsp;перезимовать лучше
			всего именно там (смеется). А&nbsp;если серьезно, то&nbsp;театр для меня&nbsp;— это постоянная экспрессия. Впервые на&nbsp;театральной
			сцене попробовал свои силы еще в&nbsp;начале <nobr>90-х —</nobr> меня пригласили в&nbsp;«мужской», как тогда говорили, МХАТ. Потом был
			спектакль, поставленный для новосибирского театра, и&nbsp;постановка в&nbsp;РАМТе. Кстати, я&nbsp;предложил тогда артистам
			из&nbsp;России пожить в&nbsp;своем доме в&nbsp;Варшаве. Мольер ведь тоже жил под одной крышей со&nbsp;своими актерами. В&nbsp;том,
			чтобы находиться с&nbsp;ними под одной крышей, собираться за&nbsp;одним столом, есть особый смысл. За&nbsp;столом, кстати, сидели
			двенадцать человек!</p>

			<div class="source">
				Феликс Грозданов / Газета «Культура»
			</div>

			<div class="clear"></div>

			
		</div>

		
	</div>

	
</div>


{% endblock %}

{% block bottom_blocks%}&nbsp;{% endblock %}
{% block main_footer%}

<div class="w" id="footer">
	<div class="footer-logo">
		<a href="http://mkrf.ru/" target="_blank"><img src="{{ asset('/img/footer-logo.png') }}" alt="logo" />
		{{ 'Ministry of Culture'|trans }}<br />{{ 'Russian Federation'|trans }}</a>
	</div>
</div>

{% endblock %}

