{% extends ':Frontend:layout_two_column.html.twig' %}


{% block javascripts %}
{{ parent() }}
<!--
<script src="{{ asset('js/function.js') }}"></script>
-->
<style>

.mayak p {
    margin-left: 100px;
}

.mayak blockquote{
padding-left: 60px;
padding-right: 80px;
padding-top: 10px;
padding-bottom: 10px;
position: relative;
margin-bottom: 10px;
color: #ffffff;
margin-left: 5%;
width: 70%;
font-family: "PT Serif", serif;
font-size: 14px;
line-height: 140%;
color: #5e5e5e;
}

.mayak blockquote p {
font-size: 20px;
font-style: italic;
font-weight: normal;
line-height: 120%;
}

.mayak blockquote p.subscribe {
font-size: 12px;
font-style: normal;
font-weight: normal;
line-height: 150%;
text-align: left;
}

.mayak blockquote p {
margin: 3px 0 10px;
}
.index-block p {
    margin-left: 0px;
}
.right-news-list-text {
    text-decoration: none;
}

</style>
<script type="text/javascript">
    
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'menu.mayak'|trans }}{% endblock %}

{% block page_header_title %}{{ 'menu.mayak'|trans }}{% endblock %}

{% block left_column %}
<ul class="breadcrumbs" style="margin-bottom:20px;">
    <li><a href="/">Главная</a></li>
    <li><span>{{ 'menu.mayak'|trans }}</span></li>
</ul>

<div class="mayak">
    <h1 class="obraz-header" style="margin-bottom:20px;"><span>«Стою, огнем обвит»</span></h1>
    <div class="block">
        <div class="content">

   

    <div class="event-one_anons">
        <p>
            По какой причине известный поэт революции остается культовой и любимой фигурой для молодежи ХХI века? В чем его секрет? Как удалось Маяковскому удержаться на пьедестале, с которого из-за своей приверженности принципам партии слетело немало писателей? Накануне 120-летия поэта <a title="Культура.рф" href="%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0.%D1%80%D1%84" target="_blank">«Культура.рф»</a> встретилась с известным экспертом по творчеству Маяковского, чтобы выслушать его мнение.
        </p>
    </div>

 <figure class="event-one_image image-left">
                <div >
                    <img width="auto" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25716_news_billboard.jpeg" alt="«Стою, огнем обвит»" style="margin-top:0px;">
                </div>
            </figure>

    <p>«Жизнь и творчество Маяковского связаны с одним из самых драматических периодов существования России. Жизнь огромной страны, как бы устоявшаяся к концу XIX века и, как тогда думали многие, — прочная, оказалась совершенно иной… В многоликой России тех лет, напоминавшей нагревающийся водяной котел, готовый вот-вот взорваться, полной тревожных предчувствий, существовал и иной вектор социальных и духовных настроений. Крепла уверенность в том, что страна идет не к разрушению, а стоит на пороге своего обновления и в будущем мире ей необходимо новое мировоззрение, новое самосознание и новое искусство. Именно с таким ощущением времени вступали во взрослую жизнь многие молодые люди; у них на глазах старые порядки и устои дали трещину и обозначились контуры перемен — не вполне, правда, понятных и, самое главное, неизвестно куда ведущих. Без понимания совокупности этих исторических обстоятельств, без учета распространенных в российском обществе настроений, атмосферы, царившей в творческой среде, невозможно представить формирование духовного сознания молодого Маяковского, его первых шагов в искусстве и последующей творческой эволюции» — так в книге «Портреты поэтов» предваряет свое исследование о Владимире Маяковском ведущий научный сотрудник Института мировой литературы профессор Александр Миронович Ушаков.</p>
<br>


<p><strong>— Александр Миронович, я думала, придется искать какие-то аргументы, чтобы убедить вас в том, что сегодняшней молодежи нравится Маяковский, но, оказывается, вы сами участвовали в съемках программы, где на вопрос, кого из русских поэтов XX века считать наиболее выдающимся, аудитория единодушно назвала Владимира Маяковского.</strong></p>            
<figure class="event-one_image image-right">
                <div >
                    <img width="auto" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25715_news_eventsBillboard.jpeg" alt="«Стою, огнем обвит»" style="left: 10.5px;">
                </div>
            </figure>

<p>— Да, в студии была молодежь, и я даже пытался возражать: спросил, а как быть, например, с Есениным. На что мне ответили: «Маяковский — настоящий новатор, а Есенин — просто хороший поэт!» Вообще, я думал, что Маяковского сейчас изучают в вузах мало — теперь ведь пошла новая литература, русское зарубежье, Замятин, Платонов. Нет! Все время приходят рефераты и диссертации о Маяковском. Я ездил на защиту в Тамбов, Череповец, Тверь, Вологду, Коломну. Смотрю — молодые люди, у них уже другие отношения с девушками, чем когда-то были, они в интернете сидят, думают о деньгах… Рассказываю им о Платонове — слушают, а когда Маяковского читаю — оживляются, спрашивают, какая Лиля была, какая — Татьяна Яковлева (спутницы писателя. — <i><a title="Культура.рф" href="%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0.%D1%80%D1%84" target="_blank">«Культура.рф»</a></i>).
</p>
<p><strong>— Тогда в чем, по-вашему, секрет его по-прежнему  действующей магии?</strong></p>

<p>— Первое: вот эта дерзость Маяковского. Молодежь чувствует, когда власть кого-то пытается купить. Он был искренним. Второе — конечно, невероятная сила его строк. Так, как написаны некоторые его стихи, — никто в мировой литературе не писал. Никто. Он выходит в жизнь с желанием абсолюта. Этот абсолют опасен, он же и привел его к смерти. Маяковский начинает искать его еще до революции, и вот эта жажда проявляется в каждом описанном им конфликте, даже любовном:</p>



<div style="margin-left: 75px;">
<p>Выбегу, тело в улицу брошу я.<br>
Дикий, обезумлюсь, отчаяньем иссечась.
</p>
</div>
<p>Только представьте себе: мало того что он в диком состоянии, так еще и перейдет в состояние безумия! Он отчаяние превращает в хлыст, которым еще будет себя иссекать. Или такие мощные строки:</p>

<div style="margin-left: 75px;"><p> Погибнет все.<br>
Сойдет на нет.<br>
И тот,<br>
кто жизнью движет,<br>
последний луч<br>
над тьмой планет<br>
из солнц последних выжжет.<br>
И только<br>
боль моя<br>
острей —<br>
стою,<br>
огнем обвит,<br>
на несгорающем костре<br>
немыслимой любви.
</p>
</div>
<p>Кто так напишет? Да по миллиону всем заплати — никого не найдете.</p>
<p><strong>— Это же Данте!  Финал «Рая».</strong></p>
<p>— Да, это уровень Данте. Литературоведы обычно сравнивают конкретные пересечения в текстах. Но гениальный человек несет все в себе, это у него внутри. Он может где-то с периферий сознания вытащить то, что от других он и не слышал никогда. Маяковский, конечно, знал про Данте и Шекспира. Но он всегда ведет разговор с космосом: «Послушайте! Ведь, если звезды зажигают — значит, это кому-нибудь нужно?» 
Сегодня пробуют копировать поэтику футуризма, но в этом нет ничего нового. Вселенского масштаба Маяковского нет. Такого масштаба, как его строки, написанные в конце жизни: 
</p>
<div style="margin-left: 75px;">
<p>Ты посмотри, какая в мире тишь,<br>
ночь обложила небо звездной данью.<br>
В такие вот часы встаешь и говоришь<br>
векам, истории и мирозданию. 
</p>
</div>
<p>Он и с Богом разговаривает — и заявляет: «я за всех расплачусь, за всех расплачусь». Он готов идти на Голгофу. И только осознав это, можно понять, почему он принял советскую власть. </p>



<p><strong>—  Это  был для него тот самый Новый Мир?</strong></p>
<p>— Да, Новый Мир, причем надо учитывать, каким человеком был Маяковский в обиходе. Он был паталогически чистоплотен, поскольку его отец умер от заражения крови. Когда отца неожиданно не стало, безоблачная жизнь 13-летнего мальчика резко закончилась. Семья переехала в Москву из грузинского города Багдади и столкнулась с материальными трудностями. В нем остался страх.  Маяковский боялся  инфекций невероятно, и позже приобрел брезгливость по отношению к поступкам и поведению. Можно было бы его упрекнуть как раз в этой черно-белой позиции: не с нами — значит, против нас.
</p>
<figure class="event-one_image image-left">
                <div >
                    <img width="340" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/4b89be1131fa6618c9507cd701f604d4da04020f.jpeg" alt="«Стою, огнем обвит»" style="margin-top: 0px">
                </div>
</figure>
<p><strong>— На ваш взгляд, почему партийные задачи и призывы,  изложенные в   поэзии Маяковского, нисколько не бросают на него тень даже в те времена, когда идет отрицание всего «советского»?</strong></p>
<p>— Дело в том что, если знак советского, «знак жизни», признак времени находится внутри формы, которая нас убеждает, то мы его не замечаем. У Маяковского знак советского, безусловно, находится внутри его художественного образа. Поэтому его советские стихи все равно будут читаться:</p>
<div style="margin-left: 320px;">
<p>Грудой дел,<br>
суматохой явлений<br>
день отошел,<br>
постепенно стемнев
</p>
</div>
<p>— так начинается «Разговор с товарищем Лениным», а ведь это очень лиричные строки. Имеет ли значение сегодня то, что «Левый марш» посвящен матросам? Это никому уже не важно. «Левой! Левой! Левой!» — мы воспринимаем только бешеную революционную энергетику. Маяковский понял, что эта вера — и есть новая вера! Никакого богоборчества. Он объявляет мессией Ленина — и сам становится частью нового мира. Когда поворачивается эпоха — не надо бояться: если вещь сильно написана с художественной точки зрения — она будет жить. Как в ситуации с рисунками и агитплакатами Маяковского — не так важно, кого поддерживает поэт — его рисунки интересны с точки зрения формы.
</p>
<p><strong>— Как Маяковскому удалось остаться донкихотом, притом что многие писатели хорошо устраивались при советской власти? Неплохо жили даже «попутчики» (сочувствующие советской власти, но из других социальных слоев. — <a title="Культура.рф" href="%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0.%D1%80%D1%84" target="_blank">«Культура.рф»</a>), а тут — на сто процентов свой.</strong></p>
<p>— Маяковский с журналом «ЛЕФ» выступал как представитель архиреволюционной литературы, тут надо было блюсти имидж. Он не ушел в обычный литературный быт. Начиная с 1930-х Сталин начал проводить специальную политику «подкормки» и приближения писателей. Появилось Переделкино, стали выдавать дачи по принципу, какой ты партии и идеологии. Своих издавали большими тиражами, и на гонорар с каждого такого тиража можно было жить долго. Так создавалась зависимость. А Маяковский выпал из всего этого гораздо раньше. И вы правы, молодые чувствуют его донкихотство. </p>


<p>Здесь надо поставить вопрос остро — а что было бы, если бы он не застрелился? Но могу ответить точно: «прихлебателем» он никогда бы не стал. Он и так был певец советского строя, не все принимал, например Присыпкиных, но он разделял мир на «наших» и «не наших». Он даже разругался с Пастернаком в 1929 году из-за идеологических разногласий. Что было бы дальше? Если бы он поверил в то, что в стране все делается правильно, — остался бы певцом. Но сомневаюсь, что он продолжал бы так расценивать события.</p>
<p>В 1920-е годы Маяковского еще не «огосударствили». Он был «одним из». Он становится поэтом номер один после Гражданской войны. Однажды Сталин сказал точную вещь. Об этом рассказывал Иван Гронский (который отсидел 17 лет, его выпустили в 1955-м, это он придумал название «соцреализм»): обсуждали первую фигуру среди поэтов и писателей. Предложили Пастернака. Вождь подумал и сказал: «Нет. Первая фигура в литературе живой быть не может». </p>
<div style="margin-left: 75px;"><blockquote class="mayak"><div class="quote1"></div><div class="quote2"></div>

<p>Крикну я<br>
                вот с этой,<br>
                                    с нынешней страницы:<br>
– Не листай страницы!<br>
                                     Воскреси!<br>
Сердце мне вложи!<br>
                                Кровищу – <br>
                                           до последних жил.<br>
В череп мысль вдолби!<br>
Я свое, земное, не дожил,<br>
На земле<br>
                свое не долюбил.</p>
<p class="subscribe">В.В. Маяковский «Про это»</p> 
</blockquote>
</div>

<figure class="event-one_image image-right">
                <div >
                    <img width="auto" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25719_news_billboard.jpeg" alt="«Стою, огнем обвит»" style="margin-top:0px;">
                </div>
            </figure>
<p><strong>— У вас при Институте мировой литературы  планируется полное издание Маяковского?</strong></p>
<p>— Мы издаем 20 томов Маяковского. Двенадцать уже утвердили. Будет 6 томов художественных произведений, письма, театр, 6 томов агитационно-производственного рисунка и один том живописи. Маяковский был хорошим графиком, у него немало графических работ, разбросанных в разных местах. Вот пишет письмо Лиле — и может нарисовать что-то в письме. </p>
<p>Плакаты из «Окон РОСТА» будут отпечатаны в цвете и с подписями. Их часто печатали в черно-белом варианте либо издавали исключительно подписи. Собранные воедино, изобразительные работы Маяковского производят огромное впечатление. Его рисунок очень экономный и выразительный. Мы намереваемся включить в собрание сочинений афиши и обложки книг, разработанные Маяковским: эти работы можно считать истоком формирования современного дизайна. Как говорят знатоки, эта часть собрания будет пользоваться гораздо большей популярностью, потому что поэзия Маяковского уже печаталась не раз, а его изобразительные работы в заявленном нами виде ни разу не издавались. </p>
<p><strong>— Какое из его произведений вам кажется  наиболее актуальным сегодня?</strong></p>
<p>— Любовная лирика, безусловно, —  очень сильные вещи. Также произведения, в которых присутствует космический контекст. Почему-то сейчас режиссеры пробуют сделать выборку, компиляцию, но не решаются целиком ставить пьесы Маяковского. Например, «Мистерию-Буфф» — первый отклик на революцию. Но можно приглушить революционные мотивы и увидеть космическую идею осуществления мира.</p>


<p><strong><br>Беседовала Дарья Хренова</strong></p>
<p>&nbsp;</p>
    </div><!-- /content -->

   

{% endblock %}
{% block right_column %}
<div style="height:60px;"></div>


<div class="block">
            <section class="static-block object-archives">
                <h2>Обложки книг. Оформление - Владимир Маяковский </h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/938c349caffebe93f029b1c0a21382e69e52111e.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/938c349caffebe93f029b1c0a21382e69e52111e.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/c4588452827a07674378376a5bf655638b0af1bd.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/c4588452827a07674378376a5bf655638b0af1bd.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/b44cfa3cadea41086bbc1e0332ebab7f3e2be953.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/b44cfa3cadea41086bbc1e0332ebab7f3e2be953.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>


                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/a7ea3113ac2a0eb32496b230c17c89c9c2981590.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/a7ea3113ac2a0eb32496b230c17c89c9c2981590.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>

        <div class="block">
            <section class="static-block object-archives">
                <h2>Владимир Маяковскии и Татьяна Яковлева</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/07d5c3c424dced93f6bad82f33f2393d02da3927.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/07d5c3c424dced93f6bad82f33f2393d02da3927.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/b131fb4a3db4d9bd91f7aba5aaad3191823c69ee.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/b131fb4a3db4d9bd91f7aba5aaad3191823c69ee.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/8a17a0c748aa14a00fff67483910f49fa83ffbaf.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/8a17a0c748aa14a00fff67483910f49fa83ffbaf.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>


                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/af1e4da1f6e5e9634a2e1ba7dcc5648f80cc5722.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/af1e4da1f6e5e9634a2e1ba7dcc5648f80cc5722.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>



        <div class="block">
            <section class="static-block object-archives">
                <h2>Производственный плакат. Художник - В.Маяковскии</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/24743800e5ffb30331d088e7a942c9e1940d74c6.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/24743800e5ffb30331d088e7a942c9e1940d74c6.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/0cc2578c64f2c58fb43cbe67317e8c8c4c86c82f.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/0cc2578c64f2c58fb43cbe67317e8c8c4c86c82f.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                               </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>



        <div class="block">
            <section class="static-block object-archives">
                <h2>Производственный плакат. Художник - В.Маяковскии</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/d767dcb86f70f932e547632ca0700d9cb5b3fe9b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/d767dcb86f70f932e547632ca0700d9cb5b3fe9b.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/6899f0660932338988c39bd17e3b0a272a78d824.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/6899f0660932338988c39bd17e3b0a272a78d824.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                              </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>

 <div class="block">
            <section class="static-block object-archives">
                <h2>Производственный плакат. Художник - В.Маяковскии</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/39eb889b5ff87c5458d09b9f4662683fb4c96cb3.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/39eb889b5ff87c5458d09b9f4662683fb4c96cb3.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/2ffe9ca1c8c9f658348738da9a2a15c9f497d456.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/2ffe9ca1c8c9f658348738da9a2a15c9f497d456.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/a391fced5775607d78ae374dbe40fc5d5f9ae145.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/a391fced5775607d78ae374dbe40fc5d5f9ae145.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                             <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/7d7924ed169817a89693503339d86b9c49392c7e.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/7d7924ed169817a89693503339d86b9c49392c7e.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/20543aada84d0e6ea5469fa5d36ed64e0a8e9b6b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/20543aada84d0e6ea5469fa5d36ed64e0a8e9b6b.jpeg" alt="" class="period-block_image">
                                    </a>
                                                                        <div class="period-block_footer"></div>
                                </article>
                            </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>



{% endblock %}
