{% extends ':Frontend:base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}


{% block title %}{{ parent() }} — {{ 'menu.special_projects_stanislavski'|trans }} {% endblock %}

{% block page_header_title %}
    {{ 'menu.special_projects_stanislavski'|trans }}
{% endblock %}

{% block body%}

{% block left_column %}
  <div class="left-column">
    <div class="left-column-content">
         {% if app.request.locale == 'en' %}

      	 {% elseif app.request.locale == 'ru' %}
      	     
              <ul class="breadcrumbs m-top-0">
                  <li><a href="/">Главная</a></li>
                  <li><a href="javascript:;">Спецпроекты</a></li>
                  <li><span>{{ 'menu.special_projects_stanislavski'|trans }}</span></li>
              </ul>
             

              <article class="event-one clearfix">
                  <div class="event-one_top">
                     <span class="date">17 Января /2013 / 13:04 </span>
                  </div>
                  <h2>Во всем мире отмечают 150-летие со дня рождения реформатора театра Константина Станиславского</h2>
      
                  <figure class="event-one_image image-left">
                  <div class="news-image-crop">
                      <img src="/uploads/media/news/0001/12/thumb_11348_news_eventsBillboard.jpeg" alt="Судьбу Станиславского-актера можно проследить на выставке в Москве">
                  </div>
                  <figcaption>
                      <p>&copy; www.russianlook.com</p>
                  </figcaption>
                  </figure>
          
                  <div class="event-one_anons">
                      <p>
                          Теоретик сценического искусства, актер и&nbsp;режиссер, народный артист&nbsp;СССР Константин Сергеевич Станиславский родился 17&nbsp;января 1863&nbsp;г. в&nbsp;Москве.
                      </p>
                  </div>
                  <p>Художественный театр к юбилею своего основателя подготовил сразу несколько культурных событий.&nbsp;17&nbsp;января 2013&nbsp;г. состоится премьера спектакля о&nbsp;Станиславском. Постановка Кирилла Серебренникова &laquo;Вне системы&raquo; построена исключительно на&nbsp;документальном материале&nbsp;&mdash; его переработал драматург Михаил Дурненков.</p>
                  <p>В&nbsp;спектакле &laquo;Вне системы&raquo; судьба основателя МХТ должна отразиться в&nbsp;диалогах с&nbsp;его крупнейшими современниками, друзьями, учениками и&nbsp;оппонентами. Константин Сергеевич предстает как фигура мощная, парадоксальная, далекая от&nbsp;канонических представлений. Замысел спектакля: представить живого Станиславского, обращенного к&nbsp;своему времени в&nbsp;той&nbsp;же степени, что и&nbsp;к&nbsp;новейшим временам.</p>
                  <p>В&nbsp;спектакле-посвящении принимают участие Олег Табаков, Константин Хабенский, Евгения Добровольская, Ирина Пегова, Полина Медведева, Алла Покровская, Наталья Тенякова, Анатолий Белый, Алексей Бартошевич, Евгений Миронов, Константин Райкин, Захар Прилепин, а&nbsp;также Илзе Лиепа с&nbsp;учениками Школы-студии Илзе Лиепа и&nbsp;молодые артисты МХТ.</p>
                  <p>В&nbsp;портретном фойе МХТ им. А.П. Чехова сегодня днем состоялось открытие выставки, подготовленной Музеем МХАТ к&nbsp;юбилею Станиславского. Впервые вся экспозиция целиком будет посвящена Станиславскому-актеру. В&nbsp;экспозиции будут представлены все 29&nbsp;ролей Станиславского, сыгранных на&nbsp;сцене Художественного театра. В&nbsp;музейной коллекции сохранилось более 140&nbsp;фотографий, где Станиславский запечатлен в&nbsp;ролях, 5&nbsp;театральных костюмов, его гримерные принадлежности. Кроме этого, будут представлены художественные рукописи Константина Сергеевича о&nbsp;том, как он&nbsp;разрабатывал роль.</p>
                  <p>На&nbsp;следующий день, 18&nbsp;января, гости Художественного театра&nbsp;&mdash; режиссеры, театроведы, педагоги, продюсеры&nbsp;&mdash; проведут научную конференцию &laquo;Станиславский и&nbsp;мировой театр&raquo;. Модератором дискуссии выступит Михаил Швыдкой, специальный представитель Президента&nbsp;РФ по&nbsp;международному культурному сотрудничеству, художественный руководитель Театра мюзикла.</p>
                  <p>Планируется, что на&nbsp;конференции выступят 25&nbsp;человек, представляющих главные театральные культуры мира. В&nbsp;том числе знаменитый английский режиссер Питер Брук. Присутствовать на&nbsp;конференции лично он&nbsp;не&nbsp;сможет, однако пришлет свое видеообращение.</p>
                  <p><em>На нашем портале можно увидеть <a href="../../../../../lecture/view/484">лекцию Владимира Этуша</a>, посвященную 150-летию со дня рождения К.С. Станиславского. Народный артист СССР, профессор Щукинского училища рассказывает о том, как создавалась знаменитая система и почему Станиславского считают реформатором театра.</em></p>   
            </article>

        {% endif %}
	  </div>
	</div>
{% endblock %}

{% block right_column %}
  <div class="right-column">
    {% render url('armd_news_memorial_events') %}

    {% render url('armd_atlas_related_objects', {'tags': ['o1596'], 'limit': 1}) %}

    {% if app.request.locale == 'ru' %}
        <div class="right-video-block">
            {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
        </div>
        <div class="right-video-block">
            {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
        </div>
    {% endif %}

    </div>
{% endblock %}

{% endblock %}