{% extends ':Frontend:base.html.twig' %}

{% block stylesheets %}


{{ parent() }}

{% endblock %}


{% block title %}{{ parent() }} — {{ 'menu.special_projects_romanov450'|trans }} {% endblock %}

{% block page_header_title %}
    {{ 'menu.special_projects_romanov450'|trans }}
{% endblock %}

{% block body%}

{% block left_column %}
  <div class="left-column">
    <div class="left-column-content">
         {% if app.request.locale == 'en' %}

      	 {% elseif app.request.locale == 'ru' %}
      	     
              <ul class="breadcrumbs m-top-0">
                  <li><a href="/">{{ 'menu.mainpage'|trans }}</a></li>
                  <li><a href="javascript:;">Спецпроекты</a></li>
                  <li><span>{{ 'menu.special_projects_romanov450'|trans }}</span></li>
              </ul>
             

              <article class="event-one clearfix">
                  <div class="event-one_top">
                     <span class="date">    6 Августа /2012 / 00:00 </span>
                  </div>
                  <h2>Место последнего упокоения царской семьи признают памятником</h2>
      
                  <figure class="event-one_image image-left">
                  <div class="news-image-crop">
                      <img src="/uploads/media/news/0001/03/thumb_2416_news_eventsBillboard.jpeg" alt="Место последнего упокоения царской семьи признают памятником">
                  </div>
                  <figcaption>
                      <p>&copy; РИА Новости</p>
                  </figcaption>
                  </figure>
          
                  <div class="event-one_anons">
                    <p>
                        В&nbsp;будущем году исполняется 400 лет Дому Романовых. Уральское управление Министерства культуры предложило придать Поросенкову логу, где были найдены останки царской семьи, статус исторического памятника.
                    </p>
                  </div>
                  <p>Гибель царской семьи&nbsp;&mdash; одно из самых трагических событий в&nbsp;отечественной истории. Российский император Николай II, его супруга, дети и&nbsp;прислуга были расстреляны в&nbsp;подвале дома Ипатьева в&nbsp;Екатеринбурге в&nbsp;ночь с&nbsp;16&nbsp;на 17&nbsp;июля 1918 года по&nbsp;постановлению Уральского Совета рабочих, крестьянских и&nbsp;солдатских депутатов во главе с большевиками.</p>
                  <p>После февральской революции Николай II&nbsp;находился под домашним арестом в&nbsp;Царском селе. В&nbsp;августе 1917 года император и&nbsp;его семья по&nbsp;решению Временного правительства были высланы в&nbsp;Тобольск. В&nbsp;мае 1918 года царскую семью перевезли из&nbsp;Тобольска в&nbsp;Екатеринбург.</p>
                  <p>Останки пяти членов императорской семьи и&nbsp;их&nbsp;слуг были найдены в&nbsp;июле 1991 года неподалеку от&nbsp;Екатеринбурга, под насыпью Старой Коптяковской дороги.&nbsp;17&nbsp;июля 1998 года их перезахоронили в&nbsp;Петропавловском соборе Санкт-Петербурга. В&nbsp;июле 2007 года обнаружены могилы царевича Алексея и&nbsp;Великой княжны Марии.</p>
                  <p>В&nbsp;год 400-летия Дома Романовых, в&nbsp;ночь с&nbsp;16&nbsp;на 17&nbsp;июля &mdash; годовщину расстрела в&nbsp;особняке Ипатьева, &mdash; жители Петербурга, Тобольска и&nbsp;Екатеринбурга примут участие в&nbsp;Царских днях. Свечи зажгут и&nbsp;в&nbsp;Омском кафедральном Успенском соборе, который был заложен в 1891 году при участии цесаревича Николая Романова.</p>
                  <p>К&nbsp;памятной дате также планируется завершить реставрацию собора Феодоровской иконы Божией Матери в&nbsp;Санкт-Петербурге. Храм был возведен в&nbsp;центре Петербурга в&nbsp;1913 году, в ознаменование 300-летия Дома Романовых. В&nbsp;1932 году его передали под молокозавод и&nbsp;перестроили, купола снесли. В&nbsp;течение нескольких десятилетий здание обрастало пристройками промышленного назначения и&nbsp;к&nbsp;моменту возвращения Церкви в&nbsp;2005&nbsp;году доведено до&nbsp;крайней степени запущенности.</p>
                  <p>В&nbsp;Калуге к&nbsp;400-летию Дома Романовых установят обелиск памяти павших воинов &laquo;За&nbsp;веру, царя и&nbsp;Отечество&raquo;. Проект предполагает восстановление существовавшего до&nbsp;революции в&nbsp;Калуге одноименного обелиска. В&nbsp;1904 году столицу губернии посетил император Николай II&nbsp;для напутствия войск Калужского гарнизона на&nbsp;войну с&nbsp;Японией. С&nbsp;1907 года всем миром собирали деньги, чтобы увековечить память об&nbsp;этом.&nbsp;30&nbsp;июля 1913 года в&nbsp;поле возле железнодорожного вокзала были поставлены обелиск и&nbsp;сторожевой дом.</p>
                  <p>В&nbsp;Тюменской области с&nbsp;4&nbsp;по&nbsp;6&nbsp;августа 2013 года пройдет научно-исследовательская экспедиция &laquo;Околица&raquo;. Ее&nbsp;участникам предстоит повторить маршрут семьи последнего императора Николая II&nbsp;из&nbsp;Тюмени в&nbsp;Тобольск. Уникальность этой экспедиции в&nbsp;том, что часть ее&nbsp;пройдет по&nbsp;водному пути. Именно по&nbsp;рекам в&nbsp;1917 году Николая Александровича, его супругу и&nbsp;детей в&nbsp;течение трех дней везли из&nbsp;Тюмени в&nbsp;Тобольск. Организаторы экспедиции заявляют, что хотели&nbsp;бы привлечь внимание общества к&nbsp;трагической судьбе Романовых как к&nbsp;значимой странице нашей истории, а&nbsp;также отдать дань уважения последнему императору и&nbsp;его семье.</p>
                  <p>Несмотря на&nbsp;то, что юбилей царствовавшей в&nbsp;России династии будет отмечаться в&nbsp;2013&nbsp;году, первый подарок к&nbsp;грядущему 400-летию Дома Романовых уже сделан. 24&nbsp;июля из&nbsp;Лондона в&nbsp;Санкт-Петербург доставлено пасхальное яйцо работы Фаберже, которое поступит на&nbsp;хранение в&nbsp;&laquo;Царское Село&raquo;. Именно здесь располагалась летняя резиденция русских императоров, объявленная 20&nbsp;лет назад музеем-заповедником.</p>
                  <p>Автором эскиза этого пасхального яйца стал прямой потомок легендарного петербургского ювелира Карла Фаберже, его внук Тео. Яйцо традиционно украшено гильошированной эмалью ультрамаринового цвета. Поверхность покрывают позолоченные элементы в&nbsp;виде двуглавых орлов&nbsp;&mdash; гербов. Таких элементов&nbsp;18, по&nbsp;числу правителей Романовской династии. Как и&nbsp;положено, в&nbsp;пасхальном яйце есть сюрприз: под крышкой находится романовский геральдический грифон, который может выниматься и&nbsp;экспонироваться отдельно. А&nbsp;венчает яйцо еще один двуглавый орел.</p>   
            </article>

        {% endif %}
	  </div>
	</div>
{% endblock %}

{% block right_column %}
  <div class="right-column">
    {#{% render url('armd_news_memorial_events') %}#}

    {% render url('armd_atlas_related_objects', {'tags': ['o1602'], 'limit': 1}) %}

    {% if app.request.locale == 'ru' %}
        <div class="right-video-block">
            {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
        </div>
        <div class="right-video-block">
            {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
        </div>
    {% endif %}

    </div>
{% endblock %}

{% endblock %}