{% extends ':Frontend:layout_two_column.html.twig' %}

{#{% block stylesheets %}#}

{#<link href="{{ asset('main/common/css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />#}

{#{{ parent() }}#}

{#{% endblock %}#}


{% block title %}{{ parent() }} — {{ 'Театры'|trans }}{% endblock %}

{% block page_header_title %}
    Театры
{% endblock %}

{% block page_header_search %}
    <div class="search-category wide-search">
        <form id="lectures-filter" method="post">
            <span class="search-dates-label">Город</span>
            <div class="search-category-selects">
                <select id="lecture_category" name="lecture_category" class="uni">
                    <option value="0">все</option>
                        <option value="95" >Астрономия</option>
                        <option value="103" >Биология</option>
                        <option value="112" >Востоковедение</option>
                        <option value="91" >Генетика</option>
                        <option value="113" >География</option>
                        <option value="97" >Глобальные проблемы</option>
                        <option value="108" >ЖЗЛ</option>
                </select>
            </div>
            
            <span class="search-dates-label">&nbsp;&nbsp;Жанр</span>
            <div class="search-category-selects">
                <select id="lecture_category" name="lecture_category" class="uni">
                    <option value="0">все</option>
                        <option value="95" >Астрономия</option>
                        <option value="103" >Биология</option>
                        <option value="112" >Востоковедение</option>
                        <option value="91" >Генетика</option>
                        <option value="113" >География</option>
                        <option value="97" >Глобальные проблемы</option>
                        <option value="108" >ЖЗЛ</option>
                </select>
            </div>
            
        </form>
    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>Искать в текущем разделе</span></label>
    </div>
{% endblock %}

{% block search_query %}{#{ searchQuery }#}{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Театры</a></li>
        <li><span>МХТ им. Чехова</span></li>
    </ul>

    
    <div class="theatre-one">
        <section class="theatre-one-main clearfix">
            <h1>МХТ им. Чехова</h1>
            <div class="theatre-one-stats">
                <div class="theatre-tags">
                    <a href="#">Дети</a>,
                    <a href="#">Драматический театр</a>
                </div>
                <div class="theatre-stats-contacts">
                    <p>
                        Москва, <nobr>Камергерский пер., 3</nobr><br />
                        метро Театральная<br />
                        +7 (495) 646-36-46, 692-67-48<br />
                        <a href="#" target="_blank" class="external">www.mxat.ru</a>
                    </p>
                </div>
                <div class="theatre-stats-head">
                    <p>
                        Художественный руководитель,<br />директор театра: 
                        <b>Олег Табаков</b>
                    </p>
                </div>
            </div>
            <div class="theatre-one-image">
                <img src="/img/theater-one.jpg" alt="" />                                        
            </div>
            
        </section>    
        <div class="theatre-one-description">
            <p>
            Создан в&nbsp;1898&nbsp;г. К.&nbsp;С.&nbsp;Станиславским и&nbsp;Вл. И.&nbsp;Немировичем-Данченко под названием Московский Художественный театр (МХТ), с&nbsp;1919&nbsp;г. &mdash;&nbsp;академический (МХАТ).
            </p> <p> 
            Открылся 14&nbsp;октября 1898 спектаклем &laquo;Царь Фёдор Иоаннович&raquo; А.&nbsp;К.&nbsp;Толстого в&nbsp;здании театра &laquo;Эрмитаж&raquo; (Каретный ряд, 3). С&nbsp;1902 располагался в&nbsp;Камергерском переулке, в&nbsp;здании бывшего Лианозовского театра, перестроенного в&nbsp;том&nbsp;же году (архитектор Ф.&nbsp;О.&nbsp;Шехтель).
            </p> <p> 
            Началом Художественного театра считают встречу его основателей Константина Сергеевича Станиславского и&nbsp;Владимира Ивановича Немировича-Данченко в&nbsp;ресторане &laquo;Славянский базар&raquo; 19&nbsp;июня 1897&nbsp;года. Имя &laquo;Художественно-Общедоступного&raquo; театр носил недолго: уже в&nbsp;1901 году из&nbsp;названия было убрано слово &laquo;общедоступный&raquo;, хотя ориентация на&nbsp;демократического зрителя оставалась одним из&nbsp;принципов МХТ. 
            </p>
        </div>
        
        <div class="content-tabs">
            <a href="#c-tab1" class="active">спектакли театра</a>
            <a href="#c-tab2">Как нас найти</a>
            <a href="#c-tab3">афиша</a>
            <a href="#c-tab4">Оставить комментарий</a>
        </div>
        {# Спектакли театра  #}
        <div class="content-tab" id="c-tab1" style="display:none;">
            <div id="lecture-container" class="plitka perfomances-list">
                <div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь
                                </a>
                            </span>
                             <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div><div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь<br />Любовь
                                </a>
                            </span>
                            <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки Театр Содружество актеров Таганки Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div><div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь<br />Любовь
                                </a>
                            </span>
                            <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки Театр Содружество актеров Таганки Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div><div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь<br />Любовь
                                </a>
                            </span>
                            <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки Театр Содружество актеров Таганки Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div><div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь<br />Любовь
                                </a>
                            </span>
                            <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки Театр Содружество актеров Таганки Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div><div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь<br />Любовь
                                </a>
                            </span>
                            <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки Театр Содружество актеров Таганки Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div><div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь<br />Любовь
                                </a>
                            </span>
                            <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки Театр Содружество актеров Таганки Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div><div class="plitka-one-wrap">
                    <div class="plitka-one">
                        <a class="plitka-one-image-wrapper" title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                            <div class="plitka-one-image">                                      
                                <img title="TV Culture brand_id:20898 video_cid: 158820" width="160" height="auto" alt="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" src="/uploads/media/lecture/0001/09/thumb_8438_lecture_lectureW160H120.jpg"  />            
                            </div>
                        </a>
                        <div class="plitka-text">
                            <span class="plitka-name">
                                <a title="Александр Чубарьян. «Россия и Европа. Результаты войны 1812 года»" href="/app_dev.php/lecture/view/416">
                                   Митина<br />Любовь<br />Любовь
                                </a>
                            </span>
                            <span  class="three-row-link">
                            <a href="#">Театр Содружество актеров Таганки Театр Содружество актеров Таганки Театр Содружество актеров Таганки</a>
                            </span>
                        </div>
                        <div class="plitka-footer">
                            <div class="tags">
                                <a href="#">Музыкальные</a>, <a href="#">Комедия</a>, <a href="#">Драма</a>
                            </div>
                            <p class="views">Просмотров: 4</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lecture-more-container" class="more more2">
                <p><a id="lecture-more-button" href="#">Ещё спектакли</a></p>
            </div>    
            
        </div>
        
        {# Контакты #}
        <div class="content-tab" id="c-tab2"  style="display:none">
            <div class="theater-contacts-map-wrap">
                <div class="theater-contacts-map">
                    <img src="/img/map-image.jpg" alt="" />
                </div>
            </div>
            <div class="theater-contacts-wrap">
                <table class="theater-contacts">
                    <caption>МХТ им. Чехова</caption>
                    <tr>
                        <td class="label">
                            Адрес: 
                        </td>
                        <td>
                            125009, Москва, Камергерский пер., 3 
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Метро:</td>
                        <td>Театральная</td>
                    </tr>
                    <tr>
                        <td class="label">Телефон:</td>
                        <td>+7 (495) 646-36-46<br />
                            +7 (495) 692-67-48
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Режим работы кассы:</td>
                        <td>понедельник - воскресенье: 12:00 - 18:00</td>
                    </tr>
                    <tr>
                        <td class="label">Email:</td>
                        <td><a href="http://www.mxat.ru" target="_blank">www.mxat.ru</a></td>
                    </tr>
                    <tr>
                        <td class="label">Сайт:</td>
                        <td><a href="mailto:info@mxat.ru">info@mxat.ru</a></td>
                    </tr>
                </table>
            </div>
        </div>
        
        {# Афиша #}
        <div class="content-tab" id="c-tab3"  >
            <div class="sub-tabs">
                <a href="#s-tab1" class="active">Март</a>
                <a href="#s-tab2">Апрель</a>
                <a href="#s-tab3">Май</a>
            </div>
            <div class="sub-tab" id="s-tab1">
                <table class="afisha-table">
                    <tr>
                        <td class="at-name">
                            <a href="#">Savannah Bay</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Пятница
                        </td>
                        <td class="at-date">
                            29 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Дневник провинциала в Петербурге</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Суббота
                        </td>
                        <td class="at-date">
                            30 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Зойкина квартира</a>
                            <i>Премьеры, драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Четверг
                        </td>
                        <td class="at-date">
                            28 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Каренин</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Четверг
                        </td>
                        <td class="at-date">
                            28 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Конек-Горбунок</a>
                            <i>Детские спектакли, драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Суббота <br />
                            Воскресенье
                        </td>
                        <td class="at-date">
                            30 марта, 18:00<br />
                            31 марта, 14:00, 18:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Осада</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Пятница
                        </td>
                        <td class="at-date">
                            29 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Пиквикский клуб</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Пятница
                        </td>
                        <td class="at-date">
                            29 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Семейные сцены</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Воскресенье
                        </td>
                        <td class="at-date">
                            31 марта, 19:00
                        </td>
                    </tr>
                    
                </table>
            </div>
            
            <div class="sub-tab" id="s-tab2"  style="display:none;">
                <table class="afisha-table">
                    <tr>
                        <td class="at-name">
                            <a href="#">Конек-Горбунок</a>
                            <i>Детские спектакли, драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Суббота <br />
                            Воскресенье
                        </td>
                        <td class="at-date">
                            30 марта, 18:00<br />
                            31 марта, 14:00, 18:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Осада</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Пятница
                        </td>
                        <td class="at-date">
                            29 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Пиквикский клуб</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Пятница
                        </td>
                        <td class="at-date">
                            29 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Семейные сцены</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Воскресенье
                        </td>
                        <td class="at-date">
                            31 марта, 19:00
                        </td>
                    </tr>
                    
                </table>
            </div>
            
            <div class="sub-tab" id="s-tab3" style="display:none;">
                <table class="afisha-table">
                    <tr>
                        <td class="at-name">
                            <a href="#">Savannah Bay</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Пятница
                        </td>
                        <td class="at-date">
                            29 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Дневник провинциала в Петербурге</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Суббота
                        </td>
                        <td class="at-date">
                            30 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Зойкина квартира</a>
                            <i>Премьеры, драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Четверг
                        </td>
                        <td class="at-date">
                            28 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Каренин</a>
                            <i>Драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Четверг
                        </td>
                        <td class="at-date">
                            28 марта, 19:00
                        </td>
                    </tr>
                    <tr>
                        <td class="at-name">
                            <a href="#">Конек-Горбунок</a>
                            <i>Детские спектакли, драматические спектакли</i>        
                        </td>
                        <td class="at-day">
                            Суббота <br />
                            Воскресенье
                        </td>
                        <td class="at-date">
                            30 марта, 18:00<br />
                            31 марта, 14:00, 18:00
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
        
        
        {# Комментарий #}
        <div class="content-tab" id="c-tab4"  style="display:none;">
            <div class="more-comments-show">
                <div class="comments comments-gray clearfix">
                    <div id="fos_comment_thread" data-thread="ru_lecture_443">
                        <div class="fos_comment_comment_form_holder">
                            <h3>Написать комментарий</h3>
                            <form class="fos_comment_comment_new_form" action="http://mk.dev.armd.ru/app_dev.php/comment/api/threads/ru_lecture_443/comments" data-parent="" method="POST">
                                <div class="fos_comment_form_errors"></div>
                                <textarea id="fos_comment_comment_body" name="fos_comment_comment[body]" required="required"></textarea>
                                <input type="hidden" id="fos_comment_comment__token" name="fos_comment_comment[_token]" value="aa66e3f1472acd9a0e773776f51ef409903f97c1">
                                <div class="fos_comment_submit">
                                    <input type="submit" value="Опубликовать" />
                                </div>
                            </form>
                        </div>
                    </div>
                 </div>
            </div>
        </div>    
        
        
        
        <div class="back-link"><p><a href="/app_dev.php/press-centre/news/">Назад</a></p></div>
        <div class="event-one_footer clearfix">
        <div href="#" class="print-link"><a target="_blank" href="/app_dev.php/press-centre/news/5829/print"></a> Распечатать материал: </div>
            <div href="#" class="publish-links">Опубликовать в социальных сетях: <span id="yandex-share"><span class="b-share"><a rel="nofollow" target="_blank" title="ВКонтакте" class="b-share__handle b-share__link b-share-btn__vkontakte" href="http://share.yandex.ru/go.xml?service=vkontakte&amp;url=http%3A%2F%2Fmk.dev.armd.ru%2Fapp_dev.php%2Fpress-centre%2Fnews%2F5829%2F&amp;title=%D0%9D%D0%B0%20%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B9%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%90%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%B0%D0%BD%D0%B8%20%D0%BF%D1%80%D0%BE%D0%B2%D0%BE%D0%B4%D0%B8%D0%BB%D0%B8%20%D0%B7%D0%B8%D0%BC%D1%83&amp;description=%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B5%20%D0%B3%D1%83%D0%BB%D1%8F%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D0%BB%D0%B8%D1%81%D1%8C%20%D0%BD%D0%B0%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%B2%20%D1%87%D0%B5%D1%81%D1%82%D1%8C%20%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B5%D0%B3%D0%BE%20%D0%B4%D0%BD%D1%8F%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D0%BE%D0%B9%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D0%B8.%20%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BD%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%B0%D0%B7%D0%B4%D0%BD%D0%B8%D0%BA%20%D1%81%D0%BE%D0%B1%D1%80%D0%B0%D0%BB%20%D0%BE%D0%BA%D0%BE%D0%BB%D0%BE%20%D1%87%D0%B5%D1%82%D1%8B%D1%80%D0%B5%D1%85%20%D1%82%D1%8B%D1%81%D1%8F%D1%87%20%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA." data-service="vkontakte"><span class="b-share-icon b-share-icon_vkontakte"></span></a><a rel="nofollow" target="_blank" title="LiveJournal" class="b-share__handle b-share__link b-share-btn__lj" href="http://share.yandex.ru/go.xml?service=lj&amp;url=http%3A%2F%2Fmk.dev.armd.ru%2Fapp_dev.php%2Fpress-centre%2Fnews%2F5829%2F&amp;title=%D0%9D%D0%B0%20%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B9%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%90%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%B0%D0%BD%D0%B8%20%D0%BF%D1%80%D0%BE%D0%B2%D0%BE%D0%B4%D0%B8%D0%BB%D0%B8%20%D0%B7%D0%B8%D0%BC%D1%83&amp;description=%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B5%20%D0%B3%D1%83%D0%BB%D1%8F%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D0%BB%D0%B8%D1%81%D1%8C%20%D0%BD%D0%B0%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%B2%20%D1%87%D0%B5%D1%81%D1%82%D1%8C%20%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B5%D0%B3%D0%BE%20%D0%B4%D0%BD%D1%8F%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D0%BE%D0%B9%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D0%B8.%20%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BD%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%B0%D0%B7%D0%B4%D0%BD%D0%B8%D0%BA%20%D1%81%D0%BE%D0%B1%D1%80%D0%B0%D0%BB%20%D0%BE%D0%BA%D0%BE%D0%BB%D0%BE%20%D1%87%D0%B5%D1%82%D1%8B%D1%80%D0%B5%D1%85%20%D1%82%D1%8B%D1%81%D1%8F%D1%87%20%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA." data-service="lj"><span class="b-share-icon b-share-icon_lj"></span></a><a rel="nofollow" target="_blank" title="Twitter" class="b-share__handle b-share__link b-share-btn__twitter" href="http://share.yandex.ru/go.xml?service=twitter&amp;url=http%3A%2F%2Fmk.dev.armd.ru%2Fapp_dev.php%2Fpress-centre%2Fnews%2F5829%2F&amp;title=%D0%9D%D0%B0%20%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B9%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%90%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%B0%D0%BD%D0%B8%20%D0%BF%D1%80%D0%BE%D0%B2%D0%BE%D0%B4%D0%B8%D0%BB%D0%B8%20%D0%B7%D0%B8%D0%BC%D1%83&amp;description=%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B5%20%D0%B3%D1%83%D0%BB%D1%8F%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D0%BB%D0%B8%D1%81%D1%8C%20%D0%BD%D0%B0%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%B2%20%D1%87%D0%B5%D1%81%D1%82%D1%8C%20%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B5%D0%B3%D0%BE%20%D0%B4%D0%BD%D1%8F%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D0%BE%D0%B9%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D0%B8.%20%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BD%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%B0%D0%B7%D0%B4%D0%BD%D0%B8%D0%BA%20%D1%81%D0%BE%D0%B1%D1%80%D0%B0%D0%BB%20%D0%BE%D0%BA%D0%BE%D0%BB%D0%BE%20%D1%87%D0%B5%D1%82%D1%8B%D1%80%D0%B5%D1%85%20%D1%82%D1%8B%D1%81%D1%8F%D1%87%20%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA." data-service="twitter"><span class="b-share-icon b-share-icon_twitter"></span></a><a rel="nofollow" target="_blank" title="Facebook" class="b-share__handle b-share__link b-share-btn__facebook" href="http://share.yandex.ru/go.xml?service=facebook&amp;url=http%3A%2F%2Fmk.dev.armd.ru%2Fapp_dev.php%2Fpress-centre%2Fnews%2F5829%2F&amp;title=%D0%9D%D0%B0%20%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B9%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%90%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%B0%D0%BD%D0%B8%20%D0%BF%D1%80%D0%BE%D0%B2%D0%BE%D0%B4%D0%B8%D0%BB%D0%B8%20%D0%B7%D0%B8%D0%BC%D1%83&amp;description=%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B5%20%D0%B3%D1%83%D0%BB%D1%8F%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D0%BB%D0%B8%D1%81%D1%8C%20%D0%BD%D0%B0%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%B2%20%D1%87%D0%B5%D1%81%D1%82%D1%8C%20%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B5%D0%B3%D0%BE%20%D0%B4%D0%BD%D1%8F%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D0%BE%D0%B9%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D0%B8.%20%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BD%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%B0%D0%B7%D0%B4%D0%BD%D0%B8%D0%BA%20%D1%81%D0%BE%D0%B1%D1%80%D0%B0%D0%BB%20%D0%BE%D0%BA%D0%BE%D0%BB%D0%BE%20%D1%87%D0%B5%D1%82%D1%8B%D1%80%D0%B5%D1%85%20%D1%82%D1%8B%D1%81%D1%8F%D1%87%20%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA." data-service="facebook"><span class="b-share-icon b-share-icon_facebook"></span></a><a rel="nofollow" target="_blank" title="Одноклассники" class="b-share__handle b-share__link b-share-btn__odnoklassniki" href="http://share.yandex.ru/go.xml?service=odnoklassniki&amp;url=http%3A%2F%2Fmk.dev.armd.ru%2Fapp_dev.php%2Fpress-centre%2Fnews%2F5829%2F&amp;title=%D0%9D%D0%B0%20%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B9%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%90%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%B0%D0%BD%D0%B8%20%D0%BF%D1%80%D0%BE%D0%B2%D0%BE%D0%B4%D0%B8%D0%BB%D0%B8%20%D0%B7%D0%B8%D0%BC%D1%83&amp;description=%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B5%20%D0%B3%D1%83%D0%BB%D1%8F%D0%BD%D0%B8%D1%8F%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D0%BB%D0%B8%D1%81%D1%8C%20%D0%BD%D0%B0%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D0%B8%20%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%B2%20%D1%87%D0%B5%D1%81%D1%82%D1%8C%20%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B5%D0%B3%D0%BE%20%D0%B4%D0%BD%D1%8F%20%D0%BC%D0%B0%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%87%D0%BD%D0%BE%D0%B9%20%D0%BD%D0%B5%D0%B4%D0%B5%D0%BB%D0%B8.%20%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BD%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%B0%D0%B7%D0%B4%D0%BD%D0%B8%D0%BA%20%D1%81%D0%BE%D0%B1%D1%80%D0%B0%D0%BB%20%D0%BE%D0%BA%D0%BE%D0%BB%D0%BE%20%D1%87%D0%B5%D1%82%D1%8B%D1%80%D0%B5%D1%85%20%D1%82%D1%8B%D1%81%D1%8F%D1%87%20%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA." data-service="odnoklassniki"><span class="b-share-icon b-share-icon_odnoklassniki"></span></a></span></span></div>
        </div>
        
        
        
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}

    {# % render url('armd_news_memorial_events') % #}
    {# % render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) % #}
    <div class="orange-slider-block">
        <h3 class="o-slider-header">Интервью</h3>
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <article class="period-block">
                        <a href="#data1" class="period-block_image fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                            <span class="play"></span>
                        </a>
                        <div class="period-block_text">
                            <h4>Мир, в котором я живу: Юлия Снигирь</h4>
                            <p>Описание интервю, если есть.. Например, интервью с главной актрисой театра</p>
                        </div>
                        
                    </article>
                </li>
                <li>
                    <article class="period-block">
                        <a href="#data1" class="period-block_image fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                            <span class="play"></span>
                        </a>
                        <div class="period-block_text">
                            <p>Интервью с Владиславом Наставшеевым</p>
                        </div>
                        <footer class="period-block_footer">
                                <div class="tags">
                                    <a href="/app_dev.php/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">Кинозал</a>
                                </div>
                            </footer>
                    </article>
                </li><li>
                    <article class="period-block">
                        <a href="#data1" class="period-block_image fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                            <span class="play"></span>
                        </a>
                        <div class="period-block_text">
                            <p>Интервью с Владиславом Наставшеевым</p>
                        </div>
                        <footer class="period-block_footer">
                                <div class="tags">
                                    <a href="/app_dev.php/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">Кинозал</a>
                                </div>
                            </footer>
                    </article>
                </li><li>
                    <article class="period-block">
                        
                        <a href="#data1" class="period-block_image fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                            <span class="play"></span>
                        </a>
                        <div class="period-block_text">
                            <p>Интервью с Владиславом Наставшеевым</p>
                        </div>
                        <footer class="period-block_footer">
                                <div class="tags">
                                    <a href="/app_dev.php/lecture/index/LECTURE_SUPER_TYPE_CINEMA/">Кинозал</a>
                                </div>
                            </footer>
                    </article>
                </li>
            </ul>            
        </div>  
    </div>
    <div class="right-video-block">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <article class="period-block">
                        <h2>фотогалерея ТЕАТРА</h2>
                        <a href="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg" class="period-block_image in-fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                        </a>
                        <div class="period-block_text">
                            <p>Описание фотогалереи</p>
                        </div>
                        <footer class="period-block_footer">
                                
                        </footer>
                    </article>
                </li>
                <li>
                    <article class="period-block">
                        <h2>фотогалерея ТЕАТРА</h2>
                        <a href="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg" class="period-block_image in-fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                        </a>
                        <div class="period-block_text">
                            <p>Описание фотогалереи</p>
                        </div>
                        <footer class="period-block_footer">
                                
                        </footer>
                    </article>
                </li>
                <li>
                    <article class="period-block">
                        <h2>фотогалерея ТЕАТРА</h2>
                        <a href="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg" class="period-block_image in-fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                        </a>
                        <div class="period-block_text">
                            <p>Описание фотогалереи</p>
                        </div>
                        <footer class="period-block_footer">
                                
                        </footer>
                    </article>
                </li>
                <li>
                    <article class="period-block">
                        <h2>фотогалерея ТЕАТРА</h2>
                        <a href="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg" class="period-block_image in-fancybox">
                            <img width="335" height="189" src="/uploads/media/lecture/0001/14/thumb_13035_lecture_big.jpeg"  />
                        </a>
                        <div class="period-block_text">
                            <p>Описание фотогалереи</p>
                        </div>
                        <footer class="period-block_footer">
                                
                        </footer>
                    </article>
                </li>
            </ul>            
        </div>
    </div>
    <div id="data-1" style="display: none;">
        <div class="fancybox-video-wrapper" style="width:640px; height:365px;">
            
            <iframe width="640" height="360" src="http://pub.tvigle.ru/frame/p.htm?prt=85deec0537d438363b1c3b54dbe222e8&amp;id=1902565&amp;srv=pub.tvigle.ru&amp;modes=1&amp;nl=1&amp;dopparam=armada_skin" style="border: 0px;"></iframe>
    
        </div>
    </div>
    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lectures.js') }}"></script>
    <script type="text/javascript">
        $(function() {
           {# armdMkLectures.init('{{ lectureSuperType.code }}'); #}
           function initFancybox() {
            $('.fancybox').fancybox({
                autoResize: true,
                prevEffect: 'none',
		        nextEffect: 'none'
            });

            $('.zoom-fancybox').fancybox({
                 autoResize:true,
                 afterShow:function ()
                 {
                     var innerWidth = $('.fancybox-inner').width();
                     var innerHeight = $('.fancybox-inner').height();

                     var newContent = $('<a id="zoom" href="/uploads/media/atlas/0001/09/a3dd55e8a1be10487f3a21af855e67072373beae.jpeg"><img class="zoom-img" src="/uploads/media/atlas/0001/09/a3dd55e8a1be10487f3a21af855e67072373beae.jpeg" height="' + innerHeight + '"></img></a><div class="info-line"><a href="/uploads/media/atlas/0001/09/a3dd55e8a1be10487f3a21af855e67072373beae.jpeg" target="_blank">Скачать</a><a href="/uploads/media/atlas/0001/09/a3dd55e8a1be10487f3a21af855e67072373beae.jpeg" id="fancy_print">Распечатать</a></div>');
                     $('.fancybox-inner').html(newContent);
                     $('#zoom').jqzoom({
                         zoomType:'innerzoom',
                         lens:false,
                         title:false,
                         preloadImages:false,
                         alwaysOn:false
                     })

                     $('#fancy_print').bind("click", function ()
                     {
                         var win = null;
                         var content = $('#zoom');
                         win = window.open("width=200,height=200");
                         self.focus();
                         win.document.open();
                         win.document.write('<' + 'html' + '><' + 'head' + '><' + 'style' + '>');
                         win.document.write('body, td { font-family: Verdana; font-size: 10pt;}');
                         win.document.write('<' + '/' + 'style' + '><' + '/' + 'head' + '><' + 'body' + '>');
                         win.document.write(content.html());
                         win.document.write('<' + '/' + 'body' + '><' + '/' + 'html' + '>');
                         win.document.close();
                         win.print();
                         win.close();

                         return false;
                     }); // bind

                 }
             });
            }
            initFancybox();
            
            
            $('.content-tabs').on('click', 'a', function(){
                var tabId = $(this).attr('href');
                $(this).addClass('active')
                        .siblings().removeClass('active');
                $(tabId).show().siblings('.content-tab').hide();        
                return false;
            })
            
            $('.sub-tabs').on('click', 'a', function(){
                var tabId = $(this).attr('href');
                $(this).addClass('active')
                        .siblings().removeClass('active');
                $(tabId).show().siblings('.sub-tab').hide();        
                return false;
            })
            
           
        });
    </script>
{% endblock %}