<script src="{{ asset('bundles/armdmkresources/js/libs/jquery-ui-1.8.18.custom.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/armdmkresources/js/libs/jquery.rlc.css') }}">
<script src="{{ asset('bundles/armdmkresources/js/libs/jquery.rlc.js') }}"></script>
<script src="{{ asset('bundles/armdmkresources/js/libs/jquery.masonry.js') }}"></script>

<script type="text/javascript">
    $(function() {
        $('#calendar').css({
            'background-image' : "url('/bundles/armdmkresources/img/bg_zaklad_repeat.jpg')",
            'background-repeat' : 'repeat-x',
            'background-color' : '#931517'
        });
		
        var blockSizes = [440, 220]; //[500, 400, 300, 200, 100];
        var contentWide = $('#content-i-wide');
        var calendar = $('#calendar');
        var images = $([]);
        var imageCount = 0;
        
        var bindMasonry = function() {
            //images = calendar.find('a img');
            //imageCount = images.length;
        
            calendar.hide().imagesLoaded(function(imgs, proper, broken) {
                images = imgs;
                imageCount = images.length;
				
				calendar.show();
                
                var blockSizeIndex = 0;
                var blockTypeIndex = 0;
                
                for(i = 0; i < images.length; i++) {
                    var img = $(images[i]);
                    
                    if(blockSizeIndex == 0) {
                        blockWidth = blockSizes[0];
                        blockSizeIndex++;
                    } else if(blockSizeIndex == 1) {
                        blockWidth = blockSizes[1];
                        if(blockTypeIndex < 1) {
                            blockTypeIndex++;
                        } else {
                            blockTypeIndex = 0;
                            blockSizeIndex = 0;
                        }
                    }
                    
                    img.closest('li').width(blockWidth);
                    img.width(blockWidth - 10);
                }
                
                var ul = calendar.find('ul');
                
                if(ul.hasClass('masonry'))
                    ul.masonry('destroy');
                
                ul.masonry({
                    itemSelector : 'li',
                    isFitWidth: true,
                    columnWidth: blockSizes[blockSizes.length - 1]
                });
				
				setPanelLoad(false);
            });
        };
        bindMasonry();
        
        var panel = $('<div class="panel"></div>');
        
        var panelLoading = false;
        var setPanelLoad = function(load) {
            if(load) {
                panelLoading = true;
                contentWide.height(contentWide.height());
                panel.find('.rlc').fadeOut();
                calendar.fadeOut();
            } else {
                calendar.fadeIn();
                panel.find('.rlc').fadeIn();
                contentWide.height('auto');
                panelLoading = false;
            }
        };
        
        $('header').after(panel);
        panel.rlCalendar({
            selectDays: [{{ selectDays.from }}, {{ selectDays.to }}],
            changingDate: function(from, to) {
                //console.debug(['changing', from, to]);
            },
            changedDate: function(from, to, isFullscreenSender) {
                //console.debug(['changed', from, to]);
                
                if(isFullscreenSender)
                    return;

                from[1] = from[1] < 10 ? ('0' + from[1]) : from[1];
                from[2] = from[2] < 10 ? ('0' + from[2]) : from[2];
                to[1] = to[1] < 10 ? ('0' + to[1]) : to[1];
                to[2] = to[2] < 10 ? ('0' + to[2]) : to[2];

                var from = from.join('-');
                var to = to.join('-');
                var url = '/_sys/event/fetch?from=' + from + '&to=' + to + '&page=1';
                
                if(!this._isFirstLaunch) {
                    setPanelLoad(true);
                    
                    var request = $.ajax({
                        url: url
                    });

                    request.done(function(msg) {
                        calendar.find('ul').css({width: 'auto', height: 'auto'}).empty().append(msg);
                        bindMasonry();
                    });

                    request.fail(function(jqXHR, textStatus) {
                        //alert( "Request failed: " + textStatus );
                        
                        setPanelLoad(false);
                    });
                }
            }
        });
        panel.height(panel.height());
		
		$('.calendar-all-events').appendTo('body');
    });
</script>

<div id="calendar" class="work" style="display: none"><ul class="plain-list cb">
{% for entity in entities %}
    {% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}
    {% set w = random([150, 300, 450]) %}
    {% set h = random([150, 200, 250]) %}
    {% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(20) ~ '.jpg') %}
    <li style="width: {#{ w }#}px; margin: 0px auto;"><a class="lnk-calendar-0" href="{{ cmsPath('armd_event', 'listitem', {'id' : entity.id}) }}">
            <i>
                {% for schedule in entity.schedule %}
                    {{ schedule.beginDate|localDate("j F") }}
                    {% if schedule.endDate and (schedule.endDate|localDate("j F") != schedule.beginDate|localDate("j F")) %}
                        &mdash; {{ schedule.endDate|localDate("j F") }}
                    {% endif %}
                {% endfor %}
            </i>
            {#% thumbnail entity.image, 'small' %#}
            {#<img width="{{ w }}" height="{{ h }}" title="" alt="" src="{{ tempPicUrl }} "/>#}
            {% if entity.image %}
                <img {#width="{{ entity.image.width}}"  height="{{ entity.image.height }}"#} title="" class="collage-img" alt="" src="{% path entity.image, 'reference' %}"/>
            {% else %}
                <img width="" title="" alt="" src="{{ tempPicUrl }} "/>
            {% endif %}
            <strong>{{ entity.title|raw }}</strong>
            {#<dfn>{{ entity.announce|raw }}</dfn>#}
    </a></li>
{% endfor %}
</ul>
<a href="{{ cmsPath('armd_event', 'listitem') }} " class="calendar-all-events"><span>Все события</span></a>
</div>