{% include 'ArmdMkResourcesBundle::nav-sections.html.twig' %}

<h1 style="vertical-align: bottom; display: table-cell; height: 2em;">{{ entity.title }}</h1>

<p class="item-dfn item-dfn-sm">{#{ entity.ContentStream }#}</p>

<ul class="plain-list event-info">
    <li><dfn>Дата проведения мероприятия:</dfn> 
	{#{ entity.date|localDate("d F / H:i") }#}
	{% for schedule in entity.schedule %}
		{{ schedule.beginDate|localDate("d F / Y") }}
	{% endfor %}
	</li>
    <li><dfn>Место проведения:</dfn> {{ entity.place }}</li>
</ul>

{#<img src="./upload/pic22.jpg" width="266" height="196" class="item-pic-left" alt="pic22" title="pic22">#}
{% thumbnail entity.image, 'big' with {'class': 'item-pic-left'} %}

{#
<table class="event-data"><tbody>
    <tr>
        <td colspan="2">Продолжительность: <mark>3 часа 50 минут.</mark></td>
    </tr>
    <tr>
        <td width="1%">Режиссер:</td>
        <td class="value">Владимир Иванов</td>
    </tr>
    <tr>
        <td>Художник:</td>
        <td class="value">Борис Валуев</td>
    </tr>
    <tr>
        <td>В ролях:</td>
        <td class="value">Евгения Крегжде, Ольга Немогай, Мария Аронова, Лидия Вележева, Виктор Добронравов, Валерий Ушаков, Владимир Симонов, Артур Иванов, Александр Солдаткин, Павел Любимцев.</td>
    </tr>
</tbody></table>

<div class="cb"></div>
#}

{{ entity.body|raw }}

{% if entity.gallery %}
    {% if entity.gallery.GalleryHasMedias|length > 0 %}
    <p class="odd-title mt50">Фотогалерея {#&laquo;{{ entity.gallery.name }}&raquo;#}</p>
    <div class="gallery-wrap">
        <a href="#null" class="gallery-arrow"></a>
        <div class="gallery cb" style="width: 854px; "><div class="gallery-fade"></div><div class="gallery-i"><ul class="plain-list">
        {% for galleryHasMedia in entity.gallery.GalleryHasMedias %}
            <li>
                <a href="{% path galleryHasMedia.media, 'reference' %}">
                    {% thumbnail galleryHasMedia.media, entity.gallery.defaultFormat %}
                </a>
            </li>
        {% endfor %}
        </ul></div></div><!-- /gallery -->
    </div><!-- /gallery-wrap -->
    {% endif %}
{% endif %}

<br style="clear:both" />

<!-- div class="box-title" style="margin-top: 15px;">Связанные материалы</div>
<div class="proh-wrap"><ul class="plain-list inline-list see-also-list">
    <li>
        <a href="#null" class="see-also-list-item">
            <span class="see-also-list-title">Театр<br>им. Н.И. Сац</span>
            <span class="see-also-list-img"><img src="{{asset('bundles/armdmkresources/')}}/upload/pic9.jpg" width="185" height="135" alt="pic9" title="pic9"></span>
            <span class="see-also-list-brd"></span><span class="see-also-list-bg"></span>
            <span class="see-also-list-txt">Театр носит имя основателя выдающегося деятеля российской советской культуры Наталии Ильиничны Сац. Открыт в 1965 году...</span>
        </a>
        {# <nav class="nav-tags"><ul>
            <li class="first"><a href="#null">Искусства</a></li>
            <li class="nav-tag-feat"><a href="#null">Театры</a></li>
        </ul></nav> #}
    </li>
    <li>
        <a href="#null" class="see-also-list-item">
            <span class="see-also-list-title">Вячеслав<br>Полунин</span>
            <span class="see-also-list-img"><img src="{{asset('bundles/armdmkresources/')}}/upload/pic10.jpg" width="185" height="135" alt="pic10" title="pic10"></span>
            <span class="see-also-list-brd"></span><span class="see-also-list-bg"></span>
            <span class="see-also-list-txt">Актёр-мим, клоун, автор и постановщик клоунских номеров, реприз, масок, героев, спектаклей...</span>
        </a>
        {# <nav class="nav-tags"><ul>
            <li class="first"><a href="#null">Искусства</a></li>
            <li class="nav-tag-feat"><a href="#null">Театры</a></li>
        </ul></nav> #}
    </li>
    <li>
        <a href="#null" class="see-also-list-item">
            <span class="see-also-list-title"><br>Асисяй</span>
            <span class="see-also-list-img"><img src="{{asset('bundles/armdmkresources/')}}upload/pic11.jpg" width="185" height="135" alt="pic11" title="pic11"></span>
            <span class="see-also-list-brd"></span><span class="see-also-list-bg"></span>
            <span class="see-also-list-txt">Фрагмент из выступления Славы Полунина в его Снежном шоу...</span>
        </a>
        {# <nav class="nav-tags"><ul>
            <li class="first"><a href="#null">Искусства</a></li>
            <li class="nav-tag-feat"><a href="#null">Театры</a></li>
        </ul></nav> #}
    </li>
</ul></div --!><!-- /proh-wrap -->
