<script src="{{ asset('bundles/armdmkresources/js/libs/jquery-ui-1.8.18.custom.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/armdmkresources/js/libs/jquery.rlc.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/armdmkresources/css/events.css') }}">
<script src="{{ asset('bundles/armdmkresources/js/libs/jquery.rlc.js') }}"></script>
	<div class="navigation topnav">
			{{ entities.render()|raw }}
	</div><br>
<script type="text/javascript">
    $(function() {
		//if(!/test/.test(window.location.href))
		//	return;
		
		var eventsContainer = $('.events-list-wrap');
	
        var panel = $('<div class="panel"></div>');
        
        var panelLoading = false;
        var setPanelLoad = function(load) {
            if(load) {
                panelLoading = true;
                panel.find('.rlc').fadeOut();
                eventsContainer.fadeOut();
            } else {
                eventsContainer.fadeIn();
                panel.find('.rlc').fadeIn();
                panelLoading = false;
            }
        };
        
        $('header').after(panel);
        panel.rlCalendar({
            selectDays: [12, 18], // [{#{ selectDays.from }}, {{ selectDays.to }#}],
            changingDate: function(from, to) {
                //console.debug(['changing', from, to]);
            },
            changedDate: function(from, to, isFullscreenSender) {
                // console.debug(['changed', from, to]);
                
                if(isFullscreenSender)
                    return;

                from[1] = from[1] < 10 ? ('0' + from[1]) : from[1];
                from[2] = from[2] < 10 ? ('0' + from[2]) : from[2];
                to[1] = to[1] < 10 ? ('0' + to[1]) : to[1];
                to[2] = to[2] < 10 ? ('0' + to[2]) : to[2];

                var from = from.join('-');
                var to = to.join('-');
                var url = '/_sys/event/fetch?from=' + from + '&to=' + to + '&page=1&stream=2';
				
                if(!this._isFirstLaunch) {
                    setPanelLoad(true);
                    
                    var request = $.ajax({
                        url: url
                    });

                    request.done(function(msg) {
                        eventsContainer.find('ul').empty().append(msg);
						setPanelLoad(false);
                    });

                    request.fail(function(jqXHR, textStatus) {
                        setPanelLoad(false);
                    });
                }
            }
        });
        panel.height(panel.height());
    });
</script>

<div class="proh-wrap events-list-wrap"><ul class="plain-list inline-list see-also-list events-list">
    {% for entity in entities %}
        {% set eventUrl = cmsPath('armd_event', 'listitem', {'id' : entity.id}) %}
        
        {#% for schedule in entity.schedule %}
            {{ set date = schedule.beginDate }}
        {% endfor %#}
        {% set date = entity.date %}
       
        <li class="events-list-item">
					
					{#% if entity.schedule[0].begindate and entity.schedule[0].enddate %}
					
					
					<dl class="cb">
                        <dt style="width:180px;">
							<ul>
							<li>
								{{ entity.schedule[0].begindate|localDate("d") }}
							</li>
							<li class="small">
								{{ (entity.schedule[0].begindate|localDate("F"))[0:3] }}</p>
							</li>
							<li>
								→{{ entity.schedule[0].enddate|localDate("d") }}
							</li>
							<li class="small">
								{{ (entity.schedule[0].enddate|localDate("F"))[0:3] }}
							</li>
							</ul>
						</dt>
                    </dl> 
					{% else %#}
                    <dl class="cb">
                        <dt>{{ date|date("d") }}</dt>
                        <dd>
                            <b>{{ date|localDate("F") }}</b>
                            {{ date|localDate("l") }}
                        </dd>
                    </dl>
					{#% endif %#}
                    <a href="{{ eventUrl }}" class="see-also-list-img">{% thumbnail entity.image, 'big' %}</a>
                    <div class="see-also-list-brd"></div>
                    <a href="{{ eventUrl }}" class="see-also-list-bg" title="Подробнее">Подробнее</a>
                    <a href="{{ eventUrl }}" class="events-list-title">{{ entity.title|raw }}</a>
                    {#
                    <nav class="nav-tags"><ul>
                        <li class="first"><a href="{{ eventUrl }}">Театр Вахтангова</a></li>
                        <li>Спектакль комедия</li>
                    </ul></nav>
                    #}
                </li>
    {% endfor %}
</ul></div><!-- /proh-wrap -->
<div class="navigation botnav">
{{ entities.render()|raw }}
</div>

