<div id="events">
	<div class="title-block  index-title-block">
		<h2>{{ 'mainpage.news'|trans }}</h2>
	</div>

    {% set prevDate = null %}
    {% for n in news %}
        {% set f = n.date %}
        {% set t = n.endDate %}
        {% if loop.first %}
            <div class="first-eventsaction">
                <div class="event-image">
                {% if n.image %}
                    {% thumbnail n.image, 'list' with {'alt': n.image.description} %}
                {#{% else %}#}
                    {#<style>#{{ slug }}tab_tab .first-eventsaction .theevent {margin-left:0px;}</style>#}
                {% endif %}
                </div>
                <div class="theevent">
                    <span class="date-events">{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans|slice(0,3) }}{{ f|date(' /Y') }}
                    {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans|slice(0,3) }}{{ t|date(' /Y') }}{% endif%}</span>
                    <p class="theevents"><a href="{{ path('armd_news_item_by_category', {'id': n.id, 'category': n.category.slug }) }}">{{ n.title|raw }}</a></p>
                    <p>{{ n.announce|raw }}</p>
                </div>
            </div>
        {% else %}
            {% if n.publishedAt|date('d') != prevDate or prevDate is empty %}
                <div class="date-events-block clearfix">
                    <span class="date-events">
                        {{ n.publishedAt|date('j ')}}{{ ('calendar.full.'~n.publishedAt|date('M'))|trans|slice(0,3) }}{{ n.publishedAt|date(' /Y') }}
                    </span>
                </div>
            {% endif %}
            <ul class="events-list">
                <li class="eventsitem-list">
                    <div class="theeventsitem-list">
                        <span class="date-events">
                            {#{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans|slice(0,3) }}{{ f|date(' /Y') }}#}
                            {#{% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans|slice(0,3) }}{{ t|date(' /Y') }}{% endif%}#}
                            {{ n.publishedAt|date('H:i') }}
                        </span>
                        <div class="theevents">
                            <p><a href="{{ path('armd_news_item_by_category', {'id': n.id, 'category': n.category.slug }) }}">{{ n.title|raw }}</a></p>
                            <p>{{ n.announce|raw }}</p>
                        </div>
                    </div>
                </li>
            </ul>
            {% if loop.last %}
                <p class="all-list"><a class="blue-link" href="{{ path('armd_news_list_index_by_category', {'category': 'news'}) }}">{{ 'mainpage.read_more'|trans }}</a></p>
            {% endif %}
            {% set prevDate = n.publishedAt|date('d') %}
        {% endif %}
    {% endfor %}


    {#
    <div id="events-tabs">
        <ul id="eventsitem-tab">
    	{% for c in categories %}        
            <li id="{{ c.slug }}tab" {% if loop.first %}class="active"{% endif %}>
                <span>{{ c.title }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% for slug, entities in news %}
        <div id="{{ slug }}tab_tab" class="events_tabs" {% if not loop.first %}style = "display:none;" {% endif %}>
            {% for n in entities %}
                {% set f = n.date %}
                {% set t = n.endDate %}
                {% if loop.first %}
                    <div class="first-eventsaction">
                        <div class="event-image">
                        {% if n.image %}
                            {% thumbnail n.image, 'list' with {'alt': n.image.description} %}
                        {% else %}
                            <style>#{{ slug }}tab_tab .first-eventsaction .theevent {margin-left:0px;}</style>
                        {% endif %}
                        </div>
                        <div class="theevent">
                            <span class="date-events">{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans|slice(0,3) }}{{ f|date(' /Y') }}
                            {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans|slice(0,3) }}{{ t|date(' /Y') }}{% endif%}</span>
                            <p class="theevents"><a href="{{ path('armd_news_item_by_category', {'id': n.id, 'category': n.category.slug }) }}">{{ n.title|raw }}</a></p>
                            <p>{{ n.announce|raw }}</p>
                        </div>
\                    </div>
                {% else %}
                    <ul class="events-list">
                        <li class="eventsitem-list">
                            <div class="theeventsitem-list">
                                <span class="date-events">{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans|slice(0,3) }}{{ f|date(' /Y') }}
                                {% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans|slice(0,3) }}{{ t|date(' /Y') }}{% endif%}</span>
                                <div class="theevents">
                                    <p class="theevents"><a href="{{ path('armd_news_item_by_category', {'id': n.id, 'category': n.category.slug }) }}">{{ n.title|raw }}</a></p>
                                    <p>{{ n.announce|raw }}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% if loop.last %}
                        <p class="all-list"><a class="blue-link" href="{{ path('armd_news_list_index_by_category', {'category': slug}) }}">{{ 'Mainpage block.Events.All'|trans }} {{ n.category.title}}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    #}
</div>
