{% extends ':Frontend:layout_two_column.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block opengraph %}
    <meta property="og:title" content="{{ entity.title }}"/>
    <meta property="og:description" content="{{ entity.lead }}"/>
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}"/>
    <meta property="og:url" content="{{ app.request.uri }}"/>
{% endblock %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block page_header_title %}{{ entity.title }}{% endblock %}


{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li>
            <a href="{{ path('blog_list') }}">{{ 'Блоги' | trans }}</a>
        </li>

        <li><span>{{ entity.title }}</span></li>
    </ul>

    <article class="event-one clearfix">

        {% render 'BlogBundle:Default:bloggers' %}


        <div class="event-one_top">
            <span class="date">{{ armd_news.news_date(entity.createdAt) }} / {{ entity.createdAt|date('H:i') }} </span>
        </div>
        <h2>
            {{ entity.title|raw }}
        </h2>

        <div class="event-one_anons">
            <p>

            <h3>О блогере</h3>
            <hr>
            {% if entity.user.avatar %}
                <img src="{% path entity.user.avatar, 'default' %}">
            {% endif %}
            {{ entity.user.firstname }} {{ entity.user.lastname }} <br>
            {{ entity.user.biography }}
            </p>
            <hr>
        </div>
        <img src="{% path entity.topImage, 'default' %}" alt="{{ entity.topImage.description }}"> <br>
        <br>

        {{ entity.content|raw }}
        {{ add_viewed_content(entity, path('view_blog', {id: entity.id})) }}
    </article>

    <div class="back-link"><p><a href="javascript:history.back()">{{ "Back"|trans }}</a></p></div>
    <div class="event-one_footer clearfix">
        <div href="#" class="publish-links">{{ "Publish to Social networks"|trans }}: <span id="yandex-share"></span>
        </div>
    </div>

    {# Комментарий #}
    <div class="content-tab" id="c-tab4">
        <div class="more-comments-show">
            <div id="comments" class="comments comments-gray clearfix">
                {% set comment_thread_id = app.request.locale ~ '_'~constant('Armd\\MkCommentBundle\\Model\\CommentInterface::SECTION_BLOGS')~'_' ~ entity.id %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment_thread_id } %}

                {% if not is_granted('ROLE_USER') %}
                    <div class="comments-auth-block">
                        <p>{{ "comments_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
                        {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block right_column %}
    <div style="height:63px; font-size:0; line-height:0"></div>
    <div class="popular-container">
        {% render 'BlogBundle:Default:popular' with {'user' : entity.user } %}
    </div>
    {% render 'BlogBundle:Default:lastPosts' with {'user' : entity.user } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            new Ya.share({
                element: 'yandex-share',
                l10n: {% if app.request.locale == 'ru' %}'ru'{% else %}'en'{% endif %},
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                link: '{{ url('view_blog', { 'id': entity.id }) }}',
                title: '{{ entity.title }}',
                description: '{{ entity.lead|replace({"\n":'',"\r":''})|striptags }}'
            });

            $('#search-form').bind('submit', function (event) {
                if ($('#search-this-section').prop('checked')) {
                    event.preventDefault();
                    window.location = Routing.generate('armd_news_list_index', {'search_query': $('#search-txt').val()})
                }
            });
        });
    </script>
    {% javascripts
    "@BlogBundle/Resources/public/blogs.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}


