{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

<h1>Популярное</h1>
<img src="{% path entity.topImage, 'thumbnail' %}" alt="{{ entity.topImage.description }}"> <br>
<span class="date">{{ armd_news.news_date(entity.createdAt) }}</span><br>
{% if entity.user.avatar %}
    <img src="{% path entity.user.avatar, 'default' %}">
{% endif %}
{{ entity.user.firstname }} {{ entity.user.lastname }} <br>
<hr>
<h3>{{ entity.title }}</h3>

{{ entity.lead | raw }}
<br>
<a href="{{ path('popular_blog') }}" data-page="{{ page }}" class="popular-next">Следующая</a>

<br><br>
<hr>