{% if events %}
{% set regions = {} %}
{% set months = {} %}    
{% for e in events %}
    {% set id = e.region.id %}
    {% if id not in regions|keys %}
        {{ id }}    
        {% set region = { id:e.region.title } %}
        {% set regions = regions|merge(region) %}
    {% endif %}
{% endfor %}

<table class="stripy sortable table">
	<caption>Мероприятия, посвященные празднованию 200 летней годовщины Бородинского сражения</caption>
	<tr>
		<th>
			<div id="regions-selector" class="table-selector">
				<select data-placeholder="Регион" class="chzn-select">
					<option value=""></option>
				{% for id, title in regions %}
					<option value="{{ id }}">{{ title }}</option>
				{% endfor %}
				</select>
			</div>
			<div id="ajax-loading" class="ajax-loading"></div>
		</th>
		<th>Город</th>
		<th>Учреждение</th>
		<th>
			<div id="regions-selector" class="table-selector">
				<select data-placeholder="Дата" class="chzn-select">
					<option value=""></option>
					<option value="1">Сентябрь</option>
					<option value="2">Октябрь</option>
					<option value="3">Ноябрь</option>
				</select>
			</div>
		</th>
		<th>Название мероприятия</th>
	</tr>
{% for e in events %}	
	<tr>
		<td>{{ e.region.title }}</td>
		<td>{{ e.city }}</td>
		<td>{{ e.place }}</td>
		<td class="nowrap">{{ e.beginDate|date('d M') }}</td>
		<td>{{ e.title }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
