{% macro publication_item(link, img, title, description) %}
		<li>
			<img src="{{ asset(img|raw) }}" alt="" />
			<div class="text-overflow">
				<span class="press-list-name">{{ title|raw }}</span>
				<p class="press-list-anons">{{ description|raw }}</p>
			</div>
		</li>
{% endmacro %}

{% set publications = [	
					{		'link': '#',
							'img': '/img/borodino/izd_01.jpg',
							'title' : '«Иркутский драгун Лёшка, или тайна Наполеона». Юрий Баранов',
							'description':'В Иркутске издано первое в России художественное произведение, посвящённое 200-летию победы России в Отечественной войне 1812 года. 
В книге затейливо переплетаются история и вымысел, судьба нашего современника, иркутского школьника Лёшки и боевой путь Иркутского драгунского полка во время Отечественной войны 1812 года.'
					},
					 {	'link': '#',
					 		'img': '/img/borodino/izd_02.jpg',
							'title' : '«1812. Бородино. Битва за Москву». Эксмо, 2012г, Уртулль Ф.Г',
					 		'description':'Книга представляет собой взгляд с французской стороны на такую важную страницу отечественной истории, которой стала бородинская битва. Огромное внимание автор уделил боевому расписанию частей противоборствующих армий, биографическим сведениям о командирах и даже некоторых солдатах. Сообщается ряд новых фактов, касающихся численности войск Французской империи и ее союзников, принимавших участие в великой битве при Бородине. '
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_03.jpg',
							'title' : '«Победить Наполеона. Отечественная война 1812 года». Питер, 2012г, Инна Соболева',
					 		'description':'Эта книга о том, как война 1812 года меняла людей: как робкие юноши превращались в героев; как люди мягкие становились жестокими, а казавшиеся верными предавали. Почему все-таки стала возможной эта война, хотя обе стороны не желали воевать друг с другом? Какие тайные мотивы двигали Александром и Наполеоном? '
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_04.jpg',
							'title' : '«Война русского народа с Наполеоном 1812 г». Захаров, 2012, Божерянов И.Н.',
					 		'description':'Книга-альбом «Война русского народа с Наполеоном. 1812 г.»  воспроизводит подарочное юбилейное издание, вышедшее ровно сто лет назад, к столетию победы над французами, в Санкт-Петербурге в издательстве Ф.Ф.Маркс. 
  Повествование сопровождается большим количеством иллюстраций в тексте и на отдельных листах. Оригиналы для репродукций взяты с редких гравюр и картин начала XIX века. '
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_05.jpg',
							'title' : '«Военная галерея 1812 года». Белый город, 2012, Мартиросова М. А.',
					 		'description':'Книга включает в себя более трехсот легко и изящно написанных портретов, органично соединивших в себе живописный талант и восторженное отношение английского художника к подвигам офицеров российской армии в войне 1812–1814 гг. Великолепное качество иллюстраций и интересный текст, сопровождающий их, никого не оставят равнодушными и издание будет интересно читателям любого возраста'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_06.jpg',
							'title' : '«Знамена наполеоновской армии. Русские трофеи 1812 года». Белый город, 2012, Романовский А. С.',
					 		'description':'Армейские знамена – это, прежде всего, символ воинской чести и славы. Захват знамени противником – это поражение и позор для полка. В настоящем издании представлены трофеи русской армии войны 1812 года.
'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_07.jpg',
							'title' : '«Клады Отечественой войны 1812 года». Вече, 2012, Косарев А.Г.',
					 		'description':'Одной из таинственных страниц Отечественной войны 1812 г. являются похищенные ценности и клады. Цена сокровищ, награбленных и спрятанных Бонапартом при бегстве из России, огромна во всех отношениях. Поиски этих сокровищ продолжаются уже третий век.'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_08.jpg',
							'title' : '«1812 год. Отечественная война. Кутузов. Бородино». ОЛМА Медиа Групп, 2012, Степанов Ю.Г.',
					 		'description':'Эта книга - юбилейное издание в честь 200-летия Отечественной войны 1812 года. В книге подробно рассказано о предпосылках войны и всех  ее этапах. Особое внимание уделяется личности полководца Кутузова и эпохальному сражению с французами у Бородина. В лучших традициях серии, 50% объема книги занимают иллюстрации.'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_09.jpg',
							'title' : '«Отечественная война 1812 года». ОЛМА Медиа Групп, 2011, Степанов Ю.Г.',
					 		'description':'В издании раскрываются предпосылки конфликта, развитие и ход войны. Больше 70% книги занимают иллюстрации — в том числе и полная репродукция знаменитой Бородинской панорамы Рубо.'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_10.jpg',
							'title' : '«Не даром помнит вся Россия». Молодая гвардия, 2012, Ивченко Л. Л., Анисимов Е. В., Нечаев С. Ю.',
					 		'description':'Подарочное издание к 200-летию Отечественной войны 1812. В комплект вошли книги о великих полководцах : «Кутузов», «Багратион» и «Барклай-де-Толли»

'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_11.jpg',
							'title' : '«Война 1812 года и русские евреи». Текст, 2012, Саул Гинзбург',
					 		'description':'Книга Саула Гинзбурга, еврейского историка и общественного деятеля, – одно из первых в России исследований о роли евреев в Отечественной войне.'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_12.jpg',
							'title' : '«Бородино». Белый город, 2012, М. Ю. Лермонтов',
					 		'description':'Подарочное иллюстрированное издание стихотворения великого русского поэта М. Ю. Лермонтова о Бородинском сражении, любви русского народа к своей родине, которая помогла ему дать отпор врагу и отстоять независимость России.'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_13.jpg',
							'title' : '«Бородинская битва 26 августа 1812 года». Наш современник, 2012, А. Р. Андреев, М. А. Андреев',
					 		'description':'«В июне 1812 года вся военная и государственная мощь Французской империи, в которой уже проживала половина европейского населения, обрушилась на Россию … Наполеон верил, что солнце Аустерлица будет светить ему всегда. Оно и светило.
До самого московского зарева…»'
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/izd_14.jpg',
							'title' : '«Бородинское побоище в 3D. «Непобедимые». Эксмо, 2012, Сергей Нечаев',
					 		'description':'Автор книги стирает с решающего сражения нашей истории позолоту пропагандистских мифов, чтобы показать БОРОДИНСКОЕ ПОБОИЩЕ во всем его ужасе и величии. Подарочное КОЛЛЕКЦИОННОЕ ИЗДАНИЕ на мелованной бумаге высшего качества иллюстрировано сотнями цветных карт и репродукций.'
					 },
					 
				]%}
				

<div class="yellow-border-block">
	<p class="yellow-border-header">
		<span>{{ 'Navigation.Borodino.Publications'|trans }}</span>
	</p>
	<ul class="press-list">
		{% for publication in publications %}
			{{ _self.publication_item(publication.link, asset(publication.img), publication.title , publication.description) }}
		 {% endfor %}	
	</ul>	
</div>
