{% if depth == 0 %}
    <div id="comments_header" class="clearfix{% if comments|length > 0 %} comments-header{% endif %}">
        <p id="fos-comment-total">
            {{ 'Comments.Header'|trans }}: <span></span>
        </p>

        {% if fos_comment_can_edit_thread(thread) %}
            {# close thread button #}
            <div class="floatRight marginLeft10 fos_comment_thread_commentable">
                <span class="fos_comment_thread_commentable_action palette-text" data-url="{{ url('fos_comment_edit_thread_commentable', {'id': thread.id, 'value': not thread.commentable}) }}">
                    {{ (thread.commentable ? 'Comments.Thread.Close' : 'Comments.Thread.Open')|trans }}
                </span>
            </div>
        {% endif %}

        {% if fos_comment_can_comment_thread(thread) %}
            <p id="show_add_new_comment" class="floatRight palette-text">
                {{ 'Comments.PostComment'|trans }}
            </p>

            {# add new comment form #}
            <div id="add_new_comment">
                {% render url("fos_comment_new_thread_comments", {"id": thread.id}) %}
            </div>
        {% endif %}
    </div>
{% endif %}

<div{% if depth == 0 and comments|length > 0 %} class="comments-block"{% endif %}>
    <ul id="comments_list_{{ parentId|default(0) }}" class="comments-list">
        {% for commentinfo in comments %}
            <li>
                {% include "FOSCommentBundle:Thread:comment.html.twig" with { "children": commentinfo.children, "comment": commentinfo.comment, "depth": depth, "view": view } %}
            </li>
        {% endfor %}
    </ul>
</div>