 {% extends ':Frontend:layout_one_column.html.twig' %} 

{# ------------------------------------------------------------------------ #}
 {% block page_header_title %}
    {{ 'Chronicle'|trans }}
{% endblock %}

{% block page_header_search %}
    <div class="search-dates"></div>
{% endblock %} 

{# ------------------------------------------------------------------------ #}
{% block one_column %}
    {% include "ArmdChronicleBundle:Event:centuries_all.html.twig" with {"centuries": centuries, "activeCentury": activeCentury, "activePart": activePart} %}
    <div class="link-chronicle-all"> <a href="{{ path('armd_chronicle_index')}}">Лента времени</a></div>
     {% for c in centuries %}
        <div class="time-line-content clearfix" id="{{ c.name }}">
            <div class="time-line-header">{{ c.name }}<br />
 	  	<span>{{ 'Century'|trans }}</span>
 	   </div>
 	  {% include "ArmdChronicleBundle:Event:list.html.twig" with {"events": c.events, "accidents": c.accidents} %} 
        </div>
    {% endfor%}
    </div><!-- //wayponits-area-->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        /*TimeLine selector*/
        $('.time-line-nav > li:not(.inactive) > a').click(function(){
            var thisLi = $(this).parent(),
            thisId = thisLi.attr('id');
            thisLi.addClass('active').siblings().removeClass('active');
            $('#'+thisId+'_tab').show().siblings('.time-line-content').hide();
            return false;
        })

        $('.time-line-nav li li a').click(function(){
            var blockId = $(this).attr('href');
            if(blockId != 'undefined') {
                var blockPos = $(blockId).position();
                if ($(blockId).parent().hasClass('time-line-left')) {
                    $(window).scrollTop(blockPos.top);
                } else {
                    $(window).scrollTop(blockPos.top - $('#time-line-events').height() - 40);
                }
            }
            return false;
        })
    </script>
{% endblock %}