
<ul class="time-line-nav">
{% for c in centuries %}
        <li id="cen_{{ c.value }}" {{ c.value == activeCentury.value and c.parts is not defined ? 'class="active"' : '' }}>
            <a href="{{ path('armd_chronicle_index', {'century': c.value}) }}">{{ c.name }} {{ 'ccc'|trans }}</a>		
            
            {% if c.parts is defined %}
                <ul>
                    {% for part in c.parts %}
                        <li {{ c.value == activeCentury.value and part.value == activePart.value ? 'class="active"' : '' }}>
                            <a href="{{ path('armd_chronicle_index', {'century': c.value, 'part': part.value}) }}">{{ part.name | trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
{% endfor %}
</ul>