{% extends ':Frontend:layout_one_column.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block page_header_title %}
    {{ 'Chronicle'|trans }}
{% endblock %}

{% block page_header_search %}
    <div class="search-dates"></div>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block one_column %}
    {% include "ArmdChronicleBundle:Event:centuries.html.twig" with {"centuries": centuries, "activeCentury": activeCentury, "activePart": activePart} %}
    
    <script type="text/javascript" src="{{ asset('bundles/armdchronicle/timeline/js/storyjs-embed.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            createStoryJS({
                type:       'timeline',
                width:      '{{ width }}',
                height:     '{{ height }}',
                source:     '{{ path('armd_chronicle_timeline_json_data', {'century': activeCentury.value, 'part': activePart.value is defined ? activePart.value : 0 }) }}',
                embed_id:   'timeline-block',
                lang:       '{{ lang }}',
                start_at_end: {{ start_at_end }},
                start_zoom_adjust: {{ start_zoom_adjust }}
            });
        });
    </script>
    
    <div class="wayponits-area">
        <div class="time-line-content clearfix">
            <div class="time-line-header">{{ activeCentury.name }}<br />
                <span>{{ 'Century'|trans }}</span>
            </div>

            <div id="timeline-block"></div>
        </div>
    </div><!-- //wayponits-area-->
{% endblock %}
