{% extends ':Frontend:layout_one_column.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block page_header_title %}
    {{ "newsmap.events_on_map"|trans }}
{% endblock %}

{% block page_header_search %}
    <div class="search-dates"></div>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block one_column %}
	<div class="block">
		<h2><span>{{ 'Chronicle'|trans }}</span></h2>
	</div>

    {% include "ArmdChronicleBundle:Event:centuries.html.twig" with {"centuries": centuries} %}

    <div class="wayponits-area">
        {% for c in centuries %}
            <div class="time-line-content clearfix" id="{{ c.name }}">
                <div class="time-line-header">{{ c.name }}<br />
                    <span>{{ 'Century'|trans }}</span>
                </div>

                {% include "ArmdChronicleBundle:Event:list.html.twig" with {"events": c.events, "accidents": c.accidents} %}
            </div>
        {% endfor%}
    </div><!-- //wayponits-area-->
{% endblock %}    
