{% extends ':Frontend:layout_two_column.html.twig' %}


{% block javascripts %}
{{ parent() }}
<!--
<script src="{{ asset('js/function.js') }}"></script>
-->
<style>

.tolstoy p {
    margin-left: 100px;
}

.tolstoy blockquote{
padding-left: 60px;
padding-right: 80px;
padding-top: 10px;
padding-bottom: 10px;
position: relative;
margin-bottom: 10px;
color: #ffffff;
margin-left: 5%;
width: 70%;
font-family: "PT Serif", serif;
font-size: 14px;
line-height: 140%;
color: #5e5e5e;
}

.tolstoy blockquote p {
font-size: 20px;
font-style: italic;
font-weight: normal;
line-height: 120%;
}

.tolstoy blockquote p.subscribe {
font-size: 12px;
font-style: normal;
font-weight: normal;
line-height: 150%;
text-align: left;
}

.tolstoy blockquote p {
margin: 3px 0 10px;
}
.index-block p {
    margin-left: 0px;
}
.right-news-list-text {
    text-decoration: none;
}

</style>
<script type="text/javascript">
    
</script>
{% endblock %}

{% block title %}{{ parent() }} — {{ 'menu.tolstoy'|trans }}{% endblock %}

{% block page_header_title %}{{ 'menu.tolstoy'|trans }}{% endblock %}

{% block left_column %}
<ul class="breadcrumbs" style="margin-bottom:20px;">
    <li><a href="/">Главная</a></li>
    <li><span>{{ 'menu.tolstoy'|trans }}</span></li>
</ul>

<div class="tolstoy">
    <h1 class="obraz-header" style="margin-bottom:20px;"><span>Романовы. Портерт династии</span></h1>
    <div class="block">
        <div class="content">

            
    <div class="event-one_anons">
        <a href="http://readingtolstoy.ru" target=_blank>
            <img width="auto" height="auto" src="" alt="" style="left: 10.5px;float: left;margin-right: 30px;margin-bottom: 30px;">
        </a>
        <p>
            Портрет царствующего императора всегда стоял в ряду таких важнейших для сознания подданных государственных символов и знаков, как герб, флаг, царские регалии, но в отличие от них образ императора был принадлежностью присутственных мест, где ему придавалось значение не столько «государева ока», сколько вдохновляющего идеала служения Отечеству. Портреты царя украшали также дома людей разных сословий и состояний — от аристократии до крестьянства — как знак пекущейся о благе подданных и защищающей силы, как знак реально существующей с ней связи и как домашняя реликвия.
        </p>
    </div>

    <p>Портрет государя — это в определенном смысле и портрет эпохи его правления. В портретах царя, при всех изменениях в течение одного царствования, почти всегда улавливается некая главенствующая черта, глубоко связанная с его личностью. В портретах Петра I это — деятельная сила; в портретах Екатерины II ясно ощущается милостивое отношение, взирание на подданных с особым оттенком царственной приветливости и приязни; в портретах Николая I — твердость и сила вождя-воина…</p>
   

<figure class="event-one_image image-left">
	            <div >
	                <img width="500px" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/27/5158893ec66acff5418b1214fca433cb2f1a6887.jpeg" alt="Романовы. Портерт династии" style="left: 10.5px;"><br>
                    Портрет императора Александра II с семьей и приближеннми.<br>Н.Е Сверчков. 1856 г.
	            </div>
            </figure>
<p>Идея собирательства, заложенная отцами-основателями Российского исторического музея, — отражение в материальной культуре быта всех сословий России — позволила за много десятилетий сформировать собрание царского портрета, не имеющее себе равных по полноте отражения в разных видах искусства, широте иконографии и разнообразию техник исполнения.</p>

<p>Экспозиция «Романовы. Портрет династии» пройдет в Государственном историческом музее с 4 сентября 2013 года по 30 января 2014 года.</p>

<p>На выставке будут представлены и получившие широкое распространение иконографические типы, по которым подданные узнавали облик своего государя, и редкие, уникальные работы, всегда привлекающие внимание специалистов, знатоков и любителей.</p>
<p>Для публикации виртуальной экспозиции выставки «Романовы. Портрет династии» были отобраны портреты последней трети XVII — начала XX века из коллекций Исторического музея, представляющие разные виды изобразительного искусства: живопись, миниатюру, авторскую (рисунок, акварель) и тиражную (гравюра, литография) графику и фотографию. Это произведения лучшего художественного качества, исполненные в различных техниках. Среди авторов — выдающиеся отечественные мастера: живописцы Федор Рокотов, Илья Репин, граверы Алексей Зубов, Евграф Чемесов, Игнатий Клаубер, акварелисты Петр Соколов, Александр Брюллов, миниатюристы Григорий Мусикийский, фотографы Карл Бергамаско, Сергей Левицкий; придворные или работавшие по заказам двора европейские мастера: живописцы Пьетро Антонио Ротари, Джордж Доу, Франц Крюгер, скульптор Мари-Анна Колло, миниатюрист Жан Анри Беннер и другие, в том числе анонимные портретисты.</p>
<figure class="event-one_image image-right">
                <div >
                    <img width="400" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/27/2f5d4faf749cc93d064c9bc1c68b8831dde1b41b.jpeg" alt="Романовы. Портерт династии" style="margin-top: 0px"><br>
                    Портрет Великой княжны Александры Николаевны.<br>Начало 1840-хх гг.
                </div>
</figure>





<p>Определяющее значение для феномена царского портрета на протяжении всего его существования имел живописный портрет: оригинал исполнялся с натуры, и в случае, если он нравился царственной модели (в XVIII веке такой портрет называли «высочайше апробованным»), то считался одобренным для широкого распространения. И затем, как круги по воде, от него расходились воспроизведения: авторские повторения самого мастера, работы мастерской с его участием и без, копии других художников, копии с копий, воспроизведения в гравюре, миниатюре, пастели. Помимо живописных эталонов, самостоятельные образцы царского портрета создавались и в других видах искусства, в частности в скульптуре, некоторые из них также воспроизводились в гравюре. Именно гравюре, благодаря возможности тиражирования, долгое время принадлежала ведущая роль в распространении образа государя среди его подданных. С гравюр лучших мастеров, как правило, делался ряд гравированных повторений — авторских и безымянных. И чаще всего именно гравюры служили образцами для портретов членов царской фамилии, воспроизводившихся в предметах декоративно-прикладного искусства: в резной кости, в росписи по фарфору, стеклу, на лаковых табакерках, в чернении по серебру, печати на ткани и других.</p>

<p>Искусство царского портрета существовало по собственным законам и правилам, в которых копийность, повторы и заимствования являлись и способом «умножения прекрасного», и неким знаком принадлежности к высокой традиции. От исполнения царских портретов по чужим оригиналам не уклонялись даже лучшие мастера своего времени. И нередко по уровню художественного качества живописная копия или тиражное воспроизведение не уступали оригиналу, но обретали новые образные черты и нюансы, внесенные талантливым «соавтором».</p>
<p>Целые галереи царских портретов, существовавшие в крупных усадьбах, а также имевшие широкое распространение гравированные листы «родословий» российских правителей, серии портретов великих князей и царей давали гражданам империи ощущение исторической перспективы, «преподавали» историю Отечества в лицах, осуществляли «связь времен». Таковы созданные в XVIII веке группы листов Христиана Альберта Вортмана и серия портретов, гравированная Иоганном Штенглиным, серия гравюр по рисункам Жана Анри Беннера, выпущенная в 1817 году.</p>
<p>Уровень художественного исполнения портретов был самым разным — от удовлетворявшего взыскательным вкусам царского двора и аристократии до примитива, отвечавшего непритязательным вкусам «старосветских помещиков» и купцов, — в таких портретах далекий оригинал бывал едва узнаваем. Особую область в царской иконографии составляет получившая самое широкое распространение в массовой печатной графике XVIII — начала XX века «народная картинка» с изображением царей и сцен с их участием, ориентированная на высокие образцы, но претворенная средствами искусства примитива.</p>



<figure class="event-one_image image-left">
                <div >
                    <img width="400" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/27/f3f980c04d750bd24105eefd969d9eca8ce0a7e2.jpeg" alt="Романовы. Портерт династии" style="margin-top: 0px;"><br>
                    Император Николай II и императрица Александра Федоровна.<br>1903 г.
                </div>
            </figure>

<p>Новый импульс к широкому распространению царского портрета в начале XIX века дало появление новой техники — литографии, более легкой и дешевой в производстве и дававшей большее количество отпечатков, а позднее — использование потеснивших ее новых тиражных фотомеханических техник. Появление литографии по времени совпадает с ростом популярности рисованного портрета как самостоятельного произведения искусства. Литографы воспроизводили как собственные оригиналы, так и рисунки других мастеров, а с 1820-х годов — и вошедшие в моду акварельные портреты. Рисунок, акварель, литография внесли в царский портрет новую эстетику и новую образность. Помимо традиционных парадных портретов, в литографии создавались эстампы — камерные по своему духу, окрашенные нотами интимности, несущие черты живого беглого карандашного наброска, легкости и воздушности, присущих акварели. Удачные литографии, как и гравюры, «размножались» — неоднократно повторялись другими литографами.</p>
<p>Во второй половине XIX века в разных видах искусства все чаще создаются семейные царские портреты, изображения сцен из жизни венценосного семейства, портреты царских и великокняжеских детей. В середине — второй половине XIX века распространение получает своеобразная разновидность жанра — портрет-событие, запечатлевавшее царственных особ во время коронаций, парадов, смотров войск, приемов и проч. В этой области ведущая роль почти полстолетия принадлежала придворным художникам — Адольфу Иосифовичу Шарлеманю и Михаилу Александровичу Зичи. Находясь постоянно при царской семье, они создавали своеобразную графическую летопись, делая массу натурных зарисовок. На их основе по горячим следам исполнялись законченные графические композиции, нередко становившиеся оригиналами для печатной графики, в том числе журнальной.</p>
<p>Члены императорской фамилии были среди первых моделей дагеротипии в России, они всячески покровительствовали и возникшему вслед за ней искусству фотографии. И если в XVIII веке наиболее почетным считалось звание придворного художника-портретиста, то со второй половины XIX века мастера светописи претендуют на звание «фотографа Его Императорского Величества» или кого-либо из императорских высочеств. Получить его можно было, подав прошение министру императорского двора, с личного согласия высокой персоны и с разрешения императора. </p>
<p>С самого появления фотографии в России к ней относились как к искусству. Первыми фотографами, получившими это звание в России, были выпускники Академии художеств Иван Федорович Александровский (в 1859 году) и Генрих Иванович Деньер (в 1860 году). Чуть позже наиболее востребованным царским двором фотохудожником становится Сергей Львович Левицкий, успевший до этого поработать в Париже и получить звание фотографа французского императорского двора.</p>
<p>Фотопортреты членов царской семьи изготавливались в больших количествах как по заказу двора — для подарков, так и для широкой продажи. Они все чаще становятся образцами для воспроизведения в графике, живописи, миниатюре. А образность фотопортретов с присущей им четкостью и ясностью оказывает влияние на искусство портрета в целом.</p>
<p>Благодаря совершенствованию фототехники мастера светописи довольно быстро перешли от статических изображений к документальным репортажным фотосъемкам, позволявшим живо передавать официальную и домашнюю жизнь двора. В 1900 году Александр Ягельский, предприняв первую киносъемку в Царском Селе, положил начало кинолетописи царской семьи, жанру кинорепортажа.</p>
<p>Новые исторические обстоятельства, диктующие иной ритм жизни, и распространение новых техник, казалось бы, должны были окончательно вытеснить определенные формы придворного искусства, прежде всего живописный и графический портрет-событие и почти исчезнувшую вне придворного обихода к концу XIX века портретную миниатюру. Но они продолжали сохраняться — по-видимому, как дань традиции придворного стиля жизни, дань уважения к рукотворному искусству.</p>

    

{% endblock %}
{% block right_column %}
<div style="height:60px;"></div>




<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Свердловский областной краеведческий музей (Зал памяти династии Романовых)</h2>
            <a class="block-image" href="http://culture.ru/atlas/object/1602" class="borodino-panorama-image vob">
				<img  style="max-width: 100%;"  src="http://culture.ru/ru/uploads/media/atlas/0001/10/thumb_9688_atlas_atlasW613H408.jpeg" alt="" />
			</a>
        </article>
    </div>
</div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Свято-Троицкий мужской Ипатьевский монастырь. Колыбель династии Романовых</h2>
            <a class="block-image" href="http://culture.ru/atlas/object/1632" class="borodino-panorama-image vob">
				<img  style="max-width: 100%;"  src="http://culture.ru/ru/uploads/media/atlas/0001/11/thumb_10341_atlas_atlasW613H408.jpeg" alt="" />
			</a>
        </article>
    </div>
</div>

<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Ольга Куликовская-Романова: «Важно, чтобы династия вернула себе доброе имя»</h2>
            <a href="http://culture.ru/press-centre/news/8361/" class="borodino-panorama-image vob"><img  style="max-width: 100%;"  src="http://culture.ru/ru/uploads/media/news/0001/24/thumb_23236_news_eventsBillboard.jpeg" alt="" />
            </a>
        </article>
    </div>
</div>


<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>«От Алексея и Марии осталось<br>60 граммов на двоих»</h2>
            <a class="block-image" href="http://culture.ru/press-centre/interviews/8363/"><img style="max-width: 100%;" 
            src="http://culture.ru/ru/uploads/media/news/0001/24/thumb_23411_news_eventsBillboard.jpeg" alt=""></a>
        </article>
    </div>
</div>
<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Фильм «300-летие Царствующего Дома Романовых», 1913 год</h2>
            <a class="block-image" href=""><img style="max-width: 100%;" src="" alt=""></a>
        </article>
    </div>
</div>

{% endblock %}
