<div class="pagination-wrapper">
    <ol class="pagination">
    {% for entity in entities %}
        {% if loop.index0%3==0 %}
        
        <li class={% if loop.first %}"current"{% endif %} title="">
            <span></span>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
</div>
<div class="tab-wrapper">
    {% set variable = 0 %}
    <div class="wrapper">
    {% for entity in entities %}
    {% set variable = variable+1 %}
    {% if loop.index0%3 == 0 and loop.index0 != 0 %}
    </div>
    <div class="wrapper">
    {% set variable=1 %}
    {% endif %}
        <div class="content-{{ variable }}">
            <div class="content-item-img">
                {% thumbnail entity.image, 'main' %}
            </div>
            <div class="content-item-info">
                <div class="content-item-info-header">
                    <a href="{{ cmsPath('armd_news', 'listitem', {'id' : entity.id}) }}" class="content-item-info-header-a">
                    <span class="content-item-info-header-arrow_left"><img src="{{ asset('bundles/armdmkresources/module/ArmdNewsBundle/img/arrow-left.png') }}" /></span>
                    <span class="content-item-info-header-a-name">{{ entity.title|raw}}</span>
                    <!--<span class="content-item-info-header-period">Настоящее</span>-->
                    </a>					
                </div>
                <div class="content-item-info-text">
                    <p class="content-item-info-text-title">
                        {{ entity.announce|raw }}
                        <a href="{{ cmsPath('armd_news', 'listitem', {'id' : entity.id}) }}" class="content-item-info-text-title-narrow"></a>
                    </p>
                    <!--<p class="contnet-item-info-text-anons">
                       {#{{ entity.body|raw }}#}
                    </p>-->
                </div>
            </div>
            
            <p>{# {{ entity.author|raw }} #} </p> 
                  <!--<p><a class="btn" href="{{ cmsPath('armd_news', 'listitem', {'id' : entity.id}) }}">Подробнее &raquo;</a></p>-->
        </div>
    <!--/row-->
    {% endfor %}
    </div>
</div>
