{% block armd_art_object_categories_widget %}
{% spaceless %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value }}</option>
        {% endif %}
        {% set options = root_element.children %}
        {{ block('armd_art_object_categories_widget_options') }}
    </select>
{% endspaceless %}
{% endblock %}

{% block armd_art_object_categories_widget_options %}
{% spaceless %}
{% for choice in options %}
    {% if choice.lvl == 1 %}
        <optgroup label="{{ choice.title }}">
            {% set options = choice.children %}
            {{ block('armd_art_object_categories_widget_options') }}
        </optgroup>
    {% elseif choice.lvl == 2 %}
        <option value="{{ choice.id }}"{% if choice.id in value %} selected="selected"{% endif %}>{{ choice.title|trans({}, translation_domain) }}</option>
    {% endif %}
{% endfor %}

{% endspaceless %}
{% endblock %}
