{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('js/libs/select2/select2.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/css/chosen.css') }}" type="text/css" media="all" />
{% endblock%}

{% block sonata_top_bar_nav %}
    {{ parent() }}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Статистика<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('armd_news_admin_statistics') }}">Статистика по новостям</a></li>
        </ul>
    </li>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ tinymce_init() }}

    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/libs/select2/select2.js') }}"></script>

    <script type="text/javascript">
        $(function(){
            $('.chzn-select').chosen();

            // Init tags.
            // This is quick and dirty solution to extract available tags
            var tags = $('.select2-tags').data('tags');
            $('.select2-tags').select2({
                tags: tags,
                tokenSeparators: [','],
                width: '450px'
            });
        });
    </script>

{% endblock %}
