{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('vendor/select2/select2.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('vendor/chosen/chosen.css') }}" type="text/css" media="all" />

    {% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
{% endblock%}

{% block sonata_top_bar_nav %}
    {{ parent() }}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Статистика<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('armd_news_admin_statistics') }}">Статистика по новостям</a></li>
        </ul>
    </li>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
	<!-- for tiny4 only 
	script type="text/javascript" src="{{ asset('bundles/armdmediahelper/js/tinymce/plugins/sonatamedia/editor_plugin.js') }}"></script -->
	
    
    
    
    <script type="text/javascript" src="{{ asset('vendor/chosen/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/select2/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/select2/select2_locale_' ~ app.request.locale ~ '.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdtag/js/armd_tag.js') }}"></script>

    
    
    
    <script type="text/javascript">
        $(function(){
            $('.chzn-select').chosen();

            $('.select2').select2();
        });
    </script>

    {% if form is defined %}{{ form_javascript(form) }}{% endif %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    {% include ':Frontend:counters_top.html.twig' %}
    {% include ':Frontend:counters_bottom.html.twig' %}
{% endblock %}