{% extends ':Frontend:base.html.twig' %}
{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_date %}

{% block page_header_title %}
    <h1>{{ 'Search results'|trans }}</h1>
{% endblock %}

{% block page_header_search %}
    <div class="search-dates"></div>
{% endblock %}

{% block body %}
<p class="search-query"><span>{{ 'Query'|trans }}:</span> {{ searchQuery }}</p>

{% if searchResults|length > 0 %}
    <ul class="search-result">
    {% for searchResult in searchResults %}
        {% spaceless %}
            <li>
                <span class="search-result-type">{{ searchResult.section.name }}</span>
                {% if searchResult.object.date is not empty %}
                    <span class="search-result-date">,{{ armd_date.news_date(searchResult.object.date) }} </span>
                {% endif %}
                <a class="search-result-title" href="{{ searchResult.object.url }}"
                        {% if searchResult.object.target_blank|default(false) %}target="_blank"{% endif %}
                        >
                    {{ searchResult.object.title|raw }}
                </a>

                <a class="search-result-image" href="{{ searchResult.object.url }}"
                        {% if searchResult.object.target_blank|default(false) %}target="_blank"{% endif %}
                        >
                    {% if searchResult.object.imageUrl is defined %}
                        <img src="{{ searchResult.object.imageUrl }}" />
                    {% endif %}
                </a>

                <div class="search-result-text">
                    <p>{{ searchResult.object.announce|raw }}</p>
                </div>

            </li>
        {% endspaceless %}
    {% endfor %}
    </ul>

{#<div class="navigation">#}
    {#{{ pagination.render()|raw }}#}
{#</div>#}
{% else %}
    {{ 'Not found'|trans }}
{% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/armdsearch/css/search.css') }}">
{% endblock %}