{% extends ':Frontend:new_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/armdsearch/css/search.css') }}" />
{% endblock %}

{% block title %}{{ 'Search results'|trans }}{% endblock %}

{% block body %}
    <div class="b-post fullWidth overflowVisible positionRelative">
        <h1 class="hub-header-title">
            {{ 'Search results'|trans }}
        </h1>

        <div class="searchResults-query">
            <span>{{ 'Query'|trans }}:</span> {{ searchQuery }}
        </div>

        <div class="searchResults-wrapper">
            {% if searchResults|length > 0 %}
                <ul class="searchResults-list">
                    {% for searchResult in searchResults %}
                        {% spaceless %}
                            <li>
                                <span class="searchResults-list-type">
                                    {{ searchResult.section.name }}
                                </span>

                                {% if searchResult.object.date is not empty %}
                                    <span class="searchResults-list-date">,{{ armd_date.news_date(searchResult.object.date) }}</span>
                                {% endif %}

                                <a class="searchResults-list-title" href="{{ searchResult.object.url }}"{% if searchResult.object.target_blank|default(false) %} target="_blank"{% endif %}>
                                    {{ searchResult.object.title|raw }}
                                </a>

                                <a class="searchResults-list-image" href="{{ searchResult.object.url }}"{% if searchResult.object.target_blank|default(false) %} target="_blank"{% endif %}>
                                    {% if searchResult.object.imageUrl is defined %}
                                        <img src="{{ searchResult.object.imageUrl }}" />
                                    {% endif %}
                                </a>

                                <div class="searchResults-list-text">
                                    <p>{{ searchResult.object.announce|raw }}</p>
                                </div>
                            </li>
                        {% endspaceless %}
                    {% endfor %}
                </ul>
            {% else %}
                {{ 'Not found'|trans }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            //
        });
    </script>
{% endblock %}