{% extends 'ArmdMkResourcesBundle::layout.mk.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/default.css') }}" media="all">
	<!--[if IE]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/ie.css') }}" media="all"><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/ie7.css') }}" media="all"><![endif]-->
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdmkresources/css_index/ie6.css') }}" media="all"><![endif]-->
    <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/armdmkresources/js_index/jquery.js') }}"></script>
	<script src="{{ asset('bundles/armdmkresources/js_index/common.js') }}"></script>
{% endblock %}

{% block layout_content %}
   <div class="gadget">
        <div>Портал работает в тестовом режиме и не поддерживает работу с планшетными устройствами . В случае обнаружения технических проблем или некорректных данных – сообщите нам.</div>
        <div class="gadget-clouse"></div>
    </div>
    <div class="main-wrapper">
       {{ getContainerContent('index_online')|raw }}
		<div class="main-header">
			<div class="header-top">
                {{ getContainerContent('index_logo')|raw }}
				{{ getContainerContent('index_language_switcher')|raw }}
			</div>
			<div class="header-menu">
				{{ getContainerContent('index_menu')|raw }}
				{{ getContainerContent('index_search')|raw }}
			</div>
		</div>
		
		{{ getContainerContent('index_content_top')|raw }}
        
        <div class="main-conteiner group">
            <div class="main-conteiner-left">
                <h1 class="main-video-title">Видео</h1>
                <div class="main-video-wrapper">
                    <div class="main-video-item">
                   <object id="v1753183_1" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="450" height="253" >
                        <param name="FlashVars" value="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=1753183&w=720&h=405&type=&dopparam=&modes=1&nl=1" />
                        <param name="allowFullScreen" value="true" />
                        <param name="movie" value="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" />
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#000000" />
                        <param name="allowscriptaccess" value="always" />
                        <embed src="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" allowscriptaccess="always"
                        quality="high" width="450" height="253" bgcolor="#000000"  
                        allowfullscreen="true" flashvars="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=1753183&w=720&h=405&type=&dopparam=&modes=1&nl=1"
                        type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                    </object>
                    </div>
                    <div class="main-video-spisok group">
                        <div class="main-video-spisok-border">
                            <ul class="video-spisok-wrapper group">
                                <li class="video-spisok-item video-spisok-item-border">
                                    <div class="video-spisok-item-pleer">
                                       <object id="v1724066_1" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="215" height="137" >

                                            <param name="FlashVars" value="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=1724066&w=720&h=540&type=&dopparam=&modes=1&nl=1" />

                                            <param name="allowFullScreen" value="true" />

                                            <param name="movie" value="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" />

                                            <param name="quality" value="high" />

                                            <param name="bgcolor" value="#000000" />

                                            <param name="allowscriptaccess" value="always" />

                                            <embed src="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" allowscriptaccess="always"

                                            quality="high" width="215" height="137" bgcolor="#000000" 

                                            allowfullscreen="true" flashvars="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=1724066&w=720&h=540&type=&dopparam=&modes=1&nl=1"

                                            type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />

                                        </object>
                                    </div>
                                    <!--<div class="video-spisok-item-info">
                                        <h2>Прости душа</h2>
                                        <p>Прости, душа... " Представление в 2-х частях по "Истории Пугачева" и "Капитанской дочке" А.С. Пушкина и старинным казачьим песням.</p>
                                    </div>-->
                                </li>
                                <li class="video-spisok-item video-spisok-item-border group">
                                    <div class="video-spisok-item-pleer">
                                        <object id="v1744166_1" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="215" height="137" >

                                                <param name="FlashVars" value="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=1744166&w=720&h=405&type=&dopparam=&modes=1&nl=1" />

                                                <param name="allowFullScreen" value="true" />

                                                <param name="movie" value="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" />

                                                <param name="quality" value="high" />

                                                <param name="bgcolor" value="#000000" />

                                                <param name="allowscriptaccess" value="always" />

                                                <embed src="http://pub.tvigle.ru/swf/tvigle_single_v2.swf" allowscriptaccess="always"

                                                quality="high" width="215" height="137" bgcolor="#000000" 

                                                allowfullscreen="true" flashvars="vote=0&srv=pub.tvigle.ru&prt=85deec0537d438363b1c3b54dbe222e8&id=1744166&w=720&h=405&type=&dopparam=&modes=1&nl=1"

                                                type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />

                                        </object>
                                    </div>
                                    <!--<div class="video-spisok-item-info">
                                        <h2>Прости душа</h2>
                                        <p>Прости, душа... " Представление в 2-х частях по "Истории Пугачева" и "Капитанской дочке" А.С. Пушкина и старинным казачьим песням.</p>
                                    </div>-->
                                
                                </li>
                               <!-- <li class="video-spisok-item video-spisok-item-last">
                                    <div class="video-spisok-item-pleer">
                                        
                                    </div>
                                    <!--<div class="video-spisok-item-info">
                                        <h2>Прости душа</h2>
                                        <p>Прости, душа... " Представление в 2-х частях по "Истории Пугачева" и "Капитанской дочке" А.С. Пушкина и старинным казачьим песням.</p>
                                    </div>-->
                               <!-- </li>-->
                            </ul>
                        </div>
                    </div>  
                </div>   
                <div class="main-bottom-links main-bottom-links-left">
                    <a class="main-bottom-links-a" href="/ru/press/video"><span class="main-news-lnk-more"></span><span class="main-bottom-links-a-span">Видеоархив</span></a>
                </div> 
            </div>

            <div class="main-conteiner-right">
                {{ getContainerContent('index_content')|raw }}
            </div>    
        </div>
		
		<div class="main-footer">
			<div class="fl">
				{{ getContainerContent('index_footer_left')|raw }}
			</div>
			<div class="fr">
				{{ getContainerContent('index_footer_right')|raw }}
			</div>
		</div>
	</div>

{% endblock %}