{% extends ':Frontend:base.html.twig' %}

{% block title %}
    {{ parent() }} &mdash; {{ 'Art objects'|trans }}
{% endblock %}

{% block page_header_title %}
    {{ 'Art objects'|trans }}
{% endblock %}

{% block body %}
<div class="blocksection w clearfix" id="f-section">    
    <div class="exponats-gallery">
        <form action="" class="obr-form exp-form">
            <div class="obr-text-input">
                <input id="search_text" name="search" type="text" value="Поиск экспоната" />
            </div>
            <input class="obr-submit-input" type="button" value="" />
        </form>
        <div class="exponats-top-line clearfix">
            <p class="exponats-total">8562 экспоната</p>
            <ul class="exponats-tags" id="exponats-tags">
                
            </ul>
        </div>
        <div class="exponats-main">
            <ul class="exponats-categories" id="exp-categories">
                {% for id, f in filters %}
                    <li class="with-filter"><a data-id="fid-{{ id }}" href="#">{{ f.title }}</span></a></li>
                {% endfor %}               
            </ul>   
            <div id="exp-filter-blank" class="exp-filter" style="display: none;">
                <div class="alphabet">
                    <a href="#" class="active">Все</a><a href="#">А</a><a href="#">Б</a><a href="#">В</a><a href="#">Г</a><a href="#">Д</a><a href="#">Е</a><a href="#">Ё</a><a href="#">Ж</a><a href="#">З</a><a href="#">И</a><a href="#">Й</a><a href="#">К</a><a href="#">Л</a><a href="#">М</a><a href="#">Н</a><a href="#">О</a><a href="#">П</a><a href="#">Р</a><a href="#">С</a><a href="#">Т</a><a href="#">У</a><a href="#">Ф</a><a href="#">Х</a><a href="#">Ц</a><a href="#">Ч</a><a href="#">Ш</a><a href="#">Щ</a><a href="#">Э</a><a href="#">Ю</a><a href="#">Я</a>
                </div>
                <div class="fiter-results"></div>
                <span class="filter-handle" id="filter-handle"></span>
            </div>           
            <div class="exponats-content" id="exponats-content">
                <ul class="exponats-types" id="exp-types">
                    <li><a href="#threelines" class="all-rows"></a>
                    </li><li class="active"><a href="#twolines" class="two-rows"></a>
                    </li><li><a href="#oneline" class="one-row"></a></li>
                </ul>
                
                <div id="el-one-blank" class="el-one" style="display: none;">
                    <a href="#"><img src=""></a>
                    <div class="el-one-wrap">
                        <table>
                            <td><a href="#"><img src=""></a></td>
                            <td class="el-one-text">
                                <h4 class="el-one-title">Флора</h4>
                                <i class="el-note el-one-year">1634</i>
                                <div class="el-one-authors"></div>
                                <div><a class="el-one-museum" href=""></a></div>
                            </td>
                        </table>
                    </div>
                </div>    
                    
                <div class="exponats-scroll-pane">
                    <div class="exponats-scroll">

                        <div class="line first-line">
                                                      
                        </div>
                        
                        <div class="line second-line">
                                                      
                        </div>
                        
                        <div class="line third-line">                           

                        </div>
                    </div>
                </div>
                <div class="scroll-left" id="scroll-left" style="display:none;"></div>
                <div class="scroll-right" id="scroll-right"></div>
            </div>	
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/armdexhibit/css/jquery.jscrollpane.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/jquery.jscrollpane.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/jquery.mousewheel.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/mwheelIntent.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/exponats.js') }}"></script>
<script type="text/javascript">
    exhibit.init({{ data|json_encode()|raw }}, {{ filters|json_encode()|raw }});
</script>
{% endblock %}
