{% extends ':Frontend:base.html.twig' %}

{% block title %}
    {{ parent() }} &mdash; {{ 'Art objects'|trans }}
{% endblock %}

{% block page_header_title %}
    {{ 'Art objects'|trans }}
{% endblock %}

{% block body %}
<div class="blocksection w clearfix" id="f-section">    
    <div class="exponats-gallery">       
        <div class="exponats-top-line clearfix">
            <p id="exp-one-category" class="exp-one-category"></p>
            <p class="exp-one-name"><span id="exp-one-name"></span><i id="exp-one-date"></i><b id="exp-one-authors"></b></p>
            <a href="#" id="details-btn" class="exp-one-details-button">Детали</a>
        </div>
        <div class="exponats-main exponats-main-one">
            <div class="exponat-main-container" id="exponat-main-container">
                <div class="main-zoomed-image">
                    <img src="">
                </div>
                <div class="zoom-thumb">
                    <div class="zoom-thumb-image-block">
                        <img src="">
                        <div class="opacity-layers" style="margin:5px 16px; width:128px;">
                            <div style="width:127px; height:10px; position:absolute; top:0; left:0;"></div>
                            <div style="width:20px; height:100px; position:absolute; top:10px; left:0; "></div>
                            <div style="width:127px; height:46px; position:absolute; top:110px; left:0; "></div>
                            <div style="width:50px; height:100px; position:absolute; top:10px; right:0; "></div>
                            <div class="orange-border" style="width:57px; height:100px; top:10px;left:20px;"></div>
                        </div>
                    </div>
                    <div class="zoom-nav">
                        <a href="#" class="zoom-out" id="zoom-out">-</a>
                        <a href="#" class="zoom-in" id="zoom-in">+</a>
                        <div class="zoom-line">
                            <div class="zoom-handle"></div>
                        </div>
                    </div>
                </div>

                <div class="images-carousel">
                    <ul  id="carousel" class="jcarousel">
                        
                    </ul>
                </div>


            </div>
            <div class="exponats-details clearfix" id="exponats-details" style="display:none;">

                <div class="text exponat-one-content ">
                    <div class="exponat-text-wrap">
                        <h1>Флора</h1>
                        <p class="exponat-date">1634</p>
                        <h2>Харменс ван Рейн Рембрандт</h2>
                        <p class="exponat-note">холст, масло</p>
                        <img src="images/exponat-image1.jpg" alt="" class="image-left" />
                        <p>
                            Рембрандт написал его жена Саския ван Uylenburgh как Флора, богиня весны и цветов, трижды: в 1634,1635 и 1641. В этой работе он сочетает в себе элементы пастырских и исторических портретов. Созданный в год их брака, эта картина показывает любовь и восхищение художника нащупала молодая женщина.
                        </p>
                        <p>
                            восхищение художника нащупала молодая женщина.
                            Контраст между неуверенные в себе молодые сиделки позы и пышность ее богато расшитые одежды и аксессуаров придает изображению особую прелесть.Государственный Эрмитаж, Санкт-Петербург. 
                        </p>
                        <p class="gray">
                            Фото Владимира Теребенин.
                        </p>
                        <div class="gray-block">
                            <img src="images/exponat-image2.jpg" alt="" class="image-right" />
                            <h2>Рембрандт Харменс ван Рейн, 1606-1669</h2>
                            <p>голландский живописец, офортист и рисовальщик, величайший художник Голландии. Родился в семье мельника в Лейдене, где работал примерно до 1632 г., после чего переехал в Амстердам. В 1634 г. Рембрандт женился на девушке из состоятельной семьи Саскии ван Эйленбюрх, чей образ был увековечен им на многих портретах с необыкновенной нежностью и любовью.
                            </p><p>
                                С 1640-х гг., в творчестве Рембрандта, особенно в картинах на религиозные темы, значение приобретает светотень, создающая напряжённую эмоциональную атмосферу. 
                                <br />
                                Его последние работы поражают отточенностью мастерства.
                            </p>
                        </div>
                        <p><a href="#">Флора Харменса ван Рейн Рембрандта в Образах России</a></p>
                    </div>
                </div>
                <div class="exponat-one-right">
                    <div class="exp-block exp-videos">
                        <h3>Видео</h3>
                        <div class="exp-video-list-image">
                            <a class="in-fancybox" href="#">
                                <img alt="" src="images/exponat-video.jpg">
                                <span class="blue-play"></span>
                            </a>
                            <div class="title-video">
                                <p>Флора - известная картина Рембрандта</p>
                            </div>
                        </div>
                    </div>

                    <div class="exp-block exp-videos">
                        <h3>Музей</h3>
                        <div class="exp-text-block">
                            <a href="#">
                                <img alt="" src="images/exponat-museum.jpg">
                            </a>
                            <p class="main-title">
                                <a href="#">Государственный Эрмитаж</a>
                            </p>
                            <p>
                                г. Санкт-Петербург<br />
                                Дворцовая набережная, 34<br />
                                Сайт: <a href="http://www.hermitagemuseum.org" target="_blank">http://www.hermitagemuseum.org</a> 	
                            </p>
                            <a href="#" class="orange-btn">Виртуальный тур</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/armdexhibit/css/jquery.jscrollpane.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/jquery.jcarousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/jquery.mousewheel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/mwheelIntent.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdexhibit/js/exhibit_item.js') }}"></script>
    <script type="text/javascript">
        exhibitItem.init({{ data|json_encode()|raw }});
    </script>
{% endblock %}
