<script type="text/javascript" src="//api-maps.yandex.ru/1.1/index.xml?key={{ ymaps_api_keys }}&modules=regions"></script>
<script type="text/javascript" src="{{ asset('bundles/armdculturemap/js/map.yandex.clusterer.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/armdculturemap/js/jquery.scrollTo-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/armdculturemap/js/jquery.easing.1.3.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/armdculturemap/js/atlas.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdculturemap/css/atlas.css') }}"/>

<script type="text/javascript">
    var groupMarkerUrl = "{{ asset('bundles/armdculturemap/images/m1.png') }}"; // url иконки группы маркеров кластера
    var defaultMarkerUrl = "{{ asset('bundles/armdculturemap/images/pin24.png') }}"; // url иконки булавки
    var markersUrl = "{{ asset('bundles/armdculturemap/images/') }}"; // url папки с иконками
    var markersIcons = [
        '111',
        'pin_museum.png',
        'pin_museum.png',
        'pin_theatre.png',
        'pin_theatre.png',
        'pin_other.png',
        'pin_concert.png',
        'pin_concert.png',
        'pin_concert.png',
        'pin_other.png',
        'pin_folk.png',
        'pin_other.png',
        'pin_science.png',
        'pin_science.png',
        'pin_library.png',
        'pin_other.png'
    ];
    /*
    1 pin_museum.png
    2 pin_museum.png
    3 pin_theatre.png
    4 pin_theatre.png
    5 pin_other.png
    6 pin_concert.png
    7 pin_concert.png
    8 pin_concert.png
    9 pin_other.png
    10 pin_folk.png
    11 pin_other.png
    12 pin_science.png
    13 pin_science.png
    14 pin_library.png
    15 pin_other.png
    */
</script>

<div id="YMapsID"></div>
<div id="content-map-fading">
    <div class="legend-map">
        <div class="legend-map-first">
           <span>Легенда</span>
        </div>
        <div class="legend-map-table">
        <table>
            <tbody>
                <tr>
                    <td class="legend-map-img"><img src="/bundles/armdmkresources/img/map/pin_library.png" /></td>
                    <td class="legend-map-text">Библиотеки</td>
                    <td class="legend-map-sep"><img src="/bundles/armdmkresources/img/map/legenda-razdel.png" /></td>
                    <td class="legend-map-img"><img src="/bundles/armdmkresources/img/map/pin_museum.png" /></td>
                    <td class="legend-map-text">Выставочные залы,
                    музеи</td>
                    <td class="legend-map-sep"><img src="/bundles/armdmkresources/img/map/legenda-razdel.png" /></td>
                    <td class="legend-map-img"><img src="/bundles/armdmkresources/img/map/pin_concert.png" /></td>
                    <td class="legend-map-text">Концертные организации,
                    коллективы</td>
                    <td class="legend-map-sep"><img src="/bundles/armdmkresources/img/map/legenda-razdel.png" /></td>
                    <td class="legend-map-img"><img src="/bundles/armdmkresources/img/map/pin_science.png" /></td>
                    <td class="legend-map-text">Образовательные
                    учреждения</td>
                    <td class="legend-map-sep"><img src="/bundles/armdmkresources/img/map/legenda-razdel.png" /></td>
                    <td class="legend-map-img"><img src="/bundles/armdmkresources/img/map/pin_folk.png" /></td>
                    <td class="legend-map-text">Дома народного 
                    творчества</td>
                    <td class="legend-map-sep"><img src="/bundles/armdmkresources/img/map/legenda-razdel.png" /></td>
                    <td class="legend-map-img"><img src="/bundles/armdmkresources/img/map/pin_theatre.png" /></td>
                    <td class="legend-map-text">Театрально-зрелищные учреждения</td>
                    <td class="legend-map-sep"><img src="/bundles/armdmkresources/img/map/legenda-razdel.png" /></td>
                    <td class="legend-map-img"><img src="/bundles/armdmkresources/img/map/pin_other.png" /></td>
                    <td class="legend-map-text">Прочие учреждения
                    культуры</td>
                </tr>
            </tbody>
       </table>
      
       </div>
        <div class="legenda-toggle"></div>
    </div>   
</div>    
<a id="anchor-details" name="details"></a>
<div id="subject-details"></div>
