<style>
    .properties{ text-align:left; }
    .properties th{ padding-right:20px; color:#a55; font-weight:normal; }
    #socials-box {
        clear: both;
    }
    
    #info-box-img  {
        padding-bottom: 11px;
    }
    
    .proh-wrap {
        clear: both;
        padding-top: 20px;
    }
    
</style>

<a name="details"></a>
<nav id="nav-sections"><ul>
	<li class="nav-section-0"><a href="#null" title="Показать на Ленте времени">1</a></li>
	<li class="nav-section-2"><a href="#null" title="Показать на карте">3</a></li>
	<li class="nav-section-1"><a href="#null" title="Обсудить">2</a></li>
</ul></nav>
<h1>{{ entity.title }}</h1>
<p class="item-dfn item-dfn-sm"></p>
<aside id="sidebar-i-l">
    <p class="odd-title">Информационная карточка</p>
    <div id="info-box">
        <div id="info-box-img">
            {% thumbnail entity.logo, 'reference' %}
        </div>
        <table class="properties">
        {% if entity.title %}
            <tr>
                <th>Регион</th>
                <td>{{ entity.title }}</td>
            </tr>
        {% endif %}   
        
        {% if entity.square %}    
            <tr>
                <th>Площадь</th>
                <td>{{ entity.square }}</td>
            </tr>
          {% endif %}  
          
          {% if entity.cityCount %}  
            <tr>
                <th>Количество городов</th>
                <td>{{ entity.cityCount }}</td>
            </tr>
          {% endif %}  
          
          {% if entity.villageCount %}    
            <tr>
                <th>Количество других населенных пунктов</th>
                <td>{{ entity.villageCount }}</td>
            </tr>
            {% endif %}  
            
           {% if entity.cityPopulation %}    
            <tr>
                <th>Население (городское)</th>
                <td>{{ entity.cityPopulation }}</td>
            </tr>
            {% endif %}  
            
            {% if entity.villagePopulation %}
            <tr>
                <th>Население (сельское)</th>
                <td>{{ entity.villagePopulation }}</td>
            </tr>
            {% endif %} 
            
            {% if entity.administrativeCenter %}
            <tr>
                <th>Административный центр</th>
                <td>{{ entity.administrativeCenter }}</td>
            </tr>
            {% endif %}
            
            {% if entity.nationality %}
            <tr>
                <th>Народности</th>
                <td>{{ entity.nationality }}</td>
            </tr>
            {% endif %}
            
           {% if entity.language %}
            <tr>
                <th>Языки</th>
                <td>{{ entity.language }}</td>
            </tr>
            {% endif %}
            
           {% if entity.religion %}
            <tr>
                <th>Религии</th>
                <td>{{ entity.religion }}</td>
            </tr>
           {% endif %}
        </table>
    </div>
</aside>
<div>
    {{ entity.text|raw }}
</div>
<nav id="socials-box" class="cb"><ul>
	<li class="social-0"><a href="#null" title="VK">VK</a></li>
	<li class="social-1"><a href="#null" title="FB">FB</a></li>
	<li class="social-2"><a href="#null" title="TW">TW</a></li>
	<li class="social-3"><a href="#null" title="LJ">LJ</a></li>
</ul></nav>

<!--<h2>Карточка региона (визуальное оформление в виде мини-карточки)</h2>-->


<!--<h2>Учреждения культуры:</h2>
<ul>
    <li>Музеи (список)</li>
    <li>Выставочные залы (список)</li>
    <li>Театры (список)</li>
    <li>Цирки (список)</li>
    <li>Кинотеатры (список)</li>
    <li>Концертные организации (список)</li>
    <li>Концертные площадки (список)</li>
    <li>Концертные коллективы (список)</li>
    <li>Творческие союзы (список)</li>
    <li>Дома народного творчества (список)</li>
    <li>Киностудии (список)</li>
    <li>Научно-исследовательские учреждения (список)</li>
    <li>Образовательные учреждения (список)</li>
    <li>Библиотеки (список)</li>
    <li>Другие учреждения культуры (список)</li>
</ul>
-->
{% if entity.gallery %}
<h2>Фотогалерея &laquo;{{ entity.gallery.name }}&raquo;</h2>
<ul class="inline">
    {% for galleryHasMedia in entity.gallery.GalleryHasMedias %}
    <li>
        <a href="{% path galleryHasMedia.media, 'reference' %}">
            {% thumbnail galleryHasMedia.media, entity.gallery.defaultFormat %}
        </a>
    </li>
    {% endfor %}
</ul>
<style type="text/css">
    ul.inline{ background:#eee; margin:0; padding:0; list-style-type:none; }
    ul.inline li{ display:inline-block; }
</style>
{% endif %}
