{% extends ":Frontend:base.html.twig" %}
{% import 'ArmdUserBundle:Profile:profile_menu.html.twig' as profileMenu %}

{% block page_header_title %}{{ 'Account'|trans }}{% endblock %}

{% block body %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('sonata_user_profile_show') }}">{{ 'Account'|trans }}</a></li>
        <li><span>{{ 'Viewed content'|trans }}</span></li>
    </ul>

    <div class="profile-wrap clearfix">
        <div class="profile-left">
        {{ profileMenu.user_profile_menu('viewed-content') }}
        </div>
        <div class="profile-right">
            <div class="profile-right-block clearfix">

            <div class="profile-help">
                <div class="profile-help_icon">
                    <h3>Подсказка</h3>
                    <span></span>
                </div>

                <div class="profile-help_text">
                     В данном разделе хранится история просмотренных Вами страниц портала Культура. рф.
                    <span></span>
                </div>
            </div>

            <dl class="clearfix viewed-content">
            {% if pagination.paginationData.totalCount %}
                {% for item in pagination %}
                <dt>
                        {% if entityClass is not defined or item.entityClass != entityClass %}
                        {% set entityClass = item.entityClass %}
                        <em class="hint">{{ entityClass|trans }}</em>
                        {% endif %}
                </dt>
                <dd>
                    <a href="{{ item.entityUrl }}">{{ item.entityTitle }}</a>
                </dd>
                {% endfor %}
            {% else %}
                <dt></dt>
                <dd  style="padding-top:20px;">
                    <em class="hint">
                        {% if app.user.storeViewedContent %}
                            {{ 'No viewed content'|trans }}
                        {% else %}
                            {{ 'Viewed content storing is off'|trans }}
                        {% endif %}
                    </em>
                </dd>
            {% endif %}
            </dl>

            {{ knp_pagination_render(pagination, 'ArmdUserBundle:ViewedContent:pagination.html.twig') }}

            <div class="form-actions">
                {% if pagination.paginationData.totalCount %}
                <a class="button" href="{{ path('armd_user_viewed_content_clear') }}">{{ 'Clear'|trans }}</a>
                {% endif %}

                <a href="{{ path('armd_user_viewed_content_' ~ (app.user.storeViewedContent ? 'off' : 'on')) }}">
                        {{ (app.user.storeViewedContent ? 'off' : 'on')|capitalize|trans }}
                    </a>
                </label>
            </div>
        </div>    
    </div>
</div>    
{% endblock %}
