<form id="events-filter">
<table class="stripy sortable table">
	<tr>
		<th>
			<div id="regions-selector" class="table-selector">
				<select name="region_id" data-placeholder="{{ 'Projects.Region'|trans }}" class="chzn-select">
					<option value="0"></option>
				{% for id, title in regions %}
					<option value="{{ id }}"{% if id == filter.region_id %} selected="selected"{% endif %}>{{ title }}</option>
				{% endfor %}
				</select>
			</div>
			<div id="ajax-loading" class="ajax-loading"></div>
		</th>
		<th>{{ 'Projects.City'|trans }}</th>
{#
		<th>Учреждение</th>
#}		
		<th>
			<div id="regions-selector" class="table-selector">
				<select name="month" data-placeholder="{{ 'Projects.Date'|trans }}" class="chzn-select">
					<option value="0"></option>
				{% for id, title in months %}
					<option value="{{ id|abs }}"{% if id == filter.month %} selected="selected"{% endif %}>{{ ('calendar.month.'~title)|trans }}</option>
				{% endfor %}					
				</select>
			</div>
		</th>
		<th>{{ 'Projects.Event Title'|trans }}</th>
	</tr>
{% for e in events %}	
	<tr>
		<td>{{ e.region.title }}</td>
		<td>{{ e.city }}</td>
{#
		<td>{{ e.place }}</td>
#}
		<td>
            <span  class="nowrap">{{ e.beginDate|date('d')|abs }} {{ ('calendar.full.'~e.beginDate|date('M'))|trans }} {{ e.beginDate|date('Y') }}</span>
        {% if e.endDate %}
            &mdash; <span  class="nowrap">{{ e.endDate|date('d')|abs }} {{ ('calendar.full.'~e.endDate|date('M'))|trans }} {{ e.endDate|date('Y') }}</span>
        {% endif %}
		</td> 
		<td>{{ e.title }}</td>
	</tr>
{% endfor %}
</table>
</form>

<script type="text/javascript">
$(function(){
    $(".table-selector select").chosen().change(function(){
        $("#events-filter").submit();
    })
	
	$('#events-filter #regions-selector:first .chzn-container').width('auto');
})
</script>
