{% extends ':Frontend:special.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link href="{{ asset('css/blind_tabs.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}
    <h1>{{ 'Mainpage block.New on portal'|trans }}</h1>
    <a href="{{ path('armd_main_special_press') }}" class="index-news-all-link">{{ 'Special.AllNews'|trans }}</a>
	{% include "ArmdMainBundle:Special:news-blind.html.twig" with {"categories": categories, "news": news} %}
    
    <section>
        <h1><a href="{{ path('armd_main_special_russian_images') }}">{{ "Mainpage block.Images of Russia.Title"|trans }}</a></h1>
        <a href="{{ path('armd_main_special_russian_images') }}" class="index-obraz-all-link">{{ 'Special.AllRussiaImages'|trans }}</a>
    {% include 'ArmdMainBundle:Special:new_russia_images.html.twig' with {'objects': newRussiaImages} %}
    </section>    
   
    {% if app.request.locale == 'ru' %}
        <section class="block">
            {% render url("armd_main_latest_topics", {"domain": "people.culture.ru"}) %}
        </section>
    {% endif %}
    
{% endblock %}