
{% if app.request.locale == 'ru' %}
{% if showMenu is not defined or showMenu %}
    <ul class="tabs-labels" id="tabs-selector">
        {#
        {% for c in categories %}
            <li {% if loop.first %}class="active"{% endif %}><a href="#{{ c.slug }}tab" slug="{{ c.slug }}">{{ c.title }}</a></li>
        {% endfor %}
        #}
        <li class="active"><a href="#eventstab">{{ 'menu.events'|trans }}</a></li>
        <li><a href="#interviewstab">{{ 'menu.interview'|trans }}</a></li>
        <li><a href="#reportagestab">{{ 'menu.reportage'|trans }}</a></li>
    </ul>
{% endif %}
{% endif %}

{% for slug, entities in news %}
<div id="{{ slug }}tab" class="tab" {# {% if not loop.first %} style = "display:none;" {% endif %} #}>
	{% for n in entities %}
		{% set f = n.newsDate %}
		{% set t = n.endDate %}
		<article class="event-anons">
			<span class="date" title="{{ 'Special.Date'|trans }}"><i>{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans }}{{ f|date(' Y') }}</i>
			{% if t %} - <i>{{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans }}{{ t|date(' Y') }}</i>{% endif%}
			</span>
			<div class="text-overflow">
				<h1><a href="{{ path('armd_main_special_news_item_by_category', {'id': n.id, 'category': n.category.slug }) }}">{{ n.title|raw }}</a></h1>
				<p>{{ n.announce|raw }}</p>
			</div>
		</article>
{#		
		{% if loop.last %}
			<a href="{{ path('armd_main_special_news_list_index_by_category', {'category': slug}) }}" class="button-link">Все {{ n.category.title}}</a>
		{% endif %}
#}		
	{% endfor %}
		
	{% if show_more is defined and show_more %}
		<div class="more more2">
		    <p>
		        <a href="#" class="show-more">{{ "show_more"|trans }}</a>
		    </p>
		</div>	
	{% endif %}
</div>
{% endfor %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready( function() {
            // set eventstab as default
            $('.tab').hide();
            $('#eventstab').show();
        });
    </script>
{% endblock %}
