

{% if app.request.locale == 'ru' %}
    <ul class="tabs-labels" id="tabs-selector">
        {% for c in categories %}
            <li {% if loop.first %}class="active"{% endif %}><a href="#{{ c.slug }}tab">{{ c.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% for slug, entities in news %}
<div id="{{ slug }}tab" class="tab" {% if not loop.first %}style = "display:none;" {% endif %}>
	{% for n in entities %}
		{% set f = n.date %}
		{% set t = n.endDate %}
		<article class="event-anons">
			<span class="date" title="{{ 'Special.Date'|trans }}">{{ f|date('j ')}}{{ ('calendar.full.'~f|date('M'))|trans }}{{ f|date(' Y') }}
			{% if t %} - {{ t|date('j ')}}{{ ('calendar.full.'~t|date('M'))|trans }}{{ t|date(' Y') }}{% endif%}</span>
			<div class="text-overflow">
				<h1><a href="{{ path('armd_main_special_news_item_by_category', {'id': n.id, 'category': n.category.slug }) }}">{{ n.title|raw }}</a></h1>
				<p>{{ n.announce|raw }}</p>
			</div>
		</article>
{#		
		{% if loop.last %}
			<a href="{{ path('armd_main_special_news_list_index_by_category', {'category': slug}) }}" class="button-link">Все {{ n.category.title}}</a>
		{% endif %}
#}		
	{% endfor %}
		
</div>
{% endfor %}


