{% extends ':Frontend:special.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link href="{{ asset('css/blind_tabs.css') }}" rel="stylesheet" />
{% endblock %}

{% block menu %}
    <ul class="main-navigation clearfix" title="{{ 'Main menu'|trans }}">
        {% if app.request.locale == 'ru' %}
            <li><a href="{{ path('armd_main_special_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
            <li><a href="{{ path('armd_main_special_russian_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
            <li><a href="{{ path('armd_main_special_chronicles') }}">{{ 'Navigation.Timeline'|trans }}</a></li>
            <li class="active"><a href="{{ path('armd_main_special_press') }}">{{ 'menu.news_index'|trans }}</a></li>
            {#<li><a href="{{ path('armd_main_special_services') }}">{{ 'menu.communication'|trans }}</a></li>#}
        {% else %}
            <li><a href="{{ path('armd_main_special_russian_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
            <li class="active"><a href="{{ path('armd_main_special_press') }}">{{ 'Navigation.Events'|trans }}</a></li>
            <li><a href="{{ path('armd_main_special_about') }}">{{ 'Navigation.About'|trans }}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body%}
    <h1>{{ 'menu.news_index'|trans }}</h1>
	{% include "ArmdMainBundle:Special:news-blind.html.twig" with {"categories": categories, "news": news, "showMenu": true} %}
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>Искать в текущем разделе</span></label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/news_special.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            armdMkNews.init();
            {% if searchQuery is not empty %}
                armdMkNews.initMoreButtonToLoadSearch();
            {% endif %}
        });
    </script>
{% endblock %}