{% extends '::special.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link href="{{ asset('/bundles/armdatlas/common/css/sm.css') }}" rel="stylesheet" />
	<link href="{{ asset('js/libs/fancybox/jquery.fancybox.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}
    
	<h1>{{ entity.title }}</h1>
	<div class="text">
			<div class="object-one clearfix">
                <div class="object-one-col12">
					<div class="object-one-text content">
						
					<div class="content-anons">{{ entity.russiaImageAnnounce|raw }}</div>
					
					<div class="content-text" id="full-text">
						{{ entity.content|raw }}
					</div>	
						
				   
				   {% if entity.content|length > 0 %}
					   <div class="btn-more">
							<a href="#" rel="full-text" title="{{ 'Special.Images of Russia.More'|trans }}" class=""><span class="more">{{ 'Special.Images of Russia.More'|trans }}...</span><span class="less">{{ 'Special.Images of Russia.Close'|trans }}</span></a>
					   </div>
                   {% endif %}
                   
                  </div><!--// content-->
				   
				   {#<div class='afisha-list-more' id="more-show">{{ 'Special.Images of Russia.Comments'|trans }}</div>#}
				   {#<div class="more-comments-show" style="display:none;">  #}
						{#<div class="comments comments-gray clearfix">#}
							{#<form action="" class="comments-form">#}
								{#<textarea name="" id="" cols="30" rows="10" placeholder="{{ 'Special.Images of Russia.Comment'|trans }}"></textarea>#}
								{#<input type="submit" value="{{ 'Submit'|trans }}" class="button" />#}
							{#</form>#}
						{#</div>#}
				    {#</div>#}
                    {#{% if not is_granted('ROLE_USER') %}#}
                        {#<div>#}
                            {#{{ 'Special.Images of Russia.Not auth comment'|trans({'%link%': path('fos_user_security_login')})|raw }}#}
                        {#</div>#}
                    {#{% endif %}#}
                </div>

                <div class="object-one-col3">
                    {% if entity.virtualTour is not empty %}
                    <div class="block virtual-anons-block virtual-anons">
						<span class="virtual-anons-header">{{ 'Special.Images of Russia.Virtual tour'|trans }}</span>
						 <a href="{{ entity.virtualTour }}" data-fancybox-type="iframe" class="vob iframe">
							<img alt="" src="{% path entity.virtualTourImage, 'reference' %}">
						</a>
					</div>
                    {% endif %}

					{% if entity.image3d %}
							<div class="block object-infograph">
                            <P class="obj-o-infograph-header">{{ 'Special.Images of Russia.Infographics'|trans }}</P>
								{#<a href="{% path entity.image3d, 'reference' %}" class="open-big-orange" target="_blank" title="Открыть в новом окне"></a>#}
								<a href="{% path entity.image3d, 'reference' %}" class="zoom-fancybox" ><img src="{% path entity.image3d, 'image3d' %}" alt="" width="300"/></a>
							</div>
					{% endif %}

					{% if entity.videos is empty %}
						{% else %}
						<div class="block object-videos">
                            {% if entity.videos|length > 0 %}
                            <p class="link_header"><a {#href="#"#} style="border:none;">{{ 'Special.Images of Russia.Video'|trans }}</a><!--<sup>207</sup></p>-->
                            <ul class="object-video-list">
                                {% for video in entity.videos %}
                                <li class="object-video-list-one">
                                    <div class="object-video-list-image">
                                    <a class="in-fancybox" href="#data-{{ loop.index }}">
                                    <img src="{{ video.image  }}" alt="" />
                                    <div class="title-video">{{ video.title }}</div>
                                    </a>
                                    <div style="display:none;">
                                    <div id="data-{{ loop.index }}">
                                    <div class="fancybox-video-wrapper" style="width:640px; height:360px;">
                                    {{ armd_tvigle_video_player(video, 640, 360)|raw }}
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if entity.archiveImages|length > 0 %}
                            <div class="block object-archives">
                                <p class="link_header"><a {#href="#"#} style="border-bottom:none;">{{ 'Special.Images of Russia.Archives'|trans }}</a><!--<sup>207</sup>--></p>
                                <ul class="object-archive-list">
                                {% for h in entity.archiveImages %}
                                    <li>
                                    <a href="{% path h, 'reference' %}" class="in-fancybox">
                                        <span class="preview" style="background: url({% path h, 'thumbnail' %}) no-repeat center center">
                                            <img src="{% path h, 'thumbnail' %}" alt="">
                                        </span>
                                        {{ h.title|default('Special.Images of Russia.Archive document')|trans }}
                                    </a>
                                        <span>
                                            {{ h.description }}
                                        </span>
                                    </li>
                                    {% endfor%}
                                </ul>
                            </div>
                        {% endif %}                        

                    <div class="block obj-o-contacts">
                        <div class="obj-o-contacts-text" style="margin-top:0">
                            <p class="obj-o-contacts-header">
                                {{ 'Special.Images of Russia.Contacts.Title'|trans }}
                            </p>
                            <div class="obj-o-contacts-main">
                                {% if entity.address %}<p>{{ entity.address }}</p>{% endif %}
                                {% if entity.siteUrl or entity.email or entity.phone  %}<p>{% endif %}
                                
                                {% if entity.siteUrl %}{{ 'Special.Images of Russia.Contacts.Site'|trans }}: <a target="_blank" href="{{ entity.siteUrl }}">{{ entity.siteUrl }}</a><br />{% endif %}
                                {% if entity.email %}{{ 'Special.Images of Russia.Contacts.Email'|trans }}: {{ entity.email }}<br />{% endif %}
                                {% if entity.phone %}{{ 'Special.Images of Russia.Contacts.Phone'|trans }}: {{ entity.phone }}<br />{% endif %}
                                {% if entity.siteUrl or entity.email or entity.phone  %}</p>{% endif %}
                                <p>
                                {% if entity.workTime is not empty %}
                                    {{ 'Special.Images of Russia.Contacts.Open'|trans }}:
                                    {{ entity.workTime }}
                                {% endif %}

                                {% if entity.weekends|length > 0 %}
                                    <br />{{ 'Special.Images of Russia.Contacts.Closed'|trans }}:
                                    {% for day in entity.weekends %}
                                    {{ day.name }}{% if not loop.last %}, {%endif%}
                                    {% endfor %}
                                {% else %}
                                    {{ 'Special.Images of Russia.Contacts.Seven days'|trans }}
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>

                        {% if entity.objectHints|length > 0 %}
                            {% for objectHint in entity.objectHints %}
                            <div class="block rules">
                            <h4>{{ objectHint.title|raw }} <span class="bullet">v</span></h4>
                            <div class="sliderkit">
                            <div class="">
                            <div class="rules-content sliderkit-panels">
                            
                            {% for hintPage in objectHint.pagedHintText %}
                                    <div class="sliderkit-panel">
                                    {{ hintPage|raw }}
                                </div>
                            {% endfor%}
                            </div> <!--rules-content -->

                            <div class="rules-nav">
                                <div class="rules-nav-wrapper sliderkit-count sliderkit-count-items">
                                <a href="#" class="prev sliderkit-btn sliderkit-go-btn sliderkit-go-prev"><</a>
                                <span class="active sliderkit-count-current">1</span>/<span class="total sliderkit-count-total">5</span>
                                <a href="#" class="next sliderkit-go-btn sliderkit-go-next">></a>
                                </div><!-- /rules-nav-wrapper -->
                            </div>  <!-- /rules-nav -->
                            </div>  <!-- /sliderkit-panels -->
                            </div>  <!-- /sliderkit -->
                            </div> <!-- /rules -->
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}


   


	<script type="text/javascript" src="{{ asset('bundles/armdatlas/common/js/jquery.jqzoom-core-pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/libs/fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
	<script src="/swf/swfobject/swfkrpano.js"></script>

    <script type="text/javascript">
        $(function(){

			$('.zoom-fancybox').fancybox({
										autoResize:true,
										afterShow: function() {
												var innerWidth = $('.fancybox-inner').width();
												var innerHeight = $('.fancybox-inner').height();
												
												var newContent = $('<a id="zoom" href="{% path entity.image3d, 'reference' %}"><img class="zoom-img" src="{% path entity.image3d, 'reference' %}" height="'+innerHeight+'"></img></a><div class="info-line"><a href="{% path entity.image3d, 'reference' %}" target="_blank">Скачать</a><a href="{% path entity.image3d, 'reference' %}" id="fancy_print">Распечатать</a></div>');
												$('.fancybox-inner').html(newContent);
												$('#zoom').jqzoom({
													zoomType: 'innerzoom',
													lens:false,
													title:false,
													preloadImages: false,
													alwaysOn:false
												})
												
												$('#fancy_print').bind("click", function(){
												  var win=null;
												  var content = $('#zoom');
												  win = window.open("width=200,height=200");
												  self.focus();
												  win.document.open();
												  win.document.write('<'+'html'+'><'+'head'+'><'+'style'+'>');
												  win.document.write('body, td { font-family: Verdana; font-size: 10pt;}');
												  win.document.write('<'+'/'+'style'+'><'+'/'+'head'+'><'+'body'+'>');
												  win.document.write(content.html());
												  win.document.write('<'+'/'+'body'+'><'+'/'+'html'+'>');
												  win.document.close();
												  win.print();
												  win.close();
												  
												  return false;
												}); // bind
												
										}
									});
		
			$('.panoDIV').css({'width':$(window).width() - 100, 'height':$(window).height() - 200});
			
			$(window).resize(function(){
				$('.panoDIV').css({'width':$(window).width() - 100, 'height':$(window).height() - 200});
		
			})
			$('#more-show').click(function(){
				$(this).next('div').toggle();
			})
			
			$("a.in-fancybox").fancybox({
			 tpl: {
			  next: '<a title="{{ 'Special.Images of Russia.Prev'|trans }}" class="fancybox-nav fancybox-next"><span></span></a>',
			  prev: '<a title="{{ 'Special.Images of Russia.Next'|trans }}" class="fancybox-nav fancybox-prev"><span></span></a>',
			 },
			scrolling: 'no'
		});
			
        });
    </script>
{% endblock %}