{% extends ':Frontend:special.html.twig' %}

{% block menu %}
    <ul class="main-navigation clearfix" title="{{ 'Main menu'|trans }}">
        {% if app.request.locale == 'ru' %}
            <li><a href="{{ path('armd_main_special_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
            <li class="active"><a href="{{ path('armd_main_special_russian_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
            <li><a href="{{ path('armd_main_special_chronicles') }}">{{ 'Navigation.Timeline'|trans }}</a></li>
            <li><a href="{{ path('armd_main_special_press') }}">{{ 'menu.news_index'|trans }}</a></li>
            {#<li><a href="{{ path('armd_main_special_services') }}">{{ 'menu.communication'|trans }}</a></li>#}
        {% else %}
            <li class="active"><a href="{{ path('armd_main_special_russian_images') }}">{{ 'Navigation.Images of Russia.Title'|trans }}</a></li>
            <li><a href="{{ path('armd_main_special_press') }}">{{ 'Navigation.Events'|trans }}</a></li>
            <li><a href="{{ path('armd_main_special_about') }}">{{ 'Navigation.About'|trans }}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body%}
	<div class="rusObr-block">
	    {% if objects|length > 0 %}
	        <ul class="rusObr-list clearfix">
	            {% render url('armd_atlas_russia_images_list', { 'templateName': 'special-list', 'limit': 24, 'region_id': 0, 'search_text': '' }) %}
	        </ul>    
	    {% else %}
	        <strong>{{ 'No objects'|trans }}</strong>
	    {% endif %}
	</div>
	
	<div class="more more2">
	    <p>
	        <a href="#" id="show-more">{{ "show_more"|trans }}</a>
	    </p>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/russia_images_special.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            armdMkRussiaImages.init();
        });
    </script>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{ 'Special.SearchThisSection'|trans }}</span></label>
    </div>
{% endblock %}