{% extends ':Frontend:special.html.twig' %}
{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_date %}


{% block body %}
<h1>{{ 'Special.Search'|trans }}</h1>
<div class="text search-results-special">
<p class="search-query"><span>{{ 'Query'|trans }}:</span> {{ searchQuery }}</p>

{% if searchResults|length > 0 %}

    {% for searchResult in searchResults %}
        {% spaceless %}
            <div class="search-result-one">
                {% if searchResult.section is defined %} 
                    <span class="search-result-type">{{ searchResult.section.name }}</span>
                {% endif %}
                <a href="{{ searchResult.object.url }}" class="search-result-title">
                    {{ searchResult.object.title }}
                </a>
                {% if searchResult.object.date is defined and searchResult.object.date is not empty %}
                    <span class="search-result-date" title="{{ 'Special.Date'|trans }}"><i>{{ armd_date.news_date(searchResult.object.date) }}</i></span>
                {% endif %}	

                <p>{{ searchResult.object.announce|raw }}</p>
            </div>
        {% endspaceless %}
    {% endfor %}


{% else %}
    {{ 'Not found'|trans }}
{% endif %}
</div>
{% endblock %}

