{% extends ':Frontend:new_base.html.twig' %}

{% block title %}{{ entity.seoTitle|default(entity.title) }} &mdash; {{ parent() }}{% endblock %}
{% block meta_keywords %}{{ entity.seoKeywords|default('') }}{% endblock %}
{% block meta_description %}{{ entity.seoDescription|default('') }}{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ entity.title }}" />
    <meta property="og:description" content="{{ entity.description }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!--
    OLD flexslider css!
    New is in "css/new/flexslider.css" but we can't use it right now because slider controls will break...
    -->
    <link rel="stylesheet" href="{{ asset('vendor/flexslider/flexslider.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/new/jquery.fancybox.css') }}" />
    <style type="text/css">
        .b-post a {
            color: {{ palette_color_hex }};
        }
        a.ajax_load {
            color: {{ palette_color_hex }};
        }
        a.ajax_load:hover {
            text-decoration: underline !important;
        }
        .palette-text {
            color: {{ palette_color_hex }};
        }
    </style>
{% endblock %}

{% block body %}
    <div class="b-post marginBottom70">
        <h1 class="b-left-title">
            {{ 'LECTURE_SUPER_TYPE_PERFOMANCES'|trans }}
        </h1>

        <div class="header-text-medium marginTop100 marginBottom10">
            {{ entity.title }}
        </div>

        {% if entity.mediaTrailerVideo is not empty and entity.mediaPerfomanceVideo is not empty %}
            <div id="switch_view" class="performance-video-selector">
                <ul>
                    <li class="active">
                        <a href="#" rel="{{ path('armd_perfomance_item_video', {'id': entity.id, 'mode': 'trailer'}) }}">
                            {{ 'VideoSelector.Trailer'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="{{ path('armd_perfomance_item_video', {'id': entity.id, 'mode': 'perfomance'}) }}">
                            {{ 'VideoSelector.Performance'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}

        <div class="marginBottom60">
            {% if entity.mediaTrailerVideo or entity.mediaPerfomanceVideo %}
                <div id="performance_video_container">
                    {% if entity.mediaTrailerVideo is not empty %}
                        {% media entity.mediaTrailerVideo, 'reference' with {'width': 700, 'height': 520} %}
                    {% else %}
                        {% media entity.mediaPerfomanceVideo, 'reference' with {'width': 700, 'height': 520} %}
                    {% endif %}
                </div>
            {% elseif entity.image %}
                {% if entity.externalUrl %}
                    <a href="{{ entity.externalUrl }}" target="_blank">
                {% endif %}

                {% media entity.image, 'xbig' with {'alt': entity.title|escape, 'width': '100%', 'height': ''} %}

                {% if entity.externalUrl %}
                    </a>
                {% endif %}
            {% endif %}

            <div class="entity-image-footer">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if isInFavorites %}
                        {{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                            'palette_color': palette_color,
                            'palette_icon': palette_favoritesIconAdded,
                            'action': 'remove',
                            'text': 'Entity.RemoveFromFavorites'|trans
                        }) }}
                    {% else %}
                        {{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                            'palette_color': palette_color,
                            'palette_icon': palette_favoritesIcon,
                            'action': 'add',
                            'text': 'Entity.AddToFavorites'|trans
                        }) }}
                    {% endif %}
                {% endif %}

                <span class="floatRight">
                    {{ 'ViewsCount'|trans }}: {{ entity.viewCount }}
                </span>
            </div>
        </div>

        <div class="entity-description-block">
            {% if entity.year %}
                <div>
                    <b>{{ 'Description.Year'|trans }}</b>: {{ entity.year }}
                </div>
            {% endif %}

            {% if entity.theater %}
                <div>
                    <b>{{ 'Description.Theater'|trans }}</b>: <a href="{{ path('armd_theater_item', {'id': entity.theater.id}) }}">{{ entity.theater.title }}</a>
                </div>
            {% endif %}

            {% if entity.ganres|length > 0 %}
                <div>
                    <b>{{ 'Description.Genre'|trans }}</b>:
                    {% for ganre in entity.ganres %}
                        <a href="{{ path('armd_theaters_hub', {'category': 'performances', 'genreId': ganre.id}) }}">{{ ganre.title }}</a>{% if entity.ganres|length > 1 and not(loop.last) %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div>
                <b>{{ 'Description.Description'|trans }}</b>: {{ entity.description|raw }}
                {{ add_viewed_content(entity, path('armd_perfomance_item', {id: entity.id})) }}
            </div>
        </div>

        <div class="b-share-buttons">
            <span class="small-title m-first">{{ 'Entity.SocialShare'|trans }}:</span>
            <span id="yandex-share"></span>
        </div>
    </div>

    {{ include('ArmdPerfomanceBundle:Default:reviews.html.twig', { 'entity_type': 'perfomance' }) }}
{% endblock %}

{% block sidebar %}
    {{ include('ArmdPerfomanceBundle:Perfomance:itemSidebar.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('js/new/jquery.fancybox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/damedia/addToFavorites.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/damedia/share.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/new/jquery.flexslider.min.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            var videoSwitcher = $('#switch_view'),
                videoContainer = $('#performance_video_container'),
                reviewsHolder = $('#post-reviews'),
                reviewsCount = reviewsHolder.find('.review-item').length,
                reviewsFormContainer = $('#add_new_review'),
                reviewsCountHolder = $('#damedia-reviews-total').find('span');

            $('#search-form').on('submit', function(event){
                if ($('#search-this-section').prop('checked')) {
                    event.preventDefault();
                    window.location = Routing.generate('armd_theaters_hub', {
                        category: 'performances',
                        search_query: $('#search-txt').val()
                    })
                }
            });

            reviewsCountHolder.html(reviewsCount);

            videoSwitcher.find('a').on('click', function(){
                var option = $(this);

                $.ajax({
                    url: option.attr('rel'),
                    dataType: 'html',
                    success: function(data, textStatus, jqXHR){
                        videoSwitcher.find('li').removeClass('active');
                        option.parent('li').addClass('active');
                        videoContainer.html(data);
                    }
                });

                return false;
            });

            DamediaShare.init({
                locale: '{{ app.request.locale }}',
                link: '{{ url('view_blog', { 'id': entity.id }) }}',
                title: '{{ entity.title }}',
                description: '{{ entity.description|replace({"\n":'',"\r":''})|striptags }}'
            });

            DamediaAddToFavorites.init({
                entityType: '{{ constant('Armd\\UserBundle\\Entity\\Favorites::TYPE_LECTURE') }}',
                entityId: '{{ entity.id }}',
                htmlReplacementForAdd: '{{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                    'palette_color': palette_color,
                    'palette_icon': palette_favoritesIconAdded,
                    'action': 'remove',
                    'text': 'Entity.RemoveFromFavorites'|trans
                }) }}',
                htmlReplacementForRemove : '{{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                    'palette_color': palette_color,
                    'palette_icon': palette_favoritesIcon,
                    'action': 'add',
                    'text': 'Entity.AddToFavorites'|trans
                }) }}'
            });

            /* Reviews block */
            $('#show_add_new_review').on('click', function(){
                reviewsFormContainer.show();
            });

            $(document).on('submit', '#review_form', function(){
                var form = $(this),
                    url = form.attr('action'),
                    form_data = form.serialize();

                //This AJAX call saves the Review and refreshes the form
                $.ajax({
                    url: url,
                    dataType: 'html',
                    data: form_data,
                    type: 'post',
                    success: function(data, textStatus, jqXHR){
                        var refreshCommentsUrl = Routing.generate('armd_perfomance_review_list', {
                                perfomance_id: {{ entity.id }}
                            });

                        reviewsFormContainer.html(data); //refresh the form
                        form.find('#form_body').val(''); //this is form's textarea
                        reviewsFormContainer.hide();

                        //This AJAX call refreshes Reviews list
                        $.ajax({
                            url: refreshCommentsUrl,
                            dataType: 'html',
                            type: 'post',
                            success: function(data, textStatus, jqXHR ){
                                $('#review_list_container').html(data);
                            }
                        });
                    }
                });

                return false;
            });

            $(document).on('click','.ajax_load', function(){
                var anchor = $(this),
                    commentsHolderId = anchor.attr('rel'),
                    url = anchor.attr('href'),
                    commentsHolder = $('#' + commentsHolderId);

                $.ajax({
                    url: url,
                    dataType: 'html',
                    success: function(data, textStatus, jqXHR){
                        commentsHolder.html(data);
                    }
                });

                return false;
            });

            /* Sliders and Fancyboxes */
            $('.fancybox').fancybox({
                prevEffect: 'none',
                nextEffect: 'none'
            });

            $('.iframe').fancybox({
                'width': '100%',
                'height': '100%',
                'autoScale': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'type': 'iframe'
            });

            var archiveGallery = $('#imageOfRussia-archiveGallery'),
                archiveGallery_numeratorPlaceholder = archiveGallery.find('div.archiveSlides-controls > span');

            $('#archive-slider').flexslider({
                selector: '.archiveSlides > li',
                animation: 'slide',
                slideshow: false,
                start: function(flexsliderWrapper){
                    var controlsPlaceholder = archiveGallery.find('.archiveSlides-controls'),
                        navControls = flexsliderWrapper.find('ul.flex-direction-nav'),
                        counter = flexsliderWrapper.find('li.flex-active-slide .imageCounter').text(),
                        slideLeft = navControls.find('li:first'),
                        slideRight = navControls.find('li:last');

                    navControls.addClass('itemMainGallery');
                    slideLeft.addClass('slideLeftPurple');
                    slideRight.addClass('slideRightPurple');

                    archiveGallery_numeratorPlaceholder.text(counter);
                    navControls.detach().appendTo(controlsPlaceholder);
                },
                after: function(flexsliderWrapper){
                    var counter = flexsliderWrapper.find('li.flex-active-slide .imageCounter').text();

                    archiveGallery_numeratorPlaceholder.text(counter);
                }
            });
        });
    </script>
{% endblock %}