{% extends ':Frontend:layout_two_column.html.twig' %}

{% block pre_content %}
    <ul class="breadcrumbs">
        <li><a href="/">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('armd_perfomance_list') }}">{{ 'menu.perfomance'|trans }}</a></li>
        <li><span>{{ entity.title }}</span></li>
    </ul>
{% endblock %}

{% block left_column %}
	{% if entity.mediaTrailerVideo is not empty and entity.mediaPerfomanceVideo is not empty %}
		<div class="sort-filter sort-element-filter" id="switch_view">
			<ul>
                <li class="active">
                    <a href="#" rel="{{ path('armd_perfomance_item_video', {'id' : entity.id, 'mode' : 'trailer'}) }}">СМОТРЕТЬ АНОНС</a>
                </li>
                <li>
                    <a href="#" rel="{{ path('armd_perfomance_item_video', {'id' : entity.id, 'mode' : 'perfomance'}) }}">СМОТРЕТЬ СПЕКТАКЛЬ</a>
                </li>
            </ul>
		</div>
	{% endif %}
	<div class="perfomance-one">
		<section class="video-one">
			
			{% if entity.mediaTrailerVideo or entity.mediaPerfomanceVideo %}
				<div class="video-one_container" id="pefomance_video_container" style="display:inline-block;">
					{% if entity.mediaTrailerVideo is not empty %}
	                   	{% media entity.mediaTrailerVideo, 'reference' with {'width': video_sizes.width, 'height': video_sizes.height} %}
	                {% else %}
	                	{% media entity.mediaPerfomanceVideo, 'reference' with {'width': video_sizes.width, 'height': video_sizes.height} %}
	                {% endif %}                
	            </div>
	        {% elseif entity.image %}
	         	{% if entity.externalUrl %}<a href="{{ entity.externalUrl }}" target="_blank">{% endif %}
	           		{% media entity.image, 'xbig' with {'alt' : entity.title|escape, 'width' : '100%', 'height' : ''} %}
	           	{% if entity.externalUrl %}</a>{% endif %}
	        {% endif %}
			
			<div class="video-one-description">
				<h2 class="video-one-name">
                                    {{ entity.title }}
                                        
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a class="user-favorites-button" title="Добавить в «Избранное»" href="#" data-type="{{ constant('Armd\\UserBundle\\Entity\\Favorites::TYPE_PERFORMANCE') }}" data-id="{{ entity.id }}">
                                            <img alt="*" src="{{ asset('img/favorites.png') }}" />
                                        </a>
                                    {% endif %}
                                </h2>
				<div class="video-one-source">
                                    {% if entity.theater %}
                                        <a href="{{ path('armd_theater_item', {'id': entity.theater.id }) }}">{{ entity.theater.title }}</a>
                                    {% endif %}
				</div>
				<div class="video-one-tags">
					{% if entity.ganres|length > 0 %}
						{% for ganre in entity.ganres %}
							<a href="{{ path('armd_perfomance_list', {'ganreId': ganre.id }) }}">{{ ganre.title }}</a>{% if entity.ganres|length > 1 and not(loop.last) %}, {% endif %}
						{% endfor %}
					{% endif %}				
				</div>
				<div class="video-one-views">
					Просмотров: {{ entity.viewCount }}
				</div>
			</div>
			
			<div class="video-one-full-text">
				{{ entity.description|raw }}
                {{ add_viewed_content(entity, path('armd_perfomance_item', {id: entity.id })) }}
			</div>
		</section>
		<div class="back-link">
			<p><a href="javascript:history.back();">Назад</a></p>
		</div>
        <div class="event-one_footer clearfix">
            <div href="#" class="publish-links"> <a href="#"></a> Опубликовать в социальных сетях: <span id="yandex-share"></span></div>
        </div>	
        
        <div class="more-comments-show">
            <div class="comments comments-gray clearfix">

                <div id="review_form_container">
                    {% render url('armd_perfomance_review', {
                            'perfomance_id' : entity.id
                        })
                    %}
                </div>
                <div id="review_list_container">
                    {% render url('armd_perfomance_review_list', {
                            'perfomance_id' : entity.id
                        })
                    %}                
                </div>

           
            </div>
        </div>
        <div class="more-comments-show">
            <div id="comments" class="comments comments-gray clearfix">
                {% set comment_thread_id = app.request.locale~'_'~constant('Armd\\MkCommentBundle\\Model\\CommentInterface::SECTION_PERFOMANCE')~'_'~entity.id %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment_thread_id } %}

                {% if not is_granted('ROLE_USER') %}
                    <div class="comments-auth-block">
                        <p>{{ "comments_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
                        {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block right_column %}
	{% if (entity.gallery and entity.gallery|length > 0) or entity.interviewVideo %}
		<div class="buffer" style="height:6px;"></div>
        {% if entity.mediaInterviewVideo is not empty %}
            <div class="orange-slider-block">
                <h3 class="o-slider-header">Интервью</h3>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <article class="period-block">
                                <a href="#interview-{{ entity.id }}" class="period-block_image in-fancybox-noresize">
                                    <img src="{{ entity.mediaInterviewVideo.providerMetadata.thumbnail_url }}" alt="{{ entity.interviewTitle|escape }}" height="179" width="306">
                                    <span class="play"></span>
                                </a>
                                {#
                                <div class="period-block_text">
                                    <h4>{{ entity.interviewTitle}}</h4>
                                    <p>{{ entity.interviewDescription|raw }}</p>
                                </div>
                                #}
                                <div id="interview-{{ entity.id }}" style="display: none;">
                                    <div class="fancybox-video-wrapper" style="width: {{ interview_sizes.width }}px; height: {{ interview_sizes.height }}px;">
                                        {% media entity.mediaInterviewVideo, 'reference' with {'width': interview_sizes.width, 'height': interview_sizes.height} %}
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="orange-slider-block">
			<h3 class="o-slider-header">фотогалерея спектакля</h3>
            {% if entity.gallery and entity.gallery|length > 0 %}
                <div class="orange-slider-block">
				<div class="flexslider">
		            <ul class="slides">
						{% for img in entity.gallery.galleryHasMedias %}
			                <li>
                                <article class="period-block">
                                    <a rel="gallery" name="leaf" title="{{img.media.name}}" href="{% path img.media, 'xxbig' %}" data-fancy-image="{% path img.media, 'xxbig' %}" class="period-block_image in-fancybox">
                                        {% media img.media, 'big' with {'alt' : entity.interviewTitle|escape, 'height':'179', 'width':'306'} %}
                                    </a>
                                    {#
                                    <div class="period-block_text">
                                        {% if entity.gallery.name %}<h4>{{ entity.gallery.name }}</h4>{% endif %}   
                                        {% if img.media.name %}<p>{{ img.media.name }}</p>{% endif %}   
                                    </div>
                                    #}
                                </article>
			                </li>
						{% endfor %}	            	                
		            </ul>				
				</div>
                </div>
			{% endif %}
		
		</div>
		
	{% else %}

		{% render url('armd_perfomance_list_related', {'tags': entity.tags|extract_array_values('getName'), 'limit':4, 'id': entity.id }) %}
		
	{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript">

        $(function(){
			armdMkPerfomance.init();
			initSocialShare();
			
			//просмотр интервью
			/*$('a.tvigle-player-fancybox').fancybox({
                'padding'		: 15,
                'autoScale'		: false,
                'transitionIn'	: 'none',
                'transitionOut'	: 'none',
                'width'		: 680,
                'height'		: 495,
                'type'			: 'swf',
                'swf'			: {
                     'wmode'		: 'transparent'
                },
                beforeShow: function(){
                    $('.left-column iframe').hide();
                },
                afterClose: function(){
                    $('.left-column iframe').show();
                }
                
            });*/
            
			
			//переключение видео							
			$('#switch_view a').click(function(){
				
				$('#switch_view a').parent().removeClass('active');
				$(this).parent().addClass('active');
							                
				if ($(this).attr('rel')) {
				
					var a = $(this);
					armdMk.startLoading();
					$('#pefomance_video_container').html('')
					
					$.ajax({
						'url' : $(a).attr('rel'),
						'dataType' : 'html',
						'success' : function(data, textStatus, jqXHR ){
							$('#pefomance_video_container').html(data);
						},
			            'complete': function() {
							armdMk.stopLoading();
			            }						
					});	
				}
				
				return false;
				
			});
			
			//загрузка комментариев
			$(document).on('click','.ajax_load',function(){
			   
			    $('.comment_holder').html('');
			    if ($(this).attr('rel')) {
			        
			        var container = $('#' + $(this).attr('rel')),
			             url = $(this).attr('href');
			             
			        if ($(container).length) {
			            
			            armdMk.startLoading();
			            
    					$.ajax({
    						'url' : url,
    						'dataType' : 'html',
    						'success' : function(data, textStatus, jqXHR ){
    							$(container).html(data);
    						},
    			            'complete': function() {
    							armdMk.stopLoading();
    			            }						
    					});			            
			        }
			    }
			    return false; 
			});
			
			//отправка формы с рецензией
			$(document).on('submit','#review_form', function(){
			   
			    armdMk.startLoading();
			    var url = $(this).attr('action'),
			        container = $('#review_form_container'),
			        form_data = $(this).serialize(),
			        form = $(this);
			     
                $.ajax({
                    'url' : url,
    				'dataType' : 'html',
    				'data' : form_data,
    				'type' : 'post',
    				'success' : function(data, textStatus, jqXHR ){
    				    $(container).html(data);
    				    $(form).find('#form_body').val(null);
    				    //обновить список комментариев
    				    $.ajax({
    				       'url' :  Routing.generate('armd_perfomance_review_list', {'perfomance_id': $(form).find('#form_perfomance_id').val()}),
            			   'dataType' : 'html',
            			   'type' : 'post',
            			   'success' : function(data, textStatus, jqXHR ){    				       
            			     $('#review_list_container').html(data);
            			   },
            			   'complete' : function(){
            			       armdMk.stopLoading();
            			   }
    				    });
    				},
    			    'complete': function() {
    				    //armdMk.stopLoading();
    			    }						
    			});

                return false;
			});
			
        });
            
		var armdMkPerfomance = {
		
		    init: function() {
		        $('#search-form').bind('submit', function(event) {
		            if ($('#search-this-section').prop('checked')) {
		                event.preventDefault();
		                window.location = Routing.generate('armd_perfomance_list', {
		                    'search_query': $('#search-txt').val()
		                })
		            }
		        });
		    }
		};    

        function initSocialShare() {
            new Ya.share({
                element: 'yandex-share',
                l10n:{% if app.request.locale == 'ru' %}'ru'{% else %}'en'{% endif %},
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                link: '{{ url('armd_perfomance_item', { 'id': entity.id }) }}',
                title: '{{ entity.title }}'
            });
        }
    </script>    
{% endblock %}   

{% block page_header_search %}
    <div class="search-category">
        <form id="lectures-filter" action="{{ path('armd_perfomance_list') }}" method="get">
        
          {#<span class="search-dates-label">Театр</span>
            <div class="search-category-selects">
                <select id="perfomance_theater" name="theater_id" class="uni">
                    <option value="0">
                        {{ "All"|trans }}
                    </option>
                    {% for theater in theaters %}
                        <option value="{{ theater.id }}">
                            {{ theater.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
                    
            <span class="search-dates-label">Жанр</span>
            <div class="search-category-selects">
                <select id="perfomance_ganre" name="ganre_id" class="uni">
                    <option value="0">
                        {{ "All"|trans }}
                    </option>
                    {% for ganre in ganres %}
                        <option value="{{ ganre.id }}">
                            {{ ganre.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>        

            <button id="lectures-filter-submit" type="submit" class="button search-dates-button">Показать</button>
        </form>#}
    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}

{% block page_header_title %}
	Спектакли
{% endblock %}