{% import 'ArmdPerfomanceBundle::perfomance_macro.html.twig' as perfomanceMacro %}
{% for item in objects %}
    <li class="b-theatre-item">
        <div class="b-virtual-video js-process-video">
            <a href="{{ path('armd_perfomance_item', {id: item.id }) }}">
                {#{% thumbnail item.image, 'main_page' with {'alt' : item.title|escape} %}#}
                {% thumbnail item.image, 'xbig' with {'alt' : item.title|escape} %}
            </a>
        </div>
        <div class="b-virtual-theatre-item-content clearfix">
            <header>
                <h1>{{ item.title }}</h1>
            </header>
            <div class="e-theatre-name">
                <a href="{{ path('armd_perfomance_list', {'theaterId': item.theater.id }) }}">{{ item.theater.title }}</a>
            </div>
            <div class="b-virtual-theatre-wrap">
                <div class="e-virtual-time">{% if item.timeLength > 0 %}{{ item.timeLengthInHours }}{% endif %}&nbsp;</div>
                <div class="e-theatre-cnt">{% if item.stars is not empty %}В ролях: {{ item.stars }}{% endif %}&nbsp;</div>
            </div>
        </div>
    </li>
{% endfor %}