{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% if reviews|length > 0 %}
    {% for review in reviews %}
        <div class="review-item">
            <div class="review-info">
                <b>{{ review.author.username }}</b>
                <br />
                <span class="date-style">
                    {{ armd_news.macro_date_full(review.createdAt) }}
                </span>
            </div>
            <div class="review-body">
                {{ review.body }}
            </div>
            <div class="comment-list_footer">
                {% if not is_granted('ROLE_USER') %}
                    <div class="comments-auth-block">
                        <p>{{ "comments_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
                        {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
                    </div>
                {% else %}
                    <div class="review-comments">
                        {% if review.commentCount > 0 %}
                            <a href="{{ path('armd_perfomance_review_comment', {'review_id' : review.id }) }}" class="ajax_load noTextDecoration" rel="comment_holder_{{ review.id }}">
                                {{ 'ReviewComments'|trans }} ({{ review.commentCount }})
                            </a>
                        {% else %}
                            <a href="{{ path('armd_perfomance_review_comment', {'review_id' : review.id }) }}" class="ajax_load noTextDecoration" rel="comment_holder_{{ review.id }}">
                                {{ 'CommentReview'|trans }}
                            </a>
                        {% endif %}
                        <div class="comment_holder" id="comment_holder_{{ review.id }}"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}