{% if not is_granted('ROLE_USER') %}
    <div class="comments-auth-block">
        <p>{{ "reviews_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
        {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
    </div>
{% else %}
    {% if form %}
        <form id="review_form" action="{{ path('armd_perfomance_review', {'perfomance_id': perfomance_id }) }}" method="post" {{ form_enctype(form) }}>
            <div class="fos_comment_form_errors">{{ form_errors(form) }}</div>

            <div class="b-right-col fos_comment_submit">
                <input type="submit" class="post-review-submit-button comment-post-button {{ palette_background }}" value="Добавить рецензию" />
            </div>

            <div class="reviews-body-form-wrapper">
                {{ form_widget(form.body) }}
                {{ form_rest(form) }}
            </div>
        </form>
    {% endif %}
{% endif %}

