<style>
    textarea {
        width: 100%;
        height: 150px;
    }
</style>
{% if not is_granted('ROLE_USER') %}
    <div class="comments-auth-block">
        <p>{{ "reviews_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
        {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
    </div>
{% else %}
    {% if form %}
        <h3>Написать рецензию</h3>
            <form id="review_form" action="{{ path('armd_perfomance_review', {'perfomance_id': perfomance_id }) }}" method="post" {{ form_enctype(form) }}>
            
                <div class="fos_comment_form_errors">{{ form_errors(form) }}</div>
                
                {{ form_widget(form.body) }}
                {{ form_rest(form) }}
            
                <div class="fos_comment_submit">
                    <input type="submit" value="Опубликовать"/>
                </div>
            </form>

    {% endif %}    
{% endif %}  

