{% if app.request.locale == 'ru' %}
    <div class="lk-top">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('sonata_user_profile_show') }}">{{ app.user.username }}</a> /
            <a href="{{ path('fos_user_security_logout') }}">{{ "auth_logout"|trans }}</a>
        {% else %}
            <a href="#login-popup">{{ "auth_login"|trans }}</a>

            <div id="login-popup" style="display: none;">
                {% render url('fos_user_security_login', {'popup': true}) %}
            </div>
        {% endif %}
    </div>
{% endif %}
