{% extends 'ArmdNewsBundle:News:press-centre.html.twig' %}

{% block top_right %}{% endblock %}

{% block content %}
    {#<ul class="years-tabs-selector">
        <li>
            <a href="#year2011">2011</a>
        </li>
        <li class="active">
            <a href="#year2012">2012</a>
        </li>
    </ul>#}
    <div class="years-tabs">
        <div class="years-tab" id="year2012">
            <ul class="archive-list">
                {% for item in items %}
                <li class="{% if loop.index < 3 %}big{% else %}small{% endif %}">
                    <a title="{{ item.title }}" class="pdf-view-trigger fancybox.iframe" href="http://docs.google.com/viewer?url={% filter url_encode() %}{{ "#{app.request.scheme}://#{app.request.host}" }}{% path item.file, 'reference' %}{% endfilter %}&embedded=true">
                        {% if loop.index < 3 %}
                            <img src="{% path item.image, 'big' %}" alt="" title="{{ item.title }}" class="arch-image" />
                        {% else %}
                            <img src="{% path item.image, 'small' %}" alt="" title="{{ item.title }}" class="arch-image" />
                        {% endif %}
                    </a>
                    <div class="text-overflow">
                        <span class="arch-name">{{ item.title }}</span>
                        <span class="arch-date">{{ item.date|date('d.m.Y') }}</span>
                        <a title="{{ item.title }}" href="{% path item.file, 'reference' %}" class="arch-pdf-link"  target="_blank">
                            <span class="arch-pdf-label">{{ 'Download'|trans }}</span>
                            <span class="arch-size">
                                <script type="text/javascript">
                                    document.write(bytesToSize({{ item.file.size }}, 2));
                                </script>
                            </span>
                        </a>
                    </div>
                </li>
				{% if loop.index == 2 %}<li class="archive-separator"></li>{% endif %}	
                {% endfor %}
            </ul>
        </div>
        <div class="years-tab" id="year2011" style="display:none"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function bytesToSize(bytes, precision)
        {
            var kilobyte = 1024;
            var megabyte = kilobyte * 1024;
            var gigabyte = megabyte * 1024;
            var terabyte = gigabyte * 1024;

            if ((bytes >= 0) && (bytes < kilobyte)) {
                return bytes + ' B';

            } else if ((bytes >= kilobyte) && (bytes < megabyte)) {
                return (bytes / kilobyte).toFixed(precision) + ' KB';

            } else if ((bytes >= megabyte) && (bytes < gigabyte)) {
                return (bytes / megabyte).toFixed(precision) + ' MB';

            } else if ((bytes >= gigabyte) && (bytes < terabyte)) {
                return (bytes / gigabyte).toFixed(precision) + ' GB';

            } else if (bytes >= terabyte) {
                return (bytes / terabyte).toFixed(precision) + ' TB';

            } else {
                return bytes + ' B';
            }
        }

        $(document).ready(function(){
            $(".pdf-view-trigger").fancybox({
                fitToView : false,
                width : '95%',
                height : '95%',
                autoSize : false,
                closeClick : false,
                openEffect : 'none',
                closeEffect : 'none'
            });
        })
    </script>
{% endblock %}