{% extends ':Frontend:new_base.html.twig' %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block title %}Медиа{% endblock %}

{% block body %}
    <div class="b-main-wrap b-post">
        <h1 class="b-left-title">Медиа</h1>

        <ul class="b-link-list m-left-bordered">
            {% for category in categories %}
                <li{% if category.slug == currentCategory %} class="selected-link"{% endif %}>
                    <a href="{{ path('armd_news_list_index_by_category', { 'category': category.slug }) }}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>

        {% for item in news %}
            <section class="b-post-list">
                {{ include('ArmdNewsBundle:NewsNew:list_item.html.twig', { 'item': item }) }}
            </section>
        {% else %}
            {{ 'К сожалению, новостей с заданными критериями не найдено.' }}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    Block 'sidebar' is empty

    <!--<div class="popular-container">
        {% render 'BlogBundle:Default:popular' %}
    </div>-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}