{% import _self as self %}
{% import 'ArmdLectureBundle::lecture_macro.html.twig' as lectureMacro %}

{% macro lecture(lectureMacro, lecture) %}
    {% set lectureHref = path('armd_lecture_view', {'id': lecture.id}) %}
    
    <li class="video-time-one">
        <div class="video-time-one-block">
            <h3 class="video-time-header">
                {{ lecture.title|truncate(35) }}
            </h3>
            <div class="video-time-image">
                <a href="{{ lectureHref }}" title="{{ lecture.title }}">
                    {{ lectureMacro.lectureThumbnail(lecture, 'tile', {'alt': lecture.title, 'height': '137', 'width': '243'}) }}
                    <span class="play"></span>
                </a>
            </div>
        </div>
    </li>
{% endmacro %}

{% for date, lectures in lecturesByMonth %}
    <div class="video-time-block">
        {% if ("now"|date('Y')) == (lectures[0].createdAt|date('Y')) %}
            {% set lectureDate = ('calendar.month.'~lectures[0].createdAt|date('M'))|trans %}
        {% else %}
            {% set lectureDate = ('calendar.month.'~lectures[0].createdAt|date('M'))|trans ~ lectures[0].createdAt|date(', Y') %}
        {% endif %}

        <h2><span>{{ lectureDate }}</span></h2>
        <div class="video-time-slider">
            <ul class="slides video-time-list">
                {% for lecture in lectures %}
                    {{ self.lecture(lectureMacro, lecture) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}