{% extends ':Frontend:new_base.html.twig' %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        ul.hub-menu li a:hover {
            color: {{ palette_color_hex }};
        }
    </style>
{% endblock %}

{% block title %}{{ 'Media'|trans }}{% endblock %}

{% block body %}
    <div class="b-main-wrap b-post">
        <h1 class="b-left-title">
            {{ 'Media'|trans }}
        </h1>

        {{ include('ArmdNewsBundle:NewsNew:hub_menu.html.twig', { 'categories': categories, 'palette_color': palette_color, 'currentCategory': currentCategory }) }}

        {% for item in news %}
            <section class="hub-list-item">
                {{ include('ArmdNewsBundle:NewsNew:list_item.html.twig', { 'item': item }) }}
            </section>
        {% else %}
            {{ 'Empty_list'|trans }}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    {% render 'ArmdNewsBundle:News:sidebarIndexWidget' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var NewsIndexSlider = (function(){
            var slider = {};

            slider.init = function(wrapper, options){
                var items,
                    itemsCount,
                    visibleItemNum = 0,
                    nextItemButton,
                    buttonTitle = '{{ 'Sidebar.LinkedContent.Next'|trans }}';

                if (wrapper.length > 0) {
                    items = $('.sidebar-item-wrapper', wrapper);
                    itemsCount = items.length;

                    if (itemsCount > 1) {
                        nextItemButton = $('<div class="goto-link-button hoverSensitive fullWidth">' + buttonTitle + '</div>');
                        nextItemButton.on('click', function(){
                            $(items[visibleItemNum]).toggle('slide');
                            if (visibleItemNum !== 3) {
                                visibleItemNum++;
                            }
                            else {
                                visibleItemNum = 0;
                            }
                            $(items[visibleItemNum]).toggle('slide');
                        });
                        wrapper.append(nextItemButton);
                    }

                    $.each(items, function(i, item){
                        if (i !== visibleItemNum) {
                            $(item).hide();
                        }
                    });
                }
            };

            return slider;
        }());

        $(function(){
            var searchWrapper = $('#quick-search-wrapper'),
                searchInput = $('#search-txt', searchWrapper),
                searchForm = searchWrapper.find('form'),
                checkboxesHoverTab = searchWrapper.find('div.search-checkboxes'),
                searchThisSectionCheckbox = $('#search-this-section', searchWrapper);

            searchWrapper.mouseenter(function(){
                checkboxesHoverTab.show();
            });

            searchWrapper.mouseleave(function(){
                checkboxesHoverTab.hide();
            });

            searchForm.bind('submit', function(e){
                if (searchThisSectionCheckbox.is(':checked')) {
                    e.preventDefault();
                    window.location = Routing.generate('armd_news_list_index_by_category', { 'search_query': searchInput.val() });
                }
            });

            $.each($('div.sidebar-movies-widget-switcher'), function(){
                NewsIndexSlider.init($(this));
            });
        });
    </script>
{% endblock %}