{% extends ':Frontend:new_base.html.twig' %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block title %}{{ 'Media'|trans }}{% endblock %}

{% block body %}
    <div class="b-main-wrap b-post">
        <h1 class="b-left-title">{{ 'Media'|trans }}</h1>

        {{ include('ArmdNewsBundle:NewsNew:hub_menu.html.twig', { 'categories': categories, 'palette_color': palette_color, 'currentCategory': currentCategory }) }}

        {% for item in news %}
            <section class="hub-list-item">
                {{ include('ArmdNewsBundle:NewsNew:list_item.html.twig', { 'item': item }) }}
            </section>
        {% else %}
            {{ 'Empty_list'|trans }}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    The 'sidebar' block got left empty just for now.

    <!--
    <div class="popular-container">
        {% render 'BlogBundle:Default:popular' %}
    </div>
    -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}