{% extends ':Frontend:new_base.html.twig' %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        ul.hub-menu li a:hover {
            color: {{ palette_color_hex }};
        }
    </style>
{% endblock %}

{% block title %}{{ 'Media'|trans }}{% endblock %}

{% block body %}
    <div class="b-main-wrap b-post">
        <h1 class="b-left-title">{{ 'Media'|trans }}</h1>

        {{ include('ArmdNewsBundle:NewsNew:hub_menu.html.twig', { 'categories': categories, 'palette_color': palette_color, 'currentCategory': currentCategory }) }}

        {% for item in news %}
            <section class="hub-list-item">
                {{ include('ArmdNewsBundle:NewsNew:list_item.html.twig', { 'item': item }) }}
            </section>
        {% else %}
            {{ 'Empty_list'|trans }}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    {% render 'ArmdNewsBundle:News:sidebarIndexWidget' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            var searchWrapper = $('#quick-search-wrapper'),
                searchInput = $('#search-txt', searchWrapper),
                searchForm = searchWrapper.find('form'),
                checkboxesHoverTab = searchWrapper.find('div.search-checkboxes'),
                searchThisSectionCheckbox = $('#search-this-section', searchWrapper);

            searchWrapper.mouseenter(function(){
                checkboxesHoverTab.show();
            });

            searchWrapper.mouseleave(function(){
                checkboxesHoverTab.hide();
            });

            searchForm.bind('submit', function(e){
                if (searchThisSectionCheckbox.is(':checked')) {
                    e.preventDefault();
                    window.location = Routing.generate('armd_news_list_index_by_category', { 'search_query': searchInput.val() });
                }
            });
        });
    </script>
{% endblock %}