{% extends ':Frontend:layout_two_column.html.twig' %}
{% import 'ArmdLectureBundle::lecture_macro.html.twig' as lectureMacro %}

{% block page_header_search %}
    <div class="search-category"></div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}

{% block search_query %}{{ searchQuery }}{% endblock %}

{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('armd_news_index_by_category', {'category': 'reportages'}) }}">{{ 'menu.media'|trans }}</a></li>
        <li><span>{{ 'menu.lectures_news'|trans }}</span></li>
    </ul>

    {% if lecture and searchQuery is empty%}
        <article class="video-one-block">
            <h1>{{ lecture.title|truncate(45) }}</h1>
            <div class="video-one-image video-time-image">
                {% media lecture.mediaLectureVideo, 'reference' with { 'width': '100%', 'height': 506 } %}
            </div>

            <div class="video-one-block-description">
                {{ lecture.description|raw }}
                {% if lecture.productionYear or lecture.timeLength %}
                    <span  class="two-row-link">
                        {% if lecture.productionYear %}{{ lecture.productionYear~' /' }}{% endif %}
                        {% if lecture.timeLength %}{{ lecture.timeLength~' мин. ' }}{% endif %}
                    </span>
                {% endif %}
            </div>
        </article>
    {% endif %}

    {% render url('armd_lecture_news_list', { 'search_query': searchQuery }) %}
{% endblock %}

{% block right_column %}
    {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}

    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
    </div>

    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdlecture/js/lectures.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            armdMkLectures.init('{{ lectureSuperTypeCode }}');
            $('.video-time-slider').flexslider({
                animation: "slide",
                slideshow: false,
                itemWidth: 294,
                itemMargin: 20
            });
        });
    </script>
{% endblock %}