{% extends ':Frontend:new_base.html.twig' %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block title %}{{ entity.seoTitle|default(entity.title) }} &mdash; {{ parent() }}{% endblock %}
{% block meta_keywords %}{{ entity.seoKeywords }}{% endblock %}
{% block meta_description %}{{ entity.seoDescription }}{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ entity.title }}" />
    <meta property="og:description" content="{{ entity.announce }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    {% if entity.image is not empty %}
        <meta property="og:image" content="{% path entity.image, 'reference' %}" />
    {% endif %}
{% endblock %}

{% block body %}
    <div class="b-main-wrap b-post b-post-taxonomy">
        <h1 class="b-left-title">{{ 'Media'|trans }}</h1>

        {{ include('ArmdNewsBundle:NewsNew:hub_menu.html.twig', { 'categories': categories, 'paletteColor': paletteColor, 'currentCategory': entity.category.slug }) }}

        <div class="b-post-image">
            {% if entity.date %}
                <div class="entity-date-of-event">
                    <span class="title">{{ 'Entity.DateOfEvent'|trans }}:</span>
                    <span class="interval">{{ 'Entity.DateOfEventFrom'|trans }} {{ armd_news.news_date_short(entity.date) }}
                        {% if entity.endDate %}
                            {{ 'Entity.DateOfEventTo'|trans }} {{ armd_news.news_date_short(entity.endDate) }}
                        {% endif %}
                    </span>
                </div>
            {% endif %}

            <div class="entity-image-wrapper">
                <img class="entity-image" alt="{{ entity.image.description }}" src="{% path entity.image, 'big' %}" />

                <div class="image-description">
                    <span class="title">{{ entity.title|raw }}</span>
                    <span class="date">{{ armd_news.macro_date_standart(entity.newsDate) }} </span>
                </div>
            </div>

            <div class="entity-image-footer">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span class="favorites {{ paletteColor }} {{ favoritesPaletteIcon }}">в избранное</span>

                    <!--<a href="#" class="user-favorites-button" title="{{ 'Entity.AddToFavorites'|trans }}" data-type="{{ constant('Armd\\UserBundle\\Entity\\Favorites::TYPE_MEDIA') }}" data-id="{{ entity.id }}">
                                <img src="{{ asset('img/favorites.png') }}" alt="{{ 'Entity.AddToFavorites'|trans }}" />
                            </a>-->
                {% endif %}
                <span class="description">
                    {{ entity.image.description }}
                    {% if entity.source is not empty %}
                        <span class="source">{{ 'Entity.Source'|trans }}: {{ entity.source }}</span>
                    {% endif %}
                </span>
            </div>
        </div>

        {{ entity.body|raw }}

        <div class="b-share-buttons">
            <span class="small-title m-first">{{ 'Entity.SocialShare'|trans }}:</span>
            <span id="yandex-share"></span>
        </div>
    </div>

    <div class="b-comments{% if not is_granted('ROLE_USER') %} not-login{% endif %}" id="post-comments">
        <div class="commtents-header">
            {{ 'Entity.Comments'|trans }}

            {% if not is_granted('ROLE_USER') %}
                <div class="header-tooltip">
                    {{ 'comments_auth_require'|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}
                </div>
            {% endif %}
        </div>

        {% set comment_thread_id = app.request.locale ~ '_' ~ constant('Armd\\MkCommentBundle\\Model\\CommentInterface::SECTION_BLOGS') ~ '_' ~ entity.id %}
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment_thread_id } %}

        {% if not is_granted('ROLE_USER') %}
            <div class="b-user-not-login">
                {{ 'comments_auth_require'|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    The 'sidebar' block got left empty just for now.
    <br /><br />
    Linked Special Projects
    <br /><br />
    Related content (by tags)

    <!--
    <div class="popular-container">
        {% render 'BlogBundle:Default:popular' %}
    </div>
    -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>

    <script type="text/javascript">
        $(function(){
            new Ya.share({
                element: 'yandex-share',
                l10n: {% if app.request.locale == 'ru' %}'ru'{% else %}'en'{% endif %},
                elementStyle: { 'type': 'none', 'border': false, 'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']},
                link: '{{ url('view_blog', { 'id': entity.id }) }}',
                title: '{{ entity.title }}',
                description: '{{ entity.announce|replace({"\n":'',"\r":''})|striptags }}'
            });

            $('#search-form').bind('submit', function(event){
                if ($('#search-this-section').prop('checked')) {
                    event.preventDefault();
                    window.location = Routing.generate('armd_news_list_index_by_category', {'search_query': $('#search-txt').val()})
                }
            });
        });
    </script>
{% endblock %}