<article>
    <div class="teaser-thumb">
        <img alt="{{ item.title|escape }}" src="{% path item.image, 'list' %}" />
    </div>
    <!--
    <div class="tn-list-image-wrap" style="display: inline-block;">
        {% if item.image %}
            <img class="tn-list-image" src="{% path item.image, 'list' %}" alt="{{ item.title|escape }}">
        {% else %}
            <img class="tn-list-image" src="/img/temp_125_125.png" alt="">
        {% endif %}
    </div>
    -->
    <!--
    <div class="tn-list-text" style="display: inline-block;">
        <h3><a href="{{ path('armd_news_item_by_category', {'id': item.id, 'category': item.category.slug }) }}" class="tn-list-title">{{ item.title }}</a></h3>
        <span class="tn-list-dates">{{ armd_news.news_date_short(item.newsDate) }}</span>
        <p>{{ item.announce|raw }}</p>
    </div>
    -->
    <header>
        <div class="b-post-info">
            <span class="date">{{ armd_news.news_date_short(item.newsDate) }}</span>
        </div>
    </header>
    <div class="teaser-content">
        <a class="desc-post-link" href="{{ path('armd_news_item_by_category', {'id': item.id, 'category': item.category.slug }) }}">{{ item.title }}</a>
        {{ item.announce|raw }}
    </div>
</article>