{% extends ':Frontend:new_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        /* */
    </style>
{% endblock %}

{% block title %}{{ "SpecialProjects"|trans }}{% endblock %}

{% block body %}
    <div class="b-post fullWidth overflowVisible positionRelative">
        <h1 class="hub-header-title">
            {{ "SpecialProjects"|trans }}
        </h1>

        <div id="sprojects-list-placeholder"></div>

        <div id="sprojects-showMore" title="{{ 'ShowMore'|trans }}"></div>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            var sprojects_placeholder = $('#sprojects-list-placeholder'),

                sprojects_appendCallback = function(html){
                    if (html.trim() !== '') {
                        sprojects_placeholder.append(html);
                    }
                },
                sprojects_replaceCallback = function(html){
                    if (html.trim() !== '') {
                        sprojects_placeholder.html(html);
                    }
                    else {
                        sprojects_placeholder.html('{{ 'SearchCategory.NotFound'|trans }}');
                    }
                },

                loadSprojects = function(callback){
                    var loadedItems = sprojects_placeholder.find('.sprojects-list-item'),

                        ajaxUrl = Routing.generate('damedia_sprojects_list'),
                        ajaxData = { };

                    ajaxData.loadedItemsCount = loadedItems.length;

                    $.post(ajaxUrl, ajaxData, function(html){
                        callback(html);
                    });
                };

            loadSprojects(sprojects_replaceCallback);

            /* Load more button action */
            $('#sprojects-showMore').on('click', function(){
                loadSprojects(sprojects_appendCallback);
            });
        });
    </script>
{% endblock %}