{% spaceless %}
{% if projects is not empty %}
    <div class="b-main-wrap b-block-main m-clear-both m-specialproject">
        <h2 class="dottedLine-full-title">
            <a href="{{ path('damedia_special_project_list') }}" class="noTextDecoration b-white-label">
                {{ 'Main.Widget.SpecialProject.Header'|trans }}
            </a>
        </h2>

        <div class="b-simple-slider">
            <div class="b-brand-icon"></div>
            <div class="b-main-slides">
                {% for item in projects %}
                    <div>
                        <a href="{{ path('damedia_special_project_view', {slug: item.slug}) }}" class="displayBlock b-special-project-mainpage-widget-block greyBackground">
                            <img src="{% path item.bannerImage, 'default' %}" alt="" />
                            <a href="{{ path('damedia_special_project_list') }}" class="e-project-goto">
                                {{ 'Main.Widget.SpecialProject.Goto'|trans }}
                            </a>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endspaceless %}