<div class="main-menu">
    {% for entity in entities %}
		{% set itemlink = cmsPath('armd_culture_area', 'item', {'id':entity.id}) %}

		<div class="main-menu-item">
			<a href="{{ itemlink }}" class="test">
				<img class="main-menu-item-img" src="{{ asset('bundles/armdmkresources/img_index/photo' ~ entity.id ~ '.jpg') }}" />
				<span class="main-menu-item-shadow"></span>
				<span class="main-menu-item-border"></span>
			</a>
			<a href="{{ itemlink }}" class="main-menu-item-info">
				<span class="item-info-title">{{ entity.title|raw }}</span>
				<span class="item-info-text">{{ entity.announce|raw }}</span>
			</a>
		</div>
    {% endfor %}
</div>