
<ul class="time-line-nav">
	{% for c in centuries %}
		<li id="cen_{{ c.value }}"><a href="#{{ c.name }}" class="smooth-scroll">{{ c.name }} век</a>
		<ul>
		{% set d = null %}
		{% for e in c.events %}
            {% set year = e.date|date('Y') %}
		    {% set decade = year - year % 10 %}
		    {% if decade != d and decade % 100 != 0 %}
    		    {% set d = decade %}
    		    <li><a href="#{{ d }}">{{ d }}</a></li>
            {% endif %}
		{% endfor %}
		</ul>
		</li>
	{% endfor %}
	</ul>