<div class="time-line-block">
	<div class="time-line-block-header">
		<span class="time-line-year">{{ event.year }} год</span>
		<span class="time-line-header-name">{{ event.title }}</span>
	</div>
	{% thumbnail event.image, "list" with {"class": "time-line-image"} %}
	<div class="time-line-block-text">
        <p>{{ event.body|raw }}</p>
	</div>

	{% if event.accidents is empty %}
	{% else %}
		<p class="to_expand_handler"><a href="#">развернуть</a></p>
		<div class="to_expand_block" style="display:none">
		<div class="time-line-events">
		{%for a in event.accidents %}
			<div class="time-line-event">
				<h3>{{ a.year }} год</h3>
				<p>{{ a.announce|raw}}</p>
			</div>
		{% endfor %}	
		</div>
		</div>
	{% endif%}
</div>
