<div class="time-line-left">
    {% set d = null %}	
	{% for e in events %}
		{% if loop.index is odd %}
            {% set year = e.date|date('Y') %}
		    {% set decade = year - year % 10 %}
		    {% if decade != d and decade % 100 != 0 %}
    		    {% set d = decade %}
                <a name="{{ d }}" id="{{ d }}" class="decade-sector"></a>
		    {% endif %}
            {% include "ArmdChronicleBundle:Event:event.html.twig" with {"event": e} %}
		{% endif %}
	{% endfor %}
</div>

<div class="time-line-right">
	{% if accidents %}
	<div class="time-line-events" id="time-line-events">
		<div class="time-line-events-header">
			В мире
		</div>
		{% for a in accidents %}
    		{% if loop.index == 3 %}
                {% set expanded = true %}
        		<p class="to_expand_handler"><a href="#">все события</a></p>
        		<div class="to_expand_block" style="display:none">    		
    		{% endif %}		
    		<div class="time-line-event">
        		<h3>{{a.date|date('Y')|abs}} год</h3>
    			<p>{{a.announce|raw}}</p>
    		</div>
    		{% if loop.last and expanded %}
    		    </div>
    		{% endif %}
		{% endfor %}
    </div>
	{% endif %}    
	
	{% for e in events %}
		{% if loop.index is even %}
            {% set year = e.date|date('Y') %}
		    {% set decade = year - year % 10 %}
		    {% if decade != d and decade % 100 != 0 %}
    		    {% set d = decade %}		    
                <a name="{{ d }}"></a>
		    {% endif %}		
            {% include "ArmdChronicleBundle:Event:event.html.twig" with {"event": e} %}
		{% endif %}
	{% endfor %}
</div>
