{% extends '::base.html.twig' %}

{% block title %} — Виртуальные музеи{% endblock %}

{% block stylesheets %}
<link href="{{ asset('main/common/css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />
{{ parent() }}
{% endblock %}

{% block body%}
<div class="title-block timeline-title">
    <h2>Виртуальные музеи</h2>
</div>
<div class="obrazy virt-museums">
    <form action="" class="obr-form">
    	<div class="obr-text-input">
    		<input type="text" name="search" id="search_text" value="Поиск по музеям" />
    	</div>
    	<input type="submit" class="obr-submit-input" value="" />
    </form>
	<div class="rusObr-block">
		<ul class="rusObr-list clearfix">	
		{% for m in museums %}{% if loop.first %}{% else %}-->{% endif %}<li>
				<div class="rusObr-list-one-wrap" style="" >
					<div  class="rusObr-list-one">
						<a href="{{ m.url }}" data-fancybox-type="iframe" class="vob iframe">{% thumbnail m.image, 'billboard' %}</a>
						<div class="rusObr-list-text">
							<a href="{{ m.url }}" data-fancybox-type="iframe" class="vob iframe rusObr-list-header">{{ m.title|raw }}</a>
                        </div>
					</div>
				</div>
				 
			</li>{% if loop.last %}{% else %}<!--{% endif %}{% endfor %}
		</ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('/main/common/js/function.js') }}"></script>
<script src="{{ asset('/swf/swfobject/swfkrpano.js') }}"></script>
<script type="text/javascript">
	$(function(){
		var w=window,d=document,e=d.documentElement,g=d.getElementsByTagName('body')[0],x=w.innerWidth||e.clientWidth||g.clientWidth,y=w.innerHeight||e.clientHeight||g.clientHeight;
		
		if ($('.vob').length){    
			$('.vob').fancybox({
				'autoScale'  : false,
				'autoDimensions' : false,
				'padding':0,
				'margin':0,
				'fitToView':true
			});
		}
		
		$('.panoDIV').css({'width':x-18, 'height':y});
		console.log(x,y);
		
		$(".iframe").fancybox({
		'width' : '100%',
		'height' : '100%',
		'autoScale' : true,
		'transitionIn' : 'none',
		'transitionOut' : 'none',
		'type' : 'iframe'
		});		
	 })  
</script>
{% endblock %}