{% extends ':Frontend:new_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/new/jquery.ui.selectmenu.css') }}" />

    <style type="text/css">
        ul.hub-menu li a:hover {
            color: {{ palette_color_hex }};
        }
        .performances-search-category-submit:hover {
            color: #ffffff !important;
            background-color: {{ palette_color_hex }};
        }
    </style>
{% endblock %}

{% block title %}{{ 'Theater'|trans }}{% endblock %}

{% block body %}
    <div class="marginBottom100">
        <h1 class="b-left-title">
            {% if currentCategory == 'theaters' %}
                {{ 'Theaters'|trans }}
            {% elseif currentCategory == 'performances' %}
                {{ 'Performances'|trans }}
            {% else %}
                {{ 'TheatersAndPerformances'|trans }}
            {% endif %}
        </h1>

        {{ include('ArmdTheaterBundle:Default:hub_menu.html.twig', { 'palette_color': palette_color, 'currentCategory': currentCategory }) }}
    </div>

    {% if currentCategory == 'performances' or currentCategory is empty %}
        {% render 'ArmdPerfomanceBundle:Perfomance:mainpageWidget' %}

        <div class="b-performances-hub-section">
            <div class="theaters-counter top7">
                <span class="count">{{ performancesCount }}</span>
                <span class="text">{{ 'Counter.Performances'|trans }}</span>
            </div>

            {{ include('ArmdTheaterBundle:Default:performances_filters_section.html.twig', { 'theaters': theaters, 'genres': performancesGenres, 'theaterId': theaterId, 'genreId': genreId }) }}

            <div class="performances-list-holder"></div>

            <div id="performances-showMore" class="theaters-hub-showMore" title="{{ 'ShowMore'|trans }}"></div>
        </div>

        <div class="marginBottom100"></div>
    {% endif %}

    {% if currentCategory == 'theaters' or currentCategory is empty %}
        <div class="b-theaters-hub-section">
            <div class="theaters-counter">
                <span class="count">{{ theatersCount }}</span>
                <span class="text">{{ 'Counter.Theaters'|trans }}</span>
            </div>

            <div class="theaters-header-title header-text-medium">
                {{ 'Theaters'|trans }}
            </div>

            <div class="theaters-list-holder"></div>

            <div id="theaters-showMore" class="theaters-hub-showMore" title="{{ 'ShowMore'|trans }}"></div>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/new/jquery.ui.selectmenu.min.js') }}"></script>
    <script type="text/javascript">
        $(window).load(function(){
            var performances_placeholder = $('.performances-list-holder'),
                theaters_placeholder = $('.theaters-list-holder'),

                performances_showMoreButton = $('#performances-showMore'),
                theaters_showMoreButton = $('#theaters-showMore'),

                performances_filter_theater = $('#theaters'),
                performances_filter_genre = $('#genres'),

                performances_appendCallback = function(html){
                    if (html.trim() !== '') {
                        performances_placeholder.append(html);
                    }
                },
                performances_replaceCallback = function(html){
                    if (html.trim() !== '') {
                        performances_placeholder.html(html);
                    }
                    else {
                        performances_placeholder.html('{{ 'SearchCategory.NotFound'|trans }}');
                    }
                },

                theaters_appendCallback = function(html){
                    if (html.trim() !== '') {
                        theaters_placeholder.append(html);
                    }
                },
                theaters_replaceCallback = function(html){
                    if (html.trim() !== '') {
                        theaters_placeholder.html(html);
                    }
                    else {
                        theaters_placeholder.html('{{ 'SearchCategory.NotFound'|trans }}');
                    }
                },

                loadPerformances = function(callback){
                    var loadedItems = performances_placeholder.find('.performances-list-item'),
                        loadedIds = [],

                        selectedTheater = performances_filter_theater.val(),
                        selectedGenre = performances_filter_genre.val(),

                        ajaxUrl = Routing.generate('armd_performances_list'),
                        ajaxData = { 'selectedTheater': selectedTheater, selectedGenre: selectedGenre };

                    $.each(loadedItems, function(){
                        loadedIds.push($(this).attr('data-id'));
                    });

                    ajaxData.loadedIds = loadedIds;

                    $.post(ajaxUrl, ajaxData, function(html){
                        callback(html);
                    });
                },
                loadTheaters = function(callback, options){
                    var loadedItems = theaters_placeholder.find('.theaters-list-item, .theaters-list-item-big'),
                        loadedIds = [],

                        ajaxUrl = Routing.generate('armd_theaters_list'),
                        ajaxData = { };

                    if (options && options.cityId) {
                        ajaxUrl = Routing.generate('armd_theaters_list', {cityId: options.cityId});
                    }

                    if (options && options.categoryId) {
                        ajaxUrl = Routing.generate('armd_theaters_list', {categoryId: options.categoryId});
                    }

                    if (!options) {
                        $.each(loadedItems, function(){
                            loadedIds.push($(this).attr('data-id'));
                        });

                        ajaxData.loadedIds = loadedIds;
                    }

                    theaters_bindShowMoreAction('append');

                    $.post(ajaxUrl, ajaxData, function(html){
                        callback(html);
                    });
                },

                performances_bindShowMoreAction = function(){
                    performances_showMoreButton.on('click', function(){
                        loadPerformances(performances_appendCallback);
                    });
                },
                theaters_bindShowMoreAction = function(callbackType){
                    theaters_showMoreButton.off();
                    theaters_showMoreButton.on('click', function(){
                        if (callbackType === 'append') {
                            loadTheaters(theaters_appendCallback);
                        }
                        else { //replace
                            loadTheaters(theaters_replaceCallback);
                        }
                    });
                };

            /* Load initial set of random Performances */
            (function(){
                loadPerformances(performances_replaceCallback);
                loadTheaters(theaters_replaceCallback);
                theaters_placeholder.on('click', '.theaters-list-item > a.city, .theaters-list-item-big > a.city', function(event){
                    var cityId = $(this).attr('data-cityId');

                    event.preventDefault();
                    loadTheaters(theaters_replaceCallback, {cityId: cityId});
                    theaters_bindShowMoreAction('replace');
                });
                theaters_placeholder.on('click', '.theaters-list-item > a.category, .theaters-list-item-big > a.category', function(event){
                    var categoryId = $(this).attr('data-categoryId');

                    event.preventDefault();
                    loadTheaters(theaters_replaceCallback, {categoryId: categoryId});
                    theaters_bindShowMoreAction('replace');
                });

                performances_bindShowMoreAction();
                theaters_bindShowMoreAction('append');
            }());

            $('#theater_block').removeClass('b-main-wrap marginBottomImportant88').find('.b-button-wrapper').remove();

            /* Activate jQuery widgets for Performances filter selects. */
            $('select.uni').each(function(){
                $(this).selectmenu({
                    select: function(){
                        loadPerformances(performances_replaceCallback);
                    }
                });
            });
        });
    </script>
{% endblock %}