{% extends ':Frontend:new_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/new/jquery.ui.selectmenu.css') }}" />

    <style type="text/css">
        ul.hub-menu li a:hover {
            color: {{ palette_color_hex }};
        }
        .performances-search-category-submit:hover {
            color: #ffffff !important;
            background-color: {{ palette_color_hex }};
        }
    </style>
{% endblock %}

{% block title %}{{ 'Theater'|trans }}{% endblock %}

{% block body %}
    <div class="marginBottom100">
        <h1 class="b-left-title">
            {% if currentCategory == 'theaters' %}
                {{ 'Theaters'|trans }}
            {% elseif currentCategory == 'performances' %}
                {{ 'Performances'|trans }}
            {% else %}
                {{ 'TheatersAndPerformances'|trans }}
            {% endif %}
        </h1>

        {{ include('ArmdTheaterBundle:Default:hub_menu.html.twig', { 'palette_color': palette_color, 'currentCategory': currentCategory }) }}
    </div>

    {% if currentCategory == 'performances' or currentCategory is empty %}
        {% render 'ArmdPerfomanceBundle:Perfomance:mainpageWidget' %}

        <div class="b-performances-hub-section">
            <div class="theaters-counter">
                <span class="count">{{ performancesCount }}</span>
                <span class="text">{{ 'Counter.Performances'|trans }}</span>
            </div>

            {{ include('ArmdTheaterBundle:Default:performances_filters_section.html.twig', { 'theaters': theaters, 'genres': performancesGenres }) }}

            <div class="performances-list-holder">
                {{ include('ArmdTheaterBundle:Default:performances_list.html.twig', { }) }}
            </div>

            <div id="performances-showMore" title="{{ 'ShowMore'|trans }}"></div>
        </div>
    {% endif %}

    {#
    {% if currentCategory == 'theaters' or currentCategory is empty %}
        <div style="background-color: #d3d3d3; margin-top: 70px;">
            theaters list
        </div>
    {% endif %}
    #}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/new/jquery.ui.selectmenu.min.js') }}"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $('#theater_block').removeClass('b-main-wrap marginBottomImportant88').find('.b-button-wrapper').remove();

            /* Activate jQuery widgets for filter selects. */
            $('select.uni').each(function(){
                $(this).selectmenu({
                    select: function(){
                        alert('shit!');
                    }
                });
            });
            $('#performances-searchButton').on('click', function(){
                alert('filter!');
            });
            $('body').on('click', '.ui-selectgroup-list a, .ui-selectgroup-list a', function(event){
                var selectedOption = $(this),
                    value = selectedOption.attr('data-value'),
                    containerFor = selectedOption.parents('ul').attr('aria-labelledby');

                if (containerFor === 'ui-theaters') {
                    console.log('filterByTheater');
                }

                if (containerFor === 'ui-genres') {
                    console.log('filterByGenre');
                }
            });

            /* Show more button */
            $('#performances-showMore').on('click', function(){
                var itemsPlaceholder = $('.performances-list-holder'),
                    loadedItems = itemsPlaceholder.find('.performances-list-item'),
                    loadedIds = [],
                    ajaxUrl = Routing.generate('armd_performances_list'),
                    ajaxData = { };

                $.each(loadedItems, function(){
                    loadedIds.push($(this).attr('data-id'));
                });

                ajaxData.loadedIds = loadedIds;

                $.post(ajaxUrl, ajaxData, function(html){
                    if (html.trim() !== '') {
                        itemsPlaceholder.append(html);
                    }
                });

                /*

                    genreId = sectionWrapper.attr('data-genreId'),
                    genreSlug = sectionWrapper.attr('data-genreSlug'),
                    itemsPlaceholder = sectionWrapper.find('.movies-genre-section'),
                    ,
                    ajaxUrl = Routing.generate('armd_movies_genre_section_list', {genreId: genreId}),
                    firstLetter = $('.movies-alphabet-filter', sectionWrapper).find('span.active').attr('data-letter'),
                    ajaxData = {
                        genreSlug: genreSlug,
                        firstLetter: firstLetter,
                        limit: '{ limit }',
                        selectedGenreId: '{ selectedGenreId }',
                        tagId: '{ tagId }',
                        searchQuery: '{ searchQuery }',
                        extra: true
                    };



                ajaxData.loadedIds = loadedIds;

                $.post(ajaxUrl, ajaxData, function(html){
                    if (html.trim() !== '') {
                        itemsPlaceholder.find('.movies-genre-section-spacer:last').remove();
                        itemsPlaceholder.find('.movies-goto-section-button-holder').remove();
                        itemsPlaceholder.append(html);
                    }
                });
                */
            });
        });
    </script>
{% endblock %}