<div id="performances-search" class="search-category performances-search-category">
    <div class="marginRight50">
        <span class="marginRight8">
            {{ 'Filter'|trans }}:
        </span>
        <div class="performances-search-category-selects">
            <select name="theaters" id="theaters" class="uni">
                <option value="" selected>{{ "SearchCategory.Theater"|trans }}</option>
                {% for theater in theaters %}
                    <option value="{{ theater.id }}">{{ theater.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="performances-search-category-selects">
            <select name="genres" id="genres" class="uni">
                <option value="" selected>{{ "SearchCategory.Genre"|trans }}</option>
                {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="performances-searchButton" data-role="button" class="performances-search-category-submit displayInlineBlock {{ palette_color }}">
            {{ "search_category.show"|trans }}
        </div>
    </div>
</div>