{% extends ':Frontend:new_base.html.twig' %}

{% block title %}{{ entity.title|default(entity.title) }} &mdash; {{ parent() }}{% endblock %}
{% block meta_keywords %}{{ entity.seoKeywords|default('') }}{% endblock %}
{% block meta_description %}{{ entity.seoDescription|default('') }}{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ entity.title }}" />
    <meta property="og:description" content="{{ entity.description|striptags }}" />
    <meta property="og:site_name" content="{{ 'Portal title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    {% if entity.image is not empty %}
        <meta property="og:image" content="{% path entity.image, 'reference' %}" />
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!--
    OLD flexslider css!
    New is in "css/new/flexslider.css" but we can't use it right now because slider controls will break...
    -->
    <link rel="stylesheet" href="{{ asset('vendor/flexslider/flexslider.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/new/jquery.fancybox.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/new/jquery.easytabs.css') }}" />
    <style type="text/css">
        .theater-contacts a {
            color: {{ palette_color_hex }};
        }
        #imagesOfRussia-item-info-placeholder a {
            color: {{ palette_color_hex }};
        }
        .b-comments {
            margin: 0 !important;
        }
        .commtents-header {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="b-post marginBottom70">
        <h1 class="b-left-title">
            {{ 'Theater'|trans }}
        </h1>

        <div class="header-text-medium marginTop100 marginBottom10">
            {{ entity.title }}
        </div>

        <div class="theaters-item-image">
            <img src="{% path entity.image, 'item' %}" alt="{{ entity.title }}" />

            <div class="entity-image-footer">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if isInFavorites %}
                        {{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                            'palette_color': palette_color,
                            'palette_icon': palette_favoritesIconAdded,
                            'action': 'remove',
                            'text': 'Entity.RemoveFromFavorites'|trans
                        }) }}
                    {% else %}
                        {{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                            'palette_color': palette_color,
                            'palette_icon': palette_favoritesIcon,
                            'action': 'add',
                            'text': 'Entity.AddToFavorites'|trans
                        }) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {# Possibly there will be one more tab: Billboards #}
        <!--
        {% if billboards|length > 0 %}
            <div class="content-tab" id="c-tab3"  style="display:none;">
                <div class="sub-tabs">
                    {% for i, month in billboards %}
                        <a href="#s-tab{{ i }}" class="{{ loop.first ? 'active' : '' }}">{{ month[0].date|date('F')|trans }}</a>
                    {% endfor %}
                </div>
                {% for i, month in billboards %}
                    <div class="sub-tab" id="s-tab{{ i }}" {{ not loop.first ? 'style="display: none;"' : '' }}>
                        <table class="afisha-table">
                            {% for b in month %}
                                <tr>
                                    <td class="at-name">
                                        <b>{{ b.title }}</b>
                                    </td>
                                    <td class="at-day">
                                        {{ b.date|date('l')|trans }}
                                    </td>
                                    <td class="at-date">
                                        {{ b.date|date('F')|trans ~ ' ' ~ b.date|date('d, H:i') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        -->

        <div class="content-anons marginBottom70">
            <div id="tab-container" class="tab-container">
                <ul class='etabs'>
                    <li class='tab'><a href="#tabs1-description">{{ 'TheaterDescription.Description'|trans }}</a></li>
                    <li class='tab'><a href="#tabs1-performances">{{ 'TheaterDescription.Performances'|trans }}</a></li>
                    <li class='tab'><a href="#tabs1-address">{{ 'TheaterDescription.Address'|trans }}</a></li>
                    <li class='tab'><a href="#tabs1-comments">{{ 'TheaterDescription.Comments'|trans }}</a></li>
                </ul>
                <div class="panel-container">
                    <div id="tabs1-description">
                        {{ entity.description|raw }}
                    </div>

                    <div id="tabs1-performances">
                        {% render url('armd_performances_list_for_theater', { 'selectedTheater': entity.id }) %}
                    </div>

                    <div id="tabs1-address" class="positionRelative">
                        <div class="theater-contacts-map-wrap">
                            {% if entity.latitude and entity.longitude %}
                                <img src="http://static-maps.yandex.ru/1.x/?l=map&pt={{ entity.longitude }},{{ entity.latitude }},pm2blm&z=15&size=278,200" alt="" />
                            {% endif %}
                        </div>
                        <div class="theater-contacts-wrap">
                            <table class="theater-contacts">
                                <caption>
                                    {{ entity.title }}
                                </caption>

                                {% if entity.address %}
                                    <tr><td class="label">{{ 'TheaterDescriptionTable.Address'|trans }}:</td><td>{{ entity.address }}</td></tr>
                                {% endif %}

                                {% if entity.metro %}
                                    <tr><td class="label">{{ 'TheaterDescriptionTable.SubwayStation'|trans }}:</td><td>{{ entity.metro }}</td></tr>
                                {% endif %}

                                {% if entity.phone %}
                                    <tr><td class="label">{{ 'TheaterDescriptionTable.Phone'|trans }}:</td><td>{{ entity.phone }}</td></tr>
                                {% endif %}

                                {% if entity.ticketOfficeMode %}
                                    <tr><td class="label">{{ 'TheaterDescriptionTable.CashOperatingMode'|trans }}:</td><td>{{ entity.ticketOfficeMode }}</td></tr>
                                {% endif %}

                                {% if entity.email %}
                                    <tr><td class="label">{{ 'TheaterDescriptionTable.Email'|trans }}:</td><td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td></tr>
                                {% endif %}

                                {% if entity.url %}
                                    <tr><td class="label">{{ 'TheaterDescriptionTable.Website'|trans }}:</td><td><a href="{{ entity.url }}" target="_blank">{{ entity.url }}</a></td></tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>

                    <div id="tabs1-comments">
                        {{ include('ArmdMkCommentBundle:Default:placeholder.html.twig', { 'entity_type': 'theater', 'palette_background': palette_background }) }}
                    </div>
                </div>
            </div>

            <div class="b-share-buttons">
                <span class="small-title m-first">{{ 'Entity.SocialShare'|trans }}:</span>
                <span id="yandex-share"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div id="imagesOfRussia-item-info-placeholder" class="sidebar-bordered-block">
        <div class="header">
            {{ 'TheaterDescription.Header'|trans }}
        </div>
        <p>
            {% for category in entity.categories %}
                <span class="noWrap">
                    <a href="{{ path('armd_theaters_hub', { 'category': 'theaters', 'categoryId': category.id }) }}">{{ category.title }}</a>{{ not loop.last ? ', ' : '' }}
                </span>
            {% endfor %}
        </p>
        <p>{{ entity.address }}</p>
        <p>{{ entity.phone }}</p>
        <p><a href="{{ entity.url }}" target="_blank" class="external">{{ entity.url }}</a></p>
        {% if entity.director %}
            <p>{{ 'TheaterDescription.Director'|trans }}: <b class="noWrap">{{ entity.director }}</b></p>
        {% endif %}
    </div>

    {% if (entity.gallery and entity.gallery|length > 0) or (entity.mediaInterviews and entity.mediaInterviews|length > 0) %}
        {% if entity.mediaInterviews is not empty %}
            <div class="imagesOfRussia-item-sidebar-virtualTours">
                <div class="header-text-medium textAlignCenter paddingTopBottom20 sidebar-bordered-block marginBottom15">
                    {{ 'Interview'|trans }}
                </div>

                <div id="archive-slider" data-width="240" data-height="175">
                    <ul class="archiveSlides image-slider">
                        {% for i, video in entity.mediaInterviews %}
                            <li>
                                <a class="fancybox" rel="slider" href="#interview-{{ i }}">
                                    <img width="240" height="175" src="{{ video.providerMetadata.thumbnail_url }}" />
                                    <span class="play"></span>
                                </a>
                                <div class="period-block_text">
                                    <h4>{{ video.name }}</h4>
                                    <p>{{ video.description[:120] ~ (video.description|length > 120 ? '...' : '') }}</p>
                                </div>
                                <div class="imageCounter displayNone">
                                    {{ loop.index }} {{ 'search_of'|trans }} {{ entity.gallery.galleryHasMedias|length }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if entity.gallery and entity.gallery|length > 0 %}
            <div id="imageOfRussia-archiveGallery" class="imagesOfRussia-item-sidebar-archives positionRelative">
                <div class="header-text-medium textAlignCenter paddingTopBottom20 sidebar-bordered-block-noBottom height60">
                    {{ 'Gallery'|trans }}
                </div>
                <div class="archiveSlides-controls-wrapper positionAbsolute">
                    <div class="archiveSlides-controls">
                        <span></span>
                    </div>
                </div>
                <div id="archive-slider" data-width="240" data-height="175">
                    <ul class="archiveSlides image-slider">
                        {% for h in entity.gallery.galleryHasMedias %}
                            <li>
                                <a class="fancybox" rel="slider" href="{% path h.media, 'item' %}">
                                    <img width="240" height="175" src="{% path h.media, 'thumbnail' %}" />
                                </a>
                                <div class="imageCounter displayNone">
                                    {{ loop.index }} {{ 'search_of'|trans }} {{ entity.gallery.galleryHasMedias|length }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sidebar-bordered-block-noTop archive-slider-bottom-fix"></div>
            </div>
        {% endif %}
    {% else %}
        {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('js/new/jquery.fancybox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/damedia/addToFavorites.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/damedia/share.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/new/jquery.flexslider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/new/jquery.easytabs.min.js') }}"></script>

    <script type="text/javascript">
        $(window).load(function(){
            $('#tab-container').easytabs();

            DamediaShare.init({
                locale: '{{ app.request.locale }}',
                link: '{{ url('view_blog', { 'id': entity.id }) }}',
                title: '{{ entity.title }}',
                description: '{{ entity.description|replace({"\n":'',"\r":''})|striptags }}'
            });

            DamediaAddToFavorites.init({
                entityType: '{{ constant('Armd\\UserBundle\\Entity\\Favorites::TYPE_ATLAS') }}',
                entityId: '{{ entity.id }}',
                htmlReplacementForAdd: '{{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                    'palette_color': palette_color,
                    'palette_icon': palette_favoritesIconAdded,
                    'action': 'remove',
                    'text': 'Entity.RemoveFromFavorites'|trans
                }) }}',
                htmlReplacementForRemove : '{{ include('ArmdMainBundle:Generics:favoriteIcon.html.twig', {
                    'palette_color': palette_color,
                    'palette_icon': palette_favoritesIcon,
                    'action': 'add',
                    'text': 'Entity.AddToFavorites'|trans
                }) }}'
            });

            /* Sliders and Fancyboxes */
            $('.fancybox').fancybox({
                prevEffect: 'none',
                nextEffect: 'none'
            });

            $('.iframe').fancybox({
                'width': '100%',
                'height': '100%',
                'autoScale': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'type': 'iframe'
            });

            var archiveGallery = $('#imageOfRussia-archiveGallery'),
                archiveGallery_numeratorPlaceholder = archiveGallery.find('div.archiveSlides-controls > span');

            $('#archive-slider').flexslider({
                selector: '.archiveSlides > li',
                animation: 'slide',
                slideshow: false,
                start: function(flexsliderWrapper){
                    var controlsPlaceholder = archiveGallery.find('.archiveSlides-controls'),
                            navControls = flexsliderWrapper.find('ul.flex-direction-nav'),
                            counter = flexsliderWrapper.find('li.flex-active-slide .imageCounter').text(),
                            slideLeft = navControls.find('li:first'),
                            slideRight = navControls.find('li:last');

                    navControls.addClass('itemMainGallery');
                    slideLeft.addClass('slideLeftPurple');
                    slideRight.addClass('slideRightPurple');

                    archiveGallery_numeratorPlaceholder.text(counter);
                    navControls.detach().appendTo(controlsPlaceholder);
                },
                after: function(flexsliderWrapper){
                    var counter = flexsliderWrapper.find('li.flex-active-slide .imageCounter').text();

                    archiveGallery_numeratorPlaceholder.text(counter);
                }
            });
        });
    </script>
{% endblock %}