{% extends ':Frontend:layout_two_column.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content.collapsed{ height:200px; overflow:hidden; }
        .fancybox-video-wrapper iframe{ display:block; }
    </style>
{% endblock %}


{% block title %}{{ parent() }} — {{ 'Театры'|trans }}{% endblock %}

{% block page_header_title %}
    Театры
{% endblock %}

{% block page_header_search %}
    <div class="search-category wide-search">
    
        <form id="theater-filter" action="{{ path('armd_theater_list') }}" method="get">
            <span class="search-dates-label">Регион</span>
            <div class="search-category-selects">
                <select id="filter-city" class="uni" name="city">
                    <option value="0">все</option>
                    
                    {% for value in cityList %}
                        <option value="{{ value.id }}">{{ value.title }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <span class="search-dates-label">&nbsp;&nbsp;Категория</span>
            <div class="search-category-selects">
                <select id="filter-category" class="uni" name="category">
                    <option value="0">все</option>
                    
                    {% for value in categoryList %}
                        <option value="{{ value.id }}">{{ value.title }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <button id="lectures-filter-submit" type="submit" class="button search-dates-button">Показать</button>
        </form>
    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>Искать в текущем разделе</span></label>
    </div>
{% endblock %}


{#--------------------------------------------------------------------------------------------------------------------#}
{% block left_column %}
    <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li><a href="{{ path('armd_theater_list') }}">Театры</a></li>
        <li><span>{{ object.title }}</span></li>
    </ul>

    
    <div class="theatre-one">
        <section class="theatre-one-main clearfix">
            <h1>{{ object.title }}</h1>
            <div class="theatre-one-stats">
                <div class="theatre-tags">
                    {% for category in object.categories %}                      
                        <span style="white-space: nowrap;">
                            <a href="{{ path('armd_theater_list', { 'category': category.id }) }}" data-category-id="{{ category.id }}">{{ category.title }}</a>
                            {{ not loop.last ? ', ' : '' }}
                        </span>
                    {% endfor %}                   
                </div>
                <div class="theatre-stats-contacts">
                    <p>
                        {{ object.address }}<br />
                        {{ object.phone }}<br />
                        <a href="{{ object.url }}" target="_blank" class="external">{{ object.url }}</a>
                    </p>
                </div>
                {% if object.director %}
                <div class="theatre-stats-head">
                    <p>
                        Художественный руководитель,<br />директор театра: 
                        <b>{{ object.director }}</b>
                    </p>
                </div>
                {% endif %} 
            </div>
            <div class="theatre-one-image">
                <img src="{% path object.image, 'item' %}" alt="" />                                        
            </div>
            
        </section>    
        {#<div class="theatre-one-description">
            {{ object.description|raw }}
        </div>#}
        <div id="content-collapsed" class="theatre-one-description content {% if object.description is not empty %}collapsed{% endif %}">
            {{ object.description|raw }}
        </div>
        {% if object.description is not empty %}
            <div class="more more3">
                <p><a href="#">{{ "read_more"|trans }}</a></p>
            </div>
        {% endif %}        
        
        <div class="content-tabs">
            {% if object.performances|length > 0 %}
                <a href="#c-tab1" class="active">Спектакли театра</a>
            {% endif %}
                
            <a href="#c-tab2" {{ object.performances|length > 0 ? '' : 'class="active"' }}>Как нас найти</a>
            
            {% if billboards|length > 0 %}
                <a href="#c-tab3">афиша</a>
            {% endif %}
            <a href="#c-tab4">Оставить комментарий</a>
        </div>
            
        {% if object.performances|length > 0 %}    
            {# Спектакли театра  #}
            <div class="content-tab" id="c-tab1">
                <div id="performance-container" class="plitka perfomances-list">
                    {% render url('armd_theater_performance_list_data', { 'theater_id': object.id, 'limit': 12 }) %}
                </div>
                {% if object.performances|length > 12 %}
                    <div id="lecture-more-container" class="more more2">
                        <p><a id="show-more" href="#">Ещё спектакли</a></p>
                    </div> 
                {% endif %}

            </div>
        {% endif %}
            
        {# Контакты #}
        <div class="content-tab" id="c-tab2" {{ object.performances|length > 0 ? 'style="display: none"' : '' }}>
            <div class="theater-contacts-map-wrap">
                <div class="theater-contacts-map">
                    {% if object.latitude and object.longitude %}
                        <!--<img src="http://maps.googleapis.com/maps/api/staticmap?markers=55.760169,37.618645&zoom=16&size=278x200&sensor=false" alt="" />-->
                        <img src="http://static-maps.yandex.ru/1.x/?l=map&pt={{ object.longitude }},{{ object.latitude }},pm2blm&z=15&size=278,200" alt="" />
                    {% endif %}
                </div>
            </div>
            <div class="theater-contacts-wrap">
                <table class="theater-contacts">
                    <caption>{{ object.title }}</caption>
                    {% if object.address %}
                    <tr>
                        <td class="label">
                            Адрес: 
                        </td>
                        <td>
                            {{ object.address }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.metro %}
                    <tr>
                        <td class="label">Метро:</td>
                        <td>{{ object.metro }}</td>
                    </tr>
                    {% endif %}
                    {% if object.phone %}
                    <tr>
                        <td class="label">Телефон:</td>
                        <td>{{ object.phone }}</td>
                    </tr>
                    {% endif %}
                    {% if object.ticketOfficeMode %}
                    <tr>
                        <td class="label">Режим работы кассы:</td>
                        <td>{{ object.ticketOfficeMode }}</td>
                    </tr>
                    {% endif %}
                    {% if object.email %}
                    <tr>
                        <td class="label">Email:</td>
                        <td><a href="mailto:{{ object.email }}">{{ object.email }}</a></td>
                    </tr>
                    {% endif %}
                    {% if object.url %}
                    <tr>
                        <td class="label">Сайт:</td>
                        <td><a href="{{ object.url }}" target="_blank">{{ object.url }}</a></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        
        {# Афиша #}
        {% if billboards|length > 0 %}
            <div class="content-tab" id="c-tab3"  style="display:none;">
                <div class="sub-tabs">
                    {% for i, month in billboards %}
                        <a href="#s-tab{{ i }}" class="{{ loop.first ? 'active' : '' }}">{{ month[0].date|date('F')|trans }}</a>
                    {% endfor %}               
                </div>
                {% for i, month in billboards %}
                    <div class="sub-tab" id="s-tab{{ i }}" {{ not loop.first ? 'style="display: none;"' : '' }}>
                        <table class="afisha-table">
                            {% for b in month %}
                                <tr>
                                    <td class="at-name">
                                        <b>{{ b.title }}</b>
                                        <!--<i>Драматические спектакли</i>-->        
                                    </td>
                                    <td class="at-day">
                                        {{ b.date|date('l')|trans }}
                                    </td>
                                    <td class="at-date">
                                        {{ b.date|date('F')|trans ~ ' ' ~ b.date|date('d, H:i') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}                      
            </div>
        {% endif %}
        
        {# Комментарий #}
        <div class="content-tab" id="c-tab4"  style="display:none;">           
            <div class="more-comments-show">
                <div class="comments comments-gray clearfix">
                    {% set comment_thread_id = app.request.locale ~ '_theater_' ~ object.id %}
                    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment_thread_id } %}

                    {% if not is_granted('ROLE_USER') %}
                        <div class="comments-auth-block">
                            <p>{{ "comments_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
                            {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>                          
        <div class="back-link"><p><a href="{{ referer }}">Назад</a></p></div>
        <div class="event-one_footer clearfix">
            <div href="#" class="publish-links"> <a href="#"></a> Опубликовать в социальных сетях: <span id="yandex-share"></span></div>
        </div>            
    </div>
{% endblock %}

{#--------------------------------------------------------------------------------------------------------------------#}
{% block right_column %}

    {# % render url('armd_news_memorial_events') % #}
    {# % render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) % #}
    {% if object.interviews|length > 0 or object.gallery|length > 0 %}
        {% if object.interviews|length > 0 %}
            <div class="orange-slider-block orange-slider-first">
                <h3 class="o-slider-header">{{ "Interview"|trans }}</h3>
                <div class="flexslider">
                    <ul class="slides">
                        {% for i, video in object.interviews %}
                            <li>
                                <article class="period-block">
                                    <a href="#interview-{{ i }}" class="period-block_image fancybox">
                                        <img width="306" height="179" src="{{ video.image }}"  />
                                        <span class="play"></span>
                                    </a>
                                    <div class="period-block_text">
                                        <h4>{{ video.title }}</h4>
                                        <p>{{ video.description }}</p>
                                    </div>

                                </article>
                            </li>                        
                        {% endfor %}
                    </ul>            
                </div>
            </div> 
            {% for i, video in object.interviews %}
                <div id="interview-{{ i }}" style="display: none;">
                    <div class="fancybox-video-wrapper" style="width:640px; height:365px;">
                        {{ armd_tvigle_video_player(video, 640, 360)|raw }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if object.gallery and object.gallery|length > 0 %}
            <div class="orange-slider-block">
                <h3 class="o-slider-header">{{ "Photo gallery"|trans }}</h3>
                <div class="flexslider">              
                    <ul class="slides">
                        {% for image in object.gallery.galleryHasMedias %}
                            <li>
                                <article class="period-block">
                                    <a href="{% path image.media, 'item' %}" rel="images_group" class="period-block_image in-fancybox">
                                        <img width="306" height="179" src="{% path image.media, 'thumbnail' %}"  />
                                    </a>
                                    <div class="period-block_text">
                                        {% if image.media.name %}<h4>{{ image.media.name }}</h4>{% endif %}   
                                        {% if image.media.description %}<p>{{ image.media.description }}</p>{% endif %}   
                                    </div>
                                </article>
                            </li>                               
                        {% endfor %}               
                    </ul>            
                </div>
            </div>
        {% endif %}
    {% else %}
        {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdtheater/js/theater_item.js') }}"></script>
    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript">
        
        function initSocialShare() {
            new Ya.share({
                element: 'yandex-share',
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                link: '{{ url('armd_theater_item', { 'id': object.id }) }}',
                title: '{{ object.title }}'
            });
        }        
        
        $(function () {
            
            $('.more3').click(function(){
                $('#content-collapsed').removeClass('collapsed');
                $(this).hide();
                return false;
            });     
            
            armdMkTheaterItem.init({{ object.id }}); 
            initSocialShare();       
        });
    </script>
{% endblock %}