{% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}

<h1 class="main-news-title">Новости</h1>
{% for entity in entities %}
	{% set itemlink = cmsPath('armd_news', 'listitem', {'id' : entity.id}) %}
	{% set date = entity.date|localDate("d F / Y") %}
	{% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}

	{% if loop.first %}
		<div class="main-feat-news">
            <div class="main-feat-news-img">
                <a href="{{ itemlink }}">{% thumbnail entity.image, 'small' %}</a>
            </div>
            
            <div class="main-feat-news-text-noimg {% if entity.image %}main-feat-news-text{% endif %}">
                <div class="main-feat-news-date">
                    <span>{{ date }}</span>
                </div>
                <h1>
                    <a href="{{ itemlink }}">{{ entity.title|raw}}</a>
                </h1>
                <div class="main-feat-news-anons">
                    {{ entity.announce|raw}}
                    <a class="main-news-lnk-more" href="{{ itemlink }}"></a>
                </div>    
            </div>
		</div>
	{% else %}
		{% if loop.index == 2 %}
			<div class="main-news-list">
		{% endif %}
                <div class="main-news-list-item">
                    <div class="main-news-list-item-date">
                        <span>{{ date }}</span>
                    </div>
                    <h2>
                        <a href="{{ itemlink }}">{{ entity.title|raw}}</a>
                    </h2>
                    <div class="main-news-list-item-descr">
                        <a class="main-news-list-item-descr-text" href="{{ itemlink }}">{{ entity.announce|raw}}</a>
                        <a href="{{ itemlink }}" class="main-news-lnk-more"></a>
                    </div>
                </div>
		{% if loop.last %}
			</div>
			
		{% endif %}
    {% endif %}
{% endfor %}
<div class="main-bottom-links">
        <a href="/ru/press/news" class="main-bottom-links-a"><span class="main-news-lnk-more"></span><span class="main-bottom-links-a-span">Все новости</span></a>
    </ul>
</div>