{% extends '::base.html.twig' %}

{% block body %}
    <h1>Proposals edit</h1>

    <form action="{{ path('cp_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('cp') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('cp_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

    <div id="fos_comment_thread" data-thread="{{ thread.id }}">

    {% include 'ArmdCommunicationPlatformBundle:Thread:comments.html.twig' with {
        'comments': comments,
        'thread': thread
    } %}

    </div>

{% endblock %}

{% block javascripts %}
     <script src="{{ asset('bundles/sonatajquery/jquery-1.7.1.js') }}"></script>

    {% javascripts '@FOSCommentBundle/Resources/assets/js/comments.js' %}
    <script type="text/javascript" src="{{ asset_url }}">
        var fos_comment_thread_id = '{{ path('fos_comment_get_thread_comments', {'id': thread.id}) }}';
    </script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}
