{% extends '::cp.html.twig' %}

{% block body %}
    <div class="communication-platform">
        <div class="nav-panel">
    	    <nav class="main-btns">
        	    <ul>
                    <li class="active"><a href="#">Открытое правительство</a></li>
                    <li><a href="#">Народный контроль</a></li>
                    <li><a href="#">Культура России</a></li>
                </ul>
            </nav>
            <nav class="action-btns tabs">
       	        <ul>
                    <li class="add"><a class="current" href="{{ path('cp_new') }}"><b><span></span>Добавить свою запись</b></a></li>
                    <li class="read"><a href="{{ path('cp') }}"><b><span></span>Почитать других</b></a></li>
                </ul>
            </nav>
        </div><!-- /nav-panel-->

        <div class="cols clearfix">
    	    <div class="col-1">
                <div class="panes">
                	<div class="pane" id="add">
                        <div class="add-post">
                            <form action="{{ path('cp_create') }}" method="post" {{ form_enctype(form) }}>
                                <div class="row">
                                    <div class="label">Заголовок</div>
                                    <div class="full-width">{{ form_widget(form.title) }}</div>
                                    <div>{{ form_errors(form.title) }}</div>
                                </div>
                                <div class="row">
                                    <div class="label">Текст</div>
                                    <div>{{ form_widget(form.content) }}</div>
                                    <div>{{ form_errors(form.content) }}</div>
                                </div>
                                <div class="row">
                                    <div class="label">Тема</div>
                                    <div>{{ form_widget(form.topic) }}</div>
                                    <div>{{ form_errors(form.topic) }}</div>
                                </div>
                                <div class="row">
                                    <label>
                                        {{ form_widget(form.enabled) }}
                                        Опубликовать
                                    </label>
                                    <div>{{ form_errors(form.enabled) }}</div>
                                </div>

                                <div class="row">
                                    <label class="tags">Теги: <input type="text" class="tags"></label>
                                </div>

                                <div class="send">
                                    <input type="submit" class="btn" value="Отправить">
                                </div>
                            </form>
                        </div><!-- /add-post-->
                    </div>
                </div>
            </div>

            <div class="col-2 sidebar">
                <div class="tags">
                    <h4><span></span>Теги</h4>
                    <nav>
                    	<ul>
                            <li class="t1"><a href="#">усадьбы<sup>3</sup></a></li>
                            <li class="t2"><a href="#">библиотеки<sup>32</sup></a></li>
                            <li class="t1"><a href="#">снос зданий<sup>1</sup></a></li>
                            <li class="t2"><a href="#">законопроект<sup>50</sup></a></li>
                            <li class="t4"><a href="#">театр<sup>102</sup></a></li>
                            <li class="t1"><a href="#">культурный<sup>3</sup></a></li>
                        </ul>
                    </nav>
                </div><!-- /tags-->

            </div><!-- /col-2-->

        </div><!-- /statistic-->

    </div><!-- /communication-platform-->
{% endblock %}
