{% extends '::base.html.twig' %}

{% block body %}
    <h1>Proposals</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Countcomments</th>
                <td>{{ entity.getThread().getNumComments() }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('cp') }}">
                Back to the list
            </a>
        </li>
        {% if is_granted('EDIT', entity) %}
            <li>
                <a href="{{ path('cp_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
        {% endif %}
        {% if is_granted('DELETE', entity) %}
            <li>
                <form action="{{ path('cp_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endif %}
    </ul>

    <div id="fos_comment_thread" data-thread="{{ thread.id }}">

        {% block armd_comment_object_metas_voting %}
            <div class="fos_comment_comment_voting">
                {% if fos_comment_can_object_vote(entity) %}
                    <button data-url="{{ url("fos_comment_new_vote_object_thread_votes", {"id": entity.getVoteObjectThread().getId(), "value": 1}) }}" class="fos_comment_comment_vote">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_voteup{% endtrans %}</button>
                    <button data-url="{{ url("fos_comment_new_vote_object_thread_votes", {"id": entity.getVoteObjectThread().getId(), "value": -1}) }}" class="fos_comment_comment_vote">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_votedown{% endtrans %}</button>
                {% endif %}
                <div class="fos_comment_comment_score" id="armd_comment_score_{{ entity.getVoteObjectThread().getId() }}">{% include "FOSCommentBundle:Thread:comment_votes.html.twig" with { 'commentScore': entity.getVoteObjectThread().score } %}</div>
            </div>
        {% endblock armd_comment_object_metas_voting %}

        {% include 'FOSCommentBundle:Thread:comments.html.twig' with {
            'comments': comments,
            'thread': thread
        } %}

    </div>

{% endblock %}

{% block javascripts %}
     <script src="{{ asset('bundles/sonatajquery/jquery-1.7.1.js') }}"></script>

    {% javascripts '@FOSCommentBundle/Resources/assets/js/comments.js' %}
    <script type="text/javascript" src="{{ asset_url }}">
        var fos_comment_thread_id = '{{ path('fos_comment_get_thread_comments', {'id': thread.id}) }}';
    </script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}