{% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}
<style>
body {  
    background: url("{{ asset('bundles/armdmkresources/img/bg.jpg') }}") no-repeat scroll 50% -500px #FFFFFF;
    position: relative;
}

#content-i .box-title-official {
    border-bottom: 2px solid #7A7A7A;
    font-size: 1.2em;
}

.main-feat-news {
    background: url("../img_index/dotted-bg.gif") repeat-x scroll 0 bottom transparent;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}

.main-feat-news-img {
    float: left;
}

.main-feat-news-text {
    margin-left: 110px;
}


.main-news-list-item-descr-text {
    color: #535353;
    font-size: 100%;
    text-decoration: none;
}

.main-news-list-item-descr-text:hover {
    text-decoration: underline;
}

.main-feat-news-date {
    margin-bottom: 5px;
    padding-top: 4px;
    font-size: 0.8em;
}


.main-feat-news-date span {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 3px;
    vertical-align: middle;
}

.main-feat-news-text h1, .main-feat-news-text-noimg h1 {
    color: #000000;
    font-size: 133.3%;
    padding-bottom: 3px;
}

.main-feat-news-anons {
    color: #3B3B3B;
    font-size: 100%;
}

.main-news-list-item-img {
    float: left;
}

.main-news-list-item {
    margin-bottom: 25px;
    overflow: hidden;
}

.main-news-list-item-date-margin {
    margin-left: 110px;
}

.main-news-list-item-date {
    margin-bottom: 7px;
    font-size: 0.8em;
}

.main-news-list-item-date span {
    background: none repeat scroll 0 0 #C3C3C3;
    color: #FFFFFF;
    font-size: 100%;
    padding: 0 3px;
}

.main-news-list-item h2 {
    font-size: 116.7%;
    margin-bottom: 10px;
}

.main-bottom-links {
    border-top: 1px solid #D4D4D4;
    float: right;
    padding: 10px 0 0;
    width: 215px;
}

.official-wrapper-news .main-news-list-item h2, .official-wrapper-news .main-feat-news-text h1, .main-feat-news-text-noimg h1 {
    font-size: 1.5em;
}

.main-bottom-links-a {
    color: #3D3D3D;
    display: block;
    text-align: right;
    text-decoration: none;
}

.main-news-lnk-more {
    background: url("../img_index/arrow-right-main.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 8px;
    width: 5px;
}

.main-bottom-links-a-span {
    border-bottom: 1px solid #9E9E9E;
    display: inline-block;
    margin-left: 4px;
}

</style>
<div class="official-wrapper-news">
    <div class="box-title section-title box-title-official">Новости</div>
    {% for entity in entities %}
        {% set itemlink = cmsPath('armd_news', 'listitem', {'id' : entity.id}) %}
        {% set date = entity.date|localDate("d F / Y") %}
        {% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}

        {% if loop.first %}
            <div class="main-feat-news">
                <div class="main-feat-news-img">
                    <a href="{{ itemlink }}">{% thumbnail entity.image, 'small' %}</a>
                </div>
                
                <div class="main-feat-news-text-noimg {% if entity.image %}main-feat-news-text{% endif %}">
                    <div class="main-feat-news-date">
                        <span>{{ date }}</span>
                    </div>
                    <h1>
                        <a href="{{ itemlink }}">{{ entity.title|raw}}</a>
                    </h1>
                    <div class="main-feat-news-anons">
                        <a class="main-news-list-item-descr-text" href="{{ itemlink }}">{{ entity.announce|raw}}</a>
                    </div>    
                </div>
            </div>
        {% else %}
            {% if loop.index == 2 %}
                <div class="main-news-list">
            {% endif %}
                     <div class="main-news-list-item-img">
                            <a href="{{ itemlink }}">{% thumbnail entity.image, 'small' %}</a>
                     </div>
                    <div class="main-news-list-item {% if entity.image %} main-news-list-item-date-margin {% endif %}">
                        <div class="main-news-list-item-date ">
                            <span>{{ date }}</span>
                        </div>
                        <h2>
                            <a href="{{ itemlink }}">{{ entity.title|raw}}</a>
                        </h2>
                        <div class="main-news-list-item-descr">
                            <a class="main-news-list-item-descr-text" href="{{ itemlink }}">{{ entity.announce|raw}}</a>
                            <a href="{{ itemlink }}" class="main-news-lnk-more"></a>
                        </div>
                    </div>
            {% if loop.last %}
                </div>
                
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="main-bottom-links">
            <a href="/ru/press" class="main-bottom-links-a"><span class="main-news-lnk-more"></span><span class="main-bottom-links-a-span">Все новости</span></a>
        </ul>
    </div>
</div>    