{% extends ":Frontend:base.html.twig" %}

{% block page_header_title %}{{ 'Account'|trans }}{% endblock %}

{% block body %}
<ul class="breadcrumbs">
    <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
    <li><a href="{{ path('sonata_user_profile_show') }}">{{ 'Account'|trans }}</a></li>
    <li><span>{{ 'Profile'|trans }}</span></li>
</ul>

<div class="lk-form profile">
    <dl class="clearfix">
        <dt>
            <strong>{{ user.username }}</strong><br/>
            <em class="hint">{{ user.lastname }} {{ user.firstname }} {{ user.middlename }}</em>
        </dt>
        <dd>
            <p>{{ 'profile.check_email'|trans({'%email%': user.email}, 'FOSUserBundle')|raw }}</p>
        </dd>
    </dl>
</div>
{% endblock %}
