{% extends ":Frontend:base.html.twig" %}

{% block page_header_title %}{{ 'Account'|trans }}{% endblock %}

{% block body %}
<ul class="breadcrumbs">
    <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
    <li><a href="{{ path('sonata_user_profile_show') }}">{{ 'Account'|trans }}</a></li>
    <li><span>{{ 'Profile'|trans }}</span></li>
</ul>

<div class="lk-form profile">
    <dl class="clearfix">
        <dt>
            <strong>{{ user.username }}</strong><br/>
            <em class="hint">{{ user.lastname }} {{ user.firstname }} {{ user.middlename }}</em>
        </dt>
        <dd>
            <p>{{ 'profile.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle')|raw }}</p>
        </dd>
    </dl>
    
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.target_path') %}
        {% if targetUrl is not empty %}
        <div class="form-actions">
            <a class="button" href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
