{% extends ":Frontend:base.html.twig" %}

{% block page_header_title %}{{ 'Account'|trans }}{% endblock %}

{% block body %}
<ul class="breadcrumbs">
    <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
    <li><a href="{{ path('sonata_user_profile_show') }}">{{ 'Account'|trans }}</a></li>
    <li><span>{{ 'Сredentials'|trans }}</span></li>
</ul>

<div class="lk-form profile">
    <ul class="lk-menu">
        <li>
            <a href="{{ path('sonata_user_profile_edit') }}">{{ 'Profile'|trans }}</a>
        </li>
        <li class="active">
            <a href="{{ path('sonata_user_profile_edit_authentication') }}">{{ 'Сredentials'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">{{ 'Change password'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('armd_user_favorites') }}">{{ 'Favorites'|trans }}</a>
        </li>
    </ul>
    {% include 'ArmdUserBundle:Profile:edit_authentication_form.html.twig' %}
</div>
{% endblock %}
