{% extends ":Frontend:base.html.twig" %}

{% block page_header_title %}{{ 'Account'|trans }}{% endblock %}

{% block body %}
    {% spaceless %}

    <div class="sonata-user-show">
        <ul class="lk-menu green-lk-menu">
            <li><a href="{{ path('sonata_user_profile_edit') }}">{{ 'Profile'|trans }}</a></li>
            <li class="active"><a href="{{ path('sonata_user_profile_edit_authentication') }}">{{ 'Edit'|trans }}</a></li>
            <li><a href="{{ path('armd_atlas_user_objects') }}">{{ 'My objects'|trans }}</a></li>
        </ul>
    </div>

    <div class="login-page lk form">
        <div class="sonata-user-edit-authentication">
            <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
                {{ form_rest(form) }}
                <input type="submit" name="submit" value="{{ 'Submit'|trans }}"/>
            </form>
        </div>
    </div>
    {% endspaceless %}
{% endblock %}

