{% extends ":Frontend:base.html.twig" %}
{% import 'ArmdUserBundle:Profile:profile_menu.html.twig' as profileMenu %}

{% block page_header_title %}{{ 'Account'|trans }}{% endblock %}

{% block body %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('sonata_user_profile_show') }}">{{ 'Account'|trans }}</a></li>
        <li><span>{{ 'Profile'|trans }}</span></li>
    </ul>

    <div class="profile-wrap clearfix">
		<div class="profile-left">
			{{ profileMenu.user_profile_menu('profile-edit') }}
		</div>

		<div class="profile-right">
			<div class="profile-right-block clearfix">

				<div class="profile-help">
                    <div class="profile-help_icon">
                        <h3>Подсказка</h3>
                        <span></span>
                    </div>

                    <div class="profile-help_text profile-help_text_shift">
                        На этой странице вы можете отредактировать данные своего аккаунта. Поля отмеченные звездочкой обязательны для заполнения.
                        <span></span>
                    </div>
                </div>

				{% include 'ArmdUserBundle:Profile:edit_profile_form.html.twig' %}
			</div>
		</div>
    </div>
{% endblock %}
