{% extends ":Frontend:base.html.twig" %}
{% import 'ArmdUserBundle:Profile:profile_menu.html.twig' as profileMenu %}

{% block page_header_title %}{{ 'Account'|trans }}{% endblock %}

{% block body %}
<<<<<<< HEAD
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('sonata_user_profile_show') }}">{{ 'Account'|trans }}</a></li>
        <li><span>{{ 'Profile'|trans }}</span></li>
    </ul>

    <div class="lk-form profile">
        {{ profileMenu.user_profile_menu('profile-edit') }}
        {% include 'ArmdUserBundle:Profile:edit_profile_form.html.twig' %}
    </div>
{% endblock %}
