{% extends 'ArmdMainBundle:Project:index.html.twig' %}


{% set videos = [
    {
        'url':      '/lecture/view/109',
        'img':      '/img/religion_objects/video1.jpg',
        'title':    '"Рождественские песнопения". Большой детский хор "Голос России"',
    },
    {
        'url':      '/lecture/view/87',
        'img':      '/img/religion_objects/video2.jpg',
        'title':    'Рождественская оратория',
    }
] %}


{% block title %}{{ parent() }} — {{ 'Navigation.Traditions'|trans }}{% endblock %}

{% block page_header_title %}{{ 'Navigation.Traditions'|trans }}{% endblock %}

{% block content %}


	
        {% include "ArmdMainBundle:Traditions:icons.html.twig" %}
		{% include "ArmdMainBundle:Traditions:objects.html.twig" %}
        {% include "ArmdMainBundle:Traditions:centuries.html.twig" %}   
	
{% endblock %}

{% block right %}
	<section class="block">
		<section class="right-news-list-block">
			<h2>{{ 'Navigation.Borodino.Announcements'|trans }}</h2>
			{% include "ArmdMainBundle:Traditions:anonses.html.twig" %}
		</section>
	</section>		
	
	
	
	
	{% if videos %}
		
		
		<div class="right-video-block translations-block">
			<div class="flexslider">
				<ul class="slides">
					{% for v in videos %}
					<li>
						<article class="period-block">
							<h2>{{ v.title|raw }}</h2>
							<a href="{{ v.url }}" class="period-block_image">
								<img src="{{ v.img }}" alt=""  />
								<span class="play"></span>
							</a>
							<div class="period-block_text">
								<p>
									{{ v.title|raw }}
								</p>
							</div>
							<footer class="period-block_footer">
								<div class="tags">
									<a href="{{ v.url }}">Трансляции</a>
								</div>
							</footer>
							
						</article>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		
	{% endif %}
	
	
	<div class="title">
		<h2>{{ 'Navigation.Borodino.News'|trans }}</h2>
	</div>		
	<section class="block">
		<section class="right-news-list-block">
			<h2>{{ 'Navigation.Borodino.News'|trans }}</h2>
			{% include "ArmdMainBundle:Traditions:news.html.twig" %}
		</section>
	</section>		
	
	{% include "ArmdMainBundle:Traditions:interview.html.twig" %}
	

	<section class="block">
		<section class="right-news-list-block">
			<h2>{{ 'Navigation.Reports'|trans }}</h2>
	
	{% include "ArmdMainBundle:Traditions:reports.html.twig" %}

		</section>
	</section>	
	
{% endblock %}	    		

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function(){
            var armdMain = {
                initIcons: function() {
                    console.log('here');
                    $('#search_text').bind('focus', function () {
                        if ($(this).val() === 'Поиск...') {
                            $(this).val('');
                        }
                    });

                    $('#search_text').bind('blur', function () {
                        if ($(this).val().length == 0) {
                            $(this).val('Поиск...');
                        }
                    });
                }
            };

            $(function(){
                armdMain.initIcons();
            });
        })();
    </script>

{% endblock %}