{% macro interview_item(link, img, title, description) %}
		<a href="{{link}}"><img src="{{ asset(img|raw) }}" alt="" class="period-block_image" /></a>
		<div class="period-block_text">
			<p>
				<a href="{{link}}" class="period-block_name"><b>{{ title|raw }}</b></a>
				{{ description|raw }}
			</p>
		</div>
		
{% endmacro %}

{% set interviews = [	
					{		'link': '/press-centre/interviews/760/',
							'img': '/img/religion_objects/period_3.jpg',
							'title' : 'Александр Корноухов',
							'description':'«Камень… я просто за него держусь»'
					},
					 
				]%}
				



<section class="block">
						
	<article class="period-block period-interview-block ">
		<h2>{{ 'Interview'|trans }}</h2>
		{% for interview in interviews %}
			{{ _self.interview_item(interview.link, asset(interview.img), interview.title , interview.description) }}
		{% endfor %}	
		
	</article>
</section>	
