{% set news = [
    {
        'url':      '/press-centre/news/1696/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/08/thumb_7575_news_latest.jpeg',
        'title':    'Нижегородскому кремлю вернули первоначальный облик',
        'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/1585/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/08/thumb_7167_news_latest.jpeg',
        'title':    '«Вечевой колокол» стартует в Краснодаре',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/1527/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/07/thumb_6638_news_latest.jpeg',
        'title':    'Трагедия в четырех действиях развернется под стенами Астраханского кремля',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/1485/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/07/thumb_6388_news_latest.jpeg',
        'title':    'Преображенская церковь в Кижах стала выше',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/1426/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/07/thumb_6259_news_latest.jpeg',
        'title':    'Белгород встречает «Золотого витязя»',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/1304/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/06/thumb_5773_news_latest.jpeg',
        'title':    '1150 лет российской государственности отпразднуют в Новгороде под колокольный звон',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/945/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/03/thumb_2404_news_latest.jpeg',
        'title':    'Именитые художники палехской лаковой миниатюры отмечают 55-летие творческой деятельности',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/847/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/03/thumb_2314_news_latest.jpeg',
        'title':    'Иконы из драгоценных камней будут выставлены в Анапе',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/846/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/03/thumb_2313_news_latest.jpeg',
        'title':    'Колокольным звоном отметили в Алексеевском сразу три праздничные даты',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/839/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/03/thumb_2305_news_latest.jpeg',
        'title':    '«Троица Ветхозаветная» вернулась в Устюжну',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/811/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/02/thumb_1218_news_latest.jpeg',
        'title':    'Фестиваль живой музыки в Туве начался с открытия буддийского храма',
         'type': 'Буддизм',
		'type_color' : 'budd'
    },
	{
        'url':      '/press-centre/news/674/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/03/thumb_2138_news_latest.jpeg',
        'title':    'Петербург отметит 300-летие со дня закладки Петропавловского собора',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/669/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/03/thumb_2077_news_latest.jpeg',
        'title':    'Выставка «Россия в Святой Земле» открылась в московском «Манеже»',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/670/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/03/thumb_2093_news_latest.jpeg',
        'title':    'Шестого июня отмечается День русского языка',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/630/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_908_news_latest.jpg',
        'title':    '24 мая — День славянской письменности и культуры',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/631/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_909_news_latest.jpg',
        'title':    'Москва празднует День славянской письменности и культуры',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/626/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_834_news_latest.jpg',
        'title':    'Кинофестиваль «Золотой витязь» открылся в Омске',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/608/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_801_news_latest.jpg',
        'title':    'В Кузбассе появится десятиметровая статуя Спасителя',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/534/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_380_news_latest.jpg',
        'title':    'В Москве стартовал традиционный Пасхальный фестиваль',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/508/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_166_news_latest.jpg',
        'title':    'Художники украсят Храм Христа Спасителя к Пасхе',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/526/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_158_news_latest.jpg',
        'title':    'Телеканал «Культура» покажет фильм о Христе и Церкви',
         'type': 'Православие',
		'type_color' : 'orth'
    },
	{
        'url':      '/press-centre/news/542/',
        'img':      'http://culture.ru/ru/uploads/media/news/0001/01/thumb_28_news_latest.jpg',
        'title':    'Ново-Иерусалимский монастырь будет полностью воссоздан к 2016 году',
        'type': 'Православие',
		'type_color' : 'orth'
    }
    
] %}

{% macro news_item(url, title, img, type, type_color) %}	

	<li>
		<a href="{{ url|raw }}"><img src="{{ img }}" alt="" /></a>
		<div class="right-news-list-text">
			<span class="right-news-type {{type_color}}">{{ type }}</span>
			<a href="{{ url|raw }}" class="right-news-name">{{ title|raw }}</a>
			<p>
				{{ title|raw }}
			</p>
		</div>
	</li>
	
{% endmacro %}



<ul class="right-news-list">
	{% for n in news %}
		{{ _self.news_item(n.url, n.title, n.img, n.type, n.type_color) }}
	{% endfor %}
	
</ul>	

