{#
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Announce</th>
            <th>Date</th>
            <th>Source</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ entity.id }}">{{ entity.id }}</a></td>
            <td>
                {{ entity.title }}
                {{ entity.image }}
            </td>
            <td>{{ entity.announce }}</td>
            <td>{{ entity.date|date("d.m.Y") }}</td>         
            <td>
                <ul>
                    <li>
                        {{ cmsPath('armd_event', 'listitem', {'id' : entity.id}) }}
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
#}

{% for entity in entities %}
    {% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(5) ~ '.jpg') %}
    {% set w = random([150, 300, 450]) %}
    {% set h = random([150, 200, 250]) %}
    {% set tempPicUrl = asset('bundles/armdmkresources/upload/pic' ~ random(20) ~ '.jpg') %}
    <li style="width: {#{ w }#}px; margin: 0px auto;"><a class="lnk-calendar-0" href="{{ cmsPath('armd_event', 'listitem', {'id' : entity.id}) }}">
            <i>
                {% for schedule in entity.schedule %}
                    {{ schedule.beginDate|localDate("j F") }}
                    {% if schedule.endDate and (schedule.endDate|localDate("j F") != schedule.beginDate|localDate("j F")) %}
                        &mdash; {{ schedule.endDate|localDate("j F") }}
                    {% endif %}
                {% endfor %}
            </i>
            {#% thumbnail entity.image, 'small' %#}
            {#<img width="{{ w }}" height="{{ h }}" title="" alt="" src="{{ tempPicUrl }} "/>#}
            {% if entity.image %}
                <img {#width="{{ entity.image.width}}"  height="{{ entity.image.height }}"#} title="" class="collage-img" alt="" src="{% path entity.image, 'reference' %}"/>
            {% else %}
                <img width="" title="" alt="" src="{{ tempPicUrl }} "/>
            {% endif %}
            <strong>{{ entity.title|raw }}</strong>
            <dfn>{{ entity.announce|raw }}</dfn>
    </a></li>
{% endfor %}