{% macro getSettings(containers) %}
    {% import 'ArmdAdminBundle:macro:table.html.twig' as table %}
    {% import 'ArmdAdminBundle:macro:common.html.twig' as common %}
    {% import 'ArmdAdminBundle:macro:tabs.html.twig' as tabs %}

	{# other_logo #}
    {% set other_logo %}
        {{ table.create({'title': 'other_logo', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_search #}
    {% set other_search %}
        {{ table.create({'title': 'other_search', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_menu #}
    {% set other_menu %}
        {{ table.create({'title': 'other_menu', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_content_top #}
    {% set other_content_top %}
        {{ table.create({'title': 'other_content_top', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_header_bottom #}
    {% set other_header_bottom %}
        {{ table.create({'title': 'other_header_bottom', 'colspan': 3}, containers) }}
    {% endset %}

	{# other_left #}
    {% set other_left %}
        {{ table.create({'title': 'other_left', 'colspan': 3}, containers) }}
    {% endset %}
	
	{# other_right #}
    {% set other_right %}
        {{ table.create({'title': 'other_right', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_content #}
    {% set other_content %}
        {{ table.create({'title': 'other_content', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_footer_left #}
    {% set other_footer_left %}
        {{ table.create({'title': 'other_footer_left', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_footer_right #}
    {% set other_footer_right %}
        {{ table.create({'title': 'other_footer_right', 'colspan': 3}, containers) }}
    {% endset %}

    <div class="tab-content-blocks">
        {{ common.block(other_logo, {'class': 'block-half'}) }}
        {{ common.block(other_search, {'class': 'block-half'}) }}
        {{ common.block(other_menu, {'class': 'block-full'}) }}
        {{ common.block(other_content_top, {'class': 'block-full'}) }}
		{{ common.block(other_header_bottom, {'class': 'block-full'}) }}
		{{ common.block(other_left, {'class': 'block-third'}) }}
        {{ common.block(other_content, {'class': 'block-third'}) }}
		{{ common.block(other_right, {'class': 'block-third'}) }}
        {{ common.block(other_footer_left, {'class': 'block-half'}) }}
        {{ common.block(other_footer_right, {'class': 'block-half'}) }}
    </div>
{% endmacro %}