{% if entities %}

    <div id="featured" class="featured">
        <ul class="ui-tabs-nav">
            {% set length = entities|length is even ? entities|length : entities|length - 1 %}
            {% for n in entities|slice(0, length) %}
                <li class="ui-tabs-nav-item" id="nav-fragment-{{ loop.index }}">
                    <a href="#fragment-{{ loop.index }}">
                        <i>{{ n.category|raw }}</i>
                        <span>{{ n.title|raw }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% set length = entities|length is even ? entities|length : entities|length - 1 %}
        {% for n in entities|slice(0, length) %}
            {% set href = path('armd_news_item_by_category', {'id': n.id, 'category': n.category.slug }) %}
            <div id="fragment-{{ loop.index }}" class="ui-tabs-panel" style="">
                {#<img src="{% path n.image, 'eventsBillboard' %}">#}
                {% thumbnail n.image, 'eventsBillboard' %}
                <div class="info">
                    <div class="info-text">
                        <h2><a href="{{ href }}">{{ n.title|raw }}</a></h2>
                        <p>{{ n.announce|raw }} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}



