{% extends ':Frontend:layout_two_column.html.twig' %}

{% block page_header_title %}
    {% if categoryEntity is not empty %}
        {{ categoryEntity.title }}
    {% else %}
        {{ "Events"|trans }}
    {% endif %}
{% endblock %}

{% block page_header_search %}
<div class="search-dates">
    <span class="search-dates-label">{{ "Period"|trans }}:</span>

    <div class="dates-chooser">
        <a id="first-date" href="#">05.12.2011</a> <i class="dates-arrow">→</i> <a href="#" id="last-date">01.01.2012</a>

        <div id="datapicker"></div>
    </div>
    <a href="#" class="button search-dates-button">{{ "Show"|trans }}</a>
</div>
{% endblock %}

{% block search_query %}{{ searchQuery }}{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section" {% if searchQuery is not empty %}checked{% endif %}/><span>{{"Search_current_section"|trans}}</span></label>
        {#<label><input type="checkbox" name="check2" id="check2"/><span>Искать за выбранный период</span></label>#}
    </div>
{% endblock %}


{% block left_column %}
    <ul class="breadcrumbs" style="margin-bottom:20px">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        {% if categoryEntity %}
            <li><span>{{ categoryEntity.title }}</span></li>
        {% else %}
            <li><span>{{ 'menu.news_index'|trans }}</span></li>
        {% endif %}
    </ul>

    {% if category is sameas('news') or category is empty and searchQuery is empty %}
        {% render url('armd_news_billboard_slider') %}
    {% endif %}

    <div id="news-container">
        {% if searchQuery is empty %}
            {% render url('armd_news_two_column_list', {'limit': 50, 'category': category}) %}
        {% else %}
            {% render url('armd_news_text_search_result', {'limit': 30, 'search_query': searchQuery}) %}
        {% endif %}
    </div>

    <div class="more">
        <p>
            {% if categoryEntity %}
                {% set moreTitle = ("more_" ~ categoryEntity.slug)|trans %}
            {% else %}
                {% set moreTitle = "More events"|trans %}
            {% endif %}
            <a href="#" id="more-news">{{ moreTitle }}</a>
        </p>
    </div>
{% endblock %}


{% block right_column %}
    {% if category == 'articles' %}
        <div style="height:78px; font-size:0; line-height:0;"></div>
    {% else %}
        <div style="height:54px; font-size:0; line-height:0;"></div>
    {% endif %}
    
    {#{% render url('armd_news_memorial_events') %}#}

    {% render url('armd_atlas_related_objects', {'tags': {}, 'limit': 1}) %}

    {% if app.request.locale == 'ru' %}
        <div class="right-video-block">
            {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
        </div>
        <div class="right-video-block">
            {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/jquery.carouFredSel-6.2.1-packed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/news.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/news_slider.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            armdMkNews.init('{{ category }}');
            {% if searchQuery is not empty %}
                armdMkNews.initMoreButtonToLoadSearch();
            {% endif %}
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/armdnews/css/slider.css') }}" media="all" />
{% endblock %}