{% extends ':Frontend:base.html.twig' %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block stylesheets %}
	<link href="{{ asset('/css/print.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        window.onload = function() {
           window.print();
        }
    </script>
{% endblock %}

{% block page_header %}
    <div class="print-header">
        <table>
            <tr>
                <td class="print-header-logo">
                    <img src="{{ asset('/img/print-logo-new.png') }}" alt="" class="logo" />
                </td>
                <td>
                    <div class="print-header-title">
                        
                        <h2>События</h2>
                    </div>
                    <ul class="news-press-filter">
                        {% for cat in categories %}
                            <li>
                                <a href="{{ path('armd_news_item_by_category', { 'category':entity.category.slug, 'id':entity.id }) }}" class="{% if cat.slug == category %}active{% endif %}">
                                    {{ cat.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block body%}
    

    <div class="news-press clearfix">
        <div class="news-press-center">
            

            <div class="news-one text">
                <span class="news-one-date">
                   {{ armd_news.news_date(entity.newsDate) }}
                </span>

                <h1>{{ entity.title|raw }}</h1>

                {% if entity.image %}
                    <div class="news-one-image">
                        {% thumbnail entity.image, 'billboard' %}
                        {% if entity.image.copyright or entity.image.authorName %}
                            <p class="image-source">
                                {% if entity.image.copyright %}
                                    {{ entity.image.copyright }}{% if entity.image.authorName %},{% endif %}

                                {% endif %}
                                {% if entity.image.authorName %}
                                    {{ entity.image.authorName }}
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}

                <p class="highlight-text">
                    {{ entity.announce|raw }}
                </p>

                {{ entity.body|raw }}

                {% if entity.source %}
                    <div class="source">{{ entity.source|replace({"РИА «Новости»": '<a target="_blank" href="http://ria.ru/">РИА «Новости»</a>'})|raw }}</div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_blocks%}
    &nbsp;
{% endblock %}

{% block main_footer%}
    <div class="w" id="footer">
        <table class="print-footer-table">
            <tr>
                <td class="footer-logo">
                    <a href="http://mkrf.ru/" target="_blank"><img src="{{ asset('/img/print-footer-logo.png') }}" alt="logo" />
                    {{ 'Ministry of Culture'|trans }}<br />{{ 'Russian Federation'|trans }}</a>
                </td>
                <td class="footer-copy">
                    <p>{{ 'Copyright'|trans }}</p>
                </td>
            </tr>
        </table>
        <div >
            
        </div>
    </div>
{% endblock %}

