{% extends ':Frontend:layout_two_column.html.twig' %}

{% block title %}{{ entity.seoTitle|default(entity.title) }} &mdash; {{ parent() }}{% endblock %}
{% block meta_keywords %}{{ entity.seoKeywords }}{% endblock %}
{% block meta_description %}{{ entity.seoDescription }}{% endblock %}

{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block page_header_title %}{{ entity.category.title }}{% endblock %}

{% block page_header_search %}
    <div class="search-dates">
        {#<span class="search-dates-label">Период:</span>#}

        {#<div class="dates-chooser">#}
            {#<a id="first-date" href="#">05.12.2011</a> <i class="dates-arrow">→</i> <a href="#" id="last-date">01.01.2012</a>#}

            {#<div id="datapicker"></div>#}
        {#</div>#}
        {#<a href="#" class="button search-dates-button">Показать</a>#}
    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>Искать в текущем разделе</span></label>
    </div>
{% endblock %}

{% block left_column %}
<article class="event-one clearfix">
    <div class="event-one_top">
        <span class="date">{{ armd_news.news_date(entity.newsDate) }} / {{ entity.newsDate|date('H:i') }} </span>
        {% if entity.source is not empty %}| {{ entity.source }}{% endif %}
    </div>
    <h2>
        {% if entity.date %}
            {{ entity.date|date('d.m.Y') }}
            {% if entity.endDate %} - {{ entity.endDate|date('d.m.Y') }}{% endif %}
        {% endif %}

        {{ entity.title|raw }}
    </h2>

    {% if entity.image %}
        <figure class="event-one_image image-left">
            <img src="{% path entity.image, 'eventsBillboard' %}" alt="{{ entity.image.description }}">
            {#{% thumbnail entity.image, 'eventsBillboard' with {'alt': entity.image.description } %}#}
            {% if entity.image.copyright or entity.image.authorName %}
                <figcaption>
                    <p>
                        {% if entity.image.copyright %}
                            {{ entity.image.copyright }}{% if entity.image.authorName %},{% endif %}
                        {% endif %}
                        {% if entity.image.authorName %}
                            {{ entity.image.authorName }}
                        {% endif %}
                    </p>
                </figcaption>
            {% endif %}
        </figure>
    {% endif %}

    <div class="event-one_anons">
        <p>
            {{ entity.announce|raw }}
        </p>
    </div>
    {{ entity.body|raw }}
</article>

{% if entity.stuff.count %}
<div>
    <div>
        <strong>{{"Stuff"|trans}}</strong>
    </div>
    {% for stuff in entity.stuff %}
        <div class="stuff">
            <img src="/img/file_icons/32px/{{ stuff.extension }}.png" width="16" height="16" class="file-icon" />

            <a href="{{ armd_media_original_url(stuff) }}">{{ stuff.name }}</a>

            {% if stuff.extension == "mpga" %}
            —

            <span id="jp_container_{{ stuff.id }}" class="jp-audio">
                <span class="jp-type-single">
                    <span class="jp-gui jp-interface">
                        <span class="jp-current-time"></span>/<span class="jp-duration"></span>
                        (
                        <ul class="jp-controls">
                            <li><a href="#" class="jp-play" tabindex="1">{{"play"|trans}}</a></li>
                            <li><a href="#" class="jp-pause" tabindex="1">{{"pause"|trans}}</a></li>
                            <li>| <a href="#" class="jp-stop" tabindex="1">{{"stop"|trans}}</a></li>
                        </ul>
                        )
                    </span>
                </span>
            </span>

            <div id="jquery_jplayer_{{ stuff.id }}" class="jp-player" data-media-url="{% path stuff, 'original' %}"></div>
            {% endif %}

        </div>
    {% endfor %}
</div>
{% endif %}


<div class="back-link"><p><a href="{{ path('armd_news_list_index_by_category', { 'category': entity.category.slug }) }}">{{ "Back"|trans }}</a></p></div>
<div class="event-one_footer clearfix">
    <div href="#" class="print-link"><a target="_blank" href="{{ path('armd_news_item_by_category_print', { 'category':entity.category.slug, 'id':entity.id }) }}"></a> {{ "Printversion"|trans }}: </div>
    <div href="#" class="publish-links">{{ "Publish to Social networks"|trans }}: <span id="yandex-share"></span></div>
</div>

<section class="block">
    {% render url("armd_news_read_also_news", { "id":entity.id, "limit":2 }) %}
</section>

{% endblock %}

{% block right_column %}
    {% render url('armd_news_memorial_events') %}

    {% render url('armd_atlas_related_objects', {'tags': entity.tags|extract_array_values('getName'), 'limit': 1}) %}

    {% if app.request.locale == 'ru' %}
        <div class="right-video-block">
            {% render url('armd_lecture_related_lectures', {'tags': entity.tags|extract_array_values('getName'), 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}

            {% render url('armd_lecture_related_lectures', {'tags': entity.tags|extract_array_values('getName'), 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
        </div>
    {% endif %}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .stuff .file-icon {
            vertical-align: baseline;
        }

        .stuff .jp-audio ul, .stuff .jp-audio li {
            display: inline;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".jp-player").each(function() {
                $(this).jPlayer({
                    ready: function(event) {
                        $(this).jPlayer("setMedia", {
                            mp3: $(this).attr('data-media-url')
                        });
                    },
                    play: function() { // To avoid both jPlayers playing together.
                        $(this).jPlayer("pauseOthers");
                    },
                    {# Возможно, тут лучше пронать через PHP путь как-то, но assets по смыслу кажется не тем инструментом. #}
                    swfPath: "/vendor/jquery.jplayer/",
                    cssSelectorAncestor: "#jp_container_" + $(this).attr('id').replace('jquery_jplayer_', ''),
                    supplied: "mp3"
                });
            });
        });
    </script>

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            new Ya.share({
                element:'yandex-share',
                elementStyle:{
                    'type':'none',
                    'border':false,
                    'quickServices':['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                {% if entity.image %}
                    image:'{% path entity.image, 'billboard' %}',
                {% endif %}
                link:'{{ url('armd_news_item_by_category', { 'id': entity.id, 'category': entity.category.slug }) }}',
                title:'{{ entity.title }}',
                description:'{{ entity.announce|replace({"\n":'',"\r":''})|striptags }}'
            });

            $('#search-form').bind('submit', function(event) {
                if ($('#search-this-section').prop('checked')) {
                    event.preventDefault();
                    window.location = Routing.generate('armd_news_list_index', {'search_query': $('#search-txt').val()})
                }
            });
        });
    </script>

{% endblock %}

{#----- this is from old design ------#}
{% block nonexistant %}
<div class="news-one text">
    {#<span class="news-one-type">{{ 'News'|trans }}</span> #}
	<span class="news-one-date">
        {{ armd_news.news_date(entity.newsDate) }}
    </span>
    <h1>
        {% if entity.date %}
            {{ entity.date|date('d.m.Y') }}
            {% if entity.endDate %} - {{ entity.endDate|date('d.m.Y') }}{% endif %}
        {% endif %}
        {{ entity.title|raw }}
    </h1>

	{% if entity.image %}
		<div class="news-one-image">
			{% thumbnail entity.image, 'billboard' with {'alt': entity.image.description } %}
			{% if entity.image.copyright or entity.image.authorName %}
				<p class="image-source">
					{% if entity.image.copyright %}
						{{ entity.image.copyright }}{% if entity.image.authorName %},{% endif %}
					{% endif %}
					{% if entity.image.authorName %}
						{{ entity.image.authorName }}
					{% endif %}
				</p>
            {% endif %}
		</div>
    {% endif %}

	{% if entity.video %}
		<div class="news-one-image">
            {{ armd_tvigle_video_player(entity.video, 366, 261)|raw }}
		</div>
    {% endif %}

    {% if entity.mediaVideo %}
        <div class="news-one-image">
            {% media entity.mediaVideo, 'noformat' with {'width': '366', 'height': '261'} %}
        </div>
    {% endif %}

	<p class="highlight-text">
		{{ entity.announce|raw }}
	</p>
    {{ entity.body|raw }}
	{% if entity.source %}
    	<div class="source">{{ entity.source|replace({"РИА «Новости»": '<a target="_blank" href="http://ria.ru/">РИА «Новости»</a>'})|raw }}</div>
	{% endif %}


	{% if entity.gallery|length > 0 %}

		<div class="photo-gallery">
            <h3>{{entity.gallery.name}}</h3>
            <div id="slider" class="flexslider">
				<ul class="slides">
					{% for gal_img in entity.gallery.galleryHasMedias %}
						<li>
							<a class="in-fancybox flexslider-image" rel="gallery" name="leaf" title="{{gal_img.media.name}}" href="{% path gal_img.media, 'reference' %}" data-fancy-image="{% path gal_img.media, 'reference' %}">
                                <img src="{% path gal_img.media, 'big' %}" />
								<span>{{gal_img.media.name}}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="nav-wrap">
				<div class="nav">
					<div id="carousel" class="flexslider ">
					  <ul class="slides">
						{% for gal_img in entity.gallery.galleryHasMedias %}
							<li>
								<img src="{% path gal_img.media, 'thumbnail' %}" />
							</li>
						{% endfor %}
					  </ul>
					</div>
				</div>
			</div>
        </div>


		{% endif %}

    <div class="clear"></div>


    {#<div class="yashare-auto-init" data-yashareType="icon" data-yashareQuickServices="vkontakte,lj,twitter,|,facebook,odnoklassniki"></div>#}

	<div class="news-one-footer clearfix">
		
	
	
		<div class="share" >
			<span id="yandex_share"></span>
			{#<form target="_blank" method="post" action="http://www.livejournal.com/update.bml" id="socialnetwork">#}


				{#{% set share_url = url('armd_news_item_by_category', { 'id': entity.id, 'category': entity.category.slug }) %}#}

				{#&#123;&#35; vkontakte &#35;&#125;#}
				{#<a style="background-position:0 0;" href="http://vkontakte.ru/share.php?url={{ share_url }}&amp;title={{ entity.title }}&amp;description={{ entity.announce }}&image=http://roskult.ru/img/logo.png" target="_blank"></a>#}

				{#&#123;&#35; livejournal &#35;&#125;#}
				{#<a onclick="$(this).parent().submit(); return false;" style="background-position:-32px 0;" href="http://www.livejournal.com/update.bml?event={{ share_url }}&subject={{ entity.title }}%3C%2Fa%3E" target="_blank"></a>#}

				{#&#123;&#35; twitter &#35;&#125;#}
				{#<a style="background-position:-48px 0;" href="http://twitter.com/intent/tweet?text={{ entity.title }}&url={{ share_url }}" target="_blank"></a>#}

				{#<input type="hidden" name="subject" value="{{ entity.title }}">#}
				{#<textarea name="event" style="display:none">#}
					{#<div style="padding:20px; margin:10px;">#}
						{#<span style="font-size:12px; color:#8e8e8e; display:block;">{{ f.date|date('d') }} {{ ('calendar.full.'~f.date|date('M'))|trans }} / {{ f.date|date('Y') }}</span><h1 style="font-size:27px; line-height:29px; font-weight:normal; margin:10px 0 15px;">{{ entity.title }}</h3>{{ entity.announce|raw }}#}
						{#<a href="{{ share_url }}">Подробнее</a>#}
					{#</div>#}
				{#</textarea>#}

				{#<a style="background-position:-64px 0;" href="http://www.facebook.com/sharer.php?u={{ share_url }}&t={{ entity.title }}&src=sp" target="_blank"></a>#}

				{#&#123;&#35; odnoklassniki &#35;&#125;#}
				{#<a style="background-position:-16px 0;" href='http://www.odnoklassniki.ru/dk?st.cmd=addShare&amp;st._surl={{ share_url }}' target='_blank'></a>#}

			{#</form>#}
			{#<!-- AddThis Button BEGIN #}
			{#<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float:right;">#}
			{#<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ffaefe0133401dc"></script>#}
			{#<a id="blog-post-{{ entity.id }}" class="addthis_button_preferred_1"></a>#}
			{#<script type="text/javascript">#}
			{#addthis.button('#blog-post-{{ entity.id }}', {}, {url: '{{ url('cp_show', { 'id': entity.id }) }}', title: '{{ entity.title }}'});#}
			{#</script>#}
			{#</div>#}
			{#AddThis Button END -->#}

		</div>


		{% if thread is not empty %}
		   <div class="comments">
			   {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': thread.id} %}
			</div>
		{% endif %}
		<!-- /commetns-list-->
		

	
	<div class="print-link">
		<a href="{{ path('armd_news_item_by_category_print', { 'category':entity.category.slug, 'id':entity.id }) }}" target="_blank">{{ 'Printversion'|trans }}</a>
		<p style="font-size:15px; color:#f90;">&larr; <a style="color:#f90;" href="{{ path('armd_news_list_index_by_category', { 'category': entity.category.slug }) }}">{{ 'Back'|trans }}</a><p>
	</div>
</div>
</div>

    <!-- Read also -->
    {% render url("armd_news_read_also_news", { "id":entity.id, "limit":4 }) %}
    <!-- /Read also -->

{% endblock %}

{#----- /this is from old design ------#}
