{% extends '::base.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block body %}
    <div class="container">
        <div class="col-left">
            <form id="news-map-filter" class="filter-form" action="{{ path('armd_news_filter') }}">
                <fieldset>
                    <legend>Найти адрес</legend>
                    <div class="geocoder-search">
                        <input type="text" class="ss-input" id="ss_input" />
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Тип события</legend>
                    <ul>
                        {% for category in categories %}
                            <li><label><input type="checkbox" name="f[category][]" value="{{ category.id }}"/><span>{{ category.title }}</span></label></li>
                        {% endfor %}
                    </ul>
                </fieldset>

                <fieldset>
                    <legend>Диапазон дат</legend>
                    <div class="date-range">
                        <label>с <input id="date-from" type="text" name="f[date_from]" value="{{ dateFrom }}"/></label>
                        <label>по <input id="date-to" type="text" name="f[date_to]" value="{{ dateTo }}"/></label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Показать картинками</legend>
                    <div>
                        <label for="show-images">
                            <input type="hidden" name="f[show_images]" value="0"/>
                            <input id="show-images" type="checkbox" name="f[show_images]" value="1"/>
                            <span>Отобразить</span>
                        </label>
                    </div>
                </fieldset>

                <div><button type="submit">Показать</button></div>
            </form>
        </div>
        <div class="col-right">
            <div id="map" class="map-outer"></div>

            {% if lastNews %}
                <div class="last-news">
                    <ul>
                        {% for entity in lastNews %}
                            <li>
                                {% if entity.image %}
                                    <div class="image">
                                        <a href="{{ path('armd_news_item_by_category', { category:entity.category.slug, id:entity.id }) }}">
                                            <img src="{% path entity.image, 'thumbnail' %}" />
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <div class="caption">
                                        <a href="{{ path('armd_news_item_by_category', { category:entity.category.slug, id:entity.id }) }}">
                                            {{ entity.title|raw }}
                                        </a>
                                    </div>
                                    <div class="text">{{ entity.announce|raw }}</div>
                                    <div class="date">
                                        Дата:
                                        {{ entity.date|date('d.m.Y') }}
                                        {% if entity.endDate %}&mdash;&nbsp;{{ entity.endDate|date('d.m.Y') }}{% endif %}
                                    </div>
                                    <div class="category">
                                        Категория:
                                        {{ entity.category.title }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- /Асинхронная загрузка jsapi -->
    <div id="script_block" class="script_block"></div>
    <div id="script_ad" class="script_ad" style="display:none;">
        <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.8"></script>
        {#<script type="text/javascript" charset="utf-8" src="http://jsapi.murzina.jsdev.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.8"></script>#}
    </div>
    <script type="text/javascript">
        document.getElementById('script_block').appendChild(document.getElementById('script_ad'));
        document.getElementById('script_ad').style.display = 'block';
    </script>
    <!-- /Асинхронная загрузка jsapi -->
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.8.21.custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdatlas/js/ivaynberg-select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdnews/css/news_map.css') }}">
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/libs/jquery-ui-1.8.22.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdatlas/js/ivaynberg-select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/news_map.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            AT.init({
                map: 'map',
                center: [84.967319,60.329728],
                zoom: 3,
                fetchMarkerDetailUri:  '{{ path('armd_news_map_balloon') }}',
                {#
                fetchMarkersUri:       '{{ path('armd_atlas_default_filter') }}',
                fetchClusterDetailUri: '{{ path('armd_atlas_default_clusterballoon') }}',
                fetchMyObjectsUri:     '{{ path('armd_atlas_default_objectsmy') }}',
                deleteMyObjectsUri:    '{{ path('armd_atlas_default_objectsmydelete') }}',
                imageUploadUri:        '{{ path('armd_atlas_default_objectsmyupload') }}',
                bundleImagesUri:       '{{ asset('bundles/armdatlas/images') }}',
                #}
                locale:                '{{ app.request.locale }}'
            });
        });
    </script>
{% endblock %}
