{% extends ':Frontend:layout_one_column.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block page_header_title %}
    {{ "newsmap.events_on_map"|trans }}
{% endblock %}

{% block page_header_search %}
    <div class="search-category">
        <form id="news-map-filter" class="filter-form" action="{{ path('armd_news_filter') }}">
            <div class="search-dates">
                <span class="search-dates-label">{{ "Period"|trans }}:</span>
                <div class="dates-chooser">
                    <a id="first-date" href="#">{{ dateFrom }}</a> <i class="dates-arrow">→</i>
                    <a href="#" id="last-date">{{ dateTo }}</a>
                    <div id="datapicker"></div>
                    <input id="date-from" type="hidden" name="f[date_from]" value="{{ dateFrom }}"/>
                    <input id="date-to" type="hidden" name="f[date_to]" value="{{ dateTo }}"/>
                </div>
            </div>
            <div class="search-category-selects">
                {% for category in categories %}
                    <input type="hidden" name="f[category][]" value="{{ category.id }}"/>
                {% endfor %}
                <select id="form_theme" name="f[theme][]" class="uni">
                    <option value="">{{ "All themes"|trans }}</option>
                    {% for theme in themes %}
                        <option value="{{ theme.id }}">{{ theme.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button search-dates-button">{{ "Show"|trans }}</button>
        </form>
    </div>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block one_column %}
    <div class="col-left">
        <div class="atlas-map">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
            <div id="map"></div>
            <div id="regions-selector" class="regions-selector">
                <select data-placeholder="{{ "atlas.choose_region"|trans }}" class="chzn-select">
                    <option></option>
                    {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="simple-search">
                <input type="text" class="ss-input" id="ss_input" placeholder="{{ "newsmap.find_address"|trans }}"/>
            </div>
            <div id="ajax-loading" class="ajax-loading"></div>
        </div>
    </div>

    <!-- Асинхронная загрузка jsapi -->
    <div id="script_block" class="script_block"></div>
    <div id="script_ad" class="script_ad" style="display:none;">
        <script type="text/javascript" charset="utf-8" src="http://js.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.8"></script>
        {#<script type="text/javascript" charset="utf-8" src="http://jsapi.murzina.jsdev.tmcrussia.com/?{{ progorod_api_key }}&version=0.1.8"></script>#}
    </div>
    <script type="text/javascript">
        document.getElementById('script_block').appendChild(document.getElementById('script_ad'));
        document.getElementById('script_ad').style.display = 'block';
    </script>
    <!-- /Асинхронная загрузка jsapi -->
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/chosen/chosen.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/armdnews/css/news_map.css') }}">
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/chosen/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/armdnews/js/news_map.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            AT.init({
                map: 'map',
                center: [55,56],
                zoom: 4,
                fetchMarkerDetailUri:  '{{ path('armd_news_map_balloon') }}',
                locale:                '{{ app.request.locale }}'
            });
            AT.submitFiltersForm();

            $("#datapicker").datepicker('onSelect', function (dateText, inst) {
                console.log('xxx', dateText);
            });

        });
    </script>
{% endblock %}
