{% extends ':Frontend:new_base.html.twig' %}
{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_news %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/armdonlinetranslation/css/broadcast.css') }}" />
{% endblock %}

{% block title %}{{ 'OnlineTranslation'|trans }}{% endblock %}

{% block body %}
    <div class="b-main-wrap b-post">
        <h1 class="b-left-title">
            {{ 'OnlineTranslation'|trans }}
        </h1>

        <div class="marginTop100">
            {% if entity %}
                <div class="header-text-medium marginBottom10">
                    {{ entity.title }}
                </div>

                {% if entity.type == constant('Armd\\OnlineTranslationBundle\\Entity\\OnlineTranslation::STATUS_LIVE') %}
                    {{ entity.dataCode|raw }}
                {% else %}
                    {% thumbnail entity.image, 'reference' with { 'width': '100%', 'height': 'auto' } %}
                {% endif %}

                <p>{{ entity.shortDescription }}</p>

                <div class="broadcast-fancyBlock">
                    <div class="timer-block">
                        {% if entity.type == constant('Armd\\OnlineTranslationBundle\\Entity\\OnlineTranslation::STATUS_ANNOUNCE') %}
                            <h3>{{ 'Mainpage.TimeTillStart'|trans }}:</h3>
                            <span id="countdown"></span>
                            <br />
                            <a id="broadcast-reminder-link" href="#broadcast_notification_form">{{ 'Mainpage.Remind'|trans }}</a>

                            {% include "ArmdOnlineTranslationBundle:Default:countdownTimerJavascript.html.twig" %}
                            {% include "ArmdOnlineTranslationBundle:Default:reminderForm.html.twig" %}
                        {% endif %}
                    </div>
                    <div class="info-block">
                        <span class="title">{{ 'BroadcastStart'|trans }}:</span>
                        <span class="text">{{ armd_news.news_date_short_with_day(entity.date) }} / {{ entity.date|date('H:i') }}</span>
                        <hr />
                        <span class="title">{{ 'BroadcastPlace'|trans }}:</span>
                        <span class="text">{{ entity.location }}</span>
                    </div>
                </div>

                <div class="broadcast-entity-description">
                    {{ entity.fullDescription|raw }}
                </div>

                <div class="b-share-buttons">
                    <span class="small-title m-first">{{ 'Entity.SocialShare'|trans }}:</span>
                    <span id="yandex-share"></span>
                </div>
            {% else %}
                {{ 'NoBroadcastsAnnounces'|trans }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% render url('armd_news_sidebar_index_widget') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('js/damedia/simpleSlider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/damedia/share.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            /* Sidebar slider widget */
            $.each($('div.sidebar-movies-widget-switcher'), function(){
                DamediaSimpleSlider.init($(this),{
                    next: '{{ 'Sidebar.LinkedContent.Next'|trans }}'
                });
            });

            {% if entity %}
                DamediaShare.init({
                    locale: '{{ app.request.locale }}',
                    link: '{{ url('view_blog', { 'id': entity.id }) }}',
                    title: '{{ entity.title }}',
                    description: '{{ entity.shortDescription|replace({"\n":'',"\r":''})|striptags|slice(0, 500) ~ '...' }}'
                });
            {% endif %}
        });
    </script>
{% endblock %}