{% macro lectureThumbnail(entity, format, attributes) %}
    {% if entity.lectureVideo.imageMedia is defined %}
        {% set thumbnailMedia = entity.lectureVideo.imageMedia %}
    {% elseif entity.mediaLectureVideo is not empty %}
        {% set thumbnailMedia = entity.mediaLectureVideo %}
    {% else %}
        {% set thumbnailMedia = null %}
    {% endif %}

    {% set attributesActual = {'alt': entity.title} %}
    {% if attributes is iterable %}
        {% set attributesActual = attributesActual|merge(attributes) %}
    {% endif %}

    {% if thumbnailMedia is not null %}
        {% thumbnail thumbnailMedia, format with attributesActual %}
        {#<img alt="{{ entity.title }}" src="{% path thumbnailMedia, 'searchAllResult' %}"/>#}
    {% endif %}
{% endmacro %}

{% macro lectureSuperTypeLink(lectureSuperType, title) %}
    {% if title is empty %}
        {% set title = lectureSuperType.name %}
    {% endif %}

    {% if lectureSuperType.code is sameas('LECTURE_SUPER_TYPE_CINEMA') %}
        <a href="{{ path('armd_lecture_cinema_index') }}">{{ title }}</a>
    {% elseif lectureSuperType.code is sameas('LECTURE_SUPER_TYPE_LECTURE') %}
        <a href="{{ path('armd_lecture_lecture_index') }}">{{ title }}</a>
    {% else %}
        {{ title }}
    {% endif %}
{% endmacro %}