<div class="lk-form login-popup">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        {% render url('armd_social_auth_auth_links', {'redirectUrl': path('armd_main_homepage') }) %}

        <div class="separator">
            <div class="separator-inner">
                {{ 'auth_or'|trans }}
            </div>
        </div>

        <div class="auth-form-fields">
            {% if error %}
                <div class="error">
                    {{ error|trans({}, 'FOSUserBundle') }}
                </div>
            {% endif %}
            <p>
                <label for="fos_user_registration_form_username-popup">
                    {{ 'auth_login_label'|trans }}
                </label>
                <input type="text" id="username-popup" name="_username" value="{{ last_username }}" />
            </p>
            <p>
                <label for="password-popup">
                    {{ 'auth_password_label'|trans }}
                </label>
                <input type="password" id="password-popup" name="_password" />
            </p>
            <p class="textAlignRight">
                <label for="remember_me-popup">
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
                <input type="checkbox" id="remember_me-popup" name="_remember_me" value="on" />
            </p>
            <p class="textAlignCenter paddingTop10Bottom5">
                <button type="submit" id="_submit" name="_submit">
                    {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                </button>
                {{ 'auth_or'|trans }}
                <a href="{{ path('fos_user_registration_register') }}">
                    {{ "auth_register"|trans }}
                </a>
            </p>
            <p class="textAlignCenter">
                <a href="{{ path('fos_user_resetting_request') }}">
                    {{ 'auth_forgot_password'|trans }}
                </a>
            </p>
        </div>
    </form>
</div>