{% extends ':Frontend:base.html.twig' %}

{% block page_header_title %}Авторизация{% endblock %}

{% block body %}

    <div class="login-page lk form">

        {% if error %}
            <p class="error">{{ error|trans({}, 'FOSUserBundle') }}</p>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div>
                <label
                        for="fos_user_registration_form_username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="fos_user_registration_form_username" name="_username"
                           value="{{ last_username }}"/>
            </div>
            <div>
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password"/>
            </div>

            <p>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            </p>

            <p>
                <input type="submit" id="_submit" name="_submit"
                      value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
            </p>

            {% render url('armd_social_auth_auth_links', {'redirectUrl': path('sonata_user_profile_edit') }) %}
        </form>

    </div>

{% endblock %}