{% macro getSettings(containers) %}
    {% import 'ArmdAdminBundle:macro:table.html.twig' as table %}
    {% import 'ArmdAdminBundle:macro:common.html.twig' as common %}
    {% import 'ArmdAdminBundle:macro:tabs.html.twig' as tabs %}

	{# other_cr_logo #}
    {% set other_cr_logo %}
        {{ table.create({'title': 'other_cr_logo', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_cr_search #}
    {% set other_cr_search %}
        {{ table.create({'title': 'other_cr_search', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_cr_menu #}
    {% set other_cr_menu %}
        {{ table.create({'title': 'other_cr_menu', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_cr_content_top #}
    {% set other_cr_content_top %}
        {{ table.create({'title': 'other_cr_content_top', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_cr_header_bottom #}
    {% set other_cr_header_bottom %}
        {{ table.create({'title': 'other_cr_header_bottom', 'colspan': 3}, containers) }}
    {% endset %}
	
	{# other_cr_right #}
    {% set other_cr_right %}
        {{ table.create({'title': 'other_cr_right', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_cr_content #}
    {% set other_cr_content %}
        {{ table.create({'title': 'other_cr_content', 'colspan': 3}, containers) }}
    {% endset %}
	
    {# other_cr_footer_left #}
    {% set other_cr_footer_left %}
        {{ table.create({'title': 'other_cr_footer_left', 'colspan': 3}, containers) }}
    {% endset %}
    
    {# other_cr_footer_right #}
    {% set other_cr_footer_right %}
        {{ table.create({'title': 'other_cr_footer_right', 'colspan': 3}, containers) }}
    {% endset %}

    <div class="tab-content-blocks">
        {{ common.block(other_cr_logo, {'class': 'block-half'}) }}
        {{ common.block(other_cr_search, {'class': 'block-half'}) }}
        {{ common.block(other_cr_menu, {'class': 'block-full'}) }}
        {{ common.block(other_cr_content_top, {'class': 'block-full'}) }}
		{{ common.block(other_cr_header_bottom, {'class': 'block-full'}) }}
        {{ common.block(other_cr_content, {'class': 'block-half'}) }}
		{{ common.block(other_cr_right, {'class': 'block-half'}) }}
        {{ common.block(other_cr_footer_left, {'class': 'block-half'}) }}
        {{ common.block(other_cr_footer_right, {'class': 'block-half'}) }}
    </div>
{% endmacro %}