{#<a href="{{ cmsPath('armd_news', 'listitem') }}">Новости</a>#}

{% include 'ArmdMkResourcesBundle::nav-sections.html.twig' %}

<div class="date date-0"><span>{{ entity.date|date("d M / Y") }}</span></div>

<h1>{{ entity.title }}</h1>

{#<p class="item-dfn">Снежное шоу Славы Полунина состоялось в Театре Сац с 26 января по 02 февраля 2012 года.</p>#}

<p style="float: right; ">{% thumbnail entity.image, 'big' with {'class': 'item-pic-right'} %}</p>

{{ entity.body|raw }}

<p class="news-item-source">{{ entity.source }}</p>

{% include 'ArmdMkResourcesBundle::socials-box.html.twig' %}

{#
<div class="box-title">Связанный материал</div>

<div class="proh-wrap"><ul class="plain-list inline-list see-also-list">
    <li>
        <a class="see-also-list-item" href="#null">
            <span class="see-also-list-title">Театр<br>им. Н.И. Сац</span>
            <span class="see-also-list-img"><img width="185" height="135" title="pic9" alt="pic9" src="{{ asset('bundles/armdmkresources/upload/pic9.jpg') }}"></span>
            <span class="see-also-list-brd"></span><span class="see-also-list-bg"></span>
            <span class="see-also-list-txt">Театр носит имя основателя выдающегося деятеля российской советской культуры Наталии Ильиничны Сац. Открыт в 1965 году...</span>
        </a>
        <nav class="nav-tags"><ul>
            <li class="first"><a href="#null">Искусства</a></li>
            <li class="nav-tag-feat"><a href="#null">Театры</a></li>
        </ul></nav>
    </li>
    <li>
        <a class="see-also-list-item" href="#null">
            <span class="see-also-list-title">Вячеслав<br>Полунин</span>
            <span class="see-also-list-img"><img width="185" height="135" title="pic10" alt="pic10" src="{{ asset('bundles/armdmkresources/upload/pic10.jpg') }}"></span>
            <span class="see-also-list-brd"></span><span class="see-also-list-bg"></span>
            <span class="see-also-list-txt">Актёр-мим, клоун, автор и постановщик клоунских номеров, реприз, масок, героев, спектаклей...</span>
        </a>
        <nav class="nav-tags"><ul>
            <li class="first"><a href="#null">Искусства</a></li>
            <li class="nav-tag-feat"><a href="#null">Театры</a></li>
        </ul></nav>
    </li>
    <li>
        <a class="see-also-list-item" href="#null">
            <span class="see-also-list-title"><br>Асисяй</span>
            <span class="see-also-list-img"><img width="185" height="135" title="pic11" alt="pic11" src="{{ asset('bundles/armdmkresources/upload/pic11.jpg') }}"></span>
            <span class="see-also-list-brd"></span><span class="see-also-list-bg"></span>
            <span class="see-also-list-txt">Фрагмент из выступления Славы Полунина в его Снежном шоу...</span>
        </a>
        <nav class="nav-tags"><ul>
            <li class="first"><a href="#null">Искусства</a></li>
            <li class="nav-tag-feat"><a href="#null">Театры</a></li>
        </ul></nav>
    </li>
</ul></div>
#}