<div class="map-point-descr">
    <h2>{{ entity.title }}</h2>
    <table>
        <tbody>
            <tr>
                <th>Сайт:</th>
                <td><a href="http://{{ entity.site }}" target="_blank">{{ entity.site }}</a></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
            </tr>
            <tr>
                <th>Телефон:</th>
                <td>{{ entity.phone }}</td>
            </tr>
        </tbody>
    </table>
</div>







