<table width="100%">
    <tr valign="top">
        <td width="300">
            <table>
                <tr>
                    <td>{% thumbnail entity.logo, 'small' %}</td>
                    <td>
                        <h3>{{ entity.title }}</h3>
                        <div>
                            {{ entity.announce }}
                            <a class="balloon-readmore" href="#details" onclick="loadRegion();">Читать&nbsp;подробнее</a>
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Столица:</th>
                    <td>{{ entity.administrativeCenter }}</td>
                </tr>
                <tr>
                    <th>Государственный язык:</th>
                    <td>{{ entity.language }}</td>
                </tr>
                <tr>
                    <th>Площадь:</th>
                    <td>{{ entity.square }}</td>
                </tr>
                <tr>
                    <th>Народности:</th>
                    <td>{{ entity.nationality }}</td>
                </tr>
                <tr>
                    <th>Количество городов:</th>
                    <td>{{ entity.cityCount }}</td>
                </tr>
            </table>
        </td>
        <td>
            {{ entity.gallery }}
            <img width="200" src="http://farm8.staticflickr.com/7168/6441730469_80a5f1d821_z.jpg" alt=""/>
        </td>
    </tr>
</table>
