<a name="details"></a>
<div class="subject-wrapper">
    <aside class="subject-cart">
        <div class="clear"></div>
        <!--<h2>Карточка региона (визуальное оформление в виде мини-карточки)</h2>-->
        <table class="properties">
            <tr>
                <th>Герб</th>
                <td><div class="properties-td-img">{% thumbnail entity.logo, 'reference' %}</div></td>
            </tr>
            <tr>
                <th>Площадь</th>
                <td>{{ entity.square }}</td>
            </tr>
            <tr>
                <th>Количество городов</th>
                <td>{{ entity.cityCount }}</td>
            </tr>
            <tr>
                <th>Количество других населенных пунктов</th>
                <td>{{ entity.villageCount }}</td>
            </tr>
            <tr>
                <th>Население (городское)</th>
                <td>{{ entity.cityPopulation }}</td>
            </tr>
            <tr>
                <th>Население (сельское)</th>
                <td>{{ entity.villagePopulation }}</td>
            </tr>
            <tr>
                <th>Административный центр</th>
                <td>{{ entity.administrativeCenter }}</td>
            </tr>
            <tr>
                <th>Народности</th>
                <td>{{ entity.nationality }}</td>
            </tr>
            <tr>
                <th>Языки</th>
                <td>{{ entity.language }}</td>
            </tr>
            <tr>
                <th>Религии</th>
                <td>{{ entity.religion }}</td>
            </tr>
        </table>

    </aside>
    <div class="subject-content">
        <div class="box-title box-title-subject">{{ entity.title }}222</div>
        <div class="subject-content-img">
           <!-- <img width="185" height="135" title="pic21" alt="pic21" src="{{ asset('bundles/armdmkresources/upload/pic21.jpg') }}"/>-->
        </div>
        <div class="subject-content-text">
            {{ entity.text|raw }}
        </div>
        <!--<div class="subject-culture">
            <ul class="subject-culture-ul">
                {% for object in objects %}
                <li>
                    {{ object.title }}
                </li>
                {% endfor %}
            </ul>
        </div>  -->  
    </div>
</div>

{% if entity.gallery %}
<h2>Фотогалерея &laquo;{{ entity.gallery.name }}&raquo;</h2>
<ul class="inline">
    {% for galleryHasMedia in entity.gallery.GalleryHasMedias %}
    <li>
        <a href="{% path galleryHasMedia.media, 'reference' %}">
            {% thumbnail galleryHasMedia.media, entity.gallery.defaultFormat %}
        </a>
    </li>
    {% endfor %}
</ul>
<style type="text/css">
    ul.inline{ background:#eee; margin:0; padding:0; list-style-type:none; }
    ul.inline li{ display:inline-block; }
</style>
{% endif %}
