        <div class="balloon-region-logo">{% thumbnail entity.logo, 'reference' %}</div>
        <div class="balloon-region-content">
            <h2>{{ entity.title }}</h2>
            {{ entity.announce }}
            <a class="balloon-readmore" href="{{ cmsPath('armd_culture_map', 'subject', { 'id':entity.id }) }}">Читать&nbsp;подробнее</a>
        </div>
        <table>
            <tbody>
                {% if entity.administrativeCenter %}
                <tr>
                    <th>Административный центр:</th>
                    <td>{{ entity.administrativeCenter }}</td>
                </tr>
                {% endif %}
                {% if entity.language %}
                <tr>
                    <th>Языки:</th>
                    <td>{{ entity.language }}</td>
                </tr>
                {% endif %}
                {% if entity.nationality %}
                <tr>
                    <th>Народности:</th>
                    <td>{{ entity.nationality }}</td>
                </tr>
                {% endif %}
                {% if entity.religion %} 
                <tr>
                    <th>Религии: </th>
                    <td>{{ entity.religion }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
