{% extends ':Frontend:layout_two_column.html.twig' %}

{% block pre_content %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('armd_main_homepage') }}">{{ 'menu.mainpage'|trans }}</a></li>
        <li><a href="{{ path('armd_museum_virtual') }}">{{ 'menu.museum'|trans }}</a></li>
        <li><a href="{{ path('armd_lesson_list') }}">{{ 'menu.museum_lesson'|trans }}</a></li>
        <li><span>{{ entity.title }}</span></li>
    </ul>
{% endblock %}

{% block left_column %}
    
	<div class="museum-education museum-education-one">
		<h2>
                    {{ entity.title }}
                        
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="user-favorites-button" title="Добавить в «Мои интересы»" href="#" data-type="{{ constant('Armd\\UserBundle\\Entity\\Favorites::TYPE_MUSEUM_LESSON') }}" data-id="{{ entity.id }}">
                            <img alt="*" src="{{ asset('img/favorites.png') }}" />
                        </a>
                    {% endif %}
                </h2>
		{% media entity.image, 'big' with {'alt': entity.title|escape, 'class' : 'edu-one-image'} %}
		<div class="edu-one-stats">
			<p><b>Дата проведения:</b> {{ entity.dates }}</p>
			{% if entity.time %}<p><b>Время проведения:</b> {{ entity.time }}</p>{% endif %}
			{% if entity.maxMembers %}<p><b>Максимальное количество участников:</b> {{ entity.maxMembers }}</p>{% endif %}
			{% if entity.place %}<p><b>Место проведения:</b> {{ entity.place }}</p>{% endif %}
			{% if entity.subjects|length > 0 %}<p><b>Предметы:</b> 
				{% for subject in entity.subjects %}
					{{ subject.title }}{% if not loop.last %}, {% endif %}
				{% endfor %}			
			</p>{% endif %}
			{% if entity.education %}<p><b>Образование:</b> {{ entity.education }}</p>{% endif %}
			{% if entity.age %}<p><b>Рекомендуемый возраст:</b> {{ entity.age }}</p>{% endif %}
			{% if entity.skills|length > 0 %}<p><b>Навыки:</b> 
				{% for skill in entity.skills %}
					{{ skill.title }}{% if not loop.last %}, {% endif %}
				{% endfor %}
			</p>{% endif %}
			{% if entity.format %}<p><b>Форма проведения:</b> {{ entity.format }}</p>{% endif %}
			{% if entity.url %}<p><b>Ссылка на сайт:</b> <a href="{{ entity.url }}" target="_blank">{{ entity.url }}</a></p>{% endif %}
			
		</div>
		<div class="edu-main-text">
			<div class="edu-main-anons">
				<p>{{ entity.announce|raw }}</p>
			</div>
			{{ entity.description|raw }}
            {{ add_viewed_content(entity, path('armd_lesson_item', {id: entity.id })) }}
		</div>
		<div class="back-link"><p><a href="javascript:history.back();">Назад</a></p></div>
		<div class="event-one_footer clearfix">
			<div class="print-link"><a href="{{ path('armd_lesson_item_print', {'id': entity.id }) }}" target="_blank"></a> Распечатать материал </div>
			<div class="publish-links"> Опубликовать в социальных сетях: <span id="yandex-share"></span></div>
		</div>
	</div>

        <div class="more-comments-show">
            <div id="comments" class="comments comments-gray clearfix">
                {% set comment_thread_id = app.request.locale ~ '_'~constant('Armd\\MkCommentBundle\\Model\\CommentInterface::SECTION_LESSON')~'_' ~ entity.id %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': comment_thread_id } %}

                {% if not is_granted('ROLE_USER') %}
                    <div class="comments-auth-block">
                        <p>{{ "comments_auth_require"|trans({ '%loginUrl%': path('fos_user_security_login', {'post_auth_redirect': app.request.uri }) })|raw }}</p>
                        {% render url('armd_social_auth_auth_links', { 'redirectUrl': app.request.uri }) %}
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}


{% block right_column %}
    <div style="height:25px; gont-size:0; line-height:0;"></div>
    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit':4, 'superTypeCode': 'LECTURE_SUPER_TYPE_CINEMA' }) %}
    </div>
    <div class="right-video-block">
        {% render url('armd_lecture_related_lectures', {'tags': {}, 'limit': 4, 'superTypeCode': 'LECTURE_SUPER_TYPE_LECTURE' }) %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript">

        $(function(){
			initSocialShare();
			armdMkLesson.init();
        });
            
        function initSocialShare() {
            new Ya.share({
                element: 'yandex-share',
                l10n:{% if app.request.locale == 'ru' %}'ru'{% else %}'en'{% endif %},
                elementStyle: {
                    'type': 'none',
                    'border': false,
                    'quickServices': ['vkontakte', 'lj', 'twitter', 'facebook', 'odnoklassniki']
                },
                link: '{{ url('armd_lesson_item', { 'id': entity.id }) }}',
                title: '{{ entity.title }}'
            });
        }
        
		var armdMkLesson = {
		
		    init: function() {
		        $('#search-form').bind('submit', function(event) {
		            if ($('#search-this-section').prop('checked')) {
		                event.preventDefault();
		                window.location = Routing.generate('armd_lesson_list', {
		                    'search_query': $('#search-txt').val()
		                })
		            }
		        });
		        
                $('body').on('click', '.ui-selectgroup-list[aria-labelledby="ui-lesson_museum"] a, .ui-selectgroup-list[aria-labelledby="ui-lesson_city"] a, .ui-selectgroup-list[aria-labelledby="ui-lesson_education"] a, .ui-selectgroup-list[aria-labelledby="ui-lesson_subject"] a, .ui-selectgroup-list[aria-labelledby="ui-lesson_skill"] a',
                    function (event) {
                        $('#museums-filter-form').submit();        
                });		        
		    }
		};   
		        
    </script>    
{% endblock %} 

{% block page_header_title %}
	Музейное образование
{% endblock %}

{% block page_header_search %}
    <div class="search-category">

        <form id="museums-filter-form" action="{{ path('armd_lesson_list') }}" method="get">
        	<span class="search-dates-label">{{ 'search.select'|trans }}</span>
        	
            <div class="search-category-selects search-category-selects-5">
                <select id="lesson_museum" name="lesson_museum" class="uni">
                    <option value="0">
                        {{ "Museum"|trans }}
                    </option>
                    {% for museum in museum_list %}
                        <option value="{{ museum.id }}" {% if museum.id == -1 %}selected="selected"{% endif %}>
                            {{ museum.title }}
                        </option>
                    {% endfor %}
                </select>
                
                <select id="lesson_city" name="lesson_city" class="uni">
                    <option value="0">
                        {{ "City"|trans }}
                    </option>
                    {% for city in city_list %}
                        <option value="{{ city.id }}" {% if city.id == -1 %}selected="selected"{% endif %}>
                            {{ city.title }}
                        </option>
                    {% endfor %}
                </select>
                
                <select id="lesson_education" name="lesson_education" class="uni">
                    <option value="0">
                        {{ "Education"|trans }}
                    </option>
                    {% for edu in education_list %}
                        <option value="{{ edu.id }}" {% if edu.id == -1 %}selected="selected"{% endif %}>
                            {{ edu.title }}
                        </option>
                    {% endfor %}
                </select> 
                
                <select id="lesson_subject" name="lesson_subject" class="uni">
                    <option value="0">
                        {{ "Subject"|trans }}
                    </option>
                    {% for subject in subject_list %}
                        <option value="{{ subject.id }}" {% if subject.id == -1 %}selected="selected"{% endif %}>
                            {{ subject.title }}
                        </option>
                    {% endfor %}
                </select> 

                <select id="lesson_skill" name="lesson_skill" class="uni">
                    <option value="0">
                        {{ "Skills"|trans }}
                    </option>
                    {% for skill in skill_list %}
                        <option value="{{ skill.id }}" {% if skill.id == -1 %}selected="selected"{% endif %}>
                            {{ skill.title }}
                        </option>
                    {% endfor %}
                </select>                               
                    
                          
            </div>
                   
        </form>

    </div>
{% endblock %}

{% block page_header_search_scope %}
    <div class="search-checkboxes">
        <label><input type="checkbox" name="search-this-section" id="search-this-section"/><span>{{"Search_current_section"|trans}}</span></label>
    </div>
{% endblock %}